/****** Object:  StoredProcedure [dbo].[usp_ProcessRestrictedCompanies2_E]    Script Date: 01/09/2013 18:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ProcessRestrictedCompanies2_E]
  @DIR CHAR(1)
AS 
BEGIN

	CREATE TABLE #TMP_STG_LANSUPD_C1 (BOL_ID INT)
	CREATE TABLE #TMP_STG_LANSUPD_C2 (BOL_ID INT)
	CREATE TABLE #TMP_STG_LANSUPD_C3 (BOL_ID INT)
	CREATE TABLE #TMP_STG_LANSUPD_C4 (BOL_ID INT)

INSERT INTO #TMP_STG_LANSUPD_C1
		SELECT BOL_ID FROM dbo.stgload_raw WHERE DIR=@DIR AND
		   (SUBSTRING(UPPER(CONSGN_DESC),CHARINDEX('<PL>',CONSGN_DESC) + 4,
      CHARINDEX('</PL>',CONSGN_DESC) - 5) LIKE '%LANSCO%' and
     (SUBSTRING(UPPER(CONSGN_DESC),CHARINDEX('<PL>',CONSGN_DESC) + 4,
      CHARINDEX('</PL>',CONSGN_DESC) - 5) NOT LIKE '%LANSCO DIE%' AND
      SUBSTRING(UPPER(CONSGN_DESC),CHARINDEX('<PL>',CONSGN_DESC) + 4,
      CHARINDEX('</PL>',CONSGN_DESC) - 5) NOT LIKE '%LANSCO IND%' AND
      SUBSTRING(UPPER(CONSGN_DESC),CHARINDEX('<PL>',CONSGN_DESC) + 4,
      CHARINDEX('</PL>',CONSGN_DESC) - 5) NOT LIKE '%LANSCOT%')) or
   (SUBSTRING(UPPER(CONSGN_DESC),CHARINDEX('<PL>',CONSGN_DESC) + 4,
    CHARINDEX('</PL>',CONSGN_DESC) - 5) LIKE '%LANDER%COL%' AND
     (SUBSTRING(UPPER(CONSGN_DESC),CHARINDEX('<PL>',CONSGN_DESC) + 4,
      CHARINDEX('</PL>',CONSGN_DESC) - 5) NOT LIKE '%GLANDER%')) or
    SUBSTRING(UPPER(CONSGN_DESC),CHARINDEX('<PL>',CONSGN_DESC) + 4,
      CHARINDEX('</PL>',CONSGN_DESC) - 5) LIKE '%INTERAMERICAN TRADING%' OR
    SUBSTRING(UPPER(CONSGN_DESC),CHARINDEX('<PL>',CONSGN_DESC) + 4,
      CHARINDEX('</PL>',CONSGN_DESC) - 5) LIKE '%JEDWARDS INTERNATI%' OR
    SUBSTRING(UPPER(CONSGN_DESC),CHARINDEX('<PL>',CONSGN_DESC) + 4,
      CHARINDEX('</PL>',CONSGN_DESC) - 5) LIKE '%JEDWARDS SPECIALTY%' OR
    SUBSTRING(UPPER(CONSGN_DESC),CHARINDEX('<PL>',CONSGN_DESC) + 4,
      CHARINDEX('</PL>',CONSGN_DESC) - 5) LIKE '%JEDWARDS INTL%' OR
    SUBSTRING(UPPER(CONSGN_DESC),CHARINDEX('<PL>',CONSGN_DESC) + 4,
      CHARINDEX('</PL>',CONSGN_DESC) - 5) LIKE '%TILDA RICELAND%' OR
    SUBSTRING(UPPER(CONSGN_DESC),CHARINDEX('<PL>',CONSGN_DESC) + 4,
      CHARINDEX('</PL>',CONSGN_DESC) - 5) LIKE 'HORIZON MILLING%' OR
    SUBSTRING(UPPER(CONSGN_DESC),CHARINDEX('<PL>',CONSGN_DESC) + 4,
      CHARINDEX('</PL>',CONSGN_DESC) - 5) LIKE 'TOSHOKU AMERICA%' OR
    SUBSTRING(UPPER(CONSGN_DESC),CHARINDEX('<PL>',CONSGN_DESC) + 4,
      CHARINDEX('</PL>',CONSGN_DESC) - 5) LIKE 'WILBUR CHOCOLATE%' OR
    SUBSTRING(UPPER(CONSGN_DESC),CHARINDEX('<PL>',CONSGN_DESC) + 4,
      CHARINDEX('</PL>',CONSGN_DESC) - 5) LIKE 'CARGILL %' OR
    SUBSTRING(UPPER(CONSGN_DESC),CHARINDEX('<PL>',CONSGN_DESC) + 4,
      CHARINDEX('</PL>',CONSGN_DESC) - 5) LIKE 'ULTIMA I%' OR
    SUBSTRING(UPPER(CONSGN_DESC),CHARINDEX('<PL>',CONSGN_DESC) + 4,
      CHARINDEX('</PL>',CONSGN_DESC) - 5) LIKE 'ULTIMA SA%' OR
    SUBSTRING(UPPER(CONSGN_DESC),CHARINDEX('<PL>',CONSGN_DESC) + 4,
      CHARINDEX('</PL>',CONSGN_DESC) - 5) LIKE '%ULTIMA 1, INC%' OR
    SUBSTRING(UPPER(CONSGN_DESC),CHARINDEX('<PL>',CONSGN_DESC) + 4,
      CHARINDEX('</PL>',CONSGN_DESC) - 5) LIKE '%AIR SERVICES INTL%' OR
    SUBSTRING(UPPER(CONSGN_DESC),CHARINDEX('<PL>',CONSGN_DESC) + 4,
      CHARINDEX('</PL>',CONSGN_DESC) - 5) LIKE 'SUNTRADE IMPORTS%' OR
    SUBSTRING(UPPER(CONSGN_DESC),CHARINDEX('<PL>',CONSGN_DESC) + 4,
      CHARINDEX('</PL>',CONSGN_DESC) - 5) LIKE '%SUNTRADE IMPORTS%INTERCHANGE CIRCLE%';
	    
		INSERT INTO #TMP_STG_LANSUPD_C2
		SELECT BOL_ID FROM dbo.stgload_raw WHERE DIR=@DIR AND
		    (SUBSTRING(UPPER(SHIPPER_DESC),CHARINDEX('<PL>',SHIPPER_DESC) + 4,
    CHARINDEX('</PL>',SHIPPER_DESC) - 5) LIKE '%LANSCO%' and
     (SUBSTRING(UPPER(SHIPPER_DESC),CHARINDEX('<PL>',SHIPPER_DESC) + 4,
      CHARINDEX('</PL>',SHIPPER_DESC) - 5) NOT LIKE '%LANSCO DIE%' AND
      SUBSTRING(UPPER(SHIPPER_DESC),CHARINDEX('<PL>',SHIPPER_DESC) + 4,
      CHARINDEX('</PL>',SHIPPER_DESC) - 5) NOT LIKE '%LANSCO IND%' AND
      SUBSTRING(UPPER(SHIPPER_DESC),CHARINDEX('<PL>',SHIPPER_DESC) + 4,
      CHARINDEX('</PL>',SHIPPER_DESC) - 5) NOT LIKE '%LANSCOT%')) or
   (SUBSTRING(UPPER(SHIPPER_DESC),CHARINDEX('<PL>',SHIPPER_DESC) + 4,
    CHARINDEX('</PL>',SHIPPER_DESC) - 5) LIKE '%LANDER%COL%' AND
     (SUBSTRING(UPPER(SHIPPER_DESC),CHARINDEX('<PL>',SHIPPER_DESC) + 4,
      CHARINDEX('</PL>',SHIPPER_DESC) - 5) NOT LIKE '%GLANDER%')) or
    SUBSTRING(UPPER(SHIPPER_DESC),CHARINDEX('<PL>',SHIPPER_DESC) + 4,
      CHARINDEX('</PL>',SHIPPER_DESC) - 5) LIKE '%INTERAMERICAN TRADING%' OR
    SUBSTRING(UPPER(SHIPPER_DESC),CHARINDEX('<PL>',SHIPPER_DESC) + 4,
      CHARINDEX('</PL>',SHIPPER_DESC) - 5) LIKE '%JEDWARDS INTERNATI%' OR
    SUBSTRING(UPPER(SHIPPER_DESC),CHARINDEX('<PL>',SHIPPER_DESC) + 4,
      CHARINDEX('</PL>',SHIPPER_DESC) - 5) LIKE '%JEDWARDS SPECIALTY%' OR
    SUBSTRING(UPPER(SHIPPER_DESC),CHARINDEX('<PL>',SHIPPER_DESC) + 4,
      CHARINDEX('</PL>',SHIPPER_DESC) - 5) LIKE '%JEDWARDS INTL%' OR
    SUBSTRING(UPPER(SHIPPER_DESC),CHARINDEX('<PL>',SHIPPER_DESC) + 4,
      CHARINDEX('</PL>',SHIPPER_DESC) - 5) LIKE '%TILDA RICELAND%' OR
    SUBSTRING(UPPER(SHIPPER_DESC),CHARINDEX('<PL>',SHIPPER_DESC) + 4,
      CHARINDEX('</PL>',SHIPPER_DESC) - 5) LIKE 'HORIZON MILLING%' OR
    SUBSTRING(UPPER(SHIPPER_DESC),CHARINDEX('<PL>',SHIPPER_DESC) + 4,
      CHARINDEX('</PL>',SHIPPER_DESC) - 5) LIKE 'TOSHOKU AMERICA%' OR
    SUBSTRING(UPPER(SHIPPER_DESC),CHARINDEX('<PL>',SHIPPER_DESC) + 4,
      CHARINDEX('</PL>',SHIPPER_DESC) - 5) LIKE 'WILBUR CHOCOLATE%' OR
    SUBSTRING(UPPER(SHIPPER_DESC),CHARINDEX('<PL>',SHIPPER_DESC) + 4,
      CHARINDEX('</PL>',SHIPPER_DESC) - 5) LIKE 'CARGILL %' OR
    SUBSTRING(UPPER(SHIPPER_DESC),CHARINDEX('<PL>',SHIPPER_DESC) + 4,
      CHARINDEX('</PL>',SHIPPER_DESC) - 5) LIKE 'ULTIMA I%' OR
    SUBSTRING(UPPER(SHIPPER_DESC),CHARINDEX('<PL>',SHIPPER_DESC) + 4,
      CHARINDEX('</PL>',SHIPPER_DESC) - 5) LIKE 'ULTIMA SA%'OR
    SUBSTRING(UPPER(SHIPPER_DESC),CHARINDEX('<PL>',SHIPPER_DESC) + 4,
      CHARINDEX('</PL>',SHIPPER_DESC) - 5) LIKE '%ULTIMA 1, INC%' OR
    SUBSTRING(UPPER(SHIPPER_DESC),CHARINDEX('<PL>',SHIPPER_DESC) + 4,
      CHARINDEX('</PL>',SHIPPER_DESC) - 5) LIKE '%AIR SERVICES INTL%' OR
    SUBSTRING(UPPER(SHIPPER_DESC),CHARINDEX('<PL>',SHIPPER_DESC) + 4,
      CHARINDEX('</PL>',SHIPPER_DESC) - 5) LIKE 'SUNTRADE IMPORTS%' OR
    SUBSTRING(UPPER(SHIPPER_DESC),CHARINDEX('<PL>',SHIPPER_DESC) + 4,
      CHARINDEX('</PL>',SHIPPER_DESC) - 5) LIKE '%SUNTRADE IMPORTS%INTERCHANGE CIRCLE%';
		    
		INSERT INTO #TMP_STG_LANSUPD_C3
		SELECT BOL_ID FROM dbo.stgload_raw WHERE DIR=@DIR AND
		      (SUBSTRING(UPPER(NOTIFY_DESC),CHARINDEX('<PL>',NOTIFY_DESC) + 4,
    CHARINDEX('</PL>',NOTIFY_DESC) - 5) LIKE '%LANSCO%' and
     (SUBSTRING(UPPER(NOTIFY_DESC),CHARINDEX('<PL>',NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',NOTIFY_DESC) - 5) NOT LIKE '%LANSCO DIE%' AND
      SUBSTRING(UPPER(NOTIFY_DESC),CHARINDEX('<PL>',NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',NOTIFY_DESC) - 5) NOT LIKE '%LANSCO IND%' AND
      SUBSTRING(UPPER(NOTIFY_DESC),CHARINDEX('<PL>',NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',NOTIFY_DESC) - 5) NOT LIKE '%LANSCOT%')) or
   (SUBSTRING(UPPER(NOTIFY_DESC),CHARINDEX('<PL>',NOTIFY_DESC) + 4,
    CHARINDEX('</PL>',NOTIFY_DESC) - 5) LIKE '%LANDER%COL%' AND
     (SUBSTRING(UPPER(NOTIFY_DESC),CHARINDEX('<PL>',NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',NOTIFY_DESC) - 5) NOT LIKE '%GLANDER%')) or
    SUBSTRING(UPPER(NOTIFY_DESC),CHARINDEX('<PL>',NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',NOTIFY_DESC) - 5) LIKE '%INTERAMERICAN TRADING%' OR
    SUBSTRING(UPPER(NOTIFY_DESC),CHARINDEX('<PL>',NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',NOTIFY_DESC) - 5) LIKE '%JEDWARDS INTERNATI%' OR
    SUBSTRING(UPPER(NOTIFY_DESC),CHARINDEX('<PL>',NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',NOTIFY_DESC) - 5) LIKE '%JEDWARDS SPECIALTY%' OR
    SUBSTRING(UPPER(NOTIFY_DESC),CHARINDEX('<PL>',NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',NOTIFY_DESC) - 5) LIKE '%JEDWARDS INTL%' OR
    SUBSTRING(UPPER(NOTIFY_DESC),CHARINDEX('<PL>',NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',NOTIFY_DESC) - 5) LIKE '%TILDA RICELAND%' OR
    SUBSTRING(UPPER(NOTIFY_DESC),CHARINDEX('<PL>',NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',NOTIFY_DESC) - 5) LIKE 'HORIZON MILLING%' OR
    SUBSTRING(UPPER(NOTIFY_DESC),CHARINDEX('<PL>',NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',NOTIFY_DESC) - 5) LIKE 'TOSHOKU AMERICA%' OR
    SUBSTRING(UPPER(NOTIFY_DESC),CHARINDEX('<PL>',NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',NOTIFY_DESC) - 5) LIKE 'WILBUR CHOCOLATE%' OR
    SUBSTRING(UPPER(NOTIFY_DESC),CHARINDEX('<PL>',NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',NOTIFY_DESC) - 5) LIKE 'CARGILL %' OR
    SUBSTRING(UPPER(NOTIFY_DESC),CHARINDEX('<PL>',NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',NOTIFY_DESC) - 5) LIKE 'ULTIMA I%' OR
    SUBSTRING(UPPER(NOTIFY_DESC),CHARINDEX('<PL>',NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',NOTIFY_DESC) - 5) LIKE 'ULTIMA SA%' OR
    SUBSTRING(UPPER(NOTIFY_DESC),CHARINDEX('<PL>',NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',NOTIFY_DESC) - 5) LIKE '%ULTIMA 1, INC%' OR
    SUBSTRING(UPPER(NOTIFY_DESC),CHARINDEX('<PL>',NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',NOTIFY_DESC) - 5) LIKE '%AIR SERVICES INTL%' OR
    SUBSTRING(UPPER(NOTIFY_DESC),CHARINDEX('<PL>',NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',NOTIFY_DESC) - 5) LIKE 'SUNTRADE IMPORTS%' OR
    SUBSTRING(UPPER(NOTIFY_DESC),CHARINDEX('<PL>',NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',NOTIFY_DESC) - 5) LIKE '%SUNTRADE IMPORTS%INTERCHANGE CIRCLE%';
		    
		INSERT INTO #TMP_STG_LANSUPD_C4
		SELECT BOL_ID FROM dbo.stgload_raw WHERE DIR=@DIR AND	    
		   (SUBSTRING(UPPER(ALSO_NOTIFY_DESC),CHARINDEX('<PL>',ALSO_NOTIFY_DESC) + 4,
    CHARINDEX('</PL>',ALSO_NOTIFY_DESC) - 5) LIKE '%LANSCO%' and
     (SUBSTRING(UPPER(ALSO_NOTIFY_DESC),CHARINDEX('<PL>',ALSO_NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',ALSO_NOTIFY_DESC) - 5) NOT LIKE '%LANSCO DIE%' AND
      SUBSTRING(UPPER(ALSO_NOTIFY_DESC),CHARINDEX('<PL>',ALSO_NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',ALSO_NOTIFY_DESC) - 5) NOT LIKE '%LANSCO IND%' AND
      SUBSTRING(UPPER(ALSO_NOTIFY_DESC),CHARINDEX('<PL>',ALSO_NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',ALSO_NOTIFY_DESC) - 5) NOT LIKE '%LANSCOT%')) or
   (SUBSTRING(UPPER(ALSO_NOTIFY_DESC),CHARINDEX('<PL>',ALSO_NOTIFY_DESC) + 4,
    CHARINDEX('</PL>',ALSO_NOTIFY_DESC) - 5) LIKE '%LANDER%COL%' AND
     (SUBSTRING(UPPER(ALSO_NOTIFY_DESC),CHARINDEX('<PL>',ALSO_NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',ALSO_NOTIFY_DESC) - 5) NOT LIKE '%GLANDER%')) or
    SUBSTRING(UPPER(ALSO_NOTIFY_DESC),CHARINDEX('<PL>',ALSO_NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',ALSO_NOTIFY_DESC) - 5) LIKE '%INTERAMERICAN TRADING%' OR
    SUBSTRING(UPPER(ALSO_NOTIFY_DESC),CHARINDEX('<PL>',ALSO_NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',ALSO_NOTIFY_DESC) - 5) LIKE '%JEDWARDS INTERNATI%' OR
    SUBSTRING(UPPER(ALSO_NOTIFY_DESC),CHARINDEX('<PL>',ALSO_NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',ALSO_NOTIFY_DESC) - 5) LIKE '%JEDWARDS SPECIALTY%' OR
    SUBSTRING(UPPER(ALSO_NOTIFY_DESC),CHARINDEX('<PL>',ALSO_NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',ALSO_NOTIFY_DESC) - 5) LIKE '%JEDWARDS INTL%' OR
    SUBSTRING(UPPER(ALSO_NOTIFY_DESC),CHARINDEX('<PL>',ALSO_NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',ALSO_NOTIFY_DESC) - 5) LIKE '%TILDA RICELAND%'OR
    SUBSTRING(UPPER(ALSO_NOTIFY_DESC),CHARINDEX('<PL>',ALSO_NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',ALSO_NOTIFY_DESC) - 5) LIKE 'HORIZON MILLING%' OR
    SUBSTRING(UPPER(ALSO_NOTIFY_DESC),CHARINDEX('<PL>',ALSO_NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',ALSO_NOTIFY_DESC) - 5) LIKE 'TOSHOKU AMERICA%' OR
    SUBSTRING(UPPER(ALSO_NOTIFY_DESC),CHARINDEX('<PL>',ALSO_NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',ALSO_NOTIFY_DESC) - 5) LIKE 'WILBUR CHOCOLATE%' OR
    SUBSTRING(UPPER(ALSO_NOTIFY_DESC),CHARINDEX('<PL>',ALSO_NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',ALSO_NOTIFY_DESC) - 5) LIKE 'CARGILL %' OR
    SUBSTRING(UPPER(ALSO_NOTIFY_DESC),CHARINDEX('<PL>',ALSO_NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',ALSO_NOTIFY_DESC) - 5) LIKE 'ULTIMA I%' OR
    SUBSTRING(UPPER(ALSO_NOTIFY_DESC),CHARINDEX('<PL>',ALSO_NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',ALSO_NOTIFY_DESC) - 5) LIKE 'ULTIMA SA%' OR
    SUBSTRING(UPPER(ALSO_NOTIFY_DESC),CHARINDEX('<PL>',ALSO_NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',ALSO_NOTIFY_DESC) - 5) LIKE '%ULTIMA 1, INC%' OR
    SUBSTRING(UPPER(ALSO_NOTIFY_DESC),CHARINDEX('<PL>',ALSO_NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',ALSO_NOTIFY_DESC) - 5) LIKE '%AIR SERVICES INTL%' OR
    SUBSTRING(UPPER(ALSO_NOTIFY_DESC),CHARINDEX('<PL>',ALSO_NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',ALSO_NOTIFY_DESC) - 5) LIKE 'SUNTRADE IMPORTS%' OR
    SUBSTRING(UPPER(ALSO_NOTIFY_DESC),CHARINDEX('<PL>',ALSO_NOTIFY_DESC) + 4,
      CHARINDEX('</PL>',ALSO_NOTIFY_DESC) - 5) LIKE '%SUNTRADE IMPORTS%INTERCHANGE CIRCLE%';
		    
	DECLARE @WORDOUT VARCHAR(40) 
	SET @WORDOUT= '<PL></PL><PL></PL><PL></PL><PL></PL>';  
     
UPDATE STG
        SET CONSGN_DESC=@WORDOUT
	FROM dbo.stgload_raw STG
        WHERE EXISTS
	(SELECT BOL_ID FROM #TMP_STG_LANSUPD_C1 C1
	WHERE STG.BOL_ID=C1.BOL_ID AND STG.DIR=@DIR)
  
	/*UPDATE TI 
        SET MAP_CONSGN_DESC=@WORDOUT,
	MTCH_CONSGN_NAME=NULL
	FROM  DBO.PROCESSED_TI_DATA  TI 
        WHERE EXISTS
	(SELECT T_NBR FROM #TMP_STG_LANSUPD_C1 C1
	WHERE TI.T_NBR=C1.T_NBR  AND TI.DIR=@DIR)*/;
  
--COMMIT;

	UPDATE STG
        SET SHIPPER_DESC=@WORDOUT
	FROM dbo.stgload_raw STG
        WHERE EXISTS
	(SELECT BOL_ID FROM #TMP_STG_LANSUPD_C2 C2
	WHERE STG.BOL_ID=C2.BOL_ID AND STG.DIR=@DIR)
  
	/*UPDATE TI 
        SET MAP_SHIPPER_DESC=@WORDOUT,
	MTCH_SHIPPER_NAME=NULL
	FROM  DBO.PROCESSED_TI_DATA  TI 
        WHERE EXISTS
	(SELECT T_NBR FROM #TMP_STG_LANSUPD_C2 C2
	WHERE TI.T_NBR=C2.T_NBR AND TI.DIR=@DIR)*/;
	
--COMMIT;


	UPDATE STG
        SET NOTIFY_DESC=@WORDOUT
	FROM dbo.stgload_raw STG
        WHERE EXISTS
	(SELECT BOL_ID FROM #TMP_STG_LANSUPD_C3 C3
	WHERE STG.BOL_ID=C3.BOL_ID AND STG.DIR=@DIR)
  
	/*UPDATE TI 
        SET MAP_NOTIFY_DESC=@WORDOUT,
	MTCH_NOTIFY_NAME=NULL
	FROM  DBO.PROCESSED_TI_DATA  TI 
        WHERE EXISTS
	(SELECT T_NBR FROM #TMP_STG_LANSUPD_C3 C3
	WHERE TI.T_NBR=C3.T_NBR AND TI.DIR=@DIR)*/;
	
--COMMIT;


	UPDATE STG
        SET ALSO_NOTIFY_DESC=@WORDOUT
	FROM dbo.stgload_raw STG
        WHERE EXISTS
	(SELECT BOL_ID FROM #TMP_STG_LANSUPD_C4 C4
	WHERE STG.BOL_ID=C4.BOL_ID AND STG.DIR=@DIR)
  
	/*UPDATE TI 
        SET MAP_ALSO_NOTIFY_DESC=@WORDOUT,
	MTCH_ALSO_NOTIFY_NAME=NULL
	FROM  DBO.PROCESSED_TI_DATA  TI 
        WHERE EXISTS
	(SELECT T_NBR FROM #TMP_STG_LANSUPD_C4 C4
	WHERE TI.T_NBR=C4.T_NBR AND TI.DIR=@DIR)*/
	
--COMMIT;
DROP TABLE #TMP_STG_LANSUPD_C1
DROP TABLE #TMP_STG_LANSUPD_C2
DROP TABLE #TMP_STG_LANSUPD_C3
DROP TABLE #TMP_STG_LANSUPD_C4


 
  END
GO
