/****** Object:  StoredProcedure [dbo].[usp_ProcessRestrictedCompanies1_iter]    Script Date: 01/09/2013 18:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ProcessRestrictedCompanies1_iter]
	@Company varchar(500)
	,@DIR CHAR(1)
AS 
BEGIN
	
	CREATE TABLE #TMP_STG_MEDUPD_C1 (BOL_ID INT)
	CREATE TABLE #TMP_STG_MEDUPD_C2 (BOL_ID INT)
	CREATE TABLE #TMP_STG_MEDUPD_C3 (BOL_ID INT)
	CREATE TABLE #TMP_STG_MEDUPD_C4 (BOL_ID INT)

	INSERT INTO #TMP_STG_MEDUPD_C1
		SELECT BOL_ID FROM dbo.stgload_raw WHERE DIR=@DIR AND
		    UPPER(CONSGN_DESC) LIKE '%'+@Company+'%' ;
	    
		INSERT INTO #TMP_STG_MEDUPD_C2
		SELECT BOL_ID FROM dbo.stgload_raw WHERE DIR=@DIR AND
		    UPPER(SHIPPER_DESC) LIKE '%'+@Company+'%'  ;
		    
		INSERT INTO #TMP_STG_MEDUPD_C3
		SELECT BOL_ID FROM dbo.stgload_raw WHERE DIR=@DIR AND
		    UPPER(NOTIFY_DESC) LIKE '%'+@Company+'%' ;
		    
		INSERT INTO #TMP_STG_MEDUPD_C4
		SELECT BOL_ID FROM dbo.stgload_raw WHERE DIR=@DIR AND	    
		    UPPER(ALSO_NOTIFY_DESC) LIKE '%'+@Company+'%' ;
		    
	DECLARE @WORDOUT VARCHAR(40) 
	SET @WORDOUT= '<PL></PL><PL></PL><PL></PL><PL></PL>';  
     
	UPDATE STG
        SET CONSGN_DESC=@WORDOUT
	FROM dbo.stgload_raw STG
        WHERE EXISTS
	(SELECT BOL_ID FROM #TMP_STG_MEDUPD_C1 C1
	WHERE STG.BOL_ID=C1.BOL_ID AND STG.DIR=@DIR)
  
	/*UPDATE TI 
        SET MAP_CONSGN_DESC=@WORDOUT,
	MTCH_CONSGN_NAME=NULL
	FROM  DBO.PROCESSED_TI_DATA  TI 
        WHERE EXISTS
	(SELECT T_NBR FROM #TMP_STG_MEDUPD_C1 C1
	WHERE TI.T_NBR=C1.T_NBR  AND TI.DIR=@DIR)*/;
  
--COMMIT;

	UPDATE STG
        SET SHIPPER_DESC=@WORDOUT
	FROM dbo.stgload_raw STG
        WHERE EXISTS
	(SELECT BOL_ID FROM #TMP_STG_MEDUPD_C2 C2
	WHERE STG.BOL_ID=C2.BOL_ID AND STG.DIR=@DIR)
  
	/*UPDATE TI 
        SET MAP_SHIPPER_DESC=@WORDOUT,
	MTCH_SHIPPER_NAME=NULL
	FROM  DBO.PROCESSED_TI_DATA  TI 
        WHERE EXISTS
	(SELECT T_NBR FROM #TMP_STG_MEDUPD_C2 C2
	WHERE TI.T_NBR=C2.T_NBR AND TI.DIR=@DIR)*/;
	
--COMMIT;


	UPDATE STG
        SET NOTIFY_DESC=@WORDOUT
	FROM dbo.stgload_raw STG
        WHERE EXISTS
	(SELECT BOL_ID FROM #TMP_STG_MEDUPD_C3 C3
	WHERE STG.BOL_ID=C3.BOL_ID AND STG.DIR=@DIR)
  
	/*UPDATE TI 
        SET MAP_NOTIFY_DESC=@WORDOUT,
	MTCH_NOTIFY_NAME=NULL
	FROM  DBO.PROCESSED_TI_DATA  TI 
        WHERE EXISTS
	(SELECT T_NBR FROM #TMP_STG_MEDUPD_C3 C3
	WHERE TI.T_NBR=C3.T_NBR AND TI.DIR=@DIR)*/;
	
--COMMIT;


	UPDATE STG
        SET ALSO_NOTIFY_DESC=@WORDOUT
	FROM dbo.stgload_raw STG
        WHERE EXISTS
	(SELECT BOL_ID FROM #TMP_STG_MEDUPD_C4 C4
	WHERE STG.BOL_ID=C4.BOL_ID AND STG.DIR=@DIR)
  
	/*UPDATE TI 
        SET MAP_ALSO_NOTIFY_DESC=@WORDOUT,
	MTCH_ALSO_NOTIFY_NAME=NULL
	FROM  DBO.PROCESSED_TI_DATA  TI 
        WHERE EXISTS
	(SELECT T_NBR FROM #TMP_STG_MEDUPD_C4 C4
	WHERE TI.T_NBR=C4.T_NBR AND TI.DIR=@DIR)*/
	
--COMMIT;
DROP TABLE #TMP_STG_MEDUPD_C1
DROP TABLE #TMP_STG_MEDUPD_C2
DROP TABLE #TMP_STG_MEDUPD_C3
DROP TABLE #TMP_STG_MEDUPD_C4

END
GO
