/****** Object:  View [dbo].[PES_DW_MHR_INSERT]    Script Date: 01/08/2013 15:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PES_DW_MHR_INSERT]
AS
(
SELECT BOL_ID,  
BOL_NBR, 
BOL_STATUS, 
BOL_DIRECTION, 
REF_LOAD_NUM_ID,
STND_VOYG_ID, 
IS_DELETED, 
MODIFY_DATE, 
MODIFY_USER,
RECORD_STATUS
FROM PES_RAW.PES.DBO.PES_STG_BOL
WHERE BOL_ID IN 
(SELECT BOL_ID FROM PES_RAW.PES.DBO.PES_STG_BOL
WHERE MST_BOL_TYPE = 'M'
EXCEPT
SELECT BOL_ID FROM PES_DW_MHR WITH (NOLOCK)
)
)
GO
