/****** Object:  View [dbo].[PESDW_COMPANY_VIEW]    Script Date: 01/08/2013 15:00:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PESDW_COMPANY_VIEW] 
AS
	SELECT COMP_ID,
			NAME,
			ADDRESS1,
			CITY,
			STATE,
			ZIPCODE,
			COUNTRY_CD
	FROM PES_DW_REF_COMPANY WITH (NOLOCK)
	
	/*UNION

	SELECT COMP_ID,
			NAME,
		   ADDR_1,
			CITY,
			STATE,
			ZIPCODE,
			CNTRY_CD
	FROM PES_DW_NEW_COMPANY WITH (NOLOCK)*/
GO
