/****** Object:  View [dbo].[VIEW_MHR_CMD]    Script Date: 01/08/2013 15:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_MHR_CMD]
AS
(
SELECT A.BOL_ID,SEQUENCENO CMD_SEQ_NBR,COMMODITY_DESC CMD_DESC,PIECE_COUNT,
HARM_WEIGHT WEIGHT,HARM_UNIT WEIGHT_UNIT,PackageUnit PIECE_UNIT
FROM PES_RAW.PES.DBO.ARCHIVE_RAW_CMD A
JOIN PES_DW_MHR B
ON A.BOL_ID = B.BOL_ID
)
GO
