/****** Object:  View [dbo].[AMSCDLOAD_PESDW_PORT_VIEW]    Script Date: 01/08/2013 15:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AMSCDLOAD_PESDW_PORT_VIEW]
(PORT_ID,IS_USPORT,PORT_NAME,PORT_CODE,PORT_DESC)

AS

SELECT 
PORT.ID	PORT_ID,	
CASE WHEN PORT.IS_US_PORT='1' THEN 'Y'ELSE 'N' END IS_USPORT,
LTRIM(RTRIM(SUBSTRING(PORT.PIERS_NAME,1,13))) PORT_NAME,
ISNULL(CONV.SOURCE,PORT.CODE) PORT_CODE,
ISNULL(PORT.PORT_DESC,'')  PORT_DESC
FROM 
PES_DW_REF_PORT PORT WITH (NOLOCK)
LEFT OUTER JOIN 
PES_RAW.PES.DBO.PES_PORT_CONVERSION CONV 
ON PORT.CODE=CONV.TARGET
GO
