/****** Object:  View [dbo].[EXPBUL_VIEW_USSHIPMENT]    Script Date: 01/08/2013 15:00:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EXPBUL_VIEW_USSHIPMENT] 
(
		vdate,				--	(Vessel Date)
		dir,				--	(Directory)
		uscode,
		usport,
		st,					--(State)
		ctrycode,
		sline,					--(Ship Line)
		comcode,				--(Commodity Code)
		harm_code,
		filler2, 
		fcode,
		fport,
		comp_nbr,		--(Company Number)
		recnum1,
		commodity,
		is_valid,
		[name], 
		city,
		vessel1,
		u_m,					--(Unit of Measure)
		pounds,
		country,
		pdate,					--(Process Date)
		qty,
		ultcode,
		ultport,
		conflag,					--(Container Flag)
		conqty,
		consize,
		convol,
		teua,  -- integer part
		teub,  -- decimal part
		recnum2,
		baseloc,   -- 12 char spaces
		bol_nbr,
		manifest_nbr,
		conscity,
		consst,
		consaddress,
		consaddlinfo,
		conszip,
		ntfname,
		ntfcity,
		ntfst,
		ntfaddress,
		ntfaddlinfo,
		ntfzip,
		fcity,
		fctry,
		faddress,
		faddlinfo,
		fzipcode,
		vessel2,
		voyage,
		usfinal,
		fgnfinal,
		ntfcomp_nbr,
		fccomp_nbr,
		is_consgn,
		is_notify,
		is_shipper,
		recnum3,
		vessel_regst,
		is_financl,
		payable_flag,
		org_dest_city,
		org_dest_st,
		[value],
		is_hazmat,
		is_reefer,
		is_roro,
		nvocc_flag,
		bank_name,
		filler23
)
AS
SELECT
		BOL.VDATE
		,BOL.DIRECTION AS DIR
		,USPORT.CODE AS USCODE
		,USPORT.PORT_NAME AS USPORT
		,ISNULL(LTRIM(RTRIM(SUBSTRING(CONS.ST,1,2))),'XX') 
		AS ST
		,BOL.CTRYCODE
		,CAR.SLINE
		,LTRIM(RTRIM(CMD.JOC_CODE)) COMCODE
		,LTRIM(RTRIM(SUBSTRING(CMD.HSCODE,1,6))) HARM_CODE
		,'  ' AS FILLER2
		,FPORT.CODE AS FCODE
		,FPORT.PORT_NAME AS FPORT
		,CONS.COMP_NBR AS COMP_NBR
		,DBO.PES_UDF_RECNUM(CMD.CMD_ID) RECNUM1
		,LTRIM(RTRIM(SUBSTRING(CMD.CMD_DESC,1,35))) COMMODITY
		,CASE WHEN ISNULL(BOL.DELETED,'N')='Y' OR ISNULL(CMD.DELETED,'N')='Y' THEN 'N'
			  ELSE 'Y'END AS IS_VALID
		,CONS.NAME AS NAME
		,CONS.CITY AS CITY
		,SUBSTRING(VESS.NAME,1,17) AS VESSEL
		,UOM.UM AS U_M
		,ROUND((CMD.STND_WEIGHT_KG)*(SELECT CAST((1/CONVERSION_FACTOR ) AS FLOAT) CONVERSION_FACTOR FROM PES_RAW.PES.DBO.vREF_WEIGHT_UNIT WHERE WGT_UNIT='LB'),0) AS POUNDS
		,COUN.COUNTRY
		,CAST(CONVERT(VARCHAR(10), BOL.PDATE, 101) AS DATETIME) PDATE
		,CMD.QTY
		,ULTPORT.CODE AS ULTCODE
		,ULTPORT.PORT_NAME AS ULTPORT
		,CMD.CNTR_FLAG CONFLAG
		,CMD.CNTR_QUANTITY CONQTY
		,ISNULL(CMD.CNTR_SIZE,' ') CONSIZE
		,CMD.CNTR_VOL CONVOL
		,LEFT(CMD.TEU,CHARINDEX('.',CMD.TEU)-1) AS TEUA
		,RIGHT(CMD.TEU,LEN(CMD.TEU)-CHARINDEX('.',CMD.TEU)) AS TEUB
		,DBO.PES_UDF_RECNUM(CMD.CMD_ID) RECNUM2
		,'            ' AS BASELOC   -- 12 char spaces
		,BOL.BILL_NUMBER  AS BOL_NBR
		,LTRIM(RTRIM(SUBSTRING(BOL.MANIFEST_NUMBER,1,7))) MANIFEST_NBR
		,CONS.CITY AS CONSCITY
		,CONS.ST AS CONSST
		,CONS.STREET AS CONSSTREET
		,CONS.STREET2 AS CONSSTREET2
		,CONS.ZIPCODE AS CONSZIP
		,NTF.RAWNAME AS NTFNAME
		,NTF.CITY AS NTFCITY
		,NTF.ST AS NTFST
		,NTF.STREET AS NTFADDRESS
		,NTF.STREET2 AS NTFADDLINFO
		,NTF.ZIPCODE AS NTFZIP
		,FC.CITY AS FCITY
		,FCOUN.COUNTRY AS FCTRY
		,FC.STREET AS FADDRESS
		,FC.STREET2 AS FADDLINFO
		,FC.ZIPCODE AS FZIP
		,VESS.NAME AS VESSEL
		,LTRIM(RTRIM(SUBSTRING(BOL.VOYAGE,1,5))) VOYAGE
		,BOL.USIB_CODE USFINAL
		,BOL.FGNIB_CODE FGNFINAL
		,NTF.COMP_NBR AS NTFCOMP_NBR
		,FC.COMP_NBR AS FCOMP_NBR 
		,CONS.IS_CONSGN--need to check these 3 columns
		,CONS.IS_NOTIFY
		,CONS.IS_SHIPPER
		,DBO.PES_UDF_RECNUM(CMD.CMD_ID) RECNUM3
		,VESS_COUN.COUNTRY AS VESSEL_REGST
		,ISNULL(BOL.FINANCIAL_FLAG,' ') IS_FINANCL
		,ISNULL(BOL.PAYABLE_FLAG,' ') PAYABLE_FLAG
		,ISNULL(BOL.ORG_DEST_CITY,' ') ORG_DEST_CITY
		,ISNULL(BOL.ORG_DEST_ST,' ') ORG_DEST_ST
		,CMD.STND_EST_VALUE_DOLLAR VALUE
		,ISNULL(CMD.HAZMAT_FLAG,' ') IS_HAZMAT
		,ISNULL(CMD.REEFER_FLAG,' ') IS_REEFER
		,ISNULL(CMD.RORO_FLAG,' ') IS_RORO
		,ISNULL(BOL.NVOCC_FLAG,' ') NVOCC_FLAG
		,BK.BANK_NAME
		,'                       ' AS FILLER23


	FROM 
		
		PES_DW_BOL BOL WITH (NOLOCK) 
		 JOIN PES_DW_CMD CMD WITH (NOLOCK)
			ON BOL.BOL_ID = CMD.BOL_ID 
		LEFT OUTER JOIN PES_DW_REF_PORT USPORT WITH (NOLOCK)
			ON BOL.PORT_DEPART_REF_ID = USPORT.ID
		LEFT OUTER JOIN PES_DW_REF_PORT FPORT WITH (NOLOCK)
			ON BOL.PORT_ARRIVE_REF_ID = FPORT.ID
		LEFT OUTER JOIN PES_DW_REF_PORT ULTPORT WITH (NOLOCK)
			ON BOL.ULTPORT_REF_ID = ULTPORT.ID
		LEFT OUTER JOIN PES_DW_REF_CARRIER CAR WITH (NOLOCK)
			ON BOL.SLINE_REF_ID = CAR.ID	
		LEFT OUTER JOIN PES_DW_REF_VESSEL VESS WITH (NOLOCK)
			ON BOL.VESSEL_REF_ID = VESS.ID
		LEFT OUTER JOIN PES_DW_REF_UOM UOM WITH (NOLOCK)
			ON CMD.QTY_UNIT_REF_ID = UOM.ID
		LEFT OUTER JOIN EXPBUL_PESDW_COMPANY_VIEW FC WITH (NOLOCK)
			ON FC.COMP_ID = BOL.CONGINEE_COMP_REF_ID
		LEFT OUTER JOIN EXPBUL_PESDW_COMPANY_VIEW CONS WITH (NOLOCK)
			ON CONS.COMP_ID = BOL.SHIPPER_COMP_REF_ID
		LEFT OUTER JOIN EXPBUL_PESDW_COMPANY_VIEW NTF WITH (NOLOCK)
			ON NTF.COMP_ID = BOL.NOTIFY_COMP_REF_ID
		LEFT OUTER JOIN PES_DW_REF_COUNTRY VESS_COUN WITH (NOLOCK)
			ON VESS_COUN.COUNTRY_ID = BOL.VESSEL_REGISTRY_COUNRTY_REF_ID 
		LEFT OUTER JOIN PES_DW_REF_COUNTRY COUN WITH (NOLOCK)
			ON COUN.CTRY_CODE = BOL.CTRYCODE
		LEFT OUTER JOIN PES_DW_REF_COUNTRY FCOUN WITH (NOLOCK)
			ON FCOUN.CTRY_CODE = FC.CTRYCODE
		LEFT OUTER JOIN PES_DW_REF_BANK BK WITH (NOLOCK)
			ON BK.BANK_ID = BOL.BANK_REF_ID
WHERE BOL.DIRECTION='E'
GO
