/****** Object:  View [dbo].[ti_processed_data_cmd_V]    Script Date: 01/08/2013 15:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ti_processed_data_cmd_V]
 ( BOL_ID, CMD_ID, VALUE, HARM_CODE, COMCODE, TEU, POUNDS, QTY, U_M, COMMODITY)
--, UDATE, DIR,LOAD_NUMBER)
AS

SELECT 
--	BOL.BOL_ID,
	CMD.BOL_ID,
	CMD.CMD_ID,
	CMD.STND_EST_VALUE_DOLLAR AS VALUE,
	CMD.HSCODE AS HARM_CODE,
	CMD.JOC_CODE AS COMCODE,
	COALESCE(CMD.TEU,0) AS TEU,
	CMD.STND_WEIGHT_KG AS POUNDS,
	CMD.QTY AS QTY,
	UOM.UM AS U_M,
	CMD.CMD_DESC AS COMMODITY
--	BOL.MODIFY_DATE AS UDATE,
--	BOL.DIRECTION AS DIR,
--	BOL.LOAD_NUMBER AS LOAD_NUMBER
 FROM PES_DW_CMD CMD WITH (NOLOCK)
--LEFT OUTER JOIN PES_DW_BOL BOL WITH (NOLOCK)
-- ON BOL.BOL_ID=CMD.BOL_ID
LEFT OUTER JOIN PES_DW_REF_UOM UOM WITH (NOLOCK)
 ON CMD.QTY_UNIT_REF_ID=UOM.ID
GO
