/****** Object:  View [dbo].[AMSCDLOAD_PESDW_CARRIER_VIEW]    Script Date: 01/08/2013 15:00:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AMSCDLOAD_PESDW_CARRIER_VIEW]

AS
SELECT ID,SLINE,SCAC,NAME,ACTIVE,IS_NVO,DELETED,IS_TMP,MODIFIED_DT,MODIFIED_BY,LTRIM(RTRIM(SUBSTRING(ISNULL(Carrier_Desc,''),1,50))) SLINE_DESC
/*IS NULL INCLUDED BY CTS ON 26-MAY-2010*/
FROM 
(
	SELECT RANK() OVER(PARTITION BY SLINE ORDER BY ID) AS RANK,*
	FROM PES_DW_REF_CARRIER WITH (NOLOCK) WHERE ID<>0 AND IS_NVO!='Y'--WHERE DELETED!='Y'--DELETED CONDITION INCLUDED BY CTS ON 20-MAY-2010
--NVO CONDITION INCLUDED BY COGNIZANT ON 8-JUNE-2010
)P
WHERE 
RANK=1
GO
