/****** Object:  View [dbo].[TI_VIEW_USSHIPMENT_CMD]    Script Date: 01/08/2013 15:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TI_VIEW_USSHIPMENT_CMD] ( T_NBR, RECNUM, VALUE, HARM_CODE, COMCODE, TEU, POUNDS, QTY, U_M, COMMODITY, UDATE, DIR,LOAD_NUMBER)
AS
/* Change History
4-Nov-2009, Cognizant
Fetch all calculated fields at commodity level instead of bill level

9-Feb-2010, Cognizant
Fetch Load Number
*/

SELECT 
PDBL.BOL_ID AS T_NBR,
PDCM.CMD_ID AS RECNUM,
PDCM.STND_EST_VALUE_DOLLAR AS VALUE, --Cognizant, 4-Nov-2009, Fetch data at commodity level
PDCM.HSCODE AS HARM_CODE,
PDCM.JOC_CODE AS COMCODE,
--COALESCE(PDBL.TEU,0) AS TEU,
COALESCE(PDCM.TEU,0) AS TEU, --Cognizant, 4-Nov-2009, Fetch data at commodity level
--PDBL.WEIGHT AS POUNDS,			
PDCM.STND_WEIGHT_KG AS POUNDS, --Cognizant, 4-Nov-2009, Fetch data at commodity level
PDCM.QTY AS QTY,
PDRU.UM AS U_M,
PDCM.CMD_DESC AS COMMODITY,
PDBL.MODIFY_DATE AS UDATE,
PDBL.DIRECTION AS DIR,
PDBL.LOAD_NUMBER AS LOAD_NUMBER
FROM
PES_DW_BOL PDBL WITH (NOLOCK) LEFT OUTER JOIN
PES_DW_CMD PDCM WITH (NOLOCK) ON
PDBL.BOL_ID=PDCM.BOL_ID
LEFT OUTER JOIN PES_DW_REF_UOM PDRU WITH (NOLOCK) ON
PDCM.QTY_UNIT_REF_ID=PDRU.ID		--Cognizant, 4-Nov-2009, Fetch data at commodity level
--PDBL.QTY_UNIT_REF_ID=PDRU.ID
GO
