/****** Object:  View [dbo].[PIERS_usshipment_prePES]    Script Date: 01/08/2013 15:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PIERS_usshipment_prePES] as
--Used for updating boldetail_prePES table.
SELECT a.[bol_id]
      ,a.[cmd_id]
      ,a.[usshipment_id]
      ,a.[vdate]
      ,a.[dir]
      ,a.[usport_id]
      ,a.[fport_id]
      ,a.[ultport_id]
      ,a.[vessel_id]
      ,a.[comcode]
      ,a.[harm_code]
      ,a.[comp_id]
      ,a.[fcomp_id]
      ,a.[ntfcomp_id]
      ,a.[st]
      ,b.[sline_id]
      ,a.[sline]
      ,a.[ctrycode]
      ,a.[qty]
      ,a.[pounds]
      ,a.[conflag]
      ,a.[consize]
      ,a.[conqty]
      ,a.[convol]
      ,a.[value]
      ,a.[u_m]
      ,a.[teu]
      ,a.[bol_nbr]
      ,a.[commodity]
      ,a.[recnum]
      ,a.[bank_id]
      ,a.[is_valid]
      ,a.[is_reefer]
      ,a.[is_roro]
      ,a.[nvocc_flag]
      ,a.[is_financl]
      ,a.[payable_flag]
      ,a.[udate]
      ,a.[usfinal]
      ,a.[fgnfinal]
      ,a.[usib_city]
      ,a.[usib_st]
      ,a.[org_dest_city]
      ,a.[org_dest_st]
      ,a.[manifest_nbr]
      ,a.[voyage]
      ,a.[pdate]
      ,a.[com4]
      ,a.[harm4]
      ,a.[is_hazmat]
      ,a.[fgnib_city]
      ,a.[fgnib_ctry]
      ,a.[conlength]
      ,a.[conwidth]
      ,a.[contype]
      ,a.[fcharge]
      ,a.[intransit_flag]
FROM [PESDW].[dbo].[PIERS_usshipment] a WITH (NOLOCK)
  join [PESDW].[dbo].[PIERS_sline] b WITH (NOLOCK)
    on a.sline=b.sline
GO
