/****** Object:  View [dbo].[AMSCDLOAD_VIEW_USSHIPMENT_PLRECEIPT]    Script Date: 01/08/2013 15:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AMSCDLOAD_VIEW_USSHIPMENT_PLRECEIPT] 
	(
		USSHIPMENT_ID, 
		VDATE,DIR,
		USPORT_ID,
		FPORT_ID,
		ULTPORT_ID,
		VESSEL_ID,
		COMCODE,
		HARM_CODE,
		COMP_ID,
		FCOMP_ID,
		NTFCOMP_ID,
		ST,
		SLINE,
		CTRYCODE,
		QTY,
		POUNDS,
		CONFLAG,
		CONSIZE,
		CONQTY,
		CONVOL,
		VALUE,
		U_M,
		TEU,
		BOL_NBR,
		COMMODITY,
		RECNUM,
		BANK_ID,
		IS_VALID,
		IS_REEFER,
		IS_RORO,
		NVOCC_FLAG,
		IS_FINANCL,
		PAYABLE_FLAG,
		UDATE,USFINAL,
		FGNFINAL,
		USIB_CITY,
		USIB_ST,
		ORG_DEST_CITY,
		ORG_DEST_ST,
		MANIFEST_NBR,
		VOYAGE,
		PDATE,
		COM4,
		HARM4,
		IS_HAZMAT,
		FGNIB_CITY,
		FGNIB_CTRY,
		CONLENGTH,
		CONWIDTH,
		CONTYPE,
		FCHARGE,
		INTRANSIT_FLAG,
		REC_CODE,
		REC_CITY,
		REC_CTRY_CD,
		REC_CTRY,
		VSCAC,
		VSCAC2,
		BOLSCAC,
		T_NBR)
AS
	SELECT DISTINCT
		BOL.STND_VOYG_ID USSHIPMENT_ID
		,BOL.VDATE
		,BOL.DIRECTION DIR,
		CASE BOL.DIRECTION 
			WHEN 'I' 
				THEN BOL.PORT_ARRIVE_REF_ID 
				ELSE BOL.PORT_DEPART_REF_ID
			END AS USPORT_ID
		,CASE BOL.DIRECTION 
			WHEN 'I' 
				THEN BOL.PORT_DEPART_REF_ID 
				ELSE BOL.PORT_ARRIVE_REF_ID
			END AS FPORT_ID
		,ULTPORT_REF_ID ULTPORT_ID
		,VESSEL_REF_ID VESSEL_ID
		,LTRIM(RTRIM(CMD.JOC_CODE)) COMCODE
		,LTRIM(RTRIM(SUBSTRING(CMD.HSCODE,1,6))) HARM_CODE
		,CASE BOL.DIRECTION 
			WHEN 'I' 
				THEN ISNULL(CONGINEE_COMP_REF_ID,0) 
				ELSE ISNULL(SHIPPER_COMP_REF_ID,0)
			END AS COMP_ID
		,CASE BOL.DIRECTION 
			WHEN 'I' 
				THEN ISNULL(SHIPPER_COMP_REF_ID,0) 
				ELSE ISNULL(CONGINEE_COMP_REF_ID,0)
			END AS FCOMP_ID
		,ISNULL(NOTIFY_COMP_REF_ID,0) NTFCOMP_ID
		,ISNULL(CASE WHEN BOL.DIRECTION='I' THEN
		LTRIM(RTRIM(SUBSTRING(CON.STATE,1,2)))
		ELSE LTRIM(RTRIM(SUBSTRING(SHIP.STATE,1,2)))
		END,'XX') 
		AS ST
		,CAR.SLINE
		,BOL.CTRYCODE
		,CMD.QTY
		,ROUND((CMD.STND_WEIGHT_KG)*(SELECT CAST((1/CONVERSION_FACTOR ) AS FLOAT) CONVERSION_FACTOR FROM PES_RAW.PES.DBO.vREF_WEIGHT_UNIT WHERE WGT_UNIT='LB'),0) AS POUNDS
		,CMD.CNTR_FLAG CONFLAG
		,ISNULL(CMD.CNTR_SIZE,' ') CONSIZE
		,CMD.CNTR_QUANTITY CONQTY
		,CMD.CNTR_VOL CONVOL
		,CMD.STND_EST_VALUE_DOLLAR VALUE
		,UOM.UM U_M
		,CMD.TEU
		,CASE BOL.DIRECTION 
			WHEN 'I' THEN RIGHT(BOL.BILL_NUMBER,12) ELSE BOL.BILL_NUMBER END AS BOL_NBR
		,LTRIM(RTRIM(SUBSTRING(CMD.CMD_DESC,1,35))) COMMODITY
		,DBO.PES_UDF_RECNUM(CMD.CMD_ID) RECNUM
		,BOL.BANK_REF_ID BANK_ID
		,CASE WHEN ISNULL(BOL.DELETED,'N')='Y' OR ISNULL(CMD.DELETED,'N')='Y' THEN 'N'
			  ELSE 'Y'END AS IS_VALID
		,ISNULL(CMD.REEFER_FLAG,' ') IS_REEFER
		,ISNULL(CMD.RORO_FLAG,' ') IS_RORO
		,ISNULL(BOL.NVOCC_FLAG,' ') NVOCC_FLAG
		,ISNULL(BOL.FINANCIAL_FLAG,' ') IS_FINANCL
		,ISNULL(BOL.PAYABLE_FLAG,' ') PAYABLE_FLAG
		,BOL.MODIFY_DATE UDATE
		,BOL.USIB_CODE USFINAL
		,BOL.FGNIB_CODE FGNFINAL
		,BOL.USIB_CITY
		,BOL.USIB_ST
		,ISNULL(BOL.ORG_DEST_CITY,' ') ORG_DEST_CITY
		,ISNULL(BOL.ORG_DEST_ST,' ') ORG_DEST_ST
		,LTRIM(RTRIM(SUBSTRING(BOL.MANIFEST_NUMBER,1,7))) MANIFEST_NBR
		,LTRIM(RTRIM(SUBSTRING(BOL.VOYAGE,1,5))) VOYAGE
		,CAST(CONVERT(VARCHAR(10), BOL.MODIFY_DATE, 101) AS DATETIME) PDATE
		,LTRIM(RTRIM(SUBSTRING(CMD.JOC_CODE,1,4))) COM4
		,LTRIM(RTRIM(SUBSTRING(CMD.HSCODE,1,4))) HARM4
		,ISNULL(CMD.HAZMAT_FLAG,' ') IS_HAZMAT
		,BOL.FGNIB_CITY
		,BOL.FGNIB_CTRY
		,CMD.CNTR_LENGTH CONLENGTH
		,CMD.CNTR_WIDTH CONWIDTH
		,CMD.CNTR_CARGO_TYPE CONTYPE
		,CMD.FCHARGE
		,BOL.IN_TRANSIT_FLAG INTRANSIT_FLAG
		,ISNULL(CONV.SOURCE,PORT.CODE) REC_CODE
		,LTRIM(RTRIM(SUBSTRING(PORT.PIERS_NAME,1,13))) REC_CITY
		,ISNULL(SUBSTRING(CONV.SOURCE,1,3),SUBSTRING(PORT.CODE,1,3)) REC_CTRY_CD
		--,LTRIM(RTRIM(PORT.COUNTRY)) REC_CTRY
		,LTRIM(RTRIM(SUBSTRING(PORT.COUNTRY,1,7))) REC_CTRY
		,BOL.NVO_SCAC VSCAC
		,' ' VSCAC2
		,LTRIM(RTRIM(SUBSTRING(BOL.BILL_NUMBER,1,4))) BOLSCAC
		,BOL.BOL_ID T_NBR
	FROM 
		-- [aa] - 03/10/2010
		-- found BOLs without CMDs in DW, should NEVER happen
		-- for now, changing BOL/CMD outer join to inner
		PES_DW_BOL BOL WITH (NOLOCK) 
		/*LEFT OUTER*/ JOIN PES_DW_CMD CMD WITH (NOLOCK)
			ON BOL.BOL_ID = CMD.BOL_ID 
		LEFT OUTER JOIN PES_DW_REF_CARRIER CAR WITH (NOLOCK)
			ON BOL.SLINE_REF_ID = CAR.ID
		LEFT OUTER JOIN PES_DW_REF_UOM UOM WITH (NOLOCK)
			ON CMD.QTY_UNIT_REF_ID = UOM.ID
		LEFT OUTER JOIN PES_DW_REF_PORT PORT WITH (NOLOCK)
			ON BOL.PLACE_OF_RECIEPT_REF_ID = PORT.ID
		LEFT OUTER JOIN PES_RAW.PES.DBO.PES_PORT_CONVERSION CONV 
			ON PORT.CODE=CONV.TARGET 
		LEFT OUTER JOIN PESDW_COMPANY_VIEW CON
			ON CON.COMP_ID = BOL.CONGINEE_COMP_REF_ID
		LEFT OUTER JOIN PESDW_COMPANY_VIEW SHIP
			ON SHIP.COMP_ID = BOL.SHIPPER_COMP_REF_ID
GO
