/****** Object:  View [dbo].[ti_processed_data_bol_V]    Script Date: 01/08/2013 15:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Change History

4-Nov-2009, Cognizant
Fetch Weight (in KG) instead of Weight (in Pounds)

19-Jan-2010, Cognizant
Fetch Country Name instead of Piers Country in CountryL

9-Feb-2010, Cognizant
Fetch Load Number 

27-May-2010, Cognizant
Fetch Container Flag
*/
CREATE VIEW [dbo].[ti_processed_data_bol_V]
 (BOL_ID--, BL_NBR
, VDATE, NVOCC_FLAG, SLINE_DESC, SLINE, COUNTRYL, CTRYCODE, USPORT_CODE
, UNLADING_PORT_NAME, PORT_UNLADING_STATE, FPORT_CODE, FOREIGN_PORT_NAME, REGION_ORIGIN
, US_COAST, VISIBILITY, PORT_US_CLEARING_NAME, PORT_US_CLEARING_ST, PORT_US_CLEARING_DIST
, MANIFEST_NBR, VALUE, TEU, POUNDS, MANIFEST_QTY, U_M, UDATE, DIR,LOAD_NUMBER,CONFLAG,LOAD_STATUS )
AS

SELECT 
PDBL.BOL_ID,
--PDBL.BILL_NUMBER AS BL_NBR,

--PDCM.CMD_ID AS RECNUM,
PDBL.VDATE AS VDATE,
PDBL.NVOCC_FLAG AS NVOCC_FLAG,

PDRC.CARRIER_DESC AS SLINE_DESC,
--Changes by Cognizant, 2-Nov-2009, Start
--PDBL.SLINE_REF_ID AS SLINE,
PDRC.SCAC AS SLINE,
--Changes by Cognizant, 2-Nov-2009, End

--Changes by Cognizant, 19-Jan-2010, Start
PDRCT.COUNTRY AS COUNTRYL,
--PDRCT.PIERS_COUNTRY AS COUNTRYL,
--Changes by Cognizant, 19-Jan-2010, End

PDBL.CTRYCODE AS CTRYCODE,

--DECODE(PDBL.DIRECTION,'I',PDRPA.CODE,PDRPD.CODE) AS USPORT_CODE,
CASE PDBL.DIRECTION WHEN 'I' THEN PDRPA.CODE ELSE PDRPD.CODE END AS USPORT_CODE,

--DECODE(PDBL.DIRECTION,'I',PDRPA.PIERS_NAME,PDRPD.PIERS_NAME) AS UNLADING_PORT_NAME,
CASE PDBL.DIRECTION WHEN 'I' THEN PDRPA.PIERS_NAME ELSE PDRPD.PIERS_NAME END AS UNLADING_PORT_NAME,

'' AS PORT_UNLADING_STATE,

--DECODE(PDBL.DIRECTION,'E',PDRPA.CODE,PDRPD.CODE) AS FPORT_CODE,
CASE PDBL.DIRECTION WHEN 'E' THEN PDRPA.CODE ELSE PDRPD.CODE END AS FPORT_CODE,

--DECODE(PDBL.DIRECTION,'E',PDRPA.PIERS_NAME,PDRPD.PIERS_NAME) AS FOREIGN_PORT_NAME,
CASE PDBL.DIRECTION WHEN 'E' THEN PDRPA.PIERS_NAME ELSE PDRPD.PIERS_NAME END AS FOREIGN_PORT_NAME,

'' AS REGION_ORIGIN,
'' AS US_COAST,
'V' AS VISIBILITY,
'' AS PORT_US_CLEARING_NAME,
'' AS PORT_US_CLEARING_ST,
'' AS PORT_US_CLEARING_DIST,

PDBL.MANIFEST_NUMBER AS MANIFEST_NBR,
PDBL.STND_EST_VALUE_DOLLAR AS VALUE,
--PDCM.HSCODE AS HARM_CODE,
--PDCM.JOC_CODE AS COMCODE,
PDBL.TEU AS TEU,
PDBL.NTERP_STD_WGT AS POUNDS,		    --Fetch Weight in KG, Fix for Data Quality Issue, Cognizant, 4-Nov-2009
--PDBL.WEIGHT AS POUNDS,	
PDBL.QUANTITY AS MANIFEST_QTY,
--PDCM.QTY AS QTY,
--PDCM.QTY_UNIT_REF_ID AS UM,
PDRU.UM AS U_M,
--PDCM.CMD_DESC AS COMMODITY,
PDBL.MODIFY_DATE AS UDATE,
PDBL.DIRECTION AS DIR,
PDBL.LOAD_NUMBER AS LOAD_NUMBER,
CASE PDBL.CNTR_FLG WHEN 'C' THEN 'Y' ELSE 'N' END AS CONFLAG,
LOAD_STATUS AS LOAD_STATUS 

 FROM PES_DW_BOL PDBL WITH (NOLOCK) 
LEFT OUTER JOIN PES_DW_REF_CARRIER PDRC WITH (NOLOCK)
 ON PDBL.SLINE_REF_ID=PDRC.ID 
LEFT OUTER JOIN PES_DW_REF_COUNTRY PDRCT WITH (NOLOCK) 
 ON PDBL.CTRYCODE=PDRCT.CTRY_CODE 
LEFT OUTER JOIN PES_DW_REF_PORT PDRPA WITH (NOLOCK) 
 ON PDBL.PORT_ARRIVE_REF_ID=PDRPA.ID 
LEFT OUTER JOIN PES_DW_REF_PORT PDRPD WITH (NOLOCK) 
 ON PDBL.PORT_DEPART_REF_ID=PDRPD.ID
LEFT OUTER JOIN PES_DW_REF_UOM PDRU WITH (NOLOCK) 
 ON PDBL.QTY_UNIT_REF_ID=PDRU.ID
/*Shree added to block the DIS feed data as per the US story US5474*/
--WHERE PDBL.VENDOR_CODE <>'DIS'
--WHERE ISNULL(PDBL.DELETED,'N')='N'
GO
