/****** Object:  View [dbo].[PES_DW_MHR_UPDATE]    Script Date: 01/08/2013 15:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PES_DW_MHR_UPDATE]
AS
(
SELECT A.BOL_ID,B.BOL_STATUS BILL_STATUS
FROM PES_DW_MHR A WITH (NOLOCK)
JOIN PES_RAW.PES.DBO.PES_STG_BOL B
ON A.BOL_ID = B.BOL_ID
WHERE MST_BOL_TYPE = 'M'
AND B.BOL_STATUS <> A.BILL_STATUS
)
GO
