USE [SCREEN_TEST]
GO
/****** Object:  StoredProcedure [dbo].[RETRIEVE_VESSEL_VOYAGES]    Script Date: 10/25/2012 13:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[RETRIEVE_VESSEL_VOYAGES]
	@PROD_START_DT		VARCHAR(10) =  NULL,
	@PROD_END_DT		VARCHAR(10) =  NULL,
	@MOD_START_DT		SMALLDATETIME = NULL,
	@MOD_END_DT			SMALLDATETIME = NULL,
	@DIRECTION			CHAR(1)			,
	@IS_TYPE_MODIFIED	BIT		= NULL	,
	@MANIFEST_SEL		CHAR(1)	= ''	,
	@REMARKS_SEL		CHAR(1)	= ''	,
	@HOLD_SEL			CHAR(1) = ''	,
	@COMPLETED_SEL		CHAR(1) = ''	,
	@REJECTED_SEL		CHAR(1) = ''	,
	@PORT_FLTR			VARCHAR(4) = ''	,
	@LINE_FLTR			VARCHAR(4) = ''	,
	@VESSEL_FLTR		VARCHAR(35)= ''	,
	@SORTED				BIT = 1			,
	@LOAD_INIT_VV		BIT = 0			,
	@LOAD_ALL_VV		BIT = 0			
AS
BEGIN
SET NOCOUNT ON;

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


--SET @SORTED = 1
--
--SET @PROD_START_DT = '01/01/2010'
--SET @PROD_END_DT = '08/13/2010'
--SET @IS_TYPE_MODIFIED = 0
--SET @MANIFEST_SEL = 'Y'
--SET @REMARKS_SEL = 'N'
--SET @HOLD_SEL = 'N'
--SET @COMPLETED_SEL = 'N'
--SET @REJECTED_SEL = 'N'
--SET @PORT_FLTR = ''
--SET @LINE_FLTR = ''
--SET @VESSEL_FLTR = ''

--@LOAD_ALL = 1 would load all the voyages to the result set without applying filters.
IF ( @LOAD_INIT_VV = 1 )
BEGIN

	SELECT 
		D.VOYAGE_ID, 
		D.MODIFIED_DT AS MODIFIED_DTFILTER, 
		D.VOYAGE_STATUS,ISNULL((CASE D.PORT_UNLADING_CD_MOD WHEN ' ' THEN NULL ELSE D.PORT_UNLADING_CD_MOD END),D.PORT_UNLADING_CD) as PORT_UNLADING_CD, 
		D.SCAC, 
		ISNULL((CASE D.VESSEL_NAME_MOD WHEN ' ' THEN NULL ELSE D.VESSEL_NAME_MOD END),D.VESSEL_NAME) AS NAME,
		ISNULL((CASE D.VOYAGE_NBR_MOD WHEN ' ' THEN NULL ELSE D.VOYAGE_NBR_MOD END),D.VOYAGE_NBR) AS VOYAGE_NBR,
		RTRIM(LTRIM(D.MANIFEST_NBR)) AS MANIFEST_NBR,
		CONVERT(VARCHAR(10),ISNULL((CASE D.ACT_ARRIVAL_DT_MOD WHEN ' ' THEN NULL ELSE D.ACT_ARRIVAL_DT_MOD END),D.ACT_ARRIVAL_DT),101) as ACT_ARRIVAL_DT,
		D.ACT_ARRIVAL_DT	, 
		D.EST_ARRIVAL_DT	, 
		D.EARLIEST_TAPE_DT	, 
		D.REMARKS as REMARKS,
		D.PENDING_CNT		, 
		D.SKIPPED_CNT		, 
		D.CLEANSED_CNT		, 
		D.PPMM_CNT			, 
		D.DELETED_CNT		, 
		D.TOTAL_CNT			, 
		D.LATE_BILLS_FLG	, 
		D.ACT_ARRIVAL_DT AS ACT_ARRIVAL_DT_FOR_CALC, 
		RTRIM(LTRIM(ACT_MANIFEST_NBR)) AS ACT_MANIFEST_NBR, 
		D.BATCH_ID			,
		D.VOYAGE_ID as V_ID	, 
		US_PORTNAME			, 
		CAST('O' AS CHAR(1)) AS Changed  
		FROM DQA_VOYAGE AS D WITH (NOLOCK) 
		WHERE 
		( 
			( D.VOYAGE_STATUS <> 'INPROCESS' )
			AND ( D.DIR = @DIRECTION )
			AND ( D.ACT_ARRIVAL_DT >=  CONVERT(VARCHAR(10),@PROD_START_DT,101) )   
			AND ( D.ACT_ARRIVAL_DT <=  CONVERT(VARCHAR(10),@PROD_END_DT, 101) )  
		)
		ORDER BY D.PORT_UNLADING_CD, D.SCAC, NAME, D.VOYAGE_NBR
END
ELSE IF ( @LOAD_ALL_VV = 1 )
BEGIN
	IF ( @IS_TYPE_MODIFIED = 1 )
	BEGIN
SELECT 
		D.VOYAGE_ID, 
		D.MODIFIED_DT AS MODIFIED_DTFILTER, 
		D.VOYAGE_STATUS,ISNULL((CASE D.PORT_UNLADING_CD_MOD WHEN ' ' THEN NULL ELSE D.PORT_UNLADING_CD_MOD END),D.PORT_UNLADING_CD) as PORT_UNLADING_CD, 
		D.SCAC, 
		ISNULL((CASE D.VESSEL_NAME_MOD WHEN ' ' THEN NULL ELSE D.VESSEL_NAME_MOD END),D.VESSEL_NAME) AS NAME,
		ISNULL((CASE D.VOYAGE_NBR_MOD WHEN ' ' THEN NULL ELSE D.VOYAGE_NBR_MOD END),D.VOYAGE_NBR) AS VOYAGE_NBR,
		RTRIM(LTRIM(D.MANIFEST_NBR)) AS MANIFEST_NBR,
		CONVERT(VARCHAR(10),ISNULL((CASE D.ACT_ARRIVAL_DT_MOD WHEN ' ' THEN NULL ELSE D.ACT_ARRIVAL_DT_MOD END),D.ACT_ARRIVAL_DT),101) as ACT_ARRIVAL_DT,
		D.ACT_ARRIVAL_DT	, 
		D.EST_ARRIVAL_DT	, 
		D.EARLIEST_TAPE_DT	, 
		D.REMARKS as REMARKS,
		D.PENDING_CNT		, 
		D.SKIPPED_CNT		, 
		D.CLEANSED_CNT		, 
		D.PPMM_CNT			, 
		D.DELETED_CNT		, 
		D.TOTAL_CNT			, 
		D.LATE_BILLS_FLG	, 
		D.ACT_ARRIVAL_DT AS ACT_ARRIVAL_DT_FOR_CALC, 
		RTRIM(LTRIM(ACT_MANIFEST_NBR)) AS ACT_MANIFEST_NBR, 
		D.BATCH_ID			,
		D.VOYAGE_ID as V_ID	, 
		US_PORTNAME			, 
		CAST('O' AS CHAR(1)) AS Changed  
		FROM DQA_VOYAGE AS D WITH (NOLOCK) 
		WHERE 
		( 
			( D.VOYAGE_STATUS <> 'INPROCESS' )
			AND ( D.DIR = @DIRECTION )
			AND ( CONVERT(VARCHAR(10),D.MODIFIED_DT,101) >= CONVERT(VARCHAR(10),@MOD_START_DT, 101) )
			AND ( CONVERT(VARCHAR(10),D.MODIFIED_DT,101) <= CONVERT(VARCHAR(10),@MOD_END_DT, 101)  )
		)
		ORDER BY 	
		CASE	WHEN @SORTED = 1 THEN D.SCAC 
				WHEN @SORTED = 0 THEN D.PORT_UNLADING_CD END ,
		CASE	WHEN @SORTED = 1 THEN ISNULL((CASE D.VESSEL_NAME_MOD WHEN ' ' THEN NULL ELSE D.VESSEL_NAME_MOD END),D.VESSEL_NAME)  
				WHEN @SORTED = 0 THEN D.SCAC  END ,
		CASE	WHEN @SORTED = 1 THEN D.VOYAGE_NBR  
				WHEN @SORTED = 0 THEN ISNULL((CASE D.VESSEL_NAME_MOD WHEN ' ' THEN NULL ELSE D.VESSEL_NAME_MOD END),D.VESSEL_NAME) END,
		CASE	WHEN @SORTED = 1 THEN D.PORT_UNLADING_CD  
				WHEN @SORTED = 0 THEN D.VOYAGE_NBR
		END
	END
	ELSE
	BEGIN
	SELECT 
		D.VOYAGE_ID, 
		D.MODIFIED_DT AS MODIFIED_DTFILTER, 
		D.VOYAGE_STATUS,ISNULL((CASE D.PORT_UNLADING_CD_MOD WHEN ' ' THEN NULL ELSE D.PORT_UNLADING_CD_MOD END),D.PORT_UNLADING_CD) as PORT_UNLADING_CD, 
		D.SCAC, 
		ISNULL((CASE D.VESSEL_NAME_MOD WHEN ' ' THEN NULL ELSE D.VESSEL_NAME_MOD END),D.VESSEL_NAME) AS NAME,
		ISNULL((CASE D.VOYAGE_NBR_MOD WHEN ' ' THEN NULL ELSE D.VOYAGE_NBR_MOD END),D.VOYAGE_NBR) AS VOYAGE_NBR,
		RTRIM(LTRIM(D.MANIFEST_NBR)) AS MANIFEST_NBR,
		CONVERT(VARCHAR(10),ISNULL((CASE D.ACT_ARRIVAL_DT_MOD WHEN ' ' THEN NULL ELSE D.ACT_ARRIVAL_DT_MOD END),D.ACT_ARRIVAL_DT),101) as ACT_ARRIVAL_DT,
		D.ACT_ARRIVAL_DT	, 
		D.EST_ARRIVAL_DT	, 
		D.EARLIEST_TAPE_DT	, 
		D.REMARKS as REMARKS,
		D.PENDING_CNT		, 
		D.SKIPPED_CNT		, 
		D.CLEANSED_CNT		, 
		D.PPMM_CNT			, 
		D.DELETED_CNT		, 
		D.TOTAL_CNT			, 
		D.LATE_BILLS_FLG	, 
		D.ACT_ARRIVAL_DT AS ACT_ARRIVAL_DT_FOR_CALC, 
		RTRIM(LTRIM(ACT_MANIFEST_NBR)) AS ACT_MANIFEST_NBR, 
		D.BATCH_ID			,
		D.VOYAGE_ID as V_ID	, 
		US_PORTNAME			, 
		CAST('O' AS CHAR(1)) AS Changed  
		FROM DQA_VOYAGE AS D WITH (NOLOCK) 
		WHERE 
		( 
			( D.VOYAGE_STATUS <> 'INPROCESS' )
			AND ( D.DIR = @DIRECTION )
		)
		ORDER BY 	
		CASE	WHEN @SORTED = 1 THEN D.SCAC 
				WHEN @SORTED = 0 THEN D.PORT_UNLADING_CD END ,
		CASE	WHEN @SORTED = 1 THEN ISNULL((CASE D.VESSEL_NAME_MOD WHEN ' ' THEN NULL ELSE D.VESSEL_NAME_MOD END),D.VESSEL_NAME)  
				WHEN @SORTED = 0 THEN D.SCAC  END ,
		CASE	WHEN @SORTED = 1 THEN D.VOYAGE_NBR  
				WHEN @SORTED = 0 THEN ISNULL((CASE D.VESSEL_NAME_MOD WHEN ' ' THEN NULL ELSE D.VESSEL_NAME_MOD END),D.VESSEL_NAME) END,
		CASE	WHEN @SORTED = 1 THEN D.PORT_UNLADING_CD  
				WHEN @SORTED = 0 THEN D.VOYAGE_NBR
		END
	END
END
ELSE 
BEGIN
	IF ( @IS_TYPE_MODIFIED = 1 )
	BEGIN
		SELECT 
			D.VOYAGE_ID, 
			D.MODIFIED_DT AS MODIFIED_DTFILTER, 
			D.VOYAGE_STATUS,ISNULL((CASE D.PORT_UNLADING_CD_MOD WHEN ' ' THEN NULL ELSE D.PORT_UNLADING_CD_MOD END),D.PORT_UNLADING_CD) as PORT_UNLADING_CD, 
			D.SCAC, 
			ISNULL((CASE D.VESSEL_NAME_MOD WHEN ' ' THEN NULL ELSE D.VESSEL_NAME_MOD END),D.VESSEL_NAME) AS NAME,
			ISNULL((CASE D.VOYAGE_NBR_MOD WHEN ' ' THEN NULL ELSE D.VOYAGE_NBR_MOD END),D.VOYAGE_NBR) AS VOYAGE_NBR,
			RTRIM(LTRIM(D.MANIFEST_NBR)) AS MANIFEST_NBR,
			CONVERT(VARCHAR(10),ISNULL((CASE D.ACT_ARRIVAL_DT_MOD WHEN ' ' THEN NULL ELSE D.ACT_ARRIVAL_DT_MOD END),D.ACT_ARRIVAL_DT),101) as ACT_ARRIVAL_DT,
			D.ACT_ARRIVAL_DT	, 
			D.EST_ARRIVAL_DT	, 
			D.EARLIEST_TAPE_DT	, 
			D.REMARKS as REMARKS,
			D.PENDING_CNT		, 
			D.SKIPPED_CNT		, 
			D.CLEANSED_CNT		, 
			D.PPMM_CNT			, 
			D.DELETED_CNT		, 
			D.TOTAL_CNT			, 
			D.LATE_BILLS_FLG	, 
			D.ACT_ARRIVAL_DT AS ACT_ARRIVAL_DT_FOR_CALC, 
			RTRIM(LTRIM(ACT_MANIFEST_NBR)) AS ACT_MANIFEST_NBR, 
			D.BATCH_ID			,
			D.VOYAGE_ID as V_ID	, 
			US_PORTNAME			, 
			CAST('O' AS CHAR(1)) AS Changed  
		FROM DQA_VOYAGE AS D WITH (NOLOCK) 
		WHERE 
		( 
			( D.VOYAGE_STATUS <> 'INPROCESS' )
			AND ( D.DIR = @DIRECTION )
			AND ( CONVERT(VARCHAR(10),D.MODIFIED_DT,101) >= CONVERT(VARCHAR(10),@MOD_START_DT, 101) )
			AND ( CONVERT(VARCHAR(10),D.MODIFIED_DT,101) <= CONVERT(VARCHAR(10),@MOD_END_DT, 101)  )
			AND ( D.ACT_ARRIVAL_DT >=  CONVERT(VARCHAR(10),@PROD_START_DT,101) )   
			AND ( D.ACT_ARRIVAL_DT <=  CONVERT(VARCHAR(10),@PROD_END_DT, 101) )  
			AND 
			( 
				( CASE WHEN @MANIFEST_SEL = 'Y' THEN ISNULL(D.ACT_MANIFEST_NBR, '') ELSE ( CASE WHEN @MANIFEST_SEL = '' THEN 'Y' ELSE '' END ) END ) <> '' OR
				( CASE WHEN @MANIFEST_SEL = 'N' THEN ISNULL(D.ACT_MANIFEST_NBR, '') END ) = ''
			)
			AND 
			( 
				( CASE WHEN @REMARKS_SEL = 'Y' THEN ISNULL(D.REMARKS, '') ELSE ( CASE WHEN @REMARKS_SEL = '' THEN 'Y' ELSE '' END ) END ) <> '' OR
				( CASE WHEN @REMARKS_SEL = 'N' THEN ISNULL(D.REMARKS, '') END ) = ''
			)
			AND 
			( 
				( CASE WHEN @HOLD_SEL = 'Y' THEN D.VOYAGE_STATUS ELSE ( CASE WHEN @HOLD_SEL = '' THEN 'HOLD' ELSE 'AVAILABLE' END ) END ) = 'HOLD' OR
				( CASE WHEN @HOLD_SEL = 'N' THEN D.VOYAGE_STATUS END ) <> 'HOLD'
			)
			AND 
			( 
				( CASE WHEN @COMPLETED_SEL = 'Y' THEN D.CLEANSED_CNT ELSE ( CASE WHEN @COMPLETED_SEL = '' THEN 1 ELSE 0 END ) END ) > 0  OR
				( CASE WHEN @COMPLETED_SEL = 'N' THEN D.CLEANSED_CNT END ) = 0
			)
			AND 
			( 
				( CASE WHEN @REJECTED_SEL = 'Y' THEN D.VOYAGE_STATUS ELSE ( CASE WHEN @REJECTED_SEL = '' THEN 'REJECTED' ELSE '' END ) END ) = 'REJECTED'   OR
				( CASE WHEN @REJECTED_SEL = 'N' THEN D.VOYAGE_STATUS END ) IN ('AVAILABLE', 'HOLD')
			)
			AND ( (CASE WHEN LEN(@PORT_FLTR) > 0 THEN D.PORT_UNLADING_CD ELSE @PORT_FLTR END) LIKE @PORT_FLTR + '%' )
			AND ( (CASE WHEN LEN(@LINE_FLTR) > 0 THEN D.SCAC ELSE @PORT_FLTR END ) LIKE @LINE_FLTR + '%' )
			AND ( (CASE WHEN LEN(@VESSEL_FLTR) > 0 THEN D.VESSEL_NAME ELSE @PORT_FLTR END ) LIKE @VESSEL_FLTR + '%' )
		)
		ORDER BY 	
		CASE	WHEN @SORTED = 1 THEN D.SCAC 
				WHEN @SORTED = 0 THEN D.PORT_UNLADING_CD END ,
		CASE	WHEN @SORTED = 1 THEN ISNULL((CASE D.VESSEL_NAME_MOD WHEN ' ' THEN NULL ELSE D.VESSEL_NAME_MOD END),D.VESSEL_NAME)  
				WHEN @SORTED = 0 THEN D.SCAC  END ,
		CASE	WHEN @SORTED = 1 THEN D.VOYAGE_NBR  
				WHEN @SORTED = 0 THEN ISNULL((CASE D.VESSEL_NAME_MOD WHEN ' ' THEN NULL ELSE D.VESSEL_NAME_MOD END),D.VESSEL_NAME) END,
		CASE	WHEN @SORTED = 1 THEN D.PORT_UNLADING_CD  
				WHEN @SORTED = 0 THEN D.VOYAGE_NBR
		END 			 
	END
	ELSE
	BEGIN
		SELECT 
			D.VOYAGE_ID, 
			D.MODIFIED_DT AS MODIFIED_DTFILTER, 
			D.VOYAGE_STATUS,ISNULL((CASE D.PORT_UNLADING_CD_MOD WHEN ' ' THEN NULL ELSE D.PORT_UNLADING_CD_MOD END),
			D.PORT_UNLADING_CD) as PORT_UNLADING_CD, 
			D.SCAC, 
			ISNULL((CASE D.VESSEL_NAME_MOD WHEN ' ' THEN NULL ELSE D.VESSEL_NAME_MOD END),D.VESSEL_NAME) as NAME,
			ISNULL((CASE D.VOYAGE_NBR_MOD WHEN ' ' THEN NULL ELSE D.VOYAGE_NBR_MOD END),D.VOYAGE_NBR) as VOYAGE_NBR,
			RTRIM(LTRIM(D.MANIFEST_NBR)) AS MANIFEST_NBR,
			CONVERT(VARCHAR(10),ISNULL((CASE D.ACT_ARRIVAL_DT_MOD WHEN ' ' THEN NULL ELSE D.ACT_ARRIVAL_DT_MOD END),D.ACT_ARRIVAL_DT),101) AS ACT_ARRIVAL_DT,
			D.ACT_ARRIVAL_DT	, 
			D.EST_ARRIVAL_DT	, 
			D.EARLIEST_TAPE_DT	, 
			D.REMARKS as REMARKS,
			D.PENDING_CNT		, 
			D.SKIPPED_CNT		, 
			D.CLEANSED_CNT		, 
			D.PPMM_CNT			, 
			D.DELETED_CNT		, 
			D.TOTAL_CNT			, 
			D.LATE_BILLS_FLG	, 
			D.ACT_ARRIVAL_DT AS ACT_ARRIVAL_DT_FOR_CALC, 
			RTRIM(LTRIM(ACT_MANIFEST_NBR)) AS ACT_MANIFEST_NBR, 
			D.BATCH_ID			,
			D.VOYAGE_ID as V_ID	, 
			US_PORTNAME			, 
			CAST('O' AS CHAR(1)) AS Changed  
		FROM DQA_VOYAGE AS D WITH (NOLOCK) 
		WHERE 
		( 
			( D.VOYAGE_STATUS <> 'INPROCESS' )
			AND ( D.DIR = @DIRECTION )
			AND ( D.ACT_ARRIVAL_DT >=  CONVERT(VARCHAR(10),@PROD_START_DT,101) )   
			AND ( D.ACT_ARRIVAL_DT <=  CONVERT(VARCHAR(10),@PROD_END_DT, 101) )  
			AND 
			( 
				( CASE WHEN @MANIFEST_SEL = 'Y' THEN ISNULL(D.ACT_MANIFEST_NBR, '') ELSE ( CASE WHEN @MANIFEST_SEL = '' THEN 'Y' ELSE '' END ) END ) <> '' OR
				( CASE WHEN @MANIFEST_SEL = 'N' THEN ISNULL(D.ACT_MANIFEST_NBR, '') END ) = ''
			)
			AND 
			( 
				( CASE WHEN @REMARKS_SEL = 'Y' THEN ISNULL(D.REMARKS, '') ELSE ( CASE WHEN @REMARKS_SEL = '' THEN 'Y' ELSE '' END ) END ) <> '' OR
				( CASE WHEN @REMARKS_SEL = 'N' THEN ISNULL(D.REMARKS, '') END ) = ''
			)
			AND 
			( 
				( CASE WHEN @HOLD_SEL = 'Y' THEN D.VOYAGE_STATUS ELSE ( CASE WHEN @HOLD_SEL = '' THEN 'HOLD' ELSE 'AVAILABLE' END ) END ) = 'HOLD' OR
				( CASE WHEN @HOLD_SEL = 'N' THEN D.VOYAGE_STATUS END ) <> 'HOLD'
			)
			AND 
			( 
				( CASE WHEN @COMPLETED_SEL = 'Y' THEN D.CLEANSED_CNT ELSE ( CASE WHEN @COMPLETED_SEL = '' THEN 1 ELSE 0 END ) END ) > 0  OR
				( CASE WHEN @COMPLETED_SEL = 'N' THEN D.CLEANSED_CNT END ) = 0
			)
			AND 
			( 
				( CASE WHEN @REJECTED_SEL = 'Y' THEN D.VOYAGE_STATUS ELSE ( CASE WHEN @REJECTED_SEL = '' THEN 'REJECTED' ELSE '' END ) END ) = 'REJECTED'   OR
				( CASE WHEN @REJECTED_SEL = 'N' THEN D.VOYAGE_STATUS END ) IN ('AVAILABLE', 'HOLD')
			)
			AND ( (CASE WHEN LEN(@PORT_FLTR) > 0 THEN D.PORT_UNLADING_CD ELSE @PORT_FLTR END) LIKE @PORT_FLTR + '%' )
			AND ( (CASE WHEN LEN(@LINE_FLTR) > 0 THEN D.SCAC ELSE @PORT_FLTR END ) LIKE @LINE_FLTR + '%' )
			AND ( (CASE WHEN LEN(@VESSEL_FLTR) > 0 THEN D.VESSEL_NAME ELSE @PORT_FLTR END ) LIKE @VESSEL_FLTR + '%' )
		)
		ORDER BY 	
		CASE	WHEN @SORTED = 1 THEN D.SCAC 
				WHEN @SORTED = 0 THEN D.PORT_UNLADING_CD END ,
		CASE	WHEN @SORTED = 1 THEN ISNULL((CASE D.VESSEL_NAME_MOD WHEN ' ' THEN NULL ELSE D.VESSEL_NAME_MOD END),D.VESSEL_NAME)  
				WHEN @SORTED = 0 THEN D.SCAC  END ,
		CASE	WHEN @SORTED = 1 THEN D.VOYAGE_NBR  
				WHEN @SORTED = 0 THEN ISNULL((CASE D.VESSEL_NAME_MOD WHEN ' ' THEN NULL ELSE D.VESSEL_NAME_MOD END),D.VESSEL_NAME) END,
		CASE	WHEN @SORTED = 1 THEN D.PORT_UNLADING_CD  
				WHEN @SORTED = 0 THEN D.VOYAGE_NBR
		END 			 
	END
END

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END



