BEGIN TRAN
INSERT INTO [GTCORE_MASTERDATA].[DBO].[REF_CARRIER]
           ([TYPE],[CODE],[NAME],[ACTIVE],[IS_NVO],[DELETED],[IS_TMP],[MODIFIED_DT],[MODIFIED_BY],[CARRIER_DESC])
     VALUES
           ('DLPD','DLPD',NULL,'Y','Y','N','N',GETDATE(),'DBO','DAHNAY LOGISTICS')


-- GET RECORDS TO BE UPDATED INTO TEMP TABLE
SELECT * INTO TEMP_PES.DBO.DLPD_UPDATE FROM PES.DBO.PES_STG_BOL (NOLOCK)
WHERE BOL_NBR LIKE 'DLPD%' AND ISNULL(NVO_SCAC,'') = ''


SELECT NVO_SCAC,* FROM TEMP_PES.DBO.DLPD_UPDATE 

-- 2872 ROWS UPDATED
UPDATE STG SET NVO_SCAC = 'DLPD',MODIFY_DATE = GETDATE()
FROM PES.DBO.PES_STG_BOL STG,TEMP_PES.DBO.DLPD_UPDATE UPD
WHERE STG.BOL_ID = UPD.BOL_ID

SELECT NVO_SCAC,* FROM PES_STG_BOL (NOLOCK) WHERE NVO_SCAC = 'DLPD'

SELECT TOP 20 NVO_SCAC,* FROM PES_STG_BOL (NOLOCK) WHERE ISNULL(NVO_SCAC,'') <> ''

-- 2747 ROWS
UPDATE CMD SET MODIFY_DATE = GETDATE()
FROM PES.DBO.PES_STG_CMD CMD,TEMP_PES.DBO.DLPD_UPDATE UPD
WHERE CMD.BOL_ID = UPD.BOL_ID

SELECT TOP 10 * FROM PES_STG_CMD (NOLOCK)

COMMIT TRAN

 

