USE [PES]
GO
/********************************************************************************
Object     :  StoredProcedure [dbo].[PES_REMOVE_STG_DIS_DUPLICATES]    
Script Date: 
11/15/2012 : Modified by Dhanya - Sailing dates in raw tables were not matching for 
			  the DIS and Other feeds.Duplicates query updated to use PES_STG_BOL 
**********************************************************************************/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PES_REMOVE_STG_DIS_DUPLICATES]     
(     
 @YEAR VARCHAR(20) = '2012',    
 @MONTH VARCHAR(50) = '03,04,05,06,07,08,09,10,11,12',    
 @DIS_VENDOR_CODE VARCHAR(20) = 'DIS',    
 @OTHER_VENDOR_CODE VARCHAR(100) = 'APLU,ESCAN,CRLE,CSCO,EVER,MAEU,MES,OOLU,SBRE,TRBR'    
)    
AS

SET NOCOUNT ON;    
  
BEGIN TRAN   
  
TRUNCATE TABLE TEMP_PES.DBO.DIS_DUPLICATES    
TRUNCATE TABLE TEMP_PES.DBO.ESCAN_DUPLICATES    
TRUNCATE TABLE TEMP_PES.DBO.DISESCAN_DUPLICATES     
TRUNCATE TABLE TEMP_PES.DBO.ONLYDIS_DUPLICATES    
TRUNCATE TABLE TEMP_PES.DBO.ONLYDIS_DUP    
    
SET @MONTH =  REPLACE(@MONTH,',',''',''')     
SET @OTHER_VENDOR_CODE = REPLACE(@OTHER_VENDOR_CODE,',',''',''')    
    
DECLARE @SQL NVARCHAR(500)    
DECLARE @SQL2 NVARCHAR(500)    
DECLARE @SQL3 NVARCHAR(500)    
DECLARE @SQL4 NVARCHAR(500)     
DECLARE @SQL5 NVARCHAR(500)     
DECLARE @SQL6 NVARCHAR(500) 
 
    
-- FIND THE DUPLICATE BILL NUMBERS FROM DIS AND OTHER FEEDS   

-- SET @SQL2 = 'INSERT INTO  TEMP_PES.DBO.DIS_DUPLICATES SELECT D.BOL_ID, D.BOL_NUMBER,DISCHARGE_PORT, PORT_OF_DESTINATION, VOYAGE_NUMBER, D.SAILING_DATE FROM PES.DBO.ARCHIVE_RAW_BOL D (NOLOCK)  WHERE D.VENDOR_CODE= ''' +@DIS_VENDOR_CODE+ ''' AND SUBSTRING(D.SAILING_DATE,1,2) IN (''' +@MONTH+ ''') AND SUBSTRING(D.SAILING_DATE,5,4)=''' +@YEAR+ ''''    
SET @SQL2 = 'INSERT INTO TEMP_PES.DBO.DIS_DUPLICATES SELECT D.BOL_ID, D.BOL_NBR,PORT_DEPART_REF_ID, PORT_ARRIVE_REF_ID, VOYAGE, D.VDATE FROM PES.DBO.PES_STG_BOL D (NOLOCK) WHERE D.REF_VENDOR_CODE = ''' +@DIS_VENDOR_CODE+ ''' AND SUBSTRING(convert(varchar(8),getdate(),112),5,2) IN (''' +@MONTH+ ''') AND SUBSTRING(convert(varchar(8),D.VDATE,112),1,4) =''' +@YEAR+ ''' AND ISNULL(IS_DELETED,'''') <> ''Y'''    
EXEC (@SQL2)    
    
-- SET @SQL3 = 'INSERT INTO  TEMP_PES.DBO.ESCAN_DUPLICATES SELECT  D.BOL_ID, D.BOL_NUMBER,DISCHARGE_PORT, PORT_OF_DESTINATION, VOYAGE_NUMBER, D.SAILING_DATE  FROM PES.DBO.ARCHIVE_RAW_BOL D (NOLOCK)  WHERE D.VENDOR_CODE IN (''' +@OTHER_VENDOR_CODE+ ''') AND SUBSTRING(D.SAILING_DATE,1,2) IN (''' +@MONTH+ ''') AND SUBSTRING(D.SAILING_DATE,5,4)=''' +@YEAR+ ''''   
SET @SQL3 = 'INSERT INTO  TEMP_PES.DBO.ESCAN_DUPLICATES SELECT D.BOL_ID, D.BOL_NBR,PORT_DEPART_REF_ID, PORT_ARRIVE_REF_ID, VOYAGE, D.VDATE FROM PES.DBO.PES_STG_BOL D (NOLOCK) WHERE D.REF_VENDOR_CODE IN (''' +@OTHER_VENDOR_CODE+ ''') AND SUBSTRING(convert(varchar(8),getdate(),112),5,2) IN (''' +@MONTH+ ''') AND SUBSTRING(convert(varchar(8),D.VDATE,112),1,4) =''' +@YEAR+ ''' AND ISNULL(IS_DELETED,'''') <> ''Y'''     
EXEC (@SQL3)    
    
-- CREATING INDEXES ON TEMP_PES.DBO.DIS_DUPLICATES & TEMP_PES.DBO.ESCAN_DUPLICATES    
--DROP INDEX IDX_DIS ON TEMP_PES.DBO.DIS_DUPLICATES    
SET @SQL4 = 'CREATE NONCLUSTERED INDEX IDX_DIS ON TEMP_PES.DBO.DIS_DUPLICATES(BOL_NBR,PORT_DEPART_REF_ID,PORT_ARRIVE_REF_ID,VDATE)'    
EXEC (@SQL4)    
    
--DROP INDEX IDX_ESCAN ON TEMP_PES.DBO.ESCAN_DUPLICATES    
SET @SQL5 = 'CREATE NONCLUSTERED INDEX IDX_ESCAN ON TEMP_PES.DBO.ESCAN_DUPLICATES(BOL_NBR,PORT_DEPART_REF_ID,PORT_ARRIVE_REF_ID,VDATE)'    
EXEC (@SQL5)    
    
INSERT INTO TEMP_PES.DBO.DISESCAN_DUPLICATES    
SELECT E.BOL_ID, E.BOL_NBR,E.PORT_DEPART_REF_ID, E.PORT_ARRIVE_REF_ID, E.VOYAGE, E.VDATE,    
    D.BOL_ID DIS_BOL_ID, D.BOL_NBR DIS_BILL_NUMBER,D.PORT_DEPART_REF_ID DIS_DISCHARGEPORT,     
       D.PORT_ARRIVE_REF_ID DIS_PORTOFDESTINATION, D.VOYAGE DIS_VOYAGENUMBER, D.VDATE DIS_VDATE    
FROM TEMP_PES.DBO.DIS_DUPLICATES D JOIN TEMP_PES.DBO.ESCAN_DUPLICATES E ON     
(D.BOL_NBR=E.BOL_NBR     
AND D.PORT_DEPART_REF_ID=E.PORT_DEPART_REF_ID     
AND D.PORT_ARRIVE_REF_ID=E.PORT_ARRIVE_REF_ID    
--AND D.VOYAGE_NUMBER=E.VOYAGE_NUMBER    
AND D.VDATE=E.VDATE)    
    
    
DROP INDEX IDX_DISESCAN ON TEMP_PES.DBO.DISESCAN_DUPLICATES    
SET @SQL6 = 'CREATE NONCLUSTERED INDEX IDX_DISESCAN ON TEMP_PES.DBO.DISESCAN_DUPLICATES(DIS_BOL_ID)'    
EXEC (@SQL6)    
    
   
    
/* DELETE DIS RECORDS - UPDATING THE STG BOL TABLE FOR THE DUPLICATE DIS ESCAN BOL_NUMBERS*/     
UPDATE  STG    
SET  STG.IS_DELETED='Y',MODIFY_DATE=GETDATE()    
--SELECT count(*)    
FROM PES.DBO.PES_STG_BOL STG WHERE STG.BOL_ID IN     
(SELECT DIS_BOL_ID FROM TEMP_PES.DBO.DISESCAN_DUPLICATES  WITH (NOLOCK))    
AND STG.REF_VENDOR_CODE=@DIS_VENDOR_CODE    
AND ISNULL(STG.IS_DELETED,'') <> 'Y'    
--AND STG.REF_VENDOR_CODE= 'DIS'    
    
/* UPDATING THE STG CMD TABLE FOR THE DUPLICATE DIS ESCAN BOL_NUMBERS*/     
    
UPDATE  STGCMD    
SET  STGCMD.IS_DELETE='Y',MODIFY_DATE=GETDATE()    
--SELECT COUNT(*)    
FROM PES.DBO.PES_STG_CMD STGCMD WHERE STGCMD.BOL_ID IN     
(SELECT DIS_BOL_ID FROM TEMP_PES.DBO.DISESCAN_DUPLICATES  WITH (NOLOCK))    
AND ISNULL(STGCMD.IS_DELETE,'') <> 'Y'    
    
--COMMIT TRAN    
    
/* INSERTING ALL THE ONLY DIS DUPLICATE DATA INTO THE PHYSICAL TABLE */    
SET @SQL = 'INSERT INTO TEMP_PES.DBO.ONLYDIS_DUPLICATES SELECT D.BOL_ID, D.BOL_NUMBER,DISCHARGE_PORT, PORT_OF_DESTINATION, VOYAGE_NUMBER, D.SAILING_DATE FROM PES.DBO.ARCHIVE_RAW_BOL D (NOLOCK)  WHERE D.VENDOR_CODE= ''' +@DIS_VENDOR_CODE+ ''' AND SUBSTRING(D.SAILING_DATE,1,2) IN (''' +@MONTH+ ''') AND SUBSTRING(D.SAILING_DATE,5,4)=''' +@YEAR+ ''''    
EXEC (@SQL)    
    
/* PULLING ALL THE DUPLICATE BOL_NBR FROM THE PHYSICAL TABLE WHAT HAS THE DUPLICATE DIS RECORDS */    
;WITH CTE     
AS    
(    
SELECT BOL_NUMBER,BOL_ID ,ROW_NUMBER() OVER (PARTITION BY BOL_NUMBER ORDER BY BOL_NUMBER ) AS ROWID    
 FROM TEMP_PES.DBO.ONLYDIS_DUPLICATES    
),    
TMPA     
AS     
(    
SELECT * FROM  CTE     
WHERE ROWID>1    
)    
INSERT INTO TEMP_PES.DBO.ONLYDIS_DUP SELECT * FROM TMPA     
    
DROP INDEX IDX_ONLYDIS_BOL_ID ON TEMP_PES.DBO.ONLYDIS_DUP    
SET @SQL6 = 'CREATE NONCLUSTERED INDEX IDX_ONLYDIS_BOL_ID ON TEMP_PES.DBO.ONLYDIS_DUP(BOL_ID)'    
EXEC (@SQL6)    
    
--BEGIN TRAN    
    
/* DELETE DUPLICATES FROM STG BOL TABLE FOR THE DUPLICATE DIS BOL_NUMBERS*/    
UPDATE  STG    
SET  STG.IS_DELETED='Y',MODIFY_DATE=GETDATE()    
--SELECT COUNT(*)    
FROM PES.DBO.PES_STG_BOL STG WHERE STG.BOL_ID IN     
(SELECT BOL_ID FROM TEMP_PES.DBO.ONLYDIS_DUP  WITH (NOLOCK))    
AND STG.REF_VENDOR_CODE=@DIS_VENDOR_CODE    
AND ISNULL(STG.IS_DELETED,'') <> 'Y'    
    
/* DELETE DUPLICATES FROM STG CMD TABLE FOR THE DUPLICATE DIS BOL_NUMBERS*/    
UPDATE  STGCMD    
SET  STGCMD.IS_DELETE='Y',MODIFY_DATE=GETDATE()    
--SELECT COUNT(*)    
FROM PES.DBO.PES_STG_CMD STGCMD WHERE STGCMD.BOL_ID IN     
(SELECT BOL_ID FROM TEMP_PES.DBO.ONLYDIS_DUP  WITH (NOLOCK))    
AND ISNULL(STGCMD.IS_DELETE,'') <> 'Y'    
    
/* UPDATING THE MODIFY DATE IN THE STG BOL TABLE FOR THE VALID DIS DATA*/     
UPDATE  STG SET  STG.MODIFY_DATE=GETDATE()    
--SELECT top 1 *    
FROM PES.DBO.PES_STG_BOL STG     
 WHERE STG.REF_VENDOR_CODE=@DIS_VENDOR_CODE    
AND ISNULL(STG.IS_DELETED,'') <> 'Y'   
AND STG.MODIFY_DATE >= (GETDATE()-10)   
--AND STG.REF_VENDOR_CODE= 'DIS'    
    
/* UPDATING THE MODIFY DATE IN THE STG CMD TABLE FOR THE VALID DIS DATA*/    
    
UPDATE  STGCMD    
SET  STGCMD.MODIFY_DATE=GETDATE()    
--SELECT COUNT(*)    
FROM PES.DBO.PES_STG_CMD STGCMD WHERE STGCMD.BOL_ID IN     
(SELECT BOL_ID FROM PES.DBO.PES_STG_BOL WITH (NOLOCK)    
WHERE REF_VENDOR_CODE=@DIS_VENDOR_CODE)    
AND ISNULL(STGCMD.IS_DELETE,'') <> 'Y'    
AND STGCMD.MODIFY_DATE >= (GETDATE()-10)   
    
IF(@@ERROR <> 0)     
BEGIN    
  ROLLBACK TRAN    
  PRINT N'ERROR: TRANSACTION ROLLED BACK DUPLICATES DELETE FAILED';    
END    
ELSE    
BEGIN    
        COMMIT TRAN    
  PRINT N'DUPLICATES DELETED SUCCESSFULLY';    
      
END    
    
    
    
    
    