USE [PES]
GO
/****** Object:  StoredProcedure [dbo].[PES_UPDATE_BLANK_REGISTRY]    Script Date: 11/27/2012 18:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_UPDATE_BLANK_REGISTRY]
AS
IF OBJECT_ID('TEMPREGISTRY') IS NOT NULL 
BEGIN 
    DROP TABLE TEMPREGISTRY
END
IF OBJECT_ID('REG_UPDATE') IS NOT NULL 
BEGIN 
    DROP TABLE REG_UPDATE
END
 
BEGIN TRAN
-- FETCH THE RECORDS WITH REGISTRY EXCEPTIONS
-- FIND THE COUNTRY FOR THESE VESSELS FROM REF_VESSEL TABLE
SELECT STG.BOL_ID,STG.VESSEL_NAME,REF.VESSEL_COUNTRY 
INTO TEMPREGISTRY
FROM PES_STG_BOL STG,REF_VESSEL REF(NOLOCK)
WHERE STG.VESSEL_NAME = REF.NAME
AND STG.REGISTRY_ID = 0
AND REF.VESSEL_COUNTRY IS NOT NULL
AND ISNULL(IS_DELETED,'N') <> 'Y'
AND IS_TMP <> 'Y'

SELECT REF.COUNTRY_ID,UPD.* 
INTO REG_UPDATE
FROM TEMPREGISTRY UPD,REF_COUNTRY REF
WHERE UPD.VESSEL_COUNTRY = COUNTRY

SELECT NAME,COUNT(*) FROM REF_VESSEL (NOLOCK) 
WHERE DELETED = 'N' AND ISNULL(VESSEL_COUNTRY,'') <> '' AND IS_TMP <> 'Y'
GROUP BY NAME
HAVING COUNT(*) > 1 

SELECT * FROM REF_VESSEL (NOLOCK)  
WHERE NAME = 'NYK SILVIA' AND DELETED = 'N' AND ISNULL(VESSEL_COUNTRY,'') <> ''



WHERE NAME = 'ITAL MELODIA' and deleted = 'N'
select * from REG_UPDATE

--UPDATE STG SET REGISTRY_ID = UPD1.COUNTRY_ID,MODIFY_DATE = GETDATE(),MODIFY_USER = 'DATA_DEV'
FROM PES_STG_BOL STG,REG_UPDATE UPD1
WHERE STG.BOL_ID = UPD1.BOL_ID

IF(@@ERROR <> 0) 
BEGIN
		ROLLBACK TRAN
		PRINT N'ERROR: BLANK VESSEL NAMES UPDATE FAILED';
END
ELSE
BEGIN
        COMMIT TRAN
		PRINT N'VESSEL NAMES UPDATED SUCCESSFULLY';
		
END





