USE [PES]
GO
/****** Object:  StoredProcedure [dbo].[PES_REMOVE_STG_DIS_DUPLICATES]    Script Date: 12/26/2012 17:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PES_REMOVE_STG_DIS_DUPLICATES]   
(   
 @YEAR VARCHAR(20) = '2012',  
 @MONTH VARCHAR(50) = '03,04,05,06,07,08,09,10,11',  
 @DIS_VENDOR_CODE VARCHAR(20) = 'DIS',  
 @OTHER_VENDOR_CODE VARCHAR(100) = 'APLU,ESCAN,CRLE,CSCO,EVER,MAEU,MES,OOLU,SBRE,TRBR'  
)  
AS  

BEGIN TRAN 

TRUNCATE TABLE TEMP_PES.DBO.DIS_DUPLICATES  
TRUNCATE TABLE TEMP_PES.DBO.ESCAN_DUPLICATES  
TRUNCATE TABLE TEMP_PES.DBO.DISESCAN_DUPLICATES   
TRUNCATE TABLE TEMP_PES.DBO.ONLYDIS_DUPLICATES  
TRUNCATE TABLE TEMP_PES.DBO.ONLYDIS_DUP  
  
SET @MONTH =  REPLACE(@MONTH,',',''',''')   
SET @OTHER_VENDOR_CODE = REPLACE(@OTHER_VENDOR_CODE,',',''',''')  
  
DECLARE @SQL NVARCHAR(500)  
DECLARE @SQL2 NVARCHAR(500)  
DECLARE @SQL3 NVARCHAR(500)  
DECLARE @SQL4 NVARCHAR(500)   
DECLARE @SQL5 NVARCHAR(500)   
DECLARE @SQL6 NVARCHAR(500)   
DECLARE @SENDEMAILOUTPUT VARCHAR(MAX), @SENDEMAILSUCCESS BIT
 
-- FIND THE DUPLICATE BILL NUMBERS FROM DIS AND OTHER FEEDS  
SET @SQL2 = 'INSERT INTO  TEMP_PES.DBO.DIS_DUPLICATES SELECT D.BOL_ID, D.BOL_NUMBER,DISCHARGE_PORT, PORT_OF_DESTINATION, VOYAGE_NUMBER, D.SAILING_DATE FROM PES.DBO.ARCHIVE_RAW_BOL D (NOLOCK)  WHERE D.VENDOR_CODE= ''' +@DIS_VENDOR_CODE+ ''' AND SUBSTRING(D.SAILING_DATE,1,2) IN (''' +@MONTH+ ''') AND SUBSTRING(D.SAILING_DATE,5,4)=''' +@YEAR+ ''''  
EXEC (@SQL2)  
  
SET @SQL3 = 'INSERT INTO  TEMP_PES.DBO.ESCAN_DUPLICATES SELECT  D.BOL_ID, D.BOL_NUMBER,DISCHARGE_PORT, PORT_OF_DESTINATION, VOYAGE_NUMBER, D.SAILING_DATE  FROM PES.DBO.ARCHIVE_RAW_BOL D (NOLOCK)  WHERE D.VENDOR_CODE IN (''' +@OTHER_VENDOR_CODE+ ''') AND SUBSTRING(D.SAILING_DATE,1,2) IN (''' +@MONTH+ ''') AND SUBSTRING(D.SAILING_DATE,5,4)=''' +@YEAR+ ''''  
EXEC (@SQL3)  
  
-- CREATING INDEXES ON TEMP_PES.DBO.DIS_DUPLICATES & TEMP_PES.DBO.ESCAN_DUPLICATES  
DROP INDEX IDX_DIS ON TEMP_PES.DBO.DIS_DUPLICATES
SET @SQL4 = 'CREATE NONCLUSTERED INDEX IDX_DIS ON TEMP_PES.DBO.DIS_DUPLICATES(BOL_NUMBER,DISCHARGE_PORT,PORT_OF_DESTINATION,SAILING_DATE)'  
EXEC (@SQL4)  
  
DROP INDEX IDX_ESCAN ON TEMP_PES.DBO.ESCAN_DUPLICATES  
SET @SQL5 = 'CREATE NONCLUSTERED INDEX IDX_ESCAN ON TEMP_PES.DBO.ESCAN_DUPLICATES(BOL_NUMBER,DISCHARGE_PORT,PORT_OF_DESTINATION,SAILING_DATE)'  
EXEC (@SQL5)  
  
INSERT INTO TEMP_PES.DBO.DISESCAN_DUPLICATES  
SELECT E.BOL_ID, E.BOL_NUMBER,E.DISCHARGE_PORT, E.PORT_OF_DESTINATION, E.VOYAGE_NUMBER, E.SAILING_DATE,  
    D.BOL_ID DIS_BOL_ID, D.BOL_NUMBER DIS_BILL_NUMBER,D.DISCHARGE_PORT DIS_DISCHARGEPORT,   
       D.PORT_OF_DESTINATION DIS_PORTOFDESTINATION, D.VOYAGE_NUMBER DIS_VOYAGENUMBER, D.SAILING_DATE DIS_SAILINGDATE  
FROM TEMP_PES.DBO.DIS_DUPLICATES D JOIN TEMP_PES.DBO.ESCAN_DUPLICATES E ON   
(D.BOL_NUMBER=E.BOL_NUMBER   
AND D.DISCHARGE_PORT=E.DISCHARGE_PORT   
AND D.PORT_OF_DESTINATION=E.PORT_OF_DESTINATION  
--AND D.VOYAGE_NUMBER=E.VOYAGE_NUMBER  
AND D.SAILING_DATE=E.SAILING_DATE)  
  
  
DROP INDEX IDX_DISESCAN ON TEMP_PES.DBO.DISESCAN_DUPLICATES  
SET @SQL6 = 'CREATE NONCLUSTERED INDEX IDX_DISESCAN ON TEMP_PES.DBO.DISESCAN_DUPLICATES(DIS_BOL_ID)'  
EXEC (@SQL6)  
  
 
  
/* DELETE DIS RECORDS - UPDATING THE STG BOL TABLE FOR THE DUPLICATE DIS ESCAN BOL_NUMBERS*/   
UPDATE  STG  
SET  STG.IS_DELETED='Y',MODIFY_DATE=GETDATE(),MODIFY_USER = 'DATA_DEV_DIS' 
--SELECT count(*)  
FROM PES.DBO.PES_STG_BOL STG WHERE STG.BOL_ID IN   
(SELECT DIS_BOL_ID FROM TEMP_PES.DBO.DISESCAN_DUPLICATES  WITH (NOLOCK))  
AND STG.REF_VENDOR_CODE=@DIS_VENDOR_CODE  
AND ISNULL(STG.IS_DELETED,'') <> 'Y'  
--AND STG.REF_VENDOR_CODE= 'DIS'  
  
/* UPDATING THE STG CMD TABLE FOR THE DUPLICATE DIS ESCAN BOL_NUMBERS*/   
  
UPDATE  STGCMD  
SET  STGCMD.IS_DELETE='Y',MODIFY_DATE=GETDATE(),MODIFY_USER = 'DATA_DEV_DIS' 
--SELECT COUNT(*)  
FROM PES.DBO.PES_STG_CMD STGCMD WHERE STGCMD.BOL_ID IN   
(SELECT DIS_BOL_ID FROM TEMP_PES.DBO.DISESCAN_DUPLICATES  WITH (NOLOCK))  
AND ISNULL(STGCMD.IS_DELETE,'') <> 'Y'  
  
--COMMIT TRAN  
  
/* INSERTING ALL THE ONLY DIS DUPLICATE DATA INTO THE PHYSICAL TABLE */  
SET @SQL = 'INSERT INTO TEMP_PES.DBO.ONLYDIS_DUPLICATES SELECT D.BOL_ID, D.BOL_NUMBER,DISCHARGE_PORT, PORT_OF_DESTINATION, VOYAGE_NUMBER, D.SAILING_DATE FROM PES.DBO.ARCHIVE_RAW_BOL D (NOLOCK)  WHERE D.VENDOR_CODE= ''' +@DIS_VENDOR_CODE+ ''' AND SUBSTRING(D.SAILING_DATE,1,2) IN (''' +@MONTH+ ''') AND SUBSTRING(D.SAILING_DATE,5,4)=''' +@YEAR+ ''''  
EXEC (@SQL)  
  
/* PULLING ALL THE DUPLICATE BOL_NBR FROM THE PHYSICAL TABLE WHAT HAS THE DUPLICATE DIS RECORDS */  
;WITH CTE   
AS  
(  
SELECT BOL_NUMBER,BOL_ID ,ROW_NUMBER() OVER (PARTITION BY BOL_NUMBER ORDER BY BOL_NUMBER ) AS ROWID  
 FROM TEMP_PES.DBO.ONLYDIS_DUPLICATES  
),  
TMPA   
AS   
(  
SELECT * FROM  CTE   
WHERE ROWID>1  
)  
INSERT INTO TEMP_PES.DBO.ONLYDIS_DUP SELECT * FROM TMPA   
  
DROP INDEX IDX_ONLYDIS_BOL_ID ON TEMP_PES.DBO.ONLYDIS_DUP  
SET @SQL6 = 'CREATE NONCLUSTERED INDEX IDX_ONLYDIS_BOL_ID ON TEMP_PES.DBO.ONLYDIS_DUP(BOL_ID)'  
EXEC (@SQL6)  
  
--BEGIN TRAN  
  
/* DELETE DUPLICATES FROM STG BOL TABLE FOR THE DUPLICATE DIS BOL_NUMBERS*/  
UPDATE  STG  
SET  STG.IS_DELETED='Y',MODIFY_DATE=GETDATE(),MODIFY_USER = 'DATA_DEV_DIS'  
--SELECT COUNT(*)  
FROM PES.DBO.PES_STG_BOL STG WHERE STG.BOL_ID IN   
(SELECT BOL_ID FROM TEMP_PES.DBO.ONLYDIS_DUP  WITH (NOLOCK))  
AND STG.REF_VENDOR_CODE=@DIS_VENDOR_CODE  
AND ISNULL(STG.IS_DELETED,'') <> 'Y'  
  
/* DELETE DUPLICATES FROM STG CMD TABLE FOR THE DUPLICATE DIS BOL_NUMBERS*/  
UPDATE  STGCMD  
SET  STGCMD.IS_DELETE='Y',MODIFY_DATE=GETDATE(),MODIFY_USER = 'DATA_DEV_DIS' 
--SELECT COUNT(*)  
FROM PES.DBO.PES_STG_CMD STGCMD WHERE STGCMD.BOL_ID IN   
(SELECT BOL_ID FROM TEMP_PES.DBO.ONLYDIS_DUP  WITH (NOLOCK))  
AND ISNULL(STGCMD.IS_DELETE,'') <> 'Y'  
  
/* UPDATING THE MODIFY DATE IN THE STG BOL TABLE FOR THE VALID DIS DATA*/   
UPDATE  STG SET  STG.MODIFY_DATE=GETDATE()  
--SELECT top 1 *  
FROM PES.DBO.PES_STG_BOL STG   
 WHERE STG.REF_VENDOR_CODE=@DIS_VENDOR_CODE  
AND ISNULL(STG.IS_DELETED,'') <> 'Y' 
AND STG.MODIFY_DATE >= (GETDATE()-10) 
--AND STG.REF_VENDOR_CODE= 'DIS'  
  
/* UPDATING THE MODIFY DATE IN THE STG CMD TABLE FOR THE VALID DIS DATA*/  
  
UPDATE  STGCMD  
SET  STGCMD.MODIFY_DATE=GETDATE()  
--SELECT COUNT(*)  
FROM PES.DBO.PES_STG_CMD STGCMD WHERE STGCMD.BOL_ID IN   
(SELECT BOL_ID FROM PES.DBO.PES_STG_BOL WITH (NOLOCK)  
WHERE REF_VENDOR_CODE=@DIS_VENDOR_CODE)  
AND ISNULL(STGCMD.IS_DELETE,'') <> 'Y'  
AND STGCMD.MODIFY_DATE >= (GETDATE()-10) 


update pes_stg_bol set is_deleted = 'Y',modify_date = getdate(),modify_user = 'TA14903'
where ref_load_num_id in 
(12295001, 12307001, 9070001,12308001, 9071001, 12309001, 12296001, 
12310001, 9072001, 12311001, 12297001, 12312001, 9073001, 12313001, 
9074001, 12327001, 12328001, 12314001, 12299001, 12315001, 9076001, 
12316001, 12300001, 12317001, 9077001, 12318001, 12329001, 12303001, 12319001, 9078001, 12320001)
and isnull(is_deleted,'') <> 'Y'

-- Count = 44120

update pes_stg_cmd set is_delete = 'Y',modify_date = getdate(),modify_user = 'TA14903'

where bol_id in 

( select bol_id from pes_stg_bol (nolock)
where ref_load_num_id in (12295001, 12307001, 9070001,12308001, 9071001, 12309001, 12296001, 
12310001, 9072001, 12311001, 12297001, 12312001, 9073001, 12313001, 
9074001, 12327001, 12328001, 12314001, 12299001, 12315001, 9076001, 
12316001, 12300001, 12317001, 9077001, 12318001, 12329001, 12303001, 12319001, 9078001, 12320001)
)
and isnull(is_delete,'') <> 'Y'
 
IF(@@ERROR <> 0)   
BEGIN  
  ROLLBACK TRAN  
  PRINT N'ERROR: TRANSACTION ROLLED BACK DUPLICATES DELETE FAILED';  
END  
ELSE  
BEGIN  
        COMMIT TRAN  
  PRINT N'DUPLICATES DELETED SUCCESSFULLY';  
  EXEC dbo.usp_SendEmail
  @To		= 'dpanicker@joc.com;SKasi@joc.com;qstenger@joc.com;'
 ,@From		= 'PIERS-NoReply@piers.com'
 ,@Subject	= 'DIS Duplicates deletion - step 1'
 ,@Body		= 'The DIS duplicates in PES Staging is deleted successfully'
 ,@Success	= @SendEmailSuccess OUT
 ,@Output	= @SendEmailOutput OUT
  SELECT @SendEmailSuccess, @SendEmailOutput
   
END  

