/****** Object:  StoredProcedure [dbo].[USP_GENERATE_VIN_REPORT_GENERIC]    Script Date: 01/08/2013 14:51:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GENERATE_VIN_REPORT_GENERIC]
@YYYYMM	CHAR(6),
@DIRECTION CHAR(1)
AS
/* Sample Execution

EXEC USP_GENERATE_VIN_REPORT_GENERIC '200910','E'

select * from TEMP_VIN_REPORT_GENERIC

*/

BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC PES_RAW.SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

	--Truncate the table TEMP_VIN_REPORT_CARFAX
	TRUNCATE TABLE TEMP_VIN_REPORT_GENERIC
	
	INSERT INTO [PESDW].[dbo].[TEMP_VIN_REPORT_GENERIC]
           ([VIN]
           ,[BL_NBR]
           ,[FPORT]
           ,[USPORT]
           ,[IMPORTER]
           ,[EXPORTER]
           ,[CMDDESC]
           ,[ACT_ARR_DT]
           ,[COUNTRY]
           ,[DIR])
	SELECT V.VIN_NUMBER,
		   V.BILL_NUMBER,

	CASE @DIRECTION
	WHEN 'I' THEN (
					SELECT TOP 1 ISNULL(CODE,'')
				    FROM PES_DW_REF_PORT P WITH (NOLOCK) 
					WHERE P.ID = B.PORT_DEPART_REF_ID
					)
	WHEN 'E' THEN (
					SELECT TOP 1 ISNULL(CODE,'')
				    FROM PES_DW_REF_PORT P WITH (NOLOCK) 
					WHERE P.ID = B.PORT_ARRIVE_REF_ID
					)
	ELSE ''
	END AS 'FOREIGNPORT',	

	CASE @DIRECTION
	WHEN 'I' THEN (
					SELECT TOP 1 ISNULL(CODE,'')
				    FROM PES_DW_REF_PORT P WITH (NOLOCK) 
					WHERE P.ID = B.PORT_ARRIVE_REF_ID
					)
	WHEN 'E' THEN (
					SELECT TOP 1 ISNULL(CODE,'')
				    FROM PES_DW_REF_PORT P WITH (NOLOCK) 
					WHERE P.ID = B.PORT_DEPART_REF_ID
					)
	ELSE ''
	END AS 'USPORT',	

	--Changes by Cognizant on 15-March-2010 to address truncation error, START	
	(
		SELECT RTRIM(ISNULL(NAME,'')) + SPACE(1) + RTRIM(ISNULL(ADDRESS1,''))+SPACE(1)+RTRIM(ISNULL(CITY,''))+SPACE(1)+RTRIM(ISNULL(STATE,''))+SPACE(1)+RTRIM(ISNULL(ZIPCODE,''))+SPACE(1)+RTRIM(ISNULL(COUNTRY_CD,''))
		FROM PESDW_COMPANY_VIEW C WITH (NOLOCK)
		WHERE C.COMP_ID=B.CONGINEE_COMP_REF_ID 
	) AS 'IMPORTER',	


	(
		SELECT RTRIM(ISNULL(NAME,'')) + SPACE(1) + RTRIM(ISNULL(ADDRESS1,''))+SPACE(1)+RTRIM(ISNULL(CITY,''))+SPACE(1)+RTRIM(ISNULL(STATE,''))+SPACE(1)+RTRIM(ISNULL(ZIPCODE,''))+SPACE(1)+RTRIM(ISNULL(COUNTRY_CD,''))
		FROM PESDW_COMPANY_VIEW C WITH (NOLOCK)
		WHERE C.COMP_ID=B.SHIPPER_COMP_REF_ID 
	) AS 'EXPORTER',	

	--Changes by Cognizant on 15-March-2010 to address truncation error, END

	DBO.PESDW_UDF_RETCMD(V.BOL_ID),

	CONVERT(VARCHAR,B.VDATE,101) AS 'ACTUAL_ARRIVAL_DT',

	(
		SELECT TOP 1 ISNULL(COUNTRY,'') 
		FROM PES_DW_REF_COUNTRY C WITH (NOLOCK)
		WHERE C.CTRY_CODE = B.CTRYCODE
	) AS COUNTRY,
	V.DIR
	FROM PES_DW_VIN V WITH (NOLOCK)
	JOIN PES_DW_BOL B WITH (NOLOCK)
	ON V.BOL_ID=B.BOL_ID
	WHERE CONVERT(CHAR(6),V.VDATE,112) = @YYYYMM	
	AND V.DIR = @DIRECTION

-- [aa] - 11/28/2010
-- Log end time
EXEC PES_RAW.SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
