/****** Object:  StoredProcedure [dbo].[USP_PES_DW_CONTAINER_UPDATE]    Script Date: 01/08/2013 14:51:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<COGNIZANT TECHNOLOGY SOLUTIONS>
-- Create date: <14TH MAY 2010>
-- Description:	<COMMODITY/CONTAINER UPDATES>
-- =============================================
CREATE PROCEDURE [dbo].[USP_PES_DW_CONTAINER_UPDATE]
	-- Add the parameters for the stored procedure here
	@BOL_ID INT
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC PES_RAW.SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

	DECLARE @CMD_COUNT INT 
	DECLARE @CMD_COUNT_DELETED INT
	SET @CMD_COUNT=0
	SET @CMD_COUNT_DELETED =0
	--Verify if the CONTAINER CARGO WAS DELETED
	SELECT @CMD_COUNT = COUNT(*) FROM PES_DW_CMD WHERE BOL_ID = @BOL_ID 

	IF @CMD_COUNT > 1
	-- LOOP THRU EACH OF THE RECORDS TO FIND IF THE DESCRIPTION IS 'CONTAINER CARGO' AND STATUS IS DELETED
	-- IN THIS CASE, UPDATE THE CONTAINER INFORMATION TO ALL THE REMAINING COMMODITY RECORDS
	SELECT @CMD_COUNT_DELETED = COUNT(*) FROM PES_DW_CMD WHERE BOL_ID = @BOL_ID AND
			CMD_DESC IN ('CONTAINER CARGO','GENERAL CARGO') AND DELETED = 'Y'
	
	IF @CMD_COUNT_DELETED > 0

	BEGIN

		SELECT TOP 1 BOL_ID,CMD_ID,CNTR_QUANTITY, CNTR_SIZE, CNTR_VOL, CNTR_FLAG,HAZMAT_FLAG,RORO_FLAG,REEFER_FLAG 
		INTO #TEMP_CMD FROM PES_DW_CMD WHERE BOL_ID = @BOL_ID 
		AND CMD_DESC IN ('CONTAINER CARGO','GENERAL CARGO')
		ORDER BY CMD_DESC ASC 	

	UPDATE PES_DW_CMD SET 
		CNTR_QUANTITY = B.CNTR_QUANTITY, 
		CNTR_SIZE = B.CNTR_SIZE, 
		CNTR_VOL = B.CNTR_VOL, 
		CNTR_FLAG = B.CNTR_FLAG
		FROM PES_DW_CMD A
		JOIN #TEMP_CMD B
		ON A.BOL_ID = B.BOL_ID 
		AND A.DELETED IS NULL
		AND A.CMD_DESC NOT IN ('CONTAINER CARGO','GENERAL CARGO') 	
	
	DROP TABLE #TEMP_CMD
	
	END

-- [aa] - 11/28/2010
-- Log end time
EXEC PES_RAW.SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
