/****** Object:  StoredProcedure [dbo].[USP_PES_DW_TEU_CALCULATION]    Script Date: 01/08/2013 14:51:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_PES_DW_TEU_CALCULATION] @IN_BOL_ID NUMERIC(12,0)
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC PES_RAW.SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


	BEGIN TRY

		DECLARE @CONSIZE VARCHAR(2),@BOL_ID INT,@TEU NUMERIC(12,2),
		@CONQUANTITY NUMERIC(18,2),@VOLUME_PER_CONTAINER NUMERIC(18,2),@CONVOL NUMERIC(18,2),
		@COUNTRY_CODE VARCHAR(3),@REGION_ID CHAR (1),@MTONS_AVERAGE FLOAT,@COM4 VARCHAR(4),
		@TEU_LKP_KEY VARCHAR(6),@METRIC_TONS FLOAT,@CNTR_FLAG CHAR(1),
		@CMD_WGT FLOAT,@BOL_DIRECTION CHAR(1),
		@BOL_CNTRZD_FLG CHAR(1),@CMD_ID INT,
		@COUNT INT,
		@CONFLAG VARCHAR(1)
		
		SET @COUNT = 0
		SET @CONFLAG = ''
		--Temp table for TEU Calculation
		CREATE TABLE #TEMP_TEU(
			BOL_ID NUMERIC(12,0),
			CMD_ID NUMERIC(12,0),
			BOL_DIRECTION CHAR(1),
			CTRYCODE VARCHAR(3),
			CNTR_SIZE VARCHAR(2),
			CMD_WGT_VALUE NUMERIC(16,0),
			CNTR_QUANTITY INT,
			CNTR_VOL INT,
			CNTR_FLAG VARCHAR(1),
			COM4 varchar(10),
			TEU NUMERIC(12,2)	
			)
			
		INSERT INTO #TEMP_TEU(BOL_ID,CNTR_SIZE,CMD_WGT_VALUE,CNTR_QUANTITY,CNTR_VOL,CNTR_FLAG,COM4,CTRYCODE,BOL_DIRECTION,CMD_ID,TEU)
		SELECT B.BOL_ID,B.CNTR_SIZE,B.STND_WEIGHT_KG,B.CNTR_QUANTITY,B.CNTR_VOL,B.CNTR_FLAG,
		SUBSTRING(B.JOC_CODE,1,4) AS COM4,A.CTRYCODE,A.DIRECTION,B.CMD_ID,0			
		FROM PES_DW_BOL A WITH (NOLOCK) JOIN PES_DW_CMD B WITH (NOLOCK) 
		ON A.BOL_ID=B.BOL_ID WHERE A.BOL_ID=@IN_BOL_ID 
		AND A.BOL_ID NOT IN(SELECT DISTINCT BOL_ID FROM PES_DW_CMD WITH    (NOLOCK) WHERE CMD_DESC='GENERAL CARGO') 
		AND ISNULL(B.CMD_DESC,'')<> 'CONTAINER CARGO' 
		AND B.DELETED IS NULL
		UNION ALL
		SELECT B.BOL_ID,B.CNTR_SIZE,B.STND_WEIGHT_KG,B.CNTR_QUANTITY,B.CNTR_VOL,B.CNTR_FLAG,
		SUBSTRING(B.JOC_CODE,1,4) AS COM4,A.CTRYCODE,A.DIRECTION,B.CMD_ID,0			
		FROM PES_DW_BOL A WITH (NOLOCK) JOIN PES_DW_CMD B WITH (NOLOCK) 
		ON A.BOL_ID=B.BOL_ID WHERE A.BOL_ID=@IN_BOL_ID  
		AND ISNULL(B.CMD_DESC,'')= 'CONTAINER CARGO' AND B.STND_WEIGHT_KG>0
		AND B.DELETED IS NULL
		
		DECLARE TEU_CURSOR CURSOR FOR 
		SELECT BOL_ID,CNTR_SIZE,CMD_WGT_VALUE,CNTR_QUANTITY,CNTR_VOL,CNTR_FLAG,COM4,CTRYCODE,BOL_DIRECTION,CMD_ID 
		FROM #TEMP_TEU
			
		--CURSOR EXECUTION BEGIN

		OPEN TEU_CURSOR
		--BEGIN FETCHING RECORDS STG_CMD AND STG_BOL
		FETCH NEXT FROM TEU_CURSOR INTO @BOL_ID,@CONSIZE,@CMD_WGT,@CONQUANTITY,@CONVOL,@CNTR_FLAG,@COM4,@COUNTRY_CODE,@BOL_DIRECTION,@CMD_ID
		WHILE @@FETCH_STATUS = 0
		BEGIN
			SET @TEU=NULL
			SET @REGION_ID=NULL
			SET @MTONS_AVERAGE=NULL
			
			IF (ISNUMERIC(@CONSIZE)=1) AND @CMD_WGT>0 AND @CNTR_FLAG='C'  								
				SET @TEU=(@CONSIZE*@CONQUANTITY)/20.0
			ELSE
			BEGIN
				--LOOKUP REGION TABLE TO GET REGION_ID
				SELECT @REGION_ID=REGION_ID FROM PES_DW_TEU_REGION WITH (NOLOCK) WHERE @COUNTRY_CODE>=LOW_COUNTRY_CODE AND @COUNTRY_CODE<=HIGH_COUNTRY_CODE		

				IF @REGION_ID IS NULL
					SET @REGION_ID=0
				
				--LOOKUP KEY FOR TEU ESTIMATION TABLE
				SET @TEU_LKP_KEY=(CAST(@BOL_DIRECTION AS VARCHAR(1)))+(CAST(@REGION_ID AS VARCHAR(1)))+(CAST(@COM4 AS VARCHAR(4)))
                                    
				--LOOKUP TEU ESTIMATION TABLE FOR AVERAGE METRIC TONS
				SELECT @MTONS_AVERAGE=MTONS_AVERAGE_20 FROM		
				PES_DW_TEU_ESTIMATION WITH (NOLOCK) WHERE ID_KEY=@TEU_LKP_KEY
			
				IF (@CONSIZE='ZZ' AND (@CONVOL = 0 OR @CONVOL IS NULL) AND @CMD_WGT>0 AND 
				@MTONS_AVERAGE>0) OR (@CONSIZE='LC' AND @CMD_WGT>0 AND @MTONS_AVERAGE>0)
				BEGIN
					SET @TEU=(@CMD_WGT/1000)/@MTONS_AVERAGE
					IF @CONSIZE='ZZ'
					BEGIN
						IF @TEU<@CONQUANTITY
							SET @TEU=@CONQUANTITY
						ELSE IF @TEU>(@CONQUANTITY * 2)
							SET @TEU=@CONQUANTITY * 2
					END
				END
				ELSE IF @CONQUANTITY=0
					SET @TEU=0.00
				ELSE IF (@CONSIZE='ZZ' AND @CONVOL>0 AND @CONQUANTITY>0 AND @CMD_WGT>0 AND ((@CONVOL/@CONQUANTITY)>1000))
				OR (@CONSIZE='ZZ' AND (@CONVOL=0 OR @CONVOL IS NULL) AND @CMD_WGT>0 AND @MTONS_AVERAGE>0 
				AND (((@CMD_WGT/1000)/@MTONS_AVERAGE)>(@CONQUANTITY * 2)))
					SET @TEU=@CONQUANTITY * 2

				ELSE IF (@CONSIZE='ZZ' AND @CONVOL>0 AND @CMD_WGT>0 AND ((@CONVOL/@CONQUANTITY)>=1)
				AND ((@CONVOL/@CONQUANTITY)<1000)) OR
				(@CONSIZE='ZZ' AND (@CONVOL=0 OR @CONVOL IS NULL) AND @CMD_WGT>0 AND @MTONS_AVERAGE>0
				AND (((@CMD_WGT/1000)/@MTONS_AVERAGE) < @CONQUANTITY))
					SET @TEU=@CONQUANTITY
				ELSE
					SET @TEU=0.00
			END
			
			/*
			UPDATE PES_STG_CMD WITH (UPDLOCK) SET CMD_TEU=@TEU 
			WHERE LOADNUMBER = @LOADNUMBER AND BOL_ID=@BOL_ID AND CMD_ID=@CMD_ID
			*/
			IF @TEU=0 AND @CNTR_FLAG='C' AND @CMD_WGT>0 
				SET @TEU=0.01

			update #TEMP_TEU
			set TEU=@TEU
			WHERE BOL_ID=@BOL_ID AND CMD_ID=@CMD_ID
			
			FETCH NEXT FROM TEU_CURSOR INTO @BOL_ID,@CONSIZE,@CMD_WGT,@CONQUANTITY,@CONVOL,@CNTR_FLAG,@COM4,@COUNTRY_CODE,@BOL_DIRECTION,@CMD_ID
		END
			
		CLOSE TEU_CURSOR
		DEALLOCATE TEU_CURSOR

		--Single time Update of PES_STG_CMD from #TEMP_TEU
		UPDATE C WITH (UPDLOCK)
		SET C.TEU=T.TEU,MODIFY_DATE = GETDATE()
		FROM PES_DW_CMD C JOIN #TEMP_TEU T
		ON (C.BOL_ID=T.BOL_ID AND C.CMD_ID=T.CMD_ID)

		
		UPDATE PES_DW_CMD SET TEU=0.00,MODIFY_DATE = GETDATE() WHERE BOL_ID=@IN_BOL_ID 
		AND CMD_DESC='CONTAINER CARGO' AND STND_WEIGHT_KG=0  

		UPDATE PES_DW_CMD SET TEU=0.00,MODIFY_DATE = GETDATE() WHERE BOL_ID=@IN_BOL_ID AND BOL_ID 
		IN(SELECT BOL_ID FROM PES_DW_CMD WHERE CMD_DESC ='GENERAL CARGO') 
	
		UPDATE PES_DW_BOL WITH (UPDLOCK) SET MODIFY_DATE = GETDATE(), TEU=(SELECT SUM(isnull(C.TEU,0)) 
		FROM PES_DW_CMD C WITH (NOLOCK) WHERE C.BOL_ID = @IN_BOL_ID 
		AND C.BOL_ID=PES_DW_BOL.BOL_ID AND C.DELETED IS NULL GROUP BY C.BOL_ID) WHERE BOL_ID=@IN_BOL_ID 
		
	END TRY				
	BEGIN CATCH

	END CATCH
	DROP TABLE 	#TEMP_TEU


-- [aa] - 11/28/2010
-- Log end time
EXEC PES_RAW.SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
