/****** Object:  StoredProcedure [dbo].[PES_REMOVE_DW_DIS_DUPLICATES]    Script Date: 01/08/2013 14:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_REMOVE_DW_DIS_DUPLICATES] 
( 
	@YEAR VARCHAR(20) = '2012',
	@MONTH VARCHAR(50) = '04,05,06,07,08,09,10',
	@DIS_VENDOR_CODE VARCHAR(20) = 'DIS'
)
AS

SET @MONTH =  REPLACE(@MONTH,',',''',''') 

BEGIN TRAN

/* UPDATING THE DW BOL TABLE FOR THE DUPLICATE DIS ESCAN BOL_NUMBERS*/
 
UPDATE  DW
SET DW.MODIFY_DATE=GETDATE(), DW.DELETED='Y'
--SELECT COUNT(*)
FROM PESDW.DBO.PES_DW_BOL  DW  WHERE DW.BOL_ID IN 
(SELECT DIS_BOL_ID FROM [10.31.18.132].TEMP_PES.DBO.DISESCAN_DUPLICATES  WITH (NOLOCK))
AND DW.VENDOR_CODE=@DIS_VENDOR_CODE
AND DW.DELETED <> 'Y'

/* UPDATING THE DW CMD TABLE FOR THE DUPLICATE DIS ESCAN BOL_NUMBERS*/

UPDATE  DWCMD
SET DWCMD.MODIFY_DATE=GETDATE(), DWCMD.DELETED='Y'
--SELECT DWCMD.*
FROM PESDW.DBO.PES_DW_CMD  DWCMD (NOLOCK) WHERE DWCMD.BOL_ID IN 
(SELECT DIS_BOL_ID FROM [10.31.18.132].TEMP_PES.DBO.DISESCAN_DUPLICATES  WITH (NOLOCK))
AND DWCMD.DELETED <> 'Y'

/* UPDATING THE DW BOL TABLE FOR THE DUPLICATE DIS BOL_NUMBERS*/
UPDATE  DW
SET DW.MODIFY_DATE=GETDATE(), DW.DELETED='Y'
--SELECT COUNT(*)
FROM PESDW.DBO.PES_DW_BOL  DW  WHERE DW.BOL_ID IN 
(SELECT BOL_ID FROM [10.31.18.132].TEMP_PES.DBO.ONLYDIS_DUP   WITH (NOLOCK))
AND DW.VENDOR_CODE = @DIS_VENDOR_CODE
AND DW.DELETED <> 'Y'

/* UPDATING THE DW CMD TABLE FOR THE DUPLICATE DIS BOL_NUMBERS*/

UPDATE  DWCMD
SET DWCMD.MODIFY_DATE=GETDATE(), DWCMD.DELETED='Y'
--SELECT COUNT(*)
FROM PESDW.DBO.PES_DW_CMD  DWCMD (NOLOCK) 
WHERE DWCMD.BOL_ID IN (SELECT BOL_ID FROM [10.31.18.132].TEMP_PES.DBO.ONLYDIS_DUP WITH (NOLOCK))
	AND DWCMD.DELETED <> 'Y'

COMMIT TRAN
GO
