/****** Object:  StoredProcedure [dbo].[SP_DW_GEN_PORTLINE_FILES]    Script Date: 01/08/2013 14:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*************************************************************************  
 AUTHOR:  DHANYA K S  
 CREATE DATE:   27-SEP-2012  
 DESCRIPTION: THIS SP IS TO AUTOMATE THE VOLUME DASHBOARD QUERIES.IT  
    GENERATES 2 FILES  
                 i. G:\PortLine\PortLineDash.txt  
    ii. G:\PortLine\PortLineFull.txt  
***************************************************************************/  
CREATE PROCEDURE [dbo].[SP_DW_GEN_PORTLINE_FILES]  
AS  
BEGIN TRANSACTION
 -- SET NOCOUNT ON ADDED TO PREVENT EXTRA RESULT SETS FROM  
 -- INTERFERING WITH SELECT STATEMENTS.  
 SET NOCOUNT ON;  
  
 --FULL PORT-LINE DW QUERY FOR PRE-RELEASE CHECK --  
 DECLARE @PDATE DATETIME  
 SET @PDATE= (SELECT START_DT FROM [PES_RAW].[SCREEN_TEST].[DBO].[DQA_PROD_MONTH])  
  
 IF OBJECT_ID('WORKTEMP.DBO.PORTLINEFULL') IS NOT NULL DROP TABLE WORKTEMP.DBO.PORTLINEFULL  
  SELECT YEAR(DW.VDATE) AS YEAR,   
    MONTH(DW.VDATE) AS MTH,   
    DW.DIRECTION,   
    SLINE.SLINE,   
    DPTPORT.PIERS_NAME AS USPORT,   
    ULTPORT.COUNTRY AS ULTCTRY,   
    ( CASE WHEN VENDOR_CODE LIKE '[EI][A-Z][A-Z][A-Z][0-9][0-9]' THEN 'TYPE'   
      WHEN VENDOR_CODE LIKE '%$HSU%' THEN 'HSUD'   
      WHEN VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'   
      WHEN VENDOR_CODE LIKE '%$SES%' THEN 'SEST'   
      WHEN VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'  
      WHEN LEN(VENDOR_CODE)>8 THEN 'OTHER' ELSE VENDOR_CODE END) AS FEED,   
    SUM(DW.TEU) AS SUMOFTEUS, COUNT(DW.BOL_ID) AS COUNTOFBOLS  
  INTO WORKTEMP.DBO.PORTLINEFULL  
  FROM PES_DW_BOL DW (NOLOCK)   
   LEFT OUTER JOIN DBO.PES_DW_REF_PORT DPTPORT (NOLOCK) ON DW.PORT_DEPART_REF_ID = DPTPORT.ID  
   LEFT OUTER JOIN DBO.PES_DW_REF_PORT ULTPORT (NOLOCK) ON DW.ULTPORT_REF_ID = ULTPORT.ID  
   LEFT OUTER JOIN DBO.PES_DW_REF_CARRIER SLINE (NOLOCK) ON DW.SLINE_REF_ID = SLINE.ID  
  WHERE DW.VDATE> (SELECT DATEADD(YEAR, YEAR(@PDATE)-1900, DATEADD(MM, MONTH(@PDATE)-19, -1)))   
  AND DW.VDATE< (SELECT DATEADD(YEAR, YEAR(@PDATE)-1900, DATEADD(MM, MONTH(@PDATE), -1)))   
  AND DW.DIRECTION='E' AND DW.DELETED IS NULL  
  GROUP BY YEAR(DW.VDATE),   
     MONTH(DW.VDATE),   
     DW.DIRECTION,   
     SLINE.SLINE,   
     DPTPORT.PIERS_NAME,   
     ULTPORT.COUNTRY,   
     ( CASE WHEN VENDOR_CODE LIKE '[EI][A-Z][A-Z][A-Z][0-9][0-9]' THEN 'TYPE'   
       WHEN VENDOR_CODE LIKE '%$HSU%' THEN 'HSUD'   
       WHEN VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'   
       WHEN VENDOR_CODE LIKE '%$SES%' THEN 'SEST'   
       WHEN VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'  
       WHEN LEN(VENDOR_CODE)>8 THEN 'OTHER' ELSE VENDOR_CODE END)  
  
 INSERT INTO [WORKTEMP].[DBO].[PORTLINEFULL]  
           ([YEAR]  
           ,[MTH]  
           ,[DIRECTION]  
           ,[SLINE]  
           ,[USPORT]  
           ,[ULTCTRY]  
           ,[FEED]  
           ,[SUMOFTEUS]  
           ,[COUNTOFBOLS])  
 SELECT YEAR(DW.VDATE) AS YEAR,   
   MONTH(DW.VDATE) AS MTH,   
   DW.DIRECTION,   
   SLINE.SLINE,   
   ARVPORT.PIERS_NAME AS USPORT,   
   ULTPORT.COUNTRY AS ULTCTRY,   
   ( CASE WHEN VENDOR_CODE LIKE '[EI][A-Z][A-Z][A-Z][0-9][0-9]' THEN 'TYPE'   
     WHEN VENDOR_CODE LIKE '%$HSU%' THEN 'HSUD'   
     WHEN VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'   
     WHEN VENDOR_CODE LIKE '%$SES%' THEN 'SEST'   
     WHEN VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'  
     WHEN LEN(VENDOR_CODE)>8 THEN 'OTHER' ELSE VENDOR_CODE END) AS FEED,   
   SUM(DW.TEU) AS SUMOFTEUS, COUNT(DW.BOL_ID) AS COUNTOFBOLS  
 FROM PES_DW_BOL DW (NOLOCK)   
  LEFT OUTER JOIN DBO.PES_DW_REF_PORT ARVPORT (NOLOCK) ON DW.PORT_ARRIVE_REF_ID = ARVPORT.ID  
  LEFT OUTER JOIN DBO.PES_DW_REF_PORT ULTPORT (NOLOCK) ON DW.ULTPORT_REF_ID = ULTPORT.ID  
  LEFT OUTER JOIN DBO.PES_DW_REF_CARRIER SLINE (NOLOCK) ON DW.SLINE_REF_ID = SLINE.ID  
 WHERE DW.VDATE> (SELECT DATEADD(YEAR, YEAR(@PDATE)-1900, DATEADD(MM, MONTH(@PDATE)-19, -1)))   
 AND DW.VDATE< (SELECT DATEADD(YEAR, YEAR(@PDATE)-1900, DATEADD(MM, MONTH(@PDATE), -1)))   
 AND DW.DIRECTION='I' AND DW.DELETED IS NULL   
 GROUP BY YEAR(DW.VDATE),   
    MONTH(DW.VDATE),   
    DW.DIRECTION,   
    SLINE.SLINE,   
    ARVPORT.PIERS_NAME,    
    ULTPORT.COUNTRY,   
    ( CASE WHEN VENDOR_CODE LIKE '[EI][A-Z][A-Z][A-Z][0-9][0-9]' THEN 'TYPE'   
      WHEN VENDOR_CODE LIKE '%$HSU%' THEN 'HSUD'   
      WHEN VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'   
      WHEN VENDOR_CODE LIKE '%$SES%' THEN 'SEST'   
      WHEN VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'  
      WHEN LEN(VENDOR_CODE)>8 THEN 'OTHER' ELSE VENDOR_CODE END)  
  
 EXEC xp_cmdshell 'bcp "SELECT * FROM WorkTemp.dbo.PortLineFull" queryout "G:\PortLine\PortLineFull.txt" -T -c -t"|"'   
  
 --VOLUME HIGH LEVEL DASHBOARD CHECK--  
  
 IF OBJECT_ID('WORKTEMP.DBO.PORTLINEDASH') IS NOT NULL DROP TABLE WORKTEMP.DBO.PORTLINEDASH  
 SELECT YEAR(DW.VDATE) AS YEAR,   
   MONTH(DW.VDATE) AS MTH,   
   DW.DIRECTION,   
   SLINE.SLINE,   
   DPTPORT.PIERS_NAME AS USPORT,   
   SUM(DW.TEU) AS SUMOFTEUS,   
   COUNT(DW.BOL_ID) AS COUNTOFBOLS  
 INTO WORKTEMP.DBO.PORTLINEDASH  
 FROM PES_DW_BOL DW (NOLOCK)   
  LEFT OUTER JOIN DBO.PES_DW_REF_PORT DPTPORT (NOLOCK) ON DW.PORT_DEPART_REF_ID = DPTPORT.ID  
  LEFT OUTER JOIN DBO.PES_DW_REF_CARRIER SLINE (NOLOCK) ON DW.SLINE_REF_ID = SLINE.ID  
 WHERE DW.VDATE< (SELECT DATEADD(YEAR, YEAR(@PDATE)-1900, DATEADD(MM, MONTH(@PDATE), -1)))   
 AND DW.DIRECTION='E' AND DW.DELETED IS NULL  
 GROUP BY YEAR(DW.VDATE), MONTH(DW.VDATE), DW.DIRECTION, SLINE.SLINE, DPTPORT.PIERS_NAME  
  
 INSERT INTO [WORKTEMP].[DBO].[PORTLINEDASH]  
           ([YEAR]  
           ,[MTH]  
           ,[DIRECTION]  
           ,[SLINE]  
           ,[USPORT]  
           ,[SUMOFTEUS]  
           ,[COUNTOFBOLS])  
 SELECT YEAR(DW.VDATE) AS YEAR,   
   MONTH(DW.VDATE) AS MTH,   
   DW.DIRECTION,   
   SLINE.SLINE,   
   ARVPORT.PIERS_NAME AS USPORT,  
   SUM(DW.TEU) AS SUMOFTEUS, COUNT(DW.BOL_ID) AS COUNTOFBOLS  
 FROM PES_DW_BOL DW (NOLOCK)   
  LEFT OUTER JOIN DBO.PES_DW_REF_PORT ARVPORT (NOLOCK) ON DW.PORT_ARRIVE_REF_ID = ARVPORT.ID  
  LEFT OUTER JOIN DBO.PES_DW_REF_CARRIER SLINE (NOLOCK) ON DW.SLINE_REF_ID = SLINE.ID  
 WHERE DW.VDATE< (SELECT DATEADD(YEAR, YEAR(@PDATE)-1900, DATEADD(MM, MONTH(@PDATE), -1)))   
 AND DW.DIRECTION='I' AND DW.DELETED IS NULL   
 GROUP BY YEAR(DW.VDATE), MONTH(DW.VDATE), DW.DIRECTION, SLINE.SLINE, ARVPORT.PIERS_NAME  
  
 EXEC xp_cmdshell 'bcp "SELECT * FROM WorkTemp.dbo.PortLineDash" queryout "G:\PortLine\PortLineDash.txt" -T -c -t"|"'   
  
 -- BULK MODEL CHECK --  
  
 IF OBJECT_ID('WORKTEMP.DBO.PORTLINEBULK') IS NOT NULL DROP TABLE WORKTEMP.DBO.PORTLINEBULK  
 SELECT YEAR(DW.VDATE) AS YEAR,   
   MONTH(DW.VDATE) AS MTH,   
   DW.DIRECTION,   
   SLINE.SLINE,   
   DPTPORT.PIERS_NAME AS USPORT,   
   VES.NAME AS VESSEL,   
   DW.VOYAGE AS VOYAGE,  
   ( CASE WHEN VENDOR_CODE LIKE '[EI][A-Z][A-Z][A-Z][0-9][0-9]' THEN 'TYPE'   
     WHEN VENDOR_CODE LIKE '%$HSU%' THEN 'HSUD'   
     WHEN VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'   
     WHEN VENDOR_CODE LIKE '%$SES%' THEN 'SEST'   
     WHEN VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'  
     WHEN LEN(VENDOR_CODE)>8 THEN 'OTHER' ELSE VENDOR_CODE END) AS FEED,   
   DW.NTERP_STD_WGT/1000 AS MTONS, DW.BOL_ID  
 INTO WORKTEMP.DBO.PORTLINEBULK  
 FROM PES_DW_BOL DW (NOLOCK)   
  LEFT OUTER JOIN DBO.PES_DW_REF_PORT DPTPORT (NOLOCK) ON DW.PORT_DEPART_REF_ID = DPTPORT.ID  
  LEFT OUTER JOIN DBO.PES_DW_REF_CARRIER SLINE (NOLOCK) ON DW.SLINE_REF_ID = SLINE.ID  
  LEFT OUTER JOIN DBO.PES_DW_REF_VESSEL VES (NOLOCK) ON DW.VESSEL_REF_ID = VES.ID  
 WHERE DW.VDATE> (SELECT DATEADD(YEAR, YEAR(@PDATE)-1900, DATEADD(MM, MONTH(@PDATE)-19, -1)))   
 AND DW.VDATE< (SELECT DATEADD(YEAR, YEAR(@PDATE)-1900, DATEADD(MM, MONTH(@PDATE), -1)))   
 AND DW.DIRECTION='E' AND DW.DELETED IS NULL AND CNTR_FLG<>'C'  
 AND DW.NTERP_STD_WGT/1000>60000  
  
  
 INSERT INTO [WORKTEMP].[DBO].[PORTLINEBULK]  
           ([YEAR]  
           ,[MTH]  
           ,[DIRECTION]  
           ,[SLINE]  
           ,[USPORT]  
           ,[VESSEL]  
     ,[VOYAGE]  
           ,[FEED]  
           ,MTONS  
           ,BOL_ID)  
 SELECT YEAR(DW.VDATE) AS YEAR,   
   MONTH(DW.VDATE) AS MTH,   
   DW.DIRECTION,   
   SLINE.SLINE,   
   ARVPORT.PIERS_NAME AS USPORT,   
   VES.NAME AS VESSEL,   
   DW.VOYAGE AS VOYAGE,   
   ( CASE WHEN VENDOR_CODE LIKE '[EI][A-Z][A-Z][A-Z][0-9][0-9]' THEN 'TYPE'   
     WHEN VENDOR_CODE LIKE '%$HSU%' THEN 'HSUD'   
     WHEN VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'   
     WHEN VENDOR_CODE LIKE '%$SES%' THEN 'SEST'   
     WHEN VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'  
     WHEN LEN(VENDOR_CODE)>8 THEN 'OTHER' ELSE VENDOR_CODE END) AS FEED,   
   DW.NTERP_STD_WGT/1000 AS MTONS, DW.BOL_ID  
 FROM PES_DW_BOL DW (NOLOCK)   
  LEFT OUTER JOIN DBO.PES_DW_REF_PORT ARVPORT (NOLOCK) ON DW.PORT_ARRIVE_REF_ID = ARVPORT.ID  
  LEFT OUTER JOIN DBO.PES_DW_REF_CARRIER SLINE (NOLOCK) ON DW.SLINE_REF_ID = SLINE.ID  
  LEFT OUTER JOIN DBO.PES_DW_REF_VESSEL VES (NOLOCK) ON DW.VESSEL_REF_ID = VES.ID  
 WHERE DW.VDATE> (SELECT DATEADD(YEAR, YEAR(@PDATE)-1900, DATEADD(MM, MONTH(@PDATE)-19, -1)))   
 AND DW.VDATE< (SELECT DATEADD(YEAR, YEAR(@PDATE)-1900, DATEADD(MM, MONTH(@PDATE), -1)))   
 AND DW.DIRECTION='I' AND DW.DELETED IS NULL AND CNTR_FLG<>'C'  
 AND NTERP_STD_WGT/1000>60000  
  
 EXEC xp_cmdshell 'bcp "SELECT * FROM WorkTemp.dbo.PortLineBulk" queryout "G:\PortLine\PortLineBulk.txt" -T -c -t"|"'   
   
 -- HIGH LEVEL VESSEL CHECK --  
  
 IF OBJECT_ID('WORKTEMP.DBO.PORTLINEVES') IS NOT NULL DROP TABLE WORKTEMP.DBO.PORTLINEVES  
  SELECT YEAR(DW.VDATE) AS YEAR,   
    MONTH(DW.VDATE) AS MTH,   
    DW.DIRECTION,   
    VES.NAME AS VESSEL,    
    DPTPORT.PIERS_NAME AS USPORT,   
    SLINE.SLINE,  
    ( CASE WHEN VENDOR_CODE LIKE '[EI][A-Z][A-Z][A-Z][0-9][0-9]' THEN 'TYPE'   
      WHEN VENDOR_CODE LIKE '%$HSU%' THEN 'HSUD'   
      WHEN VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'   
      WHEN VENDOR_CODE LIKE '%$SES%' THEN 'SEST'   
      WHEN VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'  
      WHEN LEN(VENDOR_CODE)>8 THEN 'OTHER' ELSE VENDOR_CODE END) AS FEED,   
    SUM(DW.TEU) AS SUMOFTEUS,   
    COUNT(DW.BOL_ID) AS COUNTOFBOLS  
  INTO WORKTEMP.DBO.PORTLINEVES  
  FROM PES_DW_BOL DW (NOLOCK)   
  LEFT OUTER JOIN DBO.PES_DW_REF_PORT DPTPORT (NOLOCK) ON DW.PORT_DEPART_REF_ID = DPTPORT.ID  
  LEFT OUTER JOIN DBO.PES_DW_REF_PORT ULTPORT (NOLOCK) ON DW.ULTPORT_REF_ID = ULTPORT.ID  
  LEFT OUTER JOIN DBO.PES_DW_REF_CARRIER SLINE (NOLOCK) ON DW.SLINE_REF_ID = SLINE.ID  
  LEFT OUTER JOIN DBO.PES_DW_REF_VESSEL VES (NOLOCK) ON DW.VESSEL_REF_ID = VES.ID  
  WHERE DW.VDATE> (SELECT DATEADD(YEAR, YEAR(@PDATE)-1900, DATEADD(MM, MONTH(@PDATE)-7, -1)))   
   AND DW.VDATE< (SELECT DATEADD(YEAR, YEAR(@PDATE)-1900, DATEADD(MM, MONTH(@PDATE), -1)))   
   AND DW.DIRECTION='E' AND DW.DELETED IS NULL  
  GROUP BY YEAR(DW.VDATE),   
     MONTH(DW.VDATE),   
     DW.DIRECTION,   
     SLINE.SLINE,   
     DPTPORT.PIERS_NAME,   
     VES.NAME,   
     ( CASE WHEN VENDOR_CODE LIKE '[EI][A-Z][A-Z][A-Z][0-9][0-9]' THEN 'TYPE'   
       WHEN VENDOR_CODE LIKE '%$HSU%' THEN 'HSUD'   
       WHEN VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'   
       WHEN VENDOR_CODE LIKE '%$SES%' THEN 'SEST'   
       WHEN VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'  
       WHEN LEN(VENDOR_CODE)>8 THEN 'OTHER' ELSE VENDOR_CODE END)  
  
  INSERT INTO [WORKTEMP].[DBO].[PORTLINEVES]  
       ([YEAR]  
    ,[MTH]  
    ,[DIRECTION]  
    ,VESSEL  
    ,[USPORT]  
    ,SLINE  
    ,FEED  
    ,[SUMOFTEUS]  
    ,[COUNTOFBOLS])  
  SELECT YEAR(DW.VDATE) AS YEAR,   
    MONTH(DW.VDATE) AS MTH,   
    DW.DIRECTION,   
    VES.NAME AS VESSEL,  
    ARVPORT.PIERS_NAME AS USPORT,    
    SLINE.SLINE,   
    ( CASE WHEN VENDOR_CODE LIKE '[EI][A-Z][A-Z][A-Z][0-9][0-9]' THEN 'TYPE'   
      WHEN VENDOR_CODE LIKE '%$HSU%' THEN 'HSUD'   
      WHEN VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'   
      WHEN VENDOR_CODE LIKE '%$SES%' THEN 'SEST'   
      WHEN VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'  
      WHEN LEN(VENDOR_CODE)>8 THEN 'OTHER' ELSE VENDOR_CODE END) AS FEED,   
    SUM(DW.TEU) AS SUMOFTEUS, COUNT(DW.BOL_ID) AS COUNTOFBOLS  
  FROM PES_DW_BOL DW (NOLOCK)   
  LEFT OUTER JOIN DBO.PES_DW_REF_PORT ARVPORT (NOLOCK) ON DW.PORT_ARRIVE_REF_ID = ARVPORT.ID  
  LEFT OUTER JOIN DBO.PES_DW_REF_PORT ULTPORT (NOLOCK) ON DW.ULTPORT_REF_ID = ULTPORT.ID  
  LEFT OUTER JOIN DBO.PES_DW_REF_CARRIER SLINE (NOLOCK) ON DW.SLINE_REF_ID = SLINE.ID  
  LEFT OUTER JOIN DBO.PES_DW_REF_VESSEL VES (NOLOCK) ON DW.VESSEL_REF_ID = VES.ID  
  WHERE DW.VDATE> (SELECT DATEADD(YEAR, YEAR(@PDATE)-1900, DATEADD(MM, MONTH(@PDATE)-7, -1)))   
  AND DW.VDATE< (SELECT DATEADD(YEAR, YEAR(@PDATE)-1900, DATEADD(MM, MONTH(@PDATE), -1)))   
  AND DW.DIRECTION='I' AND DW.DELETED IS NULL   
  group by year(dw.vdate), month(dw.vdate), dw.direction, sline.sline, arvport.piers_name,  ves.name,   
( case when vendor_code like '[EI][A-Z][A-Z][A-Z][0-9][0-9]' then 'TYPE'   
when vendor_code like '%$HSU%' then 'HSUD'   
when vendor_code like '%$HRZ%' then 'HRZN'   
when vendor_code like '%$SES%' then 'SEST'   
when vendor_code like '%$HRZ%' then 'HRZN'  
when len(vendor_code)>8 then 'OTHER' else vendor_code END)   
  
EXEC xp_cmdshell 'bcp "SELECT * FROM WorkTemp.dbo.PortLineVes" queryout "G:\PortLine\PortLineVessel.txt" -T -c -t"|"'   

COMMIT TRANSACTION
GO
