/****** Object:  StoredProcedure [dbo].[USP_PES_DW_EST_VALUE_CALCULATION]    Script Date: 01/08/2013 14:51:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_PES_DW_EST_VALUE_CALCULATION] @BOL_ID NUMERIC(12,0)
AS

BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC PES_RAW.SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

	BEGIN DISTRIBUTED TRANSACTION

	DECLARE @COUNTRY_CODE VARCHAR(3),
	@CMD_WGT FLOAT,@BOL_DIRECTION CHAR(1),@DISCHARGE_PORT VARCHAR(10),
	@CMD_HSCODE VARCHAR(50),@EST_VALUE NUMERIC(12,2),@EVCOAST CHAR(1),
	@EVHARM4 CHAR(4),@EVCTRY CHAR(3),@EVVPMT NUMERIC(12),@SAVE_VPMT NUMERIC(12,2),
	@CTRYCODE VARCHAR(3),@CALC_PERCENT NUMERIC(12,2),@CMD_ID INT, 
	@WGT_CONV_FACTOR NUMERIC(16,8),@EVCOAST1 CHAR(1),@HARM6 CHAR(6),
	@KILOTONS FLOAT,@OLD_USPORT VARCHAR(5),@COUNT INT

	SELECT TOP 1 @WGT_CONV_FACTOR=(1/CONVERSION_FACTOR)*1000 FROM PES_RAW.PES.DBO.vREF_WEIGHT_UNIT WHERE WGT_UNIT='KG'

	CREATE TABLE #TEMP_EST_VALUE
	(
		BOL_ID NUMERIC(12,0),
		CMD_ID NUMERIC(12,0),
		CMD_HSCODE VARCHAR(10),
		CMD_WGT_VALUE NUMERIC(16,0),
		BOL_DIRECTION CHAR(1),
		CTRYCODE VARCHAR(3),
		DISCHARGE_PORT VARCHAR(4),
		CMD_EST_VALUE NUMERIC(12,2)
	)

						
	INSERT INTO #TEMP_EST_VALUE(BOL_ID,CMD_ID,CMD_HSCODE,CMD_WGT_VALUE,BOL_DIRECTION,
	CTRYCODE,DISCHARGE_PORT)
	(SELECT A.BOL_ID,A.CMD_ID,A.HSCODE,A.STND_WEIGHT_KG,B.DIRECTION,B.CTRYCODE,
	CASE B.DIRECTION WHEN 'E' THEN (SELECT LEFT(CODE,4) FROM PES_DW_REF_PORT WITH (NOLOCK) WHERE 
	ID=B.PORT_DEPART_REF_ID) 
	ELSE (SELECT LEFT(CODE,4) FROM PES_DW_REF_PORT WITH (NOLOCK) WHERE 
	ID=B.PORT_ARRIVE_REF_ID) END AS DISCHARGE_PORT 
	FROM PES_DW_CMD A WITH (NOLOCK) join PES_DW_BOL B WITH (NOLOCK) 
	on  A.BOL_ID=B.BOL_ID AND B.BOL_ID=@BOL_ID)
		
	--EST_VALUE CALCULATION BEGINS
	DECLARE EST_VALUE_CURSOR CURSOR FOR SELECT BOL_ID,CMD_ID,CMD_HSCODE,CMD_WGT_VALUE,
	BOL_DIRECTION,CTRYCODE,DISCHARGE_PORT FROM #TEMP_EST_VALUE 

	--CURSOR EXECUTION BEGIN
	OPEN EST_VALUE_CURSOR

	--BEGIN FETCHING RECORDS STG_CMD AND STG_BOL
	FETCH NEXT FROM EST_VALUE_CURSOR INTO @BOL_ID,@CMD_ID,@CMD_HSCODE,@CMD_WGT,@BOL_DIRECTION,@CTRYCODE,@DISCHARGE_PORT
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @EST_VALUE=NULL
		SET @EVCOAST=NULL
		SET @EVVPMT=NULL
		SET @OLD_USPORT=NULL
		SET @COUNT=NULL
				
		--CONVERT NEW USPORT TO OLD USPORT
		SELECT @OLD_USPORT=SOURCE FROM PES_RAW.PES.DBO.PES_PORT_CONVERSION 
		WHERE TARGET=@DISCHARGE_PORT AND 
		IS_US_PORT='1'

		IF @OLD_USPORT IS NOT NULL
			SET @DISCHARGE_PORT=@OLD_USPORT

		IF @CMD_WGT=0 OR @CMD_WGT IS NULL
			SET @EST_VALUE=0
		ELSE
		BEGIN
			SET @KILOTONS=@CMD_WGT/@WGT_CONV_FACTOR
			IF @CTRYCODE='649' OR @CTRYCODE='469'
				SET @CTRYCODE='470'

			SELECT @COUNT=COUNT(*) FROM PES_RAW.PES.DBO.PES_US_COAST WHERE SUBSTRING(USPORT_CODE,1,2)=SUBSTRING(@DISCHARGE_PORT,1,2)
					
			IF @COUNT=1
				SELECT @EVCOAST=COAST FROM PES_RAW.PES.DBO.PES_US_COAST WHERE SUBSTRING(USPORT_CODE,1,2)=SUBSTRING(@DISCHARGE_PORT,1,2)					
			ELSE IF @COUNT>1
				SELECT @EVCOAST=COAST FROM PES_RAW.PES.DBO.PES_US_COAST WHERE USPORT_CODE=@DISCHARGE_PORT

			IF @EVCOAST IS NULL
				SELECT @EVCOAST=COAST FROM PES_RAW.PES.DBO.PES_US_COAST WHERE SUBSTRING(USPORT_CODE,1,2)=SUBSTRING(@DISCHARGE_PORT,1,2)					
					
			IF @EVCOAST IS NULL	
				SET @EVCOAST=' '
								
			IF @EVCOAST=' '
			BEGIN
				SET @HARM6=SUBSTRING(@CMD_HSCODE,1,6)
				SET @EVCTRY=SUBSTRING(@CTRYCODE,1,1)
				
				IF @BOL_DIRECTION='E'
					SELECT @EVVPMT=VMPT FROM PES_RAW.PES.DBO.PES_EXPVALUE_UPDATE WHERE HSCODE6_CTRYCODE+COAST=@HARM6+@EVCTRY+@EVCOAST 
				IF @BOL_DIRECTION='I'
					SELECT @EVVPMT=VMPT FROM PES_RAW.PES.DBO.PES_IMPVALUE_UPDATE WHERE HSCODE6_CTRYCODE+COAST=@HARM6+@EVCTRY+@EVCOAST 

				IF @EVVPMT IS NOT NULL
					SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
			END
			ELSE 
			BEGIN
				SET @HARM6=SUBSTRING(@CMD_HSCODE,1,6)
				SET @EVCTRY=@CTRYCODE

				IF @BOL_DIRECTION='E'
					SELECT @EVVPMT=VMPT FROM PES_RAW.PES.DBO.PES_EXPVALUE_UPDATE WHERE HSCODE6_CTRYCODE+COAST=@HARM6+@EVCTRY+@EVCOAST 
				IF @BOL_DIRECTION='I'
					SELECT @EVVPMT=VMPT FROM PES_RAW.PES.DBO.PES_IMPVALUE_UPDATE WHERE HSCODE6_CTRYCODE+COAST=@HARM6+@EVCTRY+@EVCOAST 

				IF @EVVPMT IS NOT NULL
				BEGIN
					IF @EVVPMT>199899 AND @EVVPMT<201000
					BEGIN
						SET @HARM6='ALL'
						SET @EVCTRY=@CTRYCODE
						SET @EVVPMT=NULL
						
						IF @BOL_DIRECTION='E'
							SELECT @EVVPMT=VMPT FROM PES_RAW.PES.DBO.PES_EXPVALUE_UPDATE WHERE HSCODE6_CTRYCODE+COAST=@HARM6+@EVCTRY+@EVCOAST 
						IF @BOL_DIRECTION='I'
							SELECT @EVVPMT=VMPT FROM PES_RAW.PES.DBO.PES_IMPVALUE_UPDATE WHERE HSCODE6_CTRYCODE+COAST=@HARM6+@EVCTRY+@EVCOAST 
						IF @EVVPMT IS NOT NULL
							SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
					END
					ELSE IF @EVVPMT>100000
					BEGIN
						SET @SAVE_VPMT=@EVVPMT
						SET @HARM6=SUBSTRING(@CMD_HSCODE,1,6)
						SET @EVCTRY=@CTRYCODE
						SET @EVCOAST1='A'
						SET @EVVPMT=NULL
					
						IF @BOL_DIRECTION='E'
							SELECT @EVVPMT=VMPT FROM PES_RAW.PES.DBO.PES_EXPVALUE_UPDATE WHERE HSCODE6_CTRYCODE+COAST=@HARM6+@EVCTRY+@EVCOAST1 
						IF @BOL_DIRECTION='I'
							SELECT @EVVPMT=VMPT FROM PES_RAW.PES.DBO.PES_IMPVALUE_UPDATE WHERE HSCODE6_CTRYCODE+COAST=@HARM6+@EVCTRY+@EVCOAST1  
			
						IF @EVVPMT IS NOT NULL
						BEGIN
							SET @CALC_PERCENT=ROUND(@EVVPMT/@SAVE_VPMT,2)
							IF @CALC_PERCENT>=0.90
								SET @EST_VALUE=ROUND(@KILOTONS*@SAVE_VPMT,2)
							ELSE
								SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
						END
						ELSE
							BEGIN
								SET @HARM6='ALL'
								SET @EVCTRY=@CTRYCODE
								SET @EVVPMT=NULL
			
								IF @BOL_DIRECTION='E'
									SELECT @EVVPMT=VMPT FROM PES_RAW.PES.DBO.PES_EXPVALUE_UPDATE WHERE HSCODE6_CTRYCODE+COAST=@HARM6+@EVCTRY+@EVCOAST 
								IF @BOL_DIRECTION='I'
									SELECT @EVVPMT=VMPT FROM PES_RAW.PES.DBO.PES_IMPVALUE_UPDATE WHERE HSCODE6_CTRYCODE+COAST=@HARM6+@EVCTRY+@EVCOAST 

								IF @EVVPMT IS NOT NULL
									SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
							END
						END
						ELSE
							SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
					END
				END
					
				IF @EST_VALUE IS NULL
				BEGIN
					SET @EVVPMT=NULL
							
					IF @EVCOAST=' '
					BEGIN
						SET @EVHARM4=SUBSTRING(@CMD_HSCODE,1,4)
						SET @EVCTRY=SUBSTRING(@CTRYCODE,1,1)
			
						IF @BOL_DIRECTION='E'
							SELECT @EVVPMT=EVVPMT FROM PES_RAW.PES.DBO.PES_EXPVALUE WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 
						IF @BOL_DIRECTION='I'
							SELECT @EVVPMT=EVVPMT FROM PES_RAW.PES.DBO.PES_IMPVALUE WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 

						IF @EVVPMT IS NOT NULL
							SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
					END
					ELSE 
					BEGIN
						SET @EVHARM4=SUBSTRING(@CMD_HSCODE,1,4)
						SET @EVCTRY=@CTRYCODE

						IF @BOL_DIRECTION='E'
							SELECT @EVVPMT=EVVPMT FROM PES_RAW.PES.DBO.PES_EXPVALUE WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 
						IF @BOL_DIRECTION='I'
							SELECT @EVVPMT=EVVPMT FROM PES_RAW.PES.DBO.PES_IMPVALUE WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 

						IF @EVVPMT IS NOT NULL
						BEGIN
							IF @EVVPMT>199899 AND @EVVPMT<201000
							BEGIN
								SET @EVHARM4='ALL'
								SET @EVCTRY=@CTRYCODE
								SET @EVVPMT=NULL
								IF @BOL_DIRECTION='E'
									SELECT @EVVPMT=EVVPMT FROM PES_RAW.PES.DBO.PES_EXPVALUE WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 
								IF @BOL_DIRECTION='I'
									SELECT @EVVPMT=EVVPMT FROM PES_RAW.PES.DBO.PES_IMPVALUE WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 
								IF @EVVPMT IS NOT NULL
									SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
							END
						ELSE IF @EVVPMT>100000
						BEGIN
							SET @SAVE_VPMT=@EVVPMT
							SET @EVHARM4=SUBSTRING(@CMD_HSCODE,1,4)
							SET @EVCTRY=@CTRYCODE
							SET @EVCOAST1='A'
							SET @EVVPMT=NULL
							IF @BOL_DIRECTION='E'
								SELECT @EVVPMT=EVVPMT FROM PES_RAW.PES.DBO.PES_EXPVALUE WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST1 
							IF @BOL_DIRECTION='I'
								SELECT @EVVPMT=EVVPMT FROM PES_RAW.PES.DBO.PES_IMPVALUE WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST1 
			
							IF @EVVPMT IS NOT NULL
							BEGIN
								SET @CALC_PERCENT=ROUND(@EVVPMT/@SAVE_VPMT,2)
								IF @CALC_PERCENT>=0.90
									SET @EST_VALUE=ROUND(@KILOTONS*@SAVE_VPMT,2)
								ELSE
									SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
							END
							ELSE
							BEGIN
								SET @EVHARM4='ALL'
								SET @EVCTRY=@CTRYCODE
								SET @EVVPMT=NULL
								IF @BOL_DIRECTION='E'
									SELECT @EVVPMT=EVVPMT FROM PES_RAW.PES.DBO.PES_EXPVALUE WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 
								IF @BOL_DIRECTION='I'
									SELECT @EVVPMT=EVVPMT FROM PES_RAW.PES.DBO.PES_IMPVALUE WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 
								IF @EVVPMT IS NOT NULL
									SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
							END
						END
						ELSE
							SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
					END
				END
					
				IF @EST_VALUE IS NULL
				BEGIN
					SET @EVVPMT=NULL
					SET @EVHARM4=SUBSTRING(@CMD_HSCODE,1,4)
					SET @EVCTRY=SUBSTRING(@CTRYCODE,1,1)

					IF @BOL_DIRECTION='E'
						SELECT @EVVPMT=EVVPMT FROM PES_RAW.PES.DBO.PES_EXPVALUE WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 
					IF @BOL_DIRECTION='I'
						SELECT @EVVPMT=EVVPMT FROM PES_RAW.PES.DBO.PES_IMPVALUE WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 

					IF @EVVPMT IS NOT NULL
						SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
					IF @EST_VALUE IS NULL
					BEGIN
						SET @EVCOAST1='A'
						SET @EVHARM4=SUBSTRING(@CMD_HSCODE,1,4)
						SET @EVCTRY=SUBSTRING(@CTRYCODE,1,3)

						IF @BOL_DIRECTION='E'
							SELECT @EVVPMT=EVVPMT FROM PES_RAW.PES.DBO.PES_EXPVALUE WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST1 
						IF @BOL_DIRECTION='I'
							SELECT @EVVPMT=EVVPMT FROM PES_RAW.PES.DBO.PES_IMPVALUE WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST1 
					
						IF @EVVPMT IS NOT NULL
							SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
							
						IF @EST_VALUE IS NULL
						BEGIN
							SET @EVCOAST1='A'
							SET @EVHARM4=SUBSTRING(@CMD_HSCODE,1,4)
							SET @EVCTRY='ALL'

							IF @BOL_DIRECTION='E'
								SELECT @EVVPMT=EVVPMT FROM PES_RAW.PES.DBO.PES_EXPVALUE WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST1 
							IF @BOL_DIRECTION='I'
								SELECT @EVVPMT=EVVPMT FROM PES_RAW.PES.DBO.PES_IMPVALUE WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST1 

							IF @EVVPMT IS NOT NULL
								SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
						
							IF @EST_VALUE IS NULL
							BEGIN
								SET @EVHARM4='ALL '
								SET @EVCTRY=@CTRYCODE
								IF @BOL_DIRECTION='E'
									SELECT @EVVPMT=EVVPMT FROM PES_RAW.PES.DBO.PES_EXPVALUE WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 
								IF @BOL_DIRECTION='I'
									SELECT @EVVPMT=EVVPMT FROM PES_RAW.PES.DBO.PES_IMPVALUE WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 

								IF @EVVPMT IS NOT NULL
									SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
							END
						END
					END
				END
			END
		END
			
		UPDATE #TEMP_EST_VALUE WITH (UPDLOCK) SET CMD_EST_VALUE=ISNULL(@EST_VALUE,0) WHERE BOL_ID=@BOL_ID AND CMD_ID=@CMD_ID  
		
		FETCH NEXT FROM EST_VALUE_CURSOR INTO @BOL_ID,@CMD_ID,@CMD_HSCODE,@CMD_WGT,@BOL_DIRECTION,@CTRYCODE,@DISCHARGE_PORT
	END
	CLOSE EST_VALUE_CURSOR
	DEALLOCATE EST_VALUE_CURSOR

	--UPDATE EST_VALUE IN PES_DW_CMD
	UPDATE A WITH (UPDLOCK)
	SET A.STND_EST_VALUE_DOLLAR=B.CMD_EST_VALUE,
	MODIFY_DATE=GETDATE() 
	FROM PES_DW_CMD A JOIN #TEMP_EST_VALUE B
	ON A.BOL_ID=B.BOL_ID
	WHERE A.CMD_ID=B.CMD_ID 
			
	--UPDATE EST_VALUE IN PES_DW_BOL
	UPDATE PES_DW_BOL WITH (UPDLOCK) 
	SET PES_DW_BOL.STND_EST_VALUE_DOLLAR=(
	SELECT SUM(ISNULL(C.CMD_EST_VALUE,0)) 
	FROM #TEMP_EST_VALUE C WITH (NOLOCK) 
	WHERE C.BOL_ID=PES_DW_BOL.BOL_ID),
	MODIFY_DATE=GETDATE() 
	FROM #TEMP_EST_VALUE D
	WHERE PES_DW_BOL.BOL_ID=D.BOL_ID
		
	UPDATE PES_DW_BOL with (updlock)
	SET STND_EST_VALUE_DOLLAR=0,MODIFY_DATE=GETDATE() 
	WHERE STND_EST_VALUE_DOLLAR IS NULL AND BOL_ID=@BOL_ID

	DROP TABLE #TEMP_EST_VALUE

	COMMIT TRANSACTION


-- [aa] - 11/28/2010
-- Log end time
EXEC PES_RAW.SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
