/****** Object:  StoredProcedure [dbo].[USP_PES_DW_ROLLUP_COMPANY]    Script Date: 01/08/2013 14:51:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_PES_DW_ROLLUP_COMPANY]
AS 
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC PES_RAW.SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

DECLARE @TRANNAME VARCHAR(20), @ERROR_MESSAGE VARCHAR(1000),  
@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50)  
SET @TRANNAME = 'MyTransaction'  

 
BEGIN TRY  

BEGIN TRANSACTION @TRANNAME 
--SAVVIS DATAWAREHOUSE

INSERT INTO PES_DW_MERGE_WORK
SELECT * FROM PES_RAW.PES.DBO.PES_MERGE_WORK 

--DELETE FROM PES_DW_REF_COMPANY
DELETE FROM PES_DW_REF_COMPANY WHERE COMP_ID IN(SELECT FROM_COMP_ID FROM PES_DW_MERGE_WORK WITH (NOLOCK))

UPDATE A WITH (UPDLOCK) SET A.CONGINEE_COMP_REF_ID=B.TO_COMP_ID,A.MODIFY_DATE=GETDATE()
FROM 
PES_DW_BOL A JOIN PES_DW_MERGE_WORK B WITH (NOLOCK) ON 
A.CONGINEE_COMP_REF_ID=B.FROM_COMP_ID


UPDATE A WITH (UPDLOCK) SET A.SHIPPER_COMP_REF_ID=B.TO_COMP_ID,A.MODIFY_DATE=GETDATE()
FROM 
PES_DW_BOL A JOIN PES_DW_MERGE_WORK B WITH (NOLOCK) ON 
A.SHIPPER_COMP_REF_ID=B.FROM_COMP_ID


UPDATE A WITH (UPDLOCK) SET A.NOTIFY_COMP_REF_ID=B.TO_COMP_ID,A.MODIFY_DATE=GETDATE()
FROM 
PES_DW_BOL A JOIN PES_DW_MERGE_WORK B WITH (NOLOCK) ON 
A.NOTIFY_COMP_REF_ID=B.FROM_COMP_ID


UPDATE A WITH (UPDLOCK) SET A.ALSO_NOTIFY_COMP_REF_ID=B.TO_COMP_ID,A.MODIFY_DATE=GETDATE()
FROM PES_DW_BOL A JOIN 
PES_DW_MERGE_WORK B WITH (NOLOCK) ON A.ALSO_NOTIFY_COMP_REF_ID=B.FROM_COMP_ID


TRUNCATE TABLE PES_DW_MERGE_WORK

COMMIT TRANSACTION @TRANNAME  

END TRY
BEGIN CATCH  
  SET @ERROR_NUMBER=ERROR_NUMBER()  
  SET @ERROR_LINE=ERROR_LINE()  
  SET @ERROR_MESSAGE='Stored Procedure PES_DW_COMPANY_ROLLUP of Savvis Data Warehouse failed with ERROR DESCRIPTION:  '+ERROR_MESSAGE()  
  
  ROLLBACK TRANSACTION @TRANNAME  
  
  EXEC PES_RAW.PES.DBO.PES_SP_EMAIL 'Company Rollup Process Failed','Company Rollup Process Failed',@ERROR_MESSAGE,@ERROR_LINE,@ERROR_NUMBER  
 
  RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG

END CATCH



-- [aa] - 11/28/2010
-- Log end time
EXEC PES_RAW.SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
