/****** Object:  StoredProcedure [dbo].[SP_UPDATE_SHIPPER_INFORMATION]    Script Date: 01/08/2013 14:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Cognizant Technology Solutions>
-- Create date: <21ST May 2010>
-- Description:	<Procedure to update the SHIPPER Information>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UPDATE_SHIPPER_INFORMATION]
	-- Add the parameters for the stored procedure here
	@BOLID INT, 
	@CNAME VARCHAR(150), 
	@CCITY VARCHAR(150), 
	@CSTATE VARCHAR(250),
	@CADDRESS VARCHAR(250),
	@USERNAME VARCHAR(150),
	@DIRECTION CHAR
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC PES_RAW.SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

SET XACT_ABORT ON
BEGIN DISTRIBUTED TRANSACTION
	DECLARE @COMP_ID INT
	SELECT @COMP_ID = SHIPPER_COMP_REF_ID FROM PES_DW_BOL WHERE BOL_ID = @BOLID

	if @DIRECTION = 'I'
		BEGIN
			UPDATE PES_DW_REF_COMPANY
			SET [NAME] = @CNAME, 
				CITY = @CCITY,
				COUNTRY_CD = (SELECT CTRY_CODE FROM PES_DW_REF_COUNTRY WITH (NOLOCK) WHERE PIERS_COUNTRY = @CSTATE),
				ADDRESS1 = @CADDRESS,
				MODIFIED_BY = @USERNAME,
				MODIFIED_DT = GETDATE()
			WHERE COMP_ID = (SELECT SHIPPER_COMP_REF_ID FROM PES_DW_BOL WHERE BOL_ID = @BOLID)
		END
	ELSE IF @DIRECTION = 'E'
		BEGIN
			UPDATE PES_DW_REF_COMPANY
			SET [NAME] = @CNAME, 
				CITY = @CCITY,
				STATE = @CSTATE,
				ADDRESS1 = @CADDRESS,
				MODIFIED_BY = @USERNAME,
				MODIFIED_DT = GETDATE()
			WHERE COMP_ID = (SELECT SHIPPER_COMP_REF_ID FROM PES_DW_BOL WHERE BOL_ID = @BOLID)
		END

		EXEC PES_RAW.PES.DBO.UPDATE_SHIPPER_REF_DATA @COMP_ID, @CNAME, @CCITY, @CSTATE, @CADDRESS, @USERNAME


	
--	UPDATE PES_RAW.PES.DBO.PES_REF_COMPANY
--	SET [NAME] = @CNAME, 
--		CITY = @CCITY,
--		COUNTRY = (SELECT CTRY_CODE FROM PES_DW_REF_COUNTRY WITH (NOLOCK) WHERE PIERS_COUNTRY = @CSTATE),
--		ADDRESS1 = @CADDRESS,
--		MODIFIED_BY = @USERNAME,
--		MODIFIED_DT = GETDATE()
--	WHERE COMP_ID = (SELECT SHIPPER_COMP_REF_ID FROM PES_DW_BOL WHERE BOL_ID = @BOLID)

--	UPDATE PES_DW_NEW_COMPANY
--	SET [NAME] = @CNAME, 
--		CITY = @CCITY,
--		STATE = @CSTATE,
--		ADDR_1 = @CADDRESS,
--		MODIFIED_BY = @USERNAME,
--		MODIFIED_DT = GETDATE()
--	WHERE COMP_ID = (SELECT SHIPPER_COMP_REF_ID FROM PES_DW_BOL WHERE BOL_ID = @BOLID)
COMMIT TRANSACTION
SET XACT_ABORT OFF

-- [aa] - 11/28/2010
-- Log end time
EXEC PES_RAW.SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
