/****** Object:  UserDefinedFunction [dbo].[XMLOFUSERS]    Script Date: 01/03/2013 19:53:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[XMLOFUSERS](@USERS VARCHAR(MAX)) RETURNS XML AS
BEGIN
   DECLARE @X XML,
           @DELIMITER CHAR(1)

   SET @DELIMITER = ','
   SET @X = '<I>' + REPLACE(@USERS, @DELIMITER, '</I><I>') + '</I>'
   RETURN @X
END
GO
