/****** Object:  UserDefinedFunction [dbo].[PES_UDF_GET_COMPANYMATCHINFO]    Script Date: 01/03/2013 19:53:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		COGNIZANT
-- CREATE DATE: 26-AUGUST-2009
-- DESCRIPTION:	GET COMPANY MATCH ID INFORMATION
-- =============================================
CREATE FUNCTION [dbo].[PES_UDF_GET_COMPANYMATCHINFO]
(	
	@BOL_ID		INT,
	@SOURCE		CHAR(1)		
)
RETURNS INT
AS
BEGIN
	DECLARE @MATCH_ID INT
	
	SELECT @MATCH_ID = MATCH_PTY_ID
	FROM PES.DBO.PES_STRUCTURED_PTY WITH (NOLOCK)
	WHERE BOL_ID=@BOL_ID
	AND SOURCE=@SOURCE
	
	IF @MATCH_ID IS NULL
		SELECT @MATCH_ID=0

	RETURN @MATCH_ID
END
GO
