/****** Object:  UserDefinedFunction [dbo].[EXP_BUL_UDF_FMTSTR]    Script Date: 01/08/2013 14:57:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[EXP_BUL_UDF_FMTSTR] (@STR VARCHAR(MAX),@LEN INT)
RETURNS VARCHAR(MAX)
--Right pad char fields with spaces
AS
BEGIN
DECLARE @FIN_STR VARCHAR(MAX)
SELECT @FIN_STR= ISNULL(@STR,'')+REPLICATE(' ',@LEN-(ISNULL(LEN(LEFT(@STR,@LEN)),0)))


RETURN @FIN_STR
END
GO
