/****** Object:  UserDefinedFunction [dbo].[EXP_BUL_UDF_FMTDATE]    Script Date: 01/08/2013 14:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[EXP_BUL_UDF_FMTDATE] (@STR DATETIME)
RETURNS VARCHAR(MAX)
--Right pad char fields with spaces
AS
BEGIN
DECLARE @FIN_STR VARCHAR(MAX)
SELECT @FIN_STR= ISNULL(CONVERT(VARCHAR,@STR,112),'        ')


RETURN @FIN_STR
END
GO
