/****** Object:  UserDefinedFunction [dbo].[PES_UDF_RECNUM]    Script Date: 01/08/2013 14:57:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[PES_UDF_RECNUM] (@CMD_ID BIGINT)
RETURNS CHAR(8)
AS
BEGIN
DECLARE @CMD_ID_CHAR BIGINT 
DECLARE @RECNUM_GEN CHAR(8)

SET @CMD_ID_CHAR = RIGHT(@CMD_ID,7)

SELECT @RECNUM_GEN = 
CASE WHEN @CMD_ID > 109999999 THEN 
CHAR(ASCII('A')+ LEFT(@CMD_ID,LEN(@CMD_ID)-7)-10) + 
REPLICATE('0',7-LEN(CAST(@CMD_ID_CHAR - CAST((@CMD_ID_CHAR-1)/9999999 AS INT)*9999999 AS CHAR(7))))+
CAST(@CMD_ID_CHAR - CAST((@CMD_ID_CHAR-1)/9999999 AS INT)*9999999 AS CHAR(7)) 
ELSE 
CHAR(ASCII('A')) + REPLICATE('0',7-LEN(@CMD_ID_CHAR))+ CAST(@CMD_ID_CHAR AS CHAR(7))
END 

RETURN @RECNUM_GEN


END
GO
