/****** Object:  StoredProcedure [dbo].[CITYST]    Script Date: 01/03/2013 19:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CITYST]
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


DECLARE @TRANNAME VARCHAR(20),@FILE VARCHAR(500),@FILE_NAME VARCHAR(50)
DECLARE @CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),
@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50),@DIR VARCHAR(1),@LOADNUMBER INT,@DATE DATETIME,@TIME INT
SET @TRANNAME = 'MyTransaction'
SELECT @FILE = PATH FROM PES_CONFIGURATION WHERE SOURCE='SP_LOG'
--SELECT @FILE_NAME= FILENAME FROM PES_PROGRESS_STATUS WHERE LOADNUMBER=(SELECT TOP 1 LOAD_NUMBER FROM RAW_BOL  WITH (NOLOCK) )
SELECT @FILE_NAME= FILENAME, @LOADNUMBER = LOADNUMBER FROM PES_PROGRESS_STATUS  WITH (NOLOCK)  WHERE LOAD_DT=(SELECT MAX(Load_DT) FROM PES_PROGRESS_STATUS  WITH (NOLOCK) )

SET @FILE='"'+@FILE+@FILE_NAME+'_LOG.TXT'+'"'

SET @CMD = 'ECHO PROCEDURE CITYST EXECUTION STARTED' + '>>'+ @FILE
EXEC MASTER..XP_CMDSHELL @CMD 

BEGIN TRANSACTION @TRANNAME


SET @DATE=GETDATE()
SELECT TOP 1 @DIR=ImpExp  FROM RAW_BOL  WITH (NOLOCK) 

IF @DIR = 'I'
BEGIN

BEGIN TRY
-- FOR CITYST


UPDATE PES_STG_BOL WITH(UPDLOCK) SET USIB_CODE = US_DIST_PORT FROM RAW_BOL A  WITH (NOLOCK) , PES_STG_BOL B  WHERE A.BOL_ID = B.BOL_ID
UPDATE PES_STG_BOL WITH(UPDLOCK) SET FGNIB_CODE = FOREIGN_PORT FROM RAW_BOL A  WITH (NOLOCK) , PES_STG_BOL B  WHERE A.BOL_ID = B.BOL_ID



--

UPDATE PES_STG_BOL WITH(UPDLOCK) SET USIB_CODE = '0000'  WHERE REF_LOAD_NUM_ID =@LOADNUMBER AND USIB_CODE IS NULL 
UPDATE PES_STG_BOL WITH(UPDLOCK) SET FGNIB_CODE = '00000' WHERE  REF_LOAD_NUM_ID =@LOADNUMBER AND FGNIB_CODE IS NULL



--  FOR FGNIB_CITY AND CTRY

-- LOOKUP TO MATCH THE KEY

UPDATE PES_STG_BOL WITH(UPDLOCK) SET FGNIB_CITY = LTRIM(RTRIM(SUBSTRING(A.CITY,1,13))) FROM REF_CODECONV A  WITH (NOLOCK) , PES_STG_BOL B , RAW_BOL C  WITH (NOLOCK)  WHERE
LTRIM(RTRIM(A.CODE_KEY)) = '004'+C.CARRIER_CODE+B.FGNIB_CODE AND B.BOL_ID = C.BOL_ID




-- DOESN'T MATCH ALTER THE KEY BY REPLACING CARRIER_CODE WITH 9999

UPDATE PES_STG_BOL  WITH(UPDLOCK) SET FGNIB_CITY = LTRIM(RTRIM(SUBSTRING(A.CITY,1,13))) FROM REF_CODECONV A  WITH (NOLOCK) , PES_STG_BOL B  WHERE
LTRIM(RTRIM(A.CODE_KEY)) = '004'+'9999'+B.FGNIB_CODE AND FGNIB_CITY IS NULL





-- LOOKUP FROM REF_COUNTRY

UPDATE PES_STG_BOL WITH(UPDLOCK) SET FGNIB_CTRY = ltrim(rtrim(substring(PIERS_COUNTRY,1,7))) FROM REF_COUNTRY A  WITH (NOLOCK) , PES_STG_BOL B  WHERE
ltrim(rtrim(A.JOC_CODE)) = SUBSTRING(B.FGNIB_CODE,1,3) AND REF_LOAD_NUM_ID =@LOADNUMBER

UPDATE PES_STG_BOL WITH(UPDLOCK) SET FGNIB_CITY=LTRIM(RTRIM(SUBSTRING(CITY,1,13))) FROM PES_STG_BOL A , REF_CODECONV B  WITH (NOLOCK)  WHERE A.FGNIB_CODE =RIGHT(CODE_KEY,5)
AND REF_LOAD_NUM_ID =@LOADNUMBER




-- HARDCODE FGNIB_CTRY BASED ON FIRST THREE CHAR OF FGNIB_CODE

UPDATE PES_STG_BOL WITH(UPDLOCK) SET FGNIB_CTRY = CASE
WHEN SUBSTRING(FGNIB_CODE,1,3) >= '015' AND SUBSTRING(FGNIB_CODE,1,3) <= '152' THEN 'CANADA'
WHEN SUBSTRING(FGNIB_CODE,1,3) >= '412' AND SUBSTRING(FGNIB_CODE,1,3) <= '418' THEN 'U KING'
WHEN SUBSTRING(FGNIB_CODE,1,3) IN ('469','470','733','735') THEN 'SPAIN'
ELSE FGNIB_CTRY
END
WHERE  REF_LOAD_NUM_ID =@LOADNUMBER
AND FGNIB_CTRY IS NULL






-- SET FGNIB CITY AND CTRY TO SPACE IF NO VALUE`

UPDATE PES_STG_BOL WITH(UPDLOCK) SET FGNIB_CITY = ' ' WHERE  FGNIB_CITY IS NULL AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH(UPDLOCK) SET FGNIB_CTRY = ' ' WHERE FGNIB_CTRY IS NULL AND REF_LOAD_NUM_ID =@LOADNUMBER




-- FOR USIB_CITY AND USIB_ST

-- HARDCODE FOR USIB_CITY

UPDATE PES_STG_BOL WITH(UPDLOCK) SET  USIB_CITY = CASE
WHEN USIB_CODE IN ('1081','4601','4670','4781') THEN 'NEWARK'
WHEN USIB_CODE = '4602' THEN 'PERTH AMBOY'
ELSE USIB_CITY
END 
 WHERE  REF_LOAD_NUM_ID =@LOADNUMBER




-- LOOKUP TO MATCH THE KEY

UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY = LTRIM(RTRIM(SUBSTRING(CITY,1,13))) FROM REF_CODECONV A  WITH (NOLOCK) , PES_STG_BOL B , RAW_BOL C  WITH (NOLOCK)  WHERE
LTRIM(RTRIM(A.CODE_KEY)) = '003'+C.CARRIER_CODE+B.USIB_CODE AND B.BOL_ID = C.BOL_ID





UPDATE PES_STG_BOL  WITH (UPDLOCK) SET USIB_CITY = LTRIM(RTRIM(SUBSTRING(CITY,1,13))) FROM REF_CODECONV A  WITH (NOLOCK) , PES_STG_BOL B  WHERE
LTRIM(RTRIM(A.CODE_KEY)) = '003'+'9999'+B.USIB_CODE AND REF_LOAD_NUM_ID =@LOADNUMBER




-- LOOKUP TO SET USIB_ST

UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_ST = US_STATE FROM REF_INBONDST A, PES_STG_BOL B WHERE
LTRIM(RTRIM(A.US_CODE)) = B.USIB_CODE AND B.BOL_ID IN (SELECT BOL_ID FROM RAW_BOL)




-- HARD CODE CITY AND ST

UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='PHILADELPHIA', USIB_ST = 'PA'
WHERE USIB_CODE = '1101' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='WILMINGTON', USIB_ST = 'DE'
WHERE USIB_CODE = '1103' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='HARRISBURG', USIB_ST = 'PA'
WHERE USIB_CODE = '1109' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='WILMINGTON', USIB_ST = 'NC'
WHERE USIB_CODE = '1501' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='ORLANDO', USIB_ST = 'FL'
WHERE USIB_CODE = '1808' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='LITTLE ROCK', USIB_ST = 'AK'
WHERE USIB_CODE = '2003' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='MEMPHIS', USIB_ST = 'TN'
WHERE USIB_CODE = '2006' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='NASHVILLE', USIB_ST = 'TN'
WHERE USIB_CODE = '2007' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='LAREDO', USIB_ST = 'TX'
WHERE USIB_CODE = '2304' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='SAN ANTONIO', USIB_ST = 'TX'
WHERE USIB_CODE = '2308' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='NOGALES', USIB_ST = 'AZ'
WHERE USIB_CODE = '2604' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='LONG BEACH', USIB_ST = 'CA'
WHERE USIB_CODE = '2709' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='LAS VEGAS', USIB_ST = 'NV'
WHERE USIB_CODE = '2722' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='RENO', USIB_ST = 'NV'
WHERE USIB_CODE = '2833' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='SALK LK CY', USIB_ST = 'UT'
WHERE USIB_CODE = '3303' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='DENVER', USIB_ST = 'CO'
WHERE USIB_CODE = '3307' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='DETROIT', USIB_ST = 'MI'
WHERE USIB_CODE = '3801' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='OMAHA', USIB_ST = 'NE'
WHERE USIB_CODE = '3903' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='TOLEDO', USIB_ST = 'OH'
WHERE USIB_CODE = '4105' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='LOUISVILLE', USIB_ST = 'KY'
WHERE USIB_CODE = '4115' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='ST LOUIS', USIB_ST = 'MO'
WHERE USIB_CODE = '4501' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='MIAMI', USIB_ST = 'FL'
WHERE USIB_CODE = '5201' AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY ='OKLAHOMA CY', USIB_ST = 'OK'
WHERE USIB_CODE = '5504' AND REF_LOAD_NUM_ID =@LOADNUMBER




-- SET USIB_CITY AND STATE TO SPACE IF LOOKUP DOESN'T MATCH

UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY = ' ' WHERE  USIB_CITY IS NULL AND REF_LOAD_NUM_ID =@LOADNUMBER
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_ST = ' ' WHERE USIB_ST IS NULL AND REF_LOAD_NUM_ID =@LOADNUMBER






-- FOR DEST_CITYST

-- IF  USIB_CODE<>0000 AND FGNIB_CODE<>00000

--UPDATE PES_STG_BOL SET ORG_DEST_CITY=FGNIB_CITY, ORG_DEST_ST =FGNIB_CTRY,USIB_CITY=' ',USIB_ST=' '  WHERE
--USIB_CODE!='0000' AND FGNIB_CODE!='00000'
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY=' ',USIB_ST=' '  WHERE
USIB_CODE!='0000' AND FGNIB_CODE!='00000' AND REF_LOAD_NUM_ID =@LOADNUMBER





-- usfinal <> '0000' and fgnfinal = '00000'
--
--UPDATE PES_STG_BOL SET ORG_DEST_CITY=USIB_CITY,ORG_DEST_ST=USIB_ST WHERE 
--USIB_CODE!='0000' AND FGNIB_CODE='00000'
--
--
--

-- if usfinal = '0000' and fgnfinal = '00000'

--UPDATE PES_STG_BOL SET ORG_DEST_CITY=' ', ORG_DEST_ST=' ',USIB_CITY=' ',USIB_ST=' ',FGNIB_CITY=' ',FGNIB_CTRY=' '
--WHERE USIB_CODE ='0000' AND FGNIB_CODE='00000'
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY=' ',USIB_ST=' ',FGNIB_CITY=' ',FGNIB_CTRY=' '
WHERE USIB_CODE ='0000' AND FGNIB_CODE='00000' AND REF_LOAD_NUM_ID =@LOADNUMBER






-- if usfinal = '0000' and if fgnfinal <> '00000'

--UPDATE PES_STG_BOL SET ORG_DEST_CITY=FGNIB_CITY,ORG_DEST_ST =FGNIB_CTRY,USIB_CITY=' ',USIB_ST=' ' WHERE
--USIB_CODE='0000' AND FGNIB_CODE!='00000'
UPDATE PES_STG_BOL WITH (UPDLOCK) SET USIB_CITY=' ',USIB_ST=' ' WHERE
USIB_CODE='0000' AND FGNIB_CODE!='00000' AND REF_LOAD_NUM_ID =@LOADNUMBER

--COMMITTING THE TRANSACTIONS IF NO ERROR OCCURRED
	COMMIT TRANSACTION @TRANNAME
	SET @TIME= DATEDIFF(N,GETDATE(),@DATE)

	SET @cmd = 'ECHO PROCEDURE CITYST EXECUTED SUCCESSFULLY'+ CAST(@TIME AS VARCHAR(20)) +  ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD

END TRY

BEGIN CATCH
	SET @ERROR_NUMBER=ERROR_NUMBER()
	SET @ERROR_LINE=ERROR_LINE()
	SET @ERROR_MESSAGE='STORED PROCEDURE CITYST FAILED AT LINE NUMBER:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()
	
	SET @CMD = 'ECHO ERROR_MESSAGE-- '+@ERROR_MESSAGE+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
    SET @CMD = 'ECHO ERROR_NUMBER-- '+@ERROR_NUMBER+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
	SET @CMD = 'ECHO ERROR_LINE-- '+@ERROR_LINE+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
	SET @CMD = 'ECHO TRANSACTIONS ROLLBACKED'+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
	RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG
	
	ROLLBACK TRANSACTION @TRANNAME
END CATCH

	
END

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT


END
GO
