/****** Object:  StoredProcedure [dbo].[usp_PES_PopulateRawTEUs]    Script Date: 01/03/2013 19:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	Calculate Raw TEUs

	Parameters:
	 @VMonth int - e.g. 201103 for March 2011. If NULL, it will work on 'Production Month'

	Input: PES.dbo.PES_STG_BOL, PES.dbo.PES_STG_CNTR, PES.dbo.REF_CONTAINER_ISO
	Intermediate: TEMP_PES.dbo.RawTEU_Bol, TEMP_PES.dbo.RawTEU_Container
	Final Output: PESDW.PESDW.dbo.PES_DW_BOL_Extension, [10.31.18.147]/SQLInstance02.Piers.dbo.MAIN_ACTIVE_BOL_Extension

	1. Get incremental BOLs
	2. Calculate Master_BOL_ID for all House BOLs
	3. Get incremental Containers, and length from ref container table
	4. For each Container, calculate how many BOLs it is shared on (OnNBols)
	5. For each Container, calculate TEU based on ContainerLength and OnNBols
	6. For each Bol, calculate TEU by adding up TEUs for all Containers on the Bol
	  All of above use tables TEMP_PES.dbo.RawTEU_Bol & TEMP_PES.dbo.RawTEU_Container
	7. Populate Raw TEU to PESDW
	  Above uses table PESDW.dbo.PES_DW_BOL_Extension

	Input: PES.dbo.PES_STG_BOL, PES.dbo.PES_STG_CNTR, PES.dbo.REF_CONTAINER_ISO
	Intermediate: TEMP_PES.dbo.RawTEU_Bol, TEMP_PES.dbo.RawTEU_Container
	Final Output: PESDW.PESDW.dbo.PES_DW_BOL_Extension, [10.31.18.147]/SQLInstance02.Piers.dbo.MAIN_ACTIVE_BOL_Extension

	Usage: EXEC dbo.usp_PES_PopulateRawTEUs @VMonth=201106
	Usage: EXEC dbo.usp_PES_PopulateRawTEUs
*/
CREATE PROCEDURE [dbo].[usp_PES_PopulateRawTEUs]
	@VMonth int = NULL -- If NULL, uses 'Production Month'
AS
BEGIN

SET NOCOUNT ON

	DECLARE @STATUS VARCHAR(1000)
	DECLARE @MailSubject  VARCHAR(100)
	DECLARE @Message VARCHAR(MAX)
	DECLARE @NEWLINE CHAR(2)

BEGIN TRY

	IF @VMonth IS NULL
	BEGIN
		-- Get current Production Month
		SELECT @VMonth = YEAR(START_DT)*100 + MONTH(START_DT) FROM SCREEN_TEST.dbo.DQA_PROD_MONTH
	END
	PRINT '@VMonth = ' + LTRIM(RTRIM(STR(@VMonth)))

	-- Log start time
	DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
	SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
	,@ParametersIn = '@VMonth=' + LTRIM(RTRIM(STR(@VMonth)))
	EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
	 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

	DECLARE @StartTime datetime
	SET @StartTime = getdate()

	-- 1. Get all BOLs
	INSERT INTO TEMP_PES.dbo.RawTEU_Bol
	SELECT 
		psb.BOL_DIRECTION As Direction
		,YEAR(psb.VDATE)*100+MONTH(psb.VDATE) As VMonth
		,psb.BOL_ID
		,psb.STND_VOYG_ID As VoyageId
		,ISNULL(psb.MST_BOL_TYPE,'') As BillType
		,psb.BOL_NTERP_STD_WGT As WeightInKilos
		,NULL As TEU
		,psb.BOL_NBR
		,SUBSTRING(psb.BOL_MST_BOL_DATA,42,16) As Master_BOL_NBR
		,NULL As Master_BOL_ID
		,getdate() As ModifiedDate
	FROM PES.dbo.PES_STG_BOL psb WITH (NOLOCK)
	WHERE NOT EXISTS (SELECT 1 FROM TEMP_PES.dbo.RawTEU_Bol rtb WITH (NOLOCK) WHERE rtb.BOL_ID = psb.BOL_ID)

	-- 1b. Update any NULL VoyageIds that are now assigned
	UPDATE rtb SET
		rtb.VoyageId = psb.STND_VOYG_ID
		,ModifiedDate = getdate()
	FROM TEMP_PES.dbo.RawTEU_Bol rtb WITH (NOLOCK)
		INNER JOIN PES.dbo.PES_STG_BOL psb WITH (NOLOCK) ON
			psb.BOL_ID = rtb.BOL_ID AND 
			psb.STND_VOYG_ID IS NOT NULL
	WHERE rtb.VoyageId IS NULL

	-- 2. Calculate Master_BOL_ID for all House BOLs
	-- 2a. Get the BOL_ID to Master_BOL_ID match
	--     Look for Master BOL_NBR, where:
	--     direction is Import
	--     bill type is Master
	--     vdate is at most 1 month before or after the house bill
	-- Added by Gopal - Removed the previous subquery in the select statement
	SELECT
		rtbH.BOL_ID, 
		rtbH.VMonth, 
		NULL Master_BOL_ID,
		rtbH.Master_BOL_NBR
	INTO #tmpMapHouseToMaster
	FROM TEMP_PES.dbo.RawTEU_Bol rtbH WITH (NOLOCK)
	WHERE rtbH.BillType = 'H'
		AND rtbH.Direction = 'I'
		AND rtbH.Master_BOL_ID IS NULL

	-- Added by Gopal - Create index on #tmpMapHouseToMaster temp table to gain the performance
	CREATE NONCLUSTERED INDEX IDX_tmpMapHouseToMaster ON #tmpMapHouseToMaster 
		(BOL_ID, Master_BOL_NBR, VMonth)

	-- Added by Gopal - Update the Master_BOL_ID using INNER JOIN update
	UPDATE rtbH
		SET rtbH.Master_BOL_ID = rtbM.BOL_ID
	FROM #tmpMapHouseToMaster rtbH
	INNER JOIN TEMP_PES.dbo.RawTEU_Bol rtbM WITH (NOLOCK) ON
			rtbH.Master_BOL_NBR = rtbM.BOL_NBR
	WHERE rtbM.BillType = 'M'
			AND rtbM.Direction = 'I'
			AND rtbM.VMonth BETWEEN rtbH.VMonth-1 AND rtbH.VMonth+1

	-- 2b. No need to update where match not found
	DELETE FROM #tmpMapHouseToMaster WHERE Master_BOL_ID IS NULL

	-- 2c. Update BOL_ID to Master_BOL_ID mapping
	UPDATE rtbH SET
		rtbH.Master_BOL_ID = t.Master_BOL_ID
		,ModifiedDate = getdate()
	FROM TEMP_PES.dbo.RawTEU_Bol rtbH WITH (NOLOCK)
		INNER JOIN #tmpMapHouseToMaster t ON
		t.BOL_ID = rtbH.BOL_ID
 
	-- 3. Get all Containers
	INSERT INTO TEMP_PES.dbo.RawTEU_Container
	SELECT
		psc.BOL_ID,psc.CNTR_NBR As ContainerNumber
		,ISNULL(rci.ContainerLength,30) As ContainerLength
		,1 As OnNBols, NULL As TEU
	FROM PES.dbo.PES_STG_CNTR psc WITH (NOLOCK)
		INNER JOIN PES.dbo.REF_CONTAINER_ISO rci WITH (NOLOCK) ON
		rci.ContainerNumber = psc.CNTR_NBR
	WHERE NOT EXISTS (SELECT 1 FROM TEMP_PES.dbo.RawTEU_Container rtb WITH (NOLOCK) WHERE rtb.BOL_ID = psc.BOL_ID)

	-- Get all Voyages that need to be worked on
	-- Get all voyages for the month
	-- Added by Gopal - Removed the CTE table and Create a temp table #tmp_VoyageId_Workload
	SELECT 
		DISTINCT(VOYAGE_ID) As VoyageId
	INTO #tmp_VoyageId_Workload
	FROM SCREEN_TEST.dbo.DQA_VOYAGE  WITH (NOLOCK) 
	WHERE YEAR(EST_ARRIVAL_DT)*100+MONTH(EST_ARRIVAL_DT)=@VMonth
		OR YEAR(ACT_ARRIVAL_DT)*100+MONTH(ACT_ARRIVAL_DT)=@VMonth
	UNION
	-- Get all voyages with uncalculated container TEUs
	SELECT 
		DISTINCT(VoyageId) As VoyageId
	FROM TEMP_PES.dbo.RawTEU_Bol WITH (NOLOCK)
	WHERE BOL_ID IN 
	(
		SELECT BOL_ID
		FROM TEMP_PES.dbo.RawTEU_Container WITH (NOLOCK)
		WHERE TEU IS NULL
	)
	AND VoyageId IS NOT NULL

	-- Added by Gopal - Create index on #tmp_VoyageId_Workload temp table to gain the performance
	CREATE NONCLUSTERED INDEX IDX_tmp_VoyageId_Workload ON #tmp_VoyageId_Workload (VoyageId)

	CREATE TABLE #tmp_RawTEU_ContainerShared 
	(
		 VoyageId			int
		,BillType			varchar(1)
		,ContainerNumber	varchar(14)
		,OnNBols			int
	)

	/*
		Added by Gopal 
		The Cursor will take long time to execute for each Container to calculate onNBols
		So we removed the existing cursor and use INNER JOINs to gain the performance. 	
	*/
	INSERT INTO #tmp_RawTEU_ContainerShared
	SELECT 
		tb1.VoyageId, 
		tb1.BillType, 
		tc1.ContainerNumber, 
		COUNT(DISTINCT tc2.BOL_ID) As OnNBols 
	FROM #tmp_VoyageId_Workload tvw
		INNER JOIN TEMP_PES.dbo.RawTEU_Bol tb1 WITH (NOLOCK) ON
			tvw.VoyageId = tb1.VoyageId
		INNER JOIN TEMP_PES.dbo.RawTEU_Bol tb2 WITH (NOLOCK) ON 
			tb1.BillType = tb2.BillType		-- Match Master to Master, House to House, Regular to Regular ONLY
			AND tb1.VoyageId = tb2.VoyageId -- Match BOLs on the same voyage
			AND tb1.BOL_ID != tb2.BOL_ID
		INNER JOIN TEMP_PES.dbo.RawTEU_Container tc1 WITH (NOLOCK) ON
			tb1.BOL_ID = tc1.BOL_ID
		INNER JOIN TEMP_PES.dbo.RawTEU_Container tc2 WITH (NOLOCK) ON
			tb2.BOL_ID = tc2.BOL_ID
	WHERE tc1.ContainerNumber = tc2.ContainerNumber
	GROUP BY tb1.VoyageId,tb1.BillType,tc1.ContainerNumber

	-- Added by Gopal - Create index on #tmp_RawTEU_ContainerShared temp table to gain the performance
	CREATE NONCLUSTERED INDEX IDX_tmp_RawTEU_ContainerShared ON #tmp_RawTEU_ContainerShared (VoyageId, ContainerNumber, BillType)

	UPDATE tc 
		SET tc.OnNBols = tcs.OnNBols
	FROM TEMP_PES.dbo.RawTEU_Container tc
		INNER JOIN TEMP_PES.dbo.RawTEU_Bol tb ON
			tb.BOL_ID = tc.BOL_ID
		INNER JOIN #tmp_RawTEU_ContainerShared tcs ON
			tcs.ContainerNumber = tc.ContainerNumber
			AND tcs.VoyageId = tb.VoyageId
			AND tcs.BillType = tb.BillType

		--  AND tcs.OnNBols != tc.OnNBols -- Update only if value is going to change
		--WHERE tb.VoyageId = @VoyageId

	DROP TABLE #tmp_RawTEU_ContainerShared

	-- 5. For each Container, calculate TEUs based on ContainerLength and OnNBols
	UPDATE RTC
		SET TEU = ContainerLength*1.0/20.0/OnNBols*1.0
	FROM TEMP_PES.dbo.RawTEU_Container RTC
		INNER JOIN TEMP_PES.dbo.RawTEU_Bol RTB ON
			RTC.BOL_ID = RTB.BOL_ID
		INNER JOIN #tmp_VoyageId_Workload TVW ON
			RTB.VoyageId = TVW.VoyageId

	-- 6. For each Bol, calculate TEUs by adding up TEUs for all Containers on the Bol
	-- Added by Gopal - Removed the CTE table and Create a temp table #tmp_VoyageId_Workload
	SELECT 
		tb.BOL_ID, 
		SUM(tc.TEU) As TEU
	INTO #tmp_Bol_TEU
	FROM #tmp_VoyageId_Workload TVW 
		INNER JOIN TEMP_PES.dbo.RawTEU_Bol tb ON
			TVW.VoyageId = tb.VoyageId
		INNER JOIN TEMP_PES.dbo.RawTEU_Container tc ON
			tb.BOL_ID = tc.BOL_ID
	GROUP BY tb.BOL_ID
	
	-- Added by Gopal - Create index on #tmp_Bol_TEU temp table to gain the performance
	CREATE NONCLUSTERED INDEX IDX_tmp_Bol_TEU ON #tmp_Bol_TEU (BOL_ID)

	UPDATE tb
		SET tb.TEU = tbT.TEU, 
		ModifiedDate = getdate()
	FROM TEMP_PES.dbo.RawTEU_Bol tb
		INNER JOIN #tmp_Bol_TEU tbT ON
			tb.BOL_ID = tbT.BOL_ID AND
			(tb.TEU IS NULL OR tb.TEU != tbT.TEU) -- No need to update if the value hasn't changed

	-- Added by Gopal - Drop the temp tables
	DROP TABLE #tmp_Bol_TEU
	DROP TABLE #tmpMapHouseToMaster
	DROP TABLE #tmp_VoyageId_Workload

	-- 7. Populate Raw TEUs to PESDW
	-- 7a. Insert records that do not exist
	INSERT INTO PESDW.PESDW.dbo.PES_DW_BOL_Extension 
	(
		BOL_ID,
		RawTEU,
		ModifiedDate
	)
	SELECT 
		rtb.BOL_ID,
		rtb.TEU,
		GETDATE()
	FROM TEMP_PES.dbo.RawTEU_Bol rtb  WITH (NOLOCK) 
	WHERE NOT EXISTS (SELECT 1 FROM PESDW.PESDW.dbo.PES_DW_BOL_Extension pdbe  WITH (NOLOCK)  WHERE pdbe.BOL_ID = rtb.BOL_ID)

	--7b. Update records that already exist, but have been modified since... (and TEU value has changed)
	UPDATE pdbe 
		SET RawTEU = rtb.TEU
		,ModifiedDate = getdate()
	FROM TEMP_PES.dbo.RawTEU_Bol rtb  WITH (NOLOCK) 
		INNER JOIN PESDW.PESDW.dbo.PES_DW_BOL_Extension pdbe  WITH (NOLOCK) ON
			pdbe.BOL_ID = rtb.BOL_ID -- already exists
			AND rtb.ModifiedDate > pdbe.ModifiedDate -- has been modified since
			AND ((pdbe.RawTEU IS NULL AND rtb.TEU IS NOT NULL) OR pdbe.RawTEU != rtb.TEU) -- TEU value has changed

	SET @STATUS = 'PES Populate RawTEUs completed.'
	SET @MailSubject = 'PES Raw TEU completed'

END TRY
BEGIN CATCH
	
	SET @STATUS='STORED PROCEDURE usp_PES_PopulateRawTEUs FAILED AT LINE NUMBER:  ' + LTRIM(RTRIM(STR(ERROR_LINE()))) + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()
	SET @MailSubject = 'PES Raw TEU failed'

END CATCH

	-- 8. Send out notification email
	SET @NEWLINE = CHAR(13) + CHAR(10)	
	SET @Message = @STATUS + @NEWLINE
	+ 'VMonth = ' + LTRIM(RTRIM(STR(@VMonth))) + @NEWLINE
	+ 'Start Time = ' + CAST(@StartTime As varchar(20)) + @NEWLINE
	+ 'End Time = ' + CAST(getdate() As varchar(20)) + @NEWLINE
	+ '' + @NEWLINE
	+ '---------------------------' + @NEWLINE
	+ 'usp_PES_PopulateRawTEUs' + @NEWLINE
	+ '---------------------------'

	DECLARE @SendEmailOutput varchar(MAX), @SendEmailSuccess bit
	EXEC PES.dbo.usp_SendEmail
	  @To		= 'SKasi@piers.com;HDesai@joc.com;gmurugiah@ubmglobaltrade.com'
	 ,@From		= 'PIERS-NoReply@piers.com'
	 ,@Subject	= @MailSubject --'PES Raw TEU-New completed'
	 ,@Body		= @Message
	 ,@Success	= @SendEmailSuccess OUT
	 ,@Output	= @SendEmailOutput OUT
	SELECT @SendEmailSuccess, @SendEmailOutput
	
	-- Log end time
	EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
	 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
