/****** Object:  StoredProcedure [dbo].[PES_SET_FLAGS_Backup_Jan_17_12]    Script Date: 01/03/2013 19:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_SET_FLAGS_Backup_Jan_17_12] @SOURCE VARCHAR(20)
AS  
BEGIN  

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


	BEGIN TRY
		DECLARE @FILE VARCHAR(500),@FILE_NAME VARCHAR(50)  
		DECLARE @CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),  
		@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50),@DATE DATETIME,@TIME INT  
	
		CREATE TABLE #TEMP_PES_STG_BOL (BOL_ID NUMERIC(12,0))
		
		IF @SOURCE='RAW_STG'
		BEGIN
			SELECT @FILE = PATH FROM PES_CONFIGURATION  WITH (NOLOCK)  WHERE SOURCE='SP_LOG'  
			--SELECT @FILE_NAME= FILENAME FROM PES_PROGRESS_STATUS  WITH (NOLOCK)  WHERE LOADNUMBER=(SELECT TOP 1 LOAD_NUMBER FROM RAW_BOL)  
			SELECT @FILE_NAME= FILENAME FROM PES_PROGRESS_STATUS  WITH (NOLOCK)  WHERE LOAD_DT=(SELECT MAX(Load_DT) FROM PES_PROGRESS_STATUS  WITH (NOLOCK) )
			SET @FILE='"'+@FILE+@FILE_NAME+'_LOG.TXT'+'"'  
  
			SET @DATE=GETDATE()
			SET @CMD = 'ECHO PROCEDURE PES_SET_FLAGS EXECUTION STARTED' + '>>'+ @FILE  
			EXEC MASTER..XP_CMDSHELL @CMD 

			INSERT INTO #TEMP_PES_STG_BOL(BOL_ID)
			SELECT BOL_ID FROM PES_STG_BOL  WITH (NOLOCK) 
			WHERE QC_VALID='N'
		END
		ELSE IF @SOURCE='UPD_STG'
		BEGIN
			INSERT INTO #TEMP_PES_STG_BOL(BOL_ID)
			SELECT B.BOL_ID FROM PES_STG_BOL B WITH (NOLOCK) 
			WHERE B.BOL_ID IN (SELECT BOL_ID FROM PES_BILLS_UPDATE_STAGING)
		END		

 
		/*  
		-- UPDATE SUBSTRING(CMD_CD,1,4) AND HARM4  
		UPDATE PES_STG_CMD SET COM4 = SUBSTRING(CMD_CD,1,4) WHERE BOL_ID IN(SELECT BOL_ID FROM RAW_BOL)  
		UPDATE PES_STG_CMD SET HARM4=SUBSTRING(CMD_HSCODE,1,4) WHERE BOL_ID IN(SELECT BOL_ID FROM RAW_BOL)  
		*/  
		  
		-- SET HAZMAT FLAG  
		  
		Update PES_STG_CMD WITH (UPDLOCK) set CMD_HAZMAT_FLAG = case  
		WHEN   
		CMD_DESC LIKE '%NON FLAM%' OR CMD_DESC LIKE '%NONFLAM%'  
		OR CMD_DESC LIKE '%BUSTION ENG%' OR CMD_DESC LIKE '%BUSTON DIES%'
		OR CMD_DESC LIKE'%NON HAZ%' OR CMD_DESC LIKE '%NONHAZ%'
		OR CMD_DESC LIKE '%HARMLESS%' OR CMD_DESC LIKE '%DATSUN%'
		OR CMD_CD IN ('6921000','5130000','1451000','1562000','156500A','6802000','6822000','7092000','7118500')  
		THEN ' '   
		WHEN   
		CMD_DESC LIKE '%HAZ%' OR CMD_DESC LIKE '%FLAM%'  
		OR CMD_DESC LIKE'%DANGER%' OR CMD_DESC LIKE '%AEROSOL%'
		OR CMD_DESC LIKE '%TOXIC%' OR CMD_DESC LIKE '%HARMFUL%'
		OR CMD_DESC LIKE '%CORROSIVE%'
		OR CMD_DESC LIKE '%CORR LIQ%' OR CMD_DESC LIKE '%CORR MAT%'
		OR CMD_DESC LIKE '%CORR SOL%' OR CMD_DESC LIKE '%RETARDAN%'   
		OR CMD_DESC LIKE '%FIRE RETARD%' OR CMD_DESC LIKE '%POLLUTANT%'  
		OR CMD_DESC LIKE '%COMBUST%' OR CMD_DESC LIKE '%ENVIRON%'   
		OR CMD_DESC LIKE '%IMCO%' OR CMD_DESC LIKE '%UNO%'   
		OR CMD_DESC LIKE '%UN1%' OR CMD_DESC LIKE '%UN2%'  
		OR CMD_DESC LIKE '%UN3%' OR CMD_DESC LIKE '%UN4%'   
		OR CMD_DESC LIKE '%UN5%'OR CMD_DESC LIKE '%UN6%'  
		OR CMD_DESC LIKE '%UN7%'OR CMD_DESC LIKE '%UN8%'  
		OR CMD_DESC LIKE '%UN9%' OR CMD_DESC LIKE '%UN 0%'    
		OR CMD_DESC LIKE '%UN 1%' OR CMD_DESC LIKE '%UN 2%'   
		OR CMD_DESC LIKE '%UN 3%' OR CMD_DESC LIKE '%UN 4%'
		OR CMD_DESC LIKE '%UN 5%' OR CMD_DESC LIKE '%UN 6%'
		OR CMD_DESC LIKE '%UN 7%' OR CMD_DESC LIKE '%UN 8%'   
		OR CMD_DESC LIKE '%UN 9%' OR CMD_DESC LIKE '%UN 9%'   
		THEN 'Y'  
		WHEN   
		CMD_CD = '4011000' OR CMD_CD = '4011800' OR CMD_CD = '4012200' OR CMD_CD = '4012400'  
		OR CMD_CD = '4012600' OR CMD_CD = '4013000' OR CMD_CD = '4015200' OR CMD_CD = '4015400'   
		OR CMD_CD = '4015800' OR CMD_CD = '4016000' OR CMD_CD = '4016400' OR CMD_CD = '4016600'  
		OR CMD_CD = '4016800' OR CMD_CD = '4017200' OR CMD_CD = '4017410' OR CMD_CD = '4017420'  
		OR CMD_CD = '4017450' OR CMD_CD = '4017600' OR CMD_CD = '4018000' OR CMD_CD = '4030800'  
		OR CMD_CD = '4031000' OR CMD_CD = '4034000' OR CMD_CD = '4034400' OR CMD_CD = '4035800'  
		OR CMD_CD = '4036001' OR CMD_CD = '4036002' OR CMD_CD = '4036003' OR CMD_CD = '4036004'  
		OR CMD_CD = '4036005' OR CMD_CD = '4036009' OR CMD_CD = '4036010' OR CMD_CD = '4036011'   
		OR CMD_CD = '4036013' OR CMD_CD = '4036017' OR CMD_CD = '4036018' OR CMD_CD = '4036019'  
		OR CMD_CD = '4036026' OR CMD_CD = '4036027' OR CMD_CD = '4036028' OR CMD_CD = '4036029'  
		OR CMD_CD = '4036030' OR CMD_CD = '4036031' OR CMD_CD = '4036035' OR CMD_CD = '4036036'  
		OR CMD_CD = '4036037' OR CMD_CD = '4036042' OR CMD_CD = '4036044' OR CMD_CD = '4036045'  
		OR CMD_CD = '4036052' OR CMD_CD = '4036056' OR CMD_CD = '4036057' OR CMD_CD = '4036058'  
		OR CMD_CD = '4036059' OR CMD_CD = '4036065' OR CMD_CD = '4036066' OR CMD_CD = '4036069'  
		OR CMD_CD = '4036070' OR CMD_CD = '4036072' OR CMD_CD = '4036075' OR CMD_CD = '4036076'  
		OR CMD_CD = '4036077' OR CMD_CD = '4036078' OR CMD_CD = '4036082' OR CMD_CD = '4036083'  
		OR CMD_CD = '4036086' OR CMD_CD = '4036087' OR CMD_CD = '4036089' OR CMD_CD = '4036090'  
		OR CMD_CD = '4036097' OR CMD_CD = '4051510' OR CMD_CD = '4051520' OR CMD_CD = '4051530'  
		OR CMD_CD = '4051540' OR CMD_CD = '4052000' OR CMD_CD = '4060200' OR CMD_CD = '4065010'  
		OR CMD_CD = '4065020' OR CMD_CD = '4065040' OR CMD_CD = '4065050' OR CMD_CD = '4065070'  
		OR CMD_CD = '4065090' OR CMD_CD = '4067028' OR CMD_CD = '4067050' OR CMD_CD = '4150500'  
		OR CMD_CD = '4151000' OR CMD_CD = '4151500' OR CMD_CD = '4152000' OR CMD_CD = '4152500'  
		OR CMD_CD = '4152700' OR CMD_CD = '4153000' OR CMD_CD = '4153500' OR CMD_CD = '4154500'  
		OR CMD_CD = '4155000' OR CMD_CD = '4160500' OR CMD_CD = '4161000' OR CMD_CD = '4161500'  
		OR CMD_CD = '4162000' OR CMD_CD = '4162500' OR CMD_CD = '4163000' OR CMD_CD = '4163500'  
		OR CMD_CD = '4164520' OR CMD_CD = '4164540' OR CMD_CD = '4171000' OR CMD_CD = '4171600'  
		OR CMD_CD = '4171800' OR CMD_CD = '4172000' OR CMD_CD = '4172400' OR CMD_CD = '4172600'  
		OR CMD_CD = '4172800' OR CMD_CD = '4173200' OR CMD_CD = '4173400' OR CMD_CD = '4173800'  
		OR CMD_CD = '4174440' OR CMD_CD = '4175000' OR CMD_CD = '4175200' OR CMD_CD = '4175400'  
		OR CMD_CD = '4176400' OR CMD_CD = '4177600' OR CMD_CD = '4178000' OR CMD_CD = '4180000'  
		OR CMD_CD = '4181400' OR CMD_CD = '4182200' OR CMD_CD = '4182400' OR CMD_CD = '4183000'  
		OR CMD_CD = '4183200' OR CMD_CD = '4184200' OR CMD_CD = '4184400' OR CMD_CD = '4186000'  
		OR CMD_CD = '4186200' OR CMD_CD = '4186800' OR CMD_CD = '4186900' OR CMD_CD = '4187400'  
		OR CMD_CD = '4187600' OR CMD_CD = '4187800' OR CMD_CD = '4189400' OR CMD_CD = '4190200'  
		OR CMD_CD = '4190400' OR CMD_CD = '4191000' OR CMD_CD = '4192800' OR CMD_CD = '4193200'  
		OR CMD_CD = '4193800' OR CMD_CD = '4194200' OR CMD_CD = '4194420' OR CMD_CD = '4194440'  
		OR CMD_CD = '4195400' OR CMD_CD = '4196000' OR CMD_CD = '4197000' OR CMD_CD = '4197200'  
		OR CMD_CD = '4197400' OR CMD_CD = '4197600' OR CMD_CD = '4198000' OR CMD_CD = '4198200'  
		OR CMD_CD = '4198400' OR CMD_CD = '4200000' OR CMD_CD = '4200200' OR CMD_CD = '4200400'  
		OR CMD_CD = '4200600' OR CMD_CD = '4200800' OR CMD_CD = '4201200' OR CMD_CD = '4201400'  
		OR CMD_CD = '4201800' OR CMD_CD = '4202000' OR CMD_CD = '4202400' OR CMD_CD = '4202600'  
		OR CMD_CD = '4202800' OR CMD_CD = '4203000' OR CMD_CD = '4203605' OR CMD_CD = '4203620'  
		OR CMD_CD = '4203660' OR CMD_CD = '4206000' OR CMD_CD = '4206800' OR CMD_CD = '4207400'  
		OR CMD_CD = '4207600' OR CMD_CD = '4207800' OR CMD_CD = '4208200' OR CMD_CD = '4208600'  
		OR CMD_CD = '4208800' OR CMD_CD = '4209800' OR CMD_CD = '4210200' OR CMD_CD = '4210400'  
		OR CMD_CD = '4210600' OR CMD_CD = '4210800' OR CMD_CD = '4211000' OR CMD_CD = '4211400'  
		OR CMD_CD = '4211600' OR CMD_CD = '4212200' OR CMD_CD = '4213400' OR CMD_CD = '4215200'  
		OR CMD_CD = '4215400' OR CMD_CD = '4216220' OR CMD_CD = '4216230' OR CMD_CD = '4216280'  
		OR CMD_CD = '4217400' OR CMD_CD = '4217600' OR CMD_CD = '4218600' OR CMD_CD = '4222000'  
		OR CMD_CD = '4222400' OR CMD_CD = '4222600' OR CMD_CD = '4223000' OR CMD_CD = '4224000'  
		OR CMD_CD = '4224200' OR CMD_CD = '4225020' OR CMD_CD = '4225220' OR CMD_CD = '4226000'  
		OR CMD_CD = '4226200' OR CMD_CD = '4227200' OR CMD_CD = '4227300' OR CMD_CD = '4227600'  
		OR CMD_CD = '4227800' OR CMD_CD = '4228200' OR CMD_CD = '4230040' OR CMD_CD = '4230060'  
		OR CMD_CD = '4230092' OR CMD_CD = '4230094' OR CMD_CD = '4250425' OR CMD_CD = '4251020'  
		OR CMD_CD = '4251030' OR CMD_CD = '4251050' OR CMD_CD = '4251210' OR CMD_CD = '4251220'  
		OR CMD_CD = '4252010' OR CMD_CD = '4252020' OR CMD_CD = '4252030' OR CMD_CD = '4252040'  
		OR CMD_CD = '4252050' OR CMD_CD = '4252060' OR CMD_CD = '4252070' OR CMD_CD = '4252210'  
		OR CMD_CD = '4252220' OR CMD_CD = '4252240' OR CMD_CD = '4252250' OR CMD_CD = '4252400'  
		OR CMD_CD = '4252605' OR CMD_CD = '4252610' OR CMD_CD = '4252620' OR CMD_CD = '4252630'  
		OR CMD_CD = '4252800' OR CMD_CD = '4253210' OR CMD_CD = '4253220' OR CMD_CD = '4253400'  
		OR CMD_CD = '4253610' OR CMD_CD = '4253640' OR CMD_CD = '4253910' OR CMD_CD = '4253920'  
		OR CMD_CD = '4254120' OR CMD_CD = '4254130' OR CMD_CD = '4255220' OR CMD_CD = '4255230'  
		OR CMD_CD = '4257000' OR CMD_CD = '4257100' OR CMD_CD = '4257200' OR CMD_CD = '4257400'  
		OR CMD_CD = '4257600' OR CMD_CD = '4257700' OR CMD_CD = '4258200' OR CMD_CD = '4258400'  
		OR CMD_CD = '4258600' OR CMD_CD = '4258710' OR CMD_CD = '4258720' OR CMD_CD = '4259600'  
		OR CMD_CD = '4259905' OR CMD_CD = '4259910' OR CMD_CD = '4259930' OR CMD_CD = '4259940'  
		OR CMD_CD = '4259960' OR CMD_CD = '4260000' OR CMD_CD = '4260100' OR CMD_CD = '4260400'  
		OR CMD_CD = '4260800' OR CMD_CD = '4262600' OR CMD_CD = '4267200' OR CMD_CD = '4268440'  
		OR CMD_CD = '4269600' OR CMD_CD = '4270410' OR CMD_CD = '4270430' OR CMD_CD = '4271600'  
		OR CMD_CD = '4272500' OR CMD_CD = '4272800' OR CMD_CD = '4273000' OR CMD_CD = '4274400'  
		OR CMD_CD = '4274500' OR CMD_CD = '4274800' OR CMD_CD = '4275200' OR CMD_CD = '4275600'  
		OR CMD_CD = '4275800' OR CMD_CD = '4276000' OR CMD_CD = '4276110' OR CMD_CD = '4276200'  
		OR CMD_CD = '4276410' OR CMD_CD = '4276420' OR CMD_CD = '4276430' OR CMD_CD = '4277000'  
		OR CMD_CD = '4277200' OR CMD_CD = '4277400' OR CMD_CD = '4278400' OR CMD_CD = '4278800'  
		OR CMD_CD = '4279400' OR CMD_CD = '4279600' OR CMD_CD = '4279810' OR CMD_CD = '4279820'  
		OR CMD_CD = '4280400' OR CMD_CD = '4280610' OR CMD_CD = '4280620' OR CMD_CD = '4281200'  
		OR CMD_CD = '4282600' OR CMD_CD = '4283010' OR CMD_CD = '4283020' OR CMD_CD = '4283200'  
		OR CMD_CD = '4283400' OR CMD_CD = '4283600' OR CMD_CD = '4283800' OR CMD_CD = '4284000'  
		OR CMD_CD = '4284200' OR CMD_CD = '4284610' OR CMD_CD = '4284620' OR CMD_CD = '4284630'  
		OR CMD_CD = '4284640' OR CMD_CD = '4284670' OR CMD_CD = '4284690' OR CMD_CD = '4285000'  
		OR CMD_CD = '4285200' OR CMD_CD = '4285400' OR CMD_CD = '4285800' OR CMD_CD = '4286200'  
		OR CMD_CD = '4286400' OR CMD_CD = '4286600' OR CMD_CD = '4286800' OR CMD_CD = '4287200'  
		OR CMD_CD = '4287220' OR CMD_CD = '4287250' OR CMD_CD = '4287290' OR CMD_CD = '4288000'   
		OR CMD_CD = '4288200' OR CMD_CD = '4288400' OR CMD_CD = '4288600' OR CMD_CD = '4288810'  
		OR CMD_CD = '4288820' OR CMD_CD = '4289000' OR CMD_CD = '4289200' OR CMD_CD = '4289600'  
		OR CMD_CD = '4290000' OR CMD_CD = '4292010' OR CMD_CD = '4292200' OR CMD_CD = '4292400'  
		OR CMD_CD = '4292600' OR CMD_CD = '4292800' OR CMD_CD = '4293000' OR CMD_CD = '4293200'  
		OR CMD_CD = '4293400' OR CMD_CD = '4293800' OR CMD_CD = '4294200' OR CMD_CD = '4294400'  
		OR CMD_CD = '4294700' OR CMD_CD = '4294810' OR CMD_CD = '4294820' OR CMD_CD = '4294830'  
		OR CMD_CD = '4294860' OR CMD_CD = '4295020' OR CMD_CD = '4295025' OR CMD_CD = '4295030'  
		OR CMD_CD = '4295035' OR CMD_CD = '4295040' OR CMD_CD = '4295220' OR CMD_CD = '4295230'  
		OR CMD_CD = '4295240' OR CMD_CD = '4296010' OR CMD_CD = '4296020' OR CMD_CD = '4297000'  
		OR CMD_CD = '4299510' OR CMD_CD = '4299530' OR CMD_CD = '4299540' OR CMD_CD = '4299550'  
		OR CMD_CD = '4299590' OR CMD_CD = '4354000' OR CMD_CD = '4355500' OR CMD_CD = '4356500'  
		OR CMD_CD = '4357000' OR CMD_CD = '4370000' OR CMD_CD = '4370820' OR CMD_CD = '4370840'  
		OR CMD_CD = '4371300' OR CMD_CD = '4371400' OR CMD_CD = '4371600' OR CMD_CD = '4372040'  
		OR CMD_CD = '4372080' OR CMD_CD = '4373220' OR CMD_CD = '4373230' OR CMD_CD = '4373240'   
		OR CMD_CD = '4373245' OR CMD_CD = '4373250' OR CMD_CD = '4373600' OR CMD_CD = '4374000'  
		OR CMD_CD = '4374950' OR CMD_CD = '4375100' OR CMD_CD = '4375720' OR CMD_CD = '4375760'  
		OR CMD_CD = '4375780' OR CMD_CD = '4376400' OR CMD_CD = '4376800' OR CMD_CD = '4378245'  
		OR CMD_CD = '4391030' OR CMD_CD = '4393070' OR CMD_CD = '4393090' OR CMD_CD = '4394040'  
		OR CMD_CD = '4394070' OR CMD_CD = '4394100' OR CMD_CD = '4394110' OR CMD_CD = '4394120'  
		OR CMD_CD = '4395000' OR CMD_CD = '4395010' OR CMD_CD = '4395015' OR CMD_CD = '4395030'  
		OR CMD_CD = '4395050' OR CMD_CD = '4395055' OR CMD_CD = '4395080' OR CMD_CD = '4395081'  
		OR CMD_CD = '4395083' OR CMD_CD = '4395095' OR CMD_CD = '4400000' OR CMD_CD = '4450520'  
		OR CMD_CD = '4452000' OR CMD_CD = '4452500' OR CMD_CD = '4453010' OR CMD_CD = '4453020'  
		OR CMD_CD = '4453520' OR CMD_CD = '4453540' OR CMD_CD = '4453560' OR CMD_CD = '4454020'  
		OR CMD_CD = '4454040' OR CMD_CD = '4454520' OR CMD_CD = '4454540' OR CMD_CD = '4455001'  
		OR CMD_CD = '4455002' OR CMD_CD = '4455003' OR CMD_CD = '4455005' OR CMD_CD = '4455007'  
		OR CMD_CD = '4455010' OR CMD_CD = '4455011' OR CMD_CD = '4455012' OR CMD_CD = '4455013'  
		OR CMD_CD = '4455014' OR CMD_CD = '4455015' OR CMD_CD = '4455020' OR CMD_CD = '4455024'   
		OR CMD_CD = '4455030' OR CMD_CD = '4455035' OR CMD_CD = '4455038' OR CMD_CD = '4455040'  
		OR CMD_CD = '4455042' OR CMD_CD = '4455048' OR CMD_CD = '4455050' OR CMD_CD = '4455052'  
		OR CMD_CD = '4455060' OR CMD_CD = '4455090' OR CMD_CD = '4456000' OR CMD_CD = '4456500'  
		OR CMD_CD = '4457500' OR CMD_CD = '4461200' OR CMD_CD = '4461511' OR CMD_CD = '4461516'  
		OR CMD_CD = '4461536' OR CMD_CD = '4461541' OR CMD_CD = '4461556' OR CMD_CD = '4461571'  
		OR CMD_CD = '4461596' OR CMD_CD = '4463000' OR CMD_CD = '4463050' OR CMD_CD = '4503000'  
		OR CMD_CD = '4520400' OR CMD_CD = '4520600' OR CMD_CD = '4520800' OR CMD_CD = '4521000'  
		OR CMD_CD = '4521400' OR CMD_CD = '4521600' OR CMD_CD = '4521800' OR CMD_CD = '4522600'  
		OR CMD_CD = '4522800' OR CMD_CD = '4523200' OR CMD_CD = '4523400' OR CMD_CD = '4523600'  
		OR CMD_CD = '4523800' OR CMD_CD = '4524400' OR CMD_CD = '4525600' OR CMD_CD = '4525800'  
		OR CMD_CD = '4526000' OR CMD_CD = '4526200' OR CMD_CD = '4526600' OR CMD_CD = '4526800'  
		OR CMD_CD = '4527000' OR CMD_CD = '4528005' OR CMD_CD = '4528010' OR CMD_CD = '4528020'  
		OR CMD_CD = '4528023' OR CMD_CD = '4528025' OR CMD_CD = '4528030' OR CMD_CD = '4528035'  
		OR CMD_CD = '4528042' OR CMD_CD = '4551400' OR CMD_CD = '4553600' OR CMD_CD = '4554000'  
		OR CMD_CD = '4600605' OR CMD_CD = '4600620' OR CMD_CD = '4600625' OR CMD_CD = '4600630'  
		OR CMD_CD = '4600635' OR CMD_CD = '4600640' OR CMD_CD = '4600650' OR CMD_CD = '4600655'  
		OR CMD_CD = '4600660' OR CMD_CD = '4602500' OR CMD_CD = '4603500' OR CMD_CD = '4604500'  
		OR CMD_CD = '4605000' OR CMD_CD = '4605500' OR CMD_CD = '4606000' OR CMD_CD = '4607500'   
		OR CMD_CD = '4608010' OR CMD_CD = '4608020' OR CMD_CD = '4614015' OR CMD_CD = '4614037'  
		OR CMD_CD = '4608025' OR CMD_CD = '4608090' OR CMD_CD = '4614020' OR CMD_CD = '4614045'  
		OR CMD_CD = '4608510' OR CMD_CD = '4610500' OR CMD_CD = '4614025' OR CMD_CD = '4623080'  
		OR CMD_CD = '4611500' OR CMD_CD = '4612000' OR CMD_CD = '4614030' OR CMD_CD = '4633520'  
		OR CMD_CD = '4613500' OR CMD_CD = '4614010' OR CMD_CD = '4614035' OR CMD_CD = '4633540'  
		OR CMD_CD = '4633560' OR CMD_CD = '4659500' OR CMD_CD = '4722000' OR CMD_CD = '4733010'  
		OR CMD_CD = '4651000' OR CMD_CD = '4660500' OR CMD_CD = '4722400' OR CMD_CD = '4733200'  
		OR CMD_CD = '4652010' OR CMD_CD = '4662000' OR CMD_CD = '4723000' OR CMD_CD = '4733800'  
		OR CMD_CD = '4652020' OR CMD_CD = '4662500' OR CMD_CD = '4730400' OR CMD_CD = '4734000'  
		OR CMD_CD = '4655000' OR CMD_CD = '4663000' OR CMD_CD = '4730600' OR CMD_CD = '4735200'  
		OR CMD_CD = '4656000' OR CMD_CD = '4705030' OR CMD_CD = '4731200' OR CMD_CD = '4735600'  
		OR CMD_CD = '4657500' OR CMD_CD = '4705040' OR CMD_CD = '4731400' OR CMD_CD = '4736200'  
		OR CMD_CD = '4658000' OR CMD_CD = '4708500' OR CMD_CD = '4731800' OR CMD_CD = '4737200'  
		OR CMD_CD = '4659000' OR CMD_CD = '4720600' OR CMD_CD = '4732400' OR CMD_CD = '4737600'  
		OR CMD_CD = '4659200' OR CMD_CD = '4721400' OR CMD_CD = '4732800' OR CMD_CD = '4738000'  
		OR CMD_CD = '4738200' OR CMD_CD = '4744600' OR CMD_CD = '4751535' OR CMD_CD = '4756530'  
		OR CMD_CD = '4738600' OR CMD_CD = '4745000' OR CMD_CD = '4751555' OR CMD_CD = '4757000'  
		OR CMD_CD = '4738800' OR CMD_CD = '4746200' OR CMD_CD = '4752520' OR CMD_CD = '4757050'  
		OR CMD_CD = '4740800' OR CMD_CD = '4750510' OR CMD_CD = '4752550' OR CMD_CD = '4741505'  
		OR CMD_CD = '4742620' OR CMD_CD = '4750525' OR CMD_CD = '4752560' OR CMD_CD = '4741515'  
		OR CMD_CD = '4742640' OR CMD_CD = '4750535' OR CMD_CD = '4753000' OR CMD_CD = '4741525'  
		OR CMD_CD = '4743000' OR CMD_CD = '4750545' OR CMD_CD = '4753500' OR CMD_CD = '4741535'  
		OR CMD_CD = '4744000' OR CMD_CD = '4751505' OR CMD_CD = '4754000' OR CMD_CD = '4741545'  
		OR CMD_CD = '4744200' OR CMD_CD = '4751515' OR CMD_CD = '4754500' OR CMD_CD = '4741555'  
		OR CMD_CD = '4744400' OR CMD_CD = '4751525' OR CMD_CD = '4755500' OR CMD_CD = '4742520'  
		OR CMD_CD = '4742550' OR CMD_CD = '4801000' OR CMD_CD = '4807010' OR CMD_CD = '4855060'  
		OR CMD_CD = '4742560' OR CMD_CD = '4801500' OR CMD_CD = '4807070' OR CMD_CD = '4901000'   
		OR CMD_CD = '4743000' OR CMD_CD = '4802000' OR CMD_CD = '4807500' OR CMD_CD = '4901200'   
		OR CMD_CD = '4743500' OR CMD_CD = '4802500' OR CMD_CD = '4808020' OR CMD_CD = '4901400'   
		OR CMD_CD = '4744000' OR CMD_CD = '4803000' OR CMD_CD = '4808095' OR CMD_CD = '4902610'   
		OR CMD_CD = '4744500' OR CMD_CD = '4804000' OR CMD_CD = '4850000' OR CMD_CD = '4902620'   
		OR CMD_CD = '4745500' OR CMD_CD = '4804500' OR CMD_CD = '4851000' OR CMD_CD = '4903200'   
		OR CMD_CD = '4746530' OR CMD_CD = '4806000' OR CMD_CD = '4853000' OR CMD_CD = '4906500'   
		OR CMD_CD = '4747000' OR CMD_CD = '4806510' OR CMD_CD = '4854000' OR CMD_CD = '4907500'   
		OR CMD_CD = '4747050' OR CMD_CD = '4806540' OR CMD_CD = '4855020' OR CMD_CD = '4909200'   
		OR CMD_CD = '4800500' OR CMD_CD = '4806560' OR CMD_CD = '4855040' OR CMD_CD = '4931000'   
		OR CMD_CD = '4931800' OR CMD_CD = '4932620' OR CMD_CD = '4936810' OR CMD_CD = '4940800'  
		OR CMD_CD = '4932000' OR CMD_CD = '4932640' OR CMD_CD = '4936840' OR CMD_CD = '4941000'  
		OR CMD_CD = '4932100' OR CMD_CD = '4933000' OR CMD_CD = '4938200' OR CMD_CD = '4941200'  
		OR CMD_CD = '4932200' OR CMD_CD = '4936600' OR CMD_CD = '4940200' OR CMD_CD = '4941400'  
		OR CMD_CD = '4932500' OR CMD_CD = '4936805' OR CMD_CD = '4940600' OR CMD_CD = '4942000'  
		OR CMD_CD = '4942200' OR CMD_CD = '4943000' OR CMD_CD = '4945020' OR CMD_CD = '4945200'  
		OR CMD_CD = '4942400' OR CMD_CD = '4944000' OR CMD_CD = '4945040' OR CMD_CD = '4946040'  
		  
		THEN 'Y'  
		ELSE CMD_HAZMAT_FLAG  
		END  
		WHERE BOL_ID IN(SELECT BOL_ID FROM #TEMP_PES_STG_BOL)  
		  
		-- SET RORO FLAG BASED ON COMMODITY DESCRIPTION  
		  
		Update PES_STG_CMD WITH (UPDLOCK) SET CMD_RORO_FLAG = ' ' WHERE   
		(CMD_DESC LIKE '%PART%' OR CMD_DESC LIKE '%PTS%'
		OR CMD_DESC LIKE '%MATERIAL%' OR CMD_DESC LIKE '%SUPPL%'
		OR CMD_DESC LIKE '%COMP%' OR CMD_DESC LIKE'%ACCES%' 
		OR CMD_DESC LIKE '%WINCH%' OR CMD_DESC LIKE'%CHASSIS%'
		OR CMD_DESC LIKE '%BODY%' OR CMD_DESC LIKE'%BODIES%') AND   
		(CMD_DESC NOT LIKE '%AND%' AND CMD_DESC NOT LIKE '%&%') AND BOL_ID IN(SELECT BOL_ID FROM #TEMP_PES_STG_BOL)  
		  
		Update PES_STG_CMD WITH (UPDLOCK) SET CMD_RORO_FLAG = NULL WHERE CMD_DESC LIKE '% & %' AND BOL_ID IN(SELECT BOL_ID FROM #TEMP_PES_STG_BOL)  
		  
		-- SET RORO FLAG BASED ON COMM CODE  
		  
		Update PES_STG_CMD WITH (UPDLOCK) set CMD_RORO_FLAG= CASE  
		WHEN CMD_CD = '6640500' OR CMD_CD = '6923040'  
		OR CMD_CD = '6924000' OR CMD_CD = '6641045' OR CMD_CD = '6920400'   
		OR CMD_CD = '6921000' OR CMD_CD = '6961000' OR CMD_CD = '6944020'   
		OR CMD_CD = '6102000' OR CMD_CD = '6641035'  
		THEN 'Y'  
		ELSE CMD_RORO_FLAG  
		END  
		WHERE BOL_ID IN(SELECT BOL_ID FROM #TEMP_PES_STG_BOL)  
		  
		-- set RORO Flag based on comm description and commcode  
		  
		Update PES_STG_CMD WITH (UPDLOCK) set CMD_RORO_FLAG= 'Y'   
		WHERE (CMD_CD = '7985000' AND  CMD_DESC LIKE '%HSV%') AND  
		BOL_ID IN(SELECT BOL_ID FROM #TEMP_PES_STG_BOL)  

		--Initially set the ReeferFlag to 'N'
		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'N' WHERE   
		BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A)
		  
		-- BASED ON REEFER FLAG COMING FROM SOURCE

		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE   
		BOL_ID IN(SELECT B.BOL_ID FROM ARCHIVE_RAW_BOL B WHERE 	 B.REEFERNUM='Y')  

		    
		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		(JOC_CODE = '105100A'
		OR JOC_CODE = '1051000'
		OR JOC_CODE = '1057000'
		OR JOC_CODE = '1066000'   
		OR JOC_CODE = '1101012'
		OR JOC_CODE = '1107060'
		OR JOC_CODE = '1129400'
		OR JOC_CODE = '1140000'   
		OR JOC_CODE = '1144515'
		OR JOC_CODE = '1144537'
		OR JOC_CODE = '1180000'
		OR JOC_CODE = '1250100'   
		OR JOC_CODE = '1361000'
		OR JOC_CODE = '1469000'
		OR JOC_CODE = '1472900'
		OR JOC_CODE = '1552000'   
		OR JOC_CODE = '1557500'
		OR JOC_CODE = '156100A'
		OR JOC_CODE = '4284400'
		OR JOC_CODE = '4375780'   
		OR JOC_CODE = '7231060'
		OR JOC_CODE = '7231510'
		OR JOC_CODE = '7231540'
		OR JOC_CODE = '723155A'
		OR JOC_CODE = '7231550'
		OR SUBSTRING(JOC_CODE,1,4) =  '4373' 
		)
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)


		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		JOC_CODE IN ('1183000','1071000','1653000')  
		AND CMD_DESC NOT LIKE '%POWDER%'
		AND CMD_DESC NOT LIKE '%DRY%'
		AND CMD_DESC NOT LIKE '%DRIED%'
		AND CMD_DESC NOT LIKE '%LACTOSE%'
		AND CMD_DESC NOT LIKE '%MATE%'
		AND CMD_DESC NOT LIKE '%PREMIX%'
		AND CMD_DESC NOT LIKE '%NON DAIR%'
		AND CMD_DESC NOT LIKE '%UHT%'
		AND CMD_DESC NOT LIKE '%CAN%'
		AND CMD_DESC NOT LIKE '%CONDENSED EVAP%'
		AND CMD_DESC NOT LIKE '%EVAP%'
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		UNION
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		JOC_CODE IN ('1183000','1071000','1653000')  
		AND 
		(
		CMD_DESC LIKE '%REFER%'
		OR CMD_DESC LIKE '%REEFER%'
		OR CMD_DESC LIKE '%CHILL%'
		OR CMD_DESC LIKE '%FROZEN%'
		)
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)



		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		JOC_CODE= '1489000'
		AND CMD_DESC NOT LIKE '%PROCESS%'
		AND CMD_DESC NOT LIKE '%DELIGHT%'
		AND CMD_DESC NOT LIKE '%HALVES%'
		AND CMD_DESC NOT LIKE '%CAN%'
		AND CMD_DESC NOT LIKE '%DRY%'
		AND CMD_DESC NOT LIKE '%DRIED%'
		AND CMD_DESC NOT LIKE '%DEHYDR%'
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)


		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		JOC_CODE= '1489000'
		AND CMD_DESC NOT LIKE '%PROCESS%'
		AND CMD_DESC NOT LIKE '%DELIGHT%'
		AND CMD_DESC NOT LIKE '%HALVES%'
		AND CMD_DESC NOT LIKE '%CAN%'
		AND CMD_DESC NOT LIKE '%DRY%'
		AND CMD_DESC NOT LIKE '%DRIED%'
		AND CMD_DESC NOT LIKE '%DEHYDR%'
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)


		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		JOC_CODE IN ('1467500','1473000','1471000','1471900','1473100')  
		AND CMD_DESC NOT LIKE '%PROCESS%'
		AND CMD_DESC NOT LIKE '%PRUNE%'
		AND CMD_DESC NOT LIKE '%PRESS%'
		AND CMD_DESC NOT LIKE '%DRY%'  
		AND CMD_DESC NOT LIKE '%DRIED%'  
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)


		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		JOC_CODE='1820000'
		AND
		(CMD_DESC LIKE '%CHILL%'
		OR CMD_DESC LIKE '%REFRIG%'
		OR CMD_DESC LIKE '%FROZ%'
		OR CMD_DESC LIKE '%FRZ%' 
		OR CMD_DESC like '%FRESH%'
		)   
		AND CMD_DESC NOT LIKE '%CHILLI%'
		AND CMD_DESC NOT LIKE '%CHILLY%'
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)



		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE  
		SUBSTRING(JOC_CODE,1,4) = '1409'
		AND JOC_CODE != '140900T'
		AND CMD_DESC NOT LIKE '%DEHYDR%'
		AND CMD_DESC NOT LIKE '%DRIED%'  
		AND CMD_DESC NOT LIKE '%DRY%'
		AND CMD_DESC NOT LIKE '%RETURN%'
		AND CMD_DESC NOT LIKE '%CAN %'
		AND CMD_DESC NOT LIKE '%REFRIGERATOR%'
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		UNION
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE  
		SUBSTRING(JOC_CODE,1,4) = '1409'
		AND (
		CMD_DESC LIKE '%TUSCANY%'
		OR CMD_DESC LIKE '%MEXICAN%'  
		OR CMD_DESC LIKE '%AMERICAN%'
		OR CMD_DESC LIKE '%JAMAICAN%'  
		OR CMD_DESC LIKE '%CANDY%'
		OR CMD_DESC LIKE '%AFRICAN%'  
		OR CMD_DESC LIKE '%CANAD%'
		OR CMD_DESC LIKE '%REFRIG%'  
		)
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)





		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		JOC_CODE IN ('1461000','1932500')
		EXCEPT
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		JOC_CODE IN ('1461000','1932500' )  
		AND
		(
		CMD_DESC LIKE '%DRIED%'
		or CMD_DESC LIKE '%DRY%'
		or CMD_DESC LIKE '%CAN %'
		or CMD_DESC LIKE '%PROCESS%'
		or CMD_DESC LIKE '%JUICE%'
		or CMD_DESC LIKE '%SALAD%'
		or CMD_DESC LIKE '% WATER %'
		or CMD_DESC LIKE '%RICE%'
		or CMD_DESC LIKE '%COCT%'
		or CMD_DESC LIKE '%SEED%'
		or CMD_DESC LIKE '%MIX%'
		or CMD_DESC LIKE '%DEHYD%'
		or CMD_DESC LIKE '%HALV%'
		or CMD_DESC LIKE '%DEHID%'
		or CMD_DESC LIKE '%POWDER%'
		or CMD_DESC like '%REFRIGERATOR%'
		or CMD_DESC like '%PEAT%'
		)
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		UNION
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		JOC_CODE IN ('1461000','1932500' )  
		AND
		(
		CMD_DESC LIKE '%CANARY%'
		OR CMD_DESC LIKE '%WATERMELON%'
		OR CMD_DESC LIKE '%SEEDLE%'
		OR CMD_DESC LIKE '%REFRIG%'
		OR CMD_DESC LIKE '%CANTALOUP%'
		OR CMD_DESC LIKE '%AVOCAD%'
		OR CMD_DESC LIKE '%THOMP%'
		OR CMD_DESC LIKE '%CANDY%'
		OR CMD_DESC LIKE '%CANDI%'
		OR CMD_DESC LIKE '%FROZEN%'
		OR CMD_DESC LIKE '%FRESH%'
		OR CMD_DESC LIKE '%CHILL%'
		OR CMD_DESC LIKE '%MOSS%'
		)
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)




		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		JOC_CODE='4295240'  
		AND CMD_DESC LIKE '%REFRIG%'
		AND CMD_DESC NOT LIKE '%ISOPROPAN%'
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)





		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		JOC_CODE = '1601020'
		AND CMD_DESC LIKE '%FROZ%'
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)



		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		JOC_CODE IN ('4378600','7229000')
		AND CMD_DESC LIKE '%REFRIG%'
		AND CMD_DESC not like '%REFRIGERATOR%'
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)




		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		JOC_CODE IN ('4374000','4400000','4751555','4999997','1305000','1602000','1621000','4374600','1661000')  
		AND
		(
		CMD_DESC LIKE '%REFR%'
		OR CMD_DESC LIKE '%FROZ%' 
		OR CMD_DESC LIKE '%FRZ%'
		)
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		EXCEPT
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		(CMD_DESC LIKE '%REFRACT%'
		OR CMD_DESC LIKE '%REFRESH%') 
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)





		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		SUBSTRING(JOC_CODE,1,4) IN ('1264','1122' ,'1144','4503')
		AND CMD_DESC NOT LIKE '%CHILLI%'
		and CMD_DESC NOT LIKE '%CHILI%'   
		and CMD_DESC NOT LIKE '%DRY%'
		and CMD_DESC NOT LIKE '%DRIED%'
		and CMD_DESC NOT LIKE '%CANN%'
		and
		(
		CMD_DESC LIKE '%REFR%'
		or CMD_DESC LIKE '%FROZ%'
		or CMD_DESC LIKE '%CHIL%'
		or CMD_DESC LIKE '%BULB%'
		)
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)




		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		JOC_CODE = '7118500'
		AND(
		CMD_DESC LIKE '%BULB%'
		OR CMD_DESC LIKE '% REFR %'
		OR CMD_DESC LIKE 'REFR %'
		OR CMD_DESC LIKE'% CHIL %'
		OR CMD_DESC LIKE'CHIL %'  
		OR CMD_DESC LIKE'% FROZ %'
		OR CMD_DESC LIKE'% FRZ %'
		OR CMD_DESC LIKE'FROZ %'
		OR CMD_DESC LIKE'FRZ %')
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		EXCEPT
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		JOC_CODE = '7118500'
		and
		(
		CMD_DESC LIKE '%REFRESH%'
		or CMD_DESC LIKE '%THERMOM%'
		or CMD_DESC LIKE '%TESTER%'
		or CMD_DESC LIKE '%RECORDERS%'
		)
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)





		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		SUBSTRING(JOC_CODE,1,4) IN ('1829','1905','4391')
		AND 
		CMD_DESC NOT LIKE '%CHILI%'
		AND CMD_DESC NOT LIKE '%CHILEAN%'
		AND CMD_DESC NOT LIKE '%CHILLI%'   
		AND (
		CMD_DESC LIKE '%REFER%'
		OR CMD_DESC LIKE '%FROZ%'
		OR CMD_DESC LIKE '%FRZ%'
		OR CMD_DESC LIKE '%CHIL%'
		)
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)



		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		JOC_CODE='7985000'
		AND CMD_DESC NOT LIKE '%STOREFRONT%'
		AND CMD_DESC NOT LIKE '%REFRIGERATOR%'  
		AND CMD_DESC NOT LIKE '%REFRIGERATI%'
		AND CMD_DESC NOT LIKE '%PREFRAB%'
		AND CMD_DESC NOT LIKE '%REFRESH%'
		AND CMD_DESC NOT LIKE '%CHILLER%'
		AND CMD_DESC NOT LIKE '%CHILD%'
		AND CMD_DESC NOT LIKE '%CHILIS%'
		AND CMD_DESC NOT LIKE '% CHILI %'
		AND
		(CMD_DESC LIKE '% REFR %'
		OR CMD_DESC LIKE '%CHIL%'
		OR CMD_DESC LIKE '%FROZ%'
		OR CMD_DESC LIKE '%FRZ%'
		)
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)




		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE  
		SUBSTRING(JOC_CODE,1,4) IN ('1214','1618','3956')
		AND CMD_DESC NOT LIKE '%CHINCHIL%'
		AND CMD_DESC NOT LIKE '%CHILI %'
		AND CMD_DESC NOT LIKE '%CHILLY%'   
		AND CMD_DESC NOT LIKE '%CHILLI%'
		AND CMD_DESC NOT LIKE '%CHILE%'
		AND CMD_DESC NOT LIKE '%CHILD%'
		AND
		(
		CMD_DESC LIKE '%REFER%'
		OR CMD_DESC LIKE '%FROZ%'
		OR CMD_DESC LIKE '%FRZ%'
		OR CMD_DESC LIKE '%CHIL %'
		)
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)





		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE JOC_CODE='1301000'
		AND (
		CMD_DESC LIKE '%FROZ%'
		OR CMD_DESC LIKE '%FRZ%'
		OR CMD_DESC LIKE '%REFR%'
		OR CMD_DESC LIKE '%BISCUIT%'
		OR CMD_DESC LIKE '%FRESH%'
		OR CMD_DESC LIKE '%CHILL%'
		OR CMD_DESC LIKE '%BISKIT%'
		)
		AND CMD_DESC not LIKE '%CHILLI%'
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)





		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		JOC_CODE IN ('1671000','1685000','1670500' ,'1673000', '4192800','494604')  
		AND CMD_DESC NOT LIKE '%CHILE%'
		AND CMD_DESC NOT LIKE '%REFRIGERATOR%'
		AND
		(
		CMD_DESC LIKE '%REFRIG%'
		OR CMD_DESC LIKE '%CHIL%'
		)
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)





		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		JOC_CODE IN ('1120100','1144545','1464000','1561000','1610100')  
		AND CMD_DESC NOT LIKE '%DRY%'
		AND CMD_DESC NOT LIKE '%DRIED%'
		AND CMD_DESC NOT LIKE '%CAN %'
		AND CMD_DESC NOT LIKE '%DEHYD%'
		AND CMD_DESC NOT LIKE '%CHIP%'
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		UNION
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		JOC_CODE IN ('1120100','1144545','1464000','1561000','1610100')  
		AND
		(
		CMD_DESC LIKE '%FROZ%'
		OR CMD_DESC LIKE '%FRZ%'
		OR CMD_DESC LIKE '%CANAD%'
		OR CMD_DESC LIKE '%IQF%'
		OR CMD_DESC LIKE '%CANE%'
		OR CMD_DESC LIKE '%DOMINICAN%'
		OR CMD_DESC LIKE '%RICAN%'
		)
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)




		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		JOC_CODE='1682500'
		AND ( 
		CMD_DESC LIKE '%REFR%'
		OR CMD_DESC LIKE '%CHILL%'
		)   
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)




		Update PES_STG_CMD WITH (UPDLOCK) SET  CMD_REEFER_FLAG = 'Y' WHERE CMD_ID IN
		(
		SELECT CMD_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE   
		JOC_CODE='1562000'
		AND CMD_DESC NOT LIKE '%DRY%'
		AND CMD_DESC NOT LIKE '%DRIED%'  
		AND CMD_DESC NOT LIKE '%CANNED%'
		AND CMD_DESC NOT LIKE '%CANS%'
		AND CMD_DESC NOT LIKE '%CHEV%'
		AND CMD_DESC NOT LIKE '%FORD%'
		AND BOL_ID IN(SELECT A.BOL_ID FROM #TEMP_PES_STG_BOL A,ARCHIVE_RAW_BOL B  WITH (NOLOCK)  WHERE A.BOL_ID=B.BOL_ID AND B.REEFERNUM IS NULL)
		)

		IF @SOURCE='RAW_STG'
		BEGIN
			SET @TIME= DATEDIFF(N,GETDATE(),@DATE)

			SET @cmd = 'ECHO PROCEDURE PES_SET_FLAGS EXECUTED SUCCESSFULLY   '+ CAST(@TIME AS VARCHAR(20)) + ' >> '+ @FILE  
			EXEC master..xp_cmdshell @CMD  
		END

		DROP TABLE #TEMP_PES_STG_BOL
  
	END TRY  
	BEGIN CATCH  
		SET @ERROR_NUMBER=ERROR_NUMBER()  
		SET @ERROR_LINE=ERROR_LINE()  
		SET @ERROR_MESSAGE='STORED PROCEDURE PES_SET_FLAGS FAILED AT LINE NUMBER:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()  
	
		IF @SOURCE='RAW_STG'
		BEGIN
			SET @CMD = 'ECHO ERROR_MESSAGE-- '+@ERROR_MESSAGE+ ' >> '+ @FILE  
			EXEC master..xp_cmdshell @CMD   
			SET @CMD = 'ECHO ERROR_NUMBER-- '+@ERROR_NUMBER+ ' >> '+ @FILE  
			EXEC master..xp_cmdshell @CMD   
			SET @CMD = 'ECHO ERROR_LINE-- '+@ERROR_LINE+ ' >> '+ @FILE  
			EXEC master..xp_cmdshell @CMD   
		END
		RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG 
	END CATCH  

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
