/****** Object:  StoredProcedure [dbo].[PES_DELETE_STG_BILLS_BY_LOADNBR]    Script Date: 01/03/2013 19:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_DELETE_STG_BILLS_BY_LOADNBR]
	@LOADNUMBER INT = 0
AS
BEGIN
	-- SET NOCOUNT ON ADDED TO PREVENT EXTRA RESULT SETS FROM
	-- INTERFERING WITH SELECT STATEMENTS.
	SET NOCOUNT ON;

DECLARE @SENDEMAILOUTPUT VARCHAR(MAX), @SENDEMAILSUCCESS BIT
   
BEGIN TRAN

UPDATE PES_STG_BOL SET IS_DELETED = 'Y',MODIFY_DATE = GETDATE(),MODIFY_USER = 'TA14903'
WHERE REF_LOAD_NUM_ID = @LOADNUMBER

UPDATE PES_STG_CMD SET IS_DELETE = 'Y',MODIFY_DATE = GETDATE(),MODIFY_USER = 'TA14903'
WHERE BOL_ID IN 
( SELECT BOL_ID FROM PES_STG_BOL (NOLOCK)
   WHERE REF_LOAD_NUM_ID = @LOADNUMBER
)
 
IF(@@ERROR <> 0)   
BEGIN  
  ROLLBACK TRAN  
  PRINT N'ERROR: TRANSACTION ROLLED BACK DUPLICATES DELETE FAILED';  
END  
ELSE  
BEGIN  
        COMMIT TRAN  
  PRINT N'BILLS DELETED SUCCESSFULLY ON STAGING '+LTRIM(RTRIM(STR(@LOADNUMBER)))+ ' ';  
  EXEC dbo.usp_SendEmail
  --@To		= 'dpanicker@joc.com;SKasi@joc.com;qstenger@joc.com;'
  @To		= 'dpanicker@joc.com;'
 ,@From		= 'PIERS-NoReply@piers.com'
 ,@Subject	= 'Bills Deleted in Staging'
 ,@Body		= 'The bills in PES Staging is deleted successfully'
 ,@Success	= @SendEmailSuccess OUT
 ,@Output	= @SendEmailOutput OUT
  SELECT @SendEmailSuccess, @SendEmailOutput
   
END  
  

END
GO
