/****** Object:  StoredProcedure [dbo].[PES_SP_RULES]    Script Date: 01/03/2013 19:40:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_SP_RULES]  
AS
/*
Change History
Changes on 3-Aug-2009 by Cognizant for improving performance of pes_sp_rules program during data load
*/
BEGIN  

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

  
DECLARE @TRANNAME VARCHAR(20),@FILE VARCHAR(500),@FILE_NAME VARCHAR(50)  
DECLARE @CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),  
@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50),@DATE DATETIME,@TIME INT  
SET @TRANNAME = 'MyTransaction'  
SELECT @FILE = PATH FROM PES_CONFIGURATION  WITH (NOLOCK)  WHERE SOURCE='SP_LOG'  
SELECT @FILE_NAME= FILENAME FROM PES_PROGRESS_STATUS  WITH (NOLOCK)  WHERE LOAD_DT=(SELECT MAX(Load_DT) FROM PES_PROGRESS_STATUS  WITH (NOLOCK) )  
SET @FILE='"'+@FILE+@FILE_NAME+'_LOG.TXT'+'"' 
  
SET @CMD = 'ECHO PROCEDURE PES_SP_RULES EXECUTION STARTED' + '>>'+ @FILE  
EXEC MASTER..XP_CMDSHELL @CMD   

SET @DATE=GETDATE()
  
BEGIN TRANSACTION @TRANNAME  
  
BEGIN TRY   
  
DECLARE @SQLStatement NVARCHAR(4000)  
DECLARE @SQLACTION VARCHAR(5000)  
DECLARE @SQLMATCH VARCHAR(3000)  
DECLARE @Dir VARCHAR(1)  
DECLARE @ID INT  
DECLARE @PROC_ACTION VARCHAR(2)  
DECLARE @ISSEMICOLUMN INT  
DECLARE @SQLACTION1 VARCHAR(5000)  
DECLARE @SQLStatement1 NVARCHAR(4000)  
DECLARE @SQLACTION2 VARCHAR(5000)  
DECLARE @SQLStatement2 NVARCHAR(4000)  
DECLARE @TNBR INT  
DECLARE @DAILY_LOAD_DT DATETIME  
DECLARE @LOADNUM NUMERIC(12,0)  
DECLARE @BATCH_ID VARCHAR(10)  
DECLARE @EXCEPTION_CNT INT  
DECLARE @PRECARRIER VARCHAR(35)  
DECLARE @CREATED_BY VARCHAR(50)
DECLARE @CREATED_DT DATETIME
DECLARE @HCS_PROCESSED VARCHAR(1)
 
   
--Upadte the bill will go for valiadation to 'N'  
 

--Changes by Cognizant on 3-Aug-2009, START
/*
SELECT DISTINCT B.BOL_ID
INTO #TEMP_BOL
FROM PES.DBO.PES_STG_BOL B  WITH (NOLOCK)  JOIN PES.DBO.PES_STG_CMD C  WITH (NOLOCK) 
ON B.BOL_ID=C.BOL_ID
WHERE QC_VALID IS NULL

UPDATE PES.DBO.PES_STG_BOL with (UPDLOCK)  
SET QC_VALID='N' 
WHERE BOL_ID IN(
				SELECT BOL_ID
				FROM #TEMP_BOL
			 )
*/



--This is needed, in case there were previously some bills with QC_VALID='N'
--TRUNCATE TABLE #TEMP_BOL

/*
INSERT INTO #TEMP_BOL(BOL_ID)
SELECT BOL_ID FROM PES.DBO.PES_STG_BOL  WITH (NOLOCK) 
WHERE QC_VALID='N'
*/

CREATE TABLE #TEMP_BOL(BOL_ID NUMERIC(12,0))

INSERT INTO #TEMP_BOL(BOL_ID)
SELECT BOL_ID FROM PES.DBO.PES_STG_BOL  WITH (NOLOCK) 
WHERE QC_VALID='N'


SELECT * 
INTO #TEMP_CMD 
FROM PES_STG_CMD  WITH (NOLOCK) 
WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_BOL)


SET @CMD = 'ECHO STEP 1:'+ CAST(GETDATE() AS VARCHAR(100)) + '>>'+ @FILE  
EXEC MASTER..XP_CMDSHELL @CMD  

 ---Added BY PRABHAV ON 4TH MAY 2009
---------------------------------------------------------------------------------------------------------------------------------------------  
--UPDATE HARM_CODE,JOC_CODE WHICH WAS FOUND IN HIST_CODE LOOKUP DURING THE CODING OF THE COMMODITY

UPDATE T
SET JOC_CODE= C.JOC_CODE,
CMD_CD=C.JOC_CODE   
FROM #TEMP_CMD T
JOIN SCREEN_TEST.DBO.DQA_CMDS C  WITH (NOLOCK)  
ON (T.BOL_ID = C.T_NBR AND ltrim(rtrim(T.CMD_DESC))=ltrim(rtrim(C.DQA_DESC)) and T.CMD_HSCODE = C.CMD_CD)
WHERE HCS_PROCESSED = 'P' 

SET @CMD = 'ECHO STEP 2:'+ CAST(GETDATE() AS VARCHAR(100)) + '>>'+ @FILE  
EXEC MASTER..XP_CMDSHELL @CMD 

--MODIFIED BY PRABHAV ON 7TH MAY 2009 FOR REMOVING SPACES AND DO LOOKUP WITH PERM_KEY
--==============================================================================================================--

--LOOKUP on HIST_CODES WITH DESCRIPTION and HARMCODE FOR JOC_CODE IS NULL
--QUERY TO TUNE

UPDATE T
SET JOC_CODE= H.JOC_CODE,
CMD_CD=H.JOC_CODE   
FROM SCREEN_TEST.DBO.HIST_CODES H  WITH (NOLOCK) 
JOIN #TEMP_CMD T
ON UPPER(SCREEN_TEST.DBO.GET_KEY(T.CMD_DESC)) = UPPER(H.PERM_KEY)  
WHERE T.CMD_HSCODE = H.HARM_CODE  
AND ISNULL(T.CMD_CD,'')=''

SET @CMD = 'ECHO STEP 3:'+ CAST(GETDATE() AS VARCHAR(100)) + '>>'+ @FILE  
EXEC MASTER..XP_CMDSHELL @CMD 

--LOOKUP on HIST_CODES WITH DESCRIPTION FOR THOSE WHERE HARMCODE AND JOC_CODE IS NULL
--MODIFIED BY PRABHAV ON 13TH MAY 2009 FOR DEFECT ID 1440 TO DO LOOKUP ON DESCRIPTION AND UPDATE HARMCODE AND JOC_CODE

--UPDATE PES.DBO.PES_STG_CMD SET CMD_HSCODE = H.HARM_CODE, 
--PES.DBO.PES_STG_CMD.JOC_CODE= H.JOC_CODE,PES.DBO.PES_STG_CMD.CMD_CD=H.JOC_CODE   
--FROM SCREEN_TEST.DBO.HIST_CODES H 
--JOIN PES.DBO.PES_STG_CMD ON UPPER(SCREEN_TEST.DBO.GET_KEY(PES.DBO.PES_STG_CMD.CMD_DESC)) = UPPER(H.PERM_KEY)  
--JOIN PES.DBO.PES_STG_BOL A ON A.BOL_ID = PES.DBO.PES_STG_CMD.BOL_ID
--WHERE ISNULL(PES.DBO.PES_STG_CMD.CMD_HSCODE,'') = '' 
--AND PES.DBO.PES_STG_CMD.CMD_CD IS NULL 
--AND QC_VALID = 'N'


UPDATE T
SET 
--CMD_HSCODE = H.HARM_CODE, 
JOC_CODE= H.JOC_CODE,
CMD_CD=H.JOC_CODE   
FROM SCREEN_TEST.DBO.HIST_CODES H  WITH (NOLOCK) 
JOIN #TEMP_CMD T 
ON UPPER(SCREEN_TEST.DBO.GET_KEY(T.CMD_DESC)) = UPPER(H.PERM_KEY)  
WHERE ISNULL(T.CMD_CD,'')=''

SET @CMD = 'ECHO STEP 4:'+ CAST(GETDATE() AS VARCHAR(100)) + '>>'+ @FILE  
EXEC MASTER..XP_CMDSHELL @CMD 

--==============================================================================================================================================


------------------------------------------------------------------------------------------------------------------------------------------------
  
--------------LOOK UP WITH HARM CODE AND CMD DESC-------  

UPDATE T
SET JOC_CODE=X.JOC_CD,
	CMD_CD=X.JOC_CD   
FROM #TEMP_CMD T
JOIN 
	(
		SELECT DISTINCT A.HARMCODE HARMCD,B.TSUSA  JOC_CD,A.COMP_NAME CMD_DESC
		FROM  PES.DBO.REF_HARMCMST A  WITH (NOLOCK)  JOIN  PES.DBO.REF_CMMCST B  WITH (NOLOCK) 
		ON A.COMP_NAME=B.COMP_NAME 
	)X 
ON T.CMD_HSCODE=X.HARMCD AND UPPER(SCREEN_TEST.DBO.GET_KEY(T.CMD_DESC))=UPPER(X.CMD_DESC)
WHERE ISNULL(T.CMD_CD,'')=''
 
--Add for temporary purpose as per Perumal, to complete back log 
UPDATE T
SET JOC_CODE=X.TSUSA,
	CMD_CD=X.TSUSA   
FROM #TEMP_CMD T
JOIN PES.DBO.PES_VIEW_REF_CMMCST X
ON UPPER(SCREEN_TEST.DBO.GET_KEY(T.CMD_DESC))=UPPER(X.COMP_NAME)
WHERE ISNULL(T.CMD_CD,'')=''

--Lookup PES_COMCODE_HISTORY for Comcode with harmcode and short description
UPDATE T
SET JOC_CODE=COMCODE,
	CMD_CD=COMCODE   
FROM #TEMP_CMD T
JOIN PES.DBO.PES_COMCODE_HISTORY A  WITH (NOLOCK) 
ON UPPER(LTRIM(RTRIM(T.CMD_DESC)))=UPPER(LTRIM(RTRIM(A.SHORT_DESCRIPTION)))
and T.CMD_HSCODE = A.HSCODE
WHERE ISNULL(T.CMD_CD,'') = ''
AND ISNULL(T.CMD_HSCODE,'') <> ''
AND COMCODE <> '-1'
--Lookup PES_COMCODE_HISTORY for Comcode with short description
UPDATE T
SET JOC_CODE=COMCODE,
	CMD_CD=COMCODE   
FROM #TEMP_CMD T
JOIN PES.DBO.PES_COMCODE_HISTORY A  WITH (NOLOCK) 
ON UPPER(LTRIM(RTRIM(T.CMD_DESC)))=UPPER(LTRIM(RTRIM(A.SHORT_DESCRIPTION)))
WHERE ISNULL(T.CMD_CD,'') = ''
AND ISNULL(T.CMD_HSCODE,'') <> ''
AND COMCODE <> '-1'

--Lookup PES_COMCODE_HSCODE_MAP for Comcode
UPDATE T
SET JOC_CODE=COMCODE,
	CMD_CD=COMCODE   
FROM #TEMP_CMD T
JOIN PES.DBO.PES_COMCODE_HSCODE_MAP A
ON CMD_HSCODE = HSCODE
WHERE ISNULL(T.CMD_CD,'') = ''
AND ISNULL(T.CMD_HSCODE,'') <> ''
AND COMCODE <> '-1'


SET @CMD = 'ECHO STEP 5:'+ CAST(GETDATE() AS VARCHAR(100)) + '>>'+ @FILE  
EXEC MASTER..XP_CMDSHELL @CMD 

--Modified By Prabhav on 9-June-2009
--To Improve the % of Commodity Standardization Exceptions owing to unrelated Commodity Description and HarmCode
--===================================================================================================================================---

-----------LOOK UP ONLY WITH HARM CODE  
------Removed as lookup on HARM_CODE gives wrong value
 
--UPDATE PES.DBO.PES_STG_CMD WITH (UPDLOCK)  
--SET JOC_CODE=X.JOC_CD,CMD_CD=X.JOC_CD   
--FROM (  
-- SELECT DISTINCT A.HARMCODE HARMCD,B.TSUSA  JOC_CD   
-- FROM  PES.DBO.REF_HARMCMST A  WITH (NOLOCK) ,  PES.DBO.REF_CMMCST B  WITH (NOLOCK)   
-- WHERE A.COMP_NAME=B.COMP_NAME AND A.HARMCODE IN  
--   (  
--    SELECT  CMD_HSCODE FROM PES.DBO.PES_STG_CMD C  WITH (NOLOCK) , PES.DBO.PES_STG_BOL D  
--    WHERE C.BOL_ID=D.BOL_ID AND D.QC_VALID='N' AND C.CMD_CD IS NULL  
--   )   
-- AND A.DELETED='N' AND B.DELETED='N'  
-- )X    
--WHERE PES_STG_CMD.CMD_HSCODE=X.HARMCD AND PES_STG_CMD.CMD_CD IS NULL  
  
--=======================================================================================================================================

UPDATE C WITH (UPDLOCK)
SET 
--CMD_HSCODE = T.CMD_HSCODE, 
JOC_CODE= T.JOC_CODE,
CMD_CD=T.CMD_CD
FROM PES.DBO.PES_STG_CMD C JOIN #TEMP_CMD T 
ON C.BOL_ID=T.BOL_ID
AND C.CMD_ID=T.CMD_ID


SET @CMD = 'ECHO PROCEDURE CHILD PROCEDURE CMD_CONTAINER EXECUTION STARTED' + '>>'+ @FILE  
EXEC MASTER..XP_CMDSHELL @CMD   
--UPDATE CONTAINER FIELDS  
  
--EXEC PES.dbo.CMD_CONTAINER  


  
SET @CMD = 'ECHO PROCEDURE CHILD PROCEDURE CMD_CONTAINER EXECUTION FINISHED' + '>>'+ @FILE  

SET @CMD = 'ECHO STEP 6:'+ CAST(GETDATE() AS VARCHAR(100)) + '>>'+ @FILE  
EXEC MASTER..XP_CMDSHELL @CMD 
  
SET @CMD = 'ECHO PROCEDURE CHILD PROCEDURE PES_SET_FLAGS EXECUTION STARTED' + '>>'+ @FILE  
EXEC MASTER..XP_CMDSHELL @CMD   
  
EXEC PES.dbo.PES_SET_FLAGS  'RAW_STG'

  
SET @CMD = 'ECHO PROCEDURE CHILD PROCEDURE PES_SET_FLAGS EXECUTIED SUCCESSFULLY' + '>>'+ @FILE  
EXEC MASTER..XP_CMDSHELL @CMD  

SET @CMD = 'ECHO STEP 7:'+ CAST(GETDATE() AS VARCHAR(100)) + '>>'+ @FILE  
EXEC MASTER..XP_CMDSHELL @CMD 
  
---POPULATE  COMMODITY COUNT  

 UPDATE PES.DBO.PES_STG_BOL  with (updlock)  
 SET BOL_CMD_CNT=P.CNT_CMD   
 FROM   
 (  
  SELECT COUNT(B.BOL_ID)AS CNT_CMD,B.BOL_ID   
  FROM (  
		SELECT BOL_ID   
		FROM #TEMP_CMD  
		)B   
  GROUP BY B.BOL_ID
 )P    
WHERE PES_STG_BOL.BOL_ID= P.BOL_ID   
  

SET @CMD = 'ECHO STEP 8:'+ CAST(GETDATE() AS VARCHAR(100)) + '>>'+ @FILE  
EXEC MASTER..XP_CMDSHELL @CMD 
  
  
--DECLARE CUR_CTRL_QC_MODIFY CURSOR FOR SELECT ID,IMEX,SQLACTION,SQLMATCH,PROC_ACTION FROM  SCREEN_TEST.dbo.CTRL_QC_MODIFY  
DECLARE CUR_CTRL_QC_MODIFY CURSOR FOR   
SELECT ID,IMEX,SQLACTION,SQLMATCH,PROC_ACTION   
FROM SCREEN_TEST.dbo.CTRL_QC_MODIFY  WITH (NOLOCK)   
WHERE PROC_ACTION<>'IN' AND CONDITION = 'PRE'  
AND GETDATE() BETWEEN START_DATE AND STOP_DATE  
  
--SELECT @@ROWCOUNT  
  
OPEN CUR_CTRL_QC_MODIFY  
FETCH NEXT FROM CUR_CTRL_QC_MODIFY INTO @ID,@Dir,@SQLACTION,@SQLMATCH,@PROC_ACTION  
  
WHILE @@FETCH_STATUS = 0  
BEGIN  
 SET @SQLACTION=REPLACE(@SQLACTION,'CTRL_PROCESS_VOYAGE','SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE')  
  
 IF @PROC_ACTION='PR' OR @PROC_ACTION='PA'   
 BEGIN  
  --SET @SQLACTION=REPLACE(@SQLACTION,'FROM','FROM PES.DBO.RAW_BOL , ')  
  SET @ISSEMICOLUMN=CHARINDEX(';',@SQLACTION)  
  
  IF @ISSEMICOLUMN>0  
  BEGIN  
   SET @SQLACTION1=SUBSTRING(@SQLACTION,1,@ISSEMICOLUMN-1)  
   SET @SQLACTION2=SUBSTRING(@SQLACTION,@ISSEMICOLUMN+1,LEN(@SQLACTION))  
   SET  @SQLStatement1=@SQLACTION1 +' '+ @SQLMATCH + 'AND PES.DBO.PES_STG_BOL.QC_VALID=''N'')'  
   SET  @SQLStatement2=@SQLACTION2 +' '+ @SQLMATCH + ' AND PES.DBO.PES_STG_BOL.QC_VALID=''N'')'  
  END  
  
  
  IF @ISSEMICOLUMN=0  
   SET  @SQLStatement=@SQLACTION +' '+ @SQLMATCH + ' AND PES.DBO.PES_STG_BOL.QC_VALID=''N'')'  
 END  
  
 IF @SQLStatement IS NOT NULL OR @SQLStatement1 IS NOT NULL OR @SQLStatement2 IS NOT NULL  
 begin try   
  IF @PROC_ACTION='PR'   
  BEGIN  
   EXECUTE sp_executesql @SQLStatement  
   --UPDATE SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE SET Load_Number=(SELECT DISTINCT LOAD_NUMBER FROM PES.DBO.RAW_BOL)  
   --WHERE Load_Number IS NULL  
  END  
  IF @PROC_ACTION='PA'   
  BEGIN  
   EXECUTE sp_executesql @SQLStatement1  
   --UPDATE SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE SET Load_Number=(SELECT DISTINCT LOAD_NUMBER FROM PES.DBO.RAW_BOL)  
   --WHERE Load_Number IS NULL  
   EXECUTE sp_executesql @SQLStatement2  
  END  
  IF @PROC_ACTION='AP'   
  BEGIN  
   SET  @SQLStatement=@SQLACTION +' '+ @SQLMATCH + ' AND PES.DBO.PES_STG_BOL.QC_VALID=''N'')'  
   EXECUTE sp_executesql @SQLStatement  
  END  
 end try  
  
 begin catch  
  IF @PROC_ACTION='PR'   
   select @SQLStatement   
  IF @PROC_ACTION='PA'   
  BEGIN  
   select @SQLStatement1  
   select @SQLStatement2   
  END  
 end catch  
  
  
FETCH NEXT FROM CUR_CTRL_QC_MODIFY INTO @ID,@Dir,@SQLACTION,@SQLMATCH,@PROC_ACTION  
END  
CLOSE CUR_CTRL_QC_MODIFY  
DEALLOCATE CUR_CTRL_QC_MODIFY  
  
SET @CMD = 'ECHO STEP 9:'+ CAST(GETDATE() AS VARCHAR(100)) + '>>'+ @FILE  
EXEC MASTER..XP_CMDSHELL @CMD 
  
--Upadte the bill AFTER VALIDATED TO 'Y'  
  
--POPULATE DQA_BL  
  
--DECLARE CUR_QCVALIDATED CURSOR   
--FOR SELECT BOL_ID FROM #TEMP_BOL
--
----FOR SELECT BOL_ID FROM PES.DBO.PES_STG_BOL  WITH (NOLOCK)    
----WHERE QC_VALID='N'  
--  
--OPEN CUR_QCVALIDATED  
--FETCH NEXT FROM CUR_QCVALIDATED INTO @TNBR  
--  
--WHILE @@FETCH_STATUS = 0  
--BEGIN  


	CREATE TABLE #TEMP_BILLS_PRE(
	BOL_ID	NUMERIC(12,0),
	LOAD_NUMBER INT,
	BATCH_ID VARCHAR(10),
	LOAD_DT	DATETIME,
	PLACE_OF_RECEIPT VARCHAR(35),
	EXCEPTION_COUNT INT,
	CREATED_BY VARCHAR(25),
	CREATED_DT DATETIME,
	HCS_PROCESSED VARCHAR(10)
	)

	INSERT INTO #TEMP_BILLS_PRE(BOL_ID,LOAD_DT,LOAD_NUMBER,BATCH_ID,PLACE_OF_RECEIPT,EXCEPTION_COUNT,CREATED_BY,CREATED_DT,HCS_PROCESSED)
	SELECT BOL_ID, LOAD_DT,LOAD_NUMBER,BATCH_ID,B.PLACE_OF_RECEIPT,
	(
		SELECT COUNT(DISTINCT T_NBR)
		FROM SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE C  WITH (NOLOCK)   
		JOIN SCREEN_TEST.DBO.CTRL_QC_MODIFY  Q WITH (NOLOCK)
		ON (C.PROCESS_NAME=Q.[KEY] AND CONDITION='PRE')
	    WHERE COMPLETE_STATUS=1 
		AND C.T_NBR = B.BOL_ID
	)  AS 'EXCEPTION_COUNT',
	D.CREATED_BY,D.CREATED_DT,D.HCS_PROCESSED
	FROM PES.DBO.ARCHIVE_RAW_BOL B  WITH (NOLOCK)    
	JOIN PES.DBO.PES_PROGRESS_STATUS S  WITH (NOLOCK) 
	ON B.LOAD_NUMBER=S.LOADNUMBER
	LEFT JOIN
	(
		SELECT T_NBR,MAX(CREATED_BY) AS 'CREATED_BY',MAX(CREATED_DT)AS 'CREATED_DT',HCS_PROCESSED
		FROM SCREEN_TEST.DBO.DQA_CMDS D  WITH (NOLOCK)  
		GROUP BY T_NBR,HCS_PROCESSED
	) D
	ON B.BOL_ID = D.T_NBR
	WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_BOL)
	
--	DELETE FROM #TEMP_BILLS_PRE
--	WHERE ISNULL(EXCEPTION_COUNT,0)=0
	
	UPDATE #TEMP_BILLS_PRE
	SET EXCEPTION_COUNT=0
	WHERE EXCEPTION_COUNT IS NULL

	UPDATE C WITH (UPDLOCK)
	SET LOAD_NUMBER = T.LOAD_NUMBER, 
	VENDOR_NAME = T.BATCH_ID
	FROM  SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE C
	JOIN #TEMP_BILLS_PRE T
	ON (C.T_NBR=T.BOL_ID)

------------Added By Harish On Oct-17 to eleminate duplicate
DECLARE @PendingCount INT
SELECT  @PendingCount=COUNT(*)
FROM PES.dbo.PES_PROGRESS_STATUS (NOLOCK) WHERE FILE_PROCESS_STATUS='PENDING'
IF @PendingCount!=0-- Run ONLY IN CASE OF FEED WILL NOT EXECUTE IN CASE OF COMMODITY REPROCESSING
	BEGIN
		select bol_id,count(*) as CountEx into  #TempBillRef from #TEMP_BILLS_PRE
		group by bol_id having count(*)>1
		Delete from  #TEMP_BILLS_PRE where HCS_PROCESSED ='Y' and 
		Bol_id in (select bol_id from #TempBillRef)
		Drop table #TempBillRef
	END
------------Added By Harish On Oct-17 to eleminate duplicate ENDS HERE

	INSERT INTO SCREEN_TEST.DBO.DQA_Bl(T_NBR,CARRIER_ID,VESSEL_ID,USPORT_ID,DIR,VOYAGE,DQA_VOYAGE_ID,FPORT_ID,
	VDate,WEIGHT,EST_VALUE,TEU,PAYABLE_FLG,NVOSCAC,LOAD_NBR,DAILY_LOAD_DT,RELEASE_FLG,BOL_NBR,
	RECEIPT_COUNTRY_CODE,FINANCE_FLG,NVOCC_FLG,DESTINATION_ST,DESTINATION_CITY,REGISTRY,
	MANIFEST_NBR,BANK,RECEIPT_CITY,CARRIER_NAME,USPORT_NAME,FGN_PORT_NAME,VESSEL_NAME,
	BL_NBR,RCPT_CODE,FGN_PORT_CODE,PRECARRIER,BATCH_ID,ULTPORT_ID,ULT_PORT_NAME,ULT_PORT_CODE,
	RCPT_ID,RECEIPT_ID,REG_ID,CONSIGNEE_ID,SHIPPER_ID,NOTIFY_ID,CONQTY,CONFLAG,CONLENGTH,
	CONTWIDTH,CONTYPE,CONSIZE,CONVOL,USPORT_CODE,BOL_QTY,ORG_DEST_CD,ORG_DEST_FLG) 

	(SELECT DISTINCT A.BOL_ID,A.SLINE_REF_ID,A.VESSEL_REF_ID,A.PORT_DEPART_REF_ID,A.BOL_DIRECTION,A.VOYAGE,A.STND_VOYG_ID,A.PORT_ARRIVE_REF_ID,
	A.VDATE,A.BOL_WGT,A.EST_VALUE,A.BOL_TEU,A.BOL_PAYABLE_FLG,A.NVO_SCAC,A.REF_LOAD_NUM_ID AS LOAD_NUMBER,
	T.LOAD_DT AS DAILY_LOAD_DT,
	'Y' AS RELEASE_FLAG,A.BOL_NBR,
	A.CTRYCODE,A.BOL_FINANCIAL_FLG,A.NVOCC_FLAG,A.ORG_DEST_ST AS DESINATION_ST,A.ORG_DEST_CITY AS DESTINATION_CITY,A.REGISTRY,
	A.MANIFEST_NUMBER,A.BANK,A.PLACE_OF_RECEIPT,A.SCAC,A.PORT_OF_DEPARTURE,A.PORT_OF_DESTINATION,A.VESSEL_NAME,
	A.BOL_NBR,A.RCPT_CODE,A.FOREIGN_LOADING_PORT AS FOREIGN_PORT,
	T.PLACE_OF_RECEIPT,
	A.BATCH_ID,A.ULTPORT_ID,A.ULT_PORT_NAME,A.ULT_PORT_CODE,
	A.RECEIPT_ID,A.RECEIPT_ID,A.REGISTRY_ID,A.COMP_ID,A.FCOMP_ID,A.NTFCOMP_ID,A.CONQTY,A.CONFLAG,A.CONLENGTH,A.CONWIDTH,
	A.CONTYPE,A.CONSIZE,A.CONVOL ,A.DISCHARGE_PORT,A.BOL_QTY,A.ORG_DEST_CD AS ORG_DEST_CD,
	(CASE	WHEN A.BATCH_ID = 'AMS' AND LEN(A.ORG_DEST_CD)= 4 THEN 'U' 
			WHEN A.BATCH_ID='AMS' AND LEN(A.ORG_DEST_CD)= 5 THEN 'F' 
			WHEN A.BATCH_ID ='AMS' AND ISNULL(A.ORG_DEST_CD,'')='' THEN 'U' ELSE 'U' END)AS ORG_DEST_FLG
	FROM PES.DBO.PES_STG_BOL A  WITH (NOLOCK) 
	JOIN #TEMP_BILLS_PRE T 
	ON (A.BOL_ID=T.BOL_ID)
	WHERE A.BOL_ID NOT IN  (SELECT DISTINCT T_NBR FROM SCREEN_TEST.DBO.DQA_BL  WITH (NOLOCK) )
	AND T.EXCEPTION_COUNT > 0
	)  

--------------------------------------------HCS REPROCESSING-----------------------------------------------------

	DELETE FROM SCREEN_TEST.DBO.DQA_CMDS WHERE T_NBR IN (SELECT BOL_ID FROM #TEMP_BILLS_PRE)

	INSERT INTO SCREEN_TEST.DBO.DQA_CMDS ([T_NBR],[CMD_SEQ_NBR],[PIECE_CNT],PIECE_UNIT,[DQA_DESC],[CREATED_DT],[HCS_PROCESSED]  
	 ,CMD_CD ,TEU,[WEIGHT],JOC_CODE,[EDIT_MODE],[EXCP_EDIT],CMD_ID,DQA_CMD_SEQ_NBR, EST_VALUE,CREATED_BY,COMPRESS_DESC)  

	SELECT S.BOL_ID
		  ,CMD_SEQ_NBR
		  ,CMD_PIECE_CNT
		  ,PIECE_UNIT
		  ,SUBSTRING(LTRIM(RTRIM(CMD_DESC)),1,100)
		  ,CREATED_DT
		  ,'Y' AS HCS_PROCESSED
		  ,CMD_HSCODE
		  ,CMD_TEU
		  ,CMD_WGT_VALUE
		  ,JOC_CODE
		  ,'DIRECT_EDIT'
		  ,'N'
		  ,CMD_ID
		  ,CMD_SEQ_NBR DQA_CMD_SEQ_NBR
		  ,CMD_VALUE_VALUE
		  ,CREATED_BY 
		  ,SCREEN_TEST.dbo.GET_KEY(SUBSTRING(LTRIM(RTRIM(CMD_DESC)),1,100)) COMPRESS_DESC
		  
		  FROM PES.DBO.PES_STG_CMD S  WITH (NOLOCK)   
		   JOIN #TEMP_BILLS_PRE T ON (S.BOL_ID=T.BOL_ID)
	  WHERE HCS_PROCESSED IS NULL
			AND T.EXCEPTION_COUNT > 0	 

	UNION

	SELECT S.BOL_ID
		  ,CMD_SEQ_NBR
		  ,CMD_PIECE_CNT
		  ,PIECE_UNIT
		  ,SUBSTRING(LTRIM(RTRIM(CMD_DESC)),1,100)
		  ,CREATED_DT
		  ,HCS_PROCESSED
		  ,CMD_HSCODE
		  ,CMD_TEU
		  ,CMD_WGT_VALUE
		  ,JOC_CODE
		  ,'DIRECT_EDIT'
		  ,'N',CMD_ID
		  ,CMD_SEQ_NBR DQA_CMD_SEQ_NBR
		  ,CMD_VALUE_VALUE
		  ,CREATED_BY 
		  ,SCREEN_TEST.dbo.GET_KEY(SUBSTRING(LTRIM(RTRIM(CMD_DESC)),1,100)) COMPRESS_DESC
		  
	  FROM PES.DBO.PES_STG_CMD S  WITH (NOLOCK)   
		   JOIN #TEMP_BILLS_PRE T ON (S.BOL_ID=T.BOL_ID)
	  WHERE HCS_PROCESSED IN ('N','P')
 
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------  
 --UPDATE BL_CACHE STATUS FROM 'PARTIALY CLEANSED' TO 'CLEANSED'  
	 
	UPDATE B WITH (UPDLOCK) 
	SET DQA_BL_STATUS='CLEANSED' 
	FROM SCREEN_TEST.DBO.BL_CACHE B
	JOIN #TEMP_BILLS_PRE T 
	ON (B.T_NBR=T.BOL_ID)
  
	 UPDATE B WITH (UPDLOCK) 
	 SET QC_VALID='P' 
	 FROM PES.DBO.PES_STG_BOL B
	 JOIN #TEMP_BILLS_PRE T 
	 ON (B.BOL_ID=T.BOL_ID)
  
  
SET @CMD = 'ECHO STEP 10:'+ CAST(GETDATE() AS VARCHAR(100)) + '>>'+ @FILE  
EXEC MASTER..XP_CMDSHELL @CMD 

--Drop Temporary Tables
DROP TABLE #TEMP_BOL
DROP TABLE #TEMP_CMD
DROP TABLE #TEMP_BILLS_PRE

 --COMMITTING THE TRANSACTIONS IF NO ERROR OCCURRED  
 COMMIT TRANSACTION @TRANNAME  
 SET @TIME= DATEDIFF(N,GETDATE(),@DATE)  
 SET @cmd = 'ECHO PROCEDURE PES_SP_RULES EXECUTED SUCCESSFULLY'+ CAST(@TIME AS VARCHAR(20)) + ' >> '+ @FILE  
 EXEC master..xp_cmdshell @CMD  
END TRY  
BEGIN CATCH  


-- Added by Harish on Sep-26-2011 to take care of duplicate records
 --in STG_CMD table, which causes Production Downs.
SELECT BOL_ID,CMD_SEQ_NBR,COUNT(*) As Count
INTO #tmpDupsInPES_STG_CMD
FROM PES.DBO.PES_STG_CMD  (nolock)
GROUP BY BOL_ID,CMD_SEQ_NBR
HAVING COUNT(*)>1

IF @@Rowcount=0 
	BEGIN 
		DROP TABLE #tmpDupsInPES_STG_CMD
	END
ELSE
	BEGIN 
		WITH tmp_dups As (
		SELECT psc.BOL_ID,psc.CMD_SEQ_NBR,psc.CMD_ID
		, Rank() over 
		(Partition BY psc.BOL_ID,psc.CMD_SEQ_NBR order by psc.CMD_ID) As Rank
		FROM PES.DBO.PES_STG_CMD psc (nolock)
		JOIN #tmpDupsInPES_STG_CMD t
		ON psc.BOL_ID = t.BOL_ID
		AND psc.CMD_SEQ_NBR = t.CMD_SEQ_NBR)
		
		SELECT *
		INTO #tmp_dups2
		FROM tmp_dups
		WHERE Rank=1
		
		DELETE FROM DBO.PES_STG_CMD
		WHERE CMD_ID IN ( SELECT CMD_ID FROM #tmp_dups2 )


		DROP TABLE #tmp_dups2
		DROP TABLE #tmpDupsInPES_STG_CMD
		Return
	END

--Added by Harish on Sep-26-2011 ENDS HERE-----



 SET @ERROR_NUMBER=ERROR_NUMBER()  
 SET @ERROR_LINE=ERROR_LINE()  
 SET @ERROR_MESSAGE='STORED PROCEDURE PES_SP_RULES FAILED AT LINE NUMBER:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()  
   
 SET @CMD = 'ECHO ERROR_MESSAGE-- '+@ERROR_MESSAGE+ ' >> '+ @FILE  
 EXEC master..xp_cmdshell @CMD   
    SET @CMD = 'ECHO ERROR_NUMBER-- '+@ERROR_NUMBER+ ' >> '+ @FILE  
 EXEC master..xp_cmdshell @CMD   
 SET @CMD = 'ECHO ERROR_LINE-- '+@ERROR_LINE+ ' >> '+ @FILE  
 EXEC master..xp_cmdshell @CMD   
   
 
 SET @CMD = 'ECHO TRANSACTIONS ROLLBACKED'+ ' >> '+ @FILE  
 EXEC master..xp_cmdshell @CMD   

 RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG  

 ROLLBACK TRANSACTION @TRANNAME 
END CATCH  
  

  

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
