/****** Object:  StoredProcedure [dbo].[PES_UPDATE_STG]    Script Date: 01/03/2013 19:40:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_UPDATE_STG]     
 @BOL_TOTAL int  OUTPUT,  
 @BOL_PROCESSED int  OUTPUT,  
 @BOL_PENDING int  OUTPUT,  
 @BOL_MOVED int  OUTPUT,  
 @ID INT  
AS  
BEGIN  

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


	BEGIN TRY

		DECLARE @ERROR_FILE_PATH VARCHAR(500),@ERROR_FILE VARCHAR(50),
		@CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),  
		@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50)
		DECLARE @PackagePath varchar(1000),@Command varchar(2000),
		@Result int
		DECLARE @S1 INT,@S2 INT, @ID_CONV VARCHAR(MAX)
 
		SELECT @ERROR_FILE_PATH = PATH FROM PES_CONFIGURATION  WITH (NOLOCK)  WHERE SOURCE='SP_LOG'  
		SET @ERROR_FILE='PES_UPDATE_STAGING_'+REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(100),GETDATE(),100),' ','-'),':','-'),'--','-')+'_LOG.TXT'
		SET @ERROR_FILE_PATH='"'+@ERROR_FILE_PATH+@ERROR_FILE+'"'
	  
		SET @cmd = 'ECHO PROCEDURE PES_UPDATE_STG STARTED'+ ' > '+ @ERROR_FILE_PATH
		EXEC master..xp_cmdshell @CMD

		SET @ID_CONV=@ID
		
		Set @PackagePath = 'E:\PIERS Enterprise Solution\StagingComponents\SSISPackage\PES_UPDATE_STAGING.dtsx'

		Set @command = 'dtexec -f ' + '"'+ @PackagePath + '"'
		+ ' /set \Package.Variables[User::V_UPD_STG_ID].Properties[Value];' + '"' + @ID_CONV + '"'
		+ ' /set \Package.Variables[User::V_Error_File].Properties[Value];' + '"' + @ERROR_FILE + '"'

		--TABLE PES_XMLERROROUTPUT TO CAPTURE ERROR

		CREATE TABLE #DTSErrorOutput 
			 (ErrorString varchar(8000) NULL)
		INSERT #DTSErrorOutput
		EXEC @Result = xp_cmdshell @command

		--GET THE NUMBER OF BILLS THAT GOT UPDATED IN STAGING TABLES  
		SELECT @BOL_MOVED=COUNT(*) FROM PES_BILLS_UPDATE_STAGING  WITH (NOLOCK)   
	  
		--GET THE COUNT OF TOTAL NUMBER OF BILLS IN PES_STG_BOL TABLE  
		SELECT @BOL_TOTAL=COUNT(*) FROM PES_STG_BOL   WITH (NOLOCK) 
	  
		--GET THE COUNT OF TOTAL NUMBER OF CORRECTED AND AUTOMATED REOCRDS IN STAGING TABLES  
		SELECT @BOL_PROCESSED=COUNT(*) FROM PES_STG_BOL  WITH (NOLOCK)  WHERE PES_STG_BOL.RECORD_STATUS IN('CLEANSED' ,'AUTOMATED')  AND ISNULL(PES_STG_BOL.IS_DELETED,'') <> 'Y'  
	  
		--GET THE COUNT OF TOTAL NUMBER OF BILLS THAT ARE PENDING IN STAGING TABLES  
		SELECT @BOL_PENDING=COUNT(*) FROM PES_STG_BOL  WITH (NOLOCK)  WHERE PES_STG_BOL.RECORD_STATUS='PENDING' AND ISNULL(PES_STG_BOL.IS_DELETED,'') <> 'Y' 
	 
		IF @RESULT=0
		BEGIN
			SET @cmd = 'ECHO PROCEDURE PES_UPDATE_STG EXECUTED SUCCESSFULLY'+ ' >> '+ @ERROR_FILE_PATH 
			EXEC master..xp_cmdshell @CMD
		END

		IF @Result > 1
			Set @Result=1
		IF @Result<>0
		BEGIN

			SELECT @S1=S1,@S2=S2 FROM PES_UPDATE_STAGING_STATUS WHERE ID=@ID
		
			IF @S1<>'1'
				UPDATE PES_UPDATE_STAGING_STATUS SET S1='2' WHERE PES_UPDATE_STAGING_STATUS.ID=@ID

			IF @S2<>'1' AND @S1='1'
				UPDATE PES_UPDATE_STAGING_STATUS SET S2='2' WHERE PES_UPDATE_STAGING_STATUS.ID=@ID

			SET @cmd = 'ECHO UPDATE STAGING PACKAGE FAILED'+ ' >> '+ @ERROR_FILE_PATH 
			EXEC master..xp_cmdshell @CMD	
		END
		--Modified by Prabhav on 20th March 
		--GET THE COUNT OF TOTAL NUMBER OF BILLS THAT ARE DELETED IN STAGING TABLES 
		--SELECT @DEL_COUNT=COUNT(*) FROM PES_STG_BOL WHERE PES_STG_BOL.IS_DELETED ='Y'  

		 
	END TRY 
  
	BEGIN CATCH  

		SET @ERROR_NUMBER=ERROR_NUMBER()  
		SET @ERROR_LINE=ERROR_LINE()  
		SET @ERROR_MESSAGE='Stored Procedure PES_UPDATE_STG failed with ERROR DESCRIPTION:  '+ERROR_MESSAGE()
		
		SET @CMD = '"'+'ECHO ERROR_MESSAGE-- '+@ERROR_MESSAGE+ '"'+' >> '+ @ERROR_FILE_PATH  
		EXEC master..xp_cmdshell @CMD   
		SET @CMD = 'ECHO ERROR_NUMBER-- '+@ERROR_NUMBER+ ' >> '+ @ERROR_FILE_PATH  
		EXEC master..xp_cmdshell @CMD   
		SET @CMD = 'ECHO ERROR_LINE-- '+@ERROR_LINE+ ' >> '+ @ERROR_FILE_PATH  
		EXEC master..xp_cmdshell @CMD 

		SELECT @S1=S1,@S2=S2 FROM PES_UPDATE_STAGING_STATUS WHERE ID=@ID
		
		IF @S1<>'1'
			UPDATE PES_UPDATE_STAGING_STATUS SET S1='2' WHERE PES_UPDATE_STAGING_STATUS.ID=@ID

		EXEC PES_SP_EMAIL 'Update Staging Failed','Update Staging Process Failed',@ERROR_MESSAGE,@ERROR_LINE,@ERROR_NUMBER  
 	END CATCH  

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
