/****** Object:  StoredProcedure [dbo].[PES_LOAD_CLEANUP]    Script Date: 01/03/2013 19:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_LOAD_CLEANUP]
(
@BOLFILE VARCHAR(50)
)
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


DECLARE @LOADNUMBER NUMERIC(12,0)

--GET LOADNUMBER FOR THE FILE
SELECT @LOADNUMBER = LOADNUMBER FROM PES.DBO.PES_PROGRESS_STATUS  WITH (NOLOCK)  WHERE [FILENAME] = @BOLFILE
IF @LOADNUMBER IS NOT NULL
BEGIN
--GET ALL THE BILLS TO BE DELETED FRO THE PARTICULAR LOADNUMBER
SELECT BOL_ID INTO #TEMP_DELETE FROM PES.DBO.ARCHIVE_RAW_BOL  WITH (NOLOCK)  WHERE LOAD_NUMBER =@LOADNUMBER

DELETE FROM PES.DBO.PES_AUDIT WHERE LOAD_NUMBER =@LOADNUMBER

DELETE FROM PES.DBO.PES_AUDIT_DETAILS WHERE LOAD_NUMBER = @LOADNUMBER

DELETE FROM SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE WHERE T_NBR IN (SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM SCREEN_TEST.DBO.BL_CACHE WHERE T_NBR IN (SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM SCREEN_TEST.DBO.DQA_BL WHERE T_NBR IN (SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM SCREEN_TEST.DBO.DQA_CMDS WHERE T_NBR IN (SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM SCREEN_TEST.DBO.STD_VOYAGE WHERE T_NBR IN (SELECT BOL_ID FROM #TEMP_DELETE)

----BACKUP LOG SCREEN_TEST  WITH TRUNCATE_ONLY

DELETE FROM SCREEN_TEST.DBO.BL_BL WHERE T_NBR IN (SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM SCREEN_TEST.DBO.BL_CMD WHERE T_NBR IN (SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM SCREEN_TEST.DBO.BL_CNTR WHERE T_NBR IN (SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM SCREEN_TEST.DBO.BL_PTY WHERE T_NBR IN (SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM SCREEN_TEST.DBO.BL_MAN WHERE T_NBR IN (SELECT BOL_ID FROM #TEMP_DELETE)

----BACKUP LOG SCREEN_TEST  WITH TRUNCATE_ONLY

DELETE FROM PES.DBO.PES_STRUCTURED_PTY WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM PES.DBO.PES_STRUCTURED_PTY_ORIG WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM PES.DBO.PES_TRANSACTION_MATCH_PTY WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM PES.DBO.PES_TRANSACTIONS_EXCEPTIONS_PTY WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_DELETE) 

----BACKUP LOG PES  WITH TRUNCATE_ONLY

DELETE FROM PES.DBO.PES_TRANSACTIONS_LIB_PTY WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM PES.DBO.PES_TRANSACTIONS_REF_PTY WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_DELETE)

--BACKUP LOG PES  WITH TRUNCATE_ONLY

DELETE FROM PES.DBO.PES_STG_VIN WHERE T_NBR IN(SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM SCREEN_TEST.DBO.VIN_CACHE WHERE T_NBR IN(SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM PES.DBO.PES_STG_MAN WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM PES.DBO.PES_STG_HZMT WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM SCREEN_TEST.DBO.PES_TEMP_BOL_FUZZY WHERE T_NBR IN (SELECT BOL_ID FROM #TEMP_DELETE)
----------------------------------------------------------------------------------------------------
--Drop the foreign keys on PES_STG_HZMT and PES_STG_MAN and recreate after delete from PES_STG_CNTR
-- This is needed as the deletion from PES_STG_CNTR takes a lot of time with the existence of these foreign keys
-- Cognizant, 3-Sep-2009

IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PES_STG_HZMTCNTR]') AND parent_object_id = OBJECT_ID(N'[dbo].[PES_STG_HZMT]'))
ALTER TABLE [dbo].[PES_STG_HZMT] DROP CONSTRAINT [FK_PES_STG_HZMTCNTR]

IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PES_STG_MANCNTR]') AND parent_object_id = OBJECT_ID(N'[dbo].[PES_STG_MAN]'))
ALTER TABLE [dbo].[PES_STG_MAN] DROP CONSTRAINT [FK_PES_STG_MANCNTR]

DELETE FROM PES.DBO.PES_STG_CNTR WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_DELETE)

ALTER TABLE [dbo].[PES_STG_HZMT]  WITH CHECK ADD  CONSTRAINT [FK_PES_STG_HZMTCNTR] FOREIGN KEY([STND_CNTR_ID], [BOL_ID])
REFERENCES [dbo].[PES_STG_CNTR] ([CNTR_ID], [BOL_ID])

ALTER TABLE [dbo].[PES_STG_HZMT] CHECK CONSTRAINT [FK_PES_STG_HZMTCNTR]

ALTER TABLE [dbo].[PES_STG_MAN]  WITH CHECK ADD  CONSTRAINT [FK_PES_STG_MANCNTR] FOREIGN KEY([STND_CNTR_ID], [BOL_ID])
REFERENCES [dbo].[PES_STG_CNTR] ([CNTR_ID], [BOL_ID])

ALTER TABLE [dbo].[PES_STG_MAN] CHECK CONSTRAINT [FK_PES_STG_MANCNTR]
----------------------------------------------------------------------------------------------------

DELETE FROM PES.DBO.PES_STG_PTY WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_DELETE)

--BACKUP LOG PES  WITH TRUNCATE_ONLY

DELETE FROM PES.DBO.PES_STG_CMD WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM PES.DBO.HCS_COMMODITY WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_DELETE)

--BACKUP LOG PES  WITH TRUNCATE_ONLY

DELETE FROM PES.DBO.PES_TEMP1_STG_BOL WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_DELETE)

--BACKUP LOG PES  WITH TRUNCATE_ONLY

--DELETE FROM PES.DBO.PES_STG_BOL WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_DELETE)
update PES.DBO.PES_STG_BOL set is_deleted='Y' WHERE BOL_ID IN 
(SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM PES.DBO.ARCHIVE_RAW_BOL WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM PES.DBO.ARCHIVE_RAW_CMD WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_DELETE) 

DELETE FROM PES.DBO.ARCHIVE_RAW_CNTR WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM PES.DBO.ARCHIVE_RAW_PTY WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM PES.DBO.ARCHIVE_RAW_HZMT WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_DELETE)

DELETE FROM PES.DBO.ARCHIVE_RAW_MAN WHERE BOL_ID IN (SELECT BOL_ID FROM #TEMP_DELETE)

----BACKUP LOG PES  WITH TRUNCATE_ONLY


DELETE FROM PES.DBO.HEP_LOG WHERE [FILENAME] = @BOLFILE

DELETE FROM PES.DBO.RAW_STG_REC_COUNT WHERE LOADNUMBER = @LOADNUMBER

DELETE FROM PES.DBO.PES_PROGRESS_STATUS WHERE LOADNUMBER = @LOADNUMBER 

----BACKUP LOG PES  WITH TRUNCATE_ONLY

DROP TABLE #TEMP_DELETE

--DELETE FROM SCREEN_TEST.DBO.GLOBAL_UPDATE WHERE VOYAGE_ID NOT IN(SELECT 
--DISTINCT DQA_VOYAGE_ID FROM SCREEN_TEST.DBO.BL_BL WHERE DQA_VOYAGE_ID IS NOT NULL)

--DELETE FROM SCREEN_TEST.DBO.DQA_VOYAGE WHERE VOYAGE_ID NOT IN(SELECT 
--DISTINCT DQA_VOYAGE_ID FROM SCREEN_TEST.DBO.BL_BL WHERE DQA_VOYAGE_ID IS NOT NULL)



END


-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
