/****** Object:  StoredProcedure [dbo].[PES_CMD_SEQ_GENERATER]    Script Date: 01/03/2013 19:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_CMD_SEQ_GENERATER]
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


--DECLARE @TRANNAME VARCHAR(20),@FILE VARCHAR(500),@FILE_NAME VARCHAR(50)
--DECLARE @CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),
--@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50)
--SET @TRANNAME = 'MyTransaction'
--SELECT @FILE = PATH FROM PES_CONFIGURATION WHERE SOURCE='SP_LOG'
--SELECT @FILE_NAME= FILENAME FROM PES_PROGRESS_STATUS WHERE LOADNUMBER=(SELECT DISTINCT LOAD_NUMBER FROM RAW_BOL)
--SET @FILE='"'+@FILE+@FILE_NAME+'_LOG.TXT'+'"'
--
--SET @CMD = 'ECHO PROCEDURE PES_CMD_SEQ_GENERATER EXECUTION STARTED' + '>>'+ @FILE
--EXEC MASTER..XP_CMDSHELL @CMD 
--
--BEGIN TRANSACTION @TRANNAME
--
--BEGIN TRY 

DECLARE @COUNT INT
DECLARE @BOL_ID INT
DECLARE @CMD_ID INT
DECLARE @VAR_LOOP INT
DECLARE @INCREMENT_VAR INT

DECLARE CURSOR_SEQ_GEN CURSOR FOR
select A. BOL_ID,count(A. BOL_ID)  from PES.DBO.RAW_CMD A
group by A. BOL_ID
--SET @INCREMENT_VAR=0
OPEN CURSOR_SEQ_GEN
FETCH NEXT FROM CURSOR_SEQ_GEN INTO @BOL_ID,@COUNT
WHILE @@FETCH_STATUS = 0
BEGIN
SET @VAR_LOOP=@COUNT
DECLARE CURSOR_SEQ_GEN1 CURSOR FOR
SELECT CMD_ID FROM dbo.RAW_CMD A WHERE BOL_ID=@BOL_ID
OPEN CURSOR_SEQ_GEN1
WHILE @VAR_LOOP!=0
BEGIN
SET @INCREMENT_VAR=0
		
		FETCH NEXT FROM CURSOR_SEQ_GEN1 INTO @CMD_ID
		WHILE @@FETCH_STATUS = 0
			BEGIN
		SET @INCREMENT_VAR=@INCREMENT_VAR+1
		UPDATE dbo.RAW_CMD SET  SequenceNo=@INCREMENT_VAR WHERE BOL_ID=@BOL_ID AND CMD_ID=@CMD_ID
		FETCH NEXT FROM CURSOR_SEQ_GEN1 INTO @CMD_ID
		END
		

SET @VAR_LOOP=@VAR_LOOP-1
END
FETCH NEXT FROM CURSOR_SEQ_GEN INTO @BOL_ID,@COUNT
CLOSE CURSOR_SEQ_GEN1
DEALLOCATE CURSOR_SEQ_GEN1
END
CLOSE CURSOR_SEQ_GEN
DEALLOCATE CURSOR_SEQ_GEN

--END TRY
--
--BEGIN CATCH
--	SET @ERROR_NUMBER=ERROR_NUMBER()
--	SET @ERROR_LINE=ERROR_LINE()
--	SET @ERROR_MESSAGE='STORED PROCEDURE PES_CMD_SEQ_GENERATER FAILED AT LINE NUMBER:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()
--	
--	SET @CMD = 'ECHO ERROR_MESSAGE-- '+@ERROR_MESSAGE+ ' >> '+ @FILE
--	EXEC master..xp_cmdshell @CMD 
--    SET @CMD = 'ECHO ERROR_NUMBER-- '+@ERROR_NUMBER+ ' >> '+ @FILE
--	EXEC master..xp_cmdshell @CMD 
--	SET @CMD = 'ECHO ERROR_LINE-- '+@ERROR_LINE+ ' >> '+ @FILE
--	EXEC master..xp_cmdshell @CMD 
--	
--	ROLLBACK TRANSACTION @TRANNAME
--	SET @CMD = 'ECHO TRANSACTIONS ROLLBACKED'+ ' >> '+ @FILE
--	EXEC master..xp_cmdshell @CMD 
--	RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG
--END CATCH
--
--	--COMMITTING THE TRANSACTIONS IF NO ERROR OCCURRED
--	COMMIT TRANSACTION @TRANNAME
--	SET @cmd = 'ECHO PROCEDURE PES_CMD_SEQ_GENERATER EXECUTION SUCCESSFULLY COMPLETED'+ ' >> '+ @FILE
--	EXEC master..xp_cmdshell @CMD


-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
