/****** Object:  StoredProcedure [dbo].[PES_SP_POST_QC_RULES]    Script Date: 01/03/2013 19:40:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_SP_POST_QC_RULES]
(
@PROCESS_NAME VARCHAR(50)
)
AS
/*
Change History:

Changes by : Cognizant, 22-June-2009, Reference: Email from Perumal on '19-June-2009' 
			 Execute 'Apply Data' post QC rules before executing 'Apply and review' or 'Review' post QC rules

*/
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT



DECLARE @TRANNAME VARCHAR(20),@FILE VARCHAR(500),@FILE_NAME VARCHAR(50)
DECLARE @CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),
@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50),@DATE DATETIME,@TIME INT 
SET @TRANNAME = 'MyTransaction'
SELECT @FILE = PATH FROM PES_CONFIGURATION  WITH (NOLOCK)  WHERE SOURCE='SP_LOG'
SELECT @FILE_NAME= FILENAME FROM PES_PROGRESS_STATUS  WITH (NOLOCK)  WHERE LOADNUMBER=(SELECT TOP 1 LOAD_NUMBER FROM RAW_BOL)
SET @FILE='"'+@FILE+@FILE_NAME+'_LOG.TXT'+'"'

DECLARE @SQLStatement NVARCHAR(4000)
DECLARE @SQLACTION VARCHAR(5000)
DECLARE @SQLMATCH VARCHAR(3000)
DECLARE @Dir VARCHAR(1)
DECLARE @ID INT
DECLARE @PROC_ACTION VARCHAR(2)
DECLARE @ISSEMICOLUMN INT
DECLARE @SQLACTION1 VARCHAR(5000)
DECLARE @SQLStatement1 NVARCHAR(4000)
DECLARE @SQLACTION2 VARCHAR(5000)
DECLARE @SQLStatement2 NVARCHAR(4000)
DECLARE @TNBR INT
DECLARE @DAILY_LOAD_DT DATETIME
DECLARE @LOADNUM NUMERIC(12,0)
DECLARE @BATCH_ID VARCHAR(3)
DECLARE @EXCEPTION_CNT INT
DECLARE @PRECARRIER VARCHAR(35)
DECLARE @BOLID INT

--ADDED FOR HCS REPROCESSING ON 5 MAY 2009
DECLARE @CREATED_BY VARCHAR(50)
DECLARE @CREATED_DT DATETIME



 

SET @DATE=GETDATE()

IF @PROCESS_NAME = 'RAW_TO_STG' 

BEGIN

BEGIN TRY

BEGIN TRANSACTION @TRANNAME
SET @CMD = 'ECHO PROCEDURE PES_SP_POST_QC_RULES RAW_TO_STAGING PHASE EXECUTION STARTED' + '>>'+ @FILE
EXEC MASTER..XP_CMDSHELL @CMD 


--Changes by Cognizant, 26-Feb-2010, to address Data Load - PK Violation Issue, start
update b with (updlock)
set DQA_BL_STATUS = 'PENDING'
from SCREEN_TEST.DBO.BL_BL b
join
(
	select distinct t_nbr from screen_test.dbo.ctrl_process_voyage  WITH (NOLOCK) 
	where t_nbr in
	(
		SELECT bol_id FROM PES.DBO.PES_STG_BOL WITH (NOLOCK)  WHERE QC_VALID='P' 
		AND PES.DBO.PES_STG_BOL.RECORD_STATUS= 'AUTOMATED'
	)
	and complete_status=1
)x
ON X.t_nbr=B.T_NBR

update b with (updlock)
set record_status = 'PENDING'
from pes.dbo.pes_stg_bol b
join
(
	select distinct t_nbr from screen_test.dbo.ctrl_process_voyage  WITH (NOLOCK) 
	where t_nbr in
	(
		SELECT bol_id FROM PES.DBO.PES_STG_BOL WITH (NOLOCK)  WHERE QC_VALID='P' 
		AND PES.DBO.PES_STG_BOL.RECORD_STATUS= 'AUTOMATED'
	)
	and complete_status=1
)x
ON X.t_nbr=B.BOL_ID

--Changes by Cognizant, 26-Feb-2010, to address Data Load - PK Violation Issue, end



DECLARE CUR_CTRL_QC_MODIFY CURSOR FOR 
SELECT ID,IMEX,SQLACTION,SQLMATCH,PROC_ACTION FROM
SCREEN_TEST.dbo.CTRL_QC_MODIFY  WITH (NOLOCK)  WHERE PROC_ACTION<>'IN' AND CONDITION = 'POST' 
AND GETDATE() BETWEEN START_DATE AND STOP_DATE
--Changes by Cognizant, 22-June-2009, START
ORDER BY PROC_ACTION ASC
--Changes by Cognizant, 22-June-2009, END


--SELECT @@ROWCOUNT

OPEN CUR_CTRL_QC_MODIFY
FETCH NEXT FROM CUR_CTRL_QC_MODIFY INTO @ID,@Dir,@SQLACTION,@SQLMATCH,@PROC_ACTION

WHILE @@FETCH_STATUS = 0
BEGIN

	SET @SQLACTION=REPLACE(@SQLACTION,'CTRL_PROCESS_VOYAGE','SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE')
	IF @PROC_ACTION='PR' OR @PROC_ACTION='PA' 
	BEGIN
		--SET @SQLACTION=REPLACE(@SQLACTION,'FROM','FROM PES.DBO.RAW_BOL , ')
		SET @ISSEMICOLUMN=CHARINDEX(';',@SQLACTION)

		IF @ISSEMICOLUMN>0
		BEGIN
			SET @SQLACTION1=SUBSTRING(@SQLACTION,1,@ISSEMICOLUMN-1)
			SET @SQLACTION2=SUBSTRING(@SQLACTION,@ISSEMICOLUMN+1,LEN(@SQLACTION))
			SET  @SQLStatement1=@SQLACTION1 +' '+ @SQLMATCH + ' AND PES.DBO.PES_STG_BOL.QC_VALID=''P'' AND PES.DBO.PES_STG_BOL.QC_VALID<>''Y'' AND PES.DBO.PES_STG_BOL.RECORD_STATUS=''AUTOMATED'')' 
			SET  @SQLStatement2=@SQLACTION2 +' '+ @SQLMATCH + ' AND PES.DBO.PES_STG_BOL.QC_VALID=''P'' AND PES.DBO.PES_STG_BOL.QC_VALID<>''Y'' AND PES.DBO.PES_STG_BOL.RECORD_STATUS=''AUTOMATED'')'
		END


		IF @ISSEMICOLUMN=0
			SET  @SQLStatement=@SQLACTION +' '+ @SQLMATCH + ' AND PES.DBO.PES_STG_BOL.QC_VALID=''P'' AND PES.DBO.PES_STG_BOL.QC_VALID<>''Y''  AND PES.DBO.PES_STG_BOL.RECORD_STATUS=''AUTOMATED'')' 
	END
	--Changes by Vidya, 5-May-2009, Start
	--Change for implementing 'Apply to Data' Rule
	ELSE IF @PROC_ACTION='AP' 
	BEGIN
		SET  @SQLStatement=@SQLACTION +' '+ @SQLMATCH + ' AND PES.DBO.PES_STG_BOL.QC_VALID=''P'' AND PES.DBO.PES_STG_BOL.QC_VALID<>''Y''  AND PES.DBO.PES_STG_BOL.RECORD_STATUS=''AUTOMATED'')' 		
	END
	--Changes by Vidya, 5-May-2009, End

	IF @SQLStatement IS NOT NULL OR @SQLStatement1 IS NOT NULL OR @SQLStatement2 IS NOT NULL
	begin try 
		IF @PROC_ACTION='PR' 
		BEGIN
			EXECUTE sp_executesql @SQLStatement
		END
		IF @PROC_ACTION='PA' 
		BEGIN
			EXECUTE sp_executesql @SQLStatement1
			EXECUTE sp_executesql @SQLStatement2
		END

		IF @PROC_ACTION='AP' 
		BEGIN
		--Changes by Vidya, 5-May-2009, Start
		--Change for implementing 'Apply to Data' Rule
			--SET  @SQLStatement=@SQLACTION +' '+ @SQLMATCH + ' AND PES.DBO.PES_STG_BOL.QC_VALID=''P'' AND PES.DBO.PES_STG_BOL.QC_VALID<>''Y''  AND PES.DBO.PES_STG_BOL.RECORD_STATUS=''AUTOMATED'')' 
			EXECUTE sp_executesql @SQLStatement
		--Changes by Vidya, 5-May-2009, End
		END
	end try

begin catch
--Change by Srividya, 30-Apr-2009, Start
--Return SQL Statement for 'Apply to Data' Rules also
IF @PROC_ACTION in ('PR' ,'AP')
	select @SQLStatement 
--Change by Srividya, End
IF @PROC_ACTION='PA' 
BEGIN
	select @SQLStatement1
	select @SQLStatement2 
END

end catch

FETCH NEXT FROM CUR_CTRL_QC_MODIFY INTO @ID,@Dir,@SQLACTION,@SQLMATCH,@PROC_ACTION
END
CLOSE CUR_CTRL_QC_MODIFY
DEALLOCATE CUR_CTRL_QC_MODIFY

--Changes for Performance
CREATE TABLE #TMP_BILLS_LOAD(
	BOL_ID NUMERIC(12,0),
	LOAD_DT DATETIME,
	LOAD_NUMBER INT,
	BATCH_ID VARCHAR(10),
	PLACE_OF_RECEIPT VARCHAR(35),
	EXCEPTION_COUNT INT	
)

INSERT INTO #TMP_BILLS_LOAD(BOL_ID,LOAD_DT,LOAD_NUMBER,BATCH_ID,PLACE_OF_RECEIPT,EXCEPTION_COUNT)
SELECT B.BOL_ID, LOAD_DT,LOAD_NUMBER,B.BATCH_ID,B.PLACE_OF_RECEIPT,
(
	SELECT COUNT(DISTINCT T_NBR) 
	FROM  SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE C WITH (NOLOCK)  
	JOIN SCREEN_TEST.DBO.CTRL_QC_MODIFY  Q WITH (NOLOCK)
	ON (C.PROCESS_NAME=Q.[KEY] AND CONDITION='POST')
	WHERE COMPLETE_STATUS=1 AND C.T_NBR = B.BOL_ID
) AS 'EXCEPTION_COUNT'
FROM PES.DBO.ARCHIVE_RAW_BOL B  WITH (NOLOCK) 
JOIN PES.DBO.PES_PROGRESS_STATUS S  WITH (NOLOCK) 
ON B.LOAD_NUMBER=S.LOADNUMBER
JOIN PES.DBO.PES_STG_BOL P WITH (NOLOCK) 
ON B.BOL_ID=P.BOL_ID
WHERE QC_VALID='P' AND P.RECORD_STATUS= 'AUTOMATED'

UPDATE #TMP_BILLS_LOAD
SET EXCEPTION_COUNT=0
WHERE EXCEPTION_COUNT IS NULL

UPDATE PES.DBO.PES_STG_BOL WITH (UPDLOCK)
SET RECORD_STATUS = 'PENDING' 
WHERE BOL_ID IN (SELECT BOL_ID  FROM #TMP_BILLS_LOAD WHERE EXCEPTION_COUNT>0) 

UPDATE PES.DBO.PES_STG_CMD WITH (UPDLOCK)
SET RECORD_STATUS = 'PENDING' 
WHERE BOL_ID IN (SELECT BOL_ID  FROM #TMP_BILLS_LOAD WHERE EXCEPTION_COUNT>0)

UPDATE SCREEN_TEST.DBO.BL_BL WITH (UPDLOCK)
SET DQA_BL_STATUS = 'PENDING' 
WHERE T_NBR IN (SELECT BOL_ID  FROM #TMP_BILLS_LOAD WHERE EXCEPTION_COUNT>0)


UPDATE C WITH (UPDLOCK)
	SET LOAD_NUMBER = T.LOAD_NUMBER, 
	VENDOR_NAME = T.BATCH_ID
	FROM  SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE C
JOIN #TMP_BILLS_LOAD T
ON (C.T_NBR=T.BOL_ID)


--Update the bill AFTER VALIDATED TO 'Y'

--POPULATE DQA_BL

INSERT INTO SCREEN_TEST.DBO.DQA_Bl(T_NBR,CARRIER_ID,VESSEL_ID,USPORT_ID,DIR,VOYAGE,DQA_VOYAGE_ID,FPORT_ID,
VDate,WEIGHT,EST_VALUE,TEU,PAYABLE_FLG,NVOSCAC,LOAD_NBR,DAILY_LOAD_DT,RELEASE_FLG,BOL_NBR,
RECEIPT_COUNTRY_CODE,FINANCE_FLG,NVOCC_FLG,DESTINATION_ST,DESTINATION_CITY,REGISTRY,
MANIFEST_NBR,BANK,RECEIPT_CITY,CARRIER_NAME,USPORT_NAME,FGN_PORT_NAME,VESSEL_NAME,
BL_NBR,RCPT_CODE,FGN_PORT_CODE,PRECARRIER,BATCH_ID,ULTPORT_ID,ULT_PORT_NAME,ULT_PORT_CODE,
RCPT_ID,RECEIPT_ID,REG_ID,CONSIGNEE_ID,SHIPPER_ID,NOTIFY_ID,CONQTY,CONFLAG,CONLENGTH,
CONTWIDTH,CONTYPE,CONSIZE,CONVOL,USPORT_CODE,BOL_QTY,ORG_DEST_CD,ORG_DEST_FLG) 

(SELECT A.BOL_ID,A.SLINE_REF_ID,A.VESSEL_REF_ID,A.PORT_DEPART_REF_ID,A.BOL_DIRECTION,A.VOYAGE,A.STND_VOYG_ID,A.PORT_ARRIVE_REF_ID,
A.VDATE,A.BOL_WGT,A.EST_VALUE,A.BOL_TEU,A.BOL_PAYABLE_FLG,A.NVO_SCAC,A.REF_LOAD_NUM_ID AS LOAD_NUMBER,
T.LOAD_DT AS DAILY_LOAD_DT,
'Y' AS RELEASE_FLAG,A.BOL_NBR,
A.CTRYCODE,A.BOL_FINANCIAL_FLG,A.NVOCC_FLAG,A.ORG_DEST_ST AS DESINATION_ST,A.ORG_DEST_CITY AS DESTINATION_CITY,A.REGISTRY,
A.MANIFEST_NUMBER,A.BANK,A.PLACE_OF_RECEIPT,A.SCAC,A.PORT_OF_DEPARTURE,A.PORT_OF_DESTINATION,A.VESSEL_NAME,
A.BOL_NBR,A.RCPT_CODE,A.FOREIGN_LOADING_PORT AS FOREIGN_PORT,
T.PLACE_OF_RECEIPT,
A.BATCH_ID,A.ULTPORT_ID,A.ULT_PORT_NAME,A.ULT_PORT_CODE,
A.RECEIPT_ID,A.RECEIPT_ID,A.REGISTRY_ID,A.COMP_ID,A.FCOMP_ID,A.NTFCOMP_ID,A.CONQTY,A.CONFLAG,A.CONLENGTH,A.CONWIDTH,
A.CONTYPE,A.CONSIZE,A.CONVOL ,A.DISCHARGE_PORT,A.BOL_QTY,A.ORG_DEST_CD AS ORG_DEST_CD,
(CASE	WHEN A.BATCH_ID = 'AMS' AND LEN(A.ORG_DEST_CD)= 4 THEN 'U' 
		WHEN A.BATCH_ID='AMS' AND LEN(A.ORG_DEST_CD)= 5 THEN 'F' 
		WHEN A.BATCH_ID ='AMS' AND ISNULL(A.ORG_DEST_CD,'')='' THEN 'U' ELSE 'U' END)AS ORG_DEST_FLG
FROM PES.DBO.PES_STG_BOL A  WITH (NOLOCK) 
JOIN #TMP_BILLS_LOAD T 
ON (A.BOL_ID=T.BOL_ID)
WHERE A.BOL_ID NOT IN  (SELECT DISTINCT T_NBR FROM SCREEN_TEST.DBO.DQA_BL  WITH (NOLOCK) )
AND T.EXCEPTION_COUNT > 0
)  

DELETE FROM SCREEN_TEST.DBO.DQA_CMDS WHERE  T_NBR IN (SELECT BOL_ID FROM #TMP_BILLS_LOAD WHERE EXCEPTION_COUNT > 0)


INSERT INTO SCREEN_TEST.DBO.DQA_CMDS 
([T_NBR],[CMD_SEQ_NBR],[PIECE_CNT],PIECE_UNIT,[DQA_DESC],[CREATED_DT],[HCS_PROCESSED]
,CMD_CD ,TEU,[WEIGHT],JOC_CODE,[EDIT_MODE],[EXCP_EDIT],CMD_ID,DQA_CMD_SEQ_NBR, EST_VALUE,CREATED_BY )

SELECT S.BOL_ID,CMD_SEQ_NBR, CMD_PIECE_CNT,PIECE_UNIT,SUBSTRING(LTRIM(RTRIM(CMD_DESC)),1,100),
GETDATE() CREATED_DT,
'Y',CMD_HSCODE,CMD_TEU,CMD_WGT_VALUE,JOC_CODE,
'DIRECT_EDIT','N',CMD_ID,CMD_SEQ_NBR DQA_CMD_SEQ_NBR,CMD_VALUE_VALUE,NULL AS CREATED_BY 
FROM PES.DBO.PES_STG_CMD S  WITH (NOLOCK) 	
JOIN #TMP_BILLS_LOAD T
ON S.BOL_ID=T.BOL_ID
WHERE EXCEPTION_COUNT > 0

UPDATE PES.DBO.PES_STG_BOL WITH (UPDLOCK)
SET QC_VALID='Y' 
WHERE BOL_ID IN (SELECT BOL_ID FROM #TMP_BILLS_LOAD)
AND QC_VALID='P'

--COMMITTING THE TRANSACTIONS IF NO ERROR OCCURRED
	DROP TABLE #TMP_BILLS_LOAD
	COMMIT TRANSACTION @TRANNAME
	SET @TIME= DATEDIFF(N,GETDATE(),@DATE)
	SET @cmd = 'ECHO PROCEDURE PES_SP_POST_QC_RULES RAW_TO_STAGING EXECUTED SUCCESSFULLY'+ CAST(@TIME AS VARCHAR(20)) + ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD

END TRY

BEGIN CATCH
	SET @ERROR_NUMBER=ERROR_NUMBER()
	SET @ERROR_LINE=ERROR_LINE()
	SET @ERROR_MESSAGE='STORED PROCEDURE PES_SP_POST_QC_RULES FAILED AT LINE NUMBER:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()
	
	SET @CMD = 'ECHO ERROR_MESSAGE-- '+@ERROR_MESSAGE+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
    SET @CMD = 'ECHO ERROR_NUMBER-- '+@ERROR_NUMBER+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
	SET @CMD = 'ECHO ERROR_LINE-- '+@ERROR_LINE+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
	
	
	SET @CMD = 'ECHO TRANSACTIONS ROLLBACKED'+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 

	DROP TABLE #TMP_BILLS_LOAD
	
	ROLLBACK TRANSACTION @TRANNAME
	RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG

END CATCH

END


--UPDATE STAGING

IF @PROCESS_NAME = 'UPDATE_STAGING'

BEGIN

BEGIN TRY

BEGIN TRANSACTION @TRANNAME

--Changes by Cognizant for tuning Performance of Post QC Rules, 23-Feb-2010, start

--DECLARE CUR_BOL_ID CURSOR FOR 
--SELECT DISTINCT A.BOL_ID  FROM PES.DBO.PES_STG_BOL A  WITH (NOLOCK) 
--WHERE A.BOL_ID IN (SELECT BOL_ID FROM PES_BILLS_UPDATE_STAGING)
--
--OPEN CUR_BOL_ID 
--FETCH NEXT FROM CUR_BOL_ID INTO @BOLID
--
--WHILE @@FETCH_STATUS = 0
--BEGIN

--Changes for Performance
CREATE TABLE #TMP_BILLS(
	BOL_ID NUMERIC(12,0),
	LOAD_DT DATETIME,
	LOAD_NUMBER INT,
	BATCH_ID VARCHAR(10),
	PLACE_OF_RECEIPT VARCHAR(35),
	EXCEPTION_COUNT INT,
	CREATED_BY VARCHAR(25),
	CREATED_DT DATETIME
)

DECLARE CUR_CTRL_QC_MODIFY CURSOR FOR 
SELECT ID,IMEX,SQLACTION,SQLMATCH,PROC_ACTION FROM
SCREEN_TEST.dbo.CTRL_QC_MODIFY  WITH (NOLOCK)  WHERE PROC_ACTION<>'IN' AND CONDITION = 'POST' 
AND GETDATE() BETWEEN START_DATE AND STOP_DATE
--Changes by Cognizant, 22-June-2009, START
ORDER BY PROC_ACTION ASC
--Changes by Cognizant, 22-June-2009, END

--SELECT @@ROWCOUNT

OPEN CUR_CTRL_QC_MODIFY
FETCH NEXT FROM CUR_CTRL_QC_MODIFY INTO @ID,@Dir,@SQLACTION,@SQLMATCH,@PROC_ACTION

WHILE @@FETCH_STATUS = 0
BEGIN

SET @SQLACTION=REPLACE(@SQLACTION,'CTRL_PROCESS_VOYAGE','SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE')
IF @PROC_ACTION='PR' OR @PROC_ACTION='PA' 
BEGIN
	--SET @SQLACTION=REPLACE(@SQLACTION,'FROM','FROM PES.DBO.RAW_BOL , ')
	SET @ISSEMICOLUMN=CHARINDEX(';',@SQLACTION)

	IF @ISSEMICOLUMN>0
	BEGIN
		SET @SQLACTION1=SUBSTRING(@SQLACTION,1,@ISSEMICOLUMN-1)
		SET @SQLACTION2=SUBSTRING(@SQLACTION,@ISSEMICOLUMN+1,LEN(@SQLACTION))
		SET  @SQLStatement1=@SQLACTION1 +' '+ @SQLMATCH + ' AND PES.DBO.PES_STG_BOL.QC_VALID=''P'' AND PES.DBO.PES_STG_BOL.BOL_ID IN (SELECT BOL_ID FROM PES.DBO.PES_BILLS_UPDATE_STAGING))'  --+ CONVERT(VARCHAR(12),@BOLID) +')' 
		SET  @SQLStatement2=@SQLACTION2 +' '+ @SQLMATCH + ' AND PES.DBO.PES_STG_BOL.QC_VALID=''P'' AND PES.DBO.PES_STG_BOL.BOL_ID IN (SELECT BOL_ID FROM PES.DBO.PES_BILLS_UPDATE_STAGING))' --+ CONVERT(VARCHAR(12),@BOLID) +')' 
	END


	IF @ISSEMICOLUMN=0
		SET  @SQLStatement=@SQLACTION +' '+ @SQLMATCH + ' AND PES.DBO.PES_STG_BOL.QC_VALID=''P'' AND PES.DBO.PES_STG_BOL.BOL_ID IN (SELECT BOL_ID FROM PES.DBO.PES_BILLS_UPDATE_STAGING))' --+ CONVERT(VARCHAR(12),@BOLID) +')' 
END
--Changes by Vidya, 5-May-2009, Start
--Change for implementing 'Apply to Data' Rule
ELSE IF @PROC_ACTION='AP' 
BEGIN
	SET  @SQLStatement=@SQLACTION +' '+ @SQLMATCH + ' AND PES.DBO.PES_STG_BOL.QC_VALID=''P'' AND PES.DBO.PES_STG_BOL.BOL_ID IN (SELECT BOL_ID FROM PES.DBO.PES_BILLS_UPDATE_STAGING))' --+ CONVERT(VARCHAR(12),@BOLID) +')' 
END
--Changes by Vidya, 5-May-2009, End


IF @SQLStatement IS NOT NULL OR @SQLStatement1 IS NOT NULL OR @SQLStatement2 IS NOT NULL
begin try 
	IF @PROC_ACTION='PR' 
	BEGIN
		EXECUTE sp_executesql @SQLStatement
		--UPDATE SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE SET Load_Number=(SELECT DISTINCT LOAD_NUMBER FROM PES.DBO.RAW_BOL)
		--WHERE Load_Number IS NULL
	END

	IF @PROC_ACTION='PA' 
	BEGIN
		EXECUTE sp_executesql @SQLStatement1
		--UPDATE SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE SET Load_Number=(SELECT DISTINCT LOAD_NUMBER FROM PES.DBO.RAW_BOL)
		--WHERE Load_Number IS NULL
		EXECUTE sp_executesql @SQLStatement2
	END

	IF @PROC_ACTION='AP' 
	BEGIN
		--Changes by Vidya, 5-May-2009, Start
		--Change for implementing 'Apply to Data' Rule
		--SET  @SQLStatement=@SQLACTION +' '+ @SQLMATCH + ' AND PES.DBO.PES_STG_BOL.QC_VALID=''P'' AND PES.DBO.PES_STG_BOL.QC_VALID<>''Y''  AND PES.DBO.PES_STG_BOL.BOL_ID=' + CONVERT(VARCHAR(12),@BOLID) +')' 
		EXECUTE sp_executesql @SQLStatement
		--Changes by Vidya, 5-May-2009, End
	END
end try

begin catch
--Change by Srividya, 30-Apr-2009, Start
--Return SQL Statement for 'Apply to Data' Rules also
IF @PROC_ACTION in ('PR' ,'AP')
	select @SQLStatement 
--Change by Srividya, End
IF @PROC_ACTION='PA' 
BEGIN
select @SQLStatement1
select @SQLStatement2 
END

end catch

FETCH NEXT FROM CUR_CTRL_QC_MODIFY INTO @ID,@Dir,@SQLACTION,@SQLMATCH,@PROC_ACTION
END
CLOSE CUR_CTRL_QC_MODIFY
DEALLOCATE CUR_CTRL_QC_MODIFY



INSERT INTO #TMP_BILLS(BOL_ID,LOAD_DT,LOAD_NUMBER,BATCH_ID,PLACE_OF_RECEIPT,EXCEPTION_COUNT,CREATED_BY,CREATED_DT)
SELECT BOL_ID, LOAD_DT,LOAD_NUMBER,BATCH_ID,B.PLACE_OF_RECEIPT,
(
	SELECT COUNT(DISTINCT T_NBR) 
	FROM  SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE C WITH (NOLOCK)  
	JOIN SCREEN_TEST.DBO.CTRL_QC_MODIFY  Q WITH (NOLOCK)
	ON (C.PROCESS_NAME=Q.[KEY] AND CONDITION='POST')
	WHERE COMPLETE_STATUS=1 AND C.T_NBR = B.BOL_ID
) AS 'EXCEPTION_COUNT',
D.CREATED_BY,D.CREATED_DT
FROM PES.DBO.ARCHIVE_RAW_BOL B  WITH (NOLOCK) 
JOIN PES.DBO.PES_PROGRESS_STATUS S  WITH (NOLOCK) 
ON B.LOAD_NUMBER=S.LOADNUMBER
LEFT JOIN
(
	SELECT T_NBR,MAX(CREATED_BY) AS 'CREATED_BY',MAX(CREATED_DT)AS 'CREATED_DT'
	FROM SCREEN_TEST.DBO.DQA_CMDS D  WITH (NOLOCK)  
	GROUP BY T_NBR
) D
ON B.BOL_ID = D.T_NBR
WHERE B.BOL_ID IN (SELECT BOL_ID FROM PES.DBO.PES_BILLS_UPDATE_STAGING  WITH (NOLOCK) )

DELETE FROM #TMP_BILLS
WHERE ISNULL(EXCEPTION_COUNT,0)=0

/*
SET @DAILY_LOAD_DT=(SELECT max(isnull(TimeofArrival,getdate())) from PES.DBO.RAW_STG_REC_COUNT  WITH (NOLOCK) 
WHERE LOADNUMBER in (SELECT REF_LOAD_NUM_ID FROM PES.DBO.PES_STG_BOL  WITH (NOLOCK)  
WHERE BOL_ID=@BOLID 
))


-----UPDATE LOAD NUMBER AND BATCH ID 
SELECT @LOADNUM=REF_LOAD_NUM_ID,@BATCH_ID=BATCH_ID FROM PES.DBO.PES_STG_BOL  WITH (NOLOCK)  WHERE BOL_ID=@BOLID


SELECT @EXCEPTION_CNT=COUNT(DISTINCT isnull(T_NBR,0)) FROM  SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE  WITH (NOLOCK)  WHERE  
COMPLETE_STATUS=1 AND T_NBR = @BOLID
*/

--UPDATE PES_STG_BOL FOR QC VALIDATION FAILED BILLS
--IF @EXCEPTION_CNT >= 1
--BEGIN
		UPDATE SCREEN_TEST.DBO.BL_BL WITH (UPDLOCK)
		SET DQA_BL_STATUS = 'PENDING' 
		WHERE T_NBR IN (SELECT BOL_ID FROM #TMP_BILLS)

		UPDATE C WITH (UPDLOCK)
		SET LOAD_NUMBER = T.LOAD_NUMBER, 
		VENDOR_NAME = T.BATCH_ID
		FROM  SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE C
		JOIN #TMP_BILLS T
		ON (C.T_NBR=T.BOL_ID)
		
 
--END

--SELECT @PRECARRIER=LTRIM(RTRIM(PLACE_OF_RECEIPT)) FROM PES.dbo.ARCHIVE_RAW_BOL  WITH (NOLOCK)  WHERE BOL_ID=@BOLID

DELETE FROM SCREEN_TEST.DBO.DQA_Bl 
WHERE T_NBR IN (SELECT BOL_ID FROM #TMP_BILLS)

INSERT INTO SCREEN_TEST.DBO.DQA_Bl(T_NBR,CARRIER_ID,VESSEL_ID,USPORT_ID,DIR,VOYAGE,DQA_VOYAGE_ID,FPORT_ID,
VDate,WEIGHT,EST_VALUE,TEU,PAYABLE_FLG,NVOSCAC,LOAD_NBR,DAILY_LOAD_DT,RELEASE_FLG,BOL_NBR,
RECEIPT_COUNTRY_CODE,FINANCE_FLG,NVOCC_FLG,DESTINATION_ST,DESTINATION_CITY,REGISTRY,
MANIFEST_NBR,BANK,RECEIPT_CITY,CARRIER_NAME,USPORT_NAME,FGN_PORT_NAME,VESSEL_NAME,
BL_NBR,RCPT_CODE,FGN_PORT_CODE,PRECARRIER,BATCH_ID,ULTPORT_ID,ULT_PORT_NAME,ULT_PORT_CODE,
RCPT_ID,RECEIPT_ID,REG_ID,CONSIGNEE_ID,SHIPPER_ID,NOTIFY_ID,CONQTY,CONFLAG,CONLENGTH,
CONTWIDTH,CONTYPE,CONSIZE,CONVOL,USPORT_CODE,BOL_QTY,ORG_DEST_CD,ORG_DEST_FLG) 

(SELECT A.BOL_ID,A.SLINE_REF_ID,A.VESSEL_REF_ID,A.PORT_DEPART_REF_ID,A.BOL_DIRECTION,A.VOYAGE,A.STND_VOYG_ID,A.PORT_ARRIVE_REF_ID,
A.VDATE,A.BOL_WGT,A.EST_VALUE,A.BOL_TEU,A.BOL_PAYABLE_FLG,A.NVO_SCAC,A.REF_LOAD_NUM_ID AS LOAD_NUMBER,
T.LOAD_DT AS DAILY_LOAD_DT,
'Y' AS RELEASE_FLAG,A.BOL_NBR,
A.CTRYCODE,A.BOL_FINANCIAL_FLG,A.NVOCC_FLAG,A.ORG_DEST_ST AS DESINATION_ST,A.ORG_DEST_CITY AS DESTINATION_CITY,A.REGISTRY,
A.MANIFEST_NUMBER,A.BANK,A.PLACE_OF_RECEIPT,A.SCAC,A.PORT_OF_DEPARTURE,A.PORT_OF_DESTINATION,A.VESSEL_NAME,
A.BOL_NBR,A.RCPT_CODE,A.FOREIGN_LOADING_PORT AS FOREIGN_PORT,
T.PLACE_OF_RECEIPT,
A.BATCH_ID,A.ULTPORT_ID,A.ULT_PORT_NAME,A.ULT_PORT_CODE,
A.RECEIPT_ID,A.RECEIPT_ID,A.REGISTRY_ID,A.COMP_ID,A.FCOMP_ID,A.NTFCOMP_ID,A.CONQTY,A.CONFLAG,A.CONLENGTH,A.CONWIDTH,
A.CONTYPE,A.CONSIZE,A.CONVOL ,A.DISCHARGE_PORT,A.BOL_QTY,A.ORG_DEST_CD AS ORG_DEST_CD,
(CASE	WHEN A.BATCH_ID = 'AMS' AND LEN(A.ORG_DEST_CD)= 4 THEN 'U' 
		WHEN A.BATCH_ID='AMS' AND LEN(A.ORG_DEST_CD)= 5 THEN 'F' 
		WHEN A.BATCH_ID ='AMS' AND ISNULL(A.ORG_DEST_CD,'')='' THEN 'U' ELSE 'U' END)AS ORG_DEST_FLG
FROM PES.DBO.PES_STG_BOL A  WITH (NOLOCK) 
JOIN #TMP_BILLS T 
ON (A.BOL_ID=T.BOL_ID)
--WHERE BOL_ID NOT IN  (SELECT DISTINCT T_NBR FROM SCREEN_TEST.DBO.DQA_BL  WITH (NOLOCK) )
)

--MODIFIED BY PRABHAV ON 5 MAY 2009

--IF @BOLID IN (SELECT DISTINCT T_NBR FROM  SCREEN_TEST.DBO.DQA_CMDS)
--DELETE FROM SCREEN_TEST.DBO.DQA_CMDS WHERE T_NBR=@BOLID


/*
IF @BOLID IN (SELECT DISTINCT T_NBR FROM  SCREEN_TEST.DBO.DQA_CMDS  WITH (NOLOCK) )

BEGIN

--TAKE CREATED DATE AND CREATED BY FROM DQA_CMDS
SELECT DISTINCT @CREATED_BY=CREATED_BY ,@CREATED_DT = CREATED_DT FROM SCREEN_TEST.DBO.DQA_CMDS  WITH (NOLOCK)  WHERE T_NBR =@BOLID
DELETE FROM SCREEN_TEST.DBO.DQA_CMDS WHERE T_NBR=@BOLID

END
*/

DELETE FROM SCREEN_TEST.DBO.DQA_CMDS WHERE  T_NBR IN (SELECT BOL_ID FROM #TMP_BILLS)


--INSERT INTO SCREEN_TEST.DBO.DQA_CMDS ([T_NBR],[CMD_SEQ_NBR],[PIECE_CNT],PIECE_UNIT,[DQA_DESC],[CREATED_DT],[HCS_PROCESSED]
--	,CMD_CD ,TEU,[WEIGHT],JOC_CODE,[EDIT_MODE],[EXCP_EDIT],CMD_ID,DQA_CMD_SEQ_NBR, EST_VALUE )
--	(SELECT X.BOL_ID,1, CAST(CASE ISNUMERIC(X.CMD_PIECE_CNT) WHEN 1 THEN X.CMD_PIECE_CNT WHEN 0 THEN 0 END AS NUMERIC(12,2)),
--	X.PIECE_UNIT,SUBSTRING(LTRIM(RTRIM(X.CMD_DESC)),1,100),GETDATE(),'Y',X.CMD_HSCODE,X.CMD_TEU,X.CMD_WGT_VALUE,X.JOC_CODE,
--	'DIRECT_EDIT','N',X.CMD_ID,X.CMD_SEQ_NBR DQA_CMD_SEQ_NBR,X.EST_VALUE FROM 
--	(SELECT DISTINCT S.BOL_ID,S.CMD_DESC,S.CMD_PIECE_CNT,S.PIECE_UNIT PIECE_UNIT,S.CMD_HSCODE,S.CMD_TEU,
--	S.CMD_WGT_VALUE,S.JOC_CODE,S.CMD_ID,S.CMD_SEQ_NBR CMD_SEQ_NBR,S.CMD_VALUE_VALUE EST_VALUE FROM PES.DBO.PES_STG_CMD S,SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE T 
--	WHERE S.BOL_ID=T.T_NBR AND
-- PROCESS_NAME IN('LOW CONTAINER WEIGHTS IMPORTS','LOW CONTAINER WEIGHTS EXPORTS','CONTAINER / BULK MIXTURE - WGT ERR',
--'FINANCIAL INVALID','SPIRIT SHIPMENTS GT 45,000 POUNDS','LUMBER LT 2 OR GT 15 POUNDS P BOARD','QUANTITY IS BLANK',
--'WEIGHT BLANK FOR GENERAL CARGO','UNIT OF MEASURE BLANK NOT CC OR GC','QUANTITY BLANK FOR NO GENERAL CARGO',
--'CONSOLIDATOR CARGO SHIPMENTS','GENERAL MERCHANDIZE IN PES DATA','BKS QTY','CHEM BGS','COMMODITY SUPPLIER','CORN TSUSA CODE','EMPTY CON U M',
--'PORT','TSUSA CORN 1409000','TSUSA SORGHUM 1264100','INVALID UOM','U - M BKC','U - M UNIT EMPTY'
--)
--AND T.T_NBR=@BOLID)X)

---INSERT CREATED_DT, CREATED_BY WHAT USER ENTERED FOR THOSE WHICH WERE CORRECTED BY USER2 AND FOR OTHER LEAVE CREATED BY NULL AND CREATED DATE AS CURRENT DATE

	INSERT INTO SCREEN_TEST.DBO.DQA_CMDS 
	([T_NBR],[CMD_SEQ_NBR],[PIECE_CNT],PIECE_UNIT,[DQA_DESC],[CREATED_DT],[HCS_PROCESSED]
	,CMD_CD ,TEU,[WEIGHT],JOC_CODE,[EDIT_MODE],[EXCP_EDIT],CMD_ID,DQA_CMD_SEQ_NBR, EST_VALUE,CREATED_BY )
	
	SELECT S.BOL_ID,CMD_SEQ_NBR, CMD_PIECE_CNT,PIECE_UNIT,SUBSTRING(LTRIM(RTRIM(CMD_DESC)),1,100),
	CASE WHEN ISNULL(T.CREATED_BY,'')= '' THEN GETDATE() ELSE T.CREATED_DT END CREATED_DT,
	'Y',CMD_HSCODE,CMD_TEU,CMD_WGT_VALUE,JOC_CODE,
	'DIRECT_EDIT','N',CMD_ID,CMD_SEQ_NBR DQA_CMD_SEQ_NBR,CMD_VALUE_VALUE,
	T.CREATED_BY 
	FROM PES.DBO.PES_STG_CMD S  WITH (NOLOCK) 	
	JOIN #TMP_BILLS T
	ON S.BOL_ID=T.BOL_ID
	

UPDATE PES.DBO.PES_STG_BOL WITH (UPDLOCK)
SET QC_VALID='Y' 
WHERE BOL_ID IN (SELECT BOL_ID FROM PES.DBO.PES_BILLS_UPDATE_STAGING  WITH (NOLOCK) )
AND QC_VALID='P'


--FETCH NEXT FROM CUR_BOL_ID INTO @BOLID
--END
--CLOSE CUR_BOL_ID
--DEALLOCATE CUR_BOL_ID

UPDATE PES.DBO.PES_BILLS_UPDATE_STAGING WITH (UPDLOCK)
SET STATUS='PENDING'
WHERE BOL_ID IN (SELECT BOL_ID FROM  #TMP_BILLS)

DROP TABLE #TMP_BILLS

COMMIT TRANSACTION @TRANNAME

END TRY

BEGIN CATCH
	SET @ERROR_NUMBER=ERROR_NUMBER()
	SET @ERROR_LINE=ERROR_LINE()
	SET @ERROR_MESSAGE='STORED PROCEDURE PES_SP_POST_QC_RULES FAILED AT LINE NUMBER:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()

	DROP TABLE #TMP_BILLS
	
	ROLLBACK TRANSACTION @TRANNAME
		
	RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG

END CATCH

END





-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
