/****** Object:  StoredProcedure [dbo].[USP_PES_MERGE_COMPANY]    Script Date: 01/03/2013 19:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_PES_MERGE_COMPANY]
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


--SET WORK IN PROGRESS FOR MERGE WORK UPDATE
Update PES_MERGE_WORK Set update_status=NULL Where update_status = 0

--INSERT DELETED RECORDS FROM PES_REF_COMPANY TO PES_MERGE_HISTORY

INSERT INTO PES_MERGE_HISTORY(COMP_ID,IS_USCOMP,COMP_NBR,
DUNS_NUMBER,NAME,ADDRESS1,CITY,STATE,ZIP,
COUNTRY,VERIFIED,MATCH_FLAG,MODIFIED_BY,MODIFIED_DT,
CREATED_BY,CREATED_DT)
SELECT COMP_ID,ISNULL(IS_USCOMP,''),COMP_NBR,
DUNS_NUMBER,NAME,ADDRESS1,CITY,STATE,ZIP,
COUNTRY,VERIFIED,MATCH_FLAG,MODIFIED_BY,MODIFIED_DT,
CREATED_BY,CREATED_DT FROM PES_REF_COMPANY WHERE COMP_ID IN
(SELECT FROM_COMP_ID FROM PES_MERGE_WORK WHERE UPDATE_STATUS IS NULL)

--REPOINT THE LIB RECORDS POINTING TO THE DELETED RECORDS FROM REF

UPDATE A SET A.CLUSTER_ID=B.TO_COMP_ID FROM PES_LIB_COMPANY A JOIN
PES_MERGE_WORK B  WITH (NOLOCK)  ON A.CLUSTER_ID=B.FROM_COMP_ID WHERE 
B.UPDATE_STATUS IS NULL

--DELETE FROM PES_REF_COMPANY WHICH ARE MERGED NOW
DELETE PES_REF_COMPANY WHERE COMP_ID IN
(SELECT FROM_COMP_ID FROM PES_MERGE_WORK WHERE UPDATE_STATUS IS NULL)

DELETE PES_DW.PESDW.DBO.PES_DW_REF_COMPANY WHERE COMP_ID IN
(SELECT FROM_COMP_ID FROM PES_MERGE_WORK WHERE UPDATE_STATUS IS NULL)

--DELETE UAT02.PESDW.DBO.PES_DW_REF_COMPANY WHERE COMP_ID IN
--(SELECT FROM_COMP_ID FROM PES_MERGE_WORK WHERE UPDATE_STATUS IS NULL)


--TRANSACTIONAL DATA
--UPDATE STAGING AND DATAWAREHOUSE

EXEC USP_PES_ROLLUP_COMPANY


-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
