/****** Object:  StoredProcedure [dbo].[PES_CNTRCARGO_GENCARGO]    Script Date: 01/03/2013 19:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_CNTRCARGO_GENCARGO] @STR VARCHAR(10)='DFT'
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

	BEGIN TRY
		DECLARE @FILE VARCHAR(500),@FILE_NAME VARCHAR(50)
		DECLARE @CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),
		@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50),@DATE DATETIME,@TIME INT

		IF @STR='DFT'
		BEGIN
			SELECT @FILE = PATH FROM PES_CONFIGURATION  WITH (NOLOCK)  WHERE SOURCE='SP_LOG'
			SELECT @FILE_NAME= FILENAME FROM PES_PROGRESS_STATUS  WITH (NOLOCK)  WHERE LOAD_DT=(SELECT MAX(isnull(Load_DT,getdate())) 
			FROM PES_PROGRESS_STATUS  WITH (NOLOCK) )
			SET @FILE='"'+@FILE+@FILE_NAME+'_LOG.TXT'+'"'
			SET @CMD = 'ECHO PROCEDURE PES_CNTRCARGO_GENCARGO RAW_TO_STAGING EXECUTION STARTED' + '>>'+ @FILE
			EXEC MASTER..XP_CMDSHELL @CMD 
			SET @DATE=GETDATE()

		END
		DECLARE @TNBR INT
		DECLARE @CNT INT
		DECLARE @BOL_WGT  NUMERIC(16,0)
		DECLARE @CONQTY INT
		DECLARE @CONVOL  NUMERIC(18,0)
		DECLARE @STATUS VARCHAR(50)
		DECLARE @CMD_SEQ_NBR INT
		DECLARE @CONFLAG CHAR(1)
		DECLARE @STND_VOYG_ID INT
		DECLARE @LOAD_NBR INT
		DECLARE @CNTR_SIZE VARCHAR(2)

		IF @STR='DFT'

			DECLARE CUR_STG_BOL CURSOR FOR SELECT DISTINCT BOL_ID FROM PES.DBO.PES_STG_BOL
			WHERE RECORD_STATUS='AUTOMATED' AND BOL_ID IN (SELECT BOL_ID FROM PES.DBO.RAW_BOL)

		ELSE IF @STR='UPD_STG'

			DECLARE CUR_STG_BOL CURSOR FOR
			SELECT BOL_ID FROM PES.DBO.PES_STG_BOL A  WITH (NOLOCK) 
			WHERE A.BOL_ID IN (SELECT BOL_ID FROM PES_BILLS_UPDATE_STAGING)
			AND ISNULL(A.QC_VALID,'') = 'P'
			

		OPEN CUR_STG_BOL
		FETCH NEXT FROM CUR_STG_BOL INTO  @TNBR

		--SELECT @TNBR
		WHILE @@FETCH_STATUS = 0
		BEGIN

		--SELECT 'UPD_STG' , @STR
		SELECT @CNT=COUNT(*),@CMD_SEQ_NBR=MAX(isnull(CMD_SEQ_NBR,0))+1,@STND_VOYG_ID=MAX(isnull(STND_VOYG_ID,0)),
		@STATUS=MAX(isnull(RECORD_STATUS,0)) FROM PES.DBO.PES_STG_CMD WHERE BOL_ID=@TNBR

		IF @CNT > 1
		BEGIN

			UPDATE PES.DBO.PES_STG_CMD SET CNTR_QUANTITY=0,CNTR_VOL=0,CNTR_SIZE=' ' WHERE BOL_ID=@TNBR

			SELECT @CONFLAG=CONFLAG,@BOL_WGT=BOL_WGT,@CONQTY=CONQTY,@CONVOL=CONVOL,@LOAD_NBR=REF_LOAD_NUM_ID,@CNTR_SIZE=CONSIZE 
			FROM PES.DBO.PES_STG_BOL WHERE BOL_ID=@TNBR


			IF @CONFLAG='C'
			BEGIN
				UPDATE PES.DBO.PES_STG_CMD SET CNTR_SIZE='LC',CNTR_FLAG='C' WHERE BOL_ID=@TNBR

				INSERT INTO PES.DBO.PES_STG_CMD (BOL_ID,CMD_HSCODE,CMD_SEQ_NBR,STND_VOYG_ID,CMD_DESC,CMD_PIECE_CNT,PIECE_UNIT,REF_PIECE_UNIT_ID,CMD_WGT_VALUE,CNTR_QUANTITY,CNTR_VOL,RECORD_STATUS,JOC_CODE,CMD_CD,CNTR_FLAG,LOADNUMBER,CNTR_SIZE)
				(SELECT @TNBR,'009669',@CMD_SEQ_NBR,@STND_VOYG_ID,'CONTAINER CARGO',0,'',0,@BOL_WGT,@CONQTY,@CONVOL,@STATUS,'9669000','9669000',@CONFLAG,@LOAD_NBR,@CNTR_SIZE)

				UPDATE PES.DBO.PES_STG_CMD SET CMD_WGT_VALUE=0 WHERE 
				CMD_DESC = 'CONTAINER CARGO' AND BOL_ID IN (
				SELECT DISTINCT BOL_ID FROM  PES_STG_CMD WHERE BOL_ID=@TNBR AND CMD_WGT_VALUE > 0 AND CMD_DESC <> 'CONTAINER CARGO') 
				AND BOL_ID=@TNBR


			END
			ELSE
			BEGIN
				UPDATE PES.DBO.PES_STG_CMD SET CNTR_FLAG='' WHERE BOL_ID=@TNBR
				INSERT INTO PES.DBO.PES_STG_CMD (BOL_ID,CMD_HSCODE,CMD_SEQ_NBR,STND_VOYG_ID,CMD_DESC,CMD_PIECE_CNT,PIECE_UNIT,REF_PIECE_UNIT_ID,CMD_WGT_VALUE,CNTR_QUANTITY,CNTR_VOL,RECORD_STATUS,JOC_CODE,CMD_CD,CNTR_FLAG,LOADNUMBER,CNTR_SIZE)
				(SELECT @TNBR,'007985',@CMD_SEQ_NBR,@STND_VOYG_ID,'GENERAL CARGO',0,'',0,@BOL_WGT,@CONQTY,@CONVOL,@STATUS,'7985000','7985000',@CONFLAG,@LOAD_NBR,' ')
			END

		END

		ELSE IF @CNT = 1 
			BEGIN

			SELECT @CONFLAG=CONFLAG,@BOL_WGT=BOL_WGT,@CONQTY=CONQTY,@CONVOL=CONVOL,@LOAD_NBR=REF_LOAD_NUM_ID,@CNTR_SIZE=CONSIZE 
			FROM PES.DBO.PES_STG_BOL WHERE BOL_ID=@TNBR
		
			UPDATE PES.DBO.PES_STG_CMD SET CNTR_SIZE=@CNTR_SIZE,CNTR_FLAG=@CONFLAG,
										   CNTR_QUANTITY=@CONQTY,CNTR_VOL=@CONVOL
			WHERE BOL_ID=@TNBR
			
			END 

		FETCH NEXT FROM CUR_STG_BOL INTO  @TNBR
		END
		CLOSE CUR_STG_BOL
		DEALLOCATE CUR_STG_BOL
			
		IF @STR='DFT'
		BEGIN
			SET @TIME= DATEDIFF(N,GETDATE(),@DATE)
			SET @cmd = 'ECHO PROCEDURE PES_CNTRCARGO_GENCARGO RAW_TO_STAGING EXECUTED SUCCESSFULLY'+ CAST(@TIME AS VARCHAR(20)) + ' >> '+ @FILE
			EXEC master..xp_cmdshell @CMD
		END
	END TRY
	BEGIN CATCH
		SET @ERROR_NUMBER=ERROR_NUMBER()
		SET @ERROR_LINE=ERROR_LINE()
		SET @ERROR_MESSAGE='STORED PROCEDURE PES_CNTRCARGO_GENCARGO FAILED DURING RAW_TO_STAGING PHASE AT LINE NUMBER:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()
		
		IF @STR='DFT'
		BEGIN
			SET @CMD = 'ECHO ERROR_MESSAGE-- '+@ERROR_MESSAGE+ ' >> '+ @FILE
			EXEC master..xp_cmdshell @CMD 
			SET @CMD = 'ECHO ERROR_NUMBER-- '+@ERROR_NUMBER+ ' >> '+ @FILE
			EXEC master..xp_cmdshell @CMD 
			SET @CMD = 'ECHO ERROR_LINE-- '+@ERROR_LINE+ ' >> '+ @FILE
			EXEC master..xp_cmdshell @CMD 
			
		END

		RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG
	END CATCH

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
