/****** Object:  StoredProcedure [dbo].[PES_SP_DICTIONARYUPDATEREPORT]    Script Date: 01/03/2013 19:40:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_SP_DICTIONARYUPDATEREPORT]
     @USERNAME VARCHAR(MAX),
     @FRMDATE VARCHAR(50),
     @TODATE VARCHAR(50)     
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

  DECLARE @DTFRMDATE DATETIME,
          @DTTODATE DATETIME,
          @USERXML XML

  SELECT @DTFRMDATE = CONVERT(DATETIME,@FRMDATE),
         @DTTODATE = CONVERT(DATETIME,@TODATE)

-- CALL XMLOFUSERS FUNCTION TO RETRIEVE THE USERNAMES IN THE FORM OF XML
    SELECT @USERXML = DBO.XMLOFUSERS(@USERNAME)

  DECLARE @DICTIONAYUPDATE TABLE
  (
    DICTIONARY_NAME VARCHAR(50),
    CORRECTEDCOUNT INT,
    INSERTEDCOUNT  INT,
    DELETEDCOUNT INT,
    TOTALCOUNT INT
  )
--US PORT
  INSERT INTO @DICTIONAYUPDATE(DICTIONARY_NAME, CORRECTEDCOUNT, INSERTEDCOUNT, DELETEDCOUNT, TOTALCOUNT)
  SELECT 'US PORT',
  --CORRECTED COUNT
  (
    SELECT COUNT(ID) FROM REF_PORT  WITH (NOLOCK) 
    WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
    AND CONVERT(DATETIME, CONVERT(VARCHAR(11), MODIFIED_DT)) BETWEEN @DTFRMDATE AND @DTTODATE
    AND DELETED = 'N'
    AND IS_US_PORT =1
  ),
  --INSERTED COUNT
  0,
  --DELETED COUNT
  (
    SELECT COUNT(ID) FROM REF_PORT  WITH (NOLOCK) 
    WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
    AND CONVERT(DATETIME, CONVERT(VARCHAR(11), MODIFIED_DT)) BETWEEN @DTFRMDATE AND @DTTODATE
    AND DELETED = 'Y'
    AND IS_US_PORT =1   
  ),
  (
   SELECT COUNT(ID) FROM REF_PORT  WITH (NOLOCK) 
   WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
   AND CONVERT(DATETIME, CONVERT(VARCHAR(11), MODIFIED_DT)) BETWEEN @DTFRMDATE AND @DTTODATE
   AND IS_US_PORT =1    
  )

--VESSEL
INSERT INTO @DICTIONAYUPDATE(DICTIONARY_NAME, CORRECTEDCOUNT, INSERTEDCOUNT, DELETEDCOUNT, TOTALCOUNT)
	SELECT 'VESSEL',
	--CORRECTED COUNT
	(
		SELECT COUNT(ID) FROM REF_VESSEL  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @DTTODATE
		AND DELETED = 'N'		
	),
	--INSERTED COUNT
	0,
	--DELETED COUNT
	(
	SELECT COUNT(ID) FROM REF_VESSEL  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @DTTODATE
		AND DELETED = 'Y'		
	),
	--TOTAL COUNT
	(
		SELECT COUNT(ID) FROM REF_VESSEL  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @DTTODATE		 
	)

--TSUSA CODE
INSERT INTO @DICTIONAYUPDATE(DICTIONARY_NAME, CORRECTEDCOUNT, INSERTEDCOUNT, DELETEDCOUNT, TOTALCOUNT)
	SELECT 'TSUSA CODE',
	--CORRECTED COUNT
	(
		SELECT COUNT(ID) FROM REF_CMMCST  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @DTTODATE
		AND DELETED = 'N'		
	),
	--INSERTED COUNT
	0,
	--DELETED COUNT
	(
	SELECT COUNT(ID) FROM REF_VESSEL  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @DTTODATE
		AND DELETED = 'Y'		
	),
	--TOTAL COUNT
	(
		SELECT COUNT(ID) FROM REF_VESSEL  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @DTTODATE		 
	)
--CARRIER
INSERT INTO @DICTIONAYUPDATE(DICTIONARY_NAME, CORRECTEDCOUNT, INSERTEDCOUNT, DELETEDCOUNT, TOTALCOUNT)
	SELECT 'CARRIER',
	--CORRECTED COUNT
	(
		SELECT COUNT(ID) FROM REF_CARRIER  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @DTTODATE
		AND DELETED = 'N'
	),
	--INSERTED COUNT
	0,
    --DELETED COUNT
	(
		SELECT COUNT(ID) FROM REF_CARRIER  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @DTTODATE
		AND DELETED = 'Y'
	),
	--TOTAL COUNT
	(
		SELECT COUNT(ID) FROM REF_CARRIER  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @DTTODATE
	)	
--FOREIGN PORT
INSERT INTO @DICTIONAYUPDATE(DICTIONARY_NAME, CORRECTEDCOUNT, INSERTEDCOUNT, DELETEDCOUNT, TOTALCOUNT)
	SELECT 'FOREIGN PORT',
	--Corrected Count
	(
		SELECT COUNT(ID) FROM REF_PORT  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(datetime,CONVERT(varchar(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @dtToDate
		AND DELETED = 'N'
		AND IS_US_PORT=0
	),
	--INSERTED COUNT
	0,
	--Deleted Count
	(
		SELECT COUNT(ID) FROM REF_PORT  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(datetime,CONVERT(varchar(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @dtToDate
		AND DELETED = 'Y'
		AND IS_US_PORT=0
	),
	--Total Count
	(
		SELECT COUNT(ID) FROM REF_PORT  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @DTTODATE
		AND IS_US_PORT=0
	)	
--COUNTRY
INSERT INTO @DICTIONAYUPDATE(DICTIONARY_NAME, CORRECTEDCOUNT, INSERTEDCOUNT, DELETEDCOUNT, TOTALCOUNT)
	SELECT 'COUNTRY',
	--corrected Count
	(
		SELECT COUNT(COUNTRY_ID) FROM REF_COUNTRY  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(datetime,CONVERT(varchar(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @dtToDate
		AND DELETED = 'N'	
	),
	--INSERTED COUNT
	0,
   --Deleted Count
	(
		SELECT COUNT(COUNTRY_ID) FROM REF_COUNTRY  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(datetime,CONVERT(varchar(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @dtToDate
		AND DELETED = 'Y'	
	),
	--Total Count
	(
		SELECT COUNT(COUNTRY_ID) FROM REF_COUNTRY  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @DTTODATE	
	)	
--HARM CODE
INSERT INTO @DICTIONAYUPDATE(DICTIONARY_NAME, CORRECTEDCOUNT, INSERTEDCOUNT, DELETEDCOUNT, TOTALCOUNT)
	SELECT 'HARM CODE',
	--Update Count
	(
		SELECT COUNT(ID) FROM REF_HARMCMST  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(datetime,CONVERT(varchar(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @dtToDate
		AND DELETED = 'N'	
	),
	--INSERTED COUNT
	0,
	--Deleted Count
	(
		SELECT COUNT(ID) FROM REF_HARMCMST  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(datetime,CONVERT(varchar(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @dtToDate
		AND DELETED = 'Y'	
	),
	--Total Count
	(
		SELECT COUNT(ID) FROM REF_HARMCMST  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @DTTODATE	
	)

--JOC CODE
INSERT INTO @DICTIONAYUPDATE(DICTIONARY_NAME, CORRECTEDCOUNT, INSERTEDCOUNT, DELETEDCOUNT, TOTALCOUNT)
	SELECT 'JOC CODE',
	--Corrected Count
	(
		SELECT COUNT(ID) FROM REF_CMMCST  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(datetime,CONVERT(varchar(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @dtToDate
		AND DELETED = 'N'	
	),
	--INSERTED COUNT
		0,
	--Deleted Count
	(
		SELECT COUNT(ID) FROM REF_CMMCST  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(datetime,CONVERT(varchar(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @dtToDate
		AND DELETED = 'Y'	
	),
	--Total Count
	(
		SELECT COUNT(ID) FROM REF_CMMCST  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @DTTODATE	
	)


--CUSTOM HARM CODE
INSERT INTO @DICTIONAYUPDATE(DICTIONARY_NAME, CORRECTEDCOUNT, INSERTEDCOUNT, DELETEDCOUNT, TOTALCOUNT)
	SELECT 'CUSTOM HARM CODE',
	--Corrected Count
	(
		SELECT COUNT(HARM_CODE) FROM REF_HARM_CODES  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(datetime,CONVERT(varchar(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @dtToDate
		AND DELETED = 'N'	
	),
	--INSERTED COUNT
		0,
	--Deleted Count
	(
		SELECT COUNT(HARM_CODE) FROM REF_HARM_CODES  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(datetime,CONVERT(varchar(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @dtToDate
		AND DELETED = 'Y'	
	),
	--Total Count
	(
		SELECT COUNT(HARM_CODE) FROM REF_HARM_CODES  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @DTTODATE	
	)

--WEIGHT GENERATION
INSERT INTO @DICTIONAYUPDATE(DICTIONARY_NAME, CORRECTEDCOUNT, INSERTEDCOUNT, DELETEDCOUNT, TOTALCOUNT)
	SELECT 'WEIGHT GENERATION',
	--Corrected Count
	(
		SELECT COUNT(ID) FROM REF_GEN_WEIGHT  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(datetime,CONVERT(varchar(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @dtToDate
		AND DELETED = 'N'	
	),
	--INSERTED COUNT
		0,
	--Deleted Count
	(
		SELECT COUNT(ID) FROM REF_GEN_WEIGHT  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(datetime,CONVERT(varchar(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @dtToDate
		AND DELETED = 'Y'	
	),
	--Total Count
	(
		SELECT COUNT(ID) FROM REF_GEN_WEIGHT  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @DTTODATE	
	)

--CITY/STATE
INSERT INTO @DICTIONAYUPDATE(DICTIONARY_NAME, CORRECTEDCOUNT, INSERTEDCOUNT, DELETEDCOUNT, TOTALCOUNT)
	SELECT 'CITY/STATE',
	--Corrected Count
	(
		SELECT COUNT(CTST_ID) FROM REF_CITYST  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(datetime,CONVERT(varchar(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @dtToDate
		AND DELETED = 'N'	
	),
	--INSERTED COUNT
		0,
	--Deleted Count
	(
		SELECT COUNT(CTST_ID) FROM REF_CITYST  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(datetime,CONVERT(varchar(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @dtToDate
		AND DELETED = 'Y'	
	),
	--Total Count
	(
		SELECT COUNT(CTST_ID) FROM REF_CITYST  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @DTTODATE	
	)

--CITY/COUNTRY
INSERT INTO @DICTIONAYUPDATE(DICTIONARY_NAME, CORRECTEDCOUNT, INSERTEDCOUNT, DELETEDCOUNT, TOTALCOUNT)
	SELECT 'CITY/COUNTRY',
	--Corrected Count
	(
		SELECT COUNT(FCCY_ID) FROM REF_CITYCOUN  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(datetime,CONVERT(varchar(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @dtToDate
		AND DELETED = 'N'	
	),
	--INSERTED COUNT
		0,
	--Deleted Count
	(
		SELECT COUNT(FCCY_ID) FROM REF_CITYCOUN  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(datetime,CONVERT(varchar(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @dtToDate
		AND DELETED = 'Y'	
	),
	--Total Count
	(
		SELECT COUNT(FCCY_ID) FROM REF_CITYCOUN  WITH (NOLOCK) 
		WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFRMDATE AND @DTTODATE	
	)

SELECT DICTIONARY_NAME AS 'DICTIONARY NAME', CORRECTEDCOUNT AS 'CORRECTED COUNT', INSERTEDCOUNT AS 'INSERTED COUNT',
DELETEDCOUNT AS 'DELETED COUNT', TOTALCOUNT AS 'TOTAL COUNT'
FROM @DICTIONAYUPDATE

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
