/****** Object:  StoredProcedure [dbo].[USP_PES_DELETE_DUPLICATE_BILLS]    Script Date: 01/03/2013 19:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_PES_DELETE_DUPLICATE_BILLS]
AS
BEGIN

SET NOCOUNT ON
-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT



--GET ALL THE BILLS TO BE DELETED FRO THE PARTICULAR LOADNUMBER

DELETE PAD 
FROM PES.DBO.PES_AUDIT_DETAILS PAD
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON PAD.BOL_ID = PDBI.BOL_ID 

DELETE CPV 
FROM SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE CPV
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON CPV.T_NBR = PDBI.BOL_ID

DELETE BC
FROM SCREEN_TEST.DBO.BL_CACHE BC
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON BC.T_NBR = PDBI.BOL_ID

DELETE DB 
FROM SCREEN_TEST.DBO.DQA_BL DB
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON DB.T_NBR = PDBI.BOL_ID

DELETE DC
FROM SCREEN_TEST.DBO.DQA_CMDS DC
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON DC.T_NBR = PDBI.BOL_ID

DELETE SV
FROM SCREEN_TEST.DBO.STD_VOYAGE SV
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON SV.T_NBR = PDBI.BOL_ID

--BACKUP LOG SCREEN_TEST  WITH TRUNCATE_ONLY

DELETE BB
FROM SCREEN_TEST.DBO.BL_BL BB
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON BB.T_NBR = PDBI.BOL_ID

DELETE BC
FROM SCREEN_TEST.DBO.BL_CMD BC
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON BC.T_NBR = PDBI.BOL_ID

DELETE BC 
FROM SCREEN_TEST.DBO.BL_CNTR BC
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON BC.T_NBR = PDBI.BOL_ID

DELETE BP
FROM SCREEN_TEST.DBO.BL_PTY BP
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON BP.T_NBR = PDBI.BOL_ID

DELETE BM
FROM SCREEN_TEST.DBO.BL_MAN BM
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON BM.T_NBR = PDBI.BOL_ID

--BACKUP LOG SCREEN_TEST  WITH TRUNCATE_ONLY

DELETE PSP
FROM PES.DBO.PES_STRUCTURED_PTY PSP
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON PSP.BOL_ID = PDBI.BOL_ID

DELETE PTMP
FROM PES.DBO.PES_TRANSACTION_MATCH_PTY PTMP
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON PTMP.BOL_ID = PDBI.BOL_ID

DELETE PTEP
FROM PES.DBO.PES_TRANSACTIONS_EXCEPTIONS_PTY PTEP
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON PTEP.BOL_ID = PDBI.BOL_ID

--BACKUP LOG PES  WITH TRUNCATE_ONLY

DELETE PTLP
FROM PES.DBO.PES_TRANSACTIONS_LIB_PTY PTLP
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON PTLP.BOL_ID = PDBI.BOL_ID

DELETE PTRP
FROM PES.DBO.PES_TRANSACTIONS_REF_PTY PTRP
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON PTRP.BOL_ID = PDBI.BOL_ID

--BACKUP LOG PES  WITH TRUNCATE_ONLY

DELETE PSV
FROM PES.DBO.PES_STG_VIN PSV
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON PSV.T_NBR = PDBI.BOL_ID

DELETE VC
FROM SCREEN_TEST.DBO.VIN_CACHE VC
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON VC.T_NBR = PDBI.BOL_ID

DELETE PSM
FROM PES.DBO.PES_STG_MAN PSM
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON PSM.BOL_ID = PDBI.BOL_ID

DELETE PSH
FROM PES.DBO.PES_STG_HZMT PSH
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON PSH.BOL_ID = PDBI.BOL_ID

----------------------------------------------------------------------------------------------------
--DROP THE FOREIGN KEYS ON PES_STG_HZMT AND PES_STG_MAN AND RECREATE AFTER DELETE FROM PES_STG_CNTR
-- THIS IS NEEDED AS THE DELETION FROM PES_STG_CNTR TAKES A LOT OF TIME WITH THE EXISTENCE OF THESE FOREIGN KEYS
-- COGNIZANT, 3-SEP-2009

IF  EXISTS (SELECT * FROM SYS.FOREIGN_KEYS WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[FK_PES_STG_HZMTCNTR]') AND PARENT_OBJECT_ID = OBJECT_ID(N'[DBO].[PES_STG_HZMT]'))
ALTER TABLE [DBO].[PES_STG_HZMT] DROP CONSTRAINT [FK_PES_STG_HZMTCNTR]

IF  EXISTS (SELECT * FROM SYS.FOREIGN_KEYS WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[FK_PES_STG_MANCNTR]') AND PARENT_OBJECT_ID = OBJECT_ID(N'[DBO].[PES_STG_MAN]'))
ALTER TABLE [DBO].[PES_STG_MAN] DROP CONSTRAINT [FK_PES_STG_MANCNTR]

DELETE FROM PES.DBO.PES_STG_CNTR WHERE BOL_ID IN (SELECT BOL_ID FROM PES_DUPLICATE_BILL_ID)

ALTER TABLE [DBO].[PES_STG_HZMT]  WITH CHECK ADD  CONSTRAINT [FK_PES_STG_HZMTCNTR] FOREIGN KEY([STND_CNTR_ID], [BOL_ID])
REFERENCES [DBO].[PES_STG_CNTR] ([CNTR_ID], [BOL_ID])

--ALTER TABLE [DBO].[PES_STG_HZMT] CHECK CONSTRAINT [FK_PES_STG_HZMTCNTR]

ALTER TABLE [DBO].[PES_STG_MAN]  WITH CHECK ADD  CONSTRAINT [FK_PES_STG_MANCNTR] FOREIGN KEY([STND_CNTR_ID], [BOL_ID])
REFERENCES [DBO].[PES_STG_CNTR] ([CNTR_ID], [BOL_ID])

--ALTER TABLE [DBO].[PES_STG_MAN] CHECK CONSTRAINT [FK_PES_STG_MANCNTR]
----------------------------------------------------------------------------------------------------

DELETE PSP
FROM PES.DBO.PES_STG_PTY PSP
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON PSP.BOL_ID = PDBI.BOL_ID	

--BACKUP LOG PES  WITH TRUNCATE_ONLY

DELETE PSC
FROM PES.DBO.PES_STG_CMD PSC
INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON PSC.BOL_ID = PDBI.BOL_ID	

DELETE HC
FROM PES.DBO.HCS_COMMODITY HC
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON HC.BOL_ID = PDBI.BOL_ID	

--BACKUP LOG PES  WITH TRUNCATE_ONLY

DELETE PTSB 
FROM PES.DBO.PES_TEMP1_STG_BOL PTSB
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON PTSB.BOL_ID = PDBI.BOL_ID

--BACKUP LOG PES  WITH TRUNCATE_ONLY

DELETE PSB
FROM PES.DBO.PES_STG_BOL PSB
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON PSB.BOL_ID = PDBI.BOL_ID


DELETE ARB
FROM PES.DBO.ARCHIVE_RAW_BOL ARB
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON ARB.BOL_ID = PDBI.BOL_ID

DELETE ARC
FROM PES.DBO.ARCHIVE_RAW_CMD ARC
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON ARC.BOL_ID = PDBI.BOL_ID

DELETE ARCR
FROM PES.DBO.ARCHIVE_RAW_CNTR ARCR
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON ARCR.BOL_ID = PDBI.BOL_ID

DELETE ARP
FROM PES.DBO.ARCHIVE_RAW_PTY ARP
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON ARP.BOL_ID = PDBI.BOL_ID

DELETE ARHT
FROM PES.DBO.ARCHIVE_RAW_HZMT ARHT
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON ARHT.BOL_ID = PDBI.BOL_ID

DELETE ARM
FROM PES.DBO.ARCHIVE_RAW_MAN ARM
	INNER JOIN PES_DUPLICATE_BILL_ID PDBI ON ARM.BOL_ID = PDBI.BOL_ID

--BACKUP LOG PES  WITH TRUNCATE_ONLY


-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
