/****** Object:  StoredProcedure [dbo].[PES_LOAD_DQA_VOYAGE]    Script Date: 01/03/2013 19:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_LOAD_DQA_VOYAGE]
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


DECLARE @TRANNAME VARCHAR(20),@FILE VARCHAR(500),@FILE_NAME VARCHAR(50)
DECLARE @CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),
@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50),@DATE DATETIME,@TIME INT 
SET @TRANNAME = 'MyTransaction'
SELECT @FILE = PATH FROM PES_CONFIGURATION  WITH (NOLOCK)  WHERE SOURCE='SP_LOG'
SELECT @FILE_NAME= FILENAME FROM PES_PROGRESS_STATUS  WITH (NOLOCK)  WHERE LOADNUMBER=(SELECT DISTINCT LOAD_NUMBER FROM RAW_BOL  WITH (NOLOCK) )
SET @FILE='"'+@FILE+@FILE_NAME+'_LOG.TXT'+'"'

SET @CMD = 'ECHO PROCEDURE PES_LOAD_DQA_VOYAGE EXECUTION STARTED' + '>>'+ @FILE
EXEC MASTER..XP_CMDSHELL @CMD 

--Changes by Cognizant, Data Load Performance Tuning, 20-March-2010, START

CREATE TABLE #TEMP_BOL_PROCESS
(
	BOL_ID INT,
	REF_LOAD_NUM_ID INT,
	VOYAGE	VARCHAR(10),
	VDATE DATETIME,
	MANIFEST_NUMBER VARCHAR(6),
	BOL_DIRECTION CHAR(1),
	VESSEL_NAME VARCHAR(25),
	SLINE_REF_ID INT,
	PORT_DEPART_REF_ID INT,
	VESSEL_REF_ID INT,
	BATCH_ID VARCHAR(10)	
)


CREATE TABLE #TEMP_BOL_VOYAGE
(
	BOL_ID INT,
	STND_VOYG_ID INT
)

--Changes by Cognizant, Data Load Performance Tuning, 20-March-2010, END

BEGIN TRANSACTION @TRANNAME

BEGIN TRY 
	SET @DATE=GETDATE()
	DECLARE @BOL_ID INT, @LOAD_NUMBER INT, @VESSEL_CODE VARCHAR(7),
	@VOYAGE_NUMBER VARCHAR(10),@VDATE DATETIME, @MANIFEST_NUMBER VARCHAR(6)	, @BOL_DIRECTION CHAR(1),@CNT INT,@VSCAC		VARCHAR(4),
	@VESSEL_NAME VARCHAR(25),@VPORTCD VARCHAR(4),@VSTATUS		VARCHAR(10),@VESSEL_ID INT,@CARRIER_ID INT,
	@USPORT_ID INT, @TAPE_DT		DATETIME,@MNBR VARCHAR(6)
	DECLARE @BATCH_ID VARCHAR(10)
	SET @CNT=0
	SET @VESSEL_CODE='0'
	SET @MANIFEST_NUMBER= ''
	SET @TAPE_DT=GETDATE()

	--Changes by Cognizant, Data Load Performance Tuning, 20-March-2010, START
	INSERT INTO #TEMP_BOL_PROCESS(
	BOL_ID,
	REF_LOAD_NUM_ID,
	VOYAGE,
	VDATE,
	MANIFEST_NUMBER,
	BOL_DIRECTION,
	VESSEL_NAME,
	SLINE_REF_ID,
	PORT_DEPART_REF_ID,
	VESSEL_REF_ID,
	BATCH_ID
	)
	SELECT B.BOL_ID,B.REF_LOAD_NUM_ID,ISNULL(B.VOYAGE,''),
	ISNULL(B.VDATE,''),ISNULL(B.MANIFEST_NUMBER,''),B.BOL_DIRECTION,B.VESSEL_NAME,B.SLINE_REF_ID,
	B.PORT_DEPART_REF_ID, B.VESSEL_REF_ID,B.BATCH_ID 
	FROM RAW_BOL A  WITH (NOLOCK)  join PES_STG_BOL B   WITH (NOLOCK) 
	on A.BOL_ID=B.BOL_ID 
	WHERE B.SLINE_REF_ID<>0 AND PORT_DEPART_REF_ID<>0 AND VESSEL_REF_ID<>0
	--Changes by Cognizant, Data Load Performance Tuning, 20-March-2010, END

	--Changes by Cognizant, Data Load Performance Tuning, 20-March-2010, START
	DECLARE @Voyage_id int

	DECLARE DQA_LOAD_CURSOR CURSOR FOR 
	SELECT BOL_ID,REF_LOAD_NUM_ID,VOYAGE,
	VDATE,MANIFEST_NUMBER,BOL_DIRECTION,VESSEL_NAME,SLINE_REF_ID,
	PORT_DEPART_REF_ID,VESSEL_REF_ID,BATCH_ID
	FROM #TEMP_BOL_PROCESS

	/*
	SELECT B.BOL_ID,B.REF_LOAD_NUM_ID,ISNULL(B.VOYAGE,''),
	ISNULL(B.VDATE,''),ISNULL(B.MANIFEST_NUMBER,''),B.BOL_DIRECTION,B.VESSEL_NAME,B.SLINE_REF_ID,
	B.PORT_DEPART_REF_ID, B.VESSEL_REF_ID,B.BATCH_ID 
	FROM RAW_BOL A  WITH (NOLOCK)  join PES_STG_BOL B   WITH (NOLOCK) 
	on A.BOL_ID=B.BOL_ID 
	WHERE B.SLINE_REF_ID<>0 AND PORT_DEPART_REF_ID<>0 AND VESSEL_REF_ID<>0
	*/
	--Changes by Cognizant, Data Load Performance Tuning, 20-March-2010, END
	OPEN DQA_LOAD_CURSOR
	
	FETCH NEXT FROM DQA_LOAD_CURSOR INTO @BOL_ID,@LOAD_NUMBER,
	@VOYAGE_NUMBER,@VDATE,@MANIFEST_NUMBER,@BOL_DIRECTION,
	@VESSEL_NAME,@CARRIER_ID,@USPORT_ID,@VESSEL_ID,@BATCH_ID
	
	WHILE @@FETCH_STATUS = 0
	BEGIN
		IF SUBSTRING(CAST (@LOAD_NUMBER AS VARCHAR),LEN(CAST (
		@LOAD_NUMBER AS VARCHAR))-2,3) IN ('002','007','004','005','003','006','008','009','016','017','012','013','014')
        BEGIN
			SELECT @CNT=COUNT(*) FROM SCREEN_TEST.DBO.DQA_VOYAGE  WITH (NOLOCK) 
            WHERE VESSEL_ID = @VESSEL_ID
            AND CARRIER_ID = @CARRIER_ID
            AND USPORT_ID = @USPORT_ID
            AND DIR = @BOL_DIRECTION
            AND VOYAGE_NBR = @VOYAGE_NUMBER
            AND ISNULL(ACT_MANIFEST_NBR,'') = @MANIFEST_NUMBER
            --AND CONVERT(VARCHAR(10),ACT_ARRIVAL_DT,101) = CONVERT(VARCHAR(10),@VDATE,101)
			AND ((@VDATE BETWEEN ACT_ARRIVAL_DT AND ACT_ARRIVAL_DT+10) OR
			(@VDATE BETWEEN ACT_ARRIVAL_DT-10 AND ACT_ARRIVAL_DT))
		END
        ELSE
        BEGIN
			SELECT @CNT=COUNT (*) FROM SCREEN_TEST.DBO.DQA_VOYAGE  WITH (NOLOCK) 
			WHERE VESSEL_ID = @VESSEL_ID
			AND CARRIER_ID = @CARRIER_ID
			AND USPORT_ID = @USPORT_ID
			AND DIR = @BOL_DIRECTION
			AND VOYAGE_NBR = @VOYAGE_NUMBER
			--AND CONVERT(VARCHAR(10),ACT_ARRIVAL_DT,101) = CONVERT(VARCHAR(10),@VDATE,101)
			AND ((@VDATE BETWEEN ACT_ARRIVAL_DT AND ACT_ARRIVAL_DT+10) OR
			(@VDATE BETWEEN ACT_ARRIVAL_DT-10 AND ACT_ARRIVAL_DT))
        END
                     
		IF @cnt > 0
		BEGIN
			IF SUBSTRING(CAST (@LOAD_NUMBER AS VARCHAR),LEN(CAST (
			@LOAD_NUMBER AS VARCHAR))-2,3) IN ('002','007','004','005','003','006','008','009','016','017','012','013','014' )
			BEGIN
				SELECT @CNT=MAX(VOYAGE_ID) FROM SCREEN_TEST.DBO.DQA_VOYAGE  WITH (NOLOCK) 
				WHERE VESSEL_ID = @VESSEL_ID
				AND CARRIER_ID = @CARRIER_ID
				AND USPORT_ID = @USPORT_ID
				AND DIR = @BOL_DIRECTION
				AND VOYAGE_NBR = @VOYAGE_NUMBER
				AND ISNULL(ACT_MANIFEST_NBR,'') = @MANIFEST_NUMBER
				--AND CONVERT(VARCHAR(10),ACT_ARRIVAL_DT,101) = CONVERT(VARCHAR(10),@VDATE,101)
                AND ((@VDATE BETWEEN ACT_ARRIVAL_DT AND ACT_ARRIVAL_DT+10) OR
				(@VDATE BETWEEN ACT_ARRIVAL_DT-10 AND ACT_ARRIVAL_DT))
			END
		    ELSE
			BEGIN
				SELECT @CNT=MAX(VOYAGE_ID)FROM SCREEN_TEST.DBO.DQA_VOYAGE  WITH (NOLOCK) 
				WHERE VESSEL_ID = @VESSEL_ID
				AND CARRIER_ID = @CARRIER_ID
				AND USPORT_ID = @USPORT_ID
				AND DIR = @BOL_DIRECTION
				AND VOYAGE_NBR = @VOYAGE_NUMBER
				--AND CONVERT(VARCHAR(10),ACT_ARRIVAL_DT,101) = CONVERT(VARCHAR(10),@VDATE,101)
                AND ((@VDATE BETWEEN ACT_ARRIVAL_DT AND ACT_ARRIVAL_DT+10) OR
				(@VDATE BETWEEN ACT_ARRIVAL_DT-10 AND ACT_ARRIVAL_DT))
			END

			--Changes by Cognizant, Data Load Performance Tuning, 20-March-2010, START
			--UPDATING VOYAGE_ID IN STG_BOL TABLE

			/*
			UPDATE PES_STG_BOL with (updlock)
			SET STND_VOYG_ID = @cnt
			WHERE BOL_ID = @BOL_ID

			UPDATE SCREEN_TEST.DBO.DQA_VOYAGE with (updlock)
			SET total_cnt = total_cnt + 1
			WHERE VOYAGE_ID = @cnt
			*/
		
			INSERT INTO #TEMP_BOL_VOYAGE(BOL_ID,STND_VOYG_ID)
			SELECT @BOL_ID,@cnt	

			--Changes by Cognizant, Data Load Performance Tuning, 20-March-2010, END				
		END
		ELSE
        BEGIN
              IF @VDATE < '1900/01/01'
                  SET @VDATE ='01/01/1900'
              
			  SELECT @VSCAC=CODE FROM PES.DBO.REF_CARRIER  WITH (NOLOCK) 
			  WHERE ID = @CARRIER_ID

              SELECT @VESSEL_NAME=NAME FROM PES.DBO.REF_VESSEL  WITH (NOLOCK) 
              WHERE ID = @VESSEL_ID

              SELECT @VPORTCD=CODE FROM PES.DBO.REF_PORT  WITH (NOLOCK) 
              WHERE ID = @USPORT_ID

			   SELECT @VESSEL_CODE=IMO_CODE FROM PES.DBO.REF_VESSEL  WITH (NOLOCK) 
			   WHERE ID=@VESSEL_ID

				IF @VSCAC IS NULL 
					SET @VSCAC=''

				IF @VESSEL_NAME IS NULL
					SET @VESSEL_NAME=''

				IF @VPORTCD IS NULL
					SET @VPORTCD=''

				IF @VESSEL_CODE IS NULL 
					SET @VESSEL_CODE=''
			

               --SELECT LENGTH (RTRIM (filename)) - 9
               --  INTO st
               --  FROM HEP_LOG
               -- WHERE load_nbr = rbl.load_nbr;

               --SELECT , st, 6), 'RRMMDD')
                 --INTO tape_dt
                 --FROM HEP_LOG
                --WHERE load_nbr = rbl.load_nbr;

               SELECT @TAPE_DT=TAPE_DT FROM PES.DBO.RAW_STG_REC_COUNT  WITH (NOLOCK)  WHERE LOADNUMBER=@LOAD_NUMBER

               SET @vstatus = 'HOLD'

               IF @BATCH_ID NOT IN ('AMS', 'OOLU', 'APLU', 'MAEU', 'CSCO','EVER','ESCAN','TRBR','SBRE','TRBI','CRLI','CRLE')
               AND SUBSTRING(@BATCH_ID, 1,2) NOT IN('I$','E$') 
				BEGIN
               		SET @vstatus = 'AVAILABLE'
					SET @MNBR=@MANIFEST_NUMBER
				END
				ELSE
					SET @MNBR= ''

				 IF @BATCH_ID IN ('ESCAN') 
					SET @MNBR=@MANIFEST_NUMBER
          
                                                 
               IF @VDATE IS NULL OR @VDATE=''
                  SET @VDATE=GETDATE()			   

               INSERT INTO SCREEN_TEST.DBO.DQA_VOYAGE
                           (SCAC, vessel_cd, voyage_nbr,
                            port_unlading_cd, est_arrival_dt,act_arrival_dt,
                            manifest_nbr, 
                            earliest_tape_dt, 
                            priority_cd,
                            voyage_status, pending_cnt, cleansed_cnt,
                            skipped_cnt, ppmm_cnt, total_cnt, vessel_name,
                            carrier_id, vessel_id, usport_id,
                            dir, batch_id, act_manifest_nbr
                           )
                    VALUES (@vscac, @VESSEL_CODE, @VOYAGE_NUMBER,
                            @vportcd, @VDATE, @VDATE,
                            @MANIFEST_NUMBER, 
                            @TAPE_DT, 
                            'M',
                            @vstatus, 0, 0,
                            0, 0, 1, @VESSEL_NAME,
                            @carrier_id, @vessel_id, @usport_id,
                            @BOL_DIRECTION, @BATCH_ID, @MNBR
                           )

								
				--Changes by Cognizant, Data Load Performance Tuning, 20-March-2010, START
				/*
	            UPDATE PES_STG_BOL with (updlock)
				SET STND_VOYG_ID = (SELECT MAX(VOYAGE_ID) FROM SCREEN_TEST.DBO.DQA_VOYAGE  WITH (NOLOCK) ) WHERE BOL_ID=@BOL_ID
				*/
				SELECT @Voyage_id=MAX(VOYAGE_ID) FROM SCREEN_TEST.DBO.DQA_VOYAGE  WITH (NOLOCK) 

				INSERT INTO #TEMP_BOL_VOYAGE(BOL_ID,STND_VOYG_ID)
				SELECT @BOL_ID,@Voyage_id	

				--Changes by Cognizant, Data Load Performance Tuning, 20-March-2010, END					
		  END

	 FETCH NEXT FROM DQA_LOAD_CURSOR INTO @BOL_ID,@LOAD_NUMBER,
	 @VOYAGE_NUMBER,@VDATE,@MANIFEST_NUMBER,@BOL_DIRECTION,
	 @VESSEL_NAME,@CARRIER_ID,@USPORT_ID,@VESSEL_ID,@BATCH_ID
  END

  CLOSE DQA_LOAD_CURSOR
  DEALLOCATE DQA_LOAD_CURSOR

  --Changes by Cognizant, Data Load Performance Tuning, 20-March-2010, START   	
  --Mass Update Voyage ID in PES_STG_BOL
  
   UPDATE B WITH (UPDLOCK)
   SET STND_VOYG_ID=T.STND_VOYG_ID,
   MODIFY_DATE=GETDATE()
   FROM PES_STG_BOL B JOIN #TEMP_BOL_VOYAGE T
   ON B.BOL_ID=T.BOL_ID

   --Update Total Count in DQA_VOYAGE table for the Voyages assigned to bills

	UPDATE V WITH (UPDLOCK)
	SET total_cnt = total_cnt + ISNULL(X.TOTAL_COUNT,0)
	FROM SCREEN_TEST.DBO.DQA_VOYAGE V
	JOIN		
	(
		SELECT STND_VOYG_ID,COUNT(*) 'TOTAL_COUNT'
		FROM #TEMP_BOL_VOYAGE
		GROUP BY STND_VOYG_ID
	)X
	ON V.VOYAGE_ID = X.STND_VOYG_ID

  --Changes by Cognizant, Data Load Performance Tuning, 20-March-2010, END

	--COMMITTING THE TRANSACTIONS IF NO ERROR OCCURRED
	COMMIT TRANSACTION @TRANNAME
	SET @TIME= DATEDIFF(N,GETDATE(),@DATE)
	SET @cmd = 'ECHO PROCEDURE PES_LOAD_DQA_VOYAGE EXECUTED SUCCESSFULLY'+ CAST(@TIME AS VARCHAR(20)) + ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD

END TRY

BEGIN CATCH
	SET @ERROR_NUMBER=ERROR_NUMBER()
	SET @ERROR_LINE=ERROR_LINE()
	SET @ERROR_MESSAGE='STORED PROCEDURE PES_LOAD_DQA_VOYAGE FAILED AT LINE NUMBER:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()
	
	SET @CMD = 'ECHO ERROR_MESSAGE-- '+@ERROR_MESSAGE+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
    SET @CMD = 'ECHO ERROR_NUMBER-- '+@ERROR_NUMBER+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
	SET @CMD = 'ECHO ERROR_LINE-- '+@ERROR_LINE+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
		
	SET @CMD = 'ECHO TRANSACTIONS ROLLBACKED'+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
	RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG
	
	ROLLBACK TRANSACTION @TRANNAME
END CATCH

DROP TABLE #TEMP_BOL_PROCESS
DROP TABLE #TEMP_BOL_VOYAGE
	

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
