/****** Object:  StoredProcedure [dbo].[USP_PES_SHORT_DESC_STG_CMD_REPROCESS]    Script Date: 01/03/2013 19:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_PES_SHORT_DESC_STG_CMD_REPROCESS] @TNBR  INT, @RETDESC VARCHAR(8000)  OUTPUT 
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


DECLARE @TRANNAME VARCHAR(20),@FILE VARCHAR(500),@FILE_NAME VARCHAR(50)
DECLARE @CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),
@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50),@LOADNUM INT
SET @TRANNAME = 'MYTRANSACTION'

SELECT @FILE = PATH 
FROM PES.DBO.PES_CONFIGURATION  WITH (NOLOCK) 
WHERE SOURCE='SP_LOG'

SELECT @FILE_NAME= FILENAME 
FROM PES.DBO.PES_PROGRESS_STATUS  WITH (NOLOCK) 
WHERE LOADNUMBER=(
					SELECT LOAD_NUMBER 
					FROM PES.DBO.ARCHIVE_RAW_BOL  WITH (NOLOCK)  WHERE BOL_ID = @TNBR
				 )

SET @FILE='"'+@FILE+@FILE_NAME+'_LOG.TXT'+'"'

BEGIN TRANSACTION @TRANNAME

BEGIN TRY

DECLARE @CMDSDESC			VARCHAR(8000)
DECLARE @ENH_DESC			VARCHAR(8000)
DECLARE @CLEANCMDSDESC		VARCHAR(8000)
DECLARE	@TEMPDESC			VARCHAR(8000)
DECLARE	@CMD_SEQ_NBR		NUMERIC(4,0)
DECLARE @ENH_SEQ_NBR		NUMERIC(4,0)
DECLARE @PIERS_PIECE_CNT	NUMERIC(12,0)
DECLARE @PIERS_PIECE_CNT1	NUMERIC(12,0)
DECLARE @PIERS_PIECE_UNIT	VARCHAR(9)
DECLARE @CONFIDENCE_FACTOR	NUMERIC(5,3)
DECLARE @UM					VARCHAR(3)
DECLARE @TOTALCF			NUMERIC (12,2)
DECLARE @TOTALQTY			NUMERIC (12,0)
DECLARE @BOL_QTY			NUMERIC (12,2)
DECLARE @SHORTDESCCNT		INT
DECLARE @CONFLAG			CHAR(1)
DECLARE @CMD_CD				VARCHAR(10)
DECLARE @NOCOMMODITYCOUNT	INT
DECLARE @BOL_WGT			FLOAT
DECLARE @CONQTY				INT
DECLARE @CONVOL				NUMERIC(18,0)
DECLARE @RECORD_STATUS		VARCHAR(50)
DECLARE @ID					INT
DECLARE @MFEST_QTY			NUMERIC(11,0)
DECLARE @MFEST_UNITS		VARCHAR(5)
DECLARE @VOYAGE_ID			NUMERIC(12,0)
DECLARE @PREV_SEQ_NBR		NUMERIC(4,0)
DECLARE @BATCH_ID			VARCHAR(10)
DECLARE @JOC_CD				VARCHAR(10)
DECLARE @HCS_REPORCESSED	VARCHAR(1)
DECLARE @CMD_STATUS			VARCHAR(50)
DECLARE @DIR				VARCHAR(1)
DECLARE @DIRECTION			VARCHAR(1)
DECLARE @MFEST_UNIT			VARCHAR(5)
DECLARE @CONSIZE			VARCHAR(2)
DECLARE @SHORTDESCCNT1		INT
DECLARE @RAW_CMD_CNT		INT
DECLARE @CMD_CNT			INT

SET @PREV_SEQ_NBR=0
SET @TOTALCF=0
SET @TOTALQTY=0
SET @SHORTDESCCNT=0
SET @RAW_CMD_CNT = 0
SET @CMD_CNT = 0

--------CREATE #TEMP_BL_CMDS_REPROCESS TABLE------------

CREATE TABLE #TEMP_BL_CMDS_REPROCESS 
(
BOL_ID NUMERIC(12,0),
ENH_DESC TEXT,
CMD_CD VARCHAR(10),
PIERS_PIECE_UNIT VARCHAR(9),
PIERS_PIECE_CNT NUMERIC(12,0),
CONFIDENCE_FACTOR NUMERIC(5,3),
CMD_SEQ_NBR NUMERIC(4,0),
ENH_SEQ_NBR NUMERIC(4,0),
CMD_STATUS VARCHAR(50),
DIRECTION VARCHAR(1),
BOL_QTY NUMERIC(12,0),
MFEST_UNIT VARCHAR(5),
CONQTY INT,
CONFLAG VARCHAR(1),
CONVOL INT,
CONSIZE VARCHAR(2),
DQA_DESC VARCHAR(1000),
WEIGHT NUMERIC(16,0)
)

---INSERT RECORDS RETURN WHEN THE COMMODITY IS PASSED THROUGH HCS.EXE
--MODIFIED BY PRABHAV ON 11TH AUGUST FOR NEW COMMODITY LOGIC
SELECT	@DIR =BOL_DIRECTION,@BOL_QTY=BOL_QTY,@MFEST_UNIT=MANIFEST_UNIT,@CONQTY=CONQTY,@CONFLAG=CONFLAG,@VOYAGE_ID = STND_VOYG_ID,
		@CONVOL=CONVOL,@BOL_WGT =BOL_WGT,@RECORD_STATUS=RECORD_STATUS,@LOADNUM=REF_LOAD_NUM_ID,@BATCH_ID = BATCH_ID, @CONSIZE = CONSIZE
FROM	PES_STG_BOL  WITH (NOLOCK)  WHERE BOL_ID = @TNBR

INSERT INTO #TEMP_BL_CMDS_REPROCESS 
SELECT		A.BOL_ID,A.ENH_DESC,ISNULL(A.CMD_CD,'') CMD_CD,
			CASE WHEN ISNULL(A.PIERS_PIECE_UNIT,'')='' THEN B.PIECE_UNIT ELSE PIERS_PIECE_UNIT END PIERS_PIECE_UNIT,
			CASE WHEN ISNULL(A.PIERS_PIECE_CNT,0)<=0 THEN B.PIECE_CNT ELSE PIERS_PIECE_CNT END PIERS_PIECE_CNT, 
			ISNULL(A.CONFIDENCE_FACTOR,0) CONFIDENCE_FACTOR, A.CMD_SEQ_NBR, 
			A.ENH_SEQ_NBR ,A.DQA_CMDS_STATUS CMD_STATUS,
			@DIR,@BOL_QTY,@MFEST_UNIT,@CONQTY,@CONFLAG,@CONVOL,@CONSIZE,
			DQA_DESC,0
FROM		PES.DBO.HCS_COMMODITY  A WITH (NOLOCK) 
			INNER JOIN SCREEN_TEST.DBO.DQA_CMDS  B WITH (NOLOCK) 
			ON A.BOL_ID = B.T_NBR AND A.CMD_SEQ_NBR = B.DQA_CMD_SEQ_NBR
WHERE		A.BOL_ID=@TNBR 
ORDER BY	A.BOL_ID, A.CMD_SEQ_NBR, A.ENH_SEQ_NBR 
	


--DELETE FROM #TEMP_BL_CMDS_REPROCESS WHERE CMD_STATUS = 'CODED' AND DIRECTION = 'I'
--DELETE FROM #TEMP_BL_CMDS_REPROCESS WHERE CMD_STATUS = 'CODED' AND PIERS_PIECE_CNT = 0 AND DIRECTION = 'E'

------------------------------------------------------------------------------------------------------------------------------------------
--CREATE SHORT DESCRIPTION FOR ALL THE COMMODITIES IN A BILL
DECLARE SHORTDESC CURSOR FOR  
	SELECT CMD_SEQ_NBR, ENH_SEQ_NBR,ENH_DESC,CMD_CD FROM #TEMP_BL_CMDS_REPROCESS 

OPEN SHORTDESC

FETCH NEXT FROM SHORTDESC INTO  @CMD_SEQ_NBR,@ENH_SEQ_NBR ,@CMDSDESC,@CMD_CD

WHILE @@FETCH_STATUS = 0
BEGIN
	IF @CMDSDESC IS NULL 
	SET @CMDSDESC=''

	IF   @CMDSDESC IS NOT NULL	
	SET @TEMPDESC=@CMDSDESC

	IF   @CMDSDESC IS NULL
	SET @CMDSDESC=@TEMPDESC

	SET  @CLEANCMDSDESC = LTRIM(RTRIM(REPLACE(@CMDSDESC,'"','')));
    SET @CLEANCMDSDESC = REPLACE(REPLACE(REPLACE(@CLEANCMDSDESC,CHAR(1),' '),CHAR(2),' '),CHAR(3),' ');

    SELECT @RETDESC=SCREEN_TEST.DBO.SHORT_DESC_BL_CMDS(@CLEANCMDSDESC,@CMD_CD)
	
	UPDATE #TEMP_BL_CMDS_REPROCESS SET ENH_DESC=@RETDESC WHERE CMD_SEQ_NBR=@CMD_SEQ_NBR AND
	ENH_SEQ_NBR=@ENH_SEQ_NBR AND BOL_ID=@TNBR 
	
FETCH NEXT FROM SHORTDESC INTO  @CMD_SEQ_NBR,@ENH_SEQ_NBR ,@CMDSDESC,@CMD_CD

END
CLOSE SHORTDESC
DEALLOCATE SHORTDESC

---------------------------------------------------------------------------------------------------------------------------------------
--UPDATE USER CODED DESCRIPTION FOR THOSE COMMODITIES WHERE EXPECTED TOKEN WAS NOT FOUND
---------------------------------------------------------------------------------------------------------------------------------------

SELECT * INTO #TEMP_BL_CMDS_UNCODED FROM #TEMP_BL_CMDS_REPROCESS 
WHERE CMD_SEQ_NBR IN (
SELECT CMD_SEQ_NBR FROM #TEMP_BL_CMDS_REPROCESS WHERE CMD_STATUS = 'CODED') 

DELETE FROM #TEMP_BL_CMDS_REPROCESS WHERE CMD_SEQ_NBR IN 
(SELECT CMD_SEQ_NBR FROM #TEMP_BL_CMDS_UNCODED WHERE CMD_STATUS = 'CODED') 


INSERT INTO #TEMP_BL_CMDS_REPROCESS 
SELECT BOL_ID,DQA_DESC,CMD_CD,PIERS_PIECE_UNIT,PIERS_PIECE_CNT,CONFIDENCE_FACTOR,CMD_SEQ_NBR,
1,CMD_STATUS,DIRECTION,BOL_QTY,MFEST_UNIT,CONQTY,CONFLAG,CONVOL,
CONSIZE,DQA_DESC,WEIGHT FROM #TEMP_BL_CMDS_UNCODED WHERE CMD_SEQ_NBR IN (
SELECT CMD_SEQ_NBR FROM #TEMP_BL_CMDS_UNCODED GROUP BY CMD_SEQ_NBR HAVING COUNT(CMD_SEQ_NBR)=1)


INSERT INTO #TEMP_BL_CMDS_REPROCESS 
SELECT DISTINCT T_NBR,B.DQA_DESC,'' CMD_CD,B.PIECE_UNIT,B.PIECE_CNT,7.00,DQA_CMD_SEQ_NBR,
1,'CODED',DIRECTION,BOL_QTY,MFEST_UNIT,CONQTY,CONFLAG,CONVOL,
CONSIZE,B.DQA_DESC,A.WEIGHT FROM #TEMP_BL_CMDS_UNCODED A
JOIN SCREEN_TEST.DBO.DQA_CMDS B 
ON A.BOL_ID = B.T_NBR
AND B.DQA_CMD_SEQ_NBR = A.CMD_SEQ_NBR
WHERE A.CMD_SEQ_NBR IN (
SELECT CMD_SEQ_NBR FROM #TEMP_BL_CMDS_UNCODED GROUP BY CMD_SEQ_NBR HAVING COUNT(CMD_SEQ_NBR)>1)


SELECT * INTO #TEMP_BL_CMDS_NOTOKEN FROM #TEMP_BL_CMDS_REPROCESS WHERE CAST(ENH_DESC AS VARCHAR(4000))= 'NO TOKENS FOUND'

DELETE FROM #TEMP_BL_CMDS_REPROCESS WHERE CMD_SEQ_NBR IN (
SELECT CMD_SEQ_NBR FROM #TEMP_BL_CMDS_REPROCESS  WITH (NOLOCK)  WHERE CAST(ENH_DESC AS VARCHAR(4000)) = 'NO TOKENS FOUND')

INSERT INTO #TEMP_BL_CMDS_REPROCESS 
SELECT BOL_ID,DQA_DESC,CMD_CD,PIERS_PIECE_UNIT,PIERS_PIECE_CNT,CONFIDENCE_FACTOR,CMD_SEQ_NBR,
1,CMD_STATUS,DIRECTION,BOL_QTY,MFEST_UNIT,CONQTY,CONFLAG,CONVOL,
CONSIZE,DQA_DESC,WEIGHT FROM #TEMP_BL_CMDS_NOTOKEN
GROUP BY BOL_ID,DQA_DESC,CMD_CD,PIERS_PIECE_UNIT,PIERS_PIECE_CNT,CONFIDENCE_FACTOR,CMD_SEQ_NBR,
CMD_STATUS,DIRECTION,BOL_QTY,MFEST_UNIT,CONQTY,CONFLAG,CONVOL,
CONSIZE,WEIGHT

DROP TABLE #TEMP_BL_CMDS_NOTOKEN 
DROP TABLE #TEMP_BL_CMDS_UNCODED

SELECT @RAW_CMD_CNT=COUNT(*) FROM ARCHIVE_RAW_CMD WHERE BOL_ID = @TNBR

SELECT @CMD_CNT =COUNT(*) FROM #TEMP_BL_CMDS_REPROCESS WHERE BOL_ID = @TNBR

IF @RAW_CMD_CNT=@CMD_CNT

UPDATE #TEMP_BL_CMDS_REPROCESS
SET WEIGHT = ROUND(ISNULL(CASE WHEN ISNUMERIC(B.HARM_WEIGHT)=0 THEN 0 ELSE B.HARM_WEIGHT END,0)*C.CONVERSION_FACTOR*2.204622476,0)
FROM #TEMP_BL_CMDS_REPROCESS A
JOIN ARCHIVE_RAW_CMD  B WITH (NOLOCK)
ON A.BOL_ID = B.BOL_ID
AND A.CMD_SEQ_NBR = B.SEQUENCENO
JOIN REF_WEIGHT_UNIT C WITH (NOLOCK)
ON B.HARM_UNIT = WGT_UNIT

---------------------------------------------------------------------------------------------------------------------------------------
--SHORT DESCRIPTION PROCESSING 
---------------------------------------------------------------------------------------------------------------------------------------

DECLARE PROCESSDESC CURSOR FOR  

	SELECT	CMD_SEQ_NBR,ENH_SEQ_NBR,ENH_DESC,CONFIDENCE_FACTOR,
			PIERS_PIECE_CNT,PIERS_PIECE_UNIT,CMD_STATUS,DIRECTION FROM #TEMP_BL_CMDS_REPROCESS  
	WHERE	CAST(ENH_DESC AS VARCHAR(8000)) <> 'NO TOKENS FOUND' AND 
			(CONFIDENCE_FACTOR<> 0  OR PIERS_PIECE_CNT <>0)

OPEN PROCESSDESC

FETCH NEXT FROM PROCESSDESC
INTO	@CMD_SEQ_NBR,@ENH_SEQ_NBR ,@CMDSDESC,@CONFIDENCE_FACTOR,
		@PIERS_PIECE_CNT,@PIERS_PIECE_UNIT,@CMD_STATUS,@DIRECTION

WHILE @@FETCH_STATUS = 0
BEGIN

IF LEN(@PIERS_PIECE_UNIT)>0
BEGIN

	SET @PIERS_PIECE_UNIT=REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(@PIERS_PIECE_UNIT,'/',''),'\',''),'.',''),'_',''),'&',''),'#',''),')',''),'(',''),' ',''),'''','')
	SET @UM=NULL
	SELECT @UM=UM FROM PES.DBO.PES_PPMM_PACK  WITH (NOLOCK) 
	WHERE AMSUM=LTRIM(RTRIM(@PIERS_PIECE_UNIT))

IF @UM IS NOT NULL AND LEN(@UM)>0
	UPDATE #TEMP_BL_CMDS_REPROCESS SET PIERS_PIECE_UNIT=LTRIM(RTRIM(@UM)) 
	WHERE BOL_ID=@TNBR AND CMD_SEQ_NBR=@CMD_SEQ_NBR AND ENH_SEQ_NBR=@ENH_SEQ_NBR

ELSE 
	UPDATE #TEMP_BL_CMDS_REPROCESS SET PIERS_PIECE_UNIT='' 
	WHERE BOL_ID=@TNBR AND CMD_SEQ_NBR=@CMD_SEQ_NBR AND ENH_SEQ_NBR=@ENH_SEQ_NBR
END

--SET	@TOTALCF=@TOTALCF + @CONFIDENCE_FACTOR
--SET	@TOTALQTY=@TOTALQTY + @PIERS_PIECE_CNT

FETCH NEXT FROM PROCESSDESC 
INTO	@CMD_SEQ_NBR,@ENH_SEQ_NBR,@CMDSDESC,@CONFIDENCE_FACTOR,
		@PIERS_PIECE_CNT,@PIERS_PIECE_UNIT,@CMD_STATUS,@DIRECTION

END

CLOSE PROCESSDESC
DEALLOCATE PROCESSDESC

SELECT	@TOTALCF=SUM(CONFIDENCE_FACTOR) FROM #TEMP_BL_CMDS_REPROCESS
SELECT  @TOTALQTY=SUM(PIERS_PIECE_CNT) FROM #TEMP_BL_CMDS_REPROCESS


UPDATE	C SET MFEST_UNIT = UM 
FROM	#TEMP_BL_CMDS_REPROCESS C JOIN PES.DBO.PES_PPMM_PACK P  WITH (NOLOCK)  ON P.AMSUM=LTRIM(RTRIM(C.MFEST_UNIT)) 
WHERE	ISNULL(LTRIM(RTRIM(MFEST_UNIT)),'') <> '' 

--UPDATE #TEMP_BL_CMDS_REPROCESS SET MFEST_UNIT = 'PKG' WHERE ISNULL(LTRIM(RTRIM(MFEST_UNIT)),'') = ''  

--NEED TO REVIEWED LATER

/*
	IF @MFEST_QTY=@TOTALQTY
	DELETE FROM  #TEMP_BL_CMDS_REPROCESS  WHERE BOL_ID=@TNBR AND PIERS_PIECE_CNT=0
*/

/*
IF @TOTALQTY=0

BEGIN

	DECLARE CUR_QTY CURSOR FOR 
	SELECT	CMD_SEQ_NBR,ENH_DESC,PIERS_PIECE_CNT
	FROM	#TEMP_BL_CMDS_REPROCESS

	OPEN CUR_QTY

	FETCH NEXT FROM CUR_QTY 
	INTO  @CMD_SEQ_NBR,@ENH_DESC ,@PIERS_PIECE_CNT

	WHILE @@FETCH_STATUS=0
		BEGIN

			IF LEN(@ENH_DESC)>0 AND @PIERS_PIECE_CNT=0 AND @CMD_SEQ_NBR!=@PREV_SEQ_NBR

			BEGIN

				SELECT	@PIERS_PIECE_CNT1=PIECE_COUNT 
				FROM	SCREEN_TEST.DBO.DQA_CMDS  WITH (NOLOCK) 
				WHERE	T_NBR=@TNBR AND DQA_CMD_SEQ_NBR=@CMD_SEQ_NBR
		
				UPDATE	#TEMP_BL_CMDS_REPROCESS 
				SET		PIERS_PIECE_CNT=@PIERS_PIECE_CNT1 ,PIERS_PIECE_UNIT=MFEST_UNIT
				WHERE	BOL_ID=@TNBR AND CMD_SEQ_NBR=@CMD_SEQ_NBR
			
		END
		ELSE
			UPDATE #TEMP_BL_CMDS_REPROCESS SET ENH_DESC='' WHERE BOL_ID=@TNBR AND CMD_SEQ_NBR=@CMD_SEQ_NBR
			SET @PREV_SEQ_NBR=@CMD_SEQ_NBR
		FETCH NEXT FROM CUR_QTY INTO  @CMD_SEQ_NBR,@ENH_DESC,@PIERS_PIECE_CNT
		END
CLOSE CUR_QTY
DEALLOCATE CUR_QTY

END
*/

CREATE TABLE #TEMPSHTCOUNT_REPROCESS
(
	BOL_ID NUMERIC(12,0),
	CMD_SEQ_NBR INT IDENTITY(1,1),
	ENH_DESC VARCHAR(100),
	CONFIDENCE_FACTOR NUMERIC(5,3),
	PIERS_PIECE_CNT NUMERIC(12,0),
	PIERS_PIECE_UNIT VARCHAR(9),
	HSCODE VARCHAR(10),
	BOL_WGT FLOAT,
	PIECE_UNIT_ID NUMERIC(12,0),
	JOC_CD VARCHAR(10),
	DIRECTION VARCHAR(1),
	BOL_QTY NUMERIC(12,0),
	MFEST_UNIT VARCHAR(5),
	CONQTY INT,
	CONFLAG CHAR(1),
	CONVOL INT,
	CONSIZE VARCHAR(2),
	CONLENGTH VARCHAR(1),
	CONWIDTH VARCHAR(1),
	CONTYPE VARCHAR(2),
	CMD_STATUS VARCHAR(10),
	WEIGHT NUMERIC(16,0)
)

INSERT INTO #TEMPSHTCOUNT_REPROCESS	(BOL_ID,ENH_DESC,CONFIDENCE_FACTOR,
							PIERS_PIECE_CNT,PIERS_PIECE_UNIT,HSCODE,
							BOL_QTY,MFEST_UNIT,CONQTY,CONFLAG,CONVOL,CONSIZE,CMD_STATUS,WEIGHT) 
				SELECT		BOL_ID,CONVERT(VARCHAR(100),ENH_DESC),MAX(CONFIDENCE_FACTOR),
							SUM(PIERS_PIECE_CNT) PIERS_PIECE_CNT,PIERS_PIECE_UNIT,CMD_CD,
							BOL_QTY,MFEST_UNIT,CONQTY,CONFLAG,CONVOL,CONSIZE,CMD_STATUS,SUM(WEIGHT)
				FROM		#TEMP_BL_CMDS_REPROCESS 
				GROUP BY	BOL_ID,CONVERT(VARCHAR(100),ENH_DESC),PIERS_PIECE_UNIT,
							CMD_CD,BOL_QTY,MFEST_UNIT,CONQTY,CONFLAG,CONVOL,CONSIZE,CMD_STATUS
				

SELECT @SHORTDESCCNT=COUNT(*)FROM #TEMPSHTCOUNT_REPROCESS



UPDATE #TEMPSHTCOUNT_REPROCESS SET JOC_CD = 
							CASE WHEN A.JOC_CD='1301000' AND PIERS_PIECE_UNIT = 'BKC' 
							THEN '130100B' ELSE A.JOC_CD END 
FROM PES_HARMCODE_JOCCODE A  WITH (NOLOCK) 
WHERE HARM_CD = HSCODE AND CMD_STATUS <> 'CODED'

--NEED TO BE TESTED
/*
--LOOKUP on HIST_CODES WITH DESCRIPTION and HARMCODE FOR JOC_CODE IS NULL
UPDATE #TEMPSHTCOUNT_REPROCESS SET JOC_CD= H.JOC_CODE
FROM SCREEN_TEST.DBO.HIST_CODES H  WITH (NOLOCK) 
WHERE UPPER(SCREEN_TEST.DBO.GET_KEY(ENH_DESC)) = UPPER(H.PERM_KEY)  
AND HSCODE = H.HARM_CODE  AND JOC_CD IS NULL 

--LOOKUP on HIST_CODES WITH DESCRIPTION and HARMCODE FOR JOC_CODE IS NULL
UPDATE #TEMPSHTCOUNT_REPROCESS SET JOC_CD= H.JOC_CODE, HSCODE = H.HARM_CODE
FROM SCREEN_TEST.DBO.HIST_CODES H  WITH (NOLOCK) 
WHERE UPPER(SCREEN_TEST.DBO.GET_KEY(ENH_DESC)) = UPPER(H.PERM_KEY)  
AND JOC_CD IS NULL 

---LOOK UP WITH HARM CODE AND CMD DESC ON REF_CMMCST FOR JOC CODE

UPDATE T
SET JOC_CD=B.TSUSA
FROM #TEMPSHTCOUNT_REPROCESS T
JOIN 
PES.DBO.REF_HARMCMST A ON T.HSCODE = A.HARMCODE AND UPPER(SCREEN_TEST.DBO.GET_KEY(T.ENH_DESC))=UPPER(COMP_NAME)
JOIN
PES.DBO.REF_CMMCST B ON A.COMP_NAME=B.COMP_NAME
*/

---UPDATE QC_VALID FLAG FOR THE BILL
	UPDATE PES.DBO.PES_STG_BOL WITH(UPDLOCK) SET QC_VALID='N' WHERE BOL_ID=@TNBR

---UPDATE BILL LEVEL PIECE UNIT AND PIECE COUNT IF THERE IS ONLY ONE COMMODITY
IF @SHORTDESCCNT = 1
BEGIN
	UPDATE #TEMPSHTCOUNT_REPROCESS SET BOL_WGT=@BOL_WGT
END



IF @TOTALCF=0 
BEGIN
	SET @SHORTDESCCNT=0
	SELECT @NOCOMMODITYCOUNT=COUNT(*) 
	FROM PES.DBO.HCS_COMMODITY  WITH (NOLOCK) 
	WHERE BOL_ID=@TNBR AND LTRIM(RTRIM(CAST(ENH_DESC AS VARCHAR(30))))=LTRIM(RTRIM('<# NO > <? COMMODITY >'))

	IF @NOCOMMODITYCOUNT > 0
		UPDATE #TEMPSHTCOUNT_REPROCESS SET ENH_DESC='GENERAL MDSE',HSCODE='007985' WHERE  BOL_ID=@TNBR
	ELSE
		UPDATE #TEMPSHTCOUNT_REPROCESS SET ENH_DESC='BLANK COMMODITY',HSCODE='007985' WHERE  BOL_ID=@TNBR
END

SELECT @SHORTDESCCNT1=COUNT(*)FROM #TEMPSHTCOUNT_REPROCESS WHERE PIERS_PIECE_CNT = 0

IF @SHORTDESCCNT - @SHORTDESCCNT1=1
BEGIN
--DELETE FROM #TEMPSHTCOUNT_REPROCESS WHERE PIERS_PIECE_CNT = 0 
UPDATE #TEMPSHTCOUNT_REPROCESS SET PIERS_PIECE_CNT=BOL_QTY,BOL_WGT=@BOL_WGT
END



--DELETE RECORDS HAVING PIECE CNT AS 0
--DELETE FROM #TEMPSHTCOUNT_REPROCESS WHERE PIERS_PIECE_CNT = 0 

--UPDATE CONLENGTH, CONTYPE AND CONWIDTH
UPDATE	#TEMPSHTCOUNT_REPROCESS
SET		CONLENGTH= CASE WHEN ISNULL(LTRIM(RTRIM(A.CONTAINER_TYPE)),'')='' 
					THEN 'N' ELSE SUBSTRING(A.CONTAINER_TYPE,1,1) END,
		CONWIDTH=	CASE WHEN ISNULL(LTRIM(RTRIM(A.CONTAINER_TYPE)),'')='' 
					THEN 'U' ELSE SUBSTRING(A.CONTAINER_TYPE,2,1) END, 
		CONTYPE=	CASE WHEN ISNULL(LTRIM(RTRIM(A.CONTAINER_TYPE)),'')='' 
					THEN 'LL' ELSE SUBSTRING(A.CONTAINER_TYPE,3,2) END
FROM	ARCHIVE_RAW_CNTR A  WITH (NOLOCK)  JOIN #TEMPSHTCOUNT_REPROCESS ON A.BOL_ID = #TEMPSHTCOUNT_REPROCESS.BOL_ID 
WHERE @BATCH_ID='AMS'

UPDATE #TEMPSHTCOUNT_REPROCESS SET PIECE_UNIT_ID=ID FROM PES_PPMM_PACK  WITH (NOLOCK) 
WHERE #TEMPSHTCOUNT_REPROCESS.PIERS_PIECE_UNIT=UM


UPDATE #TEMPSHTCOUNT_REPROCESS SET BOL_WGT=WEIGHT WHERE ISNULL(BOL_WGT,0) = 0

--select * from #TEMPSHTCOUNT_REPROCESS
-----------------------------------------------------------------------------------------------------------------------------------
---INSERT FINAL RESULT INTO PES_STG_CMD
-----------------------------------------------------------------------------------------------------------------------------------

BEGIN TRY

INSERT INTO PES.DBO.PES_STG_CMD (BOL_ID,CMD_HSCODE,CMD_CD,JOC_CODE,CMD_SEQ_NBR,CMD_DESC,CMD_WGT_VALUE,CMD_VALUE_VALUE,
								CMD_PIECE_CNT,REF_PIECE_UNIT_ID,PIECE_UNIT,CMD_TEU,RECORD_STATUS,CMD_FCHARGE,LOADNUMBER,
								CNTR_QUANTITY,CNTR_VOL,CNTR_SIZE,CNTR_FLAG,CON_LENGTH,CON_WIDTH,CON_TYPE)
				
						SELECT	BOL_ID,HSCODE,JOC_CD AS CMD_CD,JOC_CD,CMD_SEQ_NBR,ENH_DESC,ISNULL(BOL_WGT,0) WEIGHT,0,
								PIERS_PIECE_CNT,PIECE_UNIT_ID,PIERS_PIECE_UNIT,0,@RECORD_STATUS,0,@LOADNUM,
								CONQTY,CONVOL,CONSIZE,CONFLAG,CONLENGTH,CONWIDTH,CONTYPE
FROM	#TEMPSHTCOUNT_REPROCESS

END TRY

BEGIN CATCH
INSERT INTO PES_AUDIT_DETAILS(TABLE_NAME,BOL_ID,CHILD_ID,LOAD_NUMBER,REJECTED_AT,DATE,ERRORCODE,ERRORDESCRIPTION)
VALUES('PES_STG_CMD',@TNBR,1,@LOADNUM,'T',GETDATE(),ERROR_NUMBER(),ERROR_MESSAGE())
END CATCH

-----------------------------------------------------------------------------------------------------------------------------------
	--DROP TEMPORARY TABLES
	DROP TABLE #TEMPSHTCOUNT_REPROCESS
	DROP TABLE #TEMP_BL_CMDS_REPROCESS
--COMMITTING THE TRANSACTIONS IF NO ERROR OCCURRED
	COMMIT TRANSACTION @TRANNAME
END TRY

BEGIN CATCH
	SET @ERROR_NUMBER=ERROR_NUMBER()
	SET @ERROR_LINE=ERROR_LINE()
	SET @ERROR_MESSAGE='STORED PROCEDURE USP_PES_SHORT_DESC_STG_CMD_REPROCESS FAILED WITH T_NBR: '+ CAST(@TNBR AS VARCHAR(12)) + ' AT LINE NUMBER:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()
	
	SET @CMD = 'ECHO ERROR_MESSAGE-- '+@ERROR_MESSAGE+ ' >> '+ @FILE
	EXEC MASTER..XP_CMDSHELL @CMD 
    SET @CMD = 'ECHO ERROR_NUMBER-- '+@ERROR_NUMBER+ ' >> '+ @FILE
	EXEC MASTER..XP_CMDSHELL @CMD 
	SET @CMD = 'ECHO ERROR_LINE-- '+@ERROR_LINE+ ' >> '+ @FILE
	EXEC MASTER..XP_CMDSHELL @CMD 
	
	--DROP TEMPORARY TABLES
	DROP TABLE #TEMPSHTCOUNT_REPROCESS
	DROP TABLE #TEMP_BL_CMDS_REPROCESS
	
	
	SET @CMD = 'ECHO TRANSACTIONS ROLLBACKED'+ ' >> '+ @FILE
	EXEC MASTER..XP_CMDSHELL @CMD 
	RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG

	ROLLBACK TRANSACTION @TRANNAME
END CATCH

	


-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT


END
GO
