/****** Object:  StoredProcedure [dbo].[PES_CREATE_INDEX_RAW_BOL_CNTR_CMD_HZMT_MAN_PTY]    Script Date: 01/03/2013 19:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_CREATE_INDEX_RAW_BOL_CNTR_CMD_HZMT_MAN_PTY]
AS
BEGIN 

	BEGIN TRY	

		IF  NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[RAW_BOL]') AND name = N'IX_RAW_BOL_BOL_ID')
		BEGIN
			/****** Object:  Index [IX_RAW_CNTR_BOL_ID]    Script Date: 08/16/2012 09:28:37 ******/
			CREATE NONCLUSTERED INDEX [IX_RAW_BOL_BOL_ID] ON [dbo].[RAW_BOL] 
			(
				[BOL_ID] ASC,
				[LOAD_NUMBER] ASC
			)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
		END

		IF  NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[RAW_CNTR]') AND name = N'IX_RAW_CNTR_BOL_ID')
		BEGIN
			/****** Object:  Index [IX_RAW_CNTR_BOL_ID]    Script Date: 08/16/2012 09:28:37 ******/
			CREATE NONCLUSTERED INDEX [IX_RAW_CNTR_BOL_ID] ON [dbo].[RAW_CNTR] 
			(
				[BOL_ID] ASC
			)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
		END

		IF  NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[RAW_CNTR]') AND name = N'PK_RAW_CNTR1')
		BEGIN
			/****** Object:  Index [PK_RAW_CNTR1]    Script Date: 08/16/2012 09:31:04 ******/
			ALTER TABLE [dbo].[RAW_CNTR] ADD  CONSTRAINT [PK_RAW_CNTR1] PRIMARY KEY NONCLUSTERED 
			(
				[CNTR_ID] ASC
			)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
		END

		IF  NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[RAW_CMD]') AND name = N'_dta_index_RAW_CMD_c_7_1001106657__K2')
		BEGIN
			/****** Object:  Index [_dta_index_RAW_CMD_c_7_1001106657__K2]    Script Date: 08/16/2012 09:33:01 ******/
			CREATE CLUSTERED INDEX [_dta_index_RAW_CMD_c_7_1001106657__K2] ON [dbo].[RAW_CMD] 
			(
				[BOL_ID] ASC
			)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
		END

		IF  NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[RAW_CMD]') AND name = N'IX_RAW_CMD_BOL_ID')
		BEGIN
			/****** Object:  Index [IX_RAW_CMD_BOL_ID]    Script Date: 08/16/2012 09:34:48 ******/
			CREATE NONCLUSTERED INDEX [IX_RAW_CMD_BOL_ID] ON [dbo].[RAW_CMD] 
			(
				[BOL_ID] ASC
			)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]	
		END

		IF  NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[RAW_CMD]') AND name = N'PK_RAW_CMD1')
		BEGIN
			/****** Object:  Index [PK_RAW_CMD1]    Script Date: 08/16/2012 09:36:19 ******/
			ALTER TABLE [dbo].[RAW_CMD] ADD  CONSTRAINT [PK_RAW_CMD1] PRIMARY KEY NONCLUSTERED 
			(
				[CMD_ID] ASC
			)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
		END

		IF  NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[RAW_HZMT]') AND name = N'IX_RAW_HZMT_BOL_ID')
		BEGIN
			/****** Object:  Index [IX_RAW_HZMT_BOL_ID]    Script Date: 08/16/2012 09:38:08 ******/
			CREATE NONCLUSTERED INDEX [IX_RAW_HZMT_BOL_ID] ON [dbo].[RAW_HZMT] 
			(
				[BOL_ID] ASC
			)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
		END

		IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[RAW_HZMT]') AND name = N'PK_RAW_HZMT1')
		BEGIN
			/****** Object:  Index [PK_RAW_HZMT1]    Script Date: 08/16/2012 09:39:36 ******/
			ALTER TABLE [dbo].[RAW_HZMT] ADD  CONSTRAINT [PK_RAW_HZMT1] PRIMARY KEY NONCLUSTERED 
			(
				[HZMT_ID] ASC
			)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
		END

		IF  NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[RAW_MAN]') AND name = N'IX_RAW_MAN_BOL_ID')
		BEGIN
			/****** Object:  Index [IX_RAW_MAN_BOL_ID]    Script Date: 08/16/2012 09:41:05 ******/
			CREATE NONCLUSTERED INDEX [IX_RAW_MAN_BOL_ID] ON [dbo].[RAW_MAN] 
			(
				[BOL_ID] ASC
			)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
		END

		IF  NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[RAW_MAN]') AND name = N'PK_RAW_MAN1')
		BEGIN
			/****** Object:  Index [PK_RAW_MAN1]    Script Date: 08/16/2012 09:42:08 ******/
			ALTER TABLE [dbo].[RAW_MAN] ADD  CONSTRAINT [PK_RAW_MAN1] PRIMARY KEY NONCLUSTERED 
			(
				[MAN_ID] ASC
			)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
		END

		IF  NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[RAW_PTY]') AND name = N'_dta_index_RAW_PTY_21_2000062211__K1_K2_K6_7_8_9_10_11')
		BEGIN
			/****** Object:  Index [_dta_index_RAW_PTY_21_2000062211__K1_K2_K6_7_8_9_10_11]    Script Date: 08/16/2012 09:43:29 ******/
			CREATE NONCLUSTERED INDEX [_dta_index_RAW_PTY_21_2000062211__K1_K2_K6_7_8_9_10_11] ON [dbo].[RAW_PTY] 
			(
				[RAW_PTY_ID] ASC,
				[BOL_ID] ASC,
				[Source] ASC
			)
			INCLUDE ( [Name],
			[Addr_1],
			[Addr_2],
			[Addr_3],
			[Addr_4]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
		END

		IF  NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[RAW_PTY]') AND name = N'_dta_index_RAW_PTY_c_13_38291196__K6_K2')
		BEGIN
			/****** Object:  Index [_dta_index_RAW_PTY_c_13_38291196__K6_K2]    Script Date: 08/16/2012 09:45:06 ******/
			CREATE CLUSTERED INDEX [_dta_index_RAW_PTY_c_13_38291196__K6_K2] ON [dbo].[RAW_PTY] 
			(
				[Source] ASC,
				[BOL_ID] ASC
			)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
		END

	END TRY
	BEGIN CATCH
    
	END CATCH;
	
END
GO
