/****** Object:  StoredProcedure [dbo].[PES_PROCESS_MASTER_HOUSE]    Script Date: 01/03/2013 19:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_PROCESS_MASTER_HOUSE]
( 
	@PROCESS_NAME VARCHAR(50)
)
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

	DECLARE @TRANNAME VARCHAR(20),@FILE VARCHAR(500),@FILE_NAME VARCHAR(50)
	DECLARE @CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),
	@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50),@DATE DATETIME,@TIME INT  
	SET @TRANNAME = 'MYTRANSACTION'

	SELECT @FILE = PATH FROM PES_CONFIGURATION  WITH (NOLOCK)  
	WHERE SOURCE='SP_LOG'

	SELECT @FILE_NAME= FILENAME FROM PES_PROGRESS_STATUS  WITH (NOLOCK)  WHERE LOADNUMBER=(SELECT TOP 1 LOAD_NUMBER FROM RAW_BOL  WITH (NOLOCK) )
	SET @FILE='"'+@FILE+@FILE_NAME+'_LOG.TXT'+'"'

	DECLARE
		@MAXLOAD NUMERIC(12,0)

	--RECORDS FOR WHICH MASTER HOUSE PROCESS SHOULD RUN
	CREATE TABLE #TEMP_MASTER_HOUSE(
		BOL_ID	NUMERIC(12,0),
		MST_BOL_NBR CHAR(16)
	)

	---NUMBER OF HOUSE BILLS PER MASTER BILL
	CREATE TABLE #TEMP_MASTER_BILL(
		BOL_ID	NUMERIC(12,0),
		BOL_NBR	CHAR(16),
		PPMM_FLAG CHAR(1)
	)

		SET @DATE=GETDATE()
		
		IF @PROCESS_NAME = 'RAW_TO_STG'
		/*FETCH RECORDS AFTER FRESH LOAD*/
		BEGIN
			BEGIN TRY 
			BEGIN TRANSACTION @TRANNAME

			SET @CMD = 'ECHO PROCEDURE PES_PROCESS_MASTER_HOUSE  RAW_TO_STAGING PHASE STARTED' + '>>'+ @FILE
			EXEC MASTER..XP_CMDSHELL @CMD 
			
			UPDATE PES_STG_BOL WITH (UPDLOCK)
			SET BOL_STATUS = 'READY',MODIFY_DATE = GETDATE()
			WHERE BOL_STATUS = ''

			    
			INSERT INTO #TEMP_MASTER_HOUSE(BOL_ID,MST_BOL_NBR)
			SELECT A.BOL_ID,SUBSTRING(A.BOL_MST_BOL_DATA,42,16) MASTER_NBR
			FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK) JOIN SCREEN_TEST.DBO.DQA_VOYAGE B WITH (NOLOCK)  
			ON A.STND_VOYG_ID=B.VOYAGE_ID
			WHERE A.BOL_STATUS <> 'HOUSE' 
			AND	A.BOL_DIRECTION='I' 
			AND A.REF_VENDOR_CODE = 'AMS' 
			AND A.MST_BOL_TYPE ='H' 
			AND B.ACT_ARRIVAL_DT BETWEEN GETDATE()-180 AND GETDATE()
-- CHANGES DONE 27/01/2010			
			UNION
			SELECT BOL_ID,SUBSTRING(MST_BOL_DATA,42,16) MASTER_NBR
			FROM PES.DBO.PES_STG_BOL_DQA  WITH (NOLOCK) 
			WHERE MST_BOL_TYPE='H' 
-- CHANGES END 27/01/2010

			-- Set the BOL Status for all Master Bills to 'TEMPMASTER'
						
			--SET TEMPMASTER STATUS
			UPDATE PES.DBO.PES_STG_BOL WITH (UPDLOCK)
			SET BOL_STATUS='TEMPMASTER', MODIFY_DATE = GETDATE() 
			WHERE BOL_STATUS='READY'
			AND BOL_DIRECTION ='I' 
			AND REF_VENDOR_CODE = 'AMS' 
			AND MST_BOL_TYPE='M'

						
			-- Fetch the Master Bill Numbers and 'Release to DW' status from both PES_STG_BOL
			-- and PES_STG_BOL_DQA

			
			-- SET STATUS ...
			INSERT INTO #TEMP_MASTER_BILL(BOL_ID,BOL_NBR,PPMM_FLAG)
			SELECT A.BOL_ID,A.BOL_NBR,PPMM_FLAG
			FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK) 
			JOIN #TEMP_MASTER_HOUSE MH
			ON (A.BOL_NBR = MH.MST_BOL_NBR AND A.BOL_ID <> MH.BOL_ID)
			WHERE A.BOL_STATUS NOT IN ('MASTER','LATEMASTER') 
			AND A.BOL_DIRECTION ='I' 
			AND A.REF_VENDOR_CODE = 'AMS'

-- CHANGES MADE 27/01/2010
			UNION
			SELECT A.BOL_ID,BOL_NUMBER,PPMM_FLAG
			FROM PES.DBO.PES_STG_BOL_DQA A WITH (NOLOCK)  
			JOIN #TEMP_MASTER_HOUSE MH 
			ON (A.BOL_NUMBER = MH.MST_BOL_NBR AND A.BOL_ID <> MH.BOL_ID)
			WHERE A.DQA_BL_STATUS NOT IN ('MASTER','LATEMASTER')
-- CHANGES END 27/01/2010
			
			--PPMM FLAG IS Y
			UPDATE B WITH (UPDLOCK)
			SET BOL_STATUS='HOUSE' , MODIFY_DATE = GETDATE() 
			FROM PES.DBO.PES_STG_BOL B JOIN #TEMP_MASTER_HOUSE MH
			ON B.BOL_ID=MH.BOL_ID
			JOIN #TEMP_MASTER_BILL MB
			ON (MH.MST_BOL_NBR = MB.BOL_NBR)
			WHERE B.BOL_DIRECTION ='I' 
			AND B.REF_VENDOR_CODE = 'AMS'
			AND MB.PPMM_FLAG='Y'

-- CHANGES MADE 27/01/2010
			UPDATE B WITH (UPDLOCK)
			SET BOL_STATUS='HOUSE' 
			FROM PES.DBO.PES_STG_BOL_DQA B JOIN #TEMP_MASTER_HOUSE MH
			ON B.BOL_ID=MH.BOL_ID
			JOIN #TEMP_MASTER_BILL MB
			ON (MH.MST_BOL_NBR = MB.BOL_NBR)
			WHERE MB.PPMM_FLAG='Y'
-- CHANGES END 27/01/2010

			--PPMM FLAG IS N
			UPDATE B WITH (UPDLOCK)
			SET BOL_STATUS='MASTER',MODIFY_DATE = GETDATE()  
			FROM PES.DBO.PES_STG_BOL B JOIN #TEMP_MASTER_BILL MB
			ON (B.BOL_ID = MB.BOL_ID)
			WHERE B.BOL_DIRECTION ='I' 
			AND B.REF_VENDOR_CODE = 'AMS'
			AND MB.PPMM_FLAG != 'Y'

-- CHANGES MADE 27/01/2010
			UPDATE B WITH (UPDLOCK)
			SET BOL_STATUS='MASTER'  
			FROM PES.DBO.PES_STG_BOL_DQA B JOIN #TEMP_MASTER_BILL MB
			ON (B.BOL_ID = MB.BOL_ID)
			WHERE MB.PPMM_FLAG != 'Y'
-- CHANGES END 27/01/2010

			-- RELEASE MASTER BILLS 14 DAYS OLD 
			--SET LATEMASTER STATUS  
			UPDATE PES.DBO.PES_STG_BOL  WITH (UPDLOCK)
			SET BOL_STATUS='LATEMASTER',MODIFY_DATE = GETDATE()
			WHERE BOL_STATUS='TEMPMASTER' 
			AND DBO.MASTDATE(STND_VOYG_ID) < DATEADD(DD,DATEDIFF(D,0,GETDATE()),0) /*SET GETDATE WITH THE 00 HRS*/ 
			AND BOL_DIRECTION='I' 
			AND REF_VENDOR_CODE = 'AMS'


-- CHANGES MADE 27/01/2010
			UPDATE PES.DBO.PES_STG_BOL_DQA  WITH (UPDLOCK)
			SET BOL_STATUS='LATEMASTER'
			WHERE BOL_STATUS='TEMPMASTER' 
			AND 
			DATEADD(DD,DATEDIFF(D,0,DATEADD(s,-1,DATEADD(mm, DATEDIFF(m,0,ACT_ARRIVAL_DT)+1,0))+28),0) < DATEADD(DD,DATEDIFF(D,0,GETDATE()),0) 


--			SELECT @MAXLOAD = MAX(ISNULL(A.REF_LOAD_NUM_ID,0)) 
--			FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK)  
--			WHERE A.REF_VENDOR_CODE='AMS'

			SELECT @MAXLOAD = MAX(LOADNUM.REF_LOAD_NUM_ID)
			FROM
			(
			SELECT MAX(ISNULL(REF_LOAD_NUM_ID,0)) AS REF_LOAD_NUM_ID
			FROM PES.DBO.PES_STG_BOL  WITH (NOLOCK)  
			WHERE REF_VENDOR_CODE='AMS'
			UNION
			SELECT MAX(ISNULL(REF_LOAD_NUM_ID,0)) AS REF_LOAD_NUM_ID
			FROM PES.DBO.PES_STG_BOL_DQA  WITH (NOLOCK)  
			)LOADNUM 

-- CHANGES END 27/01/2010


			UPDATE PES_STG_BOL WITH (UPDLOCK)
			SET BOL_STATUS = 'READY FOR RELEASE',MODIFY_DATE = GETDATE()
			WHERE REF_LOAD_NUM_ID <= (@MAXLOAD-14000) 
			AND BOL_STATUS='TEMPMASTER' 
			AND BOL_DIRECTION='I' 
			AND REF_VENDOR_CODE = 'AMS'

-- CHANGES MADE 27/01/2010
			UPDATE PES_STG_BOL_DQA WITH (UPDLOCK)
			SET BOL_STATUS = 'READY FOR RELEASE'
			WHERE REF_LOAD_NUM_ID <= (@MAXLOAD-14000) 
			AND BOL_STATUS='TEMPMASTER' 
-- CHANGES END 27/01/2010

			--Since the procedure is run as a job, need to ensure that bol_status in BL_BL
			-- is the same as PES_STG_BOL
			UPDATE B WITH (UPDLOCK)
			SET BOL_STATUS = A.BOL_STATUS
			FROM SCREEN_TEST.DBO.BL_BL B JOIN PES.DBO.PES_STG_BOL A  WITH (NOLOCK) 
			ON B.T_NBR = A.BOL_ID

			--COMMITTING THE TRANSACTIONS IF NO ERROR OCCURRED
			COMMIT TRANSACTION @TRANNAME
			SET @TIME= DATEDIFF(N,GETDATE(),@DATE)
			SET @CMD = 'ECHO PROCEDURE PES_PROCESS_MASTER_HOUSE RAW_TO_STAGING EXECUTED SUCCESSFULLY' + CAST(@TIME AS VARCHAR(20)) + '>>'+ @FILE
			EXEC MASTER..XP_CMDSHELL @CMD
		
	END TRY
	BEGIN CATCH
		SET @ERROR_NUMBER=ERROR_NUMBER()
		SET @ERROR_LINE=ERROR_LINE()
		SET @ERROR_MESSAGE='STORED PROCEDURE PES_PROCESS_MASTER_HOUSE FAILED AT LINE NUMBER:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()
		
		SET @CMD = 'ECHO ERROR_MESSAGE-- '+@ERROR_MESSAGE+ ' >> '+ @FILE
		EXEC MASTER..XP_CMDSHELL @CMD 
		SET @CMD = 'ECHO ERROR_NUMBER-- '+@ERROR_NUMBER+ ' >> '+ @FILE
		EXEC MASTER..XP_CMDSHELL @CMD 
		SET @CMD = 'ECHO ERROR_LINE-- '+@ERROR_LINE+ ' >> '+ @FILE
		EXEC MASTER..XP_CMDSHELL @CMD 
		
		
		SET @CMD = 'ECHO TRANSACTIONS ROLLBACKED'+ ' >> '+ @FILE
		EXEC MASTER..XP_CMDSHELL @CMD 
		RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG

		ROLLBACK TRANSACTION @TRANNAME
	END CATCH

	END	
	
		

	IF @PROCESS_NAME = 'UPDATE_STG'
		/*FETCH RECORDS FOR WHICH EXCEPTION ARE CORRECTED*/
	BEGIN

		INSERT INTO #TEMP_MASTER_HOUSE(BOL_ID,MST_BOL_NBR)
		SELECT A.BOL_ID,SUBSTRING(A.BOL_MST_BOL_DATA,42,16) MASTER_NBR
		FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK)  JOIN SCREEN_TEST.DBO.BL_BL B WITH (NOLOCK) 
		ON A.BOL_ID = B.T_NBR 
		WHERE B.DQA_BL_STATUS = 'CLEANSED' 
		AND A.RECORD_STATUS = 'PENDING' AND A.STND_VOYG_ID IS NULL 
		AND A.BOL_STATUS <> 'HOUSE' AND A.REF_VENDOR_CODE='AMS' 
		AND B.DQA_VOYAGE_ID IN (SELECT C.VOYAGE_ID FROM SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) 
		WHERE C.ACT_ARRIVAL_DT BETWEEN GETDATE()-180 AND GETDATE())	AND A.BOL_DIRECTION='I'
		AND A.MST_BOL_TYPE ='H' 

		-- SET STATUS ...
		INSERT INTO #TEMP_MASTER_BILL(BOL_ID,BOL_NBR,PPMM_FLAG)
		SELECT A.BOL_ID,A.BOL_NBR,PPMM_FLAG
		FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK) 
		JOIN #TEMP_MASTER_HOUSE MH
		ON (A.BOL_NBR = MH.MST_BOL_NBR AND A.BOL_ID <> MH.BOL_ID)
		WHERE A.BOL_STATUS NOT IN ('MASTER','LATEMASTER') 
		AND A.BOL_DIRECTION ='I' 
		AND A.REF_VENDOR_CODE = 'AMS'
		
		--PPMM FLAG IS Y
		UPDATE B WITH (UPDLOCK)
		SET BOL_STATUS='HOUSE', MODIFY_DATE = GETDATE()  
		FROM PES.DBO.PES_STG_BOL B JOIN #TEMP_MASTER_HOUSE MH
		ON B.BOL_ID=MH.BOL_ID
		JOIN #TEMP_MASTER_BILL MB
		ON (MH.MST_BOL_NBR = MB.BOL_NBR)
		WHERE B.BOL_DIRECTION ='I' 
		AND B.REF_VENDOR_CODE = 'AMS'
		AND MB.PPMM_FLAG='Y'

		--PPMM FLAG IS N
		UPDATE B WITH (UPDLOCK)
		SET BOL_STATUS='MASTER'  
		FROM PES.DBO.PES_STG_BOL B JOIN #TEMP_MASTER_BILL MB
		ON (B.BOL_ID = MB.BOL_ID)
		WHERE B.BOL_DIRECTION ='I' 
		AND B.REF_VENDOR_CODE = 'AMS'
		AND MB.PPMM_FLAG != 'Y'
		
		-- RELEASE MASTER BILLS 14 DAYS OLD 
		--SET LATEMASTER STATUS  
		UPDATE PES.DBO.PES_STG_BOL WITH (UPDLOCK) 
		SET BOL_STATUS='LATEMASTER',MODIFY_DATE = GETDATE()
		WHERE BOL_STATUS='TEMPMASTER' 
		AND DBO.MASTDATE(STND_VOYG_ID) < DATEADD(DD,DATEDIFF(D,0,GETDATE()),0) /*SET GETDATE WITH THE 00 HRS*/ 
		AND BOL_DIRECTION='I'
		AND REF_VENDOR_CODE = 'AMS'

		SELECT @MAXLOAD = MAX(ISNULL(A.REF_LOAD_NUM_ID,0)) 
		FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK)  
		WHERE A.REF_VENDOR_CODE='AMS'

		UPDATE PES_STG_BOL WITH (UPDLOCK)
		SET BOL_STATUS = 'READY FOR RELEASE', MODIFY_DATE = GETDATE()
		WHERE REF_LOAD_NUM_ID <= (@MAXLOAD-14000) 
		AND BOL_STATUS='TEMPMASTER' 
		AND BOL_DIRECTION='I' 
		AND REF_VENDOR_CODE='AMS'

		UPDATE SCREEN_TEST.DBO.BL_BL WITH (UPDLOCK)
		SET BOL_STATUS = A.BOL_STATUS 
		FROM PES.DBO.PES_STG_BOL A  WITH (NOLOCK)  JOIN SCREEN_TEST.DBO.BL_BL B 
		ON A.BOL_ID = B.T_NBR 
		WHERE B.BOL_STATUS IN ('READY','TEMPMASTER') 
		AND A.REF_VENDOR_CODE='AMS'		
	END
END

--DROP TEMPORARY TABLES
DROP TABLE #TEMP_MASTER_HOUSE
DROP TABLE #TEMP_MASTER_BILL

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT
GO
