/****** Object:  StoredProcedure [dbo].[FCHARGE]    Script Date: 01/03/2013 19:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FCHARGE] @STR VARCHAR(20)
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT



DECLARE @TRANNAME VARCHAR(20),@FILE VARCHAR(500),@FILE_NAME VARCHAR(50)
DECLARE @CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),
@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50),@LOADNUM INT,@DATE DATETIME,@TIME INT
SET @TRANNAME = 'MyTransaction'
SELECT @FILE = PATH FROM PES_CONFIGURATION  WITH (NOLOCK)  WHERE SOURCE='SP_LOG'

SELECT @FILE_NAME= FILENAME, @LOADNUM = LOADNUMBER FROM PES_PROGRESS_STATUS  WITH (NOLOCK)  WHERE LOAD_DT=(SELECT MAX(Load_DT) FROM PES_PROGRESS_STATUS  WITH (NOLOCK) )

SET @FILE='"'+@FILE+@FILE_NAME+'_LOG.TXT'+'"'

IF @STR='RAW_STAGING'

BEGIN
BEGIN TRY 

SET @DATE=GETDATE()


BEGIN TRANSACTION @TRANNAME

SET @CMD = 'ECHO PROCEDURE FCHARGE RAW_TO_STAGING EXECUTION STARTED' + '>>'+ @FILE
EXEC MASTER..XP_CMDSHELL @CMD 


UPDATE PES_STG_CMD WITH(UPDLOCK) SET CMD_FCHARGE=0 WHERE LOADNUMBER 
= @LOADNUM AND CMD_WGT_VALUE=0

CREATE TABLE #TEMP
( 
    CMD_ID INT,
	BOL_ID INT, 
    BOL_WGT FLOAT,
	HARM4 VARCHAR(4),
	USIB_CODE VARCHAR(5),
	FGNIB_CODE VARCHAR(5),
	FCHARGE FLOAT
)
-- #TEMP TABLE

INSERT INTO #TEMP (CMD_ID,BOL_ID,BOL_WGT,HARM4,USIB_CODE,FGNIB_CODE)
SELECT DISTINCT B.CMD_ID,A.BOL_ID,B.CMD_WGT_VALUE/2204.62 BOL_WGT,SUBSTRING(B.CMD_HSCODE,1,4) HARM4,
COALESCE(E.SOURCE,C.CODE) USIB_CODE,COALESCE(F.SOURCE,D.CODE) FGNIB_CODE
FROM PES_STG_BOL A  WITH (NOLOCK)  
INNER JOIN PES_STG_CMD B  WITH (NOLOCK) 
ON A.BOL_ID = B.BOL_ID
INNER JOIN REF_PORT C  WITH (NOLOCK) 
ON C.ID = PORT_DEPART_REF_ID
INNER JOIN REF_PORT D  WITH (NOLOCK)  
ON D.ID = PORT_ARRIVE_REF_ID
LEFT JOIN PES_PORT_CONVERSION E
ON C.CODE = E.TARGET
LEFT JOIN PES_PORT_CONVERSION F
ON D.CODE = F.TARGET
WHERE B.LOADNUMBER = @LOADNUM AND 
A.BOL_DIRECTION='I' AND B.CMD_WGT_VALUE!=0



UPDATE #TEMP SET FCHARGE = C.FCPMT 
FROM (SELECT A.CMD_ID CMD_ID,(A.BOL_WGT * B.FCPMT) AS FCPMT FROM #TEMP A, REF_FCHARGE B  WITH (NOLOCK)  
WHERE LTRIM(RTRIM(B.USPORT))+LTRIM(RTRIM(B.FPORT))+LTRIM(RTRIM(B.HARM4)) = 
LTRIM(RTRIM(A.USIB_CODE))+LTRIM(RTRIM(A.FGNIB_CODE))+LTRIM(RTRIM(A.HARM4)))C
WHERE C.CMD_ID = #TEMP.CMD_ID

-- IF KEY NOT FOUND, USE USPort Code+Foreign Port Code New + Harmcode4(1:2)


UPDATE #TEMP SET FCHARGE = C.FCPMT FROM
(SELECT A.CMD_ID,(A.BOL_WGT * B.FCPMT) AS FCPMT FROM #TEMP A, REF_FCHARGE B  WITH (NOLOCK)  WHERE 
LTRIM(RTRIM(B.USPORT))+LTRIM(RTRIM(B.FPORT))+LTRIM(RTRIM(B.HARM4)) = 
LTRIM(RTRIM(A.USIB_CODE))+LTRIM(RTRIM(A.FGNIB_CODE))+LTRIM(RTRIM(SUBSTRING(A.HARM4,1,2))) AND A.FCHARGE IS NULL)C 
WHERE C.CMD_ID = #TEMP.CMD_ID



-- IF KEY NOT FOUND, USE USPort Code+Foreign Port Code New + ALL

UPDATE #TEMP SET FCHARGE = C.FCPMT FROM
(SELECT A.CMD_ID,(A.BOL_WGT * B.FCPMT) AS FCPMT FROM #TEMP A, REF_FCHARGE B  WITH (NOLOCK)  WHERE 
LTRIM(RTRIM(B.USPORT))+LTRIM(RTRIM(B.FPORT))+LTRIM(RTRIM(B.HARM4)) = 
LTRIM(RTRIM(A.USIB_CODE))+LTRIM(RTRIM(A.FGNIB_CODE))+'ALL' AND A.FCHARGE IS NULL)C
WHERE C.CMD_ID = #TEMP.CMD_ID

-- LOOKUP KEY  Coast+ForeignPortCode New+Harmcode4

UPDATE #TEMP SET FCHARGE = C.FCPMT FROM
(SELECT A.CMD_ID,(A.BOL_WGT * B.FCPMT) AS FCPMT FROM #TEMP A, REF_FCHARGE B  WITH (NOLOCK)  WHERE 
LTRIM(RTRIM(B.USPORT))+LTRIM(RTRIM(B.FPORT))+LTRIM(RTRIM(B.HARM4)) = 
CASE SUBSTRING (LTRIM(RTRIM(A.USIB_CODE)),1,2)
WHEN '01' THEN '1' WHEN '02' THEN '1' WHEN '03' THEN '1'
WHEN '04' THEN '1' WHEN '05' THEN '1' WHEN '06' THEN '1'
WHEN '07' THEN '1' WHEN '08' THEN '1' WHEN '09' THEN '1'
WHEN '10' THEN '1' WHEN '11' THEN '1' WHEN '12' THEN '1'
WHEN '13' THEN '1' WHEN '14' THEN '1' WHEN '15' THEN '2'
WHEN '16' THEN '2' WHEN '17' THEN '2' WHEN '18' THEN '2'
WHEN '49' THEN '2' WHEN '52' THEN '2' WHEN '19' THEN '3'
WHEN '20' THEN '3' WHEN '21' THEN '3' WHEN '22' THEN '3'
WHEN '23' THEN '3' WHEN '24' THEN '3' WHEN '53' THEN '3'
WHEN '55' THEN '3' WHEN '25' THEN '4' WHEN '26' THEN '4'
WHEN '27' THEN '4' WHEN '28' THEN '4' WHEN '32' THEN '4' 
WHEN '29' THEN '5' WHEN '30' THEN '5' WHEN '31' THEN '5'
WHEN '37' THEN '6' WHEN '38' THEN '6' WHEN '39' THEN '6'
WHEN '41' THEN '6' END+LTRIM(RTRIM(A.FGNIB_CODE))+A.HARM4 AND A.FCHARGE IS NULL)C
WHERE C.CMD_ID = #TEMP.CMD_ID

-- LOOKUP KEY Coast     + Foreign Port Code(1:3) New +Harmcode4

UPDATE #TEMP SET FCHARGE = C.FCPMT FROM
(SELECT A.CMD_ID,(A.BOL_WGT * B.FCPMT) AS FCPMT FROM #TEMP A, REF_FCHARGE B  WITH (NOLOCK)  WHERE 
LTRIM(RTRIM(B.USPORT))+LTRIM(RTRIM(B.FPORT))+LTRIM(RTRIM(B.HARM4)) = 
CASE SUBSTRING (LTRIM(RTRIM(A.USIB_CODE)),1,2)
WHEN '01' THEN '1' WHEN '02' THEN '1' WHEN '03' THEN '1'
WHEN '04' THEN '1' WHEN '05' THEN '1' WHEN '06' THEN '1'
WHEN '07' THEN '1' WHEN '08' THEN '1' WHEN '09' THEN '1'
WHEN '10' THEN '1' WHEN '11' THEN '1' WHEN '12' THEN '1'
WHEN '13' THEN '1' WHEN '14' THEN '1' WHEN '15' THEN '2'
WHEN '16' THEN '2' WHEN '17' THEN '2' WHEN '18' THEN '2'
WHEN '49' THEN '2' WHEN '52' THEN '2' WHEN '19' THEN '3'
WHEN '20' THEN '3' WHEN '21' THEN '3' WHEN '22' THEN '3'
WHEN '23' THEN '3' WHEN '24' THEN '3' WHEN '53' THEN '3'
WHEN '55' THEN '3' WHEN '25' THEN '4' WHEN '26' THEN '4'
WHEN '27' THEN '4' WHEN '28' THEN '4' WHEN '32' THEN '4' 
WHEN '29' THEN '5' WHEN '30' THEN '5' WHEN '31' THEN '5'
WHEN '37' THEN '6' WHEN '38' THEN '6' WHEN '39' THEN '6'
WHEN '41' THEN '6' END+CASE SUBSTRING (LTRIM(RTRIM(A.FGNIB_CODE)),1,3)
WHEN '469' THEN '470' 
WHEN '903' THEN '247'
WHEN '911' THEN '247'
WHEN '684' THEN '681'
WHEN '733' THEN '714' END+A.HARM4 AND A.FCHARGE IS NULL)C
WHERE C.CMD_ID = #TEMP.CMD_ID

-- LOOKUP KEY Coast+Foreign Port Code(1:3) New+ALL
UPDATE #TEMP SET FCHARGE = C.FCPMT FROM
(SELECT A.CMD_ID,(A.BOL_WGT * B.FCPMT) AS FCPMT FROM #TEMP A, REF_FCHARGE B  WITH (NOLOCK)  WHERE 
LTRIM(RTRIM(B.USPORT))+LTRIM(RTRIM(B.FPORT))+LTRIM(RTRIM(B.HARM4)) = 
CASE SUBSTRING (LTRIM(RTRIM(A.USIB_CODE)),1,2)
WHEN '01' THEN '1' WHEN '02' THEN '1' WHEN '03' THEN '1'
WHEN '04' THEN '1' WHEN '05' THEN '1' WHEN '06' THEN '1'
WHEN '07' THEN '1' WHEN '08' THEN '1' WHEN '09' THEN '1'
WHEN '10' THEN '1' WHEN '11' THEN '1' WHEN '12' THEN '1'
WHEN '13' THEN '1' WHEN '14' THEN '1' WHEN '15' THEN '2'
WHEN '16' THEN '2' WHEN '17' THEN '2' WHEN '18' THEN '2'
WHEN '49' THEN '2' WHEN '52' THEN '2' WHEN '19' THEN '3'
WHEN '20' THEN '3' WHEN '21' THEN '3' WHEN '22' THEN '3'
WHEN '23' THEN '3' WHEN '24' THEN '3' WHEN '53' THEN '3'
WHEN '55' THEN '3' WHEN '25' THEN '4' WHEN '26' THEN '4'
WHEN '27' THEN '4' WHEN '28' THEN '4' WHEN '32' THEN '4' 
WHEN '29' THEN '5' WHEN '30' THEN '5' WHEN '31' THEN '5'
WHEN '37' THEN '6' WHEN '38' THEN '6' WHEN '39' THEN '6'
WHEN '41' THEN '6' END+CASE SUBSTRING (LTRIM(RTRIM(A.FGNIB_CODE)),1,3)
WHEN '469' THEN '470' 
WHEN '903' THEN '247'
WHEN '911' THEN '247'
WHEN '684' THEN '681'
WHEN '733' THEN '714' END+'ALL' AND A.FCHARGE IS NULL)C
WHERE C.CMD_ID = #TEMP.CMD_ID

UPDATE PES_STG_CMD WITH (UPDLOCK) SET CMD_FCHARGE = CASE WHEN CAST(ROUND(B.FCHARGE/1000,0) AS DECIMAL(12,0)) IS NULL 
THEN 0 ELSE CAST(ROUND(B.FCHARGE/1000,0) AS DECIMAL(12,0)) END
FROM  #TEMP B  WITH (NOLOCK)  
WHERE PES_STG_CMD.LOADNUMBER = @LOADNUM AND PES_STG_CMD.BOL_ID = B.BOL_ID AND PES_STG_CMD.CMD_ID = B.CMD_ID 

--UPDATE PES_STG_CMD WITH (UPDLOCK) SET CMD_FCHARGE=0  
--FROM PES_STG_CMD A, #TEMP B  WITH (NOLOCK)  
--WHERE A.CMD_ID = B.CMD_ID AND A.CMD_FCHARGE IS NULL

DROP TABLE #TEMP

--COMMITTING THE TRANSACTIONS IF NO ERROR OCCURRED
COMMIT TRANSACTION @TRANNAME
SET @TIME= DATEDIFF(N,GETDATE(),@DATE)

SET @cmd = 'ECHO PROCEDURE FCHARGE RAW_TO_STAGING EXECUTED SUCCESSFULLY'+ CAST(@TIME AS VARCHAR(20)) + ' >> '+ @FILE



END TRY
BEGIN CATCH
	SET @ERROR_NUMBER=ERROR_NUMBER()
	SET @ERROR_LINE=ERROR_LINE()
	SET @ERROR_MESSAGE='STORED PROCEDURE FCHARGE FAILED AT LINE NUMBER DURING RAW_TO_STAGING PHASE:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()
	
	SET @CMD = 'ECHO ERROR_MESSAGE-- '+@ERROR_MESSAGE+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
    SET @CMD = 'ECHO ERROR_NUMBER-- '+@ERROR_NUMBER+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
	SET @CMD = 'ECHO ERROR_LINE-- '+@ERROR_LINE+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
	SET @CMD = 'ECHO TRANSACTIONS ROLLBACKED'+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD
	RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG

	ROLLBACK TRANSACTION @TRANNAME
	  
END CATCH

END

IF @STR='UPDATE_STAGING'
BEGIN


CREATE TABLE #TEMP1
( 
    CMD_ID INT,
	BOL_ID INT, 
    BOL_WGT FLOAT,
	HARM4 VARCHAR(4),
	USIB_CODE VARCHAR(5),
	FGNIB_CODE VARCHAR(5),
	FCHARGE FLOAT
)
--TRUNCATE TABLE #TEMP1
INSERT INTO #TEMP1 (CMD_ID,BOL_ID,BOL_WGT,HARM4,USIB_CODE,FGNIB_CODE)
SELECT DISTINCT B.CMD_ID,A.BOL_ID,B.CMD_WGT_VALUE/2204.62 BOL_WGT,SUBSTRING(B.CMD_HSCODE,1,4) HARM4,
COALESCE(E.SOURCE,C.CODE) USIB_CODE,COALESCE(F.SOURCE,D.CODE) FGNIB_CODE
FROM PES_STG_BOL A  WITH (NOLOCK)  
INNER JOIN PES_STG_CMD B  WITH (NOLOCK) 
ON A.BOL_ID = B.BOL_ID
INNER JOIN REF_PORT C  WITH (NOLOCK) 
ON C.ID = PORT_DEPART_REF_ID
INNER JOIN REF_PORT D  WITH (NOLOCK)  
ON D.ID = PORT_ARRIVE_REF_ID
LEFT JOIN PES_PORT_CONVERSION E
ON C.CODE = E.TARGET
LEFT JOIN PES_PORT_CONVERSION F
ON D.CODE = F.TARGET
WHERE
A.BOL_DIRECTION='I' AND B.CMD_WGT_VALUE!=0 AND 
A.BOL_ID IN 
(SELECT BOL_ID FROM PES_STG_BOL A  WITH (NOLOCK)  ,SCREEN_TEST.DBO.BL_BL B  WITH (NOLOCK)  
WHERE B.DQA_BL_STATUS='CLEANSED' AND  A.RECORD_STATUS='PENDING' AND A.BOL_ID=B.T_NBR)



UPDATE #TEMP1 SET FCHARGE = C.FCPMT FROM
(SELECT A.CMD_ID CMD_ID,(A.BOL_WGT * B.FCPMT) AS FCPMT FROM #TEMP1 A  WITH (NOLOCK) , REF_FCHARGE B  WITH (NOLOCK)  WHERE 
LTRIM(RTRIM(B.USPORT))+LTRIM(RTRIM(B.FPORT))+LTRIM(RTRIM(B.HARM4)) = 
LTRIM(RTRIM(A.USIB_CODE))+LTRIM(RTRIM(A.FGNIB_CODE))+LTRIM(RTRIM(A.HARM4)))C
WHERE C.CMD_ID = #TEMP1.CMD_ID

-- IF KEY NOT FOUND, USE USPort Code+Foreign Port Code New + Harmcode4(1:2)
UPDATE #TEMP1 SET FCHARGE = C.FCPMT FROM
(SELECT A.CMD_ID,(A.BOL_WGT * B.FCPMT) AS FCPMT FROM #TEMP1 A  WITH (NOLOCK) , REF_FCHARGE B   WITH (NOLOCK)  WHERE 
LTRIM(RTRIM(B.USPORT))+LTRIM(RTRIM(B.FPORT))+LTRIM(RTRIM(B.HARM4)) = 
LTRIM(RTRIM(A.USIB_CODE))+LTRIM(RTRIM(A.FGNIB_CODE))+LTRIM(RTRIM(SUBSTRING(A.HARM4,1,2))) AND A.FCHARGE IS NULL)C 
WHERE C.CMD_ID = #TEMP1.CMD_ID



-- IF KEY NOT FOUND, USE USPort Code+Foreign Port Code New + ALL

UPDATE #TEMP1 SET FCHARGE = C.FCPMT FROM
(SELECT A.CMD_ID,(A.BOL_WGT * B.FCPMT) AS FCPMT FROM #TEMP1 A  WITH (NOLOCK) , REF_FCHARGE B  WITH (NOLOCK)  WHERE 
LTRIM(RTRIM(B.USPORT))+LTRIM(RTRIM(B.FPORT))+LTRIM(RTRIM(B.HARM4)) = 
LTRIM(RTRIM(A.USIB_CODE))+LTRIM(RTRIM(A.FGNIB_CODE))+'ALL' AND A.FCHARGE IS NULL)C
WHERE C.CMD_ID = #TEMP1.CMD_ID






-- LOOKUP KEY  Coast+ForeignPortCode New+Harmcode4

UPDATE #TEMP1 SET FCHARGE = C.FCPMT FROM
(SELECT A.CMD_ID,(A.BOL_WGT * B.FCPMT) AS FCPMT FROM #TEMP1 A  WITH (NOLOCK)  , REF_FCHARGE B  WITH (NOLOCK)  WHERE 
LTRIM(RTRIM(B.USPORT))+LTRIM(RTRIM(B.FPORT))+LTRIM(RTRIM(B.HARM4)) = 
CASE SUBSTRING (LTRIM(RTRIM(A.USIB_CODE)),1,2)
WHEN '01' THEN '1' WHEN '02' THEN '1' WHEN '03' THEN '1'
WHEN '04' THEN '1' WHEN '05' THEN '1' WHEN '06' THEN '1'
WHEN '07' THEN '1' WHEN '08' THEN '1' WHEN '09' THEN '1'
WHEN '10' THEN '1' WHEN '11' THEN '1' WHEN '12' THEN '1'
WHEN '13' THEN '1' WHEN '14' THEN '1' WHEN '15' THEN '2'
WHEN '16' THEN '2' WHEN '17' THEN '2' WHEN '18' THEN '2'
WHEN '49' THEN '2' WHEN '52' THEN '2' WHEN '19' THEN '3'
WHEN '20' THEN '3' WHEN '21' THEN '3' WHEN '22' THEN '3'
WHEN '23' THEN '3' WHEN '24' THEN '3' WHEN '53' THEN '3'
WHEN '55' THEN '3' WHEN '25' THEN '4' WHEN '26' THEN '4'
WHEN '27' THEN '4' WHEN '28' THEN '4' WHEN '32' THEN '4' 
WHEN '29' THEN '5' WHEN '30' THEN '5' WHEN '31' THEN '5'
WHEN '37' THEN '6' WHEN '38' THEN '6' WHEN '39' THEN '6'
WHEN '41' THEN '6' END+LTRIM(RTRIM(A.FGNIB_CODE))+A.HARM4 AND A.FCHARGE IS NULL)C
WHERE C.CMD_ID = #TEMP1.CMD_ID






-- LOOKUP KEY Coast     + Foreign Port Code(1:3) New +Harmcode4

UPDATE #TEMP1 SET FCHARGE = C.FCPMT FROM
(SELECT A.CMD_ID,(A.BOL_WGT * B.FCPMT) AS FCPMT FROM #TEMP1 A  WITH (NOLOCK) , REF_FCHARGE B  WITH (NOLOCK)  WHERE 
LTRIM(RTRIM(B.USPORT))+LTRIM(RTRIM(B.FPORT))+LTRIM(RTRIM(B.HARM4)) = 
CASE SUBSTRING (LTRIM(RTRIM(A.USIB_CODE)),1,2)
WHEN '01' THEN '1' WHEN '02' THEN '1' WHEN '03' THEN '1'
WHEN '04' THEN '1' WHEN '05' THEN '1' WHEN '06' THEN '1'
WHEN '07' THEN '1' WHEN '08' THEN '1' WHEN '09' THEN '1'
WHEN '10' THEN '1' WHEN '11' THEN '1' WHEN '12' THEN '1'
WHEN '13' THEN '1' WHEN '14' THEN '1' WHEN '15' THEN '2'
WHEN '16' THEN '2' WHEN '17' THEN '2' WHEN '18' THEN '2'
WHEN '49' THEN '2' WHEN '52' THEN '2' WHEN '19' THEN '3'
WHEN '20' THEN '3' WHEN '21' THEN '3' WHEN '22' THEN '3'
WHEN '23' THEN '3' WHEN '24' THEN '3' WHEN '53' THEN '3'
WHEN '55' THEN '3' WHEN '25' THEN '4' WHEN '26' THEN '4'
WHEN '27' THEN '4' WHEN '28' THEN '4' WHEN '32' THEN '4' 
WHEN '29' THEN '5' WHEN '30' THEN '5' WHEN '31' THEN '5'
WHEN '37' THEN '6' WHEN '38' THEN '6' WHEN '39' THEN '6'
WHEN '41' THEN '6' END+CASE SUBSTRING (LTRIM(RTRIM(A.FGNIB_CODE)),1,3)
WHEN '469' THEN '470' 
WHEN '903' THEN '247'
WHEN '911' THEN '247'
WHEN '684' THEN '681'
WHEN '733' THEN '714' END+A.HARM4 AND A.FCHARGE IS NULL)C
WHERE C.CMD_ID = #TEMP1.CMD_ID






-- LOOKUP KEY Coast+Foreign Port Code(1:3) New+ALL
UPDATE #TEMP1 SET FCHARGE = C.FCPMT FROM
(SELECT A.CMD_ID,(A.BOL_WGT * B.FCPMT) AS FCPMT FROM #TEMP1 A  WITH (NOLOCK) , REF_FCHARGE B  WITH (NOLOCK)  WHERE 
LTRIM(RTRIM(B.USPORT))+LTRIM(RTRIM(B.FPORT))+LTRIM(RTRIM(B.HARM4)) = 
CASE SUBSTRING (LTRIM(RTRIM(A.USIB_CODE)),1,2)
WHEN '01' THEN '1' WHEN '02' THEN '1' WHEN '03' THEN '1'
WHEN '04' THEN '1' WHEN '05' THEN '1' WHEN '06' THEN '1'
WHEN '07' THEN '1' WHEN '08' THEN '1' WHEN '09' THEN '1'
WHEN '10' THEN '1' WHEN '11' THEN '1' WHEN '12' THEN '1'
WHEN '13' THEN '1' WHEN '14' THEN '1' WHEN '15' THEN '2'
WHEN '16' THEN '2' WHEN '17' THEN '2' WHEN '18' THEN '2'
WHEN '49' THEN '2' WHEN '52' THEN '2' WHEN '19' THEN '3'
WHEN '20' THEN '3' WHEN '21' THEN '3' WHEN '22' THEN '3'
WHEN '23' THEN '3' WHEN '24' THEN '3' WHEN '53' THEN '3'
WHEN '55' THEN '3' WHEN '25' THEN '4' WHEN '26' THEN '4'
WHEN '27' THEN '4' WHEN '28' THEN '4' WHEN '32' THEN '4' 
WHEN '29' THEN '5' WHEN '30' THEN '5' WHEN '31' THEN '5'
WHEN '37' THEN '6' WHEN '38' THEN '6' WHEN '39' THEN '6'
WHEN '41' THEN '6' END+CASE SUBSTRING (LTRIM(RTRIM(A.FGNIB_CODE)),1,3)
WHEN '469' THEN '470' 
WHEN '903' THEN '247'
WHEN '911' THEN '247'
WHEN '684' THEN '681'
WHEN '733' THEN '714' END+'ALL' AND A.FCHARGE IS NULL)C
WHERE C.CMD_ID = #TEMP1.CMD_ID

UPDATE PES_STG_CMD SET CMD_FCHARGE = CAST(ROUND(B.FCHARGE/1000,0) AS DECIMAL(12,0)) FROM PES_STG_CMD A  WITH (NOLOCK) , #TEMP1 B  WITH (NOLOCK)  WHERE A.CMD_ID = B.CMD_ID
UPDATE PES_STG_CMD SET CMD_FCHARGE=0 FROM PES_STG_CMD A  WITH (NOLOCK) , #TEMP1 B  WITH (NOLOCK)  WHERE A.CMD_ID = B.CMD_ID AND CMD_FCHARGE IS NULL

DROP TABLE #TEMP1

END

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
