/****** Object:  StoredProcedure [dbo].[PES_REMOVE_DIS_DUPLICATES]    Script Date: 01/03/2013 19:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_REMOVE_DIS_DUPLICATES] 
( 
	@YEAR VARCHAR(20) = '2012',
	@MONTH VARCHAR(50) = '04,05,06,07,08',
	@DIS_VENDOR_CODE VARCHAR(20) = 'DIS',
    @OTHER_VENDOR_CODE VARCHAR(100) = 'APLU,ESCAN,CRLE,CSCO,EVER,MAEU,MES,OOLU,SBRE,TRBR'
)
AS

SET @MONTH =  REPLACE(@MONTH,',',''',''') 
SET @OTHER_VENDOR_CODE = REPLACE(@OTHER_VENDOR_CODE,',',''',''')

DECLARE @SQL NVARCHAR(500)
DECLARE @SQL2 NVARCHAR(500)
DECLARE @SQL3 NVARCHAR(500)

-- FIND THE DUPLICATE BILL NUMBERS FROM DIS AND OTHER FEEDS
SET @SQL2 = 'INSERT INTO  TEMP_PES.DBO.DIS_DUPLICATES SELECT D.BOL_ID, D.BOL_NUMBER,DISCHARGE_PORT, PORT_OF_DESTINATION, VOYAGE_NUMBER, D.SAILING_DATE FROM PES.DBO.ARCHIVE_RAW_BOL D (NOLOCK)  WHERE D.VENDOR_CODE= ''' +@DIS_VENDOR_CODE+ ''' AND SUBSTRING(D.SAILING_DATE,1,2) IN (''' +@MONTH+ ''') AND SUBSTRING(D.SAILING_DATE,5,4)=''' +@YEAR+ ''''
EXEC (@SQL2)

SET @SQL3 = 'INSERT INTO  TEMP_PES.DBO.ESCAN_DUPLICATES SELECT  D.BOL_ID, D.BOL_NUMBER,DISCHARGE_PORT, PORT_OF_DESTINATION, VOYAGE_NUMBER, D.SAILING_DATE  FROM PES.DBO.ARCHIVE_RAW_BOL D (NOLOCK)  WHERE D.VENDOR_CODE IN (''' +@OTHER_VENDOR_CODE+ ''') AND SUBSTRING(D.SAILING_DATE,1,2) IN (''' +@MONTH+ ''') AND SUBSTRING(D.SAILING_DATE,5,4)=''' +@YEAR+ ''''
EXEC (@SQL3)

INSERT INTO TEMP_PES.DBO.DISESCAN_DUPLICATES
SELECT E.BOL_ID, E.BOL_NUMBER,E.DISCHARGE_PORT, E.PORT_OF_DESTINATION, E.VOYAGE_NUMBER, E.SAILING_DATE,
	   D.BOL_ID DIS_BOL_ID, D.BOL_NUMBER DIS_BILL_NUMBER,D.DISCHARGE_PORT DIS_DISCHARGEPORT, 
       D.PORT_OF_DESTINATION DIS_PORTOFDESTINATION, D.VOYAGE_NUMBER DIS_VOYAGENUMBER, D.SAILING_DATE DIS_SAILINGDATE
FROM TEMP_PES.DBO.DIS_DUPLICATES D JOIN TEMP_PES.DBO.ESCAN_DUPLICATES E ON 
(D.BOL_NUMBER=E.BOL_NUMBER 
AND D.DISCHARGE_PORT=E.DISCHARGE_PORT 
AND D.PORT_OF_DESTINATION=E.PORT_OF_DESTINATION
--AND D.VOYAGE_NUMBER=E.VOYAGE_NUMBER
AND D.SAILING_DATE=E.SAILING_DATE)

SET XACT_ABORT ON
BEGIN TRAN

/*
/* DELETE DIS RECORDS - UPDATING THE STG BOL TABLE FOR THE DUPLICATE DIS ESCAN BOL_NUMBERS*/ 
UPDATE  STG
SET  STG.IS_DELETED='Y',MODIFY_DATE=GETDATE()
--SELECT * 
FROM PES.DBO.PES_STG_BOL  STG   WHERE STG.BOL_ID IN 
(SELECT DIS_BOL_ID FROM TEMP_PES.DBO.DISESCAN_DUPLICATES  WITH (NOLOCK))
AND STG.REF_VENDOR_CODE=@DIS_VENDOR_CODE
AND STG.IS_DELETED <> 'Y'
AND STG.REF_VENDOR_CODE='DIS'

/* UPDATING THE STG CMD TABLE FOR THE DUPLICATE DIS ESCAN BOL_NUMBERS*/ 

UPDATE  STGCMD
SET  STGCMD.IS_DELETE='Y',MODIFY_DATE=GETDATE()
--SELECT COUNT(*)
FROM PES.DBO.PES_STG_CMD STGCMD WHERE STGCMD.BOL_ID IN 
(SELECT DIS_BOL_ID FROM TEMP_PES.DBO.DISESCAN_DUPLICATES  WITH (NOLOCK))
AND STGCMD.IS_DELETE <> 'Y'

*/

/* UPDATING THE DW BOL TABLE FOR THE DUPLICATE DIS ESCAN BOL_NUMBERS*/
 
UPDATE  DW
SET DW.MODIFY_DATE=GETDATE(), DW.DELETED='Y'
--SELECT COUNT(*)
FROM PES_DW.PESDW.DBO.PES_DW_BOL  DW  WHERE DW.BOL_ID IN 
(SELECT DIS_BOL_ID FROM TEMP_PES.DBO.DISESCAN_DUPLICATES  WITH (NOLOCK))
--AND DW.VENDOR_CODE=@DIS_VENDOR_CODE
AND DW.VENDOR_CODE='DIS'
AND DW.DELETED <> 'Y'


/*
/* UPDATING THE DW CMD TABLE FOR THE DUPLICATE DIS ESCAN BOL_NUMBERS*/

UPDATE  DWCMD
SET DWCMD.MODIFY_DATE=GETDATE(), DWCMD.DELETED='Y'
--SELECT DWCMD.*
FROM PES_DW.PESDW.DBO.PES_DW_CMD  DWCMD (NOLOCK) WHERE DWCMD.BOL_ID IN 
(SELECT DIS_BOL_ID FROM TEMP_PES.DBO.DISESCAN_DUPLICATES  WITH (NOLOCK))
AND DWCMD.DELETED <> 'Y'
/*
*/

/* INSERTING ALL THE ONLY DIS DUPLICATE DATA INTO THE PHYSICAL TABLE */
SET @SQL = 'INSERT INTO TEMP_PES.DBO.ONLYDIS_DUPLICATES SELECT D.BOL_ID, D.BOL_NUMBER,DISCHARGE_PORT, PORT_OF_DESTINATION, VOYAGE_NUMBER, D.SAILING_DATE FROM PES.DBO.ARCHIVE_RAW_BOL D (NOLOCK)  WHERE D.VENDOR_CODE= ''' +@DIS_VENDOR_CODE+ ''' AND SUBSTRING(D.SAILING_DATE,1,2) IN (''' +@MONTH+ ''') AND SUBSTRING(D.SAILING_DATE,5,4)=''' +@YEAR+ ''''
EXEC (@SQL)

/* PULLING ALL THE DUPLICATE BOL_NBR FROM THE PHYSICAL TABLE WHAT HAS THE DUPLICATE DIS RECORDS */
;WITH CTE 
AS
(
SELECT	BOL_NUMBER,BOL_ID ,ROW_NUMBER() OVER (PARTITION BY BOL_NUMBER ORDER BY BOL_NUMBER ) AS ROWID
	FROM TEMP_PES.DBO.ONLYDIS_DUPLICATES
),
TMPA 
AS 
(
SELECT * FROM  CTE 
WHERE ROWID>1
)
SELECT * INTO TEMP FROM TMPA 

/* DELETE DUPLICATES FROM STG BOL TABLE FOR THE DUPLICATE DIS BOL_NUMBERS*/
UPDATE  STG
SET  STG.IS_DELETED='Y',MODIFY_DATE=GETDATE()
--SELECT COUNT(*)
FROM PES.DBO.PES_STG_BOL  STG   WHERE STG.BOL_ID IN 
(SELECT BOL_ID FROM TEMP  WITH (NOLOCK))
AND STG.REF_VENDOR_CODE='DIS'
AND STG.IS_DELETED <> 'Y'

/* DELETE DUPLICATES FROM STG CMD TABLE FOR THE DUPLICATE DIS BOL_NUMBERS*/
UPDATE  STGCMD
SET  STGCMD.IS_DELETE='Y',MODIFY_DATE=GETDATE()
--SELECT COUNT(*)
FROM PES.DBO.PES_STG_CMD  STGCMD   WHERE STGCMD.BOL_ID IN 
(SELECT BOL_ID FROM TEMP  WITH (NOLOCK))
AND STGCMD.IS_DELETE <> 'Y'

/* UPDATING THE DW BOL TABLE FOR THE DUPLICATE DIS BOL_NUMBERS*/
UPDATE  DW
SET DW.MODIFY_DATE=GETDATE(), DW.DELETED='Y'
--SELECT COUNT(*)
FROM PES_DW.PESDW.DBO.PES_DW_BOL  DW  WHERE DW.BOL_ID IN 
(SELECT BOL_ID FROM TEMP  WITH (NOLOCK))
AND DW.VENDOR_CODE='DIS'
AND DW.DELETED <> 'Y'

/* UPDATING THE DW CMD TABLE FOR THE DUPLICATE DIS BOL_NUMBERS*/

UPDATE  DWCMD
SET DWCMD.MODIFY_DATE=GETDATE(), DWCMD.DELETED='Y'
--SELECT COUNT(*)
FROM PES_DW.PESDW.DBO.PES_DW_CMD  DWCMD (NOLOCK) 
WHERE DWCMD.BOL_ID IN (SELECT BOL_ID FROM TEMP  WITH (NOLOCK))
	AND DWCMD.DELETED <> 'Y'
*/

TRUNCATE TABLE TEMP_PES.DBO.DIS_DUPLICATES
TRUNCATE TABLE TEMP_PES.DBO.ESCAN_DUPLICATES
TRUNCATE TABLE TEMP_PES.DBO.DISESCAN_DUPLICATES 
TRUNCATE TABLE TEMP_PES.DBO.ONLYDIS_DUPLICATES
DROP TABLE TEMP

SET XACT_ABORT OFF
IF(@@ERROR <> 0) 
BEGIN
		ROLLBACK TRAN
		PRINT N'ERROR: TRANSACTION ROLLED BACK DUPLICATES DELETE FAILED';
END
ELSE
BEGIN
        COMMIT TRAN
		PRINT N'DUPLICATES DELETED SUCCESSFULLY';
		
END
GO
