/****** Object:  StoredProcedure [dbo].[SP_GEN_PORTLINEFULL_FILE]    Script Date: 01/03/2013 19:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*************************************************************************
 AUTHOR:		DHANYA K S
 CREATE DATE:   27-SEP-2012
 DESCRIPTION:	THIS SP IS TO AUTOMATE THE VOLUME DASHBOARD QUERIES.IT
				GENERATES THE FILE PORTLINEFULL.TXT ON G: DRIVE
***************************************************************************/
CREATE PROCEDURE [dbo].[SP_GEN_PORTLINEFULL_FILE] 
AS
BEGIN
	-- SET NOCOUNT ON ADDED TO PREVENT EXTRA RESULT SETS FROM
	-- INTERFERING WITH SELECT STATEMENTS.
	SET NOCOUNT ON;

	-- VARIABLE DECLARATION 
	DECLARE @PDATE DATETIME
	SET @PDATE= (SELECT START_DT FROM [SCREEN_TEST].[DBO].[DQA_PROD_MONTH])

    -- DROP THE WORK.DBO.PORTLINEFULL TABLE IF EXISTS
	IF OBJECT_ID('WORK.DBO.PORTLINEFULL') IS NOT NULL DROP TABLE WORK.DBO.PORTLINEFULL

	-- INSERTING THE EXPORTS DATA BOL_DIRECTION = 'E' FOR LAST 4 MONTHS
		SELECT	YEAR(DW.VDATE) AS YEAR, 
				MONTH(DW.VDATE) AS MTH, 
				DW.BOL_DIRECTION, 
				SLINE.TYPE, 
				DPTPORT.PIERS_NAME AS USPORT, 
				ULTPORT.COUNTRY AS ULTCTRY, 
				(CASE	WHEN REF_VENDOR_CODE LIKE '[EI][A-Z][A-Z][A-Z][0-9][0-9]' THEN 'TYPE' 
						WHEN REF_VENDOR_CODE LIKE '%$HSU%' THEN 'HSUD' 
						WHEN REF_VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN' 
						WHEN REF_VENDOR_CODE LIKE '%$SES%' THEN 'SEST' 
						WHEN REF_VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'
						WHEN LEN(REF_VENDOR_CODE)>8 THEN 'OTHER' ELSE REF_VENDOR_CODE END) AS FEED, 
				SUM(DW.BOL_TEU) AS SUMOFTEUS,
				COUNT(DW.BOL_ID) AS COUNTOFBOLS
		INTO WORK.DBO.PORTLINEFULL
		FROM PES.DBO.PES_STG_BOL DW (NOLOCK) 
			LEFT OUTER JOIN PES.DBO.REF_PORT DPTPORT (NOLOCK) 
							ON DW.PORT_DEPART_REF_ID = DPTPORT.ID
			LEFT OUTER JOIN PES.DBO.REF_PORT ULTPORT (NOLOCK)	
							ON DW.ULTPORT_ID = ULTPORT.ID
			LEFT OUTER JOIN PES.DBO.REF_CARRIER SLINE (NOLOCK) 
							ON DW.SLINE_REF_ID = SLINE.ID
		WHERE   DW.VDATE > (SELECT DATEADD(YEAR, YEAR(@PDATE)-1900, DATEADD(MM, MONTH(@PDATE)-4, -1))) 
			AND DW.VDATE < (SELECT DATEADD(YEAR, YEAR(@PDATE)-1900, DATEADD(MM, MONTH(@PDATE), -1))) 
			AND DW.BOL_DIRECTION = 'E' 
			AND DW.IS_DELETED IS NULL
		GROUP BY YEAR(DW.VDATE), 
				MONTH(DW.VDATE), 
				DW.BOL_DIRECTION, 
				SLINE.TYPE, 
				DPTPORT.PIERS_NAME, 
				ULTPORT.COUNTRY, 
				(CASE	WHEN REF_VENDOR_CODE LIKE '[EI][A-Z][A-Z][A-Z][0-9][0-9]' THEN 'TYPE' 
						WHEN REF_VENDOR_CODE LIKE '%$HSU%' THEN 'HSUD' 
						WHEN REF_VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN' 
						WHEN REF_VENDOR_CODE LIKE '%$SES%' THEN 'SEST' 
						WHEN REF_VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'
						WHEN LEN(REF_VENDOR_CODE) > 8 THEN 'OTHER' ELSE REF_VENDOR_CODE END)
		
		-- INSERTING THE IMPORTS DATA BOL_DIRECTION = 'I' FOR LAST 4 MONTHS

		INSERT INTO [WORK].[DBO].[PORTLINEFULL]
					([YEAR]
					,[MTH]
					,[BOL_DIRECTION]
					,[TYPE]
					,[USPORT]
					,[ULTCTRY]
					,[FEED]
					,[SUMOFTEUS]
					,[COUNTOFBOLS])
			SELECT  YEAR(DW.VDATE) AS YEAR, 
					MONTH(DW.VDATE) AS MTH, 
					DW.BOL_DIRECTION, 
					SLINE.TYPE, 
					ARVPORT.PIERS_NAME AS USPORT, 
					ULTPORT.COUNTRY AS ULTCTRY, 
					(CASE	WHEN REF_VENDOR_CODE LIKE '[EI][A-Z][A-Z][A-Z][0-9][0-9]' THEN 'TYPE' 
							WHEN REF_VENDOR_CODE LIKE '%$HSU%' THEN 'HSUD' 
							WHEN REF_VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN' 
							WHEN REF_VENDOR_CODE LIKE '%$SES%' THEN 'SEST' 
							WHEN REF_VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'
							WHEN LEN(REF_VENDOR_CODE)>8 THEN 'OTHER' ELSE REF_VENDOR_CODE END) AS FEED, 
							SUM(DW.BOL_TEU) AS SUMOFTEUS, COUNT(DW.BOL_ID) AS COUNTOFBOLS
			FROM PES.DBO.PES_STG_BOL DW (NOLOCK) 
				LEFT OUTER JOIN PES.DBO.REF_PORT ARVPORT (NOLOCK) 
							 ON DW.PORT_ARRIVE_REF_ID = ARVPORT.ID
				LEFT OUTER JOIN PES.DBO.REF_PORT ULTPORT (NOLOCK) 
							 ON DW.ULTPORT_ID = ULTPORT.ID
				LEFT OUTER JOIN PES.DBO.REF_CARRIER SLINE (NOLOCK) 
							 ON DW.SLINE_REF_ID = SLINE.ID
			WHERE   DW.VDATE > (SELECT DATEADD(YEAR, YEAR(@PDATE)-1900, DATEADD(MM, MONTH(@PDATE)-4, -1))) 
				AND DW.VDATE < (SELECT DATEADD(YEAR, YEAR(@PDATE)-1900, DATEADD(MM, MONTH(@PDATE), -1))) 
				AND DW.BOL_DIRECTION = 'I' AND DW.IS_DELETED IS NULL 
			GROUP BY YEAR(DW.VDATE), 
					MONTH(DW.VDATE), 
					DW.BOL_DIRECTION, 
					SLINE.TYPE, 
					ARVPORT.PIERS_NAME,  
					ULTPORT.COUNTRY, 
					( CASE	WHEN REF_VENDOR_CODE LIKE '[EI][A-Z][A-Z][A-Z][0-9][0-9]' THEN 'TYPE' 
							WHEN REF_VENDOR_CODE LIKE '%$HSU%' THEN 'HSUD' 
							WHEN REF_VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN' 
							WHEN REF_VENDOR_CODE LIKE '%$SES%' THEN 'SEST' 
							WHEN REF_VENDOR_CODE LIKE '%$HRZ%' THEN 'HRZN'
							WHEN LEN(REF_VENDOR_CODE) > 8 THEN 'OTHER' ELSE REF_VENDOR_CODE END) 

EXEC xp_cmdshell 'bcp "SELECT * FROM Work.dbo.PortLineFull" queryout "G:\PortLineFull.txt" -T -c -t"|"' 
END
GO
