/****** Object:  StoredProcedure [dbo].[PES_LOAD_LIB_TRANSACTIONS_INTO_STG_PTY]    Script Date: 01/03/2013 19:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************************************
Script: [PES_LOAD_LIB_TRANSACTIONS_INTO_STG_PTY]
Modification Log: 
09/11/2012 - Dhanya: Changes made by CP for DE 1798 reverted back to 
					 original version
*******************************************************************************/  
CREATE PROCEDURE [dbo].[PES_LOAD_LIB_TRANSACTIONS_INTO_STG_PTY]  
    AS  
BEGIN  
  
-- [aa] - 11/28/2010  
-- Log start time  
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)  
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)  
,@ParametersIn = NULL  
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart  
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT  
  
 BEGIN TRY  
  DECLARE @CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),  
  @ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50)  
  
  INSERT INTO PES_STG_PTY  
  (STG_PTY_ID,  
  BOL_ID,  
  COMP_ID,  
  SOURCE,  
  MODIFIED_DT,  
  MODIFIED_BY)  
  (SELECT A.STR_PTY_ID,A.BOL_ID,(SELECT TOP 1 B.CLUSTER_ID FROM PES_VIEW_LIB_COMPANY B  
  WHERE B.COMP_ID=A.COMP_ID),A.SOURCE,GETDATE(),'PES' FROM PES_TRANSACTIONS_LIB_PTY A  WITH (NOLOCK)   
   WHERE A.STATUS='CLEANSED' AND A.STR_PTY_ID NOT IN(SELECT STG_PTY_ID FROM PES_STG_PTY WHERE STG_PTY_ID IS NOT NULL))  
  
  --UPDATE DATA WAREHOUSE WITH THE FIXED COMPANY_ID'S  
/*  
  UPDATE A SET A.CONGINEE_COMP_REF_ID=C.COMP_ID,MODIFY_DATE=GETDATE() FROM PESDW.PESDW.DBO.PES_DW_BOL A JOIN PES_STG_BOL B ON A.BOL_ID=B.BOL_ID  
  JOIN PES_STG_PTY C  WITH (NOLOCK)  ON A.BOL_ID=C.BOL_ID WHERE C.SOURCE='C' AND C.COMP_ID IS NOT NULL AND B.COMP_ID IS NULL   
  
  UPDATE A SET A.SHIPPER_COMP_REF_ID=C.COMP_ID,MODIFY_DATE=GETDATE() FROM PESDW.PESDW.DBO.PES_DW_BOL A JOIN PES_STG_BOL B  WITH (NOLOCK)  ON A.BOL_ID=B.BOL_ID  
  JOIN PES_STG_PTY C  WITH (NOLOCK)  ON A.BOL_ID=C.BOL_ID WHERE C.SOURCE='S' AND C.COMP_ID IS NOT NULL AND B.FCOMP_ID IS NULL   
  
  UPDATE A SET A.NOTIFY_COMP_REF_ID=C.COMP_ID,MODIFY_DATE=GETDATE() FROM PESDW.PESDW.DBO.PES_DW_BOL A JOIN PES_STG_BOL B  WITH (NOLOCK)  ON A.BOL_ID=B.BOL_ID  
  JOIN PES_STG_PTY C  WITH (NOLOCK)  ON A.BOL_ID=C.BOL_ID WHERE C.SOURCE='N' AND C.COMP_ID IS NOT NULL AND B.NTFCOMP_ID IS NULL   
  
  UPDATE A SET A.ALSO_NOTIFY_COMP_REF_ID=C.COMP_ID,MODIFY_DATE=GETDATE() FROM PESDW.PESDW.DBO.PES_DW_BOL A JOIN PES_STG_BOL B  WITH (NOLOCK)  ON A.BOL_ID=B.BOL_ID  
  JOIN PES_STG_PTY C  WITH (NOLOCK)  ON A.BOL_ID=C.BOL_ID WHERE C.SOURCE='A' AND C.COMP_ID IS NOT NULL AND B.ANTFCOMP_ID IS NULL   
  
*/  
  --UPDATE COMPANY_ID'S IN PES_STG_BOL AFTER EXCEPTIONS CORRECTION IN PES_TRANSACTIONS_LIB_PTY AND LOADED INTO PES_STG_PTY TABLE  
  
  UPDATE PES_STG_BOL SET PES_STG_BOL.COMP_ID=A.COMP_ID,PES_STG_BOL.COMP_LIB_ID=A.LIB_COMP_ID  
  FROM PES_STG_PTY A WHERE PES_STG_BOL.BOL_ID=  
  A.BOL_ID AND A.SOURCE='C' AND A.COMP_ID IS NOT NULL AND PES_STG_BOL.COMP_ID IS NULL   
  
  /* DE1798 Commented Original Update Query */ 
  /******Original update uncommented by Dhanya  09/11/2012 ******/
  UPDATE PES_STG_BOL SET PES_STG_BOL.FCOMP_ID=A.COMP_ID,PES_STG_BOL.FCOMP_LIB_ID=A.LIB_COMP_ID   
  FROM PES_STG_PTY A WHERE PES_STG_BOL.BOL_ID=A.BOL_ID AND A.SOURCE='S'  
  AND A.COMP_ID IS NOT NULL AND PES_STG_BOL.FCOMP_ID IS NULL 


  /************Start*****************Commented on 09/11/2012 by Dhanya************************* 
  --Start DE1798 New Updated Queries  
  UPDATE PES_STG_BOL SET PES_STG_BOL.FCOMP_ID=A.COMP_ID,PES_STG_BOL.FCOMP_LIB_ID=A.LIB_COMP_ID   
  FROM PES_STG_PTY A WHERE PES_STG_BOL.BOL_ID=A.BOL_ID AND A.SOURCE='S'  
  AND A.COMP_ID IS NOT NULL AND PES_STG_BOL.FCOMP_ID IS NULL   
  AND SCAC not in ('HRZD','SSLH')  
  --HRZD    
  UPDATE PES_STG_BOL SET PES_STG_BOL.FCOMP_ID=A.COMP_ID,PES_STG_BOL.FCOMP_LIB_ID=A.LIB_COMP_ID   
  FROM PES_STG_PTY A WHERE PES_STG_BOL.BOL_ID=A.BOL_ID AND A.SOURCE='S'  
  AND A.COMP_ID IS NOT NULL AND PES_STG_BOL.FCOMP_ID IS NULL   
  AND SCAC='HRZD' AND PORT_OF_DESTINATION<>'San Juan'  
  --SSLH  
  UPDATE PES_STG_BOL SET PES_STG_BOL.FCOMP_ID=A.COMP_ID,PES_STG_BOL.FCOMP_LIB_ID=A.LIB_COMP_ID   
  FROM PES_STG_PTY A WHERE PES_STG_BOL.BOL_ID=A.BOL_ID AND A.SOURCE='S'  
  AND A.COMP_ID IS NOT NULL AND PES_STG_BOL.FCOMP_ID IS NULL   
  AND SCAC='SSLH' AND PORT_OF_DEPARTURE<>'San Juan'  
  --End DE1798  
  *************End*******************Commented on 09/11/2012 by Dhanya***************************/
  
  UPDATE PES_STG_BOL SET PES_STG_BOL.NTFCOMP_ID=A.COMP_ID,PES_STG_BOL.NTFCOMP_LIB_ID=A.LIB_COMP_ID  
  FROM PES_STG_PTY A   
  WHERE PES_STG_BOL.BOL_ID=A.BOL_ID AND A.SOURCE='N'   
  AND A.COMP_ID IS NOT NULL AND PES_STG_BOL.NTFCOMP_ID IS NULL   
  
  UPDATE PES_STG_BOL SET PES_STG_BOL.ANTFCOMP_ID=A.COMP_ID,PES_STG_BOL.ANTFCOMP_LIB_ID=A.LIB_COMP_ID   
  FROM PES_STG_PTY A   
  WHERE PES_STG_BOL.BOL_ID=A.BOL_ID AND A.SOURCE='A'   
  AND A.COMP_ID IS NOT NULL AND PES_STG_BOL.ANTFCOMP_ID IS NULL   
  
 END TRY  
 BEGIN CATCH  
  SET @ERROR_NUMBER=ERROR_NUMBER()  
  SET @ERROR_LINE=ERROR_LINE()  
  SET @ERROR_MESSAGE='STORED PROCEDURE PES_LOAD_LIB_TRANSACTIONS_INTO_STG_PTY FAILED AT LINE NUMBER:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()  
  
  RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG  
 END CATCH  
  
-- [aa] - 11/28/2010  
-- Log end time  
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd  
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT  
  
END
GO
