/****** Object:  StoredProcedure [dbo].[USP_PES_ROLLUP_COMPANY]    Script Date: 01/03/2013 19:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_PES_ROLLUP_COMPANY]
AS 
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


DECLARE @ROLLUP_COUNT INT
SELECT @ROLLUP_COUNT=COUNT(*) FROM PES_MERGE_WORK  WITH (NOLOCK)  WHERE UPDATE_STATUS=0 

IF @ROLLUP_COUNT>0
BEGIN

DECLARE @TRANNAME VARCHAR(20),@TRANNAME1 VARCHAR(20), @ERROR_MESSAGE VARCHAR(1000),  
@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50)  
SET @TRANNAME = 'MyTransaction'  

BEGIN TRY  

BEGIN TRANSACTION @TRANNAME 

--SET WORK IN PROGRESS FOR MERGE WORK UPDATE
Update PES_MERGE_WORK WITH (UPDLOCK) Set update_status=NULL Where update_status = 0

--UPDATE THE PES_REF_COMPANY CANADIAN STATES BASED ON THE TABLE
update a set a.state=b.state_code,modified_dt=getdate()
from pes.dbo.pes_ref_company a
  join dbo.PES_Company_CanadaCityState b
    on a.city=b.city and a.state<>b.state_code and a.country='122'
where a.country='122'

--UPDATE THE PES_REF_COMPANY STATET OF CARIRREAN COUNTRIES
update a set a.state=b.st,modified_dt=getdate()
from dbo.pes_ref_company a
  join dbo.PES_Company_CaribbeanState b
    on a.country=b.ctrycode and a.state<>b.st

--CHANGE THE CLUSTER_ID IN PES_LIB_COMPANY
UPDATE A WITH (UPDLOCK) SET A.CLUSTER_ID=B.TO_COMP_ID FROM PES_LIB_COMPANY A
JOIN PES_MERGE_WORK B  WITH (NOLOCK)  ON A.CLUSTER_ID=B.FROM_COMP_ID 

--UPDATE STAGING
UPDATE A WITH (UPDLOCK) SET A.COMP_ID=B.TO_COMP_ID FROM PES_TRANSACTIONS_LIB_PTY A
JOIN PES_MERGE_WORK B  WITH (NOLOCK)  ON A.COMP_ID=B.FROM_COMP_ID WHERE A.STATUS='CLEANSED'

UPDATE A WITH (UPDLOCK) SET A.COMP_ID=B.TO_COMP_ID FROM PES_TRANSACTIONS_LIB_PTY A
JOIN PES_MERGE_WORK B  WITH (NOLOCK)  ON A.COMP_ID=B.FROM_COMP_ID WHERE A.STATUS='CLEANSED'


UPDATE A WITH (UPDLOCK) SET A.COMP_ID=B.TO_COMP_ID FROM PES_TRANSACTION_MATCH_PTY A
JOIN PES_MERGE_WORK B  WITH (NOLOCK)  ON A.COMP_ID=B.FROM_COMP_ID 


UPDATE A WITH (UPDLOCK) SET A.COMP_ID=B.TO_COMP_ID FROM PES_TRANSACTION_MATCH_PTY A
JOIN PES_MERGE_WORK B  WITH (NOLOCK)  ON A.COMP_ID=B.FROM_COMP_ID 

UPDATE A WITH (UPDLOCK) SET A.COMP_ID=B.TO_COMP_ID FROM PES_STG_PTY A
JOIN PES_MERGE_WORK B  WITH (NOLOCK)  ON A.COMP_ID=B.FROM_COMP_ID 


UPDATE A WITH (UPDLOCK) SET A.COMP_ID=B.TO_COMP_ID FROM PES_STG_PTY A
JOIN PES_MERGE_WORK B  WITH (NOLOCK)  ON A.COMP_ID=B.FROM_COMP_ID 

UPDATE A WITH (UPDLOCK) SET A.COMP_ID=B.TO_COMP_ID FROM PES_STG_BOL A
JOIN PES_MERGE_WORK B  WITH (NOLOCK)  ON A.COMP_ID=B.FROM_COMP_ID 

UPDATE A WITH (UPDLOCK) SET A.COMP_ID=B.TO_COMP_ID FROM PES_STG_BOL A
JOIN PES_MERGE_WORK B  WITH (NOLOCK)  ON A.COMP_ID=B.FROM_COMP_ID 


UPDATE A WITH (UPDLOCK) SET A.FCOMP_ID=B.TO_COMP_ID FROM PES_STG_BOL A
JOIN PES_MERGE_WORK B  WITH (NOLOCK)  ON A.FCOMP_ID=B.FROM_COMP_ID

UPDATE A WITH (UPDLOCK) SET A.FCOMP_ID=B.TO_COMP_ID FROM PES_STG_BOL A
JOIN PES_MERGE_WORK B  WITH (NOLOCK)  ON A.FCOMP_ID=B.FROM_COMP_ID


UPDATE A WITH (UPDLOCK) SET A.NTFCOMP_ID=B.TO_COMP_ID FROM PES_STG_BOL A
JOIN PES_MERGE_WORK B  WITH (NOLOCK) ON A.NTFCOMP_ID=B.FROM_COMP_ID

UPDATE A WITH (UPDLOCK) SET A.NTFCOMP_ID=B.TO_COMP_ID FROM PES_STG_BOL A
JOIN PES_MERGE_WORK B  WITH (NOLOCK) ON A.NTFCOMP_ID=B.FROM_COMP_ID


UPDATE A WITH (UPDLOCK) SET A.ANTFCOMP_ID=B.TO_COMP_ID FROM PES_STG_BOL A
JOIN PES_MERGE_WORK B  WITH (NOLOCK)  ON A.ANTFCOMP_ID=B.FROM_COMP_ID

UPDATE A WITH (UPDLOCK) SET A.ANTFCOMP_ID=B.TO_COMP_ID FROM PES_STG_BOL A
JOIN PES_MERGE_WORK B  WITH (NOLOCK)  ON A.ANTFCOMP_ID=B.FROM_COMP_ID




COMMIT TRANSACTION @TRANNAME  



END TRY
BEGIN CATCH  
  SET @ERROR_NUMBER=ERROR_NUMBER()  
  SET @ERROR_LINE=ERROR_LINE()  
  SET @ERROR_MESSAGE='Stored Procedure USP_PES_COMPANY_ROLLUP failed in Stage-1 with ERROR DESCRIPTION:  '+ERROR_MESSAGE()  
  
  ROLLBACK TRANSACTION @TRANNAME  
  
  EXEC PES_SP_EMAIL 'Company Rollup Process Failed','Company Rollup Process Failed',@ERROR_MESSAGE,@ERROR_LINE,@ERROR_NUMBER  
  RAISERROR('USP_PES_ROLLUP_COMPANY FAILED in Stage-1',21,1) WITH LOG
 
END CATCH
BEGIN TRY
--UPDATE SAVVIS DATAWAREHOUSE
EXEC PES_DW.PESDW.DBO.USP_PES_DW_ROLLUP_COMPANY
END TRY
BEGIN CATCH
RAISERROR('USP_PES_DW_ROLLUP_COMPANY OF SAVVIS FAILED',21,1) WITH LOG
END CATCH

--BEGIN TRY (not required as there is no more newark enviroment for DW to load informix
----UPDATE NEWARK DATAWAREHOUSE
--EXEC UAT02.PESDW.DBO.USP_PES_DW_ROLLUP_COMPANY
--END TRY
--BEGIN CATCH
--RAISERROR('USP_PES_DW_ROLLUP_COMPANY OF NEWARK FAILED',21,1) WITH LOG
--END CATCH

BEGIN TRY  

BEGIN TRANSACTION @TRANNAME1 

UPDATE PES_MERGE_WORK WITH (UPDLOCK) SET UPDATE_STATUS=1,LAST_EXECUTED=GETDATE()
WHERE UPDATE_STATUS IS NULL


EXEC PES_SP_EMAIL 'Company Rollup Process Successfuly Completed','Company Rollup Process Successfuly Completed','','',''

COMMIT TRANSACTION @TRANNAME1


END TRY

BEGIN CATCH  
  SET @ERROR_NUMBER=ERROR_NUMBER()  
  SET @ERROR_LINE=ERROR_LINE()  
  SET @ERROR_MESSAGE='Stored Procedure USP_PES_COMPANY_ROLLUP failed in Stage-2 with ERROR DESCRIPTION:  '+ERROR_MESSAGE()  
  
  ROLLBACK TRANSACTION @TRANNAME1  
  
  EXEC PES_SP_EMAIL 'Company Rollup Process Failed','Company Rollup Process Failed',@ERROR_MESSAGE,@ERROR_LINE,@ERROR_NUMBER  

  RAISERROR('USP_PES_ROLLUP_COMPANY FAILED in Stage-2',21,1) WITH LOG
 
END CATCH

END




--Update the company detail with transactional information

UPDATE dbo.PES_Ref_Company_Detail SET LastShipmentDate=
vdate FROM [V_PES_REF_COMPANY_VDateMax] INNER JOIN PES_Ref_Company_Detail ON [V_PES_REF_COMPANY_VDateMax].cid= PES_Ref_Company_Detail.Comp_ID

UPDATE dbo.PES_Ref_Company_Detail SET ShipmentCount24Months=
NumberOfShipments FROM [V_PES_REF_COMPANY_VDate_BOL24] INNER JOIN PES_Ref_Company_Detail ON [V_PES_REF_COMPANY_VDate_BOL24].cid= PES_Ref_Company_Detail.Comp_ID

UPDATE dbo.PES_Ref_Company_Detail SET ShipmentCount12Months=
NumberOfShipments FROM [V_PES_REF_COMPANY_VDate_BOL12] INNER JOIN PES_Ref_Company_Detail ON [V_PES_REF_COMPANY_VDate_BOL12].cid= PES_Ref_Company_Detail.Comp_ID

---------------------



-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
