/****** Object:  StoredProcedure [dbo].[USP_PES_SHORT_DESC_STG_CMD]    Script Date: 01/03/2013 19:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_PES_SHORT_DESC_STG_CMD] @TNBR  INT, @RETDESC VARCHAR(8000)  OUTPUT 
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


DECLARE @TRANNAME VARCHAR(20),@FILE VARCHAR(500),@FILE_NAME VARCHAR(50)
DECLARE @CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),
@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50),@LOADNUM INT
SET @TRANNAME = 'MYTRANSACTION'

SELECT @FILE = PATH 
FROM PES.DBO.PES_CONFIGURATION  WITH (NOLOCK) 
WHERE SOURCE='SP_LOG'

SELECT @FILE_NAME= FILENAME 
FROM PES.DBO.PES_PROGRESS_STATUS  WITH (NOLOCK) 
WHERE LOADNUMBER=(
					SELECT TOP 1 LOAD_NUMBER 
					FROM PES.DBO.RAW_BOL  WITH (NOLOCK) 
				 )

SET @FILE='"'+@FILE+@FILE_NAME+'_LOG.TXT'+'"'

BEGIN TRANSACTION @TRANNAME

BEGIN TRY

DECLARE @CMDSDESC			VARCHAR(8000)
DECLARE @ENH_DESC			VARCHAR(8000)
DECLARE @CLEANCMDSDESC		VARCHAR(8000)
DECLARE	@TEMPDESC			VARCHAR(8000)
DECLARE	@CMD_SEQ_NBR		NUMERIC(4,0)
DECLARE @ENH_SEQ_NBR		NUMERIC(4,0)
DECLARE @PIERS_PIECE_CNT	NUMERIC(12,0)
DECLARE @PIERS_PIECE_CNT1	NUMERIC(12,0)
DECLARE @PIERS_PIECE_UNIT	VARCHAR(9)
DECLARE @CONFIDENCE_FACTOR	NUMERIC(5,3)
DECLARE @UM					VARCHAR(3)
DECLARE @TOTALCF			NUMERIC (12,2)
DECLARE @TOTALQTY			NUMERIC (12,0)
DECLARE @BOL_QTY			NUMERIC (12,2)
DECLARE @SHORTDESCCNT		INT
DECLARE @CONFLAG			CHAR(1)
DECLARE @CMD_CD				VARCHAR(10)
DECLARE @NOCOMMODITYCOUNT	INT
DECLARE @BOL_WGT			FLOAT
DECLARE @CONQTY				INT
DECLARE @CONVOL				NUMERIC(18,0)
DECLARE @RECORD_STATUS		VARCHAR(50)
DECLARE @ID					INT
DECLARE @MFEST_QTY			NUMERIC(11,0)
DECLARE @MFEST_UNITS		VARCHAR(5)
DECLARE @VOYAGE_ID			NUMERIC(12,0)
DECLARE @PREV_SEQ_NBR		NUMERIC(4,0)
DECLARE @BATCH_ID			VARCHAR(10)
DECLARE @JOC_CD				VARCHAR(10)
DECLARE @HCS_REPORCESSED	VARCHAR(1)
DECLARE @CMD_STATUS			VARCHAR(50)
DECLARE @DIR				VARCHAR(1)
DECLARE @DIRECTION			VARCHAR(1)
DECLARE @MFEST_UNIT			VARCHAR(5)
DECLARE @CONSIZE			VARCHAR(2)
DECLARE @SHORTDESCCNT1		INT
DECLARE @WGT				FLOAT

--Modified by Cognizant Start
----------------------------------------------
DECLARE @PARTIAL_CODE       CHAR(1)
DECLARE @QTY_FLAG			CHAR(1)
DECLARE @VALID_PARTIAL_CMD	CHAR(1)
DECLARE @INVALID_PARTIAL_CMD CHAR(1)
DECLARE @PARTIALCODED_CNT	INT
DECLARE @VALID_PARTIAL_CMD_CNT	INT
DECLARE @INVALID_PARTIAL_CMD_CNT INT
DECLARE @TOTALQTY_CODING NUMERIC(12,0)

SET @QTY_FLAG = 'N'
SET @PARTIAL_CODE = 'N'
SET	@VALID_PARTIAL_CMD = 'N'	
SET	@INVALID_PARTIAL_CMD = 'N'
SET	@PARTIALCODED_CNT = 0
SET	@VALID_PARTIAL_CMD_CNT = 0
SET	@INVALID_PARTIAL_CMD_CNT = 0
SET @TOTALQTY_CODING = 0
------------------------------------------------
--Modified by Cognizant End

SET @PREV_SEQ_NBR=0
SET @TOTALCF=0
SET @TOTALQTY=0
SET @SHORTDESCCNT=0
SET @MFEST_QTY =0
SET @WGT = 0


--------CREATE @TEMP_BL_CMDS TABLE------------

DECLARE  @TEMP_BL_CMDS TABLE
(
BOL_ID NUMERIC(12,0),
ENH_DESC TEXT,
CMD_CD VARCHAR(10),
PIERS_PIECE_UNIT VARCHAR(9),
PIERS_PIECE_CNT NUMERIC(12,0),
CONFIDENCE_FACTOR NUMERIC(5,3),
CMD_SEQ_NBR NUMERIC(4,0),
ENH_SEQ_NBR NUMERIC(4,0),

--ADDED BY CTS ON 9TH JUNE
CMD_STATUS VARCHAR(50),
DIRECTION VARCHAR(1),
BOL_QTY NUMERIC(12,0),
MFEST_UNIT VARCHAR(5),
CONQTY INT,
CONFLAG VARCHAR(1),
CONVOL INT,
CONSIZE VARCHAR(2),
RAW_CMD_PIECE_CNT NUMERIC(12,0),
UNIT_FLAG CHAR(1),
RAW_WGT NUMERIC(22,6),
RAW_PIECE_UNIT VARCHAR(10),
CMD_DESC VARCHAR(8000),
REF_PIECE_UNIT_ID INT,
RAW_WGT_UNIT VARCHAR(5)
)

---INSERT RECORDS RETURN WHEN THE COMMODITY IS PASSED THROUGH HCS.EXE
--MODIFIED BY CTS ON 11TH AUGUST FOR NEW COMMODITY LOGIC
SELECT	@DIR =BOL_DIRECTION,@BOL_QTY=BOL_QTY,@MFEST_UNIT=MANIFEST_UNIT,@CONQTY=ISNULL(CONQTY,0),@CONFLAG=ISNULL(CONFLAG,' '),@VOYAGE_ID = STND_VOYG_ID,
		@CONVOL=ISNULL(CONVOL,0),@BOL_WGT =BOL_WGT,@RECORD_STATUS=RECORD_STATUS,@LOADNUM=REF_LOAD_NUM_ID,@BATCH_ID = BATCH_ID, @CONSIZE = ISNULL(CONSIZE,'  ')
FROM	PES_STG_BOL  WITH (NOLOCK)  WHERE BOL_ID = @TNBR

INSERT INTO @TEMP_BL_CMDS 
SELECT		A.BOL_ID,A.ENH_DESC, ISNULL(A.CMD_CD,'') CMD_CD  , A.PIERS_PIECE_UNIT, 
			ISNULL(A.PIERS_PIECE_CNT,0),ISNULL(A.CONFIDENCE_FACTOR,0) CONFIDENCE_FACTOR, 
			A.CMD_SEQ_NBR, A.ENH_SEQ_NBR ,A.DQA_CMDS_STATUS CMD_STATUS,
			@DIR,@BOL_QTY,@MFEST_UNIT,@CONQTY,@CONFLAG,@CONVOL,@CONSIZE,
			B.PIECE_COUNT,'N', B.HARM_WEIGHT,B.PACKAGEUNIT,
			DBO.PES_UDF_SHORT_DESC_BL_CMDS(
			LTRIM(RTRIM(REPLACE(REPLACE(REPLACE(REPLACE(
			ISNULL(CONVERT(VARCHAR(8000),A.ENH_DESC),''),'"',''),CHAR(1),' '),CHAR(2),' '),CHAR(3),' ')))
			,ISNULL(A.CMD_CD,'')) AS CMD_DESC,0,HARM_UNIT

FROM		PES.DBO.HCS_COMMODITY  A WITH (NOLOCK) 
			LEFT JOIN ARCHIVE_RAW_CMD  B WITH (NOLOCK)
			ON A.CMD_SEQ_NBR = B.SEQUENCENO AND A.BOL_ID = B.BOL_ID
WHERE		A.BOL_ID=@TNBR 
ORDER BY	A.BOL_ID, A.CMD_SEQ_NBR, A.ENH_SEQ_NBR 




--Modified by Cognizant Start
--ADDED FOR MISSING COMMODITY LOGIC	

DELETE FROM @TEMP_BL_CMDS WHERE CMD_STATUS = 'CODED' AND PIERS_PIECE_CNT =0 AND CONFIDENCE_FACTOR = 0
--DELETE FROM @TEMP_BL_CMDS WHERE CMD_STATUS = 'CODED' AND DIRECTION = 'I' 
--DELETE FROM @TEMP_BL_CMDS WHERE CMD_STATUS = 'CODED' AND PIERS_PIECE_CNT = 0 AND DIRECTION = 'E'

--Modified by Cognizant END
------------------------------------------------------------------------------------------------------------------------------------------
--Modified by Cognizant on March 20, 2010 Start

/*
--CREATE SHORT DESCRIPTION FOR ALL THE COMMODITIES IN A BILL
DECLARE SHORTDESC CURSOR FOR  
	SELECT CMD_SEQ_NBR, ENH_SEQ_NBR,ENH_DESC,CMD_CD FROM @TEMP_BL_CMDS 

OPEN SHORTDESC

FETCH NEXT FROM SHORTDESC INTO  @CMD_SEQ_NBR,@ENH_SEQ_NBR ,@CMDSDESC,@CMD_CD

WHILE @@FETCH_STATUS = 0
BEGIN
	IF @CMDSDESC IS NULL 
	SET @CMDSDESC=''

	IF   @CMDSDESC IS NOT NULL	
	SET @TEMPDESC=@CMDSDESC

	IF   @CMDSDESC IS NULL
	SET @CMDSDESC=@TEMPDESC

	SET  @CLEANCMDSDESC = LTRIM(RTRIM(REPLACE(@CMDSDESC,'"','')));
    SET @CLEANCMDSDESC = REPLACE(REPLACE(REPLACE(@CLEANCMDSDESC,CHAR(1),' '),CHAR(2),' '),CHAR(3),' ');

    SELECT @RETDESC= PES.DBO.SHORT_DESC_BL_CMDS(@CLEANCMDSDESC,@CMD_CD)

	UPDATE @TEMP_BL_CMDS SET ENH_DESC=@RETDESC WHERE CMD_SEQ_NBR=@CMD_SEQ_NBR AND
	ENH_SEQ_NBR=@ENH_SEQ_NBR AND BOL_ID=@TNBR
  

FETCH NEXT FROM SHORTDESC INTO  @CMD_SEQ_NBR,@ENH_SEQ_NBR ,@CMDSDESC,@CMD_CD

END
CLOSE SHORTDESC
DEALLOCATE SHORTDESC
---------------------------------------------------------------------------------------------------------------------------------------
*/

---------------------------------------------------------------------------------------------------------------------------------------
--SHORT DESCRIPTION PROCESSING 
--Modified by Cognizant on March 20, 2010 End

-------------------------------------------------------------------------------------------------------------
--Modified by Cognizant Start

SELECT	@TOTALCF=SUM(CONFIDENCE_FACTOR) FROM @TEMP_BL_CMDS
SELECT  @TOTALQTY=SUM(PIERS_PIECE_CNT) FROM @TEMP_BL_CMDS

IF @TOTALQTY > 0
SET @QTY_FLAG = 'Y'

SELECT @PARTIALCODED_CNT = COUNT(BOL_ID) FROM @TEMP_BL_CMDS WHERE CONFIDENCE_FACTOR = 0

IF @PARTIALCODED_CNT > 0
SET @PARTIAL_CODE ='Y'

SELECT @VALID_PARTIAL_CMD_CNT = COUNT(BOL_ID) FROM @TEMP_BL_CMDS WHERE PIERS_PIECE_CNT>0 AND CONFIDENCE_FACTOR > 0

IF @VALID_PARTIAL_CMD_CNT > 0
SET @VALID_PARTIAL_CMD = 'Y'

---get the no of uncoded commodities(confidence factor = 0) having single word 
SELECT @INVALID_PARTIAL_CMD_CNT = COUNT(*) FROM 
(
SELECT CMD_SEQ_NBR,ENH_SEQ_NBR,
CASE WHEN CHARINDEX(' ',CMD_DESC)>0 
THEN (
				CASE WHEN CHARINDEX(' ',LTRIM(RTRIM(
								SUBSTRING(
								LTRIM(RTRIM(CMD_DESC)),CHARINDEX(' ',LTRIM(RTRIM(CMD_DESC)))+1,LEN(LTRIM(RTRIM(CMD_DESC)))
										)
											))
									)>0
				THEN 'N' 
				ELSE (
						CASE WHEN PATINDEX('%[1-9]%',LTRIM(RTRIM(CMD_DESC)))>0 
						THEN 'Y' ELSE 'N' END
					  )
				END
	)
ELSE 'Y'
END ISSINGLEWORD 
FROM @TEMP_BL_CMDS WHERE CONFIDENCE_FACTOR = 0
) A
WHERE ISSINGLEWORD ='Y'

-------------------------------------------------------------------------
--DELETION of Commodities which are UNCODED based on total qty, valid commodity and invalid commodity
IF @INVALID_PARTIAL_CMD_CNT>0
SET @INVALID_PARTIAL_CMD = 'Y'

IF @VALID_PARTIAL_CMD = 'N'
SET @INVALID_PARTIAL_CMD = 'N'

IF((@BOL_QTY != @TOTALQTY OR @VALID_PARTIAL_CMD = 'N' OR @INVALID_PARTIAL_CMD='Y') AND  @PARTIAL_CODE ='Y')
DELETE FROM @TEMP_BL_CMDS WHERE CONFIDENCE_FACTOR = 0 AND LTRIM(RTRIM(CAST(ENH_DESC AS VARCHAR(30))))<> LTRIM(RTRIM('<# NO > <? COMMODITY >')) 

UPDATE @TEMP_BL_CMDS
SET PIERS_PIECE_CNT = RAW_CMD_PIECE_CNT
WHERE CMD_SEQ_NBR IN (
SELECT CMD_SEQ_NBR FROM @TEMP_BL_CMDS
GROUP BY CMD_SEQ_NBR  HAVING COUNT(*)=1
)
AND (PIERS_PIECE_CNT>1000000000 or PIERS_PIECE_CNT < 0)



SELECT  @TOTALQTY_CODING=SUM(PIERS_PIECE_CNT) FROM @TEMP_BL_CMDS

IF @TOTALQTY_CODING<@BOL_QTY 

BEGIN
UPDATE @TEMP_BL_CMDS 
SET PIERS_PIECE_CNT =RAW_CMD_PIECE_CNT,
PIERS_PIECE_UNIT = COALESCE(CASE WHEN PIERS_PIECE_UNIT = '' THEN NULL ELSE PIERS_PIECE_UNIT END,RAW_PIECE_UNIT,MFEST_UNIT,PIERS_PIECE_UNIT)
,UNIT_FLAG = 'Y' 
WHERE CMD_SEQ_NBR IN 
(
SELECT CMD_SEQ_NBR
FROM @TEMP_BL_CMDS 
GROUP BY CMD_SEQ_NBR HAVING COUNT(*)=1
) 
AND PIERS_PIECE_CNT = 0 AND CMD_STATUS = 'COMPLETE'
END 

--SELECT * FROM @TEMP_BL_CMDS 

SELECT  @TOTALQTY_CODING=SUM(PIERS_PIECE_CNT) FROM @TEMP_BL_CMDS

IF @TOTALQTY_CODING>@BOL_QTY 
BEGIN
UPDATE @TEMP_BL_CMDS 
SET PIERS_PIECE_CNT =0
WHERE UNIT_FLAG = 'Y'
END
--Modified by Cognizant End
---------------------------------------------------------------------------------------------------------------------


--Modified by Cognizant on March 20, 2010 START

/*
DECLARE PROCESSDESC CURSOR FOR  

	SELECT	CMD_SEQ_NBR,ENH_SEQ_NBR,ENH_DESC,CONFIDENCE_FACTOR,
			PIERS_PIECE_CNT,PIERS_PIECE_UNIT,CMD_STATUS,DIRECTION FROM @TEMP_BL_CMDS  
	WHERE	CAST(ENH_DESC AS VARCHAR(8000)) <> 'NO TOKENS FOUND' AND 
			(CONFIDENCE_FACTOR<> 0  OR PIERS_PIECE_CNT <>0) 
--Modified by Cognizant, 21-Oct-2009 - There is no need for 'harm code is numeric' check to populate piece unit
			--AND (CASE ISNUMERIC(CMD_CD) WHEN 1 THEN CMD_CD ELSE 0 END) >0 
OPEN PROCESSDESC

FETCH NEXT FROM PROCESSDESC
INTO	@CMD_SEQ_NBR,@ENH_SEQ_NBR ,@CMDSDESC,@CONFIDENCE_FACTOR,
		@PIERS_PIECE_CNT,@PIERS_PIECE_UNIT,@CMD_STATUS,@DIRECTION

WHILE @@FETCH_STATUS = 0
BEGIN

IF LEN(@PIERS_PIECE_UNIT)>0
BEGIN

	SET @PIERS_PIECE_UNIT=REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(@PIERS_PIECE_UNIT,'/',''),'\',''),'.',''),'_',''),'&',''),'#',''),')',''),'(',''),' ',''),'''','')
	SET @UM=NULL
	SELECT @UM=UM FROM PES.DBO.PES_PPMM_PACK  WITH (NOLOCK) 
	WHERE AMSUM=LTRIM(RTRIM(@PIERS_PIECE_UNIT))

IF @UM IS NOT NULL AND LEN(@UM)>0
	UPDATE @TEMP_BL_CMDS SET PIERS_PIECE_UNIT=LTRIM(RTRIM(@UM)) 
	WHERE BOL_ID=@TNBR AND CMD_SEQ_NBR=@CMD_SEQ_NBR AND ENH_SEQ_NBR=@ENH_SEQ_NBR

ELSE 
	UPDATE @TEMP_BL_CMDS SET PIERS_PIECE_UNIT='' 
	WHERE BOL_ID=@TNBR AND CMD_SEQ_NBR=@CMD_SEQ_NBR AND ENH_SEQ_NBR=@ENH_SEQ_NBR
END

FETCH NEXT FROM PROCESSDESC 
INTO	@CMD_SEQ_NBR,@ENH_SEQ_NBR,@CMDSDESC,@CONFIDENCE_FACTOR,
		@PIERS_PIECE_CNT,@PIERS_PIECE_UNIT,@CMD_STATUS,@DIRECTION

END

CLOSE PROCESSDESC
DEALLOCATE PROCESSDESC

*/

SELECT	@TOTALCF=SUM(CONFIDENCE_FACTOR) FROM @TEMP_BL_CMDS
SELECT  @TOTALQTY=SUM(PIERS_PIECE_CNT) FROM @TEMP_BL_CMDS

UPDATE	C SET MFEST_UNIT = UM 
FROM	@TEMP_BL_CMDS C 
JOIN PES.DBO.PES_PPMM_PACK P  WITH (NOLOCK)  
ON P.AMSUM=LTRIM(RTRIM(C.MFEST_UNIT)) 
WHERE ISNULL(LTRIM(RTRIM(MFEST_UNIT)),'') <> '' 

UPDATE	C 
SET		RAW_PIECE_UNIT = UM 
FROM	@TEMP_BL_CMDS C 
JOIN PES.DBO.PES_PPMM_PACK P  WITH (NOLOCK)  
ON P.AMSUM=LTRIM(RTRIM(C.RAW_PIECE_UNIT)) 
WHERE ISNULL(LTRIM(RTRIM(RAW_PIECE_UNIT)),'') <> '' 


UPDATE	@TEMP_BL_CMDS 
SET		PIERS_PIECE_UNIT = COALESCE(CASE WHEN PIERS_PIECE_UNIT = '' THEN NULL ELSE PIERS_PIECE_UNIT END,RAW_PIECE_UNIT,PIERS_PIECE_UNIT)


UPDATE	@TEMP_BL_CMDS 
SET		PIERS_PIECE_UNIT = COALESCE(UM,PIERS_PIECE_UNIT),REF_PIECE_UNIT_ID = COALESCE(ID,0)
FROM	@TEMP_BL_CMDS  
		LEFT JOIN PES_PPMM_PACK  WITH (NOLOCK) 
		ON LTRIM(RTRIM(AMSUM))=LTRIM(RTRIM(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(PIERS_PIECE_UNIT,'/',''),'\',''),'.',''),'_',''),'&',''),'#',''),')',''),'(',''),' ',''),'''','')))


UPDATE @TEMP_BL_CMDS  
SET RAW_WGT = COALESCE(ROUND(RAW_WGT*CONVERSION_FACTOR*2.204622476,0),RAW_WGT)
FROM @TEMP_BL_CMDS
LEFT JOIN REF_WEIGHT_UNIT  WITH (NOLOCK) 
ON RAW_WGT_UNIT = WGT_UNIT


UPDATE @TEMP_BL_CMDS 
SET RAW_WGT = 0 
WHERE CMD_SEQ_NBR IN 
(
SELECT CMD_SEQ_NBR FROM @TEMP_BL_CMDS  
GROUP BY CMD_SEQ_NBR HAVING COUNT(CMD_SEQ_NBR)>1
)



--Modified by Cognizant on March 20, 2010 END

--NEED TO REVIEWED LATER

/*
	IF @MFEST_QTY=@TOTALQTY
	DELETE FROM  @TEMP_BL_CMDS  WHERE BOL_ID=@TNBR AND PIERS_PIECE_CNT=0
*/

IF @TOTALQTY=0

BEGIN

	DECLARE CUR_QTY CURSOR FOR 
	SELECT	CMD_SEQ_NBR,CMD_DESC,PIERS_PIECE_CNT
	FROM	@TEMP_BL_CMDS

	OPEN CUR_QTY

	FETCH NEXT FROM CUR_QTY 
	INTO  @CMD_SEQ_NBR,@ENH_DESC ,@PIERS_PIECE_CNT

	WHILE @@FETCH_STATUS=0
		BEGIN

			IF LEN(@ENH_DESC)>0 AND @PIERS_PIECE_CNT=0 AND @CMD_SEQ_NBR!=@PREV_SEQ_NBR

			BEGIN

				SELECT	@PIERS_PIECE_CNT1=PIECE_COUNT 
				FROM	PES.DBO.ARCHIVE_RAW_CMD  WITH (NOLOCK) 
				WHERE	BOL_ID=@TNBR AND SEQUENCENO=@CMD_SEQ_NBR
		
				UPDATE	@TEMP_BL_CMDS 
				SET		PIERS_PIECE_CNT=@PIERS_PIECE_CNT1 ,
						PIERS_PIECE_UNIT=COALESCE(CASE WHEN PIERS_PIECE_UNIT = '' THEN NULL ELSE PIERS_PIECE_UNIT END,RAW_PIECE_UNIT,MFEST_UNIT,PIERS_PIECE_UNIT)
				WHERE	BOL_ID=@TNBR AND CMD_SEQ_NBR=@CMD_SEQ_NBR

		END
		ELSE
			UPDATE @TEMP_BL_CMDS SET CMD_DESC='' WHERE BOL_ID=@TNBR AND CMD_SEQ_NBR=@CMD_SEQ_NBR
			SET @PREV_SEQ_NBR=@CMD_SEQ_NBR
		FETCH NEXT FROM CUR_QTY INTO  @CMD_SEQ_NBR,@ENH_DESC,@PIERS_PIECE_CNT
		END
CLOSE CUR_QTY
DEALLOCATE CUR_QTY

END


DECLARE @TEMPSHTCOUNT TABLE
(
	BOL_ID NUMERIC(12,0),
	CMD_SEQ_NBR INT IDENTITY(1,1),
	ENH_DESC VARCHAR(100),
	CONFIDENCE_FACTOR NUMERIC(5,3),
	PIERS_PIECE_CNT NUMERIC(12,0),
	PIERS_PIECE_UNIT VARCHAR(9),
	HSCODE VARCHAR(10),
	BOL_WGT FLOAT,
	PIECE_UNIT_ID NUMERIC(12,0),
	JOC_CD VARCHAR(10),
	DIRECTION VARCHAR(1),
	BOL_QTY NUMERIC(12,0),
	MFEST_UNIT VARCHAR(5),
	CONQTY INT,
	CONFLAG CHAR(1),
	CONVOL INT,
	CONSIZE VARCHAR(2),
	CONLENGTH VARCHAR(1),
	CONWIDTH VARCHAR(1),
	CONTYPE VARCHAR(2),
	WGT NUMERIC(22,6)
)

INSERT INTO @TEMPSHTCOUNT	(BOL_ID,ENH_DESC,CONFIDENCE_FACTOR,
							PIERS_PIECE_CNT,PIERS_PIECE_UNIT,HSCODE,
							BOL_QTY,MFEST_UNIT,CONQTY,CONFLAG,CONVOL,CONSIZE,WGT) 
				SELECT		BOL_ID,SUBSTRING(LTRIM(RTRIM(CMD_DESC)),1,100) CMD_DESC,MAX(CONFIDENCE_FACTOR),
							SUM(PIERS_PIECE_CNT) PIERS_PIECE_CNT,ISNULL(PIERS_PIECE_UNIT,''),CMD_CD,
							BOL_QTY,MFEST_UNIT,CONQTY,CONFLAG,CONVOL,CONSIZE,SUM(COALESCE(RAW_WGT,0))
				FROM		@TEMP_BL_CMDS 
				GROUP BY	BOL_ID,SUBSTRING(LTRIM(RTRIM(CMD_DESC)),1,100),ISNULL(PIERS_PIECE_UNIT,''),
							CMD_CD,BOL_QTY,MFEST_UNIT,CONQTY,CONFLAG,CONVOL,CONSIZE
				ORDER BY	SUM(PIERS_PIECE_CNT) DESC

SELECT @SHORTDESCCNT=COUNT(*)FROM @TEMPSHTCOUNT


UPDATE @TEMPSHTCOUNT SET JOC_CD = 
							CASE WHEN A.JOC_CD='1301000' AND PIERS_PIECE_UNIT = 'BKC' 
							THEN '130100B' ELSE A.JOC_CD END
FROM PES_HARMCODE_JOCCODE A
WHERE HARM_CD = HSCODE

--NEED TO BE TESTED
/*
--LOOKUP on HIST_CODES WITH DESCRIPTION and HARMCODE FOR JOC_CODE IS NULL
UPDATE @TEMPSHTCOUNT SET JOC_CD= H.JOC_CODE
FROM SCREEN_TEST.DBO.HIST_CODES H  WITH (NOLOCK) 
WHERE UPPER(SCREEN_TEST.DBO.GET_KEY(ENH_DESC)) = UPPER(H.PERM_KEY)  
AND HSCODE = H.HARM_CODE  AND JOC_CD IS NULL 

--LOOKUP on HIST_CODES WITH DESCRIPTION and HARMCODE FOR JOC_CODE IS NULL
UPDATE @TEMPSHTCOUNT SET JOC_CD= H.JOC_CODE, HSCODE = H.HARM_CODE
FROM SCREEN_TEST.DBO.HIST_CODES H  WITH (NOLOCK) 
WHERE UPPER(SCREEN_TEST.DBO.GET_KEY(ENH_DESC)) = UPPER(H.PERM_KEY)  
AND JOC_CD IS NULL 

---LOOK UP WITH HARM CODE AND CMD DESC ON REF_CMMCST FOR JOC CODE

UPDATE T
SET JOC_CD=B.TSUSA
FROM @TEMPSHTCOUNT T
JOIN 
PES.DBO.REF_HARMCMST A ON T.HSCODE = A.HARMCODE AND UPPER(SCREEN_TEST.DBO.GET_KEY(T.ENH_DESC))=UPPER(COMP_NAME)
JOIN
PES.DBO.REF_CMMCST B ON A.COMP_NAME=B.COMP_NAME
*/

---UPDATE BILL LEVEL PIECE UNIT AND PIECE COUNT IF THERE IS ONLY ONE COMMODITY
IF @SHORTDESCCNT = 1
BEGIN
	UPDATE @TEMPSHTCOUNT SET PIERS_PIECE_CNT=BOL_QTY,PIERS_PIECE_UNIT=COALESCE(MFEST_UNIT,PIERS_PIECE_UNIT),
	BOL_WGT= CASE WHEN @BOL_WGT = 0 THEN WGT ELSE @BOL_WGT END
END

IF @TOTALCF=0 
BEGIN
	SET @SHORTDESCCNT=0
	SELECT @NOCOMMODITYCOUNT=COUNT(*) 
	FROM @TEMP_BL_CMDS 
	WHERE LTRIM(RTRIM(CAST(ENH_DESC AS VARCHAR(30))))=LTRIM(RTRIM('<# NO > <? COMMODITY >'))

	IF @NOCOMMODITYCOUNT > 0
		UPDATE @TEMPSHTCOUNT SET ENH_DESC='GENERAL MDSE',HSCODE='007985' 
	ELSE
		UPDATE @TEMPSHTCOUNT SET ENH_DESC='BLANK COMMODITY',HSCODE='007985'
END


SELECT @SHORTDESCCNT1=COUNT(*)FROM @TEMPSHTCOUNT WHERE PIERS_PIECE_CNT = 0


SELECT @WGT = SUM(ISNULL((CASE WHEN ISNUMERIC(HARM_WEIGHT)=0 THEN CAST(0 AS FLOAT) ELSE CAST(HARM_WEIGHT AS FLOAT) END)*CONVERSION_FACTOR*2.204622476,0))
FROM ARCHIVE_RAW_CMD  WITH (NOLOCK) 
LEFT JOIN REF_WEIGHT_UNIT  WITH (NOLOCK) 
ON HARM_UNIT = WGT_UNIT
WHERE BOL_ID IN (SELECT BOL_ID FROM  @TEMPSHTCOUNT)

IF @SHORTDESCCNT - @SHORTDESCCNT1=1 
BEGIN

DELETE FROM @TEMPSHTCOUNT WHERE PIERS_PIECE_CNT = 0 
UPDATE @TEMPSHTCOUNT SET PIERS_PIECE_CNT=BOL_QTY,PIERS_PIECE_UNIT=COALESCE(MFEST_UNIT,PIERS_PIECE_UNIT),
BOL_WGT= CASE WHEN @BOL_WGT >0 THEN @BOL_WGT ELSE @WGT END

END

--DELETE RECORDS HAVING PIECE CNT AS 0
SELECT @SHORTDESCCNT=COUNT(*)FROM @TEMPSHTCOUNT

SELECT @SHORTDESCCNT1=COUNT(*)FROM @TEMPSHTCOUNT WHERE PIERS_PIECE_CNT = 0

IF @SHORTDESCCNT - @SHORTDESCCNT1 > 0
DELETE FROM @TEMPSHTCOUNT WHERE PIERS_PIECE_CNT = 0


--UPDATE CONLENGTH, CONTYPE AND CONWIDTH
UPDATE	B
SET		CONLENGTH= CASE WHEN ISNULL(LTRIM(RTRIM(A.CONTAINER_TYPE)),'')='' 
					THEN 'N' ELSE SUBSTRING(A.CONTAINER_TYPE,1,1) END,
		CONWIDTH=	CASE WHEN ISNULL(LTRIM(RTRIM(A.CONTAINER_TYPE)),'')='' 
					THEN 'U' ELSE SUBSTRING(A.CONTAINER_TYPE,2,1) END, 
		CONTYPE=	CASE WHEN ISNULL(LTRIM(RTRIM(A.CONTAINER_TYPE)),'')='' 
					THEN 'LL' ELSE SUBSTRING(A.CONTAINER_TYPE,3,2) END
FROM @TEMPSHTCOUNT 	B
JOIN ARCHIVE_RAW_CNTR A  WITH (NOLOCK)   
ON A.BOL_ID = B.BOL_ID 
WHERE @BATCH_ID='AMS'

UPDATE @TEMPSHTCOUNT SET PIERS_PIECE_UNIT = 'BLS' WHERE PIERS_PIECE_UNIT = 'BLC'

UPDATE @TEMPSHTCOUNT SET PIECE_UNIT_ID=ID 
FROM PES_PPMM_PACK  WITH (NOLOCK) 
WHERE PIERS_PIECE_UNIT=UM

UPDATE @TEMPSHTCOUNT SET PIECE_UNIT_ID=0 WHERE PIERS_PIECE_UNIT=''

--------------------------------------------------------------------------------------------
--UPDATE PIECE_UNIT FOR THOSE WHICH ARE NOT PRESENT IN THE REF TABLES
UPDATE @TEMPSHTCOUNT SET PIERS_PIECE_UNIT= '' WHERE 
ISNULL(PIECE_UNIT_ID,0)=0
--------------------------------------------------------------------------------------------
--UPDATE WEIGHT AT COMMODITY LEVEL START

UPDATE @TEMPSHTCOUNT SET
WGT = @BOL_WGT - (SELECT SUM(WGT) FROM @TEMPSHTCOUNT)
WHERE WGT =0 AND (SELECT COUNT(*) FROM @TEMPSHTCOUNT WHERE WGT = 0 ) = 1
AND @BOL_WGT > (SELECT SUM(WGT) FROM @TEMPSHTCOUNT)


UPDATE @TEMPSHTCOUNT SET
WGT = 0 
WHERE BOL_ID IN (SELECT BOL_ID FROM @TEMPSHTCOUNT WHERE WGT = 0 )


UPDATE @TEMPSHTCOUNT SET
BOL_WGT = WGT
WHERE ISNULL(WGT,0) <> 0 AND ISNULL(BOL_WGT,0) = 0 

--UPDATE WEIGHT AT COMMODITY LEVEL END
---UPDATE QC_VALID FLAG FOR THE BILL

UPDATE PES.DBO.PES_STG_BOL WITH(UPDLOCK) SET QC_VALID='N' WHERE BOL_ID=@TNBR

-----------------------------------------------------------------------------------------------------------------------------------
---INSERT FINAL RESULT INTO PES_STG_CMD
-----------------------------------------------------------------------------------------------------------------------------------
BEGIN TRY

--Changes by Cognizant on 19-March-2010, Tune performance of Short Description, START
--INSERT INTO PES.DBO.PES_STG_CMD (BOL_ID,CMD_HSCODE,CMD_CD,JOC_CODE,CMD_SEQ_NBR,CMD_DESC,CMD_WGT_VALUE,CMD_VALUE_VALUE,
--								CMD_PIECE_CNT,REF_PIECE_UNIT_ID,PIECE_UNIT,CMD_TEU,RECORD_STATUS,CMD_FCHARGE,LOADNUMBER,
--								CNTR_QUANTITY,CNTR_VOL,CNTR_SIZE,CNTR_FLAG,CON_LENGTH,CON_WIDTH,CON_TYPE)

INSERT INTO PES.DBO.TEMP_PES_STG_CMD_SHORT_DESC (BOL_ID,CMD_HSCODE,CMD_CD,JOC_CODE,CMD_SEQ_NBR,CMD_DESC,CMD_WGT_VALUE,CMD_VALUE_VALUE,
								CMD_PIECE_CNT,REF_PIECE_UNIT_ID,PIECE_UNIT,CMD_TEU,RECORD_STATUS,CMD_FCHARGE,LOADNUMBER,
								CNTR_QUANTITY,CNTR_VOL,CNTR_SIZE,CNTR_FLAG,CON_LENGTH,CON_WIDTH,CON_TYPE)
				
						SELECT	BOL_ID,HSCODE,JOC_CD AS CMD_CD,JOC_CD,CMD_SEQ_NBR,REPLACE(ENH_DESC,' AND ', ' & ') ENH_DESC,ISNULL(BOL_WGT,0) WEIGHT,0,
								PIERS_PIECE_CNT,PIECE_UNIT_ID,PIERS_PIECE_UNIT,0,@RECORD_STATUS,0,@LOADNUM,
								CONQTY,CONVOL,CONSIZE,CONFLAG,CONLENGTH,CONWIDTH,CONTYPE
FROM	@TEMPSHTCOUNT
--Changes by Cognizant on 19-March-2010, Tune performance of Short Description, END


--SELECT * FROM PES_STG_CMD WHERE BOL_ID IN (SELECT BOL_ID FROM @TEMPSHTCOUNT)
END TRY

BEGIN CATCH
INSERT INTO PES_AUDIT_DETAILS(TABLE_NAME,BOL_ID,CHILD_ID,LOAD_NUMBER,REJECTED_AT,DATE,ERRORCODE,ERRORDESCRIPTION)
VALUES('PES_STG_CMD',@TNBR,1,@LOADNUM,'T',GETDATE(),ERROR_NUMBER(),ERROR_MESSAGE())
END CATCH

-----------------------------------------------------------------------------------------------------------------------------------
	--DROP TEMPORARY TABLES
	--DROP TABLE @TEMPSHTCOUNT
	--DROP TABLE @TEMP_BL_CMDS
COMMIT TRANSACTION @TRANNAME

END TRY

BEGIN CATCH
	SET @ERROR_NUMBER=ERROR_NUMBER()
	SET @ERROR_LINE=ERROR_LINE()
	SET @ERROR_MESSAGE='STORED PROCEDURE USP_PES_SHORT_DESC_STG_CMD FAILED WITH T_NBR: '+ CAST(@TNBR AS VARCHAR(12)) + ' AT LINE NUMBER:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()
	
	SET @CMD = 'ECHO ERROR_MESSAGE-- '+@ERROR_MESSAGE+ ' >> '+ @FILE
	EXEC MASTER..XP_CMDSHELL @CMD 
    SET @CMD = 'ECHO ERROR_NUMBER-- '+@ERROR_NUMBER+ ' >> '+ @FILE
	EXEC MASTER..XP_CMDSHELL @CMD 
	SET @CMD = 'ECHO ERROR_LINE-- '+@ERROR_LINE+ ' >> '+ @FILE
	EXEC MASTER..XP_CMDSHELL @CMD 
	
	--DROP TEMPORARY TABLES
	--DROP TABLE @TEMPSHTCOUNT
	--DROP TABLE @TEMP_BL_CMDS
	
	
	SET @CMD = 'ECHO TRANSACTIONS ROLLBACKED'+ ' >> '+ @FILE
	EXEC MASTER..XP_CMDSHELL @CMD 
	RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG

	ROLLBACK TRANSACTION @TRANNAME
END CATCH


-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
