/****** Object:  StoredProcedure [dbo].[PES_TEU_CALCULATION]    Script Date: 01/03/2013 19:40:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_TEU_CALCULATION] @SOURCE_OF_EXECUTION VARCHAR(20)
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


	BEGIN TRY

		DECLARE @FILE VARCHAR(500),@FILE_NAME VARCHAR(50), @LOADNUMBER NUMERIC(12,0)
		DECLARE @CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),
		@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50),@DATE DATETIME,@TIME INT,@DATE1 DATETIME,@TIME1 INT

		DECLARE @CONSIZE VARCHAR(2),@BOL_ID INT,@TEU NUMERIC(12,2),
		@CONQUANTITY NUMERIC(18,2),@VOLUME_PER_CONTAINER NUMERIC(18,2),@CONVOL NUMERIC(18,2),@COUNTRY_CODE VARCHAR(3),@REGION_ID CHAR (1),@MTONS_AVERAGE FLOAT,@COM4 VARCHAR(4),@TEU_LKP_KEY VARCHAR(6),@METRIC_TONS FLOAT,@CNTR_FLAG CHAR(1),
		@CMD_TEU_SRC VARCHAR(20),@CMD_WGT FLOAT,@BOL_DIRECTION CHAR(1),
		@BANK_NAME VARCHAR(37),@FINANCIAL_FLAG CHAR(1),@BANK_ID INT, @BOL_CNTRZD_FLG CHAR(1),@RECORD_STATUS VARCHAR(50),
		@CMD_ID INT, @WGT_CONV_FACTOR NUMERIC(16,8)

	
		--Temp table to store data from PES_STG_BOL
		CREATE TABLE #PES_STG_BOL(
		BOL_ID numeric(12),
		BOL_DIRECTION char(1),
		BANK_ID int,
		BANK varchar(37),
		BOL_FINANCIAL_FLG char(1),
		Shipper	varchar(150),
		Consignee varchar(150),
		Notify varchar(150)
		)

		--Temp table for TEU Calculation
		CREATE TABLE #TEMP_TEU(
			BOL_ID NUMERIC(12,0),
			CMD_ID NUMERIC(12,0),
			BOL_DIRECTION CHAR(1),
			CTRYCODE VARCHAR(3),
			CNTR_SIZE VARCHAR(2),
			CMD_WGT_VALUE NUMERIC(16,0),
			CNTR_QUANTITY INT,
			CNTR_VOL INT,
			CNTR_FLAG VARCHAR(1),
			COM4 varchar(10),
			TEU NUMERIC(12,2)	
			)

	
		IF @SOURCE_OF_EXECUTION='RAW_TO_STAGING'
		BEGIN
			SELECT @FILE = PATH FROM PES_CONFIGURATION WITH (NOLOCK)  WHERE SOURCE='SP_LOG'
			SELECT @FILE_NAME= FILENAME, @LOADNUMBER = LOADNUMBER FROM PES_PROGRESS_STATUS  WITH (NOLOCK)  
			WHERE LOAD_DT=(SELECT MAX(isnull(Load_DT,getdate())) FROM PES_PROGRESS_STATUS  WITH (NOLOCK) )
			SET @FILE='"'+@FILE+@FILE_NAME+'_LOG.TXT'+'"'
			SET @CMD = 'ECHO PROCEDURE PES_TEU_CALCULATION FOR RAW_TO_STAGING EXECUTION STARTED' + '>>'+ @FILE
			EXEC MASTER..XP_CMDSHELL @CMD 

			SET @DATE=GETDATE()
			SET @CMD = 'ECHO TEU CALCULATION STARTED' + '>>'+ @FILE
			EXEC MASTER..XP_CMDSHELL @CMD

		END
		
		SELECT TOP 1 @WGT_CONV_FACTOR=(1/CONVERSION_FACTOR)*1000 FROM REF_WEIGHT_UNIT WHERE WGT_UNIT='LB'

		

		IF @SOURCE_OF_EXECUTION='RAW_TO_STAGING'
		BEGIN
			
			INSERT INTO #TEMP_TEU(BOL_ID,CNTR_SIZE,CMD_WGT_VALUE,CNTR_QUANTITY,CNTR_VOL,CNTR_FLAG,COM4,CTRYCODE,BOL_DIRECTION,CMD_ID,TEU)
			SELECT B.BOL_ID,B.CNTR_SIZE,B.CMD_WGT_VALUE,B.CNTR_QUANTITY,B.CNTR_VOL,B.CNTR_FLAG,
			SUBSTRING(B.CMD_CD,1,4) AS COM4,A.CTRYCODE,A.BOL_DIRECTION,B.CMD_ID,0			
			FROM PES_STG_BOL A WITH (NOLOCK)  JOIN PES_STG_CMD B WITH (NOLOCK)  
			ON A.BOL_ID=B.BOL_ID 
			WHERE A.REF_LOAD_NUM_ID = @LOADNUMBER 
			AND A.BOL_ID NOT IN(SELECT DISTINCT BOL_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE LOADNUMBER =@LOADNUMBER AND CMD_DESC='GENERAL CARGO') 
			AND ISNULL(B.CMD_DESC,'')<> 'CONTAINER CARGO' AND A.RECORD_STATUS='AUTOMATED'
			UNION ALL
			SELECT B.BOL_ID,B.CNTR_SIZE,B.CMD_WGT_VALUE,B.CNTR_QUANTITY,B.CNTR_VOL,B.CNTR_FLAG,
			SUBSTRING(B.CMD_CD,1,4) AS COM4,A.CTRYCODE,A.BOL_DIRECTION,B.CMD_ID,0			
			FROM PES_STG_BOL A WITH (NOLOCK)  JOIN PES_STG_CMD B WITH (NOLOCK)  
			ON A.BOL_ID=B.BOL_ID 
			WHERE A.REF_LOAD_NUM_ID = @LOADNUMBER 
			AND ISNULL(B.CMD_DESC,'')= 'CONTAINER CARGO' AND B.CMD_WGT_VALUE>0
			AND A.RECORD_STATUS='AUTOMATED'

			
			DECLARE TEU_CURSOR CURSOR FOR 
			SELECT BOL_ID,CNTR_SIZE,CMD_WGT_VALUE,CNTR_QUANTITY,CNTR_VOL,CNTR_FLAG,COM4,CTRYCODE,BOL_DIRECTION,CMD_ID 
			FROM #TEMP_TEU
			
		END
		ELSE IF @SOURCE_OF_EXECUTION='UPDATE_STAGING'
		BEGIN

			INSERT INTO #TEMP_TEU(BOL_ID,CNTR_SIZE,CMD_WGT_VALUE,CNTR_QUANTITY,CNTR_VOL,CNTR_FLAG,COM4,CTRYCODE,BOL_DIRECTION,CMD_ID,TEU)
			SELECT A.BOL_ID,C.CNTR_SIZE,C.CMD_WGT_VALUE,C.CNTR_QUANTITY,C.CNTR_VOL,C.CNTR_FLAG,
			SUBSTRING(C.CMD_CD,1,4) AS COM4,A.CTRYCODE,A.BOL_DIRECTION,C.CMD_ID,0			
			FROM PES.DBO.PES_STG_BOL A  WITH (NOLOCK)  JOIN PES.DBO.PES_STG_CMD C WITH (NOLOCK)  
			ON A.BOL_ID=C.BOL_ID 
			WHERE ISNULL(C.CMD_DESC,'')<>'CONTAINER CARGO' 
			AND A.BOL_ID NOT IN(SELECT DISTINCT BOL_ID FROM PES_STG_CMD WITH (NOLOCK)  WHERE CMD_DESC='GENERAL CARGO')
			AND A.BOL_ID IN (SELECT BOL_ID FROM PES_BILLS_UPDATE_STAGING  WITH (NOLOCK) )
			UNION ALL
			SELECT A.BOL_ID,C.CNTR_SIZE,C.CMD_WGT_VALUE,C.CNTR_QUANTITY,C.CNTR_VOL,C.CNTR_FLAG,
			SUBSTRING(C.CMD_CD,1,4) AS COM4,A.CTRYCODE,A.BOL_DIRECTION,C.CMD_ID,0			
			FROM PES.DBO.PES_STG_BOL A  WITH (NOLOCK)  JOIN PES.DBO.PES_STG_CMD C WITH (NOLOCK)  
			ON A.BOL_ID=C.BOL_ID 
			WHERE ISNULL(C.CMD_DESC,'')='CONTAINER CARGO' AND C.CMD_WGT_VALUE>0 AND
			A.BOL_ID IN (SELECT BOL_ID FROM PES_BILLS_UPDATE_STAGING WITH (NOLOCK) )

			DECLARE TEU_CURSOR CURSOR FOR 

			SELECT BOL_ID,CNTR_SIZE,CMD_WGT_VALUE,CNTR_QUANTITY,CNTR_VOL,CNTR_FLAG,COM4,
			CTRYCODE,BOL_DIRECTION,CMD_ID 
			FROM #TEMP_TEU			
		END

		--CURSOR EXECUTION BEGIN

		OPEN TEU_CURSOR
		--BEGIN FETCHING RECORDS STG_CMD AND STG_BOL
		FETCH NEXT FROM TEU_CURSOR INTO @BOL_ID,@CONSIZE,@CMD_WGT,@CONQUANTITY,@CONVOL,@CNTR_FLAG,@COM4,@COUNTRY_CODE,@BOL_DIRECTION,@CMD_ID
		WHILE @@FETCH_STATUS = 0
		BEGIN
			SET @TEU=NULL
			SET @REGION_ID=NULL
			SET @MTONS_AVERAGE=NULL
			
			IF (ISNUMERIC(@CONSIZE)=1) AND @CMD_WGT>0 AND @CNTR_FLAG='C'  								
				SET @TEU=(@CONSIZE*@CONQUANTITY)/20.0
			ELSE
			BEGIN
				--LOOKUP REGION TABLE TO GET REGION_ID
				SELECT @REGION_ID=REGION_ID FROM TEU_REGION WITH (NOLOCK)  WHERE @COUNTRY_CODE>=LOW_COUNTRY_CODE AND @COUNTRY_CODE<=HIGH_COUNTRY_CODE		

				IF @REGION_ID IS NULL
					SET @REGION_ID=0
				
				--LOOKUP KEY FOR TEU ESTIMATION TABLE
				SET @TEU_LKP_KEY=@BOL_DIRECTION+@REGION_ID+@COM4
                                    
				--LOOKUP TEU ESTIMATION TABLE FOR AVERAGE METRIC TONS
				SELECT @MTONS_AVERAGE=MTONS_AVERAGE_20 FROM		
				PES_TEU_ESTIMATION WITH (NOLOCK)  WHERE ID_KEY=@TEU_LKP_KEY
			
				IF (@CONSIZE='ZZ' AND (@CONVOL = 0 OR @CONVOL IS NULL) AND @CMD_WGT>0 AND 
				@MTONS_AVERAGE>0) OR (@CONSIZE='LC' AND @CMD_WGT>0 AND @MTONS_AVERAGE>0)
				BEGIN
					SET @TEU=(@CMD_WGT/@WGT_CONV_FACTOR)/@MTONS_AVERAGE
					IF @CONSIZE='ZZ'
					BEGIN
						IF @TEU<@CONQUANTITY
							SET @TEU=@CONQUANTITY
						ELSE IF @TEU>(@CONQUANTITY * 2)
							SET @TEU=@CONQUANTITY * 2
					END
				END
				ELSE IF @CONQUANTITY=0
					SET @TEU=0.00
				ELSE IF (@CONSIZE='ZZ' AND @CONVOL>0 AND @CONQUANTITY>0 AND @CMD_WGT>0 AND ((@CONVOL/@CONQUANTITY)>1000))
				OR (@CONSIZE='ZZ' AND (@CONVOL=0 OR @CONVOL IS NULL) AND @CMD_WGT>0 AND @MTONS_AVERAGE>0 
				AND (((@CMD_WGT/@WGT_CONV_FACTOR)/@MTONS_AVERAGE)>(@CONQUANTITY * 2)))
					SET @TEU=@CONQUANTITY * 2

				ELSE IF (@CONSIZE='ZZ' AND @CONVOL>0 AND @CMD_WGT>0 AND ((@CONVOL/@CONQUANTITY)>=1)
				AND ((@CONVOL/@CONQUANTITY)<1000)) OR
				(@CONSIZE='ZZ' AND (@CONVOL=0 OR @CONVOL IS NULL) AND @CMD_WGT>0 AND @MTONS_AVERAGE>0
				AND (((@CMD_WGT/@WGT_CONV_FACTOR)/@MTONS_AVERAGE) < @CONQUANTITY))
					SET @TEU=@CONQUANTITY
				ELSE
					SET @TEU=0.00
			END
			
			/*
			UPDATE PES_STG_CMD WITH (UPDLOCK) SET CMD_TEU=@TEU 
			WHERE LOADNUMBER = @LOADNUMBER AND BOL_ID=@BOL_ID AND CMD_ID=@CMD_ID
			*/
			IF @TEU=0 AND @CNTR_FLAG='C' AND @CMD_WGT>0 
				SET @TEU=0.01
			update #TEMP_TEU
			set TEU=@TEU
			WHERE BOL_ID=@BOL_ID AND CMD_ID=@CMD_ID
			
			FETCH NEXT FROM TEU_CURSOR INTO @BOL_ID,@CONSIZE,@CMD_WGT,@CONQUANTITY,@CONVOL,@CNTR_FLAG,@COM4,@COUNTRY_CODE,@BOL_DIRECTION,@CMD_ID
		END
			
		CLOSE TEU_CURSOR
		DEALLOCATE TEU_CURSOR

		--Single time Update of PES_STG_CMD from #TEMP_TEU
		UPDATE C WITH (UPDLOCK)
		SET CMD_TEU=TEU
		FROM PES.DBO.PES_STG_CMD C JOIN #TEMP_TEU T
		ON (C.BOL_ID=T.BOL_ID AND C.CMD_ID=T.CMD_ID)

		
		IF @SOURCE_OF_EXECUTION='RAW_TO_STAGING'
		BEGIN
			--UPDATING TEU FOR COMMODITIES FOR CONTAINER CARGO RECORDS IN PES_STG_CMD
			--UPDATE A WITH (UPDLOCK) SET A.BOL_TEU=SUM(B.CMD_TEU) FROM PES_STG_BOL A,PES_STG_CMD B WHERE A.BOL_ID=B.BOL_ID AND A.REF_LOAD_NUM_ID = @LOADNUMBER  AND B.CMD_WGT IS NOT NULL AND B.CMD_DESC <>'CONTAINER CARGO' AND A.BOL_ID NOT IN(SELECT DISTINCT BOL_ID FROM PES_STG_CMD WHERE CMD_DESC='GENERAL CARGO') AND A.RECORD_STATUS='AUTOMATED'

			UPDATE PES_STG_CMD SET CMD_TEU=0.00 WHERE CMD_DESC='CONTAINER CARGO' AND 
			LOADNUMBER=@LOADNUMBER AND CMD_WGT_VALUE=0

			UPDATE PES_STG_CMD SET CMD_TEU=0.00 WHERE BOL_ID IN(SELECT BOL_ID FROM PES_STG_CMD WHERE CMD_DESC ='GENERAL CARGO') 
			AND LOADNUMBER=@LOADNUMBER

			UPDATE PES_STG_BOL WITH (UPDLOCK) SET BOL_TEU=(SELECT SUM(isnull(C.CMD_TEU,0)) 
			FROM PES_STG_CMD C WITH (NOLOCK)  WHERE C.LOADNUMBER = @LOADNUMBER 
			AND C.BOL_ID=PES_STG_BOL.BOL_ID GROUP BY C.BOL_ID) 
			WHERE REF_LOAD_NUM_ID = @LOADNUMBER AND PES_STG_BOL.RECORD_STATUS='AUTOMATED'
	 
			--TEU CALCULATION ENDS
			SET @TIME= DATEDIFF(N,GETDATE(),@DATE)

			SET @CMD = 'ECHO TEU CALCULATION ENDED' + CAST(@TIME AS VARCHAR(20)) + '>>'+ @FILE
			EXEC MASTER..XP_CMDSHELL @CMD
			
		END
		ELSE IF @SOURCE_OF_EXECUTION='UPDATE_STAGING'
		BEGIN
			--UPDATING TEU FOR COMMODITIES FOR CONTAINER CARGO RECORDS IN PES_STG_CMD

			UPDATE PES_STG_CMD SET CMD_TEU=0.00 WHERE CMD_DESC='CONTAINER CARGO' 
			AND BOL_ID IN (SELECT BOL_ID FROM PES_BILLS_UPDATE_STAGING)
			AND CMD_WGT_VALUE=0
 
			UPDATE PES_STG_CMD SET CMD_TEU=0.00 WHERE BOL_ID IN(SELECT BOL_ID FROM PES_STG_CMD WHERE CMD_DESC ='GENERAL CARGO') 
			AND BOL_ID IN (SELECT BOL_ID FROM PES_BILLS_UPDATE_STAGING)			

			UPDATE PES_STG_BOL WITH (UPDLOCK) SET BOL_TEU=(SELECT SUM(isnull(A.CMD_TEU,0)) 
			FROM PES_STG_CMD A WITH (NOLOCK)  WHERE A.BOL_ID=PES_STG_BOL.BOL_ID GROUP BY A.BOL_ID) 
			WHERE PES_STG_BOL.BOL_ID IN (SELECT BOL_ID FROM PES_BILLS_UPDATE_STAGING)
		END
		
		
	
		IF @SOURCE_OF_EXECUTION='RAW_TO_STAGING'
		BEGIN

			SET @DATE=GETDATE()

			SET @CMD = 'ECHO BANK CALCULATION STARTED' + '>>'+ @FILE
			EXEC MASTER..XP_CMDSHELL @CMD
			--SET FINANCIAL FLAG FOR IMPORTS AND EXPORTS
			
			UPDATE PES_STG_BOL WITH (UPDLOCK)
			SET BOL_FINANCIAL_FLG='Y' WHERE BOL_FINANCIAL_FLG='F' 
			AND REF_LOAD_NUM_ID=@LOADNUMBER

			SET @DATE=GETDATE()

			SET @CMD = 'ECHO BANK CALCULATION STEP1 COMPLETE' + '>>'+ @FILE
			EXEC MASTER..XP_CMDSHELL @CMD


			--BANK NAME CALCULATION AND FINANCIAL FLAG CALCULATION FOR IMPORTS
	
			UPDATE PES_STG_BOL WITH (UPDLOCK)
			SET BANK='' 
			WHERE REF_LOAD_NUM_ID=@LOADNUMBER

			SET @DATE=GETDATE()

			SET @CMD = 'ECHO BANK CALCULATION STEP2 COMPLETE' + '>>'+ @FILE
			EXEC MASTER..XP_CMDSHELL @CMD

		END
	

		IF @SOURCE_OF_EXECUTION='RAW_TO_STAGING'
		BEGIN
			--FOR IMPORTS
			--Insert the shipper, consignee and notify information into #PES_STG_BOL table
			INSERT INTO #PES_STG_BOL(BOL_ID,BOL_DIRECTION,BANK,BOL_FINANCIAL_FLG,Shipper,Consignee,Notify)
			SELECT A.BOL_ID,A.BOL_DIRECTION,A.BANK,A.BOL_FINANCIAL_FLG,
			(
				SELECT top 1 P.NAME FROM PES_REF_COMPANY P  WITH (NOLOCK) 
				WHERE P.COMP_ID=A.FCOMP_ID AND
				A.FCOMP_ID IS NOT NULL
			) AS 'Shipper',
			(
				SELECT top 1 P.NAME FROM PES_REF_COMPANY P  WITH (NOLOCK) 
				WHERE P.COMP_ID=A.COMP_ID AND 
				A.COMP_ID IS NOT NULL
			) AS 'Consignee',
			(
				SELECT top 1 P.NAME FROM PES_REF_COMPANY P  WITH (NOLOCK) 
				WHERE P.COMP_ID=A.NTFCOMP_ID  AND
				A.NTFCOMP_ID IS NOT NULL
			) AS 'Notify'
			FROM PES_STG_BOL A WITH (NOLOCK)  
			WHERE A.BOL_DIRECTION='I' AND A.RECORD_STATUS='AUTOMATED'
			AND A.REF_LOAD_NUM_ID=@LOADNUMBER
		
			SET @DATE=GETDATE()

			SET @CMD = 'ECHO BANK CALCULATION STEP3 COMPLETE' + '>>'+ @FILE
			EXEC MASTER..XP_CMDSHELL @CMD


			--Mass Update Bank Name first, using pes_udf_getBankName udf
			/*
			UPDATE #PES_STG_BOL
			SET BANK=dbo.pes_udf_getBankName(Shipper,Consignee,Notify) WHERE BANK='' 
			*/
			---Bank Logic shifted from PES_UDF_GETBANKNAME to the stored procedure for performance tuning, start

			UPDATE B
			SET BANK= P.BANK_NAME
			FROM #PES_STG_BOL B
			JOIN PES_BANK_NAME P WITH (NOLOCK) 
			ON DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(BANK_NAME_KEY)=DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(Shipper)
			WHERE BANK='' 
			AND Consignee='ORDER' AND NOTIFY='ORDER' AND Shipper != 'ORDER' 

			UPDATE B
			SET BANK= Shipper
			FROM #PES_STG_BOL B
			WHERE BANK='' 
			AND Consignee='ORDER' AND NOTIFY='ORDER' AND Shipper != 'ORDER' AND SHIPPER LIKE '%BANK%' 

			UPDATE B
			SET BANK= P.BANK_NAME
			FROM #PES_STG_BOL B
			JOIN PES_BANK_NAME P WITH (NOLOCK) 
			ON DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(BANK_NAME_KEY)=DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(Notify)
			WHERE BANK='' 
			AND Consignee='ORDER' AND NOTIFY!='ORDER' 

			UPDATE B
			SET BANK= Notify
			FROM #PES_STG_BOL B
			JOIN PES_BANK_NAME P WITH (NOLOCK) 
			ON DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(BANK_NAME_KEY)=DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(Notify)
			WHERE BANK='' 
			AND Consignee='ORDER' AND NOTIFY!='ORDER' AND NOTIFY LIKE '%BANK%' 

			UPDATE B
			SET BANK= P.BANK_NAME
			FROM #PES_STG_BOL B
			JOIN PES_BANK_NAME P WITH (NOLOCK) 
			ON DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(BANK_NAME_KEY)=DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(Consignee)
			WHERE BANK='' 
			AND Consignee!='ORDER' 

			UPDATE B
			SET BANK= Consignee
			FROM #PES_STG_BOL B
			JOIN PES_BANK_NAME P WITH (NOLOCK) 
			ON DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(BANK_NAME_KEY)=DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(Consignee)
			WHERE BANK='' 
			AND Consignee!='ORDER'  AND Consignee LIKE '%BANK%' 

			UPDATE #PES_STG_BOL
			SET BANK=''
			WHERE BANK IS NULL

			---Bank Logic shifted from PES_UDF_GETBANKNAME to the stored procedure for performance tuning, end

			SET @DATE=GETDATE()

			SET @CMD = 'ECHO BANK CALCULATION STEP4 COMPLETE' + '>>'+ @FILE
			EXEC MASTER..XP_CMDSHELL @CMD

			--FOR EXPORTS
			--Insert into #PES_STG_BOL table
			INSERT INTO #PES_STG_BOL(BOL_ID,BANK,BOL_FINANCIAL_FLG)
			SELECT BOL_ID,BANK,BOL_FINANCIAL_FLG FROM PES_STG_BOL A WITH (NOLOCK)  WHERE 
			A.BOL_DIRECTION='E' AND A.REF_LOAD_NUM_ID=@LOADNUMBER

			SET @DATE=GETDATE()

			SET @CMD = 'ECHO BANK CALCULATION STEP5 COMPLETE' + '>>'+ @FILE
			EXEC MASTER..XP_CMDSHELL @CMD
		END
		ELSE IF @SOURCE_OF_EXECUTION='UPDATE_STAGING'
		BEGIN
			--Insert the shipper, consignee and notify information into #PES_STG_BOL table
			INSERT INTO #PES_STG_BOL(BOL_ID,BOL_DIRECTION,BANK,BOL_FINANCIAL_FLG,Shipper,Consignee,Notify)
			SELECT A.BOL_ID,A.BOL_DIRECTION,A.BANK,A.BOL_FINANCIAL_FLG,
			(
				SELECT top 1 P.NAME FROM PES_REF_COMPANY P  WITH (NOLOCK)  WHERE P.COMP_ID=A.FCOMP_ID AND
				A.FCOMP_ID IS NOT NULL
				
			) AS 'Shipper',
			(
				SELECT top 1 P.NAME FROM PES_REF_COMPANY P  WITH (NOLOCK)  WHERE P.COMP_ID=A.COMP_ID AND 
				A.COMP_ID IS NOT NULL
				
			) AS 'Consignee',
			(
				SELECT top 1 P.NAME FROM PES_REF_COMPANY P  WITH (NOLOCK)  WHERE P.COMP_ID=A.NTFCOMP_ID  AND
				A.NTFCOMP_ID IS NOT NULL
				
			) AS 'Notify'
			FROM PES_STG_BOL A  WITH (NOLOCK) 
			where A.BOL_DIRECTION='I' 
			AND A.BOL_ID IN (SELECT BOL_ID FROM PES_BILLS_UPDATE_STAGING  WITH (NOLOCK) )

			--Mass Update Bank Name first, using pes_udf_getBankName udf
			/*
			UPDATE #PES_STG_BOL
			SET BANK=dbo.pes_udf_getBankName(Shipper,Consignee,Notify) WHERE BANK='' 
			*/
			---Bank Logic shifted from PES_UDF_GETBANKNAME to the stored procedure for performance tuning, start

			UPDATE B
			SET BANK= P.BANK_NAME
			FROM #PES_STG_BOL B
			JOIN PES_BANK_NAME P WITH (NOLOCK) 
			ON DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(BANK_NAME_KEY)=DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(Shipper)
			WHERE BANK='' 
			AND Consignee='ORDER' AND NOTIFY='ORDER' AND Shipper != 'ORDER' 

			UPDATE B
			SET BANK= Shipper
			FROM #PES_STG_BOL B
			WHERE BANK='' 
			AND Consignee='ORDER' AND NOTIFY='ORDER' AND Shipper != 'ORDER' AND SHIPPER LIKE '%BANK%' 

			UPDATE B
			SET BANK= P.BANK_NAME
			FROM #PES_STG_BOL B
			JOIN PES_BANK_NAME P WITH (NOLOCK) 
			ON DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(BANK_NAME_KEY)=DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(Notify)
			WHERE BANK='' 
			AND Consignee='ORDER' AND NOTIFY!='ORDER' 

			UPDATE B
			SET BANK= Notify
			FROM #PES_STG_BOL B
			JOIN PES_BANK_NAME P WITH (NOLOCK) 
			ON DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(BANK_NAME_KEY)=DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(Notify)
			WHERE BANK='' 
			AND Consignee='ORDER' AND NOTIFY!='ORDER' AND NOTIFY LIKE '%BANK%' 

			UPDATE B
			SET BANK= P.BANK_NAME
			FROM #PES_STG_BOL B
			JOIN PES_BANK_NAME P WITH (NOLOCK) 
			ON DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(BANK_NAME_KEY)=DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(Consignee)
			WHERE BANK='' 
			AND Consignee!='ORDER' 

			UPDATE B
			SET BANK= Consignee
			FROM #PES_STG_BOL B
			JOIN PES_BANK_NAME P WITH (NOLOCK) 
			ON DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(BANK_NAME_KEY)=DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(Consignee)
			WHERE BANK='' 
			AND Consignee!='ORDER'  AND Consignee LIKE '%BANK%' 

			UPDATE #PES_STG_BOL
			SET BANK=''
			WHERE BANK IS NULL

			---Bank Logic shifted from PES_UDF_GETBANKNAME to the stored procedure for performance tuning, end

		END


		--Next, set the Bank Id, using pes_udf_getBankId udf
		/*
		UPDATE #PES_STG_BOL
		SET BANK_ID=dbo.pes_udf_getBankId(Bank) 
		*/

		---Bank Logic shifted from PES_UDF_GETBANKID to the stored procedure for performance tuning, START
		UPDATE B
		SET BANK_ID=R.BANK_ID 
		FROM #PES_STG_BOL B JOIN REF_BANK R  WITH (NOLOCK)  
		ON DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(R.BANK_NAME)=DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(B.BANK)
		WHERE B.BANK IS NOT NULL
		---Bank Logic shifted from PES_UDF_GETBANKID to the stored procedure for performance tuning, END


		SET @DATE=GETDATE()

		SET @CMD = 'ECHO BANK CALCULATION STEP6 COMPLETE' + '>>'+ @FILE
		EXEC MASTER..XP_CMDSHELL @CMD

		--Next, for all bills for which Bank Id is still null, create a new entry in ref_bank and derive the bank id
		DECLARE BANK_CURSOR CURSOR FOR 
		SELECT BANK FROM #PES_STG_BOL
		WHERE BANK_ID IS NULL

		OPEN BANK_CURSOR
		FETCH NEXT FROM BANK_CURSOR INTO @BANK_NAME

		WHILE @@FETCH_STATUS = 0
		BEGIN
			SET @BANK_ID=NULL

			INSERT INTO REF_BANK(BANK_NAME) VALUES (@BANK_NAME)

			SELECT @BANK_ID=MAX(BANK_ID) FROM REF_BANK WITH (NOLOCK) 

			UPDATE #PES_STG_BOL
			SET BANK_ID=@BANK_ID
			WHERE BANK = @BANK_NAME	AND BANK_ID IS NULL

			FETCH NEXT FROM BANK_CURSOR INTO @BANK_NAME
		END
		CLOSE BANK_CURSOR
		DEALLOCATE BANK_CURSOR

		SET @DATE=GETDATE()

		SET @CMD = 'ECHO BANK CALCULATION STEP7 COMPLETE' + '>>'+ @FILE
		EXEC MASTER..XP_CMDSHELL @CMD

		--SET FINANCIAL FLAG FOR IMPORTS
		UPDATE #PES_STG_BOL SET BOL_FINANCIAL_FLG='Y' WHERE 
		ISNULL(BOL_FINANCIAL_FLG,'')<>'Y' AND BANK IS NOT NULL AND LTRIM(RTRIM(ISNULL(BANK,''))) <> '' 

		SET @DATE=GETDATE()

		SET @CMD = 'ECHO BANK CALCULATION STEP8 COMPLETE' + '>>'+ @FILE
		EXEC MASTER..XP_CMDSHELL @CMD

		UPDATE #PES_STG_BOL 
		SET BOL_FINANCIAL_FLG='Y' 
		WHERE ISNULL(BOL_FINANCIAL_FLG,'')<>'Y' AND
			(SHIPPER LIKE '%BANK%' OR SHIPPER LIKE '%BANC%' OR SHIPPER LIKE '%BANQUE%' OR 
			SHIPPER LIKE '%TRUST%' OR SHIPPER LIKE '%CREDIT%' OR SHIPPER LIKE '%FINANC%' OR
			CONSIGNEE LIKE '%BANK%' OR CONSIGNEE LIKE '%BANC%' OR CONSIGNEE LIKE '%BANQUE%' OR 
			CONSIGNEE LIKE '%TRUST%' OR CONSIGNEE LIKE '%CREDIT%' OR CONSIGNEE LIKE '%FINANC%' OR
			NOTIFY LIKE '%BANK%' OR NOTIFY LIKE '%BANC%' OR NOTIFY LIKE '%BANQUE%' OR 
			NOTIFY LIKE '%TRUST%' OR NOTIFY LIKE '%CREDIT%' OR NOTIFY LIKE '%FINANC%') 

		SET @DATE=GETDATE()

		SET @CMD = 'ECHO BANK CALCULATION STEP9 COMPLETE' + '>>'+ @FILE
		EXEC MASTER..XP_CMDSHELL @CMD
		     
		--Mass Update PES_STG_BOL from #PES_STG_BOL
		UPDATE A WITH (UPDLOCK)
		SET A.BANK_ID = B.BANK_ID,
		A.BANK = B.BANK,
		A.BOL_FINANCIAL_FLG=B.BOL_FINANCIAL_FLG
		FROM PES_STG_BOL A JOIN #PES_STG_BOL B
		ON A.BOL_ID=B.BOL_ID

		SET @DATE=GETDATE()

		SET @CMD = 'ECHO BANK CALCULATION STEP10 COMPLETE' + '>>'+ @FILE
		EXEC MASTER..XP_CMDSHELL @CMD

		--Drop #PES_STG_BOL Table
		DROP TABLE #PES_STG_BOL

		DROP TABLE 	#TEMP_TEU

		--BANK CALCULATION AND FINANCIAL FLAG CALCULATION ENDS

		IF @SOURCE_OF_EXECUTION='RAW_TO_STAGING'
		BEGIN
		
			SET @TIME= DATEDIFF(N,GETDATE(),@DATE)

			SET @CMD = 'ECHO BANK CALCULATION ENDED' + CAST(@TIME AS VARCHAR(20)) + '>>'+ @FILE
			EXEC MASTER..XP_CMDSHELL @CMD
	
		
			--COMMITTING THE TRANSACTIONS IF NO ERROR OCCURRED
			SET @TIME1= DATEDIFF(N,GETDATE(),@DATE)

			SET @cmd = 'ECHO PROCEDURE PES_TEU_CALCULATION FOR RAW_TO_STAGING SUCCESSFULLY	COMPLETED'+ CAST(@TIME1 AS VARCHAR(20)) + ' >> '+ @FILE
			EXEC master..xp_cmdshell @CMD
		END

	END TRY

	BEGIN CATCH
		SET @ERROR_NUMBER=ERROR_NUMBER()
		SET @ERROR_LINE=ERROR_LINE()
		SET @ERROR_MESSAGE='STORED PROCEDURE PES_TEU_CALCULATION FAILED AT LINE NUMBER:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()
		IF @SOURCE_OF_EXECUTION='RAW_TO_STAGING'	
		BEGIN
			SET @CMD = 'ECHO ERROR_MESSAGE-- '+@ERROR_MESSAGE+ ' >> '+ @FILE
			EXEC master..xp_cmdshell @CMD 
			SET @CMD = 'ECHO ERROR_NUMBER-- '+@ERROR_NUMBER+ ' >> '+ @FILE
			EXEC master..xp_cmdshell @CMD 
			SET @CMD = 'ECHO ERROR_LINE-- '+@ERROR_LINE+ ' >> '+ @FILE
			EXEC master..xp_cmdshell @CMD 
		END

		DROP TABLE 	#TEMP_TEU
		DROP TABLE #PES_STG_BOL
		
		RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG

	END CATCH


-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
