/****** Object:  StoredProcedure [dbo].[PES_CHANGESTNDTIME]    Script Date: 01/03/2013 19:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_CHANGESTNDTIME]
@INPUTTIME VARCHAR(16),
@OUTPUTTIME VARCHAR(16) OUTPUT
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

DECLARE @BATCHID VARCHAR(3)
DECLARE @TEMP1 VARCHAR(10)
DECLARE @TEMP2 VARCHAR(10)
DECLARE @TEMP3 VARCHAR(10)
DECLARE @TEMP4 VARCHAR(10)
BEGIN TRY
SET @TEMP1=SUBSTRING(@INPUTTIME,1,2)
SET @TEMP2=SUBSTRING(@INPUTTIME,3,2)
SET @TEMP3=SUBSTRING(@INPUTTIME,5,4)
SET @TEMP4 = @TEMP3 + @TEMP1 + @TEMP2

SET @OUTPUTTIME = CONVERT(DATETIME,@TEMP4)
SELECT @OUTPUTTIME
END TRY
BEGIN CATCH

SELECT cast(@OUTPUTTIME as datetime)
END CATCH

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
