/****** Object:  StoredProcedure [dbo].[USP_PES_ROLLUP_PORT]    Script Date: 01/03/2013 19:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_PES_ROLLUP_PORT]
AS 
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

DECLARE @TRANNAME VARCHAR(20), @TRANNAME1 VARCHAR(20), @ERROR_MESSAGE VARCHAR(1000),  
@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50)  
SET @TRANNAME = 'MyTransaction'  

DECLARE @ROLLUP_COUNT INT
SELECT @ROLLUP_COUNT=COUNT(*) FROM PES_PORT_MERGE_WORK  WITH (NOLOCK)  WHERE UPDATE_STATUS=0 

IF @ROLLUP_COUNT>0
BEGIN


 
BEGIN TRY  

BEGIN TRANSACTION @TRANNAME 

--SET WORK IN PROGRESS FOR MERGE WORK UPDATE
Update PES_PORT_MERGE_WORK WITH (UPDLOCK) Set update_status=NULL Where update_status = 0

--CHANGE THE CLUSTER_ID IN PES_LIB_PORT
UPDATE A WITH (UPDLOCK) SET A.REF_ID=B.TO_PORT_ID FROM LIB_PORT A
JOIN PES_PORT_MERGE_WORK B  WITH (NOLOCK)  ON A.REF_ID=B.FROM_PORT_ID 


--DELETE FROM REF_PORT WHERE ID IN(SELECT FROM_PORT_ID FROM PES_PORT_MERGE_WORK WITH (NOLOCK) )

-- UPDATE EXCEPTION DATABASE
UPDATE A WITH (UPDLOCK) SET A.US_PORT=B.TO_PORT_ID
FROM SCREEN_TEST.DBO.BL_BL A 
  JOIN PES_PORT_MERGE_WORK B  WITH (NOLOCK)  ON 
    A.US_PORT=B.FROM_PORT_ID

UPDATE A WITH (UPDLOCK) SET A.USPORT_ID=B.TO_PORT_ID
FROM SCREEN_TEST.DBO.DQA_VOYAGE A 
  JOIN PES_PORT_MERGE_WORK B  WITH (NOLOCK)  ON 
    A.USPORT_ID=B.FROM_PORT_ID

UPDATE A WITH (UPDLOCK) SET A.USPORT_ID=B.TO_PORT_ID
FROM SCREEN_TEST.DBO.DQA_BL A 
  JOIN PES_PORT_MERGE_WORK B  WITH (NOLOCK)  ON 
    A.USPORT_ID=B.FROM_PORT_ID

UPDATE A WITH (UPDLOCK) SET A.FPORT_ID_MOD=B.TO_PORT_ID
FROM SCREEN_TEST.DBO.DQA_BL A 
  JOIN PES_PORT_MERGE_WORK B  WITH (NOLOCK)  ON 
    A.FPORT_ID_MOD=B.FROM_PORT_ID


-- UPDATE STAGING DATABASE
UPDATE A WITH (UPDLOCK) SET A.PORT_DEPART_REF_ID=B.TO_PORT_ID
FROM PES_STG_BOL A 
  JOIN PES_PORT_MERGE_WORK B  WITH (NOLOCK)  ON 
    A.PORT_DEPART_REF_ID=B.FROM_PORT_ID


UPDATE A WITH (UPDLOCK) SET A.PORT_ARRIVE_REF_ID=B.TO_PORT_ID
FROM PES_STG_BOL A
  JOIN PES_PORT_MERGE_WORK B  WITH (NOLOCK)  ON 
    A.PORT_ARRIVE_REF_ID=B.FROM_PORT_ID


UPDATE A WITH (UPDLOCK) SET A.ULTPORT_ID=B.TO_PORT_ID
FROM PES_STG_BOL A
  JOIN PES_PORT_MERGE_WORK B  WITH (NOLOCK)  ON 
    A.ULTPORT_ID=B.FROM_PORT_ID

UPDATE A WITH (UPDLOCK) SET A.RECEIPT_ID=B.TO_PORT_ID
FROM PES_STG_BOL A
  JOIN PES_PORT_MERGE_WORK B  WITH (NOLOCK)  ON 
    A.RECEIPT_ID=B.FROM_PORT_ID


COMMIT TRANSACTION @TRANNAME  

END TRY
BEGIN CATCH  
  SET @ERROR_NUMBER=ERROR_NUMBER()  
  SET @ERROR_LINE=ERROR_LINE()  
  SET @ERROR_MESSAGE='Stored Procedure USP_PES_ROLLUP_PORT of STAGING failed at Stage-1 with ERROR DESCRIPTION:  '+ERROR_MESSAGE()

  ROLLBACK TRANSACTION @TRANNAME  
  
  EXEC PES.DBO.PES_SP_EMAIL 'Port Rollup Process Failed','Port Rollup Process Failed',@ERROR_MESSAGE,@ERROR_LINE,@ERROR_NUMBER
 
  RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG

END CATCH

BEGIN TRY
--UPDATE SAVVIS DATAWAREHOUSE
EXEC PES_DW.PESDW.DBO.USP_PES_DW_ROLLUP_PORT
END TRY
BEGIN CATCH
RAISERROR('USP_PES_DW_ROLLUP_PORT OF SAVVIS FAILED',21,1) WITH LOG
END CATCH

BEGIN TRY  

BEGIN TRANSACTION @TRANNAME1 

UPDATE PES_PORT_MERGE_WORK WITH (UPDLOCK) SET UPDATE_STATUS=1,LAST_EXECUTED=GETDATE()
WHERE UPDATE_STATUS IS NULL


EXEC PES_SP_EMAIL 'PORT Rollup Process Successfuly Completed','PORT Rollup Process Successfuly Completed','','',''

COMMIT TRANSACTION @TRANNAME1


END TRY

BEGIN CATCH  
  SET @ERROR_NUMBER=ERROR_NUMBER()  
  SET @ERROR_LINE=ERROR_LINE()  
  SET @ERROR_MESSAGE='Stored Procedure USP_PES_PORT_ROLLUP failed in Stage-2 with ERROR DESCRIPTION:  '+ERROR_MESSAGE()  
  
  ROLLBACK TRANSACTION @TRANNAME1  
  
  EXEC PES_SP_EMAIL 'PORT Rollup Process Failed','Port Rollup Process Failed',@ERROR_MESSAGE,@ERROR_LINE,@ERROR_NUMBER  

  RAISERROR('USP_PES_ROLLUP_PORT FAILED in Stage-2',21,1) WITH LOG
 
END CATCH

END


-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT



END
GO
