/****** Object:  StoredProcedure [dbo].[PES_SEQ_GENERATION]    Script Date: 01/03/2013 19:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_SEQ_GENERATION]
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


DECLARE @TRANNAME VARCHAR(20),@FILE VARCHAR(500),@FILE_NAME VARCHAR(50)
DECLARE @CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),
@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50)
SET @TRANNAME = 'MyTransaction'
SELECT @FILE = PATH FROM PES_CONFIGURATION WHERE SOURCE='SP_LOG'
SELECT @FILE_NAME= FILENAME FROM PES_PROGRESS_STATUS WHERE LOADNUMBER=(SELECT TOP 1 LOAD_NUMBER FROM RAW_BOL)
SET @FILE='"'+@FILE+@FILE_NAME+'_LOG.TXT'+'"'

SET @CMD = 'ECHO PROCEDURE PES_SEQ_GENERATION EXECUTION STARTED' + '>>'+ @FILE
EXEC MASTER..XP_CMDSHELL @CMD 

BEGIN TRANSACTION @TRANNAME

BEGIN TRY 

DECLARE @COUNT INT
DECLARE @BOL_ID INT
DECLARE @HZMT_ID INT
DECLARE @VAR_LOOP INT
DECLARE @INCREMENT_VAR INT
DECLARE @COUNT1 INT
DECLARE @BOL_ID1 INT
DECLARE @MAN_ID INT
DECLARE @VAR_LOOP1 INT
DECLARE @INCREMENT_VAR1 INT
DECLARE @STD_WT1  NUMERIC(16,8)
DECLARE @COM_CODE VARCHAR(10)
DECLARE @COM_CODE_STATUS VARCHAR(1)

DECLARE CURSOR_SEQ_GEN CURSOR FOR
select A.BOL_ID,count(A.BOL_ID)  from (SELECT BOL_ID FROM PES_STG_HZMT WHERE BOL_ID IN (SELECT BOL_ID FROM  PES_TEMP1_STG_BOL))A group by A.BOL_ID

OPEN CURSOR_SEQ_GEN
FETCH NEXT FROM CURSOR_SEQ_GEN INTO @BOL_ID,@COUNT
WHILE @@FETCH_STATUS = 0
BEGIN

	SET @VAR_LOOP=@COUNT
	DECLARE CURSOR_SEQ_GEN1 CURSOR FOR
	SELECT HZMT_ID FROM dbo.PES_STG_HZMT A  WITH (NOLOCK)  WHERE BOL_ID=@BOL_ID
	OPEN CURSOR_SEQ_GEN1
	WHILE @VAR_LOOP!=0
	BEGIN
		SET @INCREMENT_VAR=0
		FETCH NEXT FROM CURSOR_SEQ_GEN1 INTO @HZMT_ID
		WHILE @@FETCH_STATUS = 0
		BEGIN
			SET @INCREMENT_VAR=@INCREMENT_VAR+1
		
				UPDATE dbo.PES_STG_HZMT WITH(UPDLOCK) SET HAZMAT_SEQ_NBR=@INCREMENT_VAR WHERE BOL_ID=@BOL_ID AND HZMT_ID=@HZMT_ID
			
			FETCH NEXT FROM CURSOR_SEQ_GEN1 INTO @HZMT_ID
		END
		
	SET @VAR_LOOP=@VAR_LOOP-1
	END
	FETCH NEXT FROM CURSOR_SEQ_GEN INTO @BOL_ID,@COUNT
CLOSE CURSOR_SEQ_GEN1
DEALLOCATE CURSOR_SEQ_GEN1
END
CLOSE CURSOR_SEQ_GEN
DEALLOCATE CURSOR_SEQ_GEN

DECLARE CURSOR_SEQ_GEN CURSOR FOR select A.BOL_ID,count(A.BOL_ID)  from (SELECT BOL_ID FROM dbo.PES_STG_MAN WHERE BOL_ID IN (SELECT BOL_ID FROM  PES_TEMP1_STG_BOL)) A group by A.BOL_ID

OPEN CURSOR_SEQ_GEN
FETCH NEXT FROM CURSOR_SEQ_GEN INTO @BOL_ID1,@COUNT1
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @VAR_LOOP1=@COUNT1
		DECLARE CURSOR_SEQ_GEN1 CURSOR FOR
		SELECT MAN_ID FROM dbo.PES_STG_MAN A  WITH (NOLOCK)  WHERE BOL_ID=@BOL_ID1
		OPEN CURSOR_SEQ_GEN1
		WHILE @VAR_LOOP1!=0
		BEGIN
		SET @INCREMENT_VAR1=0
		FETCH NEXT FROM CURSOR_SEQ_GEN1 INTO @MAN_ID
		WHILE @@FETCH_STATUS = 0
		BEGIN
			SET @INCREMENT_VAR1=@INCREMENT_VAR1+1
		
				UPDATE dbo.PES_STG_MAN  WITH(UPDLOCK) SET MAN_SEQ_NBR=@INCREMENT_VAR1 WHERE BOL_ID=@BOL_ID1 AND MAN_ID=@MAN_ID
			
			FETCH NEXT FROM CURSOR_SEQ_GEN1 INTO @MAN_ID
		END
		
		SET @VAR_LOOP1=@VAR_LOOP1-1
		END
		FETCH NEXT FROM CURSOR_SEQ_GEN INTO @BOL_ID1,@COUNT1
		CLOSE CURSOR_SEQ_GEN1
		DEALLOCATE CURSOR_SEQ_GEN1	
	END
CLOSE CURSOR_SEQ_GEN
DEALLOCATE CURSOR_SEQ_GEN




	--UPDATE PES_STG_CMD WITH(UPDLOCK) SET REF_WGT_UNIT_ID=C.ID FROM (SELECT ID,B.CMD_ID FROM REF_WEIGHT_UNIT A, RAW_CMD B WHERE A.WGT_UNIT = B. HARM_UNIT)C WHERE C.CMD_ID=PES_STG_CMD.CMD_ID 


	INSERT INTO REF_WEIGHT_UNIT(WGT_UNIT)SELECT DISTINCT HARM_UNIT FROM RAW_CMD  WITH (NOLOCK)  WHERE NOT EXISTS(SELECT WGT_UNIT FROM REF_WEIGHT_UNIT  WITH (NOLOCK) ) AND HARM_UNIT <>' '


--DECLARE WT_TEMP_CURSOR CURSOR FOR SELECT STD_WT FROM (SELECT B.BOL_ID,B.CMD_ID,CONVERSION_FACTOR* (CASE ISNUMERIC(HARM_WEIGHT) WHEN 0 THEN 0 ELSE HARM_WEIGHT END)AS STD_WT FROM REF_WEIGHT_UNIT A,RAW_CMD B WHERE A.WGT_UNIT=B.HARM_UNIT)C,PES_STG_CMD S WHERE C.BOL_ID=S.BOL_ID AND C.CMD_ID=S.CMD_ID AND S.REF_WGT_UNIT_ID<>0 
--OPEN WT_TEMP_CURSOR
--FETCH NEXT FROM WT_TEMP_CURSOR INTO @STD_WT1
--WHILE @@FETCH_STATUS = 0
--BEGIN
--
--UPDATE PES_STG_CMD  SET CMD_STD_WGT=@STD_WT1 
--
--FETCH NEXT FROM WT_TEMP_CURSOR INTO @STD_WT1
--END
--CLOSE WT_TEMP_CURSOR



--FOR PES_STG_BOL TO SET REF_WGT_UNIT_ID AND CALCULATE STD_WGT

--MODIFIED BY PRABHAV ON 21ST MAY 2009 (WEIGHT, WEIGHT_UNIT IS DIRECTLY POPULATED IN PACKAGE PES_STG_BOL)
-------------------------------------------------------------------------------------------------------------------------------------------------------===============------------------
--UPDATE PES_STG_BOL WITH(UPDLOCK) SET REF_WGT_UNIT_ID=C.ID FROM (SELECT ID,B.BOL_ID FROM REF_WEIGHT_UNIT A, RAW_BOL B  WITH (NOLOCK)  WHERE A.WGT_UNIT=B.WEIGHT_UNITS)C WHERE C.BOL_ID=PES_STG_BOL.BOL_ID


	INSERT INTO REF_WEIGHT_UNIT(WGT_UNIT)SELECT DISTINCT WEIGHT_UNITS FROM RAW_BOL WHERE NOT EXISTS(SELECT WGT_UNIT FROM REF_WEIGHT_UNIT) AND WEIGHT_UNITS<>' '


	--UPDATE PES_STG_BOL WITH(UPDLOCK) SET BOL_NTERP_STD_WGT=C.STD_WT FROM (SELECT B.BOL_ID,CONVERSION_FACTOR*WEIGHT AS STD_WT FROM REF_WEIGHT_UNIT A,RAW_BOL B  WITH (NOLOCK)  WHERE  A.WGT_UNIT=B.WEIGHT_UNITS)C WHERE C.BOL_ID=PES_STG_BOL.BOL_ID AND PES_STG_BOL.REF_WGT_UNIT_ID<>0

-- FOR MEAS_UNIT_ID IN STG_BOL

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	UPDATE PES_STG_BOL WITH(UPDLOCK) SET REF_MEAS_UNIT_ID=C.ID FROM (SELECT ID,B.BOL_ID FROM REF_MEAS_UNIT A, RAW_BOL B  WITH (NOLOCK)  WHERE A.MEAS_UNIT=B.MEAS_UNITS)C WHERE C.BOL_ID=PES_STG_BOL.BOL_ID 


	INSERT INTO REF_MEAS_UNIT(MEAS_UNIT) SELECT DISTINCT MEAS_UNITS FROM RAW_BOL WHERE NOT EXISTS(SELECT MEAS_UNIT FROM REF_MEAS_UNIT) AND MEAS_UNITS <> ' '


-- FOR QTY_UNIT_ID IN STG_BOL

	UPDATE PES_STG_BOL WITH(UPDLOCK) SET REF_QTY_UNIT_ID=C.ID FROM (SELECT ID,B.BOL_ID FROM PES_PPMM_PACK A, RAW_BOL B WITH (NOLOCK)  WHERE A.AMSUM=B.MFEST_UNITS)C WHERE C.BOL_ID=PES_STG_BOL.BOL_ID 



	--INSERT INTO REF_MANIFEST_UNIT(MANIFEST_UNIT) SELECT DISTINCT MFEST_UNITS FROM RAW_BOL  WITH (NOLOCK)  WHERE NOT EXISTS(SELECT MANIFEST_UNIT FROM REF_MANIFEST_UNIT) AND MFEST_UNITS <> ' ' 


-- FOR RAW_HZMT

	INSERT INTO REF_MEAS_UNIT(MEAS_UNIT) SELECT DISTINCT UNM FROM RAW_HZMT  WITH (NOLOCK)  WHERE NOT EXISTS(SELECT MEAS_UNIT FROM REF_MEAS_UNIT) AND UNM <> ' '


-- TRANSMODE_CODE

	INSERT INTO REF_TRANS_MODE(TRANS_MODE_CD) SELECT DISTINCT MODE_TRANSPORT FROM RAW_BOL  WITH (NOLOCK)  WHERE NOT EXISTS(SELECT TRANS_MODE_CD FROM REF_TRANS_MODE) AND MODE_TRANSPORT<>' '
--COMMITTING THE TRANSACTIONS IF NO ERROR OCCURRED
	COMMIT TRANSACTION @TRANNAME
	SET @cmd = 'ECHO PROCEDURE PES_SEQ_GENERATION EXECUTED SUCCESSFULLY		'+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD
END TRY

BEGIN CATCH
	SET @ERROR_NUMBER=ERROR_NUMBER()
	SET @ERROR_LINE=ERROR_LINE()
	SET @ERROR_MESSAGE='STORED PROCEDURE PES_SEQ_GENERATION FAILED AT LINE NUMBER:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()
	
	SET @CMD = 'ECHO ERROR_MESSAGE-- '+@ERROR_MESSAGE+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
    SET @CMD = 'ECHO ERROR_NUMBER-- '+@ERROR_NUMBER+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
	SET @CMD = 'ECHO ERROR_LINE-- '+@ERROR_LINE+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
	
	
	SET @CMD = 'ECHO TRANSACTIONS ROLLBACKED'+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
	RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG

	ROLLBACK TRANSACTION @TRANNAME
END CATCH

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
