USE [PES]
GO
/****** Object:  StoredProcedure [dbo].[BILL_DETAILS]    Script Date: 01/03/2013 19:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BILL_DETAILS] @LOADNUMBER NUMERIC(12,0)
AS

BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


DECLARE @TOTALPENDING INT,
@DELETED INT,
@MASTERHOUSE INT,
@ACTUALPENDING INT,
@SHIPCNTRLPENDING INT,
@SHIPCNTRLREJECTED INT,
@STRUCTURINGPENDING INT, 
@STRUCTVOYAGEHOLDREJECTED INT,
@STANDARDIZTIONPENDING INT,
@STANDVOYAGEHOLDREJECTED INT,
@COMPANYVOYAGEHOLDREJECTED INT,
@COMPANYPENDING INT


SELECT 1
SELECT @TOTALPENDING = COUNT(*) 
FROM PES_STG_BOL  WITH (NOLOCK) 
WHERE RECORD_STATUS = 'PENDING' 
AND REF_LOAD_NUM_ID = @LOADNUMBER
AND BOL_STATUS <> 'DELETE'

SELECT @DELETED = COUNT(*) 
FROM PES_STG_BOL  WITH (NOLOCK) 
WHERE REF_LOAD_NUM_ID = @LOADNUMBER
AND BOL_STATUS <> 'DELETE'
AND RECORD_STATUS <> 'DELETE'
AND IS_DELETED = 'Y'


SELECT @MASTERHOUSE= COUNT(*) 
FROM PES_STG_BOL  WITH (NOLOCK) 
WHERE BOL_STATUS IN ('MASTER','HOUSE')
AND REF_LOAD_NUM_ID = @LOADNUMBER
AND BOL_STATUS <> 'DELETE'
AND RECORD_STATUS <> 'DELETE'

SELECT @ACTUALPENDING= COUNT(*) 
FROM PES_STG_BOL  WITH (NOLOCK) 
WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
AND RECORD_STATUS = 'PENDING'
AND REF_LOAD_NUM_ID = @LOADNUMBER
AND ISNULL(IS_DELETED,'')<>'Y'

SELECT @SHIPCNTRLPENDING= COUNT(*) 
FROM PES_STG_BOL  WITH (NOLOCK) 
WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
AND RECORD_STATUS = 'PENDING'
AND REF_LOAD_NUM_ID = @LOADNUMBER
AND ISNULL(IS_DELETED,'')<>'Y'
AND STND_VOYG_ID IS NULL

SELECT @SHIPCNTRLREJECTED= 
COUNT(*) FROM PES_STG_BOL  WITH (NOLOCK) 
JOIN SCREEN_TEST.DBO.STD_VOYAGE  WITH (NOLOCK) 
ON T_NBR = BOL_ID
WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
AND RECORD_STATUS = 'PENDING'
AND REF_LOAD_NUM_ID = @LOADNUMBER
AND ISNULL(IS_DELETED,'')<>'Y'
AND STND_VOYG_ID IS NULL
AND VOYAGE_STATUS = 'REJECTED'


SELECT @STRUCTURINGPENDING =
COUNT(*) FROM PES_STG_BOL  WITH (NOLOCK) 
JOIN SCREEN_TEST.DBO.BL_CACHE  WITH (NOLOCK) 
ON T_NBR = BOL_ID
WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
AND RECORD_STATUS = 'PENDING'
AND DQA_BL_STATUS = 'PENDING'
AND REF_LOAD_NUM_ID = @LOADNUMBER
AND ISNULL(IS_DELETED,'')<>'Y'

SELECT @STRUCTVOYAGEHOLDREJECTED= 
COUNT(*) FROM PES_STG_BOL  WITH (NOLOCK) 
JOIN SCREEN_TEST.DBO.DQA_VOYAGE  WITH (NOLOCK) 
ON STND_VOYG_ID = VOYAGE_ID
JOIN SCREEN_TEST.DBO.BL_CACHE  WITH (NOLOCK) 
ON T_NBR = BOL_ID
WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
AND RECORD_STATUS = 'PENDING'
AND DQA_BL_STATUS = 'PENDING'
AND REF_LOAD_NUM_ID = @LOADNUMBER
AND ISNULL(IS_DELETED,'')<>'Y'
AND VOYAGE_STATUS IN ('REJECTED','HOLD')

SELECT @STANDARDIZTIONPENDING =
COUNT(DISTINCT BOL_ID) FROM PES_STG_BOL  WITH (NOLOCK) 
JOIN SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE  WITH (NOLOCK) 
ON T_NBR = BOL_ID
WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
AND RECORD_STATUS = 'PENDING'
AND REF_LOAD_NUM_ID = @LOADNUMBER
AND ISNULL(IS_DELETED,'')<>'Y'
AND PROCESS_NAME NOT IN ('INVALID USPORT','INVALID VESSEL NAME', 'INVALID CARRIER')
AND COMPLETE_STATUS = 1


SELECT @STANDVOYAGEHOLDREJECTED =
COUNT(DISTINCT BOL_ID) FROM PES_STG_BOL  WITH (NOLOCK) 
JOIN SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE  WITH (NOLOCK) 
ON T_NBR = BOL_ID
JOIN SCREEN_TEST.DBO.DQA_VOYAGE  WITH (NOLOCK) 
ON STND_VOYG_ID = VOYAGE_ID
WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
AND RECORD_STATUS = 'PENDING'
AND REF_LOAD_NUM_ID = @LOADNUMBER
AND ISNULL(IS_DELETED,'')<>'Y'
AND PROCESS_NAME NOT IN ('INVALID USPORT','INVALID VESSEL NAME', 'INVALID CARRIER')
AND COMPLETE_STATUS = 1
AND VOYAGE_STATUS IN ('REJECTED','HOLD')


SELECT @COMPANYPENDING =
COUNT(DISTINCT A.BOL_ID) FROM PES_STG_BOL  A WITH (NOLOCK)
JOIN PES.DBO.PES_TRANSACTIONS_LIB_PTY  B WITH (NOLOCK)
ON A.BOL_ID = B.BOL_ID
WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
AND RECORD_STATUS = 'PENDING'
AND REF_LOAD_NUM_ID = @LOADNUMBER
AND ISNULL(IS_DELETED,'')<>'Y'
AND STATUS = 'PENDING'

SELECT @COMPANYVOYAGEHOLDREJECTED =
COUNT(DISTINCT A.BOL_ID) FROM PES_STG_BOL  A WITH (NOLOCK)
JOIN PES.DBO.PES_TRANSACTIONS_LIB_PTY  B WITH (NOLOCK)
ON A.BOL_ID = B.BOL_ID
JOIN SCREEN_TEST.DBO.DQA_VOYAGE  WITH (NOLOCK) 
ON STND_VOYG_ID = VOYAGE_ID
WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
AND RECORD_STATUS = 'PENDING'
AND REF_LOAD_NUM_ID = @LOADNUMBER
AND ISNULL(IS_DELETED,'')<>'Y'
AND STATUS = 'PENDING'
AND VOYAGE_STATUS IN ('REJECTED','HOLD')


SELECT @TOTALPENDING [TOTAL PENDING],
@DELETED [DELETED] ,
@MASTERHOUSE [MASTER HOUSE],
@ACTUALPENDING [ACTUAL PENDING(EXCLUDING MASTER HOUSE)],
@SHIPCNTRLPENDING [PENDING AT SHIP CNTRL],
@SHIPCNTRLREJECTED [BILLS REJECTED AT SHIP CNTRL],
@STRUCTURINGPENDING [PENDING AT STRUCTURING], 
@STRUCTVOYAGEHOLDREJECTED [BILL WITH VOYAGES AT REJECTED/HOLD IN STRUCTURING],
@STANDARDIZTIONPENDING [PENDING AT STANDARDIZATION],
@STANDVOYAGEHOLDREJECTED [BILLS WITH VOYAGES AT REJECTED/HOLD IN STANDARDIZTION],
@COMPANYPENDING [PENDING AT COMPANY],
@COMPANYVOYAGEHOLDREJECTED [BILLS WITH VOYAGES AT REJECTED/HOLD IN COMPANY]

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT


END
GO
