/****** Object:  StoredProcedure [dbo].[JOCS_SP_CALL_SSIS_REMOVE_SPACES]    Script Date: 01/03/2013 19:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[JOCS_SP_CALL_SSIS_REMOVE_SPACES] 

---@BIZ_RETURNSTATUS  varchar(10) output 
As
Begin

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

Declare @PackagePath varchar(1000)
Declare @Command varchar(3000)
Declare @Result int





	BEGIN
					
					--SET @Load_Num  =@LOAD_NUMBER


						Set @PackagePath = '\\10.31.18.132\joc sailings\SSIS\SSIS_Packages\PKG_JOC_REMOVE_SPACES.dtsx'
					

						Set @Command = 
						'dtexec -f ' + '"'+ @PackagePath + '"'
						--+ ' /set \Package.Variables[User::LOADNUMBER].Properties[Value];'+ CAST(@Load_Num AS VARCHAR(10))
						

						EXEC /*@Result =*/ xp_cmdshell @command
	
				END






-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT


END
GO
