/****** Object:  StoredProcedure [dbo].[USP_PES_EST_VALUE_CALCULATION]    Script Date: 01/03/2013 19:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_PES_EST_VALUE_CALCULATION] @SOURCE_OF_EXECUTION VARCHAR(20)
AS
/* Change History
	
	Changes on 22-March-2010, Cognizant

	Whenever there is an error in Est Value Calculation, set Est Value to 0. Capture the problem record in 
	PES_TEMP_CALCULATIONS_ERROR_LOG table

*/

BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

	BEGIN TRY
		DECLARE @FILE VARCHAR(500),@FILE_NAME VARCHAR(50), @LOADNUMBER NUMERIC(12,0)
		DECLARE @CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),
		@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50),@DATE DATETIME,@TIME INT,@DATE1 DATETIME,@TIME1 INT

		IF @SOURCE_OF_EXECUTION='RAW_TO_STAGING'
		BEGIN
			SELECT @FILE = PATH FROM PES_CONFIGURATION WITH (NOLOCK)  WHERE SOURCE='SP_LOG'
			SELECT @FILE_NAME= FILENAME, @LOADNUMBER = LOADNUMBER FROM PES_PROGRESS_STATUS  WITH (NOLOCK)  
			WHERE LOAD_DT=(SELECT MAX(isnull(Load_DT,getdate())) FROM PES_PROGRESS_STATUS  WITH (NOLOCK) )
			SET @FILE='"'+@FILE+@FILE_NAME+'_LOG.TXT'+'"'
		
			SET @CMD = 'ECHO PROCEDURE USP_PES_EST_VALUE_CALCULATION FOR RAW_TO_STAGING EXECUTION STARTED' + '>>'+ @FILE
			EXEC MASTER..XP_CMDSHELL @CMD 

			--SET @DATE1=GETDATE()
			SET @DATE=GETDATE()

			SET @CMD = 'ECHO EST_VALUE CALCULATION STARTED' + '>>'+ @FILE
			EXEC MASTER..XP_CMDSHELL @CMD
		END

		DECLARE @BOL_ID INT,@COUNTRY_CODE VARCHAR(3),
		@CMD_WGT FLOAT,@BOL_DIRECTION CHAR(1),@DISCHARGE_PORT VARCHAR(10),
		@CMD_HSCODE VARCHAR(50),@EST_VALUE NUMERIC(12,2),@EVCOAST CHAR(1),
		@EVHARM4 CHAR(4),@EVCTRY CHAR(3),@EVVPMT NUMERIC(12),@SAVE_VPMT NUMERIC(12,2),
		@CTRYCODE VARCHAR(3),@CALC_PERCENT NUMERIC(12,2),@CMD_ID INT, 
		@WGT_CONV_FACTOR NUMERIC(16,8),@EVCOAST1 CHAR(1),@HARM6 CHAR(6),
		@KILOTONS FLOAT,@OLD_USPORT VARCHAR(5),@COUNT INT

		SELECT TOP 1 @WGT_CONV_FACTOR=(1/CONVERSION_FACTOR)*1000 FROM REF_WEIGHT_UNIT  WITH (NOLOCK)  WHERE WGT_UNIT='LB'

		CREATE TABLE #TEMP_EST_VALUE
		(
		BOL_ID NUMERIC(12,0),
		CMD_ID NUMERIC(12,0),
		CMD_HSCODE VARCHAR(10),
		CMD_WGT_VALUE NUMERIC(16,0),
		BOL_DIRECTION CHAR(1),
		CTRYCODE VARCHAR(3),
		DISCHARGE_PORT VARCHAR(4),
		CMD_EST_VALUE NUMERIC(12,2)
		)

		IF @SOURCE_OF_EXECUTION='RAW_TO_STAGING'				
			INSERT INTO #TEMP_EST_VALUE(BOL_ID,CMD_ID,CMD_HSCODE,CMD_WGT_VALUE,BOL_DIRECTION,
			CTRYCODE,DISCHARGE_PORT)
			(SELECT A.BOL_ID,A.CMD_ID,A.CMD_HSCODE,A.CMD_WGT_VALUE,B.BOL_DIRECTION,B.CTRYCODE,
			(SELECT LEFT(CODE,4) FROM REF_PORT  WITH (NOLOCK)  WHERE ID=B.PORT_DEPART_REF_ID) AS DISCHARGE_PORT 
			FROM PES_STG_CMD A WITH (NOLOCK)  join PES_STG_BOL B WITH (NOLOCK)  
			on  A.BOL_ID=B.BOL_ID
			WHERE 
			B.REF_LOAD_NUM_ID=@LOADNUMBER AND B.RECORD_STATUS='AUTOMATED')
		
		ELSE IF @SOURCE_OF_EXECUTION='UPDATE_STAGING'
			
			INSERT INTO #TEMP_EST_VALUE(BOL_ID,CMD_ID,CMD_HSCODE,CMD_WGT_VALUE,BOL_DIRECTION,
			CTRYCODE,DISCHARGE_PORT)
			(
				SELECT A.BOL_ID,A.CMD_ID,A.CMD_HSCODE,A.CMD_WGT_VALUE,B.BOL_DIRECTION,B.CTRYCODE,
				(SELECT LEFT(CODE,4) FROM REF_PORT  WITH (NOLOCK)  WHERE ID=B.PORT_DEPART_REF_ID) AS DISCHARGE_PORT 
				FROM PES_STG_BOL B WITH (NOLOCK)  JOIN PES_STG_CMD A WITH (NOLOCK) 
				ON A.BOL_ID=B.BOL_ID 
				AND B.BOL_ID IN (SELECT BOL_ID FROM PES_BILLS_UPDATE_STAGING  WITH (NOLOCK) )
			)

		
		--EST_VALUE CALCULATION BEGINS
		DECLARE EST_VALUE_CURSOR CURSOR FOR SELECT BOL_ID,CMD_ID,CMD_HSCODE,CMD_WGT_VALUE,
		BOL_DIRECTION,CTRYCODE,DISCHARGE_PORT FROM #TEMP_EST_VALUE 

		--CURSOR EXECUTION BEGIN
		OPEN EST_VALUE_CURSOR

		--BEGIN FETCHING RECORDS STG_CMD AND STG_BOL
		FETCH NEXT FROM EST_VALUE_CURSOR INTO @BOL_ID,@CMD_ID,@CMD_HSCODE,@CMD_WGT,@BOL_DIRECTION,@CTRYCODE,@DISCHARGE_PORT
		WHILE @@FETCH_STATUS = 0
		BEGIN

			--Changes by Cognizant, 22-March-2010, START
			BEGIN TRY
			--Changes by Cognizant, 22-March-2010, END

				SET @EST_VALUE=NULL
				SET @EVCOAST=NULL
				SET @EVVPMT=NULL
				SET @OLD_USPORT=NULL
				SET @COUNT=NULL
				
				--CONVERT NEW USPORT TO OLD USPORT
				SELECT @OLD_USPORT=SOURCE FROM PES_PORT_CONVERSION  WITH (NOLOCK)  
				WHERE TARGET=@DISCHARGE_PORT AND 
				IS_US_PORT='1'

				IF @OLD_USPORT IS NOT NULL
					SET @DISCHARGE_PORT=@OLD_USPORT

				IF @CMD_WGT=0 OR @CMD_WGT IS NULL
					SET @EST_VALUE=0
				ELSE
				BEGIN
					SET @KILOTONS=@CMD_WGT/@WGT_CONV_FACTOR
					IF @CTRYCODE='649' OR @CTRYCODE='469'
						SET @CTRYCODE='470'

					SELECT @COUNT=COUNT(*) FROM PES_US_COAST  WITH (NOLOCK)  WHERE SUBSTRING(USPORT_CODE,1,2)=SUBSTRING(@DISCHARGE_PORT,1,2)
					
					IF @COUNT=1
						SELECT @EVCOAST=COAST FROM PES_US_COAST WITH (NOLOCK)  WHERE SUBSTRING(USPORT_CODE,1,2)=SUBSTRING(@DISCHARGE_PORT,1,2)					
					ELSE IF @COUNT>1
						SELECT @EVCOAST=COAST FROM PES_US_COAST WITH (NOLOCK)  WHERE USPORT_CODE=@DISCHARGE_PORT

					IF @EVCOAST IS NULL
						SELECT @EVCOAST=COAST FROM PES_US_COAST WITH (NOLOCK)  WHERE SUBSTRING(USPORT_CODE,1,2)=SUBSTRING(@DISCHARGE_PORT,1,2)					
					
					IF @EVCOAST IS NULL	
						SET @EVCOAST=' '
								
					IF @EVCOAST=' '
					BEGIN
						SET @HARM6=SUBSTRING(@CMD_HSCODE,1,6)
						SET @EVCTRY=SUBSTRING(@CTRYCODE,1,1)
				
						IF @BOL_DIRECTION='E'
							SELECT @EVVPMT=VMPT FROM PES_EXPVALUE_UPDATE WITH (NOLOCK)  WHERE HSCODE6_CTRYCODE+COAST=@HARM6+@EVCTRY+@EVCOAST 
						IF @BOL_DIRECTION='I'
							SELECT @EVVPMT=VMPT FROM PES_IMPVALUE_UPDATE WITH (NOLOCK)  WHERE HSCODE6_CTRYCODE+COAST=@HARM6+@EVCTRY+@EVCOAST 

						IF @EVVPMT IS NOT NULL
							SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
					END
					ELSE 
					BEGIN
						SET @HARM6=SUBSTRING(@CMD_HSCODE,1,6)
						SET @EVCTRY=@CTRYCODE

						IF @BOL_DIRECTION='E'
							SELECT @EVVPMT=VMPT FROM PES_EXPVALUE_UPDATE WITH (NOLOCK)  WHERE HSCODE6_CTRYCODE+COAST=@HARM6+@EVCTRY+@EVCOAST 
						IF @BOL_DIRECTION='I'
							SELECT @EVVPMT=VMPT FROM PES_IMPVALUE_UPDATE WITH (NOLOCK)  WHERE HSCODE6_CTRYCODE+COAST=@HARM6+@EVCTRY+@EVCOAST 

						IF @EVVPMT IS NOT NULL
						BEGIN
							IF @EVVPMT>199899 AND @EVVPMT<201000
							BEGIN
								SET @HARM6='ALL'
								SET @EVCTRY=@CTRYCODE
								SET @EVVPMT=NULL
								
								IF @BOL_DIRECTION='E'
									SELECT @EVVPMT=VMPT FROM PES_EXPVALUE_UPDATE WITH (NOLOCK)  WHERE HSCODE6_CTRYCODE+COAST=@HARM6+@EVCTRY+@EVCOAST 
								IF @BOL_DIRECTION='I'
									SELECT @EVVPMT=VMPT FROM PES_IMPVALUE_UPDATE WITH (NOLOCK)  WHERE HSCODE6_CTRYCODE+COAST=@HARM6+@EVCTRY+@EVCOAST 
								IF @EVVPMT IS NOT NULL
									SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
							END
							ELSE IF @EVVPMT>100000
							BEGIN
								SET @SAVE_VPMT=@EVVPMT
								SET @HARM6=SUBSTRING(@CMD_HSCODE,1,6)
								SET @EVCTRY=@CTRYCODE
								SET @EVCOAST1='A'
								SET @EVVPMT=NULL
						
								IF @BOL_DIRECTION='E'
									SELECT @EVVPMT=VMPT FROM PES_EXPVALUE_UPDATE WITH (NOLOCK)  WHERE HSCODE6_CTRYCODE+COAST=@HARM6+@EVCTRY+@EVCOAST1 
								IF @BOL_DIRECTION='I'
									SELECT @EVVPMT=VMPT FROM PES_IMPVALUE_UPDATE WITH (NOLOCK)  WHERE HSCODE6_CTRYCODE+COAST=@HARM6+@EVCTRY+@EVCOAST1  
			
								IF @EVVPMT IS NOT NULL
								BEGIN
									SET @CALC_PERCENT=ROUND(@EVVPMT/@SAVE_VPMT,2)
									IF @CALC_PERCENT>=0.90
										SET @EST_VALUE=ROUND(@KILOTONS*@SAVE_VPMT,2)
									ELSE
										SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
								END
								ELSE
								BEGIN
									SET @HARM6='ALL'
									SET @EVCTRY=@CTRYCODE
									SET @EVVPMT=NULL
				
									IF @BOL_DIRECTION='E'
										SELECT @EVVPMT=VMPT FROM PES_EXPVALUE_UPDATE WITH (NOLOCK)  WHERE HSCODE6_CTRYCODE+COAST=@HARM6+@EVCTRY+@EVCOAST 
									IF @BOL_DIRECTION='I'
										SELECT @EVVPMT=VMPT FROM PES_IMPVALUE_UPDATE WITH (NOLOCK)  WHERE HSCODE6_CTRYCODE+COAST=@HARM6+@EVCTRY+@EVCOAST 

									IF @EVVPMT IS NOT NULL
										SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
								END
							END
							ELSE
								SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
						END
					END
					
					IF @EST_VALUE IS NULL
					BEGIN
						SET @EVVPMT=NULL
							
						IF @EVCOAST=' '
						BEGIN
							SET @EVHARM4=SUBSTRING(@CMD_HSCODE,1,4)
							SET @EVCTRY=SUBSTRING(@CTRYCODE,1,1)
				
							IF @BOL_DIRECTION='E'
								SELECT @EVVPMT=EVVPMT FROM PES_EXPVALUE WITH (NOLOCK)  WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 
							IF @BOL_DIRECTION='I'
								SELECT @EVVPMT=EVVPMT FROM PES_IMPVALUE WITH (NOLOCK)  WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 

							IF @EVVPMT IS NOT NULL
								SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
						END
						ELSE 
						BEGIN
							SET @EVHARM4=SUBSTRING(@CMD_HSCODE,1,4)
							SET @EVCTRY=@CTRYCODE

							IF @BOL_DIRECTION='E'
								SELECT @EVVPMT=EVVPMT FROM PES_EXPVALUE WITH (NOLOCK)  WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 
							IF @BOL_DIRECTION='I'
								SELECT @EVVPMT=EVVPMT FROM PES_IMPVALUE WITH (NOLOCK)  WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 

							IF @EVVPMT IS NOT NULL
							BEGIN
								IF @EVVPMT>199899 AND @EVVPMT<201000
								BEGIN
									SET @EVHARM4='ALL'
									SET @EVCTRY=@CTRYCODE
									SET @EVVPMT=NULL
									IF @BOL_DIRECTION='E'
										SELECT @EVVPMT=EVVPMT FROM PES_EXPVALUE WITH (NOLOCK)  WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 
									IF @BOL_DIRECTION='I'
										SELECT @EVVPMT=EVVPMT FROM PES_IMPVALUE WITH (NOLOCK)  WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 
									IF @EVVPMT IS NOT NULL
										SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
								END
								ELSE IF @EVVPMT>100000
								BEGIN
									SET @SAVE_VPMT=@EVVPMT
									SET @EVHARM4=SUBSTRING(@CMD_HSCODE,1,4)
									SET @EVCTRY=@CTRYCODE
									SET @EVCOAST1='A'
									SET @EVVPMT=NULL
									IF @BOL_DIRECTION='E'
										SELECT @EVVPMT=EVVPMT FROM PES_EXPVALUE WITH (NOLOCK)  WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST1 
									IF @BOL_DIRECTION='I'
										SELECT @EVVPMT=EVVPMT FROM PES_IMPVALUE WITH (NOLOCK)  WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST1 
			
									IF @EVVPMT IS NOT NULL
									BEGIN
										SET @CALC_PERCENT=ROUND(@EVVPMT/@SAVE_VPMT,2)
										IF @CALC_PERCENT>=0.90
											SET @EST_VALUE=ROUND(@KILOTONS*@SAVE_VPMT,2)
										ELSE
											SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
									END
									ELSE
									BEGIN
										SET @EVHARM4='ALL'
										SET @EVCTRY=@CTRYCODE
										SET @EVVPMT=NULL
										IF @BOL_DIRECTION='E'
											SELECT @EVVPMT=EVVPMT FROM PES_EXPVALUE WITH (NOLOCK)  WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 
										IF @BOL_DIRECTION='I'
											SELECT @EVVPMT=EVVPMT FROM PES_IMPVALUE WITH (NOLOCK)  WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 

										IF @EVVPMT IS NOT NULL
											SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
									END
								END
								ELSE
									SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
							END
						END
					
						IF @EST_VALUE IS NULL
						BEGIN
							SET @EVVPMT=NULL
							SET @EVHARM4=SUBSTRING(@CMD_HSCODE,1,4)
							SET @EVCTRY=SUBSTRING(@CTRYCODE,1,1)

							IF @BOL_DIRECTION='E'
								SELECT @EVVPMT=EVVPMT FROM PES_EXPVALUE WITH (NOLOCK)  WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 
							IF @BOL_DIRECTION='I'
								SELECT @EVVPMT=EVVPMT FROM PES_IMPVALUE WITH (NOLOCK)  WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 

							IF @EVVPMT IS NOT NULL
								SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
							IF @EST_VALUE IS NULL
							BEGIN
								SET @EVCOAST1='A'
								SET @EVHARM4=SUBSTRING(@CMD_HSCODE,1,4)
								SET @EVCTRY=SUBSTRING(@CTRYCODE,1,3)

								IF @BOL_DIRECTION='E'
									SELECT @EVVPMT=EVVPMT FROM PES_EXPVALUE WITH (NOLOCK)  WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST1 
								IF @BOL_DIRECTION='I'
									SELECT @EVVPMT=EVVPMT FROM PES_IMPVALUE WITH (NOLOCK)  WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST1 
					
								IF @EVVPMT IS NOT NULL
									SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
							
								IF @EST_VALUE IS NULL
								BEGIN
									SET @EVCOAST1='A'
									SET @EVHARM4=SUBSTRING(@CMD_HSCODE,1,4)
									SET @EVCTRY='ALL'

									IF @BOL_DIRECTION='E'
										SELECT @EVVPMT=EVVPMT FROM PES_EXPVALUE WITH (NOLOCK)  WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST1 
									IF @BOL_DIRECTION='I'
										SELECT @EVVPMT=EVVPMT FROM PES_IMPVALUE WITH (NOLOCK)  WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST1 

									IF @EVVPMT IS NOT NULL
										SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
						
									IF @EST_VALUE IS NULL
									BEGIN
										SET @EVHARM4='ALL '
										SET @EVCTRY=@CTRYCODE

										IF @BOL_DIRECTION='E'
											SELECT @EVVPMT=EVVPMT FROM PES_EXPVALUE WITH (NOLOCK)  WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 
										IF @BOL_DIRECTION='I'
											SELECT @EVVPMT=EVVPMT FROM PES_IMPVALUE WITH (NOLOCK)  WHERE EVHARM4_EVCTRY_EVCOAST=@EVHARM4+@EVCTRY+@EVCOAST 

										IF @EVVPMT IS NOT NULL
											SET @EST_VALUE=ROUND(@KILOTONS*@EVVPMT,2)
									END
								END
							END
						END
					END
				END
			
				UPDATE #TEMP_EST_VALUE WITH (UPDLOCK) SET CMD_EST_VALUE=ISNULL(@EST_VALUE,0) WHERE BOL_ID=@BOL_ID AND CMD_ID=@CMD_ID  

			--Changes by Cognizant, 22-March-2010, START
			END TRY	
			
			BEGIN CATCH
			
			---Whenever there is an error in Est Value Calculation, set Est Value to 0. Capture the problem record in 
			--PES_TEMP_CALCULATIONS_ERROR_LOG table

				--Set Estimated Value to 0
				UPDATE #TEMP_EST_VALUE WITH (UPDLOCK) SET CMD_EST_VALUE=0 WHERE BOL_ID=@BOL_ID AND CMD_ID=@CMD_ID  

				--Capture the problem bills in a LOG table
				INSERT INTO PES_TEMP_CALCULATIONS_ERROR_LOG(SOURCE_OF_EXECUTION,CALC_NAME,BOL_ID,CMD_ID,ERR_MESSAGE,ERR_NUMBER,ERR_LINE)
				SELECT @SOURCE_OF_EXECUTION,'ESTIMATED VALUE',@BOL_ID,@CMD_ID,ERROR_MESSAGE(),ERROR_NUMBER(),ERROR_LINE()						

			END CATCH			
			--Changes by Cognizant, 22-March-2010, END


			FETCH NEXT FROM EST_VALUE_CURSOR INTO @BOL_ID,@CMD_ID,@CMD_HSCODE,@CMD_WGT,@BOL_DIRECTION,@CTRYCODE,@DISCHARGE_PORT
		END
		CLOSE EST_VALUE_CURSOR
		DEALLOCATE EST_VALUE_CURSOR

		--UPDATE EST_VALUE IN PES_STG_CMD
		UPDATE A WITH (UPDLOCK)
		SET A.CMD_VALUE_VALUE=B.CMD_EST_VALUE 
		FROM PES_STG_CMD A JOIN #TEMP_EST_VALUE B
		ON A.BOL_ID=B.BOL_ID
		WHERE A.CMD_ID=B.CMD_ID 
			
		--UPDATE EST_VALUE IN PES_STG_BOL
		UPDATE PES_STG_BOL WITH (UPDLOCK) 
		SET PES_STG_BOL.EST_VALUE=(
									SELECT SUM(C.CMD_EST_VALUE) 
									FROM #TEMP_EST_VALUE C  WITH (NOLOCK)  
									WHERE C.BOL_ID=PES_STG_BOL.BOL_ID) 
		FROM #TEMP_EST_VALUE D
		WHERE PES_STG_BOL.BOL_ID=D.BOL_ID
		
		IF @SOURCE_OF_EXECUTION='RAW_TO_STAGING'
		BEGIN
			
			UPDATE PES_STG_BOL with (updlock)
			SET EST_VALUE=0 
			WHERE EST_VALUE IS NULL AND RECORD_STATUS='AUTOMATED'
			AND REF_LOAD_NUM_ID=@LOADNUMBER
			--EST_VALUE CALCULATION ENDS
			SET @TIME= DATEDIFF(N,GETDATE(),@DATE)

			SET @CMD = 'ECHO EST_VALUE CALCULATION ENDED' + CAST(@TIME AS VARCHAR(20)) + '>>'+ @FILE
			EXEC MASTER..XP_CMDSHELL @CMD
			--COMMITTING THE TRANSACTIONS IF NO ERROR OCCURRED
			SET @TIME1= DATEDIFF(N,GETDATE(),@DATE)

		
			SET @cmd = 'ECHO PROCEDURE EST_VALUE_CALCULATION FOR RAW_TO_STAGING SUCCESSFULLY COMPLETED'+ CAST(@TIME1 AS VARCHAR(20)) + ' >> '+ @FILE
			EXEC master..xp_cmdshell @CMD
		END
		
		ELSE IF @SOURCE_OF_EXECUTION='UPDATE_STAGING'
			UPDATE PES_STG_BOL with (updlock)
			SET PES_STG_BOL.EST_VALUE=0 
			WHERE PES_STG_BOL.EST_VALUE IS NULL 
			AND  PES_STG_BOL.BOL_ID IN (SELECT BOL_ID FROM PES_BILLS_UPDATE_STAGING  WITH (NOLOCK) )
				
	END TRY

	BEGIN CATCH
		SET @ERROR_NUMBER=ERROR_NUMBER()
		SET @ERROR_LINE=ERROR_LINE()
		SET @ERROR_MESSAGE='STORED PROCEDURE USP_PES_EST_VALUE_CALCULATION FAILED AT LINE NUMBER:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()
	
		IF @SOURCE_OF_EXECUTION='RAW_TO_STAGING'
		BEGIN		
			SET @CMD = 'ECHO ERROR_MESSAGE-- '+@ERROR_MESSAGE+ ' >> '+ @FILE
			EXEC master..xp_cmdshell @CMD 
			SET @CMD = 'ECHO ERROR_NUMBER-- '+@ERROR_NUMBER+ ' >> '+ @FILE
			EXEC master..xp_cmdshell @CMD 
			SET @CMD = 'ECHO ERROR_LINE-- '+@ERROR_LINE+ ' >> '+ @FILE
			EXEC master..xp_cmdshell @CMD 
		END
			
			RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG

	END CATCH
	DROP TABLE #TEMP_EST_VALUE

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
