/****** Object:  StoredProcedure [dbo].[USP_PES_SET_NVOCCFLAG]    Script Date: 01/03/2013 19:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_PES_SET_NVOCCFLAG] @SOURCE VARCHAR(20)
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

	BEGIN TRY
		DECLARE @FILE VARCHAR(500),@FILE_NAME VARCHAR(50), @LOADNUMBER NUMERIC(12,0)
		DECLARE @CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),
		@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50)
		IF @SOURCE='RAW_STG'
		BEGIN

			SELECT @FILE = PATH FROM PES_CONFIGURATION WITH (NOLOCK)  WHERE SOURCE='SP_LOG'
			SELECT @FILE_NAME= FILENAME, @LOADNUMBER = LOADNUMBER FROM PES_PROGRESS_STATUS  WITH (NOLOCK)  
			WHERE LOAD_DT=(SELECT MAX(isnull(Load_DT,getdate())) FROM PES_PROGRESS_STATUS  WITH (NOLOCK) )
			SET @FILE='"'+@FILE+@FILE_NAME+'_LOG.TXT'+'"'

			SET @CMD = 'ECHO PROCEDURE USP_PES_SET_NVOCCFLAG EXECUTION STARTED' + '>>'+ @FILE
			EXEC MASTER..XP_CMDSHELL @CMD 
		
		END

		/*
		CREATE TABLE #TEMP_NVOCC_BOL
		(BOL_ID INT,COMP_ID INT,NTFCOMP_ID INT,FCOMP_ID INT,BOL_DIRECTION CHAR(1),NVOCC_FLAG VARCHAR(1),NVO_SCAC VARCHAR(4))
		*/

		CREATE TABLE #TEMP_NVOCC_BOL
		(BOL_ID INT,COMP_ID INT,NTFCOMP_ID INT,FCOMP_ID INT,BOL_DIRECTION CHAR(1),NVOCC_FLAG VARCHAR(1),NVO_SCAC VARCHAR(4),NVOCC_SET_STATUS CHAR(1),
		 MST_BOL_DATA CHAR(1),REF_VENDOR_CODE VARCHAR(10))


		IF @SOURCE='RAW_STG'
			INSERT INTO #TEMP_NVOCC_BOL 
			SELECT BOL_ID,COMP_ID,NTFCOMP_ID,FCOMP_ID,BOL_DIRECTION,NVOCC_FLAG,NVO_SCAC,
			'N',SUBSTRING(BOL_MST_BOL_DATA,41,1) MST_BOL_DATA,REF_VENDOR_CODE
			FROM PES_STG_BOL  WITH (NOLOCK)  
			WHERE BOL_ID IN(SELECT BOL_ID FROM RAW_BOL  WITH (NOLOCK) )
			AND RECORD_STATUS='AUTOMATED'
		
		IF @SOURCE='UPD_STG'
			INSERT INTO #TEMP_NVOCC_BOL
			SELECT A.BOL_ID,A.COMP_ID,A.NTFCOMP_ID,A.FCOMP_ID,A.BOL_DIRECTION,A.NVOCC_FLAG,A.NVO_SCAC,
            'N',SUBSTRING(BOL_MST_BOL_DATA,41,1) MST_BOL_DATA,REF_VENDOR_CODE
			FROM PES_STG_BOL A WITH (NOLOCK) 
			JOIN SCREEN_TEST.DBO.BL_BL B  WITH (NOLOCK) 
			ON A.BOL_ID=B.T_NBR WHERE B.T_NBR IN
			(SELECT BOL_ID FROM PES_BILLS_UPDATE_STAGING  WITH (NOLOCK) ) 
		
		--UPDATE #TEMP_NVOCC_BOL SET NVOCC_FLAG=DBO.PES_UDF_NVOCC_FLAG(BOL_ID,COMP_ID,NTFCOMP_ID,FCOMP_ID,BOL_DIRECTION)
		--Shifting the logic from PES_UDF_NVOCC_FLAG to the stored procedure for performance, start

		--DIRECTION='I', NVOCC_FLAG='Y',COMP_ID
		UPDATE B
		SET NVOCC_FLAG='C',
		NVOCC_SET_STATUS='Y'
		FROM #TEMP_NVOCC_BOL B 
		JOIN
		(
			SELECT COMP_ID,COUNT(COMP_ID) AS 'COMPANY_COUNT' 
			FROM REF_NVOCC_FRWDR  WITH (NOLOCK) 
			WHERE NVOCC_FLAG='Y'
			AND COMP_ID IN
			(
				SELECT A.COMP_ID FROM PES_LIB_COMPANY A WITH (NOLOCK)  JOIN PES_REF_COMPANY C  WITH (NOLOCK) 
				ON A.CLUSTER_ID=C.COMP_ID 		
				UNION
				SELECT COMP_ID FROM  PES_REF_COMPANY C  WITH (NOLOCK) 
			)
			GROUP BY COMP_ID 
		)X
		ON (B.COMP_ID=X.COMP_ID AND X.COMPANY_COUNT>0)
		WHERE BOL_DIRECTION='I'
		AND NVOCC_SET_STATUS='N'

		--DIRECTION='I', NVOCC_FLAG='Y',NTF_COMPID
		UPDATE B
		SET NVOCC_FLAG='N',
		NVOCC_SET_STATUS='Y'
		FROM #TEMP_NVOCC_BOL B 
		JOIN
		(
			SELECT COMP_ID,COUNT(COMP_ID) AS 'COMPANY_COUNT' 
			FROM REF_NVOCC_FRWDR  WITH (NOLOCK) 
			WHERE NVOCC_FLAG='Y'
			AND COMP_ID IN
			(
				SELECT A.COMP_ID FROM PES_LIB_COMPANY A WITH (NOLOCK)  JOIN PES_REF_COMPANY C  WITH (NOLOCK) 
				ON A.CLUSTER_ID=C.COMP_ID 		
				UNION
				SELECT COMP_ID FROM  PES_REF_COMPANY C  WITH (NOLOCK) 
			)
			GROUP BY COMP_ID 
		)X
		ON (B.NTFCOMP_ID=X.COMP_ID AND X.COMPANY_COUNT>0)
		WHERE BOL_DIRECTION='I'
		AND NVOCC_SET_STATUS='N'

		--DIRECTION='I',FREIGHT_FWD_FLAG='Y',COMP_ID
		UPDATE B
		SET NVOCC_FLAG='F',
		 NVOCC_SET_STATUS='Y'
		FROM #TEMP_NVOCC_BOL B 
		JOIN
		(
			SELECT COMP_ID,COUNT(COMP_ID) AS 'COMPANY_COUNT' 
			FROM REF_NVOCC_FRWDR  WITH (NOLOCK) 
			WHERE FREIGHT_FWD_FLAG='Y'
			AND COMP_ID IN
			(
				SELECT A.COMP_ID FROM PES_LIB_COMPANY A WITH (NOLOCK)  JOIN PES_REF_COMPANY C  WITH (NOLOCK) 
				ON A.CLUSTER_ID=C.COMP_ID 		
				UNION
				SELECT COMP_ID FROM  PES_REF_COMPANY C  WITH (NOLOCK) 
			)
			GROUP BY COMP_ID 
		)X
		ON (B.COMP_ID=X.COMP_ID AND X.COMPANY_COUNT>0)
		WHERE BOL_DIRECTION='I'
		AND NVOCC_SET_STATUS='N'

		--DIRECTION='I',FREIGHT_FWD_FLAG='Y',NTFCOMP_ID
		UPDATE B
		SET NVOCC_FLAG='F',
		 NVOCC_SET_STATUS='Y'

		FROM #TEMP_NVOCC_BOL B 
		JOIN
		(
			SELECT COMP_ID,COUNT(COMP_ID) AS 'COMPANY_COUNT' 
			FROM REF_NVOCC_FRWDR  WITH (NOLOCK) 
			WHERE FREIGHT_FWD_FLAG='Y'
			AND COMP_ID IN
			(
				SELECT A.COMP_ID FROM PES_LIB_COMPANY A WITH (NOLOCK)  JOIN PES_REF_COMPANY C  WITH (NOLOCK) 
				ON A.CLUSTER_ID=C.COMP_ID 		
				UNION
				SELECT COMP_ID FROM  PES_REF_COMPANY C  WITH (NOLOCK) 
			)
			GROUP BY COMP_ID 
		)X
		ON (B.NTFCOMP_ID=X.COMP_ID AND X.COMPANY_COUNT>0)
		WHERE BOL_DIRECTION='I'
		AND NVOCC_SET_STATUS='N'

		--DIRECTION='I', OTHERS
		UPDATE #TEMP_NVOCC_BOL
		SET NVOCC_FLAG='',
		 NVOCC_SET_STATUS='Y'
		WHERE BOL_DIRECTION='I'
		AND NVOCC_SET_STATUS='N'

		--DIRECTION='E',  NVOCC_FLAG='Y',FCOMP_ID
		UPDATE B
		SET NVOCC_FLAG='C',
		NVOCC_SET_STATUS='Y'
		FROM #TEMP_NVOCC_BOL B 
		JOIN
		(
			SELECT COMP_ID,COUNT(COMP_ID) AS 'COMPANY_COUNT' 
			FROM REF_NVOCC_FRWDR  WITH (NOLOCK) 
			WHERE NVOCC_FLAG='Y'
			AND COMP_ID IN
			(
				SELECT A.COMP_ID FROM PES_LIB_COMPANY A WITH (NOLOCK)  JOIN PES_REF_COMPANY C  WITH (NOLOCK) 
				ON A.CLUSTER_ID=C.COMP_ID 		
				UNION
				SELECT COMP_ID FROM  PES_REF_COMPANY C  WITH (NOLOCK) 
			)
			GROUP BY COMP_ID 
		)X
		ON (B.FCOMP_ID=X.COMP_ID AND X.COMPANY_COUNT>0)
		WHERE BOL_DIRECTION='E'
		AND NVOCC_SET_STATUS='N'

		--DIRECTION='E',FREIGHT_FWD_FLAG='Y',FCOMP_ID
		UPDATE B
		SET NVOCC_FLAG='F',
		 NVOCC_SET_STATUS='Y'
		FROM #TEMP_NVOCC_BOL B 
		JOIN
		(
			SELECT COMP_ID,COUNT(COMP_ID) AS 'COMPANY_COUNT' 
			FROM REF_NVOCC_FRWDR  WITH (NOLOCK) 
			WHERE FREIGHT_FWD_FLAG='Y'
			AND COMP_ID IN
			(
				SELECT A.COMP_ID FROM PES_LIB_COMPANY A WITH (NOLOCK)  JOIN PES_REF_COMPANY C  WITH (NOLOCK) 
				ON A.CLUSTER_ID=C.COMP_ID 		
				UNION
				SELECT COMP_ID FROM  PES_REF_COMPANY C  WITH (NOLOCK) 
			)
			GROUP BY COMP_ID 
		)X
		ON (B.FCOMP_ID=X.COMP_ID AND X.COMPANY_COUNT>0)
		WHERE BOL_DIRECTION='E'
		AND NVOCC_SET_STATUS='N'

		--DIRECTION='E', OTHERS
		UPDATE #TEMP_NVOCC_BOL
		SET NVOCC_FLAG='',
		 NVOCC_SET_STATUS='Y'
		WHERE BOL_DIRECTION='E'
		AND NVOCC_SET_STATUS='N'

		--Shifting the logic from PES_UDF_NVOCC_FLAG to the stored procedure for performance, end

		UPDATE #TEMP_NVOCC_BOL SET NVOCC_FLAG='V' WHERE NVO_SCAC<>''
		AND MST_BOL_DATA='H' AND REF_VENDOR_CODE='AMS'

		UPDATE A WITH (UPDLOCK)
		SET A.NVOCC_FLAG=B.NVOCC_FLAG 
		FROM PES_STG_BOL A  JOIN #TEMP_NVOCC_BOL B
		ON A.BOL_ID=B.BOL_ID

		DROP TABLE #TEMP_NVOCC_BOL
		
		IF @SOURCE='RAW_STG'
		BEGIN
			SET @cmd = 'ECHO PROCEDURE USP_PES_SET_NVOCCFLAG EXECUTED SUCCESSFULLY'+ ' >> '+ @FILE
			EXEC master..xp_cmdshell @CMD
		END

	END TRY
	BEGIN CATCH
		SET @ERROR_NUMBER=ERROR_NUMBER()
		SET @ERROR_LINE=ERROR_LINE()
		SET @ERROR_MESSAGE='STORED PROCEDURE USP_PES_SET_NVOCCFLAG FAILED AT LINE NUMBER:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()

		IF @SOURCE='RAW_STG'
		BEGIN
			SET @CMD = 'ECHO ERROR_MESSAGE-- '+@ERROR_MESSAGE+ ' >> '+ @FILE
			EXEC master..xp_cmdshell @CMD 
			SET @CMD = 'ECHO ERROR_NUMBER-- '+@ERROR_NUMBER+ ' >> '+ @FILE
			EXEC master..xp_cmdshell @CMD 
			SET @CMD = 'ECHO ERROR_LINE-- '+@ERROR_LINE+ ' >> '+ @FILE
			EXEC master..xp_cmdshell @CMD 
		END

		DROP TABLE #TEMP_NVOCC_BOL
	
		RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG
	END CATCH


-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
