/****** Object:  StoredProcedure [dbo].[PES_RAW_SOFTERR]    Script Date: 01/03/2013 19:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_RAW_SOFTERR] AS
BEGIN 

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


--DECLARE @TRANNAME VARCHAR(20),@FILE VARCHAR(500),@FILE_NAME VARCHAR(50)
--DECLARE @CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),
--@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50)
--SET @TRANNAME = 'MyTransaction'
--SELECT @FILE = PATH FROM PES_CONFIGURATION WHERE SOURCE='SP_LOG'
--SELECT @FILE_NAME= FILENAME FROM PES_PROGRESS_STATUS WHERE LOADNUMBER=(SELECT DISTINCT LOAD_NUMBER FROM RAW_BOL)
--SET @FILE='"'+@FILE+@FILE_NAME+'_LOG.TXT'+'"'


--SET @CMD = 'ECHO PROCEDURE PES_RAW_SOFTERR EXECUTION STARTED' + '>>'+ @FILE
--EXEC MASTER..XP_CMDSHELL @CMD 
--
--BEGIN TRANSACTION @TRANNAME
--
--BEGIN TRY 

-- IN RAW_CMD
UPDATE RAW_CMD SET HARM_WEIGHT=0 WHERE HARM_UNIT=' ' OR HARM_UNIT IS NULL

-- IN RAW_BOL FOR WEIGHT
UPDATE RAW_BOL SET WEIGHT=0 WHERE WEIGHT_UNITS=' ' OR WEIGHT_UNITS IS NULL
-- IN RAW_BOL FOR MEAS
UPDATE RAW_BOL SET MEAS = 0 WHERE MEAS_UNITS = ' ' OR MEAS_UNITS IS NULL
-- IN RAW_BOL FOR MFEST_QUANTITY
UPDATE RAW_BOL SET MFEST_QUANTITY = 0 WHERE MFEST_UNITS = ' ' OR MFEST_UNITS IS NULL


--TO SET CONQTY (DOESN'T COME IN SOFTERR)
/*update PES.DBO.raw_bol  set conquantity = c.conqty from (select bol_id, count(distinct(container)) as conqty from PES.DBO.RAW_CNTR 
where container <> ' ' and container is not null group by BOL_ID)c  
where PES.DBO.raw_bol.bol_id=c.bol_id */

--END TRY
--
--BEGIN CATCH
--	SET @ERROR_NUMBER=ERROR_NUMBER()
--	SET @ERROR_LINE=ERROR_LINE()
--	SET @ERROR_MESSAGE='STORED PROCEDURE PES_RAW_SOFTERR FAILED AT LINE NUMBER:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()
--	
--	SET @CMD = 'ECHO ERROR_MESSAGE-- '+@ERROR_MESSAGE+ ' >> '+ @FILE
--	EXEC master..xp_cmdshell @CMD 
--    SET @CMD = 'ECHO ERROR_NUMBER-- '+@ERROR_NUMBER+ ' >> '+ @FILE
--	EXEC master..xp_cmdshell @CMD 
--	SET @CMD = 'ECHO ERROR_LINE-- '+@ERROR_LINE+ ' >> '+ @FILE
--	EXEC master..xp_cmdshell @CMD 
--	
--	ROLLBACK TRANSACTION @TRANNAME
--	SET @CMD = 'ECHO TRANSACTIONS ROLLBACKED'+ ' >> '+ @FILE
--	EXEC master..xp_cmdshell @CMD 
--	RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG
--END CATCH
--
--	--COMMITTING THE TRANSACTIONS IF NO ERROR OCCURRED
--	COMMIT TRANSACTION @TRANNAME
--	SET @cmd = 'ECHO PROCEDURE PES_RAW_SOFTERR EXECUTED SUCCESSFULLY'+ ' >> '+ @FILE
--	EXEC master..xp_cmdshell @CMD


-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
