/****** Object:  StoredProcedure [dbo].[WEIGHT_GENERATION]    Script Date: 01/03/2013 19:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WEIGHT_GENERATION]  @STR VARCHAR(20)
AS
BEGIN

SET NOCOUNT ON

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = '@STR='''+@STR+''''
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

	BEGIN TRY
		DECLARE @LOADNUMBER NUMERIC(12,0)
		DECLARE @FILE VARCHAR(500),@FILE_NAME VARCHAR(50)
		DECLARE @CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),
		@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50),@DATE DATETIME,@TIME INT 
		IF @STR='RAW_STAGING'
		BEGIN
			SELECT @FILE = PATH FROM PES_CONFIGURATION  WITH (NOLOCK)  WHERE SOURCE='SP_LOG'
			SELECT @FILE_NAME= FILENAME, @LOADNUMBER = LOADNUMBER FROM PES.DBO.PES_PROGRESS_STATUS  WITH (NOLOCK)  
			WHERE LOADNUMBER=(SELECT DISTINCT LOAD_NUMBER FROM PES.DBO.RAW_BOL  WITH (NOLOCK) )
			SET @FILE='"'+@FILE+@FILE_NAME+'_LOG.TXT'+'"'
			SET @DATE=GETDATE()
			SET @CMD = 'ECHO PROCEDURE WEIGHT_GENERATION EXECUTION STARTED' + '>>'+ @FILE
			EXEC MASTER..XP_CMDSHELL @CMD 
		END
		

		-- CREATE TEMP TABLE 
		CREATE TABLE #TEMP_WT_GENERATION(
			  [T_Number] [int] NULL,
			  [CMD_ID] [int] NULL,
			  [CMD_DESC] VARCHAR(2000),
			  [USPort_Code] [varchar](5) NULL,
			  [US_Coast] [varchar](1) NULL,
			  [BOL_Number] [varchar](16) NULL,
			  [Commcode] [varchar](50) NULL,
			  [HSCode] [varchar](20) NULL,
			  [Quantity] [numeric](12, 0) NULL,
			  [UM] [varchar](3) NULL,
			  [Pounds] [numeric](12, 2) NULL,
			  [Direction] [varchar](1) NULL,
			  [OriginCode] [varchar](3) NULL,
			  [Lookup_pounds] [numeric](10, 0) NULL,
			  [Tempvalue] [Bigint] NULL,
			  [TotalValue] [Bigint] NULL,
			  [GenWt] [int] NULL,
			  [TotalWeight] [Bigint] NULL,
			  [Adjustment] [int] NULL,
		) ON [PRIMARY] 

	
			CREATE TABLE #TEMP_WT_DISTRIBUTED
			(
			 T_NUMBER NUMERIC(12,0), 
			 GENWGT  NUMERIC(12,0),
			 CMD_ID NUMERIC(12,0)
			)

		IF @STR='RAW_STAGING'
			-- POPULATE THE VALUES INTO TEMP TABLE
			INSERT INTO #TEMP_WT_GENERATION
			(T_NUMBER,
			USPORT_CODE,
			UM,
			POUNDS,
			BOL_NUMBER,
			DIRECTION,
			CMD_ID,
			CMD_DESC,
			HSCODE,
			QUANTITY,
			ORIGINCODE,
			US_Coast,
			TotalWeight,
			GenWt,
			TotalValue,
			Tempvalue,
			ADJUSTMENT) 

			SELECT C.BOL_ID T_NUMBER,
			C.discharge_port USPORT_CODE,
			SUBSTRING(B.PIECE_UNIT,1,3) UM,
			ROUND(B.CMD_WGT_VALUE,0) POUNDS,
			C.BOL_NBR,
			C.BOL_DIRECTION DIRECTION,
			B.CMD_ID,
			B.CMD_DESC,
			B.CMD_HSCODE HSCODE,
			CMD_PIECE_CNT  QUANTITY,
			CASE WHEN C.CTRYCODE IS NULL 
			THEN SUBSTRING(C.FOREIGN_LOADING_PORT,1,3) 
			ELSE
			C.CTRYCODE END ORIGINCODE,
			'A',
			0,
			0,
			0,
			0,
			0
			FROM  PES_STG_CMD B  WITH (NOLOCK)  
			JOIN PES_STG_BOL C  WITH (NOLOCK) 
			ON C.BOL_ID = B.BOL_ID  
			WHERE C.REF_LOAD_NUM_ID = @LOADNUMBER
			AND C.BOL_ID IN (SELECT BOL_ID FROM PES_STG_CMD  WITH (NOLOCK) 
			WHERE LOADNUMBER = @LOADNUMBER AND CMD_DESC='CONTAINER CARGO' AND 
			RECORD_STATUS='AUTOMATED' AND CMD_WGT_VALUE>0)

		ELSE IF @STR='UPDATE_STAGING'

			INSERT INTO #TEMP_WT_GENERATION(T_NUMBER,USPORT_CODE,UM,POUNDS,BOL_NUMBER,DIRECTION,CMD_ID,CMD_DESC,HSCODE,QUANTITY,
			ORIGINCODE,
			US_Coast,
			TotalWeight,
			GenWt,
			TotalValue,
			Tempvalue,
			ADJUSTMENT) 
			
			SELECT C.BOL_ID T_NUMBER,C.discharge_port USPORT_CODE,
			SUBSTRING(B.PIECE_UNIT,1,3) UM,ROUND(B.CMD_WGT_VALUE,0) POUNDS,C.BOL_NBR,
			C.BOL_DIRECTION DIRECTION,B.CMD_ID,B.CMD_DESC,B.CMD_HSCODE HSCODE,
			CMD_PIECE_CNT  QUANTITY,
			CASE WHEN C.CTRYCODE IS NULL 
			THEN SUBSTRING(C.FOREIGN_LOADING_PORT,1,3) 
			ELSE
			C.CTRYCODE END ORIGINCODE,
			'A',
			0,
			0,
			0,
			0,
			0
			FROM PES_STG_CMD B  WITH (NOLOCK) ,PES_STG_BOL C  WITH (NOLOCK) 
			WHERE C.BOL_ID = B.BOL_ID 
			AND C.BOL_ID IN (SELECT BOL_ID FROM PES_BILLS_UPDATE_STAGING)
			AND C.BOL_ID IN (SELECT BOL_ID FROM PES_STG_CMD  WITH (NOLOCK)  
			WHERE CMD_DESC='CONTAINER CARGO'
			--Changes by Cognizant for Weight Issue, 15-Feb-2010, start 
			and CMD_WGT_VALUE >0 
			--Changes by Cognizant for Weight Issue, 15-Feb-2010, end
			)

		CREATE NONCLUSTERED INDEX IDX_TEMP_WT_GENERATION ON #TEMP_WT_GENERATION(CMD_ID,T_NUMBER,USPORT_CODE,HSCODE,US_COAST,ORIGINCODE,UM)
		
		-- SET THE POUNDS
		UPDATE #TEMP_WT_GENERATION SET POUNDS=C.WGT FROM 
		(SELECT T_NUMBER,POUNDS AS WGT FROM #TEMP_WT_GENERATION
		WHERE CMD_DESC='CONTAINER CARGO')C WHERE 
		C.T_NUMBER = #TEMP_WT_GENERATION.T_NUMBER

		DELETE FROM #TEMP_WT_GENERATION WHERE CMD_DESC='CONTAINER CARGO'

		-- LOOKUP ON COAST
		UPDATE #TEMP_WT_GENERATION SET US_COAST = COAST FROM PES.DBO.PES_US_COAST P  WITH (NOLOCK) ,
		#TEMP_WT_GENERATION T WHERE P.USPORT_CODE = T.USPORT_CODE 

		-- LOOKUP ON LOOKUP_POUNDS FOR IMPORTS
			
		update #TEMP_WT_GENERATION set Lookup_pounds= L.LOOKUPPOUNDS
		FROM (select T.T_NUMBER,T.CMD_ID,P.Pounds AS LOOKUPPOUNDS FROM PES.DBO.REF_GEN_WEIGHT P  WITH (NOLOCK) ,#TEMP_WT_GENERATION T where 
		P.DIR = T.DIRECTION AND P.HARMCODE = T.HSCODE AND P.COAST=T.US_COAST 
		AND P.COUNTRY = T.ORIGINCODE and P.UOFM = T.UM)L, #TEMP_WT_GENERATION A
		WHERE A.T_NUMBER=L.T_NUMBER AND A.CMD_ID = L.CMD_ID
		
		-- ALTER THE LOOKUP_KEY IF LOOKUP_KEY NOT FOUND(ALTER ORIGINCODE AND DESTINATIONCODE)
		update #TEMP_WT_GENERATION SET ORIGINCODE='ALL' WHERE LOOKUP_POUNDS IS NULL

		-- DO THE LOOKUP (ALTERED THE ORIGINCODE AND DESTINATIONCODE)
		-- LOOKUP FOR LOOKUP_POUNDS FOR IMPORTS
		update #TEMP_WT_GENERATION set Lookup_pounds=L.LOOKUPPOUNDS FROM
		(select T.T_NUMBER,T.CMD_ID,P.Pounds AS LOOKUPPOUNDS FROM REF_GEN_WEIGHT P  WITH (NOLOCK) ,#TEMP_WT_GENERATION T where 
		P.DIR = T.DIRECTION AND P.HARMCODE = T.HSCODE AND  P.COAST=T.US_COAST 
		AND P.COUNTRY = T.ORIGINCODE and P.UOFM = T.UM)L,#TEMP_WT_GENERATION A
		WHERE A.T_NUMBER=L.T_NUMBER AND A.CMD_ID = L.CMD_ID AND A.LOOKUP_POUNDS IS NULL

		-- ALTER THE LOOKUP_KEY IF LOOKUP_KEY NOT FOUND WHEN COAST IS 'A'
		update #TEMP_WT_GENERATION SET UM='ALL' WHERE US_COAST='A' AND LOOKUP_POUNDS IS NULL

		-- DO THE LOOKUP
		-- LOOKUP FOR LOOKUP_POUNDS FOR IMPORTS

		update #TEMP_WT_GENERATION set Lookup_pounds=L.LOOKUPPOUNDS FROM
		(select T.T_NUMBER,T.CMD_ID,P.Pounds AS LOOKUPPOUNDS FROM REF_GEN_WEIGHT P  WITH (NOLOCK) ,#TEMP_WT_GENERATION T where 
		P.DIR = T.DIRECTION AND P.HARMCODE = T.HSCODE AND  P.COAST=T.US_COAST 
		AND P.COUNTRY = T.ORIGINCODE and P.UOFM = T.UM)L,#TEMP_WT_GENERATION A
		WHERE A.T_NUMBER=L.T_NUMBER AND A.CMD_ID = L.CMD_ID AND A.LOOKUP_POUNDS IS NULL

		-- ALTER THE LOOKUP, IF LOOKUP_KEY NOT FOUND BASED ON COAST<>'A'
		update #TEMP_WT_GENERATION SET US_COAST='A' WHERE US_COAST<> 'A' AND LOOKUP_POUNDS IS NULL

		-- LOOKUP 
		-- LOOKUP FOR LOOKUP_POUNDS FOR IMPORTS
		update #TEMP_WT_GENERATION set Lookup_pounds=L.LOOKUPPOUNDS FROM
		(select T.T_NUMBER,T.CMD_ID,P.Pounds AS LOOKUPPOUNDS FROM REF_GEN_WEIGHT P  WITH (NOLOCK) ,#TEMP_WT_GENERATION T where 
		P.DIR = T.DIRECTION AND P.HARMCODE = T.HSCODE AND  P.COAST=T.US_COAST 
		AND P.COUNTRY = T.ORIGINCODE and P.UOFM = T.UM)L,#TEMP_WT_GENERATION A
		WHERE A.T_NUMBER=L.T_NUMBER AND A.CMD_ID = L.CMD_ID AND A.LOOKUP_POUNDS IS NULL

		-- ALTER THE LOOKUP KEY BY REPLACING UNIT_OF_MEASURE BY 'ALL', IF LOOKUP_KEY NOT FOUND
		update #TEMP_WT_GENERATION SET UM='ALL' WHERE LOOKUP_POUNDS IS NULL

		-- LOOKUP
		-- LOOKUP FOR LOOKUP_POUNDS FOR IMPORTS
		update #TEMP_WT_GENERATION set Lookup_pounds=L.LOOKUPPOUNDS FROM
		(select T.T_NUMBER,T.CMD_ID,P.POUNDS AS LOOKUPPOUNDS FROM REF_GEN_WEIGHT P  WITH (NOLOCK) ,#TEMP_WT_GENERATION T where 
		P.DIR = T.DIRECTION AND P.HARMCODE = T.HSCODE AND  P.COAST=T.US_COAST 
		AND P.COUNTRY= T.ORIGINCODE and P.UOFM = T.UM)L,#TEMP_WT_GENERATION A
		WHERE A.T_NUMBER=L.T_NUMBER AND A.CMD_ID = L.CMD_ID AND A.LOOKUP_POUNDS IS NULL

		SELECT T_NUMBER INTO #TEMP_SINGLE_COMMODITY FROM #TEMP_WT_GENERATION 
		WHERE LOOKUP_POUNDS IS NULL
		GROUP BY T_NUMBER HAVING COUNT(*)=1 

		-- WEIGHT CALCULATION
		-- Calculate tempvalue
		UPDATE #TEMP_WT_GENERATION SET TEMPVALUE=(QUANTITY*LOOKUP_POUNDS) FROM #TEMP_WT_GENERATION
		WHERE QUANTITY!=0 
		--AND #TEMP_WT_GENERATION.T_NUMBER NOT IN(SELECT T_NUMBER FROM #TEMP_WT_GENERATION WHERE LOOKUP_POUNDS IS NULL)

		-- CALCULATING TOTAL TEMP VALUE
		UPDATE #TEMP_WT_GENERATION SET TOTALVALUE= T.TOTAL FROM 
		(SELECT T_NUMBER,SUM(TEMPVALUE) AS TOTAL FROM #TEMP_WT_GENERATION GROUP BY T_NUMBER)T
		WHERE #TEMP_WT_GENERATION.T_NUMBER=T.T_NUMBER  AND #TEMP_WT_GENERATION.QUANTITY!=0 
		--AND #TEMP_WT_GENERATION.T_NUMBER NOT IN(SELECT T_NUMBER FROM #TEMP_WT_GENERATION WHERE LOOKUP_POUNDS IS NULL)

		--CALCUALTING GENERATED WEIGHT

		UPDATE #TEMP_WT_GENERATION SET GENWT=CAST(T.GENERATED_WT AS INT) FROM
		(SELECT T_NUMBER,TEMPVALUE,(TEMPVALUE*POUNDS)/TOTALVALUE AS GENERATED_WT 
		FROM #TEMP_WT_GENERATION WHERE T_NUMBER= #TEMP_WT_GENERATION.T_NUMBER AND TOTALVALUE!=0)T
		WHERE #TEMP_WT_GENERATION.T_NUMBER=T.T_NUMBER  AND 
		#TEMP_WT_GENERATION.TEMPVALUE =T.TEMPVALUE AND #TEMP_WT_GENERATION.QUANTITY!=0
--		AND #TEMP_WT_GENERATION.T_NUMBER NOT IN(SELECT T_NUMBER FROM #TEMP_WT_GENERATION WHERE LOOKUP_POUNDS IS NULL)

		UPDATE #TEMP_WT_GENERATION SET GENWT = POUNDS-T.TOTALGENWT,LOOKUP_POUNDS = 0
		FROM (SELECT T_NUMBER,SUM(ISNULL(GENWT,0)) AS TOTALGENWT FROM #TEMP_WT_GENERATION GROUP BY T_NUMBER)T
		WHERE #TEMP_WT_GENERATION.T_NUMBER=T.T_NUMBER  AND #TEMP_WT_GENERATION.QUANTITY!=0
		AND #TEMP_WT_GENERATION.T_NUMBER IN(SELECT T_NUMBER FROM #TEMP_SINGLE_COMMODITY) 
		AND LOOKUP_POUNDS IS NULL


		-- CALCULATING TOTAL GENERATED WEIGHT and ADJUSTEMNT
		UPDATE #TEMP_WT_GENERATION SET TOTALWEIGHT=T.TOTALGENWT, ADJUSTMENT= POUNDS-T.TOTALGENWT 
		FROM (SELECT T_NUMBER,SUM(ISNULL(GENWT,0)) AS TOTALGENWT FROM #TEMP_WT_GENERATION GROUP BY T_NUMBER)T--, #TEMP_WT_GENERATION A
		WHERE #TEMP_WT_GENERATION.T_NUMBER=T.T_NUMBER  AND #TEMP_WT_GENERATION.QUANTITY!=0
		AND #TEMP_WT_GENERATION.T_NUMBER NOT IN(SELECT T_NUMBER FROM #TEMP_WT_GENERATION WHERE LOOKUP_POUNDS IS NULL)


		-- UPDATE STG_CMD WITH WEIGHT VALUE 
		UPDATE #TEMP_WT_GENERATION SET GENWT=GENWT+ADJUSTMENT 
		WHERE CMD_ID IN (SELECT MAX(isnull(CMD_ID,0)) FROM #TEMP_WT_GENERATION GROUP BY T_NUMBER)
		AND #TEMP_WT_GENERATION.T_NUMBER NOT IN(SELECT T_NUMBER FROM #TEMP_WT_GENERATION WHERE LOOKUP_POUNDS IS NULL)

		INSERT INTO #TEMP_WT_DISTRIBUTED(T_NUMBER,GENWGT, CMD_ID)
		SELECT T_NUMBER, GENWT, CMD_ID
		FROM #TEMP_WT_GENERATION 
		WHERE T_NUMBER  NOT IN (SELECT DISTINCT T_NUMBER FROM #TEMP_WT_GENERATION WHERE LOOKUP_POUNDS IS NULL )

		CREATE NONCLUSTERED INDEX IDX_TEMP_WT_DISTRIBUTED ON #TEMP_WT_DISTRIBUTED(CMD_ID,T_NUMBER)

		UPDATE PES_STG_CMD SET CMD_WGT_VALUE = GENWGT 
		FROM #TEMP_WT_DISTRIBUTED T 
		JOIN PES_STG_CMD S
		ON T.T_NUMBER=S.BOL_ID AND T.CMD_ID=S.CMD_ID 

		UPDATE PES_STG_CMD 
		SET CMD_WGT_VALUE=0 
		FROM #TEMP_WT_DISTRIBUTED T 
		JOIN PES_STG_CMD S
		ON T.T_NUMBER=S.BOL_ID 
		WHERE CMD_DESC='CONTAINER CARGO'

		DROP TABLE #TEMP_WT_DISTRIBUTED

		DROP TABLE #TEMP_WT_GENERATION

		DROP TABLE #TEMP_SINGLE_COMMODITY


		IF @STR='RAW_STAGING'
		BEGIN
			SET @TIME= DATEDIFF(N,GETDATE(),@DATE)
			SET @cmd = 'ECHO PROCEDURE WEIGHT_GENERATION EXECUTED SUCCESSFULLY'+ CAST(@TIME AS VARCHAR(20)) + ' >> '+ @FILE
			EXEC master..xp_cmdshell @CMD
		END

	END TRY
	BEGIN CATCH
		SET @ERROR_NUMBER=ERROR_NUMBER()
		SET @ERROR_LINE=ERROR_LINE()
		SET @ERROR_MESSAGE='STORED PROCEDURE WEIGHT_GENERATION FAILED AT LINE NUMBER:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()
		      
		IF @STR='RAW_STAGING'
		BEGIN
			SET @CMD = 'ECHO ERROR_MESSAGE-- '+@ERROR_MESSAGE+ ' >> '+ @FILE
			EXEC master..xp_cmdshell @CMD 
			SET @CMD = 'ECHO ERROR_NUMBER-- '+@ERROR_NUMBER+ ' >> '+ @FILE
			EXEC master..xp_cmdshell @CMD 
			SET @CMD = 'ECHO ERROR_LINE-- '+@ERROR_LINE+ ' >> '+ @FILE
			EXEC master..xp_cmdshell @CMD 
		END
			      
		RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG

	END CATCH

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
