/****** Object:  StoredProcedure [dbo].[PES_VIN_EXTRACTION]    Script Date: 01/03/2013 19:40:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_VIN_EXTRACTION] AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

DECLARE 
@ERROR_MESSAGE VARCHAR(MAX),  
@TMP_ERRORSTRING VARCHAR(MAX),
@ERROR_NUMBER VARCHAR(50),
@ERROR_LINE VARCHAR(50),
@IERROR INT

CREATE TABLE #ERROROUTPUT 
(ERRORSTRING VARCHAR(MAX) NULL)

BEGIN TRY

	INSERT INTO #ERROROUTPUT
	EXEC MASTER..XP_CMDSHELL 'E:\\VIN_EXTRACTION\VINSEXTRACT.EXE'

	--Changes by Cognizant, 2-Dec-2009, start
	--SELECT @IERROR = COUNT(*)  FROM #ERROROUTPUT WHERE ERRORSTRING LIKE '%EXCEPTION%'
	SELECT @IERROR = COUNT(*)  FROM #ERROROUTPUT WHERE ERRORSTRING LIKE '%EXCEPTION:%'
	--Changes by Cognizant, 2-Dec-2009, end

	IF @IERROR = 0
	BEGIN
		  --EXEC PES_SP_EMAIL 'VIN EXTRACTION SUCCESSFUL','VIN EXTRACTION PROCESS SUCCESSFUL','','',''  

	DROP TABLE #ERROROUTPUT
	END
	ELSE
	BEGIN
			SET @ERROR_NUMBER=''
			SET @ERROR_LINE=''
		  --SET @ERROR_MESSAGE=RTRIM(LEFT('VIN EXTRACTION FAILED WITH ERROR DESCRIPTION:  '/*+@ERROR_DESC*/,1000))

			SELECT @ERROR_MESSAGE=''
		
			DECLARE CURERROR CURSOR FOR
			SELECT ERRORSTRING FROM #ERROROUTPUT

			OPEN CURERROR
			FETCH NEXT FROM CURERROR INTO @TMP_ERRORSTRING

			WHILE @@FETCH_STATUS=0
			BEGIN
				SELECT @ERROR_MESSAGE=@ERROR_MESSAGE + SPACE(1) + ISNULL(@TMP_ERRORSTRING,'')

			FETCH NEXT FROM CURERROR INTO @TMP_ERRORSTRING
			END

			CLOSE CURERROR
			DEALLOCATE CURERROR

			EXEC PES_SP_EMAIL 'VIN EXTRACTION FAILED','VIN EXTRACTION PROCESS FAILED',@ERROR_MESSAGE,@ERROR_LINE,@ERROR_NUMBER  

			DROP TABLE #ERROROUTPUT
	END
END TRY
BEGIN CATCH
		SELECT @ERROR_MESSAGE = 'Please check the path of Vin Extraction Exe '
		SET @ERROR_NUMBER=''
		SET @ERROR_LINE=''
		EXEC PES_SP_EMAIL 'VIN EXTRACTION FAILED','VIN EXTRACTION PROCESS FAILED',@ERROR_MESSAGE,@ERROR_LINE,@ERROR_NUMBER  
END CATCH

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
