/****** Object:  View [dbo].[TI_Export_MasterData_V_1000000]    Script Date: 01/09/2013 18:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TI_Export_MasterData_V_1000000] AS
SELECT TOP 1000 [BL_NBR]
      ,[BOL_ID]
      ,[FOREIGN_PORT_NAME]
      ,[FOREIGN_PORT_CNTRY]
      ,[PORT_UNLADING_NAME]
      ,[PORT_UNLADING_STATE]
      ,[PORT_US_CLEARING_NAME]
      ,[PORT_US_CLEARING_ST]
      ,[PORT_US_CLEARING_DIST]
      ,[FP_DEST_NAME]
      ,[FP_DEST_CNTRY]
      ,[PORT_RECEIPT_NAME]
      ,[PORT_RECEIPT_CNTRY]
      ,[SCAC_CARRIER_NAME]
      ,[SCAC_ADDR]
      ,[SCAC_CITY]
      ,[SCAC_STATE_CD]
      ,[SCAC_ZIP_CD]
      ,[SCAC_CNTRY]
      ,[SCAC_PHONE]
      ,[REGION_ORIGIN]
      ,[COUNTRY_ORIGIN]
      ,[ARRIVAL_DATE]
      ,[ARRIVAL_WEEK]
      ,[z_PRODUCT_DESC]
      ,[SHIPPER_DESC]
      ,[CONSGN_DESC]
      ,[NOTIFY_DESC]
      ,[ALSO_NOTIFY_DESC]
      ,[SHIPPER_DUNS]
      ,[CONSGN_DUNS]
      ,[NOTIFY_DUNS]
      ,[ALSO_NOTIFY_DUNS]
      ,[MANIFEST_NBR]
      ,[VESSEL_NAME]
      ,[VESSEL_FLAG]
      ,[VOYAGE_NBR]
      ,[BL_CNTR_FLG]
      ,[STD_WGT]
      ,[MEAS]
      ,[MEAS_UNIT]
      ,[MANIFEST_QTY]
      ,[MANIFEST_UNIT]
      ,[TEU_CNT]
      ,[TEU_SRC]
      ,[HS_CODES]
      ,[INBOND_ENTRY_TYPE]
      ,[TRANS_MODE_DESCRIPTION]
      ,[LOAD_TYPE]
      ,[LOAD_NBR]
      ,[LOAD_SEQ_NBR]
      ,[DB_LOAD_NBR]
      ,[FRAME_NBR]
      ,[FOREIGN_PORT_REGION]
      ,[SLINE]
      ,[EST_VALUE]
      ,[LLOYDS_CODE]
      ,[HZRD_CLASS]
      ,[NVOCC_FLAG]
      ,[CTRYCODE]
      ,[SCAC]
      ,[US_COAST]
      ,[USPORT_CODE]
      ,[FPORT_CODE]
      ,[JOC_CODES]
      ,[CONS_STATE]
      ,[NOT_STATE]
      ,[ANOT_STATE]
      ,[VISIBILITY]
      ,[DIR]
      ,[BATCH_ID]
      ,[ORIG_BL_NBR]
      ,[MODIFY_DATE]
      ,[PRODUCT_DESC_RAW]
      ,[PRODUCT_DESC_PROCESSED]
  FROM [PiersTILoad].[dbo].[TI_Export_MasterData] (NOLOCK)
GO
