/****** Object:  StoredProcedure [dbo].[PES_LOAD_DQA_EXCEPTION]    Script Date: 01/03/2013 19:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_LOAD_DQA_EXCEPTION]
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


DECLARE @TRANNAME VARCHAR(20),@FILE VARCHAR(500),@FILE_NAME VARCHAR(50), @LNBR INT
DECLARE @CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),
@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50),@DATE2 DATETIME,@TIME2 INT 
SET @TRANNAME = 'MyTransaction'


SELECT @FILE = PATH FROM PES.DBO.PES_CONFIGURATION WITH (NOLOCK) WHERE SOURCE='SP_LOG'
SELECT @FILE_NAME= FILENAME, @LNBR = LOADNUMBER FROM PES.dbo.PES_PROGRESS_STATUS WITH (NOLOCK) WHERE LOAD_DT=(SELECT MAX(Load_DT) FROM PES.DBO.PES_PROGRESS_STATUS WITH (NOLOCK))
	
SET @FILE='"'+@FILE+@FILE_NAME+'_LOG.TXT'+'"'
SET @CMD = 'ECHO PROCEDURE PES_LOAD_DQA_EXCEPTION EXECUTION STARTED' + '>>'+ @FILE
EXEC MASTER..XP_CMDSHELL @CMD 

BEGIN TRANSACTION @TRANNAME
BEGIN TRY

DECLARE @SQLStatement NVARCHAR(4000)
DECLARE @SQLACTION VARCHAR(5000)
DECLARE @SQLMATCH VARCHAR(3000)
DECLARE @Dir VARCHAR(1)
DECLARE @ID INT
DECLARE @PROC_ACTION VARCHAR(2)
DECLARE @ISSEMICOLUMN INT
DECLARE @SQLACTION1 VARCHAR(5000)
DECLARE @SQLStatement1 NVARCHAR(4000)
DECLARE @SQLACTION2 VARCHAR(5000)
DECLARE @SQLStatement2 NVARCHAR(4000)
DECLARE @ImpExp VARCHAR(1)
DECLARE @BOL_Number VARCHAR(16)
DECLARE @TMP_VOYAGE_ID NUMERIC(10)
DECLARE @TMP_VOYAGE_ID1 NUMERIC(10)

SET @DATE2=GETDATE()

--INSERT INTO [CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],[KEY],[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,
--Load_Number,Vendor_Name,FIELD_LAYOUT,EXCEPTION_FIELD,CHILD_ID)     
-- SELECT X.BUSINESS_NAME,X.BOL_ID,B.BOL_DIRECTION,SUBSTRING(LTRIM(RTRIM(CAST(X.OLD_VALUE AS VARCHAR(100)))),1,100),1,
--GETDATE(),1,X.CHILD_ID DQA_CMD_SEQ_NBR,C.Load_Number,C.VENDOR_CODE,FIELD_LAYOUT,EXCEPTION_FIELD,X.CHILD_ID 
--FROM PES.DBO.PES_INVALID_RECORDS X (NOLOCK),
--(SELECT BOL_DIRECTION,BOL_ID,BOL_NBR 
--FROM PES.DBO.PES_STG_BOL (NOLOCK)
--WHERE ref_load_num_id = @LNBR AND BOL_ID IN (
--					SELECT BOL_ID FROM PES.DBO.PES_INVALID_RECORDS (NOLOCK)
--				)
--)B,
--PES.DBO.RAW_BOL C (NOLOCK)
--WHERE X.BOL_ID=B.BOL_ID AND X.BOL_NUMBER=B.BOL_NBR AND X.BOL_ID=C.BOL_ID 

	
--POPULATE DQA_BL
						SELECT DISTINCT T_NBR INTO #TEMP_DQA_BL FROM  
							SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE WHERE T_NBR IN (SELECT BOL_ID FROM PES.DBO.RAW_BOL WITH (NOLOCK)) AND 
							T_NBR NOT IN  
								(
									SELECT DISTINCT T_NBR FROM SCREEN_TEST.DBO.DQA_BL WITH (NOLOCK) WHERE T_NBR NOT IN
									(SELECT BOL_ID FROM PES.DBO.RAW_BOL WITH (NOLOCK)
								)
							UNION
							SELECT DISTINCT BOL_ID FROM PES.DBO.PES_TRANSACTIONS_LIB_PTY WITH (NOLOCK) WHERE STATUS='PENDING' AND BOL_ID NOT IN
								(
									SELECT DISTINCT T_NBR FROM SCREEN_TEST.DBO.DQA_BL WITH (NOLOCK) WHERE T_NBR IN
									(SELECT BOL_ID FROM PES.DBO.RAW_BOL WITH (NOLOCK))
								))


INSERT INTO DQA_Bl(
T_NBR,
CARRIER_ID,
VESSEL_ID,
USPORT_ID,
DIR,
VOYAGE,
DQA_VOYAGE_ID,
FPORT_ID,
VDate,
WEIGHT,
EST_VALUE,
TEU,
PAYABLE_FLG,
NVOSCAC,
LOAD_NBR,
DAILY_LOAD_DT,
RELEASE_FLG,
BOL_NBR,
RECEIPT_COUNTRY_CODE,
FINANCE_FLG,
NVOCC_FLG,
DESTINATION_ST,
DESTINATION_CITY,
REGISTRY,
BANK,
RECEIPT_CITY,
CARRIER_NAME,
USPORT_NAME,
FGN_PORT_NAME,
VESSEL_NAME,
BL_NBR,
RCPT_CODE,
FGN_PORT_CODE,
BATCH_ID,
ULTPORT_ID,
ULT_PORT_NAME,
ULT_PORT_CODE,
RCPT_ID,
RECEIPT_ID,
REG_ID,
CONSIGNEE_ID,
SHIPPER_ID,
NOTIFY_ID,
CONQTY,
CONFLAG,
CONLENGTH,
CONTWIDTH,
CONTYPE,
CONSIZE,
CONVOL,
PRECARRIER,
USPORT_CODE,
MANIFEST_NBR,BOL_QTY,ORG_DEST_CD,ORG_DEST_FLG
) 
(SELECT 
A.BOL_ID,
A.SLINE_REF_ID,
A.VESSEL_REF_ID,
A.PORT_DEPART_REF_ID,
A.BOL_DIRECTION,
A.VOYAGE,
A.STND_VOYG_ID,
A.PORT_ARRIVE_REF_ID,
A.VDATE,
A.BOL_WGT,
A.EST_VALUE,
A.BOL_TEU,
A.BOL_PAYABLE_FLG,
A.NVO_SCAC,
A.REF_LOAD_NUM_ID AS LOAD_NUMBER,
(SELECT max(TimeofArrival) from PES.DBO.RAW_STG_REC_COUNT WITH (NOLOCK)) AS DAILY_LOAD_DT,
'Y' AS RELEASE_FLAG,
A.BOL_NBR,
A.CTRYCODE,
A.BOL_FINANCIAL_FLG,
A.NVOCC_FLAG,
A.ORG_DEST_ST AS DESINATION_ST,
A.ORG_DEST_CITY AS DESTINATION_CITY,
A.REGISTRY,
A.BANK,
A.PLACE_OF_RECEIPT,
A.SCAC,
A.PORT_OF_DEPARTURE,
A.PORT_OF_DESTINATION,
A.VESSEL_NAME,
A.BOL_NBR,
A.RCPT_CODE,
A.FOREIGN_LOADING_PORT AS FOREIGN_PORT,
A.BATCH_ID,
A.ULTPORT_ID,
A.ULT_PORT_NAME,
A.ULT_PORT_CODE,
A.RECEIPT_ID,
A.RECEIPT_ID,
A.REGISTRY_ID,
A.COMP_ID,
A.FCOMP_ID,
A.NTFCOMP_ID,
A.CONQTY,
A.CONFLAG,
A.CONLENGTH,
A.CONWIDTH,
A.CONTYPE,
A.CONSIZE,
A.CONVOL,
B.PLACE_OF_RECEIPT,
A.DISCHARGE_PORT,
A.MANIFEST_NUMBER,A.BOL_QTY,A.ORG_DEST_CD AS ORG_DEST_CD,
(CASE	WHEN A.BATCH_ID = 'AMS' AND LEN(A.ORG_DEST_CD)= 4 THEN 'U' 
		WHEN A.BATCH_ID='AMS' AND LEN(A.ORG_DEST_CD)= 5 THEN 'F' 
		WHEN A.BATCH_ID ='AMS' AND ISNULL(A.ORG_DEST_CD,'')='' THEN 'U' ELSE 'U' END)AS ORG_DEST_FLG
FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK) ,PES.DBO.RAW_BOL B WITH (NOLOCK)
WHERE a.ref_load_num_id = @LNBR AND A.BOL_ID=B.BOL_ID AND A.BOL_ID IN(SELECT T_NBR FROM #TEMP_DQA_BL)
AND A.BOL_ID NOT IN(SELECT T_NBR FROM DQA_BL WITH (NOLOCK)))


--UPDATE VOYAGE_ID FOR RECORDS MISSED OUT WITH VOYAGE ID FOR QC RULES
UPDATE DQA_BL WITH (UPDLOCK)
SET DQA_VOYAGE_ID=A.STND_VOYG_ID 
FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK)
WHERE REF_LOAD_NUM_ID=@LNBR and A.BOL_ID=DQA_BL.T_NBR AND DQA_BL.DQA_VOYAGE_ID IS NULL AND A.STND_VOYG_ID IS NOT NULL 


--UPDATING CONTAINER AND COMMODITY INFORMATION
UPDATE DQA_BL WITH (UPDLOCK)
SET REEFER_FLG=C.CMD_REEFER_FLAG, RORO_FLG=C.CMD_RORO_FLAG,HAZ_FLG=C.CMD_HAZMAT_FLAG 
FROM PES.DBO.PES_STG_CMD C WITH (NOLOCK)
WHERE DQA_BL.T_NBR=C.BOL_ID AND C.LOADNUMBER=@LNBR

--CHANGING THE RECORD STATUS TO PENDING FOR EXCEPTION RECORDS IN STG_BOL AND BL_BL TABLE (FUZZY AND STANDARDIZATION)
				

--PES_STG_BOL
UPDATE PES.DBO.PES_STG_BOL WITH (UPDLOCK)
SET RECORD_STATUS='PENDING' 
WHERE BOL_ID IN(SELECT T_NBR FROM #TEMP_DQA_BL)


DROP TABLE #TEMP_DQA_BL

--CHANGING THE RECORD STATUS TO PENDING FOR EXCEPTION RECORDS IN STAGING AND BL_BL TABLE (HCS UNCODED)

--PES_STG_BOL
UPDATE PES.DBO.PES_STG_BOL WITH (UPDLOCK)
SET RECORD_STATUS='PENDING' 
WHERE PES.DBO.PES_STG_BOL.REF_LOAD_NUM_ID=@LNBR
and PES.DBO.PES_STG_BOL.BOL_ID IN(
									SELECT BOL_ID 
									FROM PES.DBO.HCS_COMMODITY WITH (NOLOCK)
									WHERE DQA_CMDS_STATUS='UNCODED'
									)


--CHANGING THE RECORD STATUS TO PENDING FOR EXCEPTION RECORDS IN STG_BOL BL TABLE (COMPANY EXCEPTIONS)
--PES_STG_BOL
UPDATE PES.DBO.PES_STG_BOL WITH (UPDLOCK)
SET RECORD_STATUS='PENDING' 
WHERE PES.DBO.PES_STG_BOL.BOL_ID IN(SELECT BOL_ID FROM PES.DBO.PES_TRANSACTIONS_LIB_PTY WITH (NOLOCK) WHERE STATUS='PENDING') AND PES.DBO.PES_STG_BOL.RECORD_STATUS<>'PENDING'

UPDATE PES.DBO.PES_STG_BOL WITH (UPDLOCK)
SET RECORD_STATUS='PENDING' WHERE PES.DBO.PES_STG_BOL.BOL_ID IN(SELECT BOL_ID FROM PES.DBO.PES_TRANSACTIONS_EXCEPTIONS_PTY WITH (NOLOCK) 
WHERE STATUS='PENDING') AND PES.DBO.PES_STG_BOL.RECORD_STATUS<>'PENDING'



--MAKING CHILD TABLES STATUS PENDING OR AUTOMATED DEPENDING UPON THE PARENT TABLE RECORD STATUS

	UPDATE PES.DBO.PES_STG_CMD WITH (UPDLOCK)
	SET PES.DBO.PES_STG_CMD.RECORD_STATUS=A.RECORD_STATUS 
	FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK)
	WHERE A.REF_LOAD_NUM_ID=@LNBR and PES.DBO.PES_STG_CMD.BOL_ID=A.BOL_ID
 
	UPDATE PES.DBO.PES_STG_CNTR WITH (UPDLOCK)
	SET PES.DBO.PES_STG_CNTR.RECORD_STATUS=A.RECORD_STATUS 
	FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK)
	WHERE A.REF_LOAD_NUM_ID=@LNBR and PES.DBO.PES_STG_CNTR.BOL_ID=A.BOL_ID 

	UPDATE PES.DBO.PES_STG_HZMT WITH (UPDLOCK)
	SET PES.DBO.PES_STG_HZMT.RECORD_STATUS=A.RECORD_STATUS 
	FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK)
	WHERE A.REF_LOAD_NUM_ID=@LNBR and PES.DBO.PES_STG_HZMT.BOL_ID=A.BOL_ID 

	UPDATE PES.DBO.PES_STG_MAN WITH (UPDLOCK)
	SET PES.DBO.PES_STG_MAN.RECORD_STATUS=A.RECORD_STATUS 
	FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK)
	WHERE A.REF_LOAD_NUM_ID=@LNBR and PES.DBO.PES_STG_MAN.BOL_ID=A.BOL_ID 

	UPDATE PES.DBO.PES_STG_PTY WITH (UPDLOCK)
	SET PES.DBO.PES_STG_PTY.RECORD_STATUS=A.RECORD_STATUS 
	FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK)
	WHERE A.REF_LOAD_NUM_ID=@LNBR and PES.DBO.PES_STG_PTY.BOL_ID=A.BOL_ID 


-- BL_BL
--????Rajeev
	INSERT INTO [Screen_Test].[dbo].[BL_BL]([T_NBR] ,[BL_NBR],[WGT],[WGT_UNIT] ,[MEAS],[MEAS_UNIT],[ORG_CITY],[ORG_STATE],[ORG_CNTRY] ,[FINANCIAL_IND],[PAYMENT_IND],[SCAC],[VESSEL_CD],[VESSEL_NAME],[VOYAGE_NBR],[EST_ARR_DT],[ACT_ARR_DT],[PLACE_RECEIPT_CD],[FOREIGN_PORT],[US_PORT],[MANIFEST_QTY],[MANIFEST_UNIT],[TEU_CNT],[TEU_SRC],[LCL_FLG],[CNTRIZED_SHPMT_FLG],[INBOND_ENTRY_TYPE],[TRANS_MODE_CD],[MANIFEST_NBR],[LOAD_NBR],[LAST_UPDATE_DT],[PUBLISH_CMD_FLG],[PUBLISH_MAN_FLG],[PUBLISH_PTY_FLG]
	,[DQA_OWNER_ID],[DQA_BL_STATUS],[PIERS_REPLACEMENT_FLG] ,[NVO_SCAC],[MST_BOL_DATA],[DIR] ,[BATCH_ID],[IMAGE_PATH],VESSEL_ID,CARRIER_ID,DQA_VOYAGE_ID,BOL_STATUS)
	(
		SELECT AA.BOL_ID,AA.BOL_Nbr,AA.BOL_WGT,A.Weight_Units,A.MEAS,A.MEAS_UNITS,
		A.OriginCity,A.OriginState,A.OriginCountry,AA.BOL_FINANCIAL_FLG,AA.BOL_PAYABLE_FLG,AA.SCAC,
		A.Vessel_Code,AA.Vessel_Name,AA.Voyage,AA.VDATE,
		AA.VDATE,AA.CTRYCODE,AA.FOREIGN_LOADING_PORT,AA.PORT_DEPART_REF_ID,A.MFEST_Quantity,A.MFEST_Units,AA.BOL_TEU,AA.BOL_TEU_SRC,AA.BOL_LCL_FLAG,AA.BOL_CNTRZD_FLG,
		A.Inbound_Entry_Type,AA.BOL_TRANS_MODE_CD,AA.Manifest_Number,A.Load_Number,GETDATE(),AA.BOL_PUBLISH_CMD_FLG,AA.BOL_PUBLISH_MAN_FLG,AA.BOL_PUBLISH_PTY_FLG,'AUTO',AA.RECORD_STATUS,'N',A.NVOSCAC_Code,A.Master_BOL_Data,
		AA.BOL_DIRECTION,AA.BATCH_ID,A.ImagePath_0,AA.VESSEL_REF_ID,AA.SLINE_REF_ID,AA.STND_VOYG_ID,AA.BOL_STATUS 
		FROM PES.DBO.PES_STG_BOL AA WITH (NOLOCK) JOIN PES.DBO.RAW_BOL A WITH (NOLOCK) ON A.BOL_ID=AA.BOL_ID 
	) 

--UPDATE COUNTS IN DQA_VOYAGE TABLE AS THEY DEPEND UPON BL_BL, THIS IS FOR INITIAL LOAD

UPDATE A
SET IS_DELETED = ISNULL(B.IS_DELETED,'N')
FROM BL_BL A 
JOIN DQA_BL B
ON A.T_NBR = B.T_NBR 
AND ISNULL(A.IS_DELETED,'') <> ISNULL(B.IS_DELETED,'')

UPDATE SCREEN_TEST.DBO.DQA_VOYAGE   
 SET PPMM_CNT=(  
      SELECT COUNT(ISNULL(T_NBR,0))   
      FROM SCREEN_TEST.DBO.BL_BL A WITH (NOLOCK)  
      WHERE A.DQA_VOYAGE_ID=DQA_VOYAGE.VOYAGE_ID   
      AND A.DQA_BL_STATUS='AUTOMATED' AND ISNULL(A.IS_DELETED,'') <> 'Y'
     )+  
	(  
      SELECT COUNT(ISNULL(T_NBR,0))   
      FROM PES_PURGE.DBO.ARCHIVE_BL_BL A WITH (NOLOCK)  
      WHERE A.DQA_VOYAGE_ID=DQA_VOYAGE.VOYAGE_ID   
      AND A.DQA_BL_STATUS='AUTOMATED' AND ISNULL(A.IS_DELETED,'') <> 'Y'
     )

 UPDATE SCREEN_TEST.DBO.DQA_VOYAGE   
 SET CLEANSED_CNT=(  
      SELECT COUNT(ISNULL(T_NBR,0))   
      FROM SCREEN_TEST.DBO.BL_BL A WITH (NOLOCK)
      WHERE A.DQA_VOYAGE_ID=DQA_VOYAGE.VOYAGE_ID   
      AND A.DQA_BL_STATUS='CLEANSED' AND ISNULL(A.IS_DELETED,'') <> 'Y'
     )+
	(  
      SELECT COUNT(ISNULL(T_NBR,0))   
      FROM PES_PURGE.DBO.ARCHIVE_BL_BL A WITH (NOLOCK)  
      WHERE A.DQA_VOYAGE_ID=DQA_VOYAGE.VOYAGE_ID   
      AND A.DQA_BL_STATUS='CLEANSED' AND ISNULL(A.IS_DELETED,'') <> 'Y'
     )  
  
 UPDATE SCREEN_TEST.DBO.DQA_VOYAGE   
 SET PENDING_CNT=(  
      SELECT COUNT(ISNULL(T_NBR,0))   
      FROM SCREEN_TEST.DBO.BL_BL A  WITH (NOLOCK) 
      WHERE A.DQA_VOYAGE_ID=DQA_VOYAGE.VOYAGE_ID   
      AND A.DQA_BL_STATUS='PENDING' AND ISNULL(A.IS_DELETED,'') <> 'Y'
     )+
	(  
      SELECT COUNT(ISNULL(T_NBR,0))   
      FROM PES_PURGE.DBO.ARCHIVE_BL_BL A  WITH (NOLOCK) 
      WHERE A.DQA_VOYAGE_ID=DQA_VOYAGE.VOYAGE_ID   
      AND A.DQA_BL_STATUS='PENDING' AND ISNULL(A.IS_DELETED,'') <> 'Y'
     )
	
  
 UPDATE SCREEN_TEST.DBO.DQA_VOYAGE   
 SET DELETED_CNT=(  
     SELECT COUNT(T_NBR)   
     FROM  SCREEN_TEST.DBO.BL_BL A   WITH (NOLOCK)
     WHERE A.DQA_VOYAGE_ID =DQA_VOYAGE.VOYAGE_ID   
     AND A.IS_DELETED ='Y'  
     )+
	(  
     SELECT COUNT(T_NBR)   
     FROM  PES_PURGE.DBO.ARCHIVE_BL_BL A   WITH (NOLOCK)
     WHERE A.DQA_VOYAGE_ID =DQA_VOYAGE.VOYAGE_ID   
     AND A.IS_DELETED ='Y'  
     )  

 UPDATE SCREEN_TEST.DBO.DQA_VOYAGE   
 SET TOTAL_CNT=(  
     SELECT COUNT(isnull(T_NBR,0)) FROM SCREEN_TEST.DBO.BL_BL A   WITH (NOLOCK)
     WHERE A.DQA_VOYAGE_ID=DQA_VOYAGE.VOYAGE_ID  
     )+
	 (  
     SELECT COUNT(isnull(T_NBR,0)) FROM PES_PURGE.DBO.ARCHIVE_BL_BL A   WITH (NOLOCK)
     WHERE A.DQA_VOYAGE_ID=DQA_VOYAGE.VOYAGE_ID  
     )

 UPDATE SCREEN_TEST.DBO.DQA_VOYAGE   
 SET SKIPPED_CNT=(  
      SELECT COUNT(ISNULL(T_NBR,0))   
      FROM SCREEN_TEST.DBO.BL_BL A   WITH (NOLOCK)
      WHERE A.DQA_VOYAGE_ID=DQA_VOYAGE.VOYAGE_ID   
      AND A.DQA_BL_STATUS='SKIPPED' AND ISNULL(A.IS_DELETED,'') <> 'Y'
     )+
	(  
      SELECT COUNT(ISNULL(T_NBR,0))   
      FROM PES_PURGE.DBO.ARCHIVE_BL_BL A   WITH (NOLOCK)
      WHERE A.DQA_VOYAGE_ID=DQA_VOYAGE.VOYAGE_ID   
      AND A.DQA_BL_STATUS='SKIPPED' AND ISNULL(A.IS_DELETED,'') <> 'Y'
     )

SET @CMD = 'ECHO CHILD PROCEDURE PES_CNTRCARGO_GENCARGO EXECUTION STARTED' + '>>'+ @FILE
EXEC MASTER..XP_CMDSHELL @CMD
---INSERT CONTAINER CARGO RECORD

EXEC PES.DBO.PES_CNTRCARGO_GENCARGO

SET @CMD = 'ECHO CHILD PROCEDURE PES_CNTRCARGO_GENCARGO EXECUTED SUCCESSFULLY' + '>>'+ @FILE
EXEC MASTER..XP_CMDSHELL @CMD

	--COMMITTING THE TRANSACTIONS IF NO ERROR OCCURRED
	SET @TIME2= DATEDIFF(N,GETDATE(),@DATE2)
	COMMIT TRANSACTION @TRANNAME
	SET @cmd = 'ECHO PROCEDURE PES_LOAD_DQA_EXCEPTION EXECUTED SUCCESSFULLY COMPLETED'+ CAST(@TIME2 AS VARCHAR(20)) + ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD
END TRY

BEGIN CATCH
	SET @ERROR_NUMBER=ERROR_NUMBER()
	SET @ERROR_LINE=ERROR_LINE()
	SET @ERROR_MESSAGE='STORED PROCEDURE PES_LOAD_DQA_EXCEPTION FAILED AT LINE NUMBER:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()
	
	SET @CMD = 'ECHO ERROR_MESSAGE-- '+@ERROR_MESSAGE+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
    SET @CMD = 'ECHO ERROR_NUMBER-- '+@ERROR_NUMBER+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
	SET @CMD = 'ECHO ERROR_LINE-- '+@ERROR_LINE+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
	
	
	SET @CMD = 'ECHO TRANSACTIONS ROLLBACKED'+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
	RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG

	ROLLBACK TRANSACTION @TRANNAME
END CATCH



-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT


END
GO
