/****** Object:  StoredProcedure [dbo].[INSERT_HIST_CARRIER]    Script Date: 01/03/2013 19:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_HIST_CARRIER]  
   @perm varchar(max),
   /*
   *   SSMA warning messages:
   *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
   */

   @id float(53),
   @modif_by varchar(max),
   @compress_value varchar(max),
   @RETURN_VALUE INT OUT
AS 
   
   /*
   *   Generated by SQL Server Migration Assistant for Oracle.
   *   Contact ora2sql@microsoft.com or visit http://www.microsoft.com/sql/migration for more information.
   */
   BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


--      DECLARE
--         @compress_value varchar(35)

--      SET @compress_value = dbo.GET_KEY(@perm)
-- SET @compress_value = @perm
--
--      INSERT dbo.HIST_CARRIER(
--         CARRIER_KEY, 
--         CARRIER, 
--         CARRIER_ID, 
--         MODIFIED_BY, 
--         MODIFIED_DT)
--         VALUES (
--            @compress_value, 
--            @perm, 
--            @id, 
--            @modif_by, 
--            getdate())

 DECLARE @RECCOUNT int

SELECT @RECCOUNT=count(*) FROM [PES].[dbo].[LIB_CARRIER] WITH (NOLOCK)
WHERE CODE_KEY=@perm AND NAME_KEY=@compress_value

IF @RECCOUNT=0
BEGIN
	INSERT INTO [PES].[dbo].[LIB_CARRIER]
           ([CODE_KEY]
           ,[NAME_KEY]
           ,[REF_ID]
           ,[ACTIVE]
           ,[MODIFY_DATE]
           ,[MODIFY_USER])
		VALUES
           (@perm
           ,@compress_value
           ,@id
           ,'Y'
           ,GETDATE()
           ,@modif_by)
	SET @RETURN_VALUE = (select max(id) from PES.dbo.lib_carrier WITH (NOLOCK))
END
ELSE
	SET @RETURN_VALUE = 1

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
