/****** Object:  StoredProcedure [dbo].[usp_MonitorDataStatus1]    Script Date: 01/03/2013 19:48:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_MonitorDataStatus1]
	@Type varchar(100)
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


	IF @Type = 'DataStatusAll'
	BEGIN
		-- Data Status - All
		SELECT 1 As SortOrder, BOL_DIRECTION As Dir
		, 'TotalPending' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		LEFT JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE RECORD_STATUS = 'PENDING'
		 AND BOL_STATUS <> 'DELETE'
		GROUP BY BOL_DIRECTION
		UNION
		SELECT 2 As SortOrder, BOL_DIRECTION As Dir
		, 'Deleted' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		LEFT JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS <> 'DELETE'
		 AND RECORD_STATUS <> 'DELETE'
		 AND IS_DELETED = 'Y'
		GROUP BY BOL_DIRECTION
		UNION
		SELECT 3 As SortOrder, BOL_DIRECTION As Dir
		, 'MasterHouse' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		LEFT JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS IN ('MASTER','HOUSE')
		 AND BOL_STATUS <> 'DELETE'
		 AND RECORD_STATUS <> 'DELETE'
		GROUP BY BOL_DIRECTION
		UNION
		SELECT 4 As SortOrder, BOL_DIRECTION As Dir
		, 'ActualPending (excluding MasterHouse)' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		LEFT JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		GROUP BY BOL_DIRECTION
		UNION
		SELECT 5 As SortOrder, BOL_DIRECTION As Dir
		, 'PendingAtShipControl' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		 AND STND_VOYG_ID IS NULL
		GROUP BY BOL_DIRECTION
		UNION
		SELECT 6 As SortOrder, BOL_DIRECTION As Dir
		, 'RejectedAtShipControl' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		JOIN SCREEN_TEST.DBO.STD_VOYAGE WITH (NOLOCK) ON T_NBR = BOL_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		 AND STND_VOYG_ID IS NULL
		 AND VOYAGE_STATUS = 'REJECTED'
		GROUP BY BOL_DIRECTION
		UNION
		SELECT 7 As SortOrder, BOL_DIRECTION As Dir
		, 'PendingStructuring' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		JOIN SCREEN_TEST.DBO.BL_CACHE WITH (NOLOCK) ON T_NBR = BOL_ID
		LEFT JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND DQA_BL_STATUS = 'PENDING'
		AND ISNULL(IS_DELETED,'')<>'Y'
		GROUP BY BOL_DIRECTION
		UNION
		SELECT 8 As SortOrder, BOL_DIRECTION As Dir
		, 'RejectedHoldVoyagesAtStructuring' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		JOIN SCREEN_TEST.DBO.BL_CACHE WITH (NOLOCK) ON T_NBR = BOL_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND DQA_BL_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		 AND VOYAGE_STATUS IN ('REJECTED','HOLD')
		GROUP BY BOL_DIRECTION
		UNION
		SELECT 9 As SortOrder, BOL_DIRECTION As Dir
		, 'PendingAtStandardization' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		JOIN SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE WITH (NOLOCK) ON T_NBR = BOL_ID
		JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		 AND PROCESS_NAME NOT IN ('INVALID USPORT','INVALID VESSEL NAME', 'INVALID CARRIER')
		 AND COMPLETE_STATUS = 1
		GROUP BY BOL_DIRECTION
		UNION
		SELECT 10 As SortOrder, BOL_DIRECTION As Dir
		, 'RejectedHoldAtStandardization' As Status, COUNT(DISTINCT BOL_ID) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		JOIN SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE WITH (NOLOCK) ON T_NBR = BOL_ID
		JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		 AND PROCESS_NAME NOT IN ('INVALID USPORT','INVALID VESSEL NAME', 'INVALID CARRIER')
		 AND COMPLETE_STATUS = 1
		 AND VOYAGE_STATUS IN ('REJECTED','HOLD')
		GROUP BY BOL_DIRECTION
		UNION
		SELECT 11 As SortOrder, BOL_DIRECTION As Dir
		, 'PendingAtCompanyStandardization' As Status, COUNT(DISTINCT A.BOL_ID) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL  A WITH (NOLOCK)
		JOIN PES.DBO.PES_TRANSACTIONS_LIB_PTY B WITH (NOLOCK) ON A.BOL_ID = B.BOL_ID
		LEFT JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		 AND STATUS = 'PENDING'
		GROUP BY BOL_DIRECTION
		UNION
		SELECT 12 As SortOrder, BOL_DIRECTION As Dir
		, 'RejectedHoldAtCompanyStandardization' As Status, COUNT(DISTINCT A.BOL_ID) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL  A WITH (NOLOCK)
		JOIN PES.DBO.PES_TRANSACTIONS_LIB_PTY B WITH (NOLOCK) ON A.BOL_ID = B.BOL_ID
		JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		 AND STATUS = 'PENDING'
		 AND VOYAGE_STATUS IN ('REJECTED','HOLD')
		GROUP BY BOL_DIRECTION
		ORDER BY Dir,SortOrder
	END
	ELSE IF @Type = 'DataStatusByMonth'
	BEGIN
		-- Data Status By Month
		SELECT 1 As SortOrder, BOL_DIRECTION As Dir,YEAR(C.ACT_ARRIVAL_DT)*100+MONTH(C.ACT_ARRIVAL_DT) As VMonth
		, 'TotalPending' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		LEFT JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE RECORD_STATUS = 'PENDING'
		 AND BOL_STATUS <> 'DELETE'
		GROUP BY BOL_DIRECTION,YEAR(C.ACT_ARRIVAL_DT)*100+MONTH(C.ACT_ARRIVAL_DT)
		UNION
		SELECT 2 As SortOrder, BOL_DIRECTION As Dir,YEAR(C.ACT_ARRIVAL_DT)*100+MONTH(C.ACT_ARRIVAL_DT) As VMonth
		, 'Deleted' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		LEFT JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS <> 'DELETE'
		 AND RECORD_STATUS <> 'DELETE'
		 AND IS_DELETED = 'Y'
		GROUP BY BOL_DIRECTION,YEAR(C.ACT_ARRIVAL_DT)*100+MONTH(C.ACT_ARRIVAL_DT)
		UNION
		SELECT 3 As SortOrder, BOL_DIRECTION As Dir,YEAR(C.ACT_ARRIVAL_DT)*100+MONTH(C.ACT_ARRIVAL_DT) As VMonth
		, 'MasterHouse' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		LEFT JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS IN ('MASTER','HOUSE')
		 AND BOL_STATUS <> 'DELETE'
		 AND RECORD_STATUS <> 'DELETE'
		GROUP BY BOL_DIRECTION,YEAR(C.ACT_ARRIVAL_DT)*100+MONTH(C.ACT_ARRIVAL_DT)
		UNION
		SELECT 4 As SortOrder, BOL_DIRECTION As Dir,YEAR(C.ACT_ARRIVAL_DT)*100+MONTH(C.ACT_ARRIVAL_DT) As VMonth
		, 'ActualPending (excluding MasterHouse)' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		LEFT JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		GROUP BY BOL_DIRECTION,YEAR(C.ACT_ARRIVAL_DT)*100+MONTH(C.ACT_ARRIVAL_DT)
		UNION
		SELECT 5 As SortOrder, BOL_DIRECTION As Dir,YEAR(VDATE)*100+MONTH(VDATE) As VMonth
		, 'PendingAtShipControl' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		 AND STND_VOYG_ID IS NULL
		GROUP BY BOL_DIRECTION,YEAR(VDATE)*100+MONTH(VDATE)
		UNION
		SELECT 6 As SortOrder, BOL_DIRECTION As Dir,YEAR(VDATE)*100+MONTH(VDATE) As VMonth
		, 'RejectedAtShipControl' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		JOIN SCREEN_TEST.DBO.STD_VOYAGE WITH (NOLOCK) ON T_NBR = BOL_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		 AND STND_VOYG_ID IS NULL
		 AND VOYAGE_STATUS = 'REJECTED'
		GROUP BY BOL_DIRECTION,YEAR(VDATE)*100+MONTH(VDATE)
		UNION
		SELECT 7 As SortOrder, BOL_DIRECTION As Dir,YEAR(C.ACT_ARRIVAL_DT)*100+MONTH(C.ACT_ARRIVAL_DT) As VMonth
		, 'PendingStructuring' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		JOIN SCREEN_TEST.DBO.BL_CACHE WITH (NOLOCK) ON T_NBR = BOL_ID
		LEFT JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND DQA_BL_STATUS = 'PENDING'
		AND ISNULL(IS_DELETED,'')<>'Y'
		GROUP BY BOL_DIRECTION,YEAR(C.ACT_ARRIVAL_DT)*100+MONTH(C.ACT_ARRIVAL_DT)
		UNION
		SELECT 8 As SortOrder, BOL_DIRECTION As Dir,YEAR(C.ACT_ARRIVAL_DT)*100+MONTH(C.ACT_ARRIVAL_DT) As VMonth
		, 'RejectedHoldVoyagesAtStructuring' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		JOIN SCREEN_TEST.DBO.BL_CACHE WITH (NOLOCK) ON T_NBR = BOL_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND DQA_BL_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		 AND VOYAGE_STATUS IN ('REJECTED','HOLD')
		GROUP BY BOL_DIRECTION,YEAR(C.ACT_ARRIVAL_DT)*100+MONTH(C.ACT_ARRIVAL_DT)
		UNION
		SELECT 9 As SortOrder, BOL_DIRECTION As Dir,YEAR(C.ACT_ARRIVAL_DT)*100+MONTH(C.ACT_ARRIVAL_DT) As VMonth
		, 'PendingAtStandardization' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		JOIN SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE WITH (NOLOCK) ON T_NBR = BOL_ID
		JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		 AND PROCESS_NAME NOT IN ('INVALID USPORT','INVALID VESSEL NAME', 'INVALID CARRIER')
		 AND COMPLETE_STATUS = 1
		GROUP BY BOL_DIRECTION,YEAR(C.ACT_ARRIVAL_DT)*100+MONTH(C.ACT_ARRIVAL_DT)
		UNION
		SELECT 10 As SortOrder, BOL_DIRECTION As Dir,YEAR(C.ACT_ARRIVAL_DT)*100+MONTH(C.ACT_ARRIVAL_DT) As VMonth
		, 'RejectedHoldAtStandardization' As Status, COUNT(DISTINCT BOL_ID) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		JOIN SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE WITH (NOLOCK) ON T_NBR = BOL_ID
		JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		 AND PROCESS_NAME NOT IN ('INVALID USPORT','INVALID VESSEL NAME', 'INVALID CARRIER')
		 AND COMPLETE_STATUS = 1
		 AND VOYAGE_STATUS IN ('REJECTED','HOLD')
		GROUP BY BOL_DIRECTION,YEAR(C.ACT_ARRIVAL_DT)*100+MONTH(C.ACT_ARRIVAL_DT)
		UNION
		SELECT 11 As SortOrder, BOL_DIRECTION As Dir,YEAR(C.ACT_ARRIVAL_DT)*100+MONTH(C.ACT_ARRIVAL_DT) As VMonth
		, 'PendingAtCompanyStandardization' As Status, COUNT(DISTINCT A.BOL_ID) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL  A WITH (NOLOCK)
		JOIN PES.DBO.PES_TRANSACTIONS_LIB_PTY B WITH (NOLOCK) ON A.BOL_ID = B.BOL_ID
		LEFT JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		 AND STATUS = 'PENDING'
		GROUP BY BOL_DIRECTION,YEAR(C.ACT_ARRIVAL_DT)*100+MONTH(C.ACT_ARRIVAL_DT)
		UNION
		SELECT 12 As SortOrder, BOL_DIRECTION As Dir,YEAR(C.ACT_ARRIVAL_DT)*100+MONTH(C.ACT_ARRIVAL_DT) As VMonth
		, 'RejectedHoldAtCompanyStandardization' As Status, COUNT(DISTINCT A.BOL_ID) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL  A WITH (NOLOCK)
		JOIN PES.DBO.PES_TRANSACTIONS_LIB_PTY B WITH (NOLOCK) ON A.BOL_ID = B.BOL_ID
		JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		 AND STATUS = 'PENDING'
		 AND VOYAGE_STATUS IN ('REJECTED','HOLD')
		GROUP BY BOL_DIRECTION,YEAR(C.ACT_ARRIVAL_DT)*100+MONTH(C.ACT_ARRIVAL_DT)
		ORDER BY Dir,VMonth,SortOrder DESC
	END
	ELSE IF @Type = 'DataStatusByLoadNumber'
	BEGIN
		-- Data Status by Load Number
		SELECT 1 As SortOrder, BOL_DIRECTION As Dir,REF_LOAD_NUM_ID As LoadNumber
		, 'TotalPending' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		LEFT JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE RECORD_STATUS = 'PENDING'
		 AND BOL_STATUS <> 'DELETE'
		GROUP BY BOL_DIRECTION,REF_LOAD_NUM_ID
		UNION
		SELECT 2 As SortOrder, BOL_DIRECTION As Dir,REF_LOAD_NUM_ID As LoadNumber
		, 'Deleted' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		LEFT JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS <> 'DELETE'
		 AND RECORD_STATUS <> 'DELETE'
		 AND IS_DELETED = 'Y'
		GROUP BY BOL_DIRECTION,REF_LOAD_NUM_ID
		UNION
		SELECT 3 As SortOrder, BOL_DIRECTION As Dir,REF_LOAD_NUM_ID As LoadNumber
		, 'MasterHouse' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		LEFT JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS IN ('MASTER','HOUSE')
		 AND BOL_STATUS <> 'DELETE'
		 AND RECORD_STATUS <> 'DELETE'
		GROUP BY BOL_DIRECTION,REF_LOAD_NUM_ID
		UNION
		SELECT 4 As SortOrder, BOL_DIRECTION As Dir,REF_LOAD_NUM_ID As LoadNumber
		, 'ActualPending (excluding MasterHouse)' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		LEFT JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		GROUP BY BOL_DIRECTION,REF_LOAD_NUM_ID
		UNION
		SELECT 5 As SortOrder, BOL_DIRECTION As Dir,REF_LOAD_NUM_ID As LoadNumber
		, 'PendingAtShipControl' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		 AND STND_VOYG_ID IS NULL
		GROUP BY BOL_DIRECTION,REF_LOAD_NUM_ID
		UNION
		SELECT 6 As SortOrder, BOL_DIRECTION As Dir,REF_LOAD_NUM_ID As LoadNumber
		, 'RejectedAtShipControl' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		JOIN SCREEN_TEST.DBO.STD_VOYAGE WITH (NOLOCK) ON T_NBR = BOL_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		 AND STND_VOYG_ID IS NULL
		 AND VOYAGE_STATUS = 'REJECTED'
		GROUP BY BOL_DIRECTION,REF_LOAD_NUM_ID
		UNION
		SELECT 7 As SortOrder, BOL_DIRECTION As Dir,REF_LOAD_NUM_ID As LoadNumber
		, 'PendingStructuring' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		JOIN SCREEN_TEST.DBO.BL_CACHE WITH (NOLOCK) ON T_NBR = BOL_ID
		LEFT JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND DQA_BL_STATUS = 'PENDING'
		AND ISNULL(IS_DELETED,'')<>'Y'
		GROUP BY BOL_DIRECTION,REF_LOAD_NUM_ID
		UNION
		SELECT 8 As SortOrder, BOL_DIRECTION As Dir,REF_LOAD_NUM_ID As LoadNumber
		, 'RejectedHoldVoyagesAtStructuring' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		JOIN SCREEN_TEST.DBO.BL_CACHE WITH (NOLOCK) ON T_NBR = BOL_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND DQA_BL_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		 AND VOYAGE_STATUS IN ('REJECTED','HOLD')
		GROUP BY BOL_DIRECTION,REF_LOAD_NUM_ID
		UNION
		SELECT 9 As SortOrder, BOL_DIRECTION As Dir,REF_LOAD_NUM_ID As LoadNumber
		, 'PendingAtStandardization' As Status, COUNT(*) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		JOIN SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE WITH (NOLOCK) ON T_NBR = BOL_ID
		JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		 AND PROCESS_NAME NOT IN ('INVALID USPORT','INVALID VESSEL NAME', 'INVALID CARRIER')
		 AND COMPLETE_STATUS = 1
		GROUP BY BOL_DIRECTION,REF_LOAD_NUM_ID
		UNION
		SELECT 10 As SortOrder, BOL_DIRECTION As Dir,REF_LOAD_NUM_ID As LoadNumber
		, 'RejectedHoldAtStandardization' As Status, COUNT(DISTINCT BOL_ID) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL WITH (NOLOCK)
		JOIN SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE WITH (NOLOCK) ON T_NBR = BOL_ID
		JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		 AND PROCESS_NAME NOT IN ('INVALID USPORT','INVALID VESSEL NAME', 'INVALID CARRIER')
		 AND COMPLETE_STATUS = 1
		 AND VOYAGE_STATUS IN ('REJECTED','HOLD')
		GROUP BY BOL_DIRECTION,REF_LOAD_NUM_ID
		UNION
		SELECT 11 As SortOrder, BOL_DIRECTION As Dir,REF_LOAD_NUM_ID As LoadNumber
		, 'PendingAtCompanyStandardization' As Status, COUNT(DISTINCT A.BOL_ID) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL  A WITH (NOLOCK)
		JOIN PES.DBO.PES_TRANSACTIONS_LIB_PTY B WITH (NOLOCK) ON A.BOL_ID = B.BOL_ID
		LEFT JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		 AND STATUS = 'PENDING'
		GROUP BY BOL_DIRECTION,REF_LOAD_NUM_ID
		UNION
		SELECT 12 As SortOrder, BOL_DIRECTION As Dir,REF_LOAD_NUM_ID As LoadNumber
		, 'RejectedHoldAtCompanyStandardization' As Status, COUNT(DISTINCT A.BOL_ID) As NumberOfBills
		 FROM PES.dbo.PES_STG_BOL  A WITH (NOLOCK)
		JOIN PES.DBO.PES_TRANSACTIONS_LIB_PTY B WITH (NOLOCK) ON A.BOL_ID = B.BOL_ID
		JOIN SCREEN_TEST.DBO.DQA_VOYAGE C WITH (NOLOCK) ON STND_VOYG_ID = VOYAGE_ID
		WHERE BOL_STATUS NOT IN ('MASTER','HOUSE','DELETE')
		 AND RECORD_STATUS = 'PENDING'
		 AND ISNULL(IS_DELETED,'')<>'Y'
		 AND STATUS = 'PENDING'
		 AND VOYAGE_STATUS IN ('REJECTED','HOLD')
		GROUP BY BOL_DIRECTION,REF_LOAD_NUM_ID
		ORDER BY Dir,LoadNumber DESC,SortOrder
	END
	ELSE IF @Type = 'InvalidCommoditiesByDir'
	BEGIN
		-- Invalid Commodities By Dir
		SELECT b.direction As Dir
		, 'No Commodity Record' As ProblemType
		, COUNT(b.BOL_ID) As NumberOfBills
		 FROM PESDW.PESDW.dbo.PES_DW_BOL b
		WHERE b.BOL_ID NOT IN (SELECT BOL_ID FROM PESDW.PESDW.dbo.PES_DW_CMD c WHERE c.DELETED IS NULL)
		 AND b.DELETED IS NULL
		GROUP BY b.direction
		UNION
		SELECT b.direction As Dir
		, 'Description is ‘NO COMMODITY’' As ProblemType
		, COUNT(b.BOL_ID) As NumberOfBills
		 FROM PESDW.PESDW.dbo.PES_DW_BOL b
		WHERE b.BOL_ID IN (SELECT BOL_ID FROM PESDW.PESDW.dbo.PES_DW_CMD c WHERE c.DELETED IS NULL AND c.CMD_DESC='NO COMMODITY')
		 AND b.DELETED IS NULL
		GROUP BY b.direction
		UNION
		SELECT b.direction As Dir
		, 'Description is ‘NO RAW COMMODITY’' As ProblemType
		, COUNT(b.BOL_ID) As NumberOfBills
		 FROM PESDW.PESDW.dbo.PES_DW_BOL b
		WHERE b.BOL_ID IN (SELECT BOL_ID FROM PESDW.PESDW.dbo.PES_DW_CMD c WHERE c.DELETED IS NULL AND c.CMD_DESC='NO RAW COMMODITY')
		 AND b.DELETED IS NULL
		GROUP BY b.direction
		ORDER BY 1,2
	END
	ELSE IF @Type = 'InvalidCommoditiesByDirByMonth'
	BEGIN
		-- Invalid Commodities By Dir By Month
		SELECT b.direction As Dir
		, 'No Commodity Record' As ProblemType, YEAR(VDATE)*100+MONTH(VDATE) As VMonth
		, COUNT(b.BOL_ID) As NumberOfBills
		 FROM PESDW.PESDW.dbo.PES_DW_BOL b
		WHERE b.BOL_ID NOT IN (SELECT BOL_ID FROM PESDW.PESDW.dbo.PES_DW_CMD c WHERE c.DELETED IS NULL)
		 AND b.DELETED IS NULL
		GROUP BY b.direction, YEAR(VDATE)*100+MONTH(VDATE)
		UNION
		SELECT b.direction As Dir
		, 'Description is ‘NO COMMODITY’' As ProblemType, YEAR(VDATE)*100+MONTH(VDATE) As VMonth
		, COUNT(b.BOL_ID) As NumberOfBills
		 FROM PESDW.PESDW.dbo.PES_DW_BOL b
		WHERE b.BOL_ID IN (SELECT BOL_ID FROM PESDW.PESDW.dbo.PES_DW_CMD c WHERE c.DELETED IS NULL AND c.CMD_DESC='NO COMMODITY')
		 AND b.DELETED IS NULL
		GROUP BY b.direction, YEAR(VDATE)*100+MONTH(VDATE)
		UNION
		SELECT b.direction As Dir
		, 'Description is ‘NO RAW COMMODITY’' As ProblemType, YEAR(VDATE)*100+MONTH(VDATE) As VMonth
		, COUNT(b.BOL_ID) As NumberOfBills
		 FROM PESDW.PESDW.dbo.PES_DW_BOL b
		WHERE b.BOL_ID IN (SELECT BOL_ID FROM PESDW.PESDW.dbo.PES_DW_CMD c WHERE c.DELETED IS NULL AND c.CMD_DESC='NO RAW COMMODITY')
		 AND b.DELETED IS NULL
		GROUP BY b.direction, YEAR(VDATE)*100+MONTH(VDATE)
		ORDER BY 1,2,3 DESC
	END
	ELSE IF @Type = 'ContainerSizeStats'
	BEGIN
		--SELECT * FROM PES.dbo.Container_Size_Stats ORDER BY Run_date DESC
		/*	01/11/2011 - JG
			Updated to include YY counts. This will need to be stored in a separate column during the calculation process once priority 
			is raised in Rally 
		*/
		select Load_Number,BOL_Count,ZZ_Count Invalid_CNTR_Total, Update_Count, MultiUpdate_Count, (Update_Count+MultiUpdate_Count) CNTR_AutoMatch_Total,
		(ZZ_Count-(Update_Count+MultiUpdate_Count)) YY_ZZTotal, YY_Count YY_Total, Run_Date
		from PES.dbo.Container_Size_Stats WITH (NOLOCK)
		 ORDER BY Run_date DESC
		
	END
	ELSE
	BEGIN
		-- Return NOT IMPLEMENTED
		SELECT 'Report not implemented!' As Error
	END

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
