/****** Object:  StoredProcedure [dbo].[INSERT_HIST_VESSEL]    Script Date: 01/03/2013 19:47:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CTS-MODIFIED ON 13-01-2010
--CHANGES REQUIRED FOR VESSEL DICTIONARY MIGRATION

CREATE PROCEDURE [dbo].[INSERT_HIST_VESSEL]  
   @perm varchar(max),
   @vessel varchar(max),
   @modif_by varchar(max),
   @RETURN_VALUE INT OUT
AS 
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

	DECLARE @RECCOUNT int

	SELECT @RECCOUNT=count(*) FROM [PES].[dbo].[LIB_VESSEL] WITH (NOLOCK)
		WHERE NAME_KEY=@perm AND REF_NAME=@vessel

	IF @RECCOUNT = 0
	BEGIN
		INSERT INTO [PES].[dbo].[LIB_VESSEL]
			   ([CODE_KEY]
			   ,[NAME_KEY]
			   ,[REF_NAME]
			   ,[ACTIVE]
			   ,[MODIFY_DATE]
			   ,[MODIFY_USER])
		VALUES
			   (NULL
			   ,@perm
			   ,@vessel
			   ,'Y'
			   ,GETDATE()
			   ,@modif_by)
		SET @RETURN_VALUE = (select max(id) from PES.dbo.lib_vessel WITH (NOLOCK))
	END
	ELSE
		SET @RETURN_VALUE = 1

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

	END



--ALTER PROCEDURE [dbo].[INSERT_HIST_VESSEL]  
--   @perm varchar(max),
--   /*
--   *   SSMA warning messages:
--   *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
--   */
--
--   @id float(53),
--   @modif_by varchar(max),
--   @RETURN_VALUE INT OUT
--AS 
--   
--   /*
--   *   Generated by SQL Server Migration Assistant for Oracle.
--   *   Contact ora2sql@microsoft.com or visit http://www.microsoft.com/sql/migration for more information.
--   */
--   BEGIN
--
--      DECLARE @compress_value varchar(35)
--	  DECLARE @RECCOUNT int
--
--SELECT @RECCOUNT=count(*) FROM [PES].[dbo].[LIB_VESSEL]
--WHERE NAME_KEY=@perm AND REF_ID=@id
--
----      SET @compress_value = dbo.GET_KEY(@perm)
--SET @compress_value =@perm
--
----      INSERT dbo.HIST_VESSEL(
----         VESSEL_KEY, 
----         VESSEL, 
----         VESSEL_ID, 
----         MODIFIED_BY, 
----         MODIFIED_DT)
----         VALUES (
----            @compress_value, 
----            @perm, 
----            @id, 
----            @modif_by, 
----            getdate())
--
--IF @RECCOUNT=0
--BEGIN
--	INSERT INTO [PES].[dbo].[LIB_VESSEL]
--           ([CODE_KEY]
--           ,[NAME_KEY]
--           ,[REF_ID]
--           ,[ACTIVE]
--           ,[MODIFY_DATE]
--           ,[MODIFY_USER])
--    VALUES
--           (NULL
--           ,@perm
--           ,@id
--           ,'Y'
--           ,GETDATE()
--           ,@modif_by)
--	SET @RETURN_VALUE = (select max(id) from PES.dbo.lib_vessel)
--END
--ELSE
--	SET @RETURN_VALUE = 1
--
--END
GO
