/****** Object:  StoredProcedure [dbo].[INSERT_REF_VESSEL]    Script Date: 01/03/2013 19:47:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CTS-MODIFICATIONS DONE ON 01-13-2010
--VESSEL MIGRATION CHANGES

CREATE PROCEDURE [dbo].[INSERT_REF_VESSEL]  
	@STND_VESSEL varchar(max),
--	@PIERS_VESSEL varchar(max),
	@COUNTRY varchar(max),
	@IMO varchar(max),
	@IS_TMP varchar(max),
	@MODIFIED_BY varchar(max),
	@TEU_CAPACITY int,
	/*
	*   SSMA warning messages:
	*   O2SS0356: Conversion from NUMBER datatype can cause data loss.
	*/
	@RETURN_VALUE int output
	-- @Out_Id float(53)  OUTPUT
AS 
   /*
   *   Generated by SQL Server Migration Assistant for Oracle.
   *   Contact ora2sql@microsoft.com or visit http://www.microsoft.com/sql/migration for more information.
   */
	BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

--      SET @Out_Id = 1
--      SELECT @Out_ID = sysdb.ssma_oracle.db_get_next_sequence_value(N'TBRD_PRD', N'dbo', N'REF_VESSEL$SEQ')
		
		DECLARE @RECCOUNT AS INT
		SELECT @RECCOUNT=COUNT(*) FROM PES.DBO.REF_VESSEL WITH (NOLOCK)
			WHERE STND_VESSEL=@STND_VESSEL AND VESSEL_COUNTRY=@COUNTRY

		IF @RECCOUNT = 0
		BEGIN
--			INSERT PES.dbo.REF_VESSEL(
--			 STND_VESSEL, 
--			 [NAME], 
--			 IS_TMP, 
--			 MODIFIED_BY, 
--			 MODIFIED_DT,
--			 VESSEL_COUNTRY,
--			 IMO_CODE)
--			 VALUES (
--				@STND_VESSEL, 
--				@PIERS_VESSEL, 
--				@IS_TMP, 
--				@MODIFIED_BY, 
--				getdate(),
--				@COUNTRY,
--				@IMO)
		INSERT PES.dbo.REF_VESSEL(
			 STND_VESSEL, 
			 [NAME], 
			 IS_TMP, 
			 MODIFIED_BY, 
			 MODIFIED_DT,
			 VESSEL_COUNTRY,
			 IMO_CODE,
			 TEU_CAPACITY)
			 VALUES (
				@STND_VESSEL, 
				@STND_VESSEL, 
				@IS_TMP, 
				@MODIFIED_BY, 
				getdate(),
				@COUNTRY,
				@IMO,
				@TEU_CAPACITY)
			SET @RETURN_VALUE = (select max(id) from PES.dbo.ref_vessel WITH (NOLOCK))
		END
		ELSE
			SET @RETURN_VALUE = 1


--      EXECUTE dbo.INSERT_HIST_VESSEL @PERM = @STND_VESSEL, @ID = @Out_Id, @MODIF_BY = @MODIFIED_BY
--
--      IF @@TRANCOUNT > 0
--         COMMIT WORK 

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

	END
GO
