/****** Object:  StoredProcedure [dbo].[INSERT_HIST_CITYCOUN]    Script Date: 01/03/2013 19:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_HIST_CITYCOUN]  
   @CITY varchar(max),
   @COUN varchar(max),
   /*
   *   SSMA warning messages:
   *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
   */

   @Out_Id float(53),
   @MODIF_BY varchar(max)
AS 
   
   /*
   *   Generated by SQL Server Migration Assistant for Oracle.
   *   Contact ora2sql@microsoft.com or visit http://www.microsoft.com/sql/migration for more information.
   */
   BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


      INSERT dbo.HIST_CITYCOUN(
         FCCY_ID, 
         C_CITY, 
         C_COUNTRY, 
         P_CITY, 
         P_COUNTRY, 
         MODIFIED_BY, 
         MODIFIED_DT)
         VALUES (
            @OUT_ID, 
            @CITY, 
            @COUN, 
            @CITY, 
            @COUN, 
            @MODIF_BY, 
            getdate())

      IF @@TRANCOUNT > 0
         COMMIT WORK 

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

   END
GO
