/****** Object:  StoredProcedure [dbo].[INSERT_REF_GEN_WEIGHT]    Script Date: 01/03/2013 19:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_REF_GEN_WEIGHT]  
   @harmcode varchar(max),
   @coast varchar(max),
   @COUNTRY varchar(max),
   @uofm varchar(max),
   /*
   *   SSMA warning messages:
   *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
   */
   @pounds float(53),
   @dir varchar(max),
   @modif_by varchar(max),
   /*
   *   SSMA warning messages:
   *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
   */

   @Out_Id float(53)  OUTPUT
AS 
   
   /*
   *   Generated by SQL Server Migration Assistant for Oracle.
   *   Contact ora2sql@microsoft.com or visit http://www.microsoft.com/sql/migration for more information.
   */
   BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


      SET @Out_Id = 1

--      SELECT @Out_ID = sysdb.ssma_oracle.db_get_next_sequence_value(N'TBRD_PRD', N'dbo', N'SEQ_REF_GEN_WEIGHT')

      INSERT PES.dbo.REF_GEN_WEIGHT(
         HARMCODE, 
         COAST, 
         COUNTRY, 
         UOFM, 
         POUNDS, 
         DIR, 
         DELETED, 
         MODIFIED_BY, 
         MODIFIED_DT)
         VALUES (
            @harmcode, 
            @coast, 
            @COUNTRY, 
            @uofm, 
            @pounds, 
            @dir, 
            'N', 
            @modif_by, 
            getdate())

      IF @@TRANCOUNT > 0
         COMMIT WORK 

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

   END
GO
