/****** Object:  StoredProcedure [dbo].[USP_PES_LOAD_EXCEPTION_TABLES]    Script Date: 01/03/2013 19:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_PES_LOAD_EXCEPTION_TABLES]
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


DECLARE @TRANNAME VARCHAR(20),@TRANNAME1 VARCHAR(20),@FILE VARCHAR(500),@FILE_NAME VARCHAR(50), @LNBR INT
DECLARE @CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),
@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50),@DATE2 DATETIME,@TIME2 INT ,@VENDOR_CODE VARCHAR(10)
SET @TRANNAME1 = 'MyTransaction1'
SET @TRANNAME = 'MyTransaction'


SELECT @FILE = PATH FROM PES.DBO.PES_CONFIGURATION WITH (NOLOCK) WHERE SOURCE='SP_LOG'
SELECT @FILE_NAME= FILENAME, @LNBR = LOADNUMBER FROM PES.dbo.PES_PROGRESS_STATUS WITH (NOLOCK) WHERE LOAD_DT=(SELECT MAX(Load_DT) FROM PES.DBO.PES_PROGRESS_STATUS WITH (NOLOCK))

--GET VENDOR CODE
SELECT TOP 1 @VENDOR_CODE=VENDOR_CODE FROM PES.DBO.RAW_BOL WHERE LOAD_NUMBER=@LNBR
	
SET @FILE='"'+@FILE+@FILE_NAME+'_LOG.TXT'+'"'
SET @CMD = 'ECHO PROCEDURE USP_PES_LOAD_EXCEPTION_TABLES EXECUTION STARTED' + '>>'+ @FILE
EXEC MASTER..XP_CMDSHELL @CMD 

BEGIN TRANSACTION @TRANNAME
BEGIN TRY

DECLARE @SQLStatement NVARCHAR(4000)
DECLARE @SQLACTION VARCHAR(5000)
DECLARE @SQLMATCH VARCHAR(3000)
DECLARE @Dir VARCHAR(1)
DECLARE @ID INT
DECLARE @PROC_ACTION VARCHAR(2)
DECLARE @ISSEMICOLUMN INT
DECLARE @SQLACTION1 VARCHAR(5000)
DECLARE @SQLStatement1 NVARCHAR(4000)
DECLARE @SQLACTION2 VARCHAR(5000)
DECLARE @SQLStatement2 NVARCHAR(4000)
DECLARE @ImpExp VARCHAR(1)
DECLARE @BOL_Number VARCHAR(16)
DECLARE @TMP_VOYAGE_ID NUMERIC(10)
DECLARE @TMP_VOYAGE_ID1 NUMERIC(10)
DECLARE @TAPE_DT DATETIME

SET @DATE2=GETDATE()
--INSERT INTO STD_VOYAGE
SELECT  @TAPE_DT=TAPE_DT 
FROM PES.DBO.RAW_STG_REC_COUNT WITH (NOLOCK)
where LOADNUMBER=@LNBR



INSERT INTO STD_VOYAGE(T_NBR,BL_NBR,WGT,WGT_UNIT,MEAS,MEAS_UNIT,ORG_CITY,ORG_STATE,ORG_CNTRY,FINANCIAL_IND,PAYMENT_IND,SCAC,VESSEL_CD,VESSEL_NAME,VOYAGE_NBR,EST_ARRIVAL_DT,ACT_ARR_DT,PLACE_RECEIPT_CD,FOREIGN_PORT,USPORT,MANIFEST_QTY,MANIFEST_UNIT,TEU_CNT,LCL_FLG,CNTRIZED_SHPMT_FLG,INBOND_ENTRY_TYPE,TRANS_MODE_CD,MANIFEST_NBR,LOAD_NBR,LAST_UPDATE_DT,PUBLISH_CMD_FLG,PUBLISH_MAN_FLG,PUBLISH_PTY_FLG,PIERS_REPLACEMENT_FLG,NVO_SCAC,MST_BOL_DATA,DIR,BATCH_ID,IMAGE_PATH,VESSEL_ID,CARRIER_ID,USPORT_ID,STD_ID,SEQ_NBR,CARRIER,TAPE_DT,TOTAL_CNT,CREATED_BY,CREATED_DT,VOYAGE_STATUS)
(
	SELECT AA.BOL_ID,AA.BOL_Nbr,AA.BOL_Wgt,A.Weight_Units,A.MEAS,A.MEAS_UNITS,A.OriginCity,A.OriginState,A.OriginCountry,A.FinanceField,A.PayableField,AA.SLINE,A.Vessel_Code,AA.Vessel_Name,AA.Voyage,AA.VDATE,AA.VDATE,A.ReceiptCountryCode,AA.FOREIGN_LOADING_PORT,(CASE ISNULL(LTRIM(RTRIM(AA.DISCHARGE_PORT)),'') WHEN '' THEN AA.PORT_OF_DEPARTURE ELSE AA.DISCHARGE_PORT END),A.MFEST_Quantity,A.MFEST_Units,AA.BOL_TEU,AA.BOL_LCL_FLAG,AA.BOL_CNTRZD_FLG,
	A.Inbound_Entry_Type,AA.BOL_TRANS_MODE_CD,A.Manifest_Number,A.Load_Number,GETDATE(),AA.BOL_PUBLISH_CMD_FLG,
	AA.BOL_PUBLISH_MAN_FLG,AA.BOL_PUBLISH_PTY_FLG,'N',A.NVOSCAC_Code,A.Master_BOL_Data,A.ImpExp,A.BATCH_ID,
	A.ImagePath_0,AA.VESSEL_REF_ID,AA.SLINE_REF_ID,AA.PORT_DEPART_REF_ID,0,0,AA.SCAC,@TAPE_DT,0,'USER5',GETDATE(),
	'INPROCESS' 
	FROM PES.DBO.PES_STG_BOL AA WITH (NOLOCK), PES.DBO.RAW_BOL A WITH (NOLOCK)
	WHERE AA.ref_load_num_id = @LNBR AND A.BOL_ID=AA.BOL_ID AND (AA.VESSEL_REF_ID=0 OR AA.SLINE_REF_ID=0 OR AA.PORT_DEPART_REF_ID=0))

--INSERT FUZZY EXCEPTIONS INTO CTRL_PROCESS_VOYAGE
--VESSEL
INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],[KEY],[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,FIELD_LAYOUT,EXCEPTION_FIELD,LOAD_NUMBER,CHILD_ID)
(
	SELECT 'INVALID VESSEL NAME',A.BOL_ID,A.BOL_DIRECTION,A.VESSEL_NAME,1,GETDATE(),0,0,A.REF_VENDOR_CODE,'BOL','VESSEL_NAME',
	A.REF_LOAD_NUM_ID,0 
	FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK)
	WHERE  A.REF_LOAD_NUM_ID=@LNBR
	AND A.VESSEL_REF_ID=0
)

--CARRIER
INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],[KEY],[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,FIELD_LAYOUT,EXCEPTION_FIELD,LOAD_NUMBER,CHILD_ID)
(
	SELECT 'INVALID CARRIER',A.BOL_ID,A.BOL_DIRECTION,A.SCAC,1,GETDATE(),0,0, A.REF_VENDOR_CODE,'BOL','CARRIER_CODE',A.REF_LOAD_NUM_ID,0 
	FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK)
	WHERE  A.REF_LOAD_NUM_ID=@LNBR
	AND A.SLINE_REF_ID=0
)

--TEMPORARY CARRIER (As instructed by Akash 30-Sep-2010)

INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],[KEY],[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,FIELD_LAYOUT,EXCEPTION_FIELD, LOAD_NUMBER,CHILD_ID )
(
	
SELECT 'TEMPORARY CARRIER',A.BOL_ID,A.BOL_DIRECTION,(SELECT C.CODE FROM PES.DBO.REF_CARRIER C WITH (NOLOCK) WHERE ID=A.SLINE_REF_ID)[KEY] ,1,GETDATE(),0,0,A.REF_VENDOR_CODE,'BOL','CARRIER_CODE',A.REF_LOAD_NUM_ID,0 
	FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK), PES.DBO.RAW_BOL B WITH (NOLOCK)
	WHERE A.BOL_ID=B.BOL_ID AND ISNULL(A.SLINE_REF_ID,0)<>0 AND A.SLINE_REF_ID IN
	(SELECT ID FROM PES.DBO.REF_CARRIER WHERE IS_TMP='Y' OR CARRIER_DESC='TEMPORARY CARRIER')

) 

--ZZZZ CARRIER (As instructed by Akash 30-Sep-2010)

INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],[KEY],[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,FIELD_LAYOUT,EXCEPTION_FIELD, LOAD_NUMBER,CHILD_ID )
(
	
SELECT 'ZZZZ CARRIER',A.BOL_ID,A.BOL_DIRECTION,(SELECT C.CODE FROM PES.DBO.REF_CARRIER C WITH (NOLOCK) WHERE ID=A.SLINE_REF_ID)[KEY] ,1,GETDATE(),0,0,A.REF_VENDOR_CODE,'BOL','CARRIER_CODE',A.REF_LOAD_NUM_ID,0 
	FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK), PES.DBO.RAW_BOL B WITH (NOLOCK)
	WHERE A.BOL_ID=B.BOL_ID AND ISNULL(A.SLINE_REF_ID,0)<>0 AND A.SLINE_REF_ID IN
	(SELECT ID FROM PES.DBO.REF_CARRIER WHERE CODE='ZZZZ' OR TYPE='ZZZZ')
) 

--USPORT

INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],[KEY],[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,FIELD_LAYOUT,EXCEPTION_FIELD, LOAD_NUMBER,CHILD_ID )
(
	SELECT 'INVALID USPORT',A.BOL_ID,A.BOL_DIRECTION,(CASE ISNULL(B.DISCHARGE_PORT,'') WHEN '' THEN B.PORT_OF_DEPARTURE ELSE B.DISCHARGE_PORT END),1,GETDATE(),0,0,A.REF_VENDOR_CODE,'BOL',(CASE ISNULL(B.DISCHARGE_PORT,'') WHEN '' THEN 'PORT_OF_DEPARTURE' ELSE 'DISCHARGE_PORT' END),A.REF_LOAD_NUM_ID,0 
	FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK), PES.DBO.RAW_BOL B WITH (NOLOCK)
	WHERE A.ref_load_num_id = @LNBR AND A.BOL_ID=B.BOL_ID AND A.PORT_DEPART_REF_ID=0
) 

--FOR REGISTRY_ID EXCEPTIONS

INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],[KEY],[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,FIELD_LAYOUT,EXCEPTION_FIELD, LOAD_NUMBER,CHILD_ID )
(
	SELECT 'INVALID REGISTRY',A.BOL_ID,A.BOL_DIRECTION,A.REGISTRY,1,GETDATE(),0,0,A.REF_VENDOR_CODE,'BOL','REGISTRY',
	A.REF_LOAD_NUM_ID,0 
	FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK)
	WHERE REF_LOAD_NUM_ID=@LNBR and A.REGISTRY_ID=0)


IF @VENDOR_CODE='AMS'
BEGIN

--INVALID DESTINATION FOR AMS IMPORTS

INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],[KEY],
[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,FIELD_LAYOUT,EXCEPTION_FIELD, 
LOAD_NUMBER,CHILD_ID)
(
	SELECT 'INVALID DESTINATION',A.BOL_ID,A.BOL_DIRECTION,
    A.ORG_DEST_CD,1,GETDATE(),0,0,A.REF_VENDOR_CODE,'BOL',
	'ORG_DEST_CD',A.REF_LOAD_NUM_ID,0 
	FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK) 
	WHERE A.REF_LOAD_NUM_ID=@LNBR AND A.BOL_DIRECTION = 'I' AND A.ORG_DEST_CD NOT 
	IN('00000','0000') AND  A.ORG_DEST_CD IS NOT NULL AND 
	(A.ORG_DEST_CITY IS NULL OR A.ORG_DEST_ST IS NULL) 
) 

--INVALID ORIGIN FOR EXPORTS

INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],
[KEY],[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,FIELD_LAYOUT,
EXCEPTION_FIELD,LOAD_NUMBER,CHILD_ID)
(
SELECT 'INVALID ORIGIN',A.BOL_ID,A.BOL_DIRECTION,
ISNULL(A.ORG_DEST_ST,'')+ISNULL(A.ORG_DEST_CITY,''),
1,GETDATE(),0,0,A.REF_VENDOR_CODE,'BOL','ORG_DEST_ST,ORG_DEST_CITY',
A.REF_LOAD_NUM_ID,0 FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK) 
WHERE A.REF_LOAD_NUM_ID=@LNBR AND A.BOL_DIRECTION = 'E' 
AND A.ORG_DEST_CD IS NULL AND (A.ORG_DEST_CITY IS NOT NULL OR 
A.ORG_DEST_ST IS NOT NULL)
)




--ALL EXCEPTIONS
--FPORT_ID IS NULL AND RECEIPT=0 AND ULTPORT_ID=0
--ONLY FPORT
--FPORT_ID IS NULL AND RECEIPT<>0 AND RECEIPT IS NOT NULL AND ULTPORT_ID<>0
--FPORT_ID IS NULL AND RECEIPT IS NULL AND ULTPORT_ID IS NULL 

--FOR N/W FOREIGN_PORT_ID AND RECEIPT EXCEPTIONS

INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],[KEY],[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,FIELD_LAYOUT,EXCEPTION_FIELD, LOAD_NUMBER,CHILD_ID,[KEY1],FLAG )
(
	SELECT 'N/W EXCEPTIONS',A.BOL_ID,A.BOL_DIRECTION,(CASE ISNULL(A.FOREIGN_LOADING_PORT,'') WHEN '' THEN A.PORT_OF_DESTINATION ELSE A.FOREIGN_LOADING_PORT END),1,GETDATE(),0,0,A.REF_VENDOR_CODE,'BOL',
	(CASE ISNULL(A.FOREIGN_LOADING_PORT,'') WHEN '' THEN 'PORT_OF_DESTINATION,PLACE_OF_RECEIPT' ELSE 'FOREIGN_LOADING_PORT,PLACE_OF_RECEIPT' END),A.REF_LOAD_NUM_ID,0,A.PLACE_OF_RECEIPT,'PR' 
	FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK) 
	WHERE A.REF_LOAD_NUM_ID=@LNBR and A.PORT_ARRIVE_REF_ID IS NULL AND A.RECEIPT_ID=0) 


	--AND (A.ULTPORT_ID=0 OR A.ULTPORT_ID IS NULL))

--FOR ONLY N/W FOREIGN_PORT_ID EXCEPTIONS WHEN RECEIPT CITY IS NOT BLANK
--INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],
--[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,
--FIELD_LAYOUT,EXCEPTION_FIELD, LOAD_NUMBER,CHILD_ID,[KEY],[FLAG] )
--(SELECT 'N/W EXCEPTIONS',A.BOL_ID,A.BOL_DIRECTION,1,GETDATE(),1,0,A.REF_VENDOR_CODE,'BOL',(CASE ISNULL(A.FOREIGN_LOADING_PORT,'') WHEN '' THEN 'PORT_OF_DESTINATION' ELSE 'FOREIGN_LOADING_PORT' END),A.REF_LOAD_NUM_ID,0,(CASE ISNULL(A.FOREIGN_LOADING_PORT,'') WHEN '' THEN A.PORT_OF_DESTINATION ELSE A.FOREIGN_LOADING_PORT END),'P' 
--FROM PES.DBO.PES_STG_BOL A (NOLOCK)
--WHERE A.REF_LOAD_NUM_ID=@LNBR and A.PORT_ARRIVE_REF_ID IS NULL AND A.RECEIPT_ID<>0 AND A.RECEIPT_ID IS NOT NULL 
--AND A.ULTPORT_ID<>0 AND A.ULTPORT_ID IS NOT NULL) 


--FOR ONLY N/W FOREIGN_PORT_ID EXCEPTIONS 
INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],
[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,
FIELD_LAYOUT,EXCEPTION_FIELD, LOAD_NUMBER,CHILD_ID,[KEY],[FLAG] )
(SELECT 'N/W EXCEPTIONS',A.BOL_ID,A.BOL_DIRECTION,1,GETDATE(),0,0,A.REF_VENDOR_CODE,'BOL',(CASE ISNULL(A.FOREIGN_LOADING_PORT,'') WHEN '' THEN 'A.PORT_OF_DESTINATION' ELSE 'FOREIGN_LOADING_PORT' END),A.REF_LOAD_NUM_ID,0,(CASE ISNULL(A.FOREIGN_LOADING_PORT,'') WHEN '' THEN A.PORT_OF_DESTINATION ELSE A.FOREIGN_LOADING_PORT END),'P' 
FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK)
WHERE A.REF_LOAD_NUM_ID=@LNBR and A.PORT_ARRIVE_REF_ID IS NULL AND (A.RECEIPT_ID IS NULL OR A.RECEIPT_ID>0)) 


--ALL EXCEPTIONS
--FPORT_ID=0 AND RECEIPT_ID=0 AND ULTPORT=0
--ONLY RECEIPT
--FPORT_ID<>0 AND RECEIPT_ID=0 AND ULTPORT=0
--ONLY FPORT (WHEN RECEIPT NOT BLANK)
--FPORT_ID=0 AND RECEIPT_ID<>0 AND RECEIPT_ID IS NOT NULL AND ULTPORT<>0
--ONLY FPORT(WHEN RECEIPT BLANK)
--FPORT_ID=0 AND RECEIPT_ID IS NULL AND ULTPORT_ID=0

--PORT AND RECEIPT
INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],
[KEY],[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,
FIELD_LAYOUT,EXCEPTION_FIELD, LOAD_NUMBER,CHILD_ID,[KEY1],[FLAG] )
(SELECT 
(CASE A.REF_VENDOR_CODE WHEN 'AMS'
 THEN (CASE RIGHT(LTRIM(RTRIM(A.FOREIGN_LOADING_PORT)),2) WHEN '00' THEN 'N/W EXCEPTIONS' ELSE 'PORT EXCEPTIONS' END)
 ELSE 'PORT EXCEPTIONS'END),A.BOL_ID,A.BOL_DIRECTION,(CASE ISNULL(A.FOREIGN_LOADING_PORT,'') WHEN '' THEN A.PORT_OF_DESTINATION ELSE A.FOREIGN_LOADING_PORT END),1,GETDATE(),0,0,A.REF_VENDOR_CODE,'BOL',
(CASE ISNULL(A.FOREIGN_LOADING_PORT,'') WHEN '' THEN 'PORT_OF_DESTINATION,PLACE_OF_RECEIPT' ELSE 'FOREIGN_LOADING_PORT,PLACE_OF_RECEIPT' END),A.REF_LOAD_NUM_ID,0,A.PLACE_OF_RECEIPT,'PR' 
FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK)
WHERE REF_LOAD_NUM_ID=@LNBR AND A.PORT_ARRIVE_REF_ID=0 AND A.RECEIPT_ID=0)

--ONLY RECEIPT 
INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],
[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,
FIELD_LAYOUT,EXCEPTION_FIELD, LOAD_NUMBER,CHILD_ID,[KEY1],[FLAG] )
(SELECT (CASE A.REF_VENDOR_CODE WHEN 'AMS'
 THEN (CASE RIGHT(LTRIM(RTRIM(A.FOREIGN_LOADING_PORT)),2) WHEN '00' THEN 'N/W EXCEPTIONS' ELSE 'PORT EXCEPTIONS' END)
 ELSE 'PORT EXCEPTIONS'END),A.BOL_ID,A.BOL_DIRECTION,1,GETDATE(),0,0,A.REF_VENDOR_CODE,'BOL','PLACE_OF_RECEIPT',A.REF_LOAD_NUM_ID,0,A.PLACE_OF_RECEIPT,
'R' FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK) WHERE REF_LOAD_NUM_ID=@LNBR AND A.RECEIPT_ID=0 AND 
A.PORT_ARRIVE_REF_ID>0)

--ONLY FPORT WHEN RECEIPT NOT BLANK
--INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],
--[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,
--FIELD_LAYOUT,EXCEPTION_FIELD, LOAD_NUMBER,CHILD_ID,[KEY],[FLAG] )
--(SELECT (CASE A.REF_VENDOR_CODE WHEN 'AMS'
-- THEN (CASE RIGHT(LTRIM(RTRIM(A.FOREIGN_LOADING_PORT)),2) WHEN '00' THEN 'N/W EXCEPTIONS' ELSE 'PORT EXCEPTIONS' END)
-- ELSE 'PORT EXCEPTIONS'END),A.BOL_ID,A.BOL_DIRECTION,1,GETDATE(),1,0,A.REF_VENDOR_CODE,'BOL',(CASE ISNULL(A.FOREIGN_LOADING_PORT,'') WHEN '' THEN 'PORT_OF_DESTINATION' ELSE 'FOREIGN_LOADING_PORT' END),
--A.REF_LOAD_NUM_ID,0,(CASE ISNULL(A.FOREIGN_LOADING_PORT,'') WHEN '' THEN A.PORT_OF_DESTINATION ELSE A.FOREIGN_LOADING_PORT END),'P' 
--FROM PES.DBO.PES_STG_BOL A (NOLOCK) 
--WHERE REF_LOAD_NUM_ID=@LNBR AND A.PORT_ARRIVE_REF_ID = 0 AND A.RECEIPT_ID<>0 AND A.ULTPORT_ID<>0 AND A.RECEIPT_ID IS NOT NULL 
--AND A.PORT_ARRIVE_REF_ID IS NOT NULL)

--ONLY PORT 
INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],
[KEY],[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,
FIELD_LAYOUT,EXCEPTION_FIELD, LOAD_NUMBER,CHILD_ID,[FLAG] )
(SELECT (CASE A.REF_VENDOR_CODE WHEN 'AMS'
 THEN (CASE RIGHT(LTRIM(RTRIM(A.FOREIGN_LOADING_PORT)),2) WHEN '00' THEN 'N/W EXCEPTIONS' ELSE 'PORT EXCEPTIONS' END)
 ELSE 'PORT EXCEPTIONS'END),A.BOL_ID,A.BOL_DIRECTION,(CASE ISNULL(A.FOREIGN_LOADING_PORT,'') WHEN '' THEN A.PORT_OF_DESTINATION ELSE A.FOREIGN_LOADING_PORT END),1,GETDATE(),0,0,A.REF_VENDOR_CODE,'BOL',
(CASE ISNULL(A.FOREIGN_LOADING_PORT,'') WHEN '' THEN 'PORT_OF_DESTINATION' ELSE 'FOREIGN_LOADING_PORT' END),A.REF_LOAD_NUM_ID,0,'P'
FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK) 
WHERE REF_LOAD_NUM_ID=@LNBR AND A.PORT_ARRIVE_REF_ID=0 AND (A.RECEIPT_ID IS NULL OR A.RECEIPT_ID>0))

END
ELSE 
BEGIN

--INVALID DESTINATION FOR NON AMS IMPORTS

INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],[KEY],
[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,FIELD_LAYOUT,EXCEPTION_FIELD, 
LOAD_NUMBER,CHILD_ID)
(
	SELECT 'INVALID DESTINATION',A.BOL_ID,A.BOL_DIRECTION,
    ISNULL(A.ORG_DEST_ST,'')+ISNULL(A.ORG_DEST_CITY,''),
    1,GETDATE(),0,0,A.REF_VENDOR_CODE,'BOL',
	'ORG_DEST_ST,ORG_DEST_CITY',A.REF_LOAD_NUM_ID,0 
	FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK) 
	WHERE A.REF_LOAD_NUM_ID=@LNBR AND A.BOL_DIRECTION = 'I' 
	AND A.ORG_DEST_CD IS NULL AND (A.ORG_DEST_CITY IS NOT NULL OR 
	A.ORG_DEST_ST IS NOT NULL)
) 

--INVALID ORIGIN FOR EXPORTS

INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],
[KEY],[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,FIELD_LAYOUT,
EXCEPTION_FIELD,LOAD_NUMBER,CHILD_ID)
(
SELECT 'INVALID ORIGIN',A.BOL_ID,A.BOL_DIRECTION,
ISNULL(A.ORG_DEST_ST,'')+ISNULL(A.ORG_DEST_CITY,''),
1,GETDATE(),0,0,A.REF_VENDOR_CODE,'BOL','ORG_DEST_ST,ORG_DEST_CITY',
A.REF_LOAD_NUM_ID,0 FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK) 
WHERE A.REF_LOAD_NUM_ID=@LNBR AND A.BOL_DIRECTION = 'E' 
AND A.ORG_DEST_CD IS NULL AND (A.ORG_DEST_CITY IS NOT NULL OR 
A.ORG_DEST_ST IS NOT NULL)
)

--N/W EXCEPTIONS

--FOR N/W FOREIGN_PORT_ID AND ULTPORT EXCEPTIONS
INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],[KEY],[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,FIELD_LAYOUT,EXCEPTION_FIELD, LOAD_NUMBER,CHILD_ID,[KEY1],FLAG )
(
	SELECT 'N/W EXCEPTIONS',A.BOL_ID,A.BOL_DIRECTION,(CASE ISNULL(A.FOREIGN_LOADING_PORT,'') WHEN '' THEN A.PORT_OF_DESTINATION ELSE A.FOREIGN_LOADING_PORT END),1,GETDATE(),0,0,A.REF_VENDOR_CODE,'BOL',
	(CASE ISNULL(A.FOREIGN_LOADING_PORT,'') WHEN '' THEN 'PORT_OF_DESTINATION,ULT_PORT_NAME' ELSE 'FOREIGN_LOADING_PORT,ULT_PORT_NAME' END),A.REF_LOAD_NUM_ID,0,(CASE ISNULL(A.ULT_PORT_NAME,'') WHEN '' THEN A.ULT_PORT_CODE ELSE A.ULT_PORT_NAME END),'PR' 
	FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK) 
	WHERE A.REF_LOAD_NUM_ID=@LNBR and A.PORT_ARRIVE_REF_ID IS NULL AND A.ULTPORT_ID=0)

--FOR ONLY N/W FOREIGN PORT EXCEPTIONS
INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],[KEY],[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,FIELD_LAYOUT,EXCEPTION_FIELD, LOAD_NUMBER,CHILD_ID,FLAG )
(
	SELECT 'N/W EXCEPTIONS',A.BOL_ID,A.BOL_DIRECTION,(CASE ISNULL(A.FOREIGN_LOADING_PORT,'') WHEN '' THEN A.PORT_OF_DESTINATION ELSE A.FOREIGN_LOADING_PORT END),1,GETDATE(),0,0,A.REF_VENDOR_CODE,'BOL',
	(CASE ISNULL(A.FOREIGN_LOADING_PORT,'') WHEN '' THEN 'PORT_OF_DESTINATION' ELSE 'FOREIGN_LOADING_PORT' END),
A.REF_LOAD_NUM_ID,0,'P' 
	FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK) 
	WHERE A.REF_LOAD_NUM_ID=@LNBR and A.PORT_ARRIVE_REF_ID IS NULL AND  (A.ULTPORT_ID IS NULL OR A.ULTPORT_ID>0))

--PORT EXCEPTIONS
--FOREIGN PORT AND ULTPORT
INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],
[KEY],[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,
FIELD_LAYOUT,EXCEPTION_FIELD, LOAD_NUMBER,CHILD_ID,[KEY1],[FLAG] )
(SELECT 
(CASE A.REF_VENDOR_CODE WHEN 'AMS'
 THEN (CASE RIGHT(LTRIM(RTRIM(A.FOREIGN_LOADING_PORT)),2) WHEN '00' THEN 'N/W EXCEPTIONS' ELSE 'PORT EXCEPTIONS' END)
 ELSE 'PORT EXCEPTIONS'END),A.BOL_ID,A.BOL_DIRECTION,(CASE ISNULL(A.FOREIGN_LOADING_PORT,'') WHEN '' THEN A.PORT_OF_DESTINATION ELSE A.FOREIGN_LOADING_PORT END),1,GETDATE(),0,0,A.REF_VENDOR_CODE,'BOL',
(CASE ISNULL(A.FOREIGN_LOADING_PORT,'') WHEN '' THEN 'PORT_OF_DESTINATION,ULT_PORT_NAME' ELSE 'FOREIGN_LOADING_PORT,ULT_PORT_NAME' END),A.REF_LOAD_NUM_ID,0,(CASE ISNULL(A.ULT_PORT_NAME,'') WHEN '' THEN A.ULT_PORT_CODE ELSE A.ULT_PORT_NAME END),'PR' 
FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK)
WHERE REF_LOAD_NUM_ID=@LNBR AND A.PORT_ARRIVE_REF_ID=0 AND A.ULTPORT_ID=0)

--ONLY ULTPORT
INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],
[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,
FIELD_LAYOUT,EXCEPTION_FIELD, LOAD_NUMBER,CHILD_ID,[KEY1],[FLAG] )
(SELECT (CASE A.REF_VENDOR_CODE WHEN 'AMS'
 THEN (CASE RIGHT(LTRIM(RTRIM(A.FOREIGN_LOADING_PORT)),2) WHEN '00' THEN 'N/W EXCEPTIONS' ELSE 'PORT EXCEPTIONS' END)
 ELSE 'PORT EXCEPTIONS'END),A.BOL_ID,A.BOL_DIRECTION,1,GETDATE(),0,0,A.REF_VENDOR_CODE,'BOL',(CASE ISNULL(A.ULT_PORT_NAME,'') WHEN '' THEN 'ULT_PORT_CODE' ELSE 'ULT_PORT_NAME' END),A.REF_LOAD_NUM_ID,0,(CASE ISNULL(A.ULT_PORT_NAME,'') WHEN '' THEN A.ULT_PORT_CODE ELSE A.ULT_PORT_NAME END),'R' FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK) WHERE REF_LOAD_NUM_ID=@LNBR AND A.ULTPORT_ID=0 AND A.PORT_ARRIVE_REF_ID > 0 AND A.PORT_ARRIVE_REF_ID IS NOT NULL)

--ONLY FPORT 
INSERT INTO [Screen_Test].[dbo].[CTRL_PROCESS_VOYAGE]([PROCESS_NAME],[T_NBR],[DIR],
[KEY],[COMPLETE_STATUS],EXEC_DT,[LOCKED],DQA_CMD_SEQ_NBR,Vendor_Name,
FIELD_LAYOUT,EXCEPTION_FIELD, LOAD_NUMBER,CHILD_ID,[FLAG] )
(SELECT (CASE A.REF_VENDOR_CODE WHEN 'AMS'
 THEN (CASE RIGHT(LTRIM(RTRIM(A.FOREIGN_LOADING_PORT)),2) WHEN '00' THEN 'N/W EXCEPTIONS' ELSE 'PORT EXCEPTIONS' END)
 ELSE 'PORT EXCEPTIONS'END),A.BOL_ID,A.BOL_DIRECTION,(CASE ISNULL(FOREIGN_LOADING_PORT,'') WHEN '' THEN A.PORT_OF_DESTINATION ELSE A.FOREIGN_LOADING_PORT END),1,GETDATE(),0,0,A.REF_VENDOR_CODE,'BOL',(CASE ISNULL(FOREIGN_LOADING_PORT,'') WHEN '' THEN 'PORT_OF_DESTINATION' ELSE 'FOREIGN_LOADING_PORT' END),A.REF_LOAD_NUM_ID,0,'P' FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK) WHERE REF_LOAD_NUM_ID=@LNBR AND A.PORT_ARRIVE_REF_ID=0 AND (A.ULTPORT_ID IS NULL OR A.ULTPORT_ID>0))

END

SET @TIME2= DATEDIFF(N,GETDATE(),@DATE2)
COMMIT TRANSACTION @TRANNAME
SET @cmd = 'ECHO PROCEDURE USP_PES_LOAD_EXCEPTION_TABLES EXECUTED SUCCESSFULLY COMPLETED'+ CAST(@TIME2 AS VARCHAR(20)) + ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD
END TRY
BEGIN CATCH
	SET @ERROR_NUMBER=ERROR_NUMBER()
	SET @ERROR_LINE=ERROR_LINE()
	SET @ERROR_MESSAGE='STORED PROCEDURE USP_PES_LOAD_EXCEPTION_TABLES FAILED AT LINE NUMBER:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()
	
	SET @CMD = 'ECHO ERROR_MESSAGE-- '+@ERROR_MESSAGE+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
    SET @CMD = 'ECHO ERROR_NUMBER-- '+@ERROR_NUMBER+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
	SET @CMD = 'ECHO ERROR_LINE-- '+@ERROR_LINE+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
	
	
	SET @CMD = 'ECHO TRANSACTIONS ROLLBACKED'+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
	RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG

	ROLLBACK TRANSACTION @TRANNAME
END CATCH

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
