/****** Object:  StoredProcedure [dbo].[PES_LOAD_CTRL_PROCESS_CATAGORY]    Script Date: 01/03/2013 19:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_LOAD_CTRL_PROCESS_CATAGORY]
AS

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


DELETE FROM CTRL_PROCESS_CATEGORY WHERE ID>7

INSERT INTO CTRL_PROCESS_CATEGORY(CREATE_DT,UPDATE_DT,ID,
CAT_COLUMN_CODE,DESCRIPTION,VALUES_SQL)
(SELECT DISTINCT GETDATE(),GETDATE(),(SELECT MAX(ID)+1 FROM CTRL_PROCESS_CATEGORY),EXCEPTION_FIELD,REPLACE(EXCEPTION_FIELD,'_',' '),
'SELECT DISTINCT OLD_VALUE value, OLD_VALUE display FROM PES.dbo.PES_INVALID_RECORDS WHERE EXCEPTION_FIELD='''+ EXCEPTION_FIELD +''' AND (OLD_VALUE IS NOT NULL
OR OLD_VALUE!=''  '' )

ORDER BY OLD_VALUE DESC' FROM PES.dbo.PES_INVALID_RECORDS)
GO
