/****** Object:  StoredProcedure [dbo].[LOAD_BILL_DETAILS]    Script Date: 01/03/2013 19:47:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Pramod BN
-- Create date: 24-JAN-2009
-- Description:	LOAD BILL DETAILS
-- =============================================
CREATE PROCEDURE [dbo].[LOAD_BILL_DETAILS] 
	-- Add the parameters for the stored procedure here
	@TNBR INT 
	  
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

---- 09/20/2010
---- Log Start Time
--DECLARE @IdLogOut INT
--DECLARE @ParametersIn varchar(MAX)
--SET @ParametersIn =
-- '@TNBR='''+ CAST(@TNBR AS VARCHAR(100)) +''''
--EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
-- @SprocName = 'LOAD_BILL_DETAILS'
--,@Parameters = @ParametersIn
--,@IdLog = @IdLogOut OUT

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = '@TNBR='''+ CAST(@TNBR AS VARCHAR(100)) +''''
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


  SELECT     T_NBR, ISNULL((CASE CARRIER_ID_MOD WHEN 0 THEN NULL ELSE CARRIER_ID_MOD END), CARRIER_ID) AS CARRIER_ID, 
                      ISNULL((CASE VESSEL_ID_MOD WHEN 0 THEN NULL ELSE VESSEL_ID_MOD END), VESSEL_ID) AS VESSEL_ID, 
                      ISNULL((CASE USPORT_ID_MOD WHEN 0 THEN NULL ELSE USPORT_ID_MOD END), USPORT_ID) AS USPORT_ID, DIR, VOYAGE, DQA_VOYAGE_ID, 
					  ISNULL((CASE FPORT_ID_MOD WHEN 0 THEN NULL ELSE FPORT_ID_MOD END), FPORT_ID) AS FPORT_ID,
				      CNTRY_ID, VDate, 
					  ISNULL((CASE ULTPORT_ID_MOD WHEN 0 THEN NULL ELSE ULTPORT_ID_MOD END), ULTPORT_ID) AS ULTPORT_ID, 
                      EST_VALUE, TEU, SHIPPER_ID, CONSIGNEE_ID, NOTIFY_ID, NVOSCAC, MODIFIED_DT, LOAD_NBR, DAILY_LOAD_DT, RELEASE_FLG, 
                      LOCKED_BY_USR, LOCKED_BY_DATE, BOL_NBR,
                      EDIT_MODE, DAILY_LOAD_PROC, RECEIPT_COUNTRY_CODE, 
                      ISNULL((CASE RCPT_CODE_MOD WHEN ' ' THEN NULL ELSE RCPT_CODE_MOD END), RCPT_CODE) AS RCPT_CODE, 
                      ISNULL((CASE ULT_PORT_CODE_MOD WHEN ' ' THEN NULL ELSE ULT_PORT_CODE_MOD END), ULT_PORT_CODE) AS ULT_PORT_CODE, 
                      ISNULL((CASE FGN_PORT_CODE_MOD WHEN ' ' THEN NULL ELSE FGN_PORT_CODE_MOD END), FGN_PORT_CODE) AS FGN_PORT_CODE, 
                      ISNULL((CASE RECEIPT_ID_MOD WHEN 0 THEN NULL ELSE RECEIPT_ID_MOD END), RECEIPT_ID) AS RECEIPT_ID, 
					  ISNULL((CASE RCPT_ID_MOD WHEN 0 THEN NULL ELSE RCPT_ID_MOD END), RCPT_ID) AS RCPT_ID,
					  ISNULL((CASE REG_ID_MOD WHEN 0 THEN NULL ELSE REG_ID_MOD END), REG_ID) AS REG_ID,
                      ISNULL((CASE BL_NBR_MOD WHEN ' ' THEN NULL ELSE BL_NBR_MOD END), BL_NBR) AS BL_NBR, 
                      ISNULL((CASE CONFLAG_MOD WHEN ' ' THEN NULL ELSE LTRIM(RTRIM(CONFLAG_MOD)) END), LTRIM(RTRIM(CONFLAG))) AS CONFLAG, 
                      ISNULL((CASE CONQTY_MOD WHEN 0 THEN NULL ELSE CONQTY_MOD END), CONQTY) AS CONQTY, 
                      ISNULL((CASE CONLENGTH_MOD WHEN ' ' THEN NULL ELSE CONLENGTH_MOD END), CONLENGTH) AS CONLENGTH, 
                      ISNULL((CASE CONTWIDTH_MOD WHEN ' ' THEN NULL ELSE CONTWIDTH_MOD END), CONTWIDTH) AS CONTWIDTH, 
                      ISNULL((CASE CONTYPE_MOD WHEN ' ' THEN NULL ELSE CONTYPE_MOD END), CONTYPE) AS CONTYPE, 
                      ISNULL((CASE CONSIZE_MOD WHEN ' ' THEN NULL ELSE CONSIZE_MOD END), CONSIZE) AS CONSIZE, 
                      ISNULL((CASE CONVOL_MOD WHEN 0 THEN NULL ELSE CONVOL_MOD END), CONVOL) AS CONVOL, 
                      ISNULL(ISNULL((CASE WEIGHT_MOD WHEN 0 THEN NULL ELSE WEIGHT_MOD END), WEIGHT),0) AS WEIGHT, 
                      ISNULL((CASE REEFER_FLG_MOD WHEN ' ' THEN NULL ELSE REEFER_FLG_MOD END), REEFER_FLG) AS REEFER_FLG, 
                      ISNULL((CASE PAYABLE_FLG_MOD WHEN ' ' THEN NULL ELSE PAYABLE_FLG_MOD END), PAYABLE_FLG) AS PAYABLE_FLG, 
                      ISNULL((CASE FINANCE_FLG_MOD WHEN ' ' THEN NULL ELSE FINANCE_FLG_MOD END), FINANCE_FLG) AS FINANCE_FLG, 
                      ISNULL((CASE NVOCC_FLG_MOD WHEN ' ' THEN NULL ELSE NVOCC_FLG_MOD END), NVOCC_FLG) AS NVOCC_FLG, 
                      ISNULL((CASE RORO_FLG_MOD WHEN ' ' THEN NULL ELSE RORO_FLG_MOD END), RORO_FLG) AS RORO_FLG, 
                      ISNULL((CASE HAZ_FLG_MOD WHEN ' ' THEN NULL ELSE HAZ_FLG_MOD END), HAZ_FLG) AS HAZ_FLG, 
                      ISNULL((CASE DESTINATION_CITY_MOD WHEN ' ' THEN NULL ELSE DESTINATION_CITY_MOD END), DESTINATION_CITY) AS DESTINATION_CITY, 
                      ISNULL((CASE REGISTRY_MOD WHEN ' ' THEN NULL ELSE REGISTRY_MOD END), registry) AS REGISTRY, 
                      RTRIM(LTRIM(ISNULL((CASE MANIFEST_NBR_MOD WHEN ' ' THEN NULL ELSE MANIFEST_NBR_MOD END), MANIFEST_NBR))) AS MANIFEST_NBR, 
                      ISNULL((CASE STATE_MOD WHEN ' ' THEN NULL ELSE STATE_MOD END), STATE) AS STATE, 
                      ISNULL((CASE RECEIPT_CITY_MOD WHEN ' ' THEN NULL ELSE RECEIPT_CITY_MOD END), RECEIPT_CITY) AS RECEIPT_CITY, 
                      ISNULL((CASE CNTRY_MOD WHEN ' ' THEN NULL ELSE CNTRY_MOD END), CNTRY) AS CNTRY, 
                      ISNULL((CASE DESTINATION_ST_MOD WHEN ' ' THEN NULL ELSE DESTINATION_ST_MOD END), DESTINATION_ST) AS DESTINATION_ST, 
                      ISNULL((CASE ULT_PORT_NAME_MOD WHEN ' ' THEN NULL ELSE ULT_PORT_NAME_MOD END), ULT_PORT_NAME) AS ULT_PORT_NAME, 
                      ISNULL((CASE CARRIER_NAME_MOD WHEN ' ' THEN NULL ELSE CARRIER_NAME_MOD END), CARRIER_NAME) AS CARRIER_NAME, 
                      ISNULL((CASE USPORT_NAME_MOD WHEN ' ' THEN NULL ELSE USPORT_NAME_MOD END), USPORT_NAME) AS USPORT_NAME, 
                      ISNULL((CASE FGN_PORT_NAME_MOD WHEN ' ' THEN NULL ELSE FGN_PORT_NAME_MOD END), FGN_PORT_NAME) AS FGN_PORT_NAME, 
                      ISNULL((CASE VESSEL_NAME_MOD WHEN ' ' THEN NULL ELSE VESSEL_NAME_MOD END), VESSEL_NAME) AS VESSEL_NAME, 
                      ISNULL((CASE BANK_MOD WHEN ' ' THEN NULL ELSE BANK_MOD END), BANK) AS BANK, ISNULL(PRECARRIER, '') AS PRECARRIER, 
                      ISNULL(BATCH_ID, '') AS BATCH_ID, ISNULL((CASE USPORT_CODE_MOD WHEN ' ' THEN NULL ELSE USPORT_CODE_MOD END), USPORT_CODE) 
                      AS USPORT_CODE, RTRIM(LTRIM(ISNULL((CASE ORG_DEST_CD_MOD WHEN ' ' THEN NULL ELSE ORG_DEST_CD_MOD END), ORG_DEST_CD))) 
                      AS ORG_DEST_CD, RTRIM(LTRIM(ORG_DEST_FLG)) AS ORG_DEST_FLG, RTRIM(LTRIM(ISNULL(DESTINATION_ID, 0))) AS DESTINATION_ID
FROM         DQA_BL WITH (NOLOCK)
WHERE     (T_NBR = @TNBR)

-- 09/20/2010
-- Log End Time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
