/****** Object:  StoredProcedure [dbo].[PES_SP_STANDARDIZATIONREPORT]    Script Date: 01/03/2013 19:48:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_SP_STANDARDIZATIONREPORT]
	@USERNAME VARCHAR(MAX),	
	@FROMDATE VARCHAR(25),
	@TODATE  VARCHAR(25),
	@DIRECTION	VARCHAR(1)
AS
/* 
Change Log:
Changed By: Cognizant, 2-Nov-2009
Change Desc: Inclusion of Distinct Record Count in the output.
*/

BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

	-----------------------------------------------------------------------------------------------------------------------------------
	DECLARE @DTFROMDATE DATETIME,
			@DTTODATE DATETIME,
            @USERXML XML

	SELECT @DTFROMDATE = CONVERT(DATETIME,@FROMDATE),
		@DTTODATE = CONVERT(DATETIME,@TODATE)
	-- CALL XMLOFUSERS FUNCTION TO RETRIEVE THE USERNAMES IN THE FORM OF XML
    SELECT @USERXML = DBO.XMLOFUSERS(@USERNAME)

	DECLARE @EXCEPTIONNAME VARCHAR(50)

	DECLARE @EXCEPTIONCOUNT TABLE(	
		EXCEPTIONNAME	VARCHAR(50),
		TOTALCOUNT		INT,
		CORRECTEDCOUNT	INT,
		SKIPPEDCOUNT	INT,
		DISTINCTCOUNT	INT				--Cognizant, 2-Nov-2009
	)


	--------------------------------------------------------------------------------------------------------------------------------
	DECLARE @COMPANYEXCEPTIONS TABLE
	(
		BOL_ID	INT,
		STATUS	VARCHAR(50)
	)

	DECLARE @BOL_ID INT
	DECLARE @STATUS VARCHAR(50)
	DECLARE @COUNT INT

	DECLARE @BILLSTATUS TABLE
		(
			STATUS VARCHAR(50)
		)

	--Cognizant, 2-Nov-2009, Start
	DECLARE @COMPANYGROUPS TABLE
	(
		BOL_ID		INT,
		GROUP_ID	INT
	)
	--Cognizant, 2-Nov-2009, End

--------------------------------------------------------------------------------------------------------------------------------
	DECLARE @TOTALBILLSCORRECTED INT
	DECLARE @TOTALBILLSDELETED INT

	DECLARE @TOTALBILLSCORRECTED_QC INT	
	DECLARE @TOTALBILLSCORRECTED_COMPANY INT

	DECLARE @TOTALBILLSDELETED_QC INT
	DECLARE @TOTALBILLSDELETED_COMPANY INT
	
	SELECT @TOTALBILLSCORRECTED_QC =0
	SELECT @TOTALBILLSCORRECTED_COMPANY=0
	
	SELECT @TOTALBILLSCORRECTED=0
	SELECT @TOTALBILLSDELETED=0

	SELECT @TOTALBILLSDELETED_QC=0
	SELECT @TOTALBILLSDELETED_COMPANY=0
------------------------------------------------------------COMPANY COUNTS----------------------------------------------------------
	--SINCE A BILL CAN HAVE MULTIPLE COMPANIES, AND WE NEED TO HAVE COUNTS AT BILL LEVEL, WE DETERMINE THE COUNTS AS FOLLOWS.
	--IF A BILL HAS EVEN ONE PENDING COMPANY, CONSIDER THE BILL HAS PENDING
	--IF A BILL HAS EVEN NO PENDING COMPANIES, AND AT LEAST ONE SKIPPED COMPANY, CONSIDER THE BILL HAS SKIPPED
	--ELSE, CONSIDER THE BILL HAS CORRECTED, IF THERE ARE NO PENDING OR SKIPPED COMPANIES

	INSERT INTO @COMPANYEXCEPTIONS(BOL_ID,STATUS)
	SELECT DISTINCT BOL_ID,STATUS
	FROM PES.DBO.PES_TRANSACTIONS_LIB_PTY WITH (NOLOCK)
	WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
	AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFROMDATE AND @DTTODATE

	--Cognizant, 2-Nov-2009, Start
	--Get the Group Ids from PES_TRANSACTIONS_LIB_PTY table
	INSERT INTO @COMPANYGROUPS(BOL_ID,GROUP_ID)
	SELECT DISTINCT BOL_ID,GROUP_ID
	FROM PES.DBO.PES_TRANSACTIONS_LIB_PTY WITH (NOLOCK)
	WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
	AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFROMDATE AND @DTTODATE
	--Cognizant, 2-Nov-2009, End

	--THIS CURSOR IS NEEDED TO DETERMINE THE FOLLOWING.
	--IF A BILL HAS MORE THAN 1 COMPANY RECORD WITH DIFFERENT STATUS (CLEANSED AND PENDING), 
	--CONSIDER THE BILL-LEVEL STATUS AS 'PENDING'
	DECLARE CURCOMPANY CURSOR FOR 
	SELECT BOL_ID
	FROM PES.DBO.PES_TRANSACTIONS_LIB_PTY WITH (NOLOCK)
	WHERE MODIFIED_BY IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
	AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFROMDATE AND @DTTODATE
	GROUP BY BOL_ID
	HAVING COUNT(DISTINCT STATUS) > 1

	OPEN CURCOMPANY
	FETCH NEXT FROM CURCOMPANY INTO @BOL_ID

	WHILE @@FETCH_STATUS=0
	BEGIN	
		SELECT @STATUS=''
		DELETE FROM @BILLSTATUS
		DELETE FROM @COMPANYEXCEPTIONS WHERE BOL_ID=@BOL_ID
		
		INSERT INTO @BILLSTATUS(STATUS)
		SELECT STATUS FROM PES.DBO.PES_TRANSACTIONS_LIB_PTY WITH (NOLOCK)
		WHERE BOL_ID = @BOL_ID

		IF EXISTS(SELECT STATUS FROM @BILLSTATUS WHERE UPPER(STATUS) = 'PENDING')
			SELECT @STATUS = 'PENDING'
		ELSE IF EXISTS(SELECT STATUS FROM @BILLSTATUS WHERE UPPER(STATUS) = 'CLEANSED')
			SELECT @STATUS = 'CLEANSED'				

		INSERT INTO @COMPANYEXCEPTIONS(BOL_ID,STATUS)
		SELECT @BOL_ID,@STATUS

	FETCH NEXT FROM CURCOMPANY INTO @BOL_ID
	END

	CLOSE CURCOMPANY
	DEALLOCATE CURCOMPANY

	--TOTAL COUNT
	INSERT INTO @EXCEPTIONCOUNT(EXCEPTIONNAME,TOTALCOUNT)
	SELECT 'COMPANY EXCEPTIONS',ISNULL(COUNT(C.BOL_ID),0)
	FROM @COMPANYEXCEPTIONS C JOIN
	PES.DBO.PES_STG_BOL B WITH (NOLOCK)
	ON C.BOL_ID=B.BOL_ID
	WHERE B.BOL_DIRECTION=@DIRECTION

	--CORRECTED COUNT
	UPDATE @EXCEPTIONCOUNT
	SET CORRECTEDCOUNT = ISNULL(A.CORRECTED_COUNT,0)
	FROM 
	(
		SELECT COUNT(C.BOL_ID) AS CORRECTED_COUNT
		FROM @COMPANYEXCEPTIONS C 
		JOIN PES.DBO.PES_STG_BOL B WITH (NOLOCK)
		ON C.BOL_ID=B.BOL_ID
		WHERE B.BOL_DIRECTION=@DIRECTION
		AND C.STATUS='CLEANSED'
	)A
	WHERE EXCEPTIONNAME='COMPANY EXCEPTIONS'
	
	--Cognizant, 2-Nov-2009, Start
	--DISTINCT RECORD COUNT
	UPDATE @EXCEPTIONCOUNT
	SET DISTINCTCOUNT = ISNULL(A.DISTINCT_COUNT,0)
	FROM 
	(
		SELECT COUNT(DISTINCT G.GROUP_ID) AS DISTINCT_COUNT
		FROM @COMPANYGROUPS G 
		JOIN @COMPANYEXCEPTIONS C
		ON G.BOL_ID=C.BOL_ID	
		JOIN PES.DBO.PES_STG_BOL B WITH (NOLOCK)
		ON C.BOL_ID=B.BOL_ID
		WHERE B.BOL_DIRECTION=@DIRECTION
		AND C.STATUS='CLEANSED'
	)A
	WHERE EXCEPTIONNAME='COMPANY EXCEPTIONS'
	--Cognizant, 2-Nov-2009, End
	------------------------------------------------------------QC RULE COUNTS----------------------------------------------------------
	--TOTAL COUNT
	INSERT INTO @EXCEPTIONCOUNT(EXCEPTIONNAME,TOTALCOUNT)
	SELECT PROCESS_NAME,COUNT(T_NBR)
	FROM SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE WITH (NOLOCK)
	WHERE OWNER_ID IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
	AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFROMDATE AND @DTTODATE
	AND DIR=@DIRECTION
	GROUP BY PROCESS_NAME

	--CORRECTED COUNT
	UPDATE E
	SET CORRECTEDCOUNT = ISNULL(C.CORRECTED_COUNT,0)
	FROM @EXCEPTIONCOUNT E
	LEFT OUTER JOIN
	(
		SELECT PROCESS_NAME,COUNT(T_NBR) AS 'CORRECTED_COUNT'
		FROM SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE WITH (NOLOCK)
		WHERE OWNER_ID IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFROMDATE AND @DTTODATE
		AND COMPLETE_STATUS=0
		AND DIR=@DIRECTION
		GROUP BY PROCESS_NAME
	)C
	ON E.EXCEPTIONNAME = C.PROCESS_NAME	
	WHERE  E.EXCEPTIONNAME <> 'COMPANY EXCEPTIONS'
	
	--SKIPPEDCOUNT
	--AS SKIPPED FEATURE IS NOT YET IMPLEMENTED FOR USER 9 SCREEN, WE ARE PRESENTLY SETTING SKIPPED COUNT TO 0
	UPDATE @EXCEPTIONCOUNT
	SET SKIPPEDCOUNT=0

	--DISTINCT RECORD COUNTS
	--Cognizant, 2-Nov-2009, Start
	UPDATE E
	SET DISTINCTCOUNT = ISNULL(C.DISTINCT_COUNT,0)
	FROM @EXCEPTIONCOUNT E
	LEFT OUTER JOIN
	(
		SELECT PROCESS_NAME,COUNT(DISTINCT ISNULL([KEY],''))AS 'DISTINCT_COUNT'
		FROM SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE WITH (NOLOCK)
		WHERE OWNER_ID IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFROMDATE AND @DTTODATE
		AND COMPLETE_STATUS=0
		AND DIR=@DIRECTION
		GROUP BY PROCESS_NAME
		
	)C
	ON E.EXCEPTIONNAME = C.PROCESS_NAME	
	WHERE  E.EXCEPTIONNAME <> 'COMPANY EXCEPTIONS'
	--Cognizant, 2-Nov-2009, End

	-------------------------------------------------------------Bill Wise Counts------------------------------------------------------
	--Bill Wise Corrected Counts
	SELECT @TOTALBILLSCORRECTED = ISNULL(COUNT(A.BOL_ID),0) 	
	FROM
	(
		SELECT DISTINCT T_NBR AS BOL_ID
		FROM SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE WITH (NOLOCK)
		WHERE OWNER_ID IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFROMDATE AND @DTTODATE
		AND COMPLETE_STATUS=0
		AND DIR=@DIRECTION			
		--Cognizant, 2-Nov-2009, Start	
		--SELECT BOL_ID FROM @COMPANYEXCEPTIONS WHERE STATUS='CORRECTED'		
		--Cognizant, 2-Nov-2009, Start
	)A

	--Cognizant, 2-Nov-2009, Start
	--Corrected Bills (that had Company Standardization Exceptions)
	SELECT @TOTALBILLSCORRECTED = @TOTALBILLSCORRECTED + ISNULL(CORRECTEDCOUNT,0)
	FROM @EXCEPTIONCOUNT
	WHERE EXCEPTIONNAME = 'COMPANY EXCEPTIONS'
	--Cognizant, 2-Nov-2009, End
		
	--Bill Wise Deleted Counts
	SELECT @TOTALBILLSDELETED = ISNULL(COUNT(BOL_ID),0)
	FROM
	(
		SELECT DISTINCT T_NBR AS BOL_ID
		FROM SCREEN_TEST.DBO.CTRL_PROCESS_VOYAGE C WITH (NOLOCK)
		WHERE OWNER_ID IN (SELECT X.I.value('.', 'VARCHAR(50)') FROM @USERXML.nodes('//I') AS X(I))
		AND CONVERT(DATETIME,CONVERT(VARCHAR(11),MODIFIED_DT)) BETWEEN @DTFROMDATE AND @DTTODATE
		AND DIR=@DIRECTION	
		AND EXISTS (SELECT T_NBR FROM SCREEN_TEST.DBO.DQA_BL B WHERE B.T_NBR=C.T_NBR AND IS_DELETED = 'Y')  
	
		UNION
	
		SELECT BOL_ID
		FROM @COMPANYEXCEPTIONS C
		WHERE EXISTS (SELECT T_NBR FROM SCREEN_TEST.DBO.DQA_BL B WHERE B.T_NBR=C.BOL_ID AND IS_DELETED = 'Y')  
	)A
	----------------------------------------------------------------------------------------------------------------------------------
	SELECT EXCEPTIONNAME 'EXCEPTION NAME', CORRECTEDCOUNT AS 'CORRECTED',SKIPPEDCOUNT AS 'SKIPPED',TOTALCOUNT AS 'TOTAL',DISTINCTCOUNT AS 'DISTINCT'	
	FROM @EXCEPTIONCOUNT
	----------------------------------------------------------------------------------------------------------------------------------
	SELECT @TOTALBILLSCORRECTED AS 'CORRECTEDBILLCOUNT'

	SELECT @TOTALBILLSDELETED AS 'DELETEDBILLCOUNT'

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
