/****** Object:  StoredProcedure [dbo].[PES_SP_JOCAMSSTATUSVIEWREPORT]    Script Date: 01/03/2013 19:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_SP_JOCAMSSTATUSVIEWREPORT]
   @STARTDATE VARCHAR(50),
   @ENDDATE VARCHAR(50),
   @DIRECTION VARCHAR(2)
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

 
--SELECT @STARTDATE = '04/1/2009'
--SELECT @ENDDATE = '04/30/2009'           
--SELECT @DIRECTION = 'E'
--------------------------------------------------------AVALILABLE-------------------------------------------
--AVALILABLE COMPLETE
	SELECT COUNT(*) ACOMPLETE     
	FROM BL_BL A  WITH (NOLOCK) 
	INNER JOIN DQA_VOYAGE C WITH (NOLOCK) 
	ON A.DQA_VOYAGE_ID = C.VOYAGE_ID
	WHERE C.VOYAGE_STATUS = 'AVAILABLE' 
	AND	(C.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE))) 
	AND C.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE))))
	AND A.DIR = @DIRECTION
	AND (ISNULL(A.BOL_STATUS, '') NOT IN ('MASTER','TEMPMASTER','HOUSE')) 
--	AND A.T_NBR NOT IN (SELECT T_NBR FROM BL_CACHE (NOLOCK))
	AND not exists (select 1 from BL_CACHE Z WITH (NOLOCK) WHERE A.T_NBR=Z.T_NBR)

--AVALILABLE PENDING	
	SELECT COUNT(*) APENDING     
	FROM BL_CACHE B WITH (NOLOCK) 
	INNER JOIN BL_BL A  WITH (NOLOCK)  ON A.T_NBR = B.T_NBR 
	INNER JOIN DQA_VOYAGE C WITH (NOLOCK) ON A.DQA_VOYAGE_ID = C.VOYAGE_ID
	WHERE C.VOYAGE_STATUS = 'AVAILABLE' 
	AND B.DQA_BL_STATUS = 'PENDING'
	AND	(C.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE))) 
		 AND C.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE))))
	AND B.DIR = @DIRECTION
	AND (ISNULL(A.BOL_STATUS, '') NOT IN ('MASTER','TEMPMASTER','HOUSE')) 

--AVALILABLE CLEANSED
	SELECT COUNT(*) ACLEANSED     
	FROM BL_CACHE B WITH (NOLOCK) 
	INNER JOIN BL_BL A  WITH (NOLOCK)  ON A.T_NBR = B.T_NBR 
	INNER JOIN DQA_VOYAGE C WITH (NOLOCK) ON A.DQA_VOYAGE_ID = C.VOYAGE_ID
	WHERE C.VOYAGE_STATUS = 'AVAILABLE' 
	AND B.DQA_BL_STATUS IN ('CLEANSED','PARTIAL')
	AND	(C.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE))) 
		 AND C.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE))))
	AND B.DIR = @DIRECTION
	AND (ISNULL(A.BOL_STATUS, '') NOT IN ('MASTER','TEMPMASTER','HOUSE')) 

--AVALILABLE SKIPPED
	SELECT COUNT(*) ASKIPPED     
	FROM BL_CACHE B WITH (NOLOCK) 
	INNER JOIN BL_BL A  WITH (NOLOCK)  ON A.T_NBR = B.T_NBR 
	INNER JOIN DQA_VOYAGE C WITH (NOLOCK) ON A.DQA_VOYAGE_ID = C.VOYAGE_ID
	WHERE C.VOYAGE_STATUS = 'AVAILABLE' 
	AND B.DQA_BL_STATUS = 'SKIPPED'
	AND	(C.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE))) 
		 AND C.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE))))
	AND B.DIR = @DIRECTION
	AND (ISNULL(A.BOL_STATUS, '') NOT IN ('MASTER','TEMPMASTER','HOUSE')) 

--AVALILABLE DELETED
	SELECT COUNT(*) ADELETED     
	FROM BL_BL A  WITH (NOLOCK) 
	INNER JOIN DQA_VOYAGE C WITH (NOLOCK) 
	ON A.DQA_VOYAGE_ID = C.VOYAGE_ID
	WHERE C.VOYAGE_STATUS = 'AVAILABLE' 
	AND	(C.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE))) 
	AND C.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE))))
	AND A.DIR = @DIRECTION
	AND (ISNULL(A.BOL_STATUS, '') NOT IN ('MASTER','TEMPMASTER','HOUSE')) 
	AND A.T_NBR IN (SELECT T_NBR FROM BL_CACHE WITH (NOLOCK))
	AND A.IS_DELETED = 'Y' 
--------------------------------------------------------HOLD------------------------------------------------
--HOLD COMPLETE
	SELECT COUNT(*) HCOMPLETE 
	FROM BL_BL A  WITH (NOLOCK) 
	INNER JOIN DQA_VOYAGE C WITH (NOLOCK) 
	ON A.DQA_VOYAGE_ID = C.VOYAGE_ID
	WHERE C.VOYAGE_STATUS = 'HOLD' 
	AND	(C.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE))) 
	AND C.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE))))
	AND A.DIR = @DIRECTION
	AND (ISNULL(A.BOL_STATUS, '') NOT IN ('MASTER','TEMPMASTER','HOUSE')) 
--	AND A.T_NBR NOT IN (SELECT T_NBR FROM BL_CACHE (NOLOCK))
	AND not exists (select 1 from BL_CACHE Z WITH (NOLOCK) WHERE A.T_NBR=Z.T_NBR)

--HOLD PENDING
	SELECT COUNT(*) HPENDING 
	FROM BL_CACHE B WITH (NOLOCK) 
	INNER JOIN BL_BL A  WITH (NOLOCK)  ON A.T_NBR = B.T_NBR 
	INNER JOIN DQA_VOYAGE C WITH (NOLOCK) ON A.DQA_VOYAGE_ID = C.VOYAGE_ID
	WHERE C.VOYAGE_STATUS = 'HOLD' 
	AND B.DQA_BL_STATUS = 'PENDING'
	AND	(C.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE))) 
		 AND C.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE))))
	AND B.DIR = @DIRECTION
	AND (ISNULL(A.BOL_STATUS, '') NOT IN ('MASTER','TEMPMASTER','HOUSE')) 

--HOLD CLEANSED
	SELECT COUNT(*) HCLEANSED 
	FROM BL_CACHE B WITH (NOLOCK) 
	INNER JOIN BL_BL A  WITH (NOLOCK)  ON A.T_NBR = B.T_NBR 
	INNER JOIN DQA_VOYAGE C WITH (NOLOCK) ON A.DQA_VOYAGE_ID = C.VOYAGE_ID
	WHERE C.VOYAGE_STATUS = 'HOLD' 
	AND B.DQA_BL_STATUS  IN ('CLEANSED','PARTIAL')
	AND	(C.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE))) 
		 AND C.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE))))
	AND B.DIR = @DIRECTION
	AND (ISNULL(A.BOL_STATUS, '') NOT IN ('MASTER','TEMPMASTER','HOUSE')) 

--HOLD SKIPPED
	SELECT COUNT(*) HSKIPPED 
	FROM BL_CACHE B WITH (NOLOCK) 
	INNER JOIN BL_BL A  WITH (NOLOCK)  ON A.T_NBR = B.T_NBR 
	INNER JOIN DQA_VOYAGE C WITH (NOLOCK) ON A.DQA_VOYAGE_ID = C.VOYAGE_ID
	WHERE C.VOYAGE_STATUS = 'HOLD' 
	AND B.DQA_BL_STATUS = 'SKIPPED'
	AND	(C.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE))) 
		 AND C.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE))))
	AND B.DIR = @DIRECTION
	AND (ISNULL(A.BOL_STATUS, '') NOT IN ('MASTER','TEMPMASTER','HOUSE')) 

--HOLD DELETED
	SELECT COUNT(*) HDELETED 
	FROM BL_BL A  WITH (NOLOCK) 
	INNER JOIN DQA_VOYAGE C WITH (NOLOCK) 
	ON A.DQA_VOYAGE_ID = C.VOYAGE_ID
	WHERE C.VOYAGE_STATUS = 'HOLD' 
	AND	(C.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE))) 
	AND C.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE))))
	AND A.DIR = @DIRECTION
	AND (ISNULL(A.BOL_STATUS, '') NOT IN ('MASTER','TEMPMASTER','HOUSE')) 
	AND A.T_NBR IN (SELECT T_NBR FROM BL_CACHE WITH (NOLOCK))
	AND A.IS_DELETED = 'Y' 
--------------------------------------------------------REJECTED------------------------------------------------
--REJECTED COMPLETE
	SELECT COUNT(*) RCOMPLETE 
	FROM BL_BL A  WITH (NOLOCK) 
	INNER JOIN DQA_VOYAGE C WITH (NOLOCK) 
	ON A.DQA_VOYAGE_ID = C.VOYAGE_ID
	WHERE C.VOYAGE_STATUS = 'REJECTED' 
	AND	(C.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE))) 
	AND C.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE))))
	AND A.DIR = @DIRECTION
	AND (ISNULL(A.BOL_STATUS, '') NOT IN ('MASTER','TEMPMASTER','HOUSE')) 
--	AND A.T_NBR NOT IN (SELECT T_NBR FROM BL_CACHE (NOLOCK))
	AND not exists (select 1 from BL_CACHE Z WITH (NOLOCK) WHERE A.T_NBR=Z.T_NBR)

--REJECTED PENDING
	SELECT COUNT(*) RPENDING 
	FROM BL_CACHE B WITH (NOLOCK) 
	INNER JOIN BL_BL A  WITH (NOLOCK)  ON A.T_NBR = B.T_NBR 
	INNER JOIN DQA_VOYAGE C WITH (NOLOCK) ON A.DQA_VOYAGE_ID = C.VOYAGE_ID
	WHERE C.VOYAGE_STATUS = 'REJECTED' 
	AND B.DQA_BL_STATUS = 'PENDING'
	AND	(C.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE))) 
		 AND C.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE))))
	AND B.DIR = @DIRECTION
	AND (ISNULL(A.BOL_STATUS, '') NOT IN ('MASTER','TEMPMASTER','HOUSE')) 

--REJECTED CLEANSED
	SELECT COUNT(*) RCLEANSED 
	FROM BL_CACHE B WITH (NOLOCK) 
	INNER JOIN BL_BL A  WITH (NOLOCK)  ON A.T_NBR = B.T_NBR 
	INNER JOIN DQA_VOYAGE C WITH (NOLOCK) ON A.DQA_VOYAGE_ID = C.VOYAGE_ID
	WHERE C.VOYAGE_STATUS = 'REJECTED' 
	AND B.DQA_BL_STATUS  IN ('CLEANSED','PARTIAL')
	AND	(C.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE))) 
		 AND C.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE))))
	AND B.DIR = @DIRECTION
	AND (ISNULL(A.BOL_STATUS, '') NOT IN ('MASTER','TEMPMASTER','HOUSE'))

--REJECTED SKIPPED
	SELECT COUNT(*) RSKIPPED 
	FROM BL_CACHE B WITH (NOLOCK) 
	INNER JOIN BL_BL A  WITH (NOLOCK)  ON A.T_NBR = B.T_NBR 
	INNER JOIN DQA_VOYAGE C WITH (NOLOCK) ON A.DQA_VOYAGE_ID = C.VOYAGE_ID
	WHERE C.VOYAGE_STATUS = 'REJECTED' 
	AND B.DQA_BL_STATUS = 'SKIPPED'
	AND	(C.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE))) 
		 AND C.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE))))
	AND B.DIR = @DIRECTION
	AND (ISNULL(A.BOL_STATUS, '') NOT IN ('MASTER','TEMPMASTER','HOUSE')) 

--REJECTED DELETED
	SELECT COUNT(*) RDELETED 
	FROM BL_BL A  WITH (NOLOCK) 
	INNER JOIN DQA_VOYAGE C WITH (NOLOCK) 
	ON A.DQA_VOYAGE_ID = C.VOYAGE_ID
	WHERE C.VOYAGE_STATUS = 'REJECTED' 
	AND	(C.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE))) 
	AND C.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE))))
	AND A.DIR = @DIRECTION
	AND (ISNULL(A.BOL_STATUS, '') NOT IN ('MASTER','TEMPMASTER','HOUSE')) 
	AND A.T_NBR IN (SELECT T_NBR FROM BL_CACHE WITH (NOLOCK))
	AND A.IS_DELETED = 'Y' 
----------------------------------------------------------DATAWAREHOUSE------------------------------------------------------
--DATAWAREHOUSE COUNT
	SELECT COUNT(*) PPMMCOUNT 
	FROM PES.DBO.PES_STG_BOL A WITH (NOLOCK) JOIN DQA_VOYAGE B WITH (NOLOCK) 
	ON A.STND_VOYG_ID=B.VOYAGE_ID 
	WHERE A.PPMM_FLAG='Y' 
	AND (B.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE)))
	AND B.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE))))
	AND A.BOL_DIRECTION = @DIRECTION

--READY FOR DATAWAREHOUSE
	SELECT COUNT(*) RDYFORDWCOUNT     
	FROM BL_BL A  WITH (NOLOCK) 
	INNER JOIN DQA_VOYAGE C WITH (NOLOCK) 
	ON A.DQA_VOYAGE_ID = C.VOYAGE_ID
	WHERE C.VOYAGE_STATUS = 'AVAILABLE' 
	AND	(C.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE))) 
	AND C.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE))))
	AND A.DIR = @DIRECTION
	AND (ISNULL(A.BOL_STATUS, '') NOT IN ('MASTER','TEMPMASTER','HOUSE','')) 
	AND A.DQA_BL_STATUS IN ('AUTOMATED','CLEANSED')
----------------------------------------------------PENDING ITEMS BREAKDOWN----------------------------------------------------
--PURE COMMODITY EXCEPTIONS
SELECT COUNT(B.T_NBR) BCOMM
FROM  BL_BL AS A WITH (NOLOCK)
INNER JOIN BL_CACHE AS B WITH (NOLOCK) ON A.T_NBR = B.T_NBR
INNER JOIN DQA_VOYAGE AS C WITH (NOLOCK) ON A.DQA_VOYAGE_ID = C.VOYAGE_ID
WHERE C.VOYAGE_STATUS = 'AVAILABLE' 
AND (ISNULL(A.BOL_STATUS, '') NOT IN ('MASTER', 'TEMPMASTER', 'HOUSE')) 
AND	(C.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE))) AND C.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE))))
AND B.DIR = @DIRECTION
AND B.COMMODITY IS NOT NULL 
AND (
		CASE B.CONSIGNEE WHEN '' THEN 'Y' ELSE SUBSTRING(B.CONSIGNEE,CHARINDEX('!',B.CONSIGNEE)+2,1) END ='Y' 
		AND  CASE B.SHIPPER WHEN '' THEN 'Y' ELSE SUBSTRING(B.SHIPPER ,CHARINDEX('!',B.SHIPPER)+2,1) END ='Y' 
		AND  CASE B.NOTIFY WHEN '' THEN 'Y' ELSE SUBSTRING(B.NOTIFY  ,CHARINDEX('!',B.NOTIFY)+2,1) END ='Y' 
		AND  CASE B.ALSONOTIFY WHEN '' THEN 'Y' ELSE SUBSTRING(B.ALSONOTIFY  ,CHARINDEX('!',B.ALSONOTIFY)+2,1) END ='Y'
	)
AND B.DQA_BL_STATUS = 'PENDING'

--PURE PARTY EXCEPTIONS
SELECT COUNT(B.T_NBR) BCOMP 
FROM  BL_BL AS A WITH (NOLOCK)
INNER JOIN BL_CACHE AS B WITH (NOLOCK) ON A.T_NBR = B.T_NBR
INNER JOIN DQA_VOYAGE AS C WITH (NOLOCK) ON A.DQA_VOYAGE_ID = C.VOYAGE_ID
WHERE C.VOYAGE_STATUS = 'AVAILABLE' 
AND (ISNULL(A.BOL_STATUS, '') NOT IN ('MASTER', 'TEMPMASTER', 'HOUSE')) 
AND	(
		C.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE)))
		AND C.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE)))
	)
AND B.DIR = @DIRECTION
AND ISNULL(CAST(B.COMMODITY AS VARCHAR(MAX)),'')='' 
AND (
		SUBSTRING(B.CONSIGNEE,CHARINDEX('!',B.CONSIGNEE)+2,1) = 'N' 
		OR SUBSTRING(B.SHIPPER ,CHARINDEX('!',B.SHIPPER)+2,1) = 'N' 
		OR  SUBSTRING(B.NOTIFY  ,CHARINDEX('!',B.NOTIFY)+2,1) = 'N' 
		OR SUBSTRING(B.ALSONOTIFY  ,CHARINDEX('!',B.ALSONOTIFY)+2,1) = 'N'
)
AND B.DQA_BL_STATUS = 'PENDING'

--PARTY AND COMMODITY EXCEPTIONS
SELECT COUNT(B.T_NBR) BCOMMCOMP 
FROM  BL_BL AS A WITH (NOLOCK)
INNER JOIN BL_CACHE AS B WITH (NOLOCK) ON A.T_NBR = B.T_NBR
INNER JOIN DQA_VOYAGE AS C WITH (NOLOCK) ON A.DQA_VOYAGE_ID = C.VOYAGE_ID
WHERE C.VOYAGE_STATUS = 'AVAILABLE' 
AND (ISNULL(A.BOL_STATUS, '') NOT IN ('MASTER', 'TEMPMASTER', 'HOUSE')) 
AND	(
		C.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE)))
		AND C.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE)))
	)
AND B.DIR = @DIRECTION
AND (
		B.COMMODITY IS NOT NULL 
		AND (SUBSTRING(B.CONSIGNEE,CHARINDEX('!',B.CONSIGNEE)+2,1) = 'N' 
			OR  SUBSTRING(B.SHIPPER ,CHARINDEX('!',B.SHIPPER)+2,1) = 'N' 
			OR SUBSTRING(B.NOTIFY  ,CHARINDEX('!',B.NOTIFY)+2,1) = 'N' 
			OR  SUBSTRING(B.ALSONOTIFY  ,CHARINDEX('!',B.ALSONOTIFY)+2,1) = 'N'
			)
	)
AND B.DQA_BL_STATUS = 'PENDING'
-----------------------------------------------------AUTOMATION PERCENTAGE------------------------------------------------------
--TOTAL BILL COUNT WITH COMMODITY STRUCTURE EXCEPTIONS
	SELECT COUNT(B.T_NBR) AUTOCOMM
	FROM  BL_BL AS A WITH (NOLOCK)
	INNER JOIN BL_CACHE AS B WITH (NOLOCK) ON A.T_NBR = B.T_NBR
	INNER JOIN DQA_VOYAGE AS C WITH (NOLOCK) ON A.DQA_VOYAGE_ID = C.VOYAGE_ID
	WHERE C.VOYAGE_STATUS = 'AVAILABLE' 
	AND (ISNULL(A.BOL_STATUS, '') NOT IN ('MASTER', 'TEMPMASTER', 'HOUSE')) 
	AND	(C.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE))) AND C.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE))))
	AND B.DIR = @DIRECTION
	AND B.COMMODITY IS NOT NULL 

--TOTAL BILL COUNT WITH PARTY STRUCTURE EXCEPTIONS
	SELECT COUNT(B.T_NBR) AUTOCOMP 
	FROM  BL_BL AS A WITH (NOLOCK)
	INNER JOIN BL_CACHE AS B WITH (NOLOCK) ON A.T_NBR = B.T_NBR
	INNER JOIN DQA_VOYAGE AS C WITH (NOLOCK) ON A.DQA_VOYAGE_ID = C.VOYAGE_ID
	WHERE C.VOYAGE_STATUS = 'AVAILABLE' 
	AND (ISNULL(A.BOL_STATUS, '') NOT IN ('MASTER', 'TEMPMASTER', 'HOUSE')) 
	AND	(
			C.ACT_ARRIVAL_DT >= CONVERT(DATETIME, LTRIM(RTRIM(@STARTDATE)))
			AND C.ACT_ARRIVAL_DT <= CONVERT(DATETIME, LTRIM(RTRIM(@ENDDATE)))
		)
	AND B.DIR = @DIRECTION
	AND (
			SUBSTRING(B.CONSIGNEE,CHARINDEX('!',B.CONSIGNEE)+2,1) = 'N' 
			OR SUBSTRING(B.SHIPPER ,CHARINDEX('!',B.SHIPPER)+2,1) = 'N' 
			OR  SUBSTRING(B.NOTIFY  ,CHARINDEX('!',B.NOTIFY)+2,1) = 'N' 
			OR SUBSTRING(B.ALSONOTIFY  ,CHARINDEX('!',B.ALSONOTIFY)+2,1) = 'N'
	)
------------------------------------------------------------------------------------------------------------------------------------

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
