/****** Object:  StoredProcedure [dbo].[INSERT_REF_FPORT]    Script Date: 01/03/2013 19:47:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CTS - 7th January 2010
--modifications done to the unique constraint.
--the unique constraint has been changed to (PortCode and Piers Port name)

CREATE PROCEDURE [dbo].[INSERT_REF_FPORT]  
   @port_name varchar(max),
   @piers_port_name varchar(max),
   @port_code varchar(max),
   @COUNTRY varchar(max),
   @modif_by varchar(max),
   @deep_water_flag varchar(max),
   @RETURN_VALUE INT OUTPUT
   /*
   *   SSMA warning messages:
   *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
   */

   --@Out_Id float(53)  OUTPUT
AS 
   
   /*
   *   Generated by SQL Server Migration Assistant for Oracle.
   *   Contact ora2sql@microsoft.com or visit http://www.microsoft.com/sql/migration for more information.
   */
   BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


      --SET @Out_Id = 1

--      SELECT @Out_ID = sysdb.ssma_oracle.db_get_next_sequence_value(N'TBRD_PRD', N'dbo', N'SEQ_REF_FPORT')
		DECLARE @RECCOUNT AS INT
--		SELECT @RECCOUNT = COUNT(*) FROM PES.DBO.REF_PORT
--			WHERE CODE=@PORT_CODE AND PORT_NAME=@PORT_NAME AND PIERS_NAME=@PIERS_PORT_NAME
--				AND IS_US_PORT = 0
		SELECT @RECCOUNT = COUNT(*) FROM PES.DBO.REF_PORT WITH (NOLOCK)
			WHERE CODE=@PORT_CODE AND PIERS_NAME=@PIERS_PORT_NAME
				--AND IS_US_PORT = 0

		IF @RECCOUNT = 0
		BEGIN

			INSERT PES.dbo.REF_PORT(
			 CODE, 
			 [PORT_NAME], 
			 PIERS_NAME, 
			 COUNTRY, 
			 DELETED, 
			 MODIFIED_BY, 
			 MODIFIED_DT,
			 DEEPWATER_FLG,
			 IS_US_PORT,
			 PIERS_PORT_CODE)
			 VALUES (
				@port_code, 
				@port_name, 
				@piers_port_name, 
				@COUNTRY, 
				'N', 
				@modif_by, 
				getdate(),
				@deep_water_flag,
				0,
				@PORT_CODE)
			SET @RETURN_VALUE=(select max(id) from PES.dbo.ref_port WITH (NOLOCK))
		END
		ELSE
			SET @RETURN_VALUE = 1

--	SET @Out_Id = (select max(id) from PES.dbo.ref_port)
--    exec Insert_Hist_Port(port_name,Out_Id,modif_by);
--      IF @@TRANCOUNT > 0
--         COMMIT WORK 

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

   END
GO
