/****** Object:  StoredProcedure [dbo].[INSERT_REF_COUNTRY]    Script Date: 01/03/2013 19:47:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_REF_COUNTRY]  
   @COUNTRY varchar(max),
   @piers_country varchar(max),
   @joc_code int,
   @modif_by varchar(max),

   @RETURN_VALUE INT OUT
   /*
   *   SSMA warning messages:
   *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
   */

   --@Out_Id float(53)  OUTPUT
--modifications done to check for duplicate entries and to enter the joc code to the table -- CTS -- 10th July 2009

AS 
   
   /*
   *   Generated by SQL Server Migration Assistant for Oracle.
   *   Contact ora2sql@microsoft.com or visit http://www.microsoft.com/sql/migration for more information.
   */
   BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


	  DECLARE @RECCOUNT int
--      SET @Out_Id = 1

SELECT @RECCOUNT=count(*) FROM [PES].[dbo].[REF_COUNTRY] WITH (NOLOCK)
WHERE COUNTRY=@COUNTRY AND PIERS_COUNTRY=@piers_country

--      SELECT @Out_ID = sysdb.ssma_oracle.db_get_next_sequence_value(N'TBRD_PRD', N'dbo', N'SEQ_REF_COUN')

IF @RECCOUNT = 0
	BEGIN
      INSERT PES.dbo.REF_COUNTRY(
         COUNTRY, 
         PIERS_COUNTRY, 
		 joc_code,
         MODIFIED_BY, 
         MODIFIED_DT)
         VALUES (
            @COUNTRY, 
            @piers_country, 
			@joc_code,
            @modif_by, 
            getdate())
		SET @RETURN_VALUE = (select max(COUNTRY_ID) from PES.dbo.REF_COUNTRY WITH (NOLOCK))
	END
ELSE
	SET @RETURN_VALUE = 1

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
