/****** Object:  StoredProcedure [dbo].[UPDATE_REF_COUNTRY]    Script Date: 01/03/2013 19:48:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<CTS>
-- Create date: <10th July 2009>
-- Description:	<Updating the HarmCode Dictionary>
-- =============================================
CREATE PROCEDURE [dbo].[UPDATE_REF_COUNTRY]  
	-- Add the parameters for the stored procedure here
   @country_id varchar(max),
   @COUNTRY varchar(max),
   @piers_country varchar(max),
   @joc_code varchar(max),
   @modif_by varchar(max),

   @RETURN_VALUE INT OUT
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

	DECLARE @RECCOUNT int
	
	SELECT @RECCOUNT=count(*) FROM [PES].[dbo].[REF_COUNTRY] WITH (NOLOCK)
	WHERE COUNTRY=@COUNTRY AND PIERS_COUNTRY=@piers_country
	AND JOC_CODE = @joc_code

	IF @RECCOUNT=0
		BEGIN
			UPDATE PES.DBO.ref_country WITH (UPDLOCK) SET
			COUNTRY = @COUNTRY,
			PIERS_COUNTRY = @piers_country,
			JOC_CODE = @joc_code,
			MODIFIED_BY = @modif_by,
			MODIFIED_DT = getdate() 
			WHERE COUNTRY_ID = @country_id

			SET @RETURN_VALUE = 0
		END
	ELSE
		BEGIN
			SET @RETURN_VALUE = 1
		END

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
