/****** Object:  StoredProcedure [dbo].[INSERT_REF_CITYST]    Script Date: 01/03/2013 19:47:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_REF_CITYST]  
   @CITY varchar(max),
   @ST varchar(max),
   @MODIF_BY varchar(max),
   /*
   *   SSMA warning messages:
   *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
   */

   @Out_Id float(53)  OUTPUT
AS 
   
   /*
   *   Generated by SQL Server Migration Assistant for Oracle.
   *   Contact ora2sql@microsoft.com or visit http://www.microsoft.com/sql/migration for more information.
   */
   BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


      SET @Out_Id = 0

--      SELECT @Out_ID = sysdb.ssma_oracle.db_get_next_sequence_value(N'TBRD_PRD', N'dbo', N'SEQ_REF_CITYST')

      INSERT PES.dbo.REF_CITYST(
         
         M_CITY, 
         M_ST, 
         MODIFIED_BY, 
         MODIFIED_DT, 
         DELETED)
         VALUES (
         
            @CITY, 
            @ST, 
            @MODIF_BY, 
            getdate(), 
            'N')
SET @Out_Id = (select max(ctst_id) from PES.dbo.ref_cityst WITH (NOLOCK))

      IF @@TRANCOUNT > 0
         COMMIT WORK 

      EXECUTE dbo.INSERT_HIST_CITYST @CITY = @CITY, @ST = @ST, @OUT_ID = @OUT_ID, @MODIF_BY = @MODIF_BY

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

   END
GO
