/****** Object:  StoredProcedure [dbo].[INSERT_REF_PORT]    Script Date: 01/03/2013 19:47:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CTS - 16th July 2009
--modifications made to the sp for constraint on duplicate entries 
--unique field (port_name, piers_port_name, port_code, piers_port_code

--CTS - 6th January 2010
--modifications done to the unique constraint.
--the unique constraint has been changed to (PortCode and Piers Port name)

CREATE PROCEDURE [dbo].[INSERT_REF_PORT]  
	@port_name varchar(max),
	@piers_port_name varchar(max),
	@port_code varchar(max),
	@piers_port_code varchar(max),
	@state varchar(max),	
	@is_tmp varchar(max),
	@modif_by varchar(max),
	@RETURN_VALUE INT OUTPUT
	
   /*
   *   SSMA warning messages:
   *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
   */

  --@Out_Id float(53)  OUTPUT
AS 
   
   /*
   *   Generated by SQL Server Migration Assistant for Oracle.
   *   Contact ora2sql@microsoft.com or visit http://www.microsoft.com/sql/migration for more information.
   */
	BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

		--SET @Out_Id = 1
		DECLARE @RECCOUNT INT
--		SELECT @RECCOUNT=COUNT(*) FROM PES.DBO.REF_PORT
--			WHERE CODE=@PORT_CODE AND PORT_NAME=@PORT_NAME
--				AND PIERS_NAME=@PIERS_PORT_NAME AND PIERS_PORT_CODE=@PIERS_PORT_CODE
--				AND IS_US_PORT = 1
		SELECT @RECCOUNT=COUNT(*) FROM PES.DBO.REF_PORT WITH (NOLOCK)
			WHERE CODE=@PORT_CODE AND PIERS_NAME=@PIERS_PORT_NAME 
			--	AND IS_US_PORT = 1

		IF @RECCOUNT = 0
			BEGIN
				INSERT PES.dbo.REF_PORT(
				 CODE, 
				 [PORT_NAME], 
				 PIERS_NAME, 
				 PIERS_PORT_CODE,
				 STATE, 
				 IS_TMP, 
				 MODIFIED_BY, 
				 MODIFIED_DT,
				 IS_US_PORT)
				 VALUES (
					@port_code, 
					@port_name, 
					@piers_port_name, 
					@piers_port_code,
					@state, 
					@is_tmp, 
					@modif_by, 
					getdate(),
					1)
				SET @RETURN_VALUE = (select max(id) from PES.dbo.Ref_Port WITH (NOLOCK))
			END
		ELSE
			SET @RETURN_VALUE = 1

--set  @Out_Id = (select max(id) from PES.dbo.Ref_Port)

--     EXECUTE dbo.INSERT_HIST_PORT @PERM = @port_name, @ID = @Out_Id, @MODIF_BY = @modif_by 
--
--      IF @@TRANCOUNT > 0
--         COMMIT WORK 

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

   END
GO
