/****** Object:  StoredProcedure [dbo].[GET_VESSEL_VOYAGE_DETAILS]    Script Date: 01/03/2013 19:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GET_VESSEL_VOYAGE_DETAILS]
	-- Add the parameters for the stored procedure here
	@VOYAGE_ID AS NUMERIC(12,0),
	@DB_TYPE AS VARCHAR(10) = 'CURRENT'
AS
BEGIN
SET NOCOUNT ON;

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


IF ( @DB_TYPE IS NULL )
BEGIN
	SET @DB_TYPE = 'CURRENT'
END

IF ( @DB_TYPE = 'EXCEPTION' OR @DB_TYPE = 'CURRENT' )
BEGIN
	SELECT 
	T_NBR, 
	BL_NBR, 
	(
		SELECT COUNT(BL_CMD.T_NBR) 
		FROM dbo.[BL_CMD] WITH (NOLOCK) 
		WHERE ( BL_CMD.t_nbr = T_NBR )
	) AS ITEMS, 
	DQA_OWNER_ID, 
	DQA_BL_STATUS, 
	DQA_SKIP_RSN, 
	SUBMITTED_DATE  AS SUBTOSTND, 
	(CASE   WHEN DQA_OWNER_ID = 'UNASSIGNED' AND DQA_BL_STATUS = 'COMPLETE' THEN 'AUTOMATED' 
			WHEN DQA_OWNER_ID <> 'UNASSIGNED' AND DQA_BL_STATUS = 'CLEANSED' AND (DQA_LATE_BILL_FLG = 'C' OR DQA_LATE_BILL_FLG = 'N') THEN 'COMMODITY' 
			WHEN DQA_OWNER_ID <> 'UNASSIGNED' AND DQA_BL_STATUS = 'CLEANSED' AND DQA_LATE_BILL_FLG = 'P' THEN 'PARTY' 
			WHEN DQA_OWNER_ID <> 'UNASSIGNED' AND DQA_BL_STATUS = 'CLEANSED' AND DQA_LATE_BILL_FLG = 'B' THEN 'COMMODITY and PARTY' END ) AS DQA_LATE_BILL_FLG_NEW,
	scac as CARRIER  
	FROM dbo.[BL_BL] WITH (NOLOCK) 
	WHERE (DQA_VOYAGE_ID = @VOYAGE_ID)
END
ELSE IF ( @DB_TYPE = 'ARCHIVE' )
BEGIN
	SELECT 
	BL_BL.T_NBR, 
	BL_BL.BL_NBR, 
	( 
		SELECT COUNT([BL_CMD].T_NBR) 
		FROM dbo.[BL_CMD] WITH (NOLOCK) 
		WHERE [BL_CMD].t_nbr = BL_BL.T_NBR
	) AS ITEMS, 
	BL_BL.DQA_OWNER_ID, 
	BL_BL.DQA_BL_STATUS, 
	BL_BL.DQA_SKIP_RSN, 
	BL_BL.SUBMITTED_DATE  AS SUBTOSTND, 
	(CASE   WHEN BL_BL.DQA_OWNER_ID = 'UNASSIGNED' AND BL_BL.DQA_BL_STATUS = 'COMPLETE' THEN 'AUTOMATED' 
			WHEN BL_BL.DQA_OWNER_ID <> 'UNASSIGNED' AND BL_BL.DQA_BL_STATUS = 'CLEANSED' AND (BL_BL.DQA_LATE_BILL_FLG = 'C' OR BL_BL.DQA_LATE_BILL_FLG = 'N') THEN 'COMMODITY' 
			WHEN BL_BL.DQA_OWNER_ID <> 'UNASSIGNED' AND BL_BL.DQA_BL_STATUS = 'CLEANSED' AND BL_BL.DQA_LATE_BILL_FLG = 'P' THEN 'PARTY' 
			WHEN BL_BL.DQA_OWNER_ID <> 'UNASSIGNED' AND BL_BL.DQA_BL_STATUS = 'CLEANSED' AND BL_BL.DQA_LATE_BILL_FLG = 'B' THEN 'COMMODITY and PARTY' END ) AS DQA_LATE_BILL_FLG_NEW,
	BL_BL.SCAC AS CARRIER  
	FROM PES_PURGE.dbo.[ARCHIVE_BL_BL] AS BL_BL WITH (NOLOCK) 
	WHERE ( BL_BL.DQA_VOYAGE_ID = @VOYAGE_ID )
END
ELSE
BEGIN
	SELECT 
	T_NBR, 
	BL_NBR, 
	(
		SELECT COUNT(BL_CMD.T_NBR) 
		FROM dbo.[BL_CMD] WITH (NOLOCK) 
		WHERE ( BL_CMD.t_nbr = T_NBR )
	) AS ITEMS, 
	DQA_OWNER_ID, 
	DQA_BL_STATUS, 
	DQA_SKIP_RSN, 
	SUBMITTED_DATE  AS SUBTOSTND, 
	(CASE   WHEN DQA_OWNER_ID = 'UNASSIGNED' AND DQA_BL_STATUS = 'COMPLETE' THEN 'AUTOMATED' 
			WHEN DQA_OWNER_ID <> 'UNASSIGNED' AND DQA_BL_STATUS = 'CLEANSED' AND (DQA_LATE_BILL_FLG = 'C' OR DQA_LATE_BILL_FLG = 'N') THEN 'COMMODITY' 
			WHEN DQA_OWNER_ID <> 'UNASSIGNED' AND DQA_BL_STATUS = 'CLEANSED' AND DQA_LATE_BILL_FLG = 'P' THEN 'PARTY' 
			WHEN DQA_OWNER_ID <> 'UNASSIGNED' AND DQA_BL_STATUS = 'CLEANSED' AND DQA_LATE_BILL_FLG = 'B' THEN 'COMMODITY and PARTY' END ) AS DQA_LATE_BILL_FLG_NEW,
	scac as CARRIER  
	FROM dbo.[BL_BL] WITH (NOLOCK) 
	WHERE (DQA_VOYAGE_ID = @VOYAGE_ID)
	UNION ALL
	SELECT 
	BL_BL.T_NBR, 
	BL_BL.BL_NBR, 
	( 
		SELECT COUNT([BL_CMD].T_NBR) 
		FROM dbo.[BL_CMD] WITH (NOLOCK) 
		WHERE [BL_CMD].t_nbr = BL_BL.T_NBR
	) AS ITEMS, 
	BL_BL.DQA_OWNER_ID, 
	BL_BL.DQA_BL_STATUS, 
	BL_BL.DQA_SKIP_RSN, 
	BL_BL.SUBMITTED_DATE  AS SUBTOSTND, 
	(CASE   WHEN BL_BL.DQA_OWNER_ID = 'UNASSIGNED' AND BL_BL.DQA_BL_STATUS = 'COMPLETE' THEN 'AUTOMATED' 
			WHEN BL_BL.DQA_OWNER_ID <> 'UNASSIGNED' AND BL_BL.DQA_BL_STATUS = 'CLEANSED' AND (BL_BL.DQA_LATE_BILL_FLG = 'C' OR BL_BL.DQA_LATE_BILL_FLG = 'N') THEN 'COMMODITY' 
			WHEN BL_BL.DQA_OWNER_ID <> 'UNASSIGNED' AND BL_BL.DQA_BL_STATUS = 'CLEANSED' AND BL_BL.DQA_LATE_BILL_FLG = 'P' THEN 'PARTY' 
			WHEN BL_BL.DQA_OWNER_ID <> 'UNASSIGNED' AND BL_BL.DQA_BL_STATUS = 'CLEANSED' AND BL_BL.DQA_LATE_BILL_FLG = 'B' THEN 'COMMODITY and PARTY' END ) AS DQA_LATE_BILL_FLG_NEW,
	BL_BL.SCAC AS CARRIER  
	FROM PES_PURGE.dbo.[ARCHIVE_BL_BL] AS BL_BL WITH (NOLOCK) 
	WHERE ( BL_BL.DQA_VOYAGE_ID = @VOYAGE_ID )

END

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
