/****** Object:  StoredProcedure [dbo].[INSERT_REF_CITYCOUN]    Script Date: 01/03/2013 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_REF_CITYCOUN]  
	@CITY varchar(max),
	@COUN varchar(max),
	@MODIF_BY varchar(max),
	@RETURN_VALUE FLOAT(53) output
   /*
   *   SSMA warning messages:
   *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
   */

--   @Out_Id float(53)  OUTPUT
AS 
	BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

		DECLARE @RECCOUNT INT

		SELECT @RECCOUNT=COUNT(*) FROM PES.DBO.REF_CITYCOUN
			WHERE M_CITY=@CITY AND M_COUNTRY=@COUN

		IF @RECCOUNT=0
			BEGIN
				INSERT PES.dbo.REF_CITYCOUN(
					M_CITY, 
					M_COUNTRY, 
					MODIFIED_BY, 
					MODIFIED_DT, 
					DELETED)
					VALUES (
					@CITY, 
					@COUN, 
					@MODIF_BY, 
					getdate(), 
					'N')
				SET @RETURN_VALUE = (select max(Fccy_id) from PES.dbo.ref_citycoun)
			END
		ELSE
			BEGIN
				SET @RETURN_VALUE = 1
			END

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

	END   



   /*
   *   Generated by SQL Server Migration Assistant for Oracle.
   *   Contact ora2sql@microsoft.com or visit http://www.microsoft.com/sql/migration for more information.
   */
--   BEGIN
--
--      SET @Out_Id = 0
--
----      SELECT @Out_ID = sysdb.ssma_oracle.db_get_next_sequence_value(N'TBRD_PRD', N'dbo', N'SEQ_REF_CITYCOUN')
--
--      INSERT PES.dbo.REF_CITYCOUN(
--          
--         M_CITY, 
--         M_COUNTRY, 
--         MODIFIED_BY, 
--         MODIFIED_DT, 
--         DELETED)
--         VALUES (
--           
--            @CITY, 
--            @COUN, 
--            @MODIF_BY, 
--            getdate(), 
--            'N')
--
--		SET @Out_Id = (select max(Fccy_id) from PES.dbo.ref_citycoun)
--      IF @@TRANCOUNT > 0
--         COMMIT WORK 
--
--      EXECUTE dbo.INSERT_HIST_CITYCOUN @CITY = @CITY, @COUN = @COUN, @OUT_ID = @Out_Id, @MODIF_BY = @MODIF_BY
--
--      IF @@TRANCOUNT > 0
--         COMMIT WORK 
--
--   END
GO
