/****** Object:  StoredProcedure [dbo].[INSERT_REF_CARRIER]    Script Date: 01/03/2013 19:47:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_REF_CARRIER]  
   @scac_ varchar(max),
   @sline_ varchar(max),
   @carrier_desc_ varchar(max),
   @is_tmp_ varchar(max),
   @is_nvo_ varchar(max),
   @modif_by_ varchar(max),
   /*
   *   SSMA warning messages:
   *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
   */

   @RETURN_VALUE float(53)  OUTPUT
AS 
   
   /*
   *   Generated by SQL Server Migration Assistant for Oracle.
   *   Contact ora2sql@microsoft.com or visit http://www.microsoft.com/sql/migration for more information.
   */
   BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


	DECLARE @RECCOUNT INT
	SELECT @RECCOUNT=COUNT(*) FROM PES.DBO.REF_CARRIER WITH (NOLOCK)
		WHERE CODE=@SCAC_ AND [TYPE]=@SLINE_

	IF @RECCOUNT = 0
	BEGIN

--      SELECT @Out_Id = sysdb.ssma_oracle.db_get_next_sequence_value(N'TBRD_PRD', N'dbo', N'REF_CARRIER$SEQ')

      INSERT PES.dbo.REF_CARRIER(
         CODE, 
         [TYPE], 
         IS_NVO, 
         CARRIER_DESC, 
         IS_TMP, 
         MODIFIED_BY, 
         MODIFIED_DT)
         VALUES (
            @scac_, 
            @sline_, 
            @is_nvo_, 
            isnull(@carrier_desc_, 'N/A'), 
            @is_tmp_, 
            @modif_by_, 
            getdate())

		SET @RETURN_VALUE=(select max(Id) from PES.dbo.ref_carrier WITH (NOLOCK))
	END
	ELSE
		BEGIN
			SET @RETURN_VALUE = 1
		END

--      EXECUTE dbo.INSERT_HIST_CARRIER @PERM = @scac_, @ID = @Out_Id, @MODIF_BY = @modif_by_

--      IF @@TRANCOUNT > 0
--         COMMIT WORK 
      /*EXCEPTION	  WHEN DUP_VAL_ON_INDEX THEN	  	   RAISE_APPLICATION_ERROR(-20333,'You Trying To Insert Duplicate SCAC and SLINE Values, Combination ' || scac_ || '+' || sline_ || ' already exists');	  WHEN OTHERS THEN		   RAISE_APPLICATION_ERROR(-20333,SQLERRM);*/

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

   END
GO
