/****** Object:  StoredProcedure [dbo].[PES_PROCCMD]    Script Date: 01/03/2013 19:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PES_PROCCMD] @TNBRBOL_ID INT ,@STR VARCHAR(20)='STAGING'
 
AS
BEGIN


-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


DECLARE @TRANNAME VARCHAR(20),@FILE VARCHAR(500),@FILE_NAME VARCHAR(50)
DECLARE @CMD VARCHAR(1000),@ERROR_MESSAGE VARCHAR(1000),
@ERROR_NUMBER VARCHAR(50),@ERROR_LINE VARCHAR(50)
SET @TRANNAME = 'MyTransaction'

SELECT @FILE = PATH FROM PES.DBO.PES_CONFIGURATION WITH (NOLOCK)
WHERE SOURCE='SP_LOG'

SELECT @FILE_NAME= FILENAME FROM PES.DBO.PES_PROGRESS_STATUS WITH (NOLOCK)
WHERE LOAD_DT=(SELECT MAX(Load_DT) FROM PES.DBO.PES_PROGRESS_STATUS WITH (NOLOCK))

SET @FILE='"'+@FILE+@FILE_NAME+'_LOG.TXT'+'"'

BEGIN TRANSACTION @TRANNAME

BEGIN TRY

      DECLARE   
            @newLine char(1)
			    DECLARE @BOL_ID INT

--DECLARE @DESTCMDCLOB TEXT;
DECLARE @CMDCNT INT
DECLARE @PIECE_CNT NUMERIC(12,0)
DECLARE @CMD_SEQ_NBR  NUMERIC(4,0)
DECLARE @DESCRIPTION VARCHAR(MAX)
DECLARE @CNTTAB1 INT
DECLARE @CNT1  INT
DECLARE @CNT2 INT
DECLARE @CNTTAB2 INT
DECLARE @DESC1 VARCHAR(MAX)
DECLARE @DESC2 VARCHAR(MAX)
DECLARE @PIECE_CNT1 NUMERIC(12,0)
DECLARE @CMD_SEQ_NBR1 NUMERIC(4,0)
DECLARE @PIECE_CNT2 NUMERIC(12,0)
DECLARE @CMD_SEQ_NBR2  NUMERIC(4,0)
DECLARE @DESCRIPTION2 VARCHAR(MAX)
DECLARE @COMMODITY VARCHAR(MAX)
DECLARE @DUMMY VARCHAR(MAX)

DECLARE @T_NBR INT
DECLARE @MAN_SEQ_NBR INT
DECLARE @MAN VARCHAR(4000)
DECLARE @MANADD VARCHAR(4000)
DECLARE @newRecord CHAR(1)
  SET @newline = char(10)
  SET @newRecord = char(1)
  SET @CMDCNT=0
  SET @CNT1=1
  SET @CNT2=0


IF @STR='STAGING'
BEGIN

DECLARE CMD_CACHE CURSOR FOR 
SELECT CASE WHEN ISNUMERIC(PIECE_COUNT) = 0 THEN 0 ELSE CONVERT(NUMERIC(12,0),PIECE_COUNT) END PIECE_COUNT ,SEQUENCENO,COMMODITY_DESC 
FROM PES.DBO.RAW_CMD WITH (NOLOCK)
WHERE BOL_ID=@TNBRBOL_ID 


DECLARE @TAB1 TABLE
( ID INT, PIECE_CNT NUMERIC(12,0) ,   CMD_SEQ_NBR NUMERIC(4,0),DESCRIPTION  VARCHAR(MAX))
DECLARE @TAB2 TABLE
( ID INT, PIECE_CNT NUMERIC(12,0) ,   CMD_SEQ_NBR NUMERIC(4,0),DESCRIPTION  VARCHAR(MAX))

OPEN CMD_CACHE
FETCH NEXT FROM CMD_CACHE INTO @PIECE_CNT,@CMD_SEQ_NBR,@DESCRIPTION
WHILE @@FETCH_STATUS = 0

BEGIN

INSERT INTO @TAB1 VALUES(@CMDCNT+1,@PIECE_CNT,@CMD_SEQ_NBR,REPLACE(REPLACE(REPLACE(REPLACE(SUBSTRING(@DESCRIPTION,1,8000),CHAR(32)+CHAR(1),@newline),CHAR(32)+CHAR(2),@newline),CHAR(32)+CHAR(3),@newline),CHAR(1),@newline))

SET @CMDCNT=@CMDCNT+1
FETCH NEXT FROM CMD_CACHE INTO @PIECE_CNT,@CMD_SEQ_NBR,@DESCRIPTION

END
CLOSE CMD_CACHE
DEALLOCATE CMD_CACHE

SELECT @CNTTAB1=COUNT(*) FROM @TAB1

IF @CNTTAB1=1
INSERT INTO @TAB2 VALUES(1,@PIECE_CNT,@CMD_SEQ_NBR,REPLACE(REPLACE(REPLACE(REPLACE(SUBSTRING(@DESCRIPTION,1,31000),CHAR(32)+CHAR(1),@newline),CHAR(32)+CHAR(2),@newline),CHAR(32)+CHAR(3),@newline),CHAR(1),@newline))
IF @CNTTAB1>1
BEGIN
		INSERT INTO @TAB2(ID,PIECE_CNT,CMD_SEQ_NBR,DESCRIPTION)
 (SELECT  ID,PIECE_CNT,CMD_SEQ_NBR,DESCRIPTION FROM @TAB1 WHERE ID=1)


		WHILE(@CNT1 <=@CNTTAB1-1)
		BEGIN
		SET  @CNT2=0
		SELECT @DESC1=DESCRIPTION FROM @TAB1 WHERE ID=@CNT1+1
		SELECT @PIECE_CNT1=PIECE_CNT FROM @TAB1 WHERE ID=@CNT1+1
		SELECT @CMD_SEQ_NBR1=MAX(CMD_SEQ_NBR)+1 FROM @TAB2-- WHERE ID=@CNT1+1
		SELECT @CNTTAB2=COUNT(*) FROM @TAB2
		WHILE(@CNT2 <=@CNTTAB2-1)
		BEGIN
			
		IF  @DESC1 in (SELECT DESCRIPTION FROM @TAB2)

			BEGIN
				UPDATE @TAB2 SET PIECE_CNT=@PIECE_CNT1+PIECE_CNT WHERE DESCRIPTION=@DESC1
				GOTO LEVEL1
			END
		ELSE IF @CNT2 =@CNTTAB2-1
		BEGIN 
			
			INSERT INTO @TAB2(ID,PIECE_CNT,CMD_SEQ_NBR,DESCRIPTION)VALUES(@CNT2+1,@PIECE_CNT1,@CMD_SEQ_NBR1,@DESC1) 
		END
		SET @CNT2=@CNT2+1
		
		END
LEVEL1:
		SET @CNT1=@CNT1+1
		END

END


DECLARE CMD1_CACHE CURSOR FOR SELECT PIECE_CNT,CMD_SEQ_NBR,DESCRIPTION FROM @TAB2 --WHERE T_NBR=@TNBRBOL_ID
OPEN CMD1_CACHE
FETCH NEXT FROM CMD1_CACHE INTO @PIECE_CNT2,@CMD_SEQ_NBR2,@DESCRIPTION2
SET @COMMODITY=''
--IF (@@FETCH_STATUS = -1)
--SET @COMMODITY=@COMMODITY+'<# '+ ' ' +'>'+@newline+'<@ '+ '' +'>'+@newline+'<+ '+ '' +'>'+@newline+'<$ '+''+@newline+' $>'

WHILE @@FETCH_STATUS = 0
BEGIN
IF @COMMODITY=''
SET @COMMODITY =@COMMODITY+'<# '+ cast(@CMD_SEQ_NBR2 as varchar(10)) +'>'+@newline+'<@ '+cast(ISNULL(@PIECE_CNT2,0) as varchar(12)) +'>'+@newline+'<+ '+ DBO.getshort(@TNBRBOL_ID,cast(@CMD_SEQ_NBR2 as varchar(10)))+'>'+@newline+'<$ '+@newline+ISNULL(@DESCRIPTION2,'')+@newline+' $>'
ELSE IF @COMMODITY!=''
SET @COMMODITY =@COMMODITY+@newRecord+'<# '+ cast(@CMD_SEQ_NBR2 as varchar(10)) +'>'+@newline+'<@ '+cast(ISNULL(@PIECE_CNT2,0) as varchar(12)) +'>'+@newline+'<+ '+ DBO.getshort(@TNBRBOL_ID,cast(@CMD_SEQ_NBR2 as varchar(10)))+'>'+@newline+'<$ '+@newline+ISNULL(@DESCRIPTION2,'')+@newline+' $>'

FETCH NEXT FROM CMD1_CACHE INTO @PIECE_CNT2,@CMD_SEQ_NBR2,@DESCRIPTION2
END
CLOSE CMD1_CACHE
DEALLOCATE CMD1_CACHE


 

DECLARE MANUPD_CACHE CURSOR 
FOR SELECT MAN_SEQ_NBR,MAN_DESC FROM PES.DBO.PES_STG_MAN WITH (NOLOCK)
WHERE BOL_ID=@TNBRBOL_ID 
OPEN MANUPD_CACHE
FETCH NEXT FROM MANUPD_CACHE INTO @MAN_SEQ_NBR,@MAN
SET @MANADD=''
--IF (@@FETCH_STATUS = -1)
--SET @MANADD =@MANADD+'<# '+ ' ' +'>'+@newline+'<$ '+ ' '+@newline+' $>'

WHILE @@FETCH_STATUS = 0
BEGIN

SET @MAN= REPLACE(REPLACE(REPLACE(SUBSTRING(@MAN,1,4000),CHAR(1),CHAR(32)),CHAR(2),CHAR(32)),CHAR(3),CHAR(32))
IF @MANADD=''
SET @MANADD =@MANADD+'<# '+ cast(@MAN_SEQ_NBR as varchar(10)) +'>'+@newline+ISNULL(LTRIM(RTRIM(@MAN)),'')+@newline
ELSE IF @MANADD!=''
SET @MANADD =@MANADD+@newRecord+'<# '+ cast(@MAN_SEQ_NBR as varchar(10)) +'>'+@newline+ISNULL(LTRIM(RTRIM(@MAN)),'')+@newline
FETCH NEXT FROM MANUPD_CACHE INTO @MAN_SEQ_NBR,@MAN
END
CLOSE MANUPD_CACHE
DEALLOCATE MANUPD_CACHE


UPDATE BL_CACHE with (updlock)
	SET COMMODITY=@COMMODITY,MARKS=@MANADD WHERE T_NBR=@TNBRBOL_ID

END

--COMMITTING THE TRANSACTIONS IF NO ERROR OCCURRED
	COMMIT TRANSACTION @TRANNAME

END TRY

BEGIN CATCH
	SET @ERROR_NUMBER=ERROR_NUMBER()
	SET @ERROR_LINE=ERROR_LINE()
	SET @ERROR_MESSAGE='STORED PROCEDURE PES_PROCCMD FAILED AT LINE NUMBER:  ' + @ERROR_LINE + ' WITH ERROR DESCRIPTION:  '+ERROR_MESSAGE()
	
	SET @CMD = 'ECHO ERROR_MESSAGE-- '+@ERROR_MESSAGE+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
    SET @CMD = 'ECHO ERROR_NUMBER-- '+@ERROR_NUMBER+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
	SET @CMD = 'ECHO ERROR_LINE-- '+@ERROR_LINE+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
	
	
	SET @CMD = 'ECHO TRANSACTIONS ROLLBACKED'+ ' >> '+ @FILE
	EXEC master..xp_cmdshell @CMD 
	RAISERROR(@ERROR_MESSAGE,21,1) WITH LOG

	ROLLBACK TRANSACTION @TRANNAME
END CATCH

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT


END
GO
