/****** Object:  StoredProcedure [dbo].[PROCCMDLATE]    Script Date: 01/03/2013 19:48:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROCCMDLATE]  
   /*
   *   SSMA warning messages:
   *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
   */

   @tnbrin float(53)
AS 
   
   /*
   *   Generated by SQL Server Migration Assistant for Oracle.
   *   Contact ora2sql@microsoft.com or visit http://www.microsoft.com/sql/migration for more information.
   */
   BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


      DECLARE
         @v_cmd_rowcount int, 
         @array1 xml, 
         @array2 xml, 
         @newLine char(1), 
         @cmddesc varchar(max), 
         @srccmdclob varchar(max), 
         @destcmdclob varchar(max), 
         @tempdesc varchar(max), 
         /*
         *   SSMA warning messages:
         *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
         */

         @tempcnt float(53), 
         /*
         *   SSMA warning messages:
         *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
         */

         @prevseq float(53), 
         @str varchar(100), 
         @apstr varchar(max), 
         /*
         *   SSMA warning messages:
         *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
         */

         @cnt float(53), 
         /*
         *   SSMA warning messages:
         *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
         */

         @cmdcnt float(53), 
         /*
         *   SSMA warning messages:
         *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
         */

         @array1cnt float(53), 
         /*
         *   SSMA warning messages:
         *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
         */

         @array2cnt float(53)

      DECLARE
         @rcmd xml

      BEGIN TRY

         SET @tempdesc = 'a'

         SET @tempcnt = 0

         SET @prevseq = 0

         SET @cnt = 0

         SET @cmdcnt = 0

         SET @array1cnt = 0

         SET @array2cnt = 0

         SET @newline = char(10)

         SELECT @destcmdclob = BL_CACHE_LATE.COMMODITY
         FROM dbo.BL_CACHE_LATE 
            WITH ( UPDLOCK )
         WHERE BL_CACHE_LATE.T_NBR = @tnbrin

         

         SET @cmdcnt = 0

         DECLARE
            /*
            *   SSMA warning messages:
            *   O2SS0356: Conversion from NUMBER datatype can cause data loss.
            */

            @CURSOR_PARAM_cmd_tnbr float(53)

         SET @CURSOR_PARAM_cmd_tnbr = @tnbrin

         DECLARE
             cmd CURSOR LOCAL FOR 
               SELECT BL_CMD.PIECE_CNT, BL_CMD.CMD_SEQ_NBR, BL_CMD.DESCRIPTION
               FROM dbo.BL_CMD
               WHERE BL_CMD.T_NBR = @CURSOR_PARAM_cmd_tnbr

         SET @v_cmd_rowcount = 0

         OPEN cmd

         WHILE 1 = 1
         
            BEGIN

               DECLARE
                  @rcmd$piece_cnt float(53)

               DECLARE
                  @rcmd$cmd_seq_nbr float(53)

               DECLARE
                  @rcmd$description varchar(max)

               FETCH cmd
                   INTO @rcmd$piece_cnt, @rcmd$cmd_seq_nbr, @rcmd$description

               SET @rcmd = sysdb.ssma_oracle.SetRecord_varchar(@rcmd, N'DESCRIPTION', @rcmd$description)

               SET @rcmd = sysdb.ssma_oracle.SetRecord_float(@rcmd, N'CMD_SEQ_NBR', @rcmd$cmd_seq_nbr)

               SET @rcmd = sysdb.ssma_oracle.SetRecord_float(@rcmd, N'PIECE_CNT', @rcmd$piece_cnt)

               IF @@FETCH_STATUS = 0
                  SET @v_cmd_rowcount = @v_cmd_rowcount + 1

               IF @@FETCH_STATUS =  -1
                  BREAK

               SET @array1 = sysdb.ssma_oracle.SetCollection_xml(@array1, @cmdcnt, sysdb.ssma_oracle.SetRecord_float(sysdb.ssma_oracle.GetCollection_xml(@array1, @cmdcnt), N'PIECE_CNT', sysdb.ssma_oracle.GetRecord_float(@rcmd, N'PIECE_CNT')))

               SET @array1 = sysdb.ssma_oracle.SetCollection_xml(@array1, @cmdcnt, sysdb.ssma_oracle.SetRecord_float(sysdb.ssma_oracle.GetCollection_xml(@array1, @cmdcnt), N'CMD_SEQ_NBR', sysdb.ssma_oracle.GetRecord_float(@rcmd, N'CMD_SEQ_NBR')))

               /*
               *   SSMA warning messages:
               *   O2SS0273: Oracle SUBSTR function and SQL Server substring function may give different results.
               */

               SET @array1 = sysdb.ssma_oracle.SetCollection_xml(@array1, @cmdcnt, sysdb.ssma_oracle.SetRecord_varchar(sysdb.ssma_oracle.GetCollection_xml(@array1, @cmdcnt), N'DESCRIPTION', replace(replace(replace(replace(substring(sysdb.ssma_oracle.GetRecord_varchar(@rcmd, N'DESCRIPTION'), 1, 31000), char(32) + char(1), ISNULL(@newline, '')), char(32) + char(2), ISNULL(@newline, '')), char(32) + char(3), ISNULL(@newline, '')), char(1), ISNULL(@newline, ''))))

               SET @cmdcnt = @cmdcnt + 1

            END

         CLOSE cmd

         DEALLOCATE cmd

         /* dbms_output.put_line('array1 count is :' || array1.count);*/
         IF (sysdb.ssma_oracle.CountCollection(@array1) = 1)
            BEGIN

               SET @array2 = sysdb.ssma_oracle.SetCollection_xml(@array2, 0, sysdb.ssma_oracle.SetRecord_float(sysdb.ssma_oracle.GetCollection_xml(@array2, 0), N'PIECE_CNT', sysdb.ssma_oracle.GetRecord_float(sysdb.ssma_oracle.GetCollection_xml(@array1, 0), N'PIECE_CNT')))

               SET @array2 = sysdb.ssma_oracle.SetCollection_xml(@array2, 0, sysdb.ssma_oracle.SetRecord_float(sysdb.ssma_oracle.GetCollection_xml(@array2, 0), N'CMD_SEQ_NBR', sysdb.ssma_oracle.GetRecord_float(sysdb.ssma_oracle.GetCollection_xml(@array1, 0), N'CMD_SEQ_NBR')))

               SET @array2 = sysdb.ssma_oracle.SetCollection_xml(@array2, 0, sysdb.ssma_oracle.SetRecord_varchar(sysdb.ssma_oracle.GetCollection_xml(@array2, 0), N'DESCRIPTION', sysdb.ssma_oracle.GetRecord_varchar(sysdb.ssma_oracle.GetCollection_xml(@array1, 0), N'DESCRIPTION')))

            END

         IF (sysdb.ssma_oracle.CountCollection(@array1) > 1)
            BEGIN

               SET @array2 = sysdb.ssma_oracle.SetCollection_xml(@array2, 0, sysdb.ssma_oracle.SetRecord_float(sysdb.ssma_oracle.GetCollection_xml(@array2, 0), N'PIECE_CNT', sysdb.ssma_oracle.GetRecord_float(sysdb.ssma_oracle.GetCollection_xml(@array1, 0), N'PIECE_CNT')))

               SET @array2 = sysdb.ssma_oracle.SetCollection_xml(@array2, 0, sysdb.ssma_oracle.SetRecord_float(sysdb.ssma_oracle.GetCollection_xml(@array2, 0), N'CMD_SEQ_NBR', sysdb.ssma_oracle.GetRecord_float(sysdb.ssma_oracle.GetCollection_xml(@array1, 0), N'CMD_SEQ_NBR')))

               SET @array2 = sysdb.ssma_oracle.SetCollection_xml(@array2, 0, sysdb.ssma_oracle.SetRecord_varchar(sysdb.ssma_oracle.GetCollection_xml(@array2, 0), N'DESCRIPTION', sysdb.ssma_oracle.GetRecord_varchar(sysdb.ssma_oracle.GetCollection_xml(@array1, 0), N'DESCRIPTION')))

               BEGIN

                  DECLARE
                     @i int

                  SET @i = 1

                  DECLARE
                     @loop$bound int

                  SET @loop$bound = (sysdb.ssma_oracle.CountCollection(@array1) - 1)

                  WHILE @i <= @loop$bound
                  
                     BEGIN

                        DECLARE
                           @j int

                        SET @j = 0

                        DECLARE
                           @loop$bound$2 int

                        SET @loop$bound$2 = (sysdb.ssma_oracle.CountCollection(@array2) - 1)

                        WHILE @j <= @loop$bound$2
                        
                           BEGIN

                              IF (sysdb.ssma_oracle.GetRecord_varchar(sysdb.ssma_oracle.GetCollection_xml(@array2, @j), N'DESCRIPTION') = sysdb.ssma_oracle.GetRecord_varchar(sysdb.ssma_oracle.GetCollection_xml(@array1, @i), N'DESCRIPTION'))
                                 BEGIN

                                    SET @array2 = sysdb.ssma_oracle.SetCollection_xml(@array2, @j, sysdb.ssma_oracle.SetRecord_float(sysdb.ssma_oracle.GetCollection_xml(@array2, @j), N'PIECE_CNT', sysdb.ssma_oracle.GetRecord_float(sysdb.ssma_oracle.GetCollection_xml(@array2, @j), N'PIECE_CNT') + sysdb.ssma_oracle.GetRecord_float(sysdb.ssma_oracle.GetCollection_xml(@array1, @i), N'PIECE_CNT')))

                                    BREAK

                                 END
                              ELSE 
                                 IF (@j = (sysdb.ssma_oracle.CountCollection(@array2) - 1))
                                    BEGIN

                                       SET @array2 = sysdb.ssma_oracle.SetCollection_xml(@array2, CAST(@j AS float(53)) + 1, sysdb.ssma_oracle.SetRecord_float(sysdb.ssma_oracle.GetCollection_xml(@array2, CAST(@j AS float(53)) + 1), N'PIECE_CNT', sysdb.ssma_oracle.GetRecord_float(sysdb.ssma_oracle.GetCollection_xml(@array1, @i), N'PIECE_CNT')))

                                       SET @array2 = sysdb.ssma_oracle.SetCollection_xml(@array2, CAST(@j AS float(53)) + 1, sysdb.ssma_oracle.SetRecord_float(sysdb.ssma_oracle.GetCollection_xml(@array2, CAST(@j AS float(53)) + 1), N'CMD_SEQ_NBR', sysdb.ssma_oracle.GetRecord_float(sysdb.ssma_oracle.GetCollection_xml(@array1, @i), N'CMD_SEQ_NBR')))

                                       SET @array2 = sysdb.ssma_oracle.SetCollection_xml(@array2, CAST(@j AS float(53)) + 1, sysdb.ssma_oracle.SetRecord_varchar(sysdb.ssma_oracle.GetCollection_xml(@array2, CAST(@j AS float(53)) + 1), N'DESCRIPTION', sysdb.ssma_oracle.GetRecord_varchar(sysdb.ssma_oracle.GetCollection_xml(@array1, @i), N'DESCRIPTION')))

                                    END

                              SET @j = @j + 1

                           END

                        SET @i = @i + 1

                     END

               END

            END

         DECLARE
            @k int

         SET @k = 0

         DECLARE
            @loop$bound$3 int

         SET @loop$bound$3 = (sysdb.ssma_oracle.CountCollection(@array2) - 1)

         /*dbms_output.put_line('array2 count is :' || array2.count);*/
         WHILE @k <= @loop$bound$3
         
            BEGIN

               
               /*
               *   dbms_output.put_line('inside loop :' );
               *   	dbms_output.put_line('k is :' ||k);
               *   	dbms_output.put_line('array2(k).cmd_seq_nbr :' ||array2(k).cmd_seq_nbr);
               *   	dbms_output.put_line('array2(k).piece_cnt :' ||array2(k).piece_cnt);
               *   	dbms_output.put_line('get short is '||getshort(tnbrin,array2(k).cmd_seq_nbr));
               */
               SET @apstr = 
                  '<# '
                   + 
                  CAST(sysdb.ssma_oracle.GetRecord_float(sysdb.ssma_oracle.GetCollection_xml(@array2, @k), N'CMD_SEQ_NBR') AS nvarchar(max))
                   + 
                  '>'
                   + 
                  @newline
                   + 
                  '<@ '
                   + 
                  CAST(sysdb.ssma_oracle.GetRecord_float(sysdb.ssma_oracle.GetCollection_xml(@array2, @k), N'PIECE_CNT') AS nvarchar(max))
                   + 
                  '>'
                   + 
                  @newline
                   + 
                  '<+ '
                   + 
                  dbo.GETSHORT(@tnbrin, sysdb.ssma_oracle.GetRecord_float(sysdb.ssma_oracle.GetCollection_xml(@array2, @k), N'CMD_SEQ_NBR'))
                   + 
                  '>'
                   + 
                  @newline
                   + 
                  '<$ '
                   + 
                  @newline

               /* 
               *   SSMA error messages:
               *   O2SS0083: Identifier dbms_lob.writeappend cannot be converted because it was not resolved.

               EXECUTE dbms_lob.writeappend
               */



               /* 
               *   SSMA error messages:
               *   O2SS0083: Identifier dbms_lob.writeappend cannot be converted because it was not resolved.

               EXECUTE dbms_lob.writeappend
               */



               SET @apstr = @newline + '$>' + char(1)

               /* 
               *   SSMA error messages:
               *   O2SS0083: Identifier dbms_lob.writeappend cannot be converted because it was not resolved.

               EXECUTE dbms_lob.writeappend
               */



               SET @k = @k + 1

            END

      END TRY

      BEGIN CATCH

         DECLARE
            @errornumber int

         SET @errornumber = ERROR_NUMBER()

         DECLARE
            @errormessage nvarchar(4000)

         SET @errormessage = ERROR_MESSAGE()

         DECLARE
            @exceptionidentifier nvarchar(4000)

         SELECT @exceptionidentifier = sysdb.ssma_oracle.db_error_get_oracle_exception_id(@errormessage, @errornumber)

         BEGIN

            PRINT @tnbrin

            PRINT (sysdb.ssma_oracle.db_error_sqlcode(@exceptionidentifier, @errornumber))

            /*
            *   SSMA warning messages:
            *   O2SS0273: Oracle SUBSTR function and SQL Server substring function may give different results.
            */

            PRINT substring((sysdb.ssma_oracle.db_error_sqlerrm_0(@exceptionidentifier, @errornumber)), 1, 200)

         END

      END CATCH

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

   END
GO
