/****** Object:  StoredProcedure [dbo].[UPDATE_LIB_CARRIER]    Script Date: 01/03/2013 19:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<CTS>
-- Create date: <14th July 2009>
-- Description:	<Updating the CARRIER Dictionary>
-- =============================================
CREATE PROCEDURE [dbo].[UPDATE_LIB_CARRIER]  
	-- Add the parameters for the stored procedure here
   @PERM varchar(max),
   @ID float(53),
   @modif_by varchar(max),
   @REF_VALUE varchar(max),
   @RETURN_VALUE INT OUT
AS
BEGIN

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = NULL
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT

	DECLARE @RECCOUNT int
	
	SELECT @RECCOUNT=count(*) FROM [PES].[dbo].[LIB_CARRIER] WITH (NOLOCK)
	WHERE CODE_KEY=@PERM AND NAME_KEY=@REF_VALUE

	IF @RECCOUNT=0
		BEGIN
			UPDATE PES.DBO.LIB_CARRIER WITH (UPDLOCK) SET
			CODE_KEY = @PERM,
			NAME_KEY = @REF_VALUE,
			MODIFY_DATE = GETDATE(),
			MODIFY_USER = @modif_by
			WHERE ID = @ID

			SET @RETURN_VALUE = 0
		END
	ELSE
		BEGIN
			SET @RETURN_VALUE = 1
		END

-- [aa] - 11/28/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
