/****** Object:  StoredProcedure [dbo].[RETRIEVE_EXCEPTION_BILL]    Script Date: 01/03/2013 19:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETRIEVE_EXCEPTION_BILL]  
	@user_id  VARCHAR(MAX), 
	@INBOLID VARCHAR(1000), 
	@sDir  VARCHAR(1),
	@sDeleted varchar (1),
	@sProc_Name VARCHAR(100), 
	@sCategory VARCHAR(100),
	@sCategoryValues VARCHAR(100),
	@Modified_by VARCHAR(100),
	@Out_T_NBR NUMERIC(13,2)OUT 
AS
SET NOCOUNT ON;

---- [Pramod K] - 09/24/2010
---- Log start time
--DECLARE @IdLogOut int
--DECLARE @ParametersIn varchar(MAX)
--SET @ParametersIn =
-- '@user_id='''+@user_id+''''
--+', @INBOLID='++LTRIM(RTRIM(STR(@INBOLID)))
--+', @sDir='''+@sDir+''''
--+', @sProc_Name='''+@sProc_Name+''''
--+', @sCategory='''+@sCategory+''''
--+', @sCategoryValues='''+@sCategoryValues+''''
--EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
-- @SprocName = 'RETRIEVE_EXCEPTION_BILL'
--,@Parameters = @ParametersIn
--,@IdLog = @IdLogOut OUT

-- [aa] - 11/28/2010
-- Log start time
DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
,@ParametersIn = '@user_id='''+@user_id+''''
+', @INBOLID='++LTRIM(RTRIM(STR(@INBOLID)))
+', @sDir='''+@sDir+''''
+', @sProc_Name='''+@sProc_Name+''''
+', @sCategory='''+@sCategory+''''
+', @sCategoryValues='''+@sCategoryValues+''''
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
 @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


DECLARE @local_t_nbr INTEGER
set @local_t_nbr=0
BEGIN

	DECLARE @BOLID TABLE
	(
		BOL_ID numeric(10,0)
    )

--POPULATE THE USER NAME PASSED FROM THE SCREEN TO A TEMP TABLE
	DECLARE @TEMPUSER TABLE (USERNAME VARCHAR(100))
	DECLARE @USERCNT INT
	SET @USERCNT = 1
	set @user_id= REPLACE(@user_id,'''','') + ','
	WHILE (CHARINDEX(',',@user_id)>0)
		BEGIN
		   INSERT INTO @TEMPUSER (USERNAME)
		   SELECT USERNAME = LTRIM(RTRIM(SUBSTRING(@user_id,1,CHARINDEX(',',@user_id)-1)))

		   SET @user_id = SUBSTRING(@user_id,CHARINDEX(',',@user_id)+1,LEN(@user_id))
		   SET @USERCNT = @USERCNT + 1
		END

	IF(@SProc_Name = 'COMPANY EXCEPTIONS') 
	  BEGIN
		IF (@sCategory='DAILY_LOAD_DT') and (@sCategoryValues <> 'ALL')  and (@sCategoryValues <> '')
		BEGIN		

		SELECT TOP 1 @local_t_nbr = CMPY_EXP.BOL_ID  
		FROM 
		(
				SELECT P.BOL_ID FROM PES.dbo.PES_TRANSACTIONS_LIB_PTY  P WITH (NOLOCK)
				JOIN DQA_BL D WITH (NOLOCK) 
				ON P.BOL_ID = D.T_NBR
				WHERE ( D.T_NBR > @INBOLID )
				AND ( P.STATUS <> (CASE @sDeleted WHEN 'N' THEN 'PENDING' ELSE 'NOTHING' END) )
				AND ( D.DIR = @SDIR )
				AND ( P.MODIFIED_BY IN (SELECT USERNAME FROM @TEMPUSER) )
				AND ( ISNULL(D.IS_DELETED,'N') = @sDeleted )
				AND ( (D.REVIEWED_BY IS NULL OR D.REVIEWED_DT IS NULL) )
				AND ( CONVERT(VARCHAR(10),D.DAILY_LOAD_DT,101)IN (@SCATEGORYVALUES) )
		) CMPY_EXP
		JOIN
		(
				SELECT bol.T_NBR FROM dbo.BL_BL AS bol WITH (NOLOCK) JOIN dbo.DQA_VOYAGE AS dvg WITH (NOLOCK) 
				ON (bol.DQA_VOYAGE_ID = dvg.VOYAGE_ID AND dvg.VOYAGE_STATUS = 'AVAILABLE')	 
				WHERE ISNULL(bol.BOL_STATUS,'')NOT IN('MASTER','TEMPMASTER','HOUSE')
				--AND bol.T_NBR > @INBOLID
				--AND bol.DIR = @SDIR
		)B
		ON CMPY_EXP.BOL_ID=B.T_NBR
		ORDER BY CMPY_EXP.BOL_ID ASC	

		END
		ELSE IF (@sCategory='LOAD_NBR') and (@sCategoryValues <> 'ALL')and (@sCategoryValues <> '')
		BEGIN
		
		SELECT TOP 1 @local_t_nbr = CMPY_EXP.BOL_ID  
		FROM 
		(
				SELECT P.BOL_ID FROM PES.dbo.PES_TRANSACTIONS_LIB_PTY  P WITH (NOLOCK)
				JOIN DQA_BL D WITH (NOLOCK) 
				ON P.BOL_ID = D.T_NBR
				WHERE P.STATUS <> (CASE @sDeleted WHEN 'N' THEN 'PENDING' ELSE 'NOTHING' END)
				AND D.DIR = @SDIR
				AND P.MODIFIED_BY IN (SELECT USERNAME FROM @TEMPUSER)
				AND ISNULL(D.IS_DELETED,'N') = @sDeleted 
				AND (D.REVIEWED_BY IS NULL OR D.REVIEWED_DT IS NULL)
				AND D.LOAD_NBR IN (@sCategoryValues)
				AND D.T_NBR > @INBOLID 
		) CMPY_EXP
		JOIN
		(
				SELECT bol.T_NBR FROM dbo.BL_BL AS bol WITH (NOLOCK) JOIN dbo.DQA_VOYAGE AS dvg WITH (NOLOCK) 
				ON (bol.DQA_VOYAGE_ID = dvg.VOYAGE_ID AND dvg.VOYAGE_STATUS = 'AVAILABLE')	 
				WHERE ISNULL(bol.BOL_STATUS,'')NOT IN('MASTER','TEMPMASTER','HOUSE')
				AND bol.T_NBR > @INBOLID
				AND bol.DIR = @SDIR
		)B
		ON CMPY_EXP.BOL_ID=B.T_NBR
		ORDER BY CMPY_EXP.BOL_ID ASC	

		END
		ELSE IF (@sCategory='VDATE') and (@sCategoryValues <> 'ALL')and (@sCategoryValues <> '')
		BEGIN
		
		SELECT TOP 1 @local_t_nbr = CMPY_EXP.BOL_ID  
		FROM 
		(
				SELECT P.BOL_ID FROM PES.dbo.PES_TRANSACTIONS_LIB_PTY  P WITH (NOLOCK)
				JOIN DQA_BL D WITH (NOLOCK) 
				ON P.BOL_ID = D.T_NBR
				WHERE P.STATUS <> (CASE @sDeleted WHEN 'N' THEN 'PENDING' ELSE 'NOTHING' END)
				AND D.DIR = @SDIR
				AND P.MODIFIED_BY IN (SELECT USERNAME FROM @TEMPUSER)
				AND ISNULL(D.IS_DELETED,'N') = @sDeleted 
				AND (D.REVIEWED_BY IS NULL OR D.REVIEWED_DT IS NULL)
				AND D.VDATE IS NOT NULL AND D.VDATE BETWEEN CONVERT(SMALLDATETIME,@sCategoryValues) AND DATEADD(DD,7,CONVERT(SMALLDATETIME,@sCategoryValues)) 
				AND D.T_NBR > @INBOLID 
		) CMPY_EXP
		JOIN
		(
				SELECT bol.T_NBR FROM dbo.BL_BL AS bol WITH (NOLOCK) JOIN dbo.DQA_VOYAGE AS dvg WITH (NOLOCK) 
				ON (bol.DQA_VOYAGE_ID = dvg.VOYAGE_ID AND dvg.VOYAGE_STATUS = 'AVAILABLE')	 
				WHERE ISNULL(bol.BOL_STATUS,'')NOT IN('MASTER','TEMPMASTER','HOUSE')
				AND bol.T_NBR > @INBOLID
				AND bol.DIR = @SDIR
		)B
		ON CMPY_EXP.BOL_ID=B.T_NBR
		ORDER BY CMPY_EXP.BOL_ID ASC		
		 	
		END
		ELSE IF (@sCategory='VDATE AS PRODMONTH') and (@sCategoryValues <> 'ALL')and (@sCategoryValues <> '')
		BEGIN
		 
		SELECT TOP 1 @local_t_nbr = CMPY_EXP.BOL_ID  
		FROM 
		(
				SELECT P.BOL_ID FROM PES.dbo.PES_TRANSACTIONS_LIB_PTY  P WITH (NOLOCK)
				JOIN DQA_BL D WITH (NOLOCK) 
				ON P.BOL_ID = D.T_NBR
				WHERE P.STATUS <> (CASE @sDeleted WHEN 'N' THEN 'PENDING' ELSE 'NOTHING' END)
				AND D.DIR = @SDIR
				AND P.MODIFIED_BY IN (SELECT USERNAME FROM @TEMPUSER)
				AND ISNULL(D.IS_DELETED,'N') = @sDeleted 
				AND (D.REVIEWED_BY IS NULL OR D.REVIEWED_DT IS NULL)
				AND D.VDATE IS NOT NULL AND DATENAME(MM,D.VDATE) + ' ' + DATENAME(YYYY,D.VDATE) = @sCategoryValues
				AND D.T_NBR > @INBOLID 
		) CMPY_EXP
		JOIN
		(
				SELECT bol.T_NBR FROM dbo.BL_BL AS bol WITH (NOLOCK) JOIN dbo.DQA_VOYAGE AS dvg WITH (NOLOCK) 
				ON (bol.DQA_VOYAGE_ID = dvg.VOYAGE_ID AND dvg.VOYAGE_STATUS = 'AVAILABLE')	 
				WHERE ISNULL(bol.BOL_STATUS,'')NOT IN('MASTER','TEMPMASTER','HOUSE')
				AND bol.T_NBR > @INBOLID
				AND bol.DIR = @SDIR
		)B
		ON CMPY_EXP.BOL_ID=B.T_NBR
		ORDER BY CMPY_EXP.BOL_ID ASC	
			
		END
		ELSE
		BEGIN
--		Populate BOL Ids first
		 
		SELECT TOP 1 @local_t_nbr = CMPY_EXP.BOL_ID  
		FROM 
		(
				SELECT P.BOL_ID FROM PES.dbo.PES_TRANSACTIONS_LIB_PTY  P WITH (NOLOCK)
				JOIN DQA_BL D WITH (NOLOCK) 
				ON P.BOL_ID = D.T_NBR
				WHERE P.STATUS <> (CASE @sDeleted WHEN 'N' THEN 'PENDING' ELSE 'NOTHING' END)
				AND D.DIR = @SDIR
				AND P.MODIFIED_BY IN (SELECT USERNAME FROM @TEMPUSER)
				AND ISNULL(D.IS_DELETED,'N') = @sDeleted 
				AND (D.REVIEWED_BY IS NULL OR D.REVIEWED_DT IS NULL)
				AND D.T_NBR > @INBOLID 
		) CMPY_EXP
		JOIN
		(
				SELECT bol.T_NBR FROM dbo.BL_BL AS bol WITH (NOLOCK) JOIN dbo.DQA_VOYAGE AS dvg WITH (NOLOCK) 
				ON (bol.DQA_VOYAGE_ID = dvg.VOYAGE_ID AND dvg.VOYAGE_STATUS = 'AVAILABLE')	 
				WHERE ISNULL(bol.BOL_STATUS,'')NOT IN('MASTER','TEMPMASTER','HOUSE')
				AND bol.T_NBR > @INBOLID
				AND bol.DIR = @SDIR
		)B
		ON CMPY_EXP.BOL_ID=B.T_NBR
		ORDER BY CMPY_EXP.BOL_ID ASC	
			  
	  END
	END
---GET THE NON-COMPANY BILLS
	  ELSE IF (@sCategory='DAILY_LOAD_DT') and (@sCategoryValues <> 'ALL')  and (@sCategoryValues <> '')
	  BEGIN
		--Populate BOL Ids first
		SELECT TOP 1 @LOCAL_T_NBR = A.T_NBR
		FROM
		(
			  SELECT C.T_NBR  
			  FROM CTRL_PROCESS_VOYAGE C WITH (NOLOCK) JOIN DQA_BL D WITH (NOLOCK) 
			  ON D.T_NBR=C.T_NBR AND ISNULL(D.LOCKED_BY_USR,'') = ''       
			  WHERE  C.COMPLETE_STATUS <> (CASE @sDeleted WHEN 'N' THEN 1 ELSE 0 END)
			  AND C.DIR = @SDIR 
			  AND C.PROCESS_NAME =  @SPROC_NAME
			  AND C.OWNER_ID IN (SELECT USERNAME FROM @TEMPUSER) 
              AND (D.REVIEWED_BY IS NULL OR D.REVIEWED_DT IS NULL)
              AND ISNULL(D.IS_DELETED,'N') =@sDeleted 
			  AND CONVERT(VARCHAR(10),DAILY_LOAD_DT,101)IN (@SCATEGORYVALUES)
			  AND C.T_NBR > @INBOLID			 
		)A
		JOIN
		(
					SELECT  T_NBR FROM BL_BL WITH (NOLOCK) INNER JOIN DQA_VOYAGE WITH (NOLOCK) 
					ON (BL_BL.DQA_VOYAGE_ID=DQA_VOYAGE.VOYAGE_ID AND DQA_VOYAGE.VOYAGE_STATUS='AVAILABLE')
					AND ISNULL(BL_BL.DQA_BL_STATUS,'')='PENDING'
					AND ISNULL(BL_BL.BOL_STATUS,'')NOT IN('MASTER','TEMPMASTER','HOUSE')            
		)B
		ON A.T_NBR=B.T_NBR		
		ORDER BY A.T_NBR ASC
	  
	END

	  ELSE IF (@sCategory='LOAD_NBR') and (@sCategoryValues <> 'ALL')and (@sCategoryValues <> '')
	  BEGIN
		 SELECT TOP 1 @LOCAL_T_NBR = A.T_NBR
		FROM
		(

			  SELECT C.T_NBR  
			  FROM CTRL_PROCESS_VOYAGE C WITH (NOLOCK) INNER JOIN DQA_BL D WITH (NOLOCK) 
			  ON D.T_NBR=C.T_NBR AND ISNULL(D.LOCKED_BY_USR,'') = ''       
			  WHERE  C.COMPLETE_STATUS <> (CASE @sDeleted WHEN 'N' THEN 1 ELSE 0 END)
			  AND C.DIR = @SDIR 
			  AND C.PROCESS_NAME =  @SPROC_NAME
			  AND C.OWNER_ID IN (SELECT USERNAME FROM @TEMPUSER) 
              AND (D.REVIEWED_BY IS NULL OR D.REVIEWED_DT IS NULL)
              AND ISNULL(D.IS_DELETED,'N') =@sDeleted 
			  AND C.LOAD_NUMBER IN (@sCategoryValues)
			  AND C.T_NBR > @INBOLID			 
		)A
		JOIN
		(
					SELECT  T_NBR FROM BL_BL WITH (NOLOCK) INNER JOIN DQA_VOYAGE WITH (NOLOCK) 
					ON (BL_BL.DQA_VOYAGE_ID=DQA_VOYAGE.VOYAGE_ID AND DQA_VOYAGE.VOYAGE_STATUS='AVAILABLE')
					AND ISNULL(BL_BL.DQA_BL_STATUS,'')='PENDING'
					AND ISNULL(BL_BL.BOL_STATUS,'')NOT IN('MASTER','TEMPMASTER','HOUSE')            
		)B
		ON A.T_NBR=B.T_NBR		
		
		ORDER BY A.T_NBR ASC
	  END

	  ELSE IF (@sCategory='VDATE') and (@sCategoryValues <> 'ALL')and (@sCategoryValues <> '')
	  BEGIN

		SELECT TOP 1 @LOCAL_T_NBR = A.T_NBR
		FROM
		(
		  SELECT C.T_NBR  
		  FROM CTRL_PROCESS_VOYAGE C WITH (NOLOCK) INNER JOIN DQA_BL D WITH (NOLOCK) 
		  ON D.T_NBR=C.T_NBR AND ISNULL(D.LOCKED_BY_USR,'') = ''       
		  WHERE  C.COMPLETE_STATUS <> (CASE @sDeleted WHEN 'N' THEN 1 ELSE 0 END)
		  AND C.DIR = @SDIR 
		  AND C.PROCESS_NAME =  @SPROC_NAME
		  AND C.OWNER_ID IN (SELECT USERNAME FROM @TEMPUSER) 
          AND (D.REVIEWED_BY IS NULL OR D.REVIEWED_DT IS NULL)
          AND ISNULL(D.IS_DELETED,'N') =@sDeleted 
		  AND D.VDATE IS NOT NULL AND D.VDATE BETWEEN CONVERT(SMALLDATETIME,@sCategoryValues) AND DATEADD(DD,7,CONVERT(SMALLDATETIME,@sCategoryValues))
		  AND C.T_NBR > @INBOLID				
		)A	
		JOIN
		(
					SELECT  T_NBR FROM BL_BL WITH (NOLOCK) INNER JOIN DQA_VOYAGE WITH (NOLOCK) 
					ON (BL_BL.DQA_VOYAGE_ID=DQA_VOYAGE.VOYAGE_ID AND DQA_VOYAGE.VOYAGE_STATUS='AVAILABLE')
					AND ISNULL(BL_BL.DQA_BL_STATUS,'')='PENDING'
					AND ISNULL(BL_BL.BOL_STATUS,'')NOT IN('MASTER','TEMPMASTER','HOUSE')            
		)B
		ON A.T_NBR=B.T_NBR				
		ORDER BY A.T_NBR ASC

	  END
	  ELSE IF (@sCategory='VDATE AS PRODMONTH') and (@sCategoryValues <> 'ALL')and (@sCategoryValues <> '')
	  BEGIN
		  SELECT TOP 1 @LOCAL_T_NBR = A.T_NBR
			FROM
			(
			  SELECT C.T_NBR  
			  FROM CTRL_PROCESS_VOYAGE C WITH (NOLOCK) INNER JOIN DQA_BL D WITH (NOLOCK) 
			  ON D.T_NBR=C.T_NBR AND ISNULL(D.LOCKED_BY_USR,'') = ''       
			  WHERE  C.COMPLETE_STATUS <> (CASE @sDeleted WHEN 'N' THEN 1 ELSE 0 END)
			  AND C.DIR = @SDIR 
			  AND C.PROCESS_NAME =  @SPROC_NAME
			  AND C.OWNER_ID IN (SELECT USERNAME FROM @TEMPUSER) 
              AND (D.REVIEWED_BY IS NULL OR D.REVIEWED_DT IS NULL)
              AND ISNULL(D.IS_DELETED,'N') =@sDeleted 
			  AND D.VDATE IS NOT NULL AND DATENAME(MM,D.VDATE) + ' ' + DATENAME(YYYY,D.VDATE) = @sCategoryValues
			  AND C.T_NBR > @INBOLID				  
			)A			
			JOIN
			(
				SELECT  T_NBR FROM BL_BL WITH (NOLOCK) INNER JOIN DQA_VOYAGE WITH (NOLOCK) 
				ON (BL_BL.DQA_VOYAGE_ID=DQA_VOYAGE.VOYAGE_ID AND DQA_VOYAGE.VOYAGE_STATUS='AVAILABLE')
				AND ISNULL(BL_BL.DQA_BL_STATUS,'')='PENDING'
				AND ISNULL(BL_BL.BOL_STATUS,'')NOT IN('MASTER','TEMPMASTER','HOUSE')            
			)B
			ON A.T_NBR=B.T_NBR		
			ORDER BY A.T_NBR ASC
	  END

	  ELSE 
	  BEGIN
		  SELECT TOP 1 @LOCAL_T_NBR = A.T_NBR
			FROM
			(
			  SELECT C.T_NBR  
			  FROM CTRL_PROCESS_VOYAGE C WITH (NOLOCK) INNER JOIN DQA_BL D WITH (NOLOCK) 
			  ON D.T_NBR=C.T_NBR AND ISNULL(D.LOCKED_BY_USR,'') = ''       
			  --WHERE  C.COMPLETE_STATUS <> (CASE @sDeleted WHEN 'N' THEN 2 ELSE 0 END)
			  WHERE  C.COMPLETE_STATUS <> (CASE @sDeleted WHEN 'N' THEN 1 ELSE 0 END)
			  AND C.DIR = @SDIR 
			  AND C.PROCESS_NAME =  @SPROC_NAME
			  AND C.OWNER_ID IN (SELECT USERNAME FROM @TEMPUSER) 
              AND (D.REVIEWED_BY IS NULL OR D.REVIEWED_DT IS NULL)
              AND ISNULL(D.IS_DELETED,'N') =@sDeleted 			  
			  AND C.T_NBR > @INBOLID				  
			)A			
			JOIN
			(
				SELECT  T_NBR FROM BL_BL WITH (NOLOCK) INNER JOIN DQA_VOYAGE WITH (NOLOCK) 
				ON (BL_BL.DQA_VOYAGE_ID=DQA_VOYAGE.VOYAGE_ID AND DQA_VOYAGE.VOYAGE_STATUS='AVAILABLE')
				AND ISNULL(BL_BL.DQA_BL_STATUS,'')='PENDING'
				AND ISNULL(BL_BL.BOL_STATUS,'')NOT IN('MASTER','TEMPMASTER','HOUSE')            
			)B
			ON A.T_NBR=B.T_NBR		
			ORDER BY A.T_NBR ASC

	  END

	IF ( @local_t_nbr > 0 )
	BEGIN
		UPDATE DQA_BL WITH (UPDLOCK) 
		SET LOCKED_BY_USR = @Modified_by, locked_by_date = GETDATE() , edit_mode = 'ADMIN_MODE' 
		WHERE T_NBR = @local_t_nbr	
	END  

	SET @Out_T_NBR = @local_t_nbr

-- [Pramod K] - 09/24/2010
-- Log end time
EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
 @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT
  
END
GO
