/****** Object:  StoredProcedure [dbo].[POPULATE_BL_CACHE_DQA]    Script Date: 01/03/2013 19:48:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[POPULATE_BL_CACHE_DQA]  
    @blcnt float(53)  OUTPUT

AS 

BEGIN

-- Log start time
--DECLARE @IdLogOut int, @DbName varchar(100), @SprocName varchar(100), @ParametersIn varchar(MAX)
--SELECT @DbName = @@SERVERNAME + '; ' + DB_NAME(), @SprocName = OBJECT_NAME(@@PROCID)
--,@ParametersIn = NULL
--EXEC SCREEN_TEST.dbo.usp_LogSProcCallsStart
-- @DbName = @DbName ,@SprocName = @SprocName ,@Parameters = @ParametersIn ,@IdLog = @IdLogOut OUT


--TRUNCATE TABLE dbo.BL_CACHE_DQA

--INSERT INTO dbo.BL_CACHE_DQA (T_NBR, DQA_VOYAGE_ID, BOL_STATUS, VOYAGE_STATUS, LOAD_NBR_CODE)
--(
--SELECT b.T_NBR, b.DQA_VOYAGE_ID, b.BOL_STATUS, v.VOYAGE_STATUS, b.LOAD_NBR_CODE
--FROM dbo.BL_CACHE bc WITH (NOLOCK) JOIN dbo.BL_BL b WITH (NOLOCK) ON b.T_NBR = bc.T_NBR  JOIN dbo.DQA_VOYAGE v WITH (NOLOCK) ON v.VOYAGE_ID = b.DQA_VOYAGE_ID
--)


/****** Object:  Index [IX_BL_CACHE_DQA_B]    Script Date: 03/01/2011 16:58:31 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[BL_CACHE_DQA_B]') AND name = N'IX_BL_CACHE_DQA_B')
DROP INDEX [IX_BL_CACHE_DQA_B] ON [dbo].[BL_CACHE_DQA_B] WITH ( ONLINE = OFF )

/****** Object:  Index [IX_BL_CACHE_DQA_B_1]    Script Date: 03/01/2011 16:58:31 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[BL_CACHE_DQA_B]') AND name = N'IX_BL_CACHE_DQA_B_1')
DROP INDEX [IX_BL_CACHE_DQA_B_1] ON [dbo].[BL_CACHE_DQA_B] WITH ( ONLINE = OFF )

/****** Object:  Index [IX_BL_CACHE_DQA_B_2]    Script Date: 03/01/2011 16:58:31 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[BL_CACHE_DQA_B]') AND name = N'IX_BL_CACHE_DQA_B_2')
DROP INDEX [IX_BL_CACHE_DQA_B_2] ON [dbo].[BL_CACHE_DQA_B] WITH ( ONLINE = OFF )


TRUNCATE TABLE dbo.BL_CACHE_DQA_B

INSERT INTO dbo.BL_CACHE_DQA_B ([T_NBR], [STATUS_VALUE], [IS_HIGH_PRIORITY])
(
SELECT b.T_NBR, 
CASE WHEN (b.BOL_STATUS NOT IN ('MASTER','TEMPMASTER','HOUSE')) AND (v.VOYAGE_STATUS = 'AVAILABLE') THEN 1
ELSE 0
END,
CASE WHEN (b.LOAD_NBR_CODE IN ('002','007','012','013','016','017')) THEN 1
ELSE 0
END
FROM dbo.BL_CACHE bc WITH (NOLOCK) JOIN dbo.BL_BL b WITH (NOLOCK) ON b.T_NBR = bc.T_NBR  JOIN dbo.DQA_VOYAGE v WITH (NOLOCK) ON v.VOYAGE_ID = b.DQA_VOYAGE_ID
)


	SELECT @blcnt = @@ROWCOUNT





/****** Object:  Index [IX_BL_CACHE_DQA_B]    Script Date: 03/01/2011 16:58:33 ******/
CREATE UNIQUE CLUSTERED INDEX [IX_BL_CACHE_DQA_B] ON [dbo].[BL_CACHE_DQA_B] 
(
	[T_NBR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = OFF, ALLOW_PAGE_LOCKS  = OFF) ON [PRIMARY]

/****** Object:  Index [IX_BL_CACHE_DQA_B_1]    Script Date: 03/01/2011 16:58:33 ******/
CREATE NONCLUSTERED INDEX [IX_BL_CACHE_DQA_B_1] ON [dbo].[BL_CACHE_DQA_B] 
(
	[STATUS_VALUE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = OFF, ALLOW_PAGE_LOCKS  = OFF) ON [PRIMARY]

/****** Object:  Index [IX_BL_CACHE_DQA_B_2]    Script Date: 03/01/2011 16:58:33 ******/
CREATE NONCLUSTERED INDEX [IX_BL_CACHE_DQA_B_2] ON [dbo].[BL_CACHE_DQA_B] 
(
	[IS_HIGH_PRIORITY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = OFF, ALLOW_PAGE_LOCKS  = OFF) ON [PRIMARY]

-- Log end time
--EXEC SCREEN_TEST.dbo.usp_LogSProcCallsEnd
-- @Id = @IdLogOut ,@RowsAffected = @@ROWCOUNT

END
GO
