/****** Object:  View [dbo].[TI_VIEW_RAW_DATA_JOINED_OLD]    Script Date: 01/03/2013 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TI_VIEW_RAW_DATA_JOINED_OLD]
AS
SELECT DISTINCT
BL_BL.BOL_ID AS T_NBR,
BL_BL.BOL_NUMBER AS BL_NBR,
COALESCE(SCAC_ALIAS.CODE,BL_BL.CARRIER_CODE) AS X_SCAC,
SCAC_ALIAS.NAME AS X_SCAC_NAME,
BL_BL.VESSEL_CODE AS VESSEL_CD,
BL_BL.VESSEL_NAME,
CONVERT(CHAR(2),LEFT(BL_BL.VESSEL_COUNTRY,2)) AS VESSEL_FLAG,
BL_BL.VOYAGE_NUMBER AS VOYAGE_NBR,
/* Cognizant Changes, Start, 26-Oct-2009*/
CONVERT(DATETIME, SUBSTRING(BL_BL.SAILING_DATE,5,4) + SUBSTRING(BL_BL.SAILING_DATE,1,4))  AS EST_ARR_DT,
CONVERT(DATETIME, SUBSTRING(BL_BL.SAILING_DATE,5,4) + SUBSTRING(BL_BL.SAILING_DATE,1,4)) AS ACT_ARR_DT,
--COALESCE(DQA_VOYAGE.EST_ARRIVAL_DT,BL_BL.VDATE) AS EST_ARR_DT,
--COALESCE(DQA_VOYAGE.ACT_ARRIVAL_DT,BL_BL.VDATE) AS ACT_ARR_DT,
/* Cognizant Changes, End, 26-Oct-2009*/
NULL AS PLACE_RECEIPT_CD,					-- We do not have this value in PES RAW
NULL AS X_PLACE_RECEIPT_CD,					-- We do not have this value in PES RAW
NULL AS PLACE_RECEIPT_REGION,				-- We do not have this value in PES RAW
BL_BL.PLACE_OF_RECEIPT AS PLACE_RECEIPT_NAME,
LEFT(BL_BL.FOREIGN_LOADING_PORT,5) AS FOREIGN_PORT,
COALESCE(FPORT2.PIERS_PORT_CODE,LEFT(BL_BL.FOREIGN_LOADING_PORT,5))     AS X_FP_LADING_CD,
NULL AS FP_LADING_REGION,					-- We do not have this value in PES RAW
CASE WHEN BL_BL.IMPEXP='E' THEN BL_BL.FOREIGN_LOADING_PORT ELSE FPORT2.PORT_NAME END AS      FP_LADING_NAME,
NULL AS FP_LADING_REGION_NAME,				-- We do not have this value in PES RAW
BL_BL.DISCHARGE_PORT AS US_PORT,
COALESCE(USPORT1.PIERS_PORT_CODE,LEFT(BL_BL.DISCHARGE_PORT,4))    AS X_PORT_UNLADING_CD,
NULL AS PORT_UNLADING_REGION,				-- We do not have this value in PES RAW
USPORT1.PORT_NAME AS PORT_UNLADING_NAME,
BL_BL.US_DIST_PORT AS CLEARING_PORT_CD,
COALESCE(USPORT2.PIERS_PORT_CODE,LEFT(BL_BL.US_DIST_PORT,4)) AS X_CLEARING_PORT_CD,
NULL AS US_CLEARING_REGION	,				-- We do not have this value in PES RAW
USPORT2.PORT_NAME AS US_CLEARING_NAME,
BL_BL.FOREIGN_PORT AS FP_DEST_CD,
COALESCE(FPORT3.PIERS_PORT_CODE,FOREIGN_PORT) AS X_FP_DEST_CD,
FPORT3.COUNTRY AS FP_DEST_CNTRY,
LTRIM(RTRIM(COALESCE(FPORT3.PORT_NAME,FPORT3.PIERS_NAME)))AS    FP_DEST_NAME,
BL_BL.MFEST_QUANTITY AS MANIFEST_QTY,
COALESCE(MANIFEST_UNIT_ALIAS.UM,BL_BL.MFEST_UNITS) AS  X_MANIFEST_UNIT,
ROUND(BL_BL.WEIGHT,2) AS WGT,
ROUND((BL_BL.WEIGHT * WEIGHT_UNIT_ALIAS.CONVERSION_FACTOR),2) AS STD_WGT,
NULL AS INTERP_STD_WGT_FLG,-- We do not have this value in PES RAW

COALESCE(WEIGHT_UNIT_ALIAS.WGT_UNIT_ALIAS,BL_BL.WEIGHT_UNITS) AS X_WGT_UNIT,
ROUND (BL_BL.MEAS,2) MEAS,
COALESCE (MEAS_UNIT_ALIAS.MEAS_UNIT_ALIAS,BL_BL.MEAS_UNITS) AS X_MEAS_UNIT,
BL_BL.INBOUND_ENTRY_TYPE AS INBOND_ENTRY_TYPE,
/* Cognizant Changes, Start, 26-Oct-2009*/
BL_BL.MANIFEST_NUMBER AS MANIFEST_NBR,
--COALESCE (DQA_VOYAGE.ACT_MANIFEST_NBR,BL_BL.MANIFEST_NUMBER) AS MANIFEST_NBR,
/* Cognizant Changes, End, 26-Oct-2009*/

NULL AS TEU_CNT,	-- We do not have this value in PES RAW
NULL AS TEU_SRC,	-- We do not have this value in PES RAW
NULL AS LCL_FLG,	-- We do not have this value in PES RAW

NULL AS CNTRIZED_SHPMT_FLG,	-- We do not have this value in PES RAW
COALESCE (TRANS_MODE_ALIAS.TRANS_MODE_CD_ALIAS,BL_BL.MODE_TRANSPORT) AS X_TRANS_MODE_CD,
TRANS_MODE_ALIAS.DESCRIPTION AS TRANS_MODE_CD_DESCRIPTION,
NULL AS FRAME_NBR,		-- We do not have this value in PES RAW
BL_BL.LOAD_NUMBER AS LOAD_NBR,
NULL AS LOAD_SEQ_NBR, 	-- We do not have this value in PES RAW
NULL LOAD_TYPE,			-- We do not have this value in PES RAW. We do not populate LOAD_TYPE in HEP_LOG
NULL AS LAST_UPDATE_DT,  -- We do not have this value in PES RAW
NULL AS DB_LOAD_NBR,		-- We do not have this value in PES RAW

PES.DBO.pes_udf_GetHazmatClass(BL_BL.BOL_ID) AS HZRD_CLASS,			-- Need to create a UDF for this, based on hazmat_class() UDF in Batch
/* Cognizant Changes, Start, 26-Oct-2009*/
BL_BL.CARRIER_CODE AS SCAC,
--COALESCE(DQA_VOYAGE.SCAC,BL_BL.CARRIER_CODE) AS SCAC,
/* Cognizant Changes, End, 26-Oct-2009*/
NULL AS CONS_STATE,
NULL AS NOT_STATE,
NULL AS ANOT_STATE,
BL_BL.IMPEXP AS DIR,
BL_BL.BATCH_ID,
BL_BL.BOL_NUMBER AS ORIG_BL_NBR,
CASE WHEN COALESCE(SUBSTRING(BL_BL.MASTER_BOL_DATA,41,1),'X')='M' THEN 'H'ELSE 'V' END AS VISIBILITY
		
FROM PES.DBO.ARCHIVE_RAW_BOL BL_BL  WITH (NOLOCK) 

LEFT OUTER JOIN PES.DBO.TI_VIEW_REF_CARRIER SCAC_ALIAS  WITH (NOLOCK) 
ON SCAC_ALIAS.CODE = 
(CASE 
WHEN COALESCE(SUBSTRING(BL_BL.MASTER_BOL_DATA,41,1),'X')='H' THEN 
SUBSTRING(BL_BL.MASTER_BOL_DATA,42,4) ELSE BL_BL.CARRIER_CODE
END)

LEFT OUTER JOIN PES.DBO.TI_VIEW_REF_PORT FPORT2  WITH (NOLOCK) 
ON FPORT2.CODE = BL_BL.FOREIGN_LOADING_PORT

LEFT OUTER JOIN PES.DBO.TI_VIEW_REF_PORT USPORT1  WITH (NOLOCK) 
ON USPORT1.CODE = BL_BL.DISCHARGE_PORT

LEFT OUTER JOIN PES.DBO.TI_VIEW_REF_PORT USPORT2  WITH (NOLOCK) 
ON USPORT2.CODE = BL_BL.US_DIST_PORT

LEFT OUTER JOIN PES.DBO.TI_VIEW_REF_PORT FPORT3  WITH (NOLOCK) 
ON FPORT3.CODE = BL_BL.FOREIGN_PORT

/* Cognizant Changes, Start, 26-Oct-2009*/

--LEFT OUTER JOIN PES.DBO.TI_VIEW_DQA_VOYAGE DQA_VOYAGE  WITH (NOLOCK) 
--ON DQA_VOYAGE.VOYAGE_NBR = BL_BL.VOYAGE_NUMBER

/* Cognizant Changes, End, 26-Oct-2009*/

LEFT OUTER JOIN PES.DBO.TI_VIEW_REF_PPMM_PACK MANIFEST_UNIT_ALIAS  WITH (NOLOCK) 
ON MANIFEST_UNIT_ALIAS.AMSUM = BL_BL.MFEST_UNITS

LEFT OUTER JOIN PES.DBO.REF_WEIGHT_UNIT WEIGHT_UNIT_ALIAS  WITH (NOLOCK) 
ON WEIGHT_UNIT_ALIAS.WGT_UNIT = BL_BL.WEIGHT_UNITS

LEFT OUTER JOIN PES.DBO.REF_MEAS_UNIT MEAS_UNIT_ALIAS  WITH (NOLOCK) 
ON MEAS_UNIT_ALIAS.MEAS_UNIT = BL_BL.MEAS_UNITS

LEFT OUTER JOIN PES.DBO.REF_TRANS_MODE TRANS_MODE_ALIAS  WITH (NOLOCK) 
ON TRANS_MODE_ALIAS.TRANS_MODE_CD = BL_BL.MODE_TRANSPORT

LEFT OUTER JOIN PES.DBO.TI_VIEW_REF_PORT US_PORT_REGION  WITH (NOLOCK) 
ON US_PORT_REGION.CODE = BL_BL.DISCHARGE_PORT

LEFT OUTER JOIN PES.DBO.TI_VIEW_REF_PORT US_CLEARING_REGION  WITH (NOLOCK) 
ON US_PORT_REGION.CODE = BL_BL.US_DIST_PORT
/* Cognizant Changes, Start, 26-Oct-2009*/
WHERE BL_BL.INVALIDBILLFLAG IS NULL
/* Cognizant Changes, End, 26-Oct-2009*/
GO
