USE [PES]
GO
/****** Object:  View [dbo].[aaTemp]    Script Date: 01/03/2013 19:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[aaTemp] AS
SELECT TOP 1000 *
FROM ARCHIVE_RAW_BOL WITH (NOLOCK)
WHERE dbo.udf_ConverMMDDYYYYToDateTime(SAILING_DATE) BETWEEN '10/01/2011' AND '10/31/2011' AND IMPEXP = 'I'
GO
