/****** Object:  View [dbo].[PES_REF_PORT_NW_FUZZY]    Script Date: 01/03/2013 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PES_REF_PORT_NW_FUZZY] AS
SELECT ID,CODE,PORT_NAME,DEEPWATER_FLG,ACTIVE,MODIFIED_DT,MODIFIED_BY,IS_TMP,STATE,DELETED,COUNTRY,CAST(REPLACE(PIERS_NAME,' ','') AS VARCHAR(35)) AS PIRS_NAME,PIERS_PORT_CODE,IS_US_PORT,PORT_DESC FROM REF_PORT WHERE IS_US_PORT=0 AND DEEPWATER_FLG='N'
AND DELETED='N' AND IS_TMP='N'
GO
