/****** Object:  View [dbo].[PES_PPMM_PACK]    Script Date: 01/03/2013 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PES_PPMM_PACK] AS
SELECT * FROM
(
SELECT ID,MEAS_DESC AMSUM,UNIT UM,MODIFY_USER MODIFIED_BY,
	   MODIFY_DATE MODIFIED_DT,DELETED 
FROM REF_MEASURE
UNION
SELECT REF_ID ID,MEAS_DESC AMSUM,UNIT UM,
	   MODIFIED_BY,MODIFIED_DT,DELETED 
FROM LIB_MEASURE
) UOM
GO
