/****** Object:  View [dbo].[PES_REF_VESSEL_NAME_COUNTRY_NON_DUPLICATE]    Script Date: 01/03/2013 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PES_REF_VESSEL_NAME_COUNTRY_NON_DUPLICATE]
AS SELECT ID,CAST(REPLACE(LTRIM(RTRIM(STND_VESSEL)),' ','') 
AS VARCHAR(35)) LKP_STND_VESSEL_NAME,
CAST(REPLACE(LTRIM(RTRIM(VESSEL_COUNTRY)),' ','') 
AS VARCHAR(35)) LKP_STND_VESSEL_COUNTRY,STND_VESSEL FROM REF_VESSEL 
WHERE DELETED='N'
GO
