/****** Object:  View [dbo].[PES_VIEW_REF_CMMCST]    Script Date: 01/03/2013 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PES_VIEW_REF_CMMCST]
AS

/*
Modification History: Cognizant, 23-March-2010
Change Description: Fetch Unique records from REF_CMMCST
*/
	SELECT C.COMP_NAME,C.TSUSA
	FROM PES.DBO.REF_CMMCST C  WITH (NOLOCK) 
	JOIN

	(
		SELECT COMP_NAME
		FROM PES.DBO.REF_CMMCST  WITH (NOLOCK) 
		GROUP BY COMP_NAME
		HAVING COUNT(*)=1
	)X
	ON RTRIM(C.COMP_NAME) = RTRIM(X.COMP_NAME)
GO
