/****** Object:  View [dbo].[v_STND_EXCEPTION_GRP_BY_DTE]    Script Date: 01/03/2013 19:49:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_STND_EXCEPTION_GRP_BY_DTE]
AS
SELECT     alg.MODIFY_BY, SUBSTRING(CONVERT(VARCHAR(25), alg.MODIFY_DATE, 101), 1, 10) + ':' + SUBSTRING(CONVERT(VARCHAR(25), alg.MODIFY_DATE, 
                      114), 1, 2) AS HEREDT, bol.DIR, COUNT(DISTINCT alg.T_NBR) + SUM((CASE WHEN alg.[CMD_CODE] IS NULL THEN 0 ELSE (CASE WHEN alg.[JOC_CODE] IS NULL
                       THEN 0 ELSE 1 END) END)) AS CNT, alg.EXCEPTION_TYPE
FROM         dbo.PES_AUDIT_LOGS AS alg INNER JOIN
                      dbo.DQA_BL AS bol ON bol.T_NBR = alg.T_NBR
WHERE alg.BILL_DELETED = 0
GROUP BY alg.MODIFY_BY, SUBSTRING(CONVERT(VARCHAR(25), alg.MODIFY_DATE, 101), 1, 10) + ':' + SUBSTRING(CONVERT(VARCHAR(25), 
                      alg.MODIFY_DATE, 114), 1, 2), bol.DIR, alg.EXCEPTION_TYPE
GO
