/****** Object:  View [dbo].[PES_VIEW_LIB_COMPANY_FUZZY_FOREIGN]    Script Date: 01/03/2013 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PES_VIEW_LIB_COMPANY_FUZZY_FOREIGN] AS
SELECT A.COMP_ID,A.CLUSTER_ID,A.NAME,CAST(DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(A.NAME) AS VARCHAR(150)) NAME1,
A.ADDRESS1,A.CITY,A.STATE,A.COUNTRY,A.ZIP,
B.DUNS_NUMBER  FROM 
PES_LIB_COMPANY A  WITH (NOLOCK)  JOIN PES_REF_COMPANY B  WITH (NOLOCK) 
ON A.CLUSTER_ID=B.COMP_ID
WHERE LTRIM(RTRIM(ISNULL(A.NAME,'')))<>''
AND LTRIM(RTRIM(ISNULL(A.CITY,''))) NOT IN('','ZZ','XX')
AND LTRIM(RTRIM(A.COUNTRY)) NOT IN('ZZ','','XX')
AND A.MATCH_FLAG=1
GO
