/****** Object:  View [dbo].[PES_REF_US_PORT_FUZZY]    Script Date: 01/03/2013 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PES_REF_US_PORT_FUZZY]
AS 
SELECT ID,CAST(REPLACE(PIERS_NAME,' ','') AS VARCHAR(35)) AS PIERS_NAME FROM REF_PORT 
WHERE IS_US_PORT=1 AND 
IS_TMP='N' AND 
DELETED='N' AND 
PIERS_NAME IN(
SELECT PIERS_NAME FROM REF_PORT
WHERE IS_US_PORT=1 AND
IS_TMP='N' AND 
DELETED='N'
GROUP BY PIERS_NAME HAVING COUNT(*)=1)
GO
