/****** Object:  View [dbo].[PES_LIB_VESSEL_NAME_NON_DUPLICATE]    Script Date: 01/03/2013 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PES_LIB_VESSEL_NAME_NON_DUPLICATE]
AS
SELECT 
(
	SELECT TOP 1 ID FROM REF_VESSEL V  WITH (NOLOCK) 
	WHERE V.STND_VESSEL = X.REF_NAME AND V.DELETED='N'
) AS REF_ID,
CAST(REPLACE(LTRIM(RTRIM(X.NAME_KEY)),' ','') AS VARCHAR(35)) LKP_LIB_STND_VESSEL
FROM
(
	SELECT A.NAME_KEY,A.REF_NAME 
	FROM LIB_VESSEL A  WITH (NOLOCK) 
	JOIN 
	(
		SELECT DISTINCT STND_VESSEL
		FROM REF_VESSEL  WITH (NOLOCK)  WHERE DELETED='N'
	)B
	ON A.REF_NAME=B.STND_VESSEL 
	JOIN
	(
		SELECT NAME_KEY
		FROM LIB_VESSEL  WITH (NOLOCK) 
		GROUP BY NAME_KEY
		HAVING COUNT(*)=1
	)C
	ON A.NAME_KEY=C.NAME_KEY	
	GROUP BY A.NAME_KEY,A.REF_NAME 
	HAVING COUNT(*) =1
)X
GO
