/****** Object:  View [dbo].[PES_VIEW_COMPRESS_COMPANY_FOREIGN]    Script Date: 01/03/2013 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PES_VIEW_COMPRESS_COMPANY_FOREIGN]
AS
SELECT A.COMP_ID,DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS (ISNULL(A.NAME,'')) COMPRESSED_COMPANY_NAME,
DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS (ISNULL(A.ADDRESS1,'')+ISNULL(A.CITY,'')
+ISNULL((SELECT TOP 1 PIERS_COUNTRY FROM REF_COUNTRY  WITH (NOLOCK)  WHERE CAST(JOC_CODE AS VARCHAR(10))=A.COUNTRY),''))
COMPRESSED_ADDRESS
FROM PES_LIB_COMPANY A  WITH (NOLOCK)  JOIN PES_REF_COMPANY B WITH (NOLOCK)  ON A.CLUSTER_ID=B.COMP_ID
WHERE LTRIM(RTRIM(ISNULL(A.NAME,'')))<>''
AND LTRIM(RTRIM(ISNULL(A.CITY,''))) NOT IN('','ZZ','XX')
AND LTRIM(RTRIM(A.COUNTRY)) NOT IN('ZZ','','XX')
AND A.MATCH_FLAG=1
GO
