/****** Object:  View [dbo].[V_ORIGIN_CITY]    Script Date: 01/03/2013 19:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_ORIGIN_CITY] AS


SELECT	CASE WHEN P.ID IS NULL AND LEN(X.STATE)<= 2 THEN '0000' 
			 WHEN P.ID IS NULL AND LEN(X.STATE)> 2	THEN '00000' ELSE P.CODE END AS CODE,
				SUBSTRING(REPLACE(ISNULL(X.CITY,''),' ' ,''),1,35) COMPRESSED_NAME,			
		X.CITY AS CITY,
		SUBSTRING(X.STATE,1,7) STATE
FROM
(

	SELECT DISTINCT PIERS_NAME AS CITY,
	CASE WHEN IS_US_PORT = 1 THEN STATE ELSE COUNTRY END STATE
	FROM PES.DBO.REF_PORT T  WITH (NOLOCK) 
	WHERE ID <>0
	AND IS_TMP = 'N' 
	AND DELETED = 'N'
	AND ACTIVE='Y'

	UNION

	SELECT DISTINCT M_CITY AS CITY,M_ST AS STATE
	FROM PES.DBO.REF_CITYST  WITH (NOLOCK) 
	WHERE DELETED = 'N'

	UNION

	SELECT DISTINCT M_CITY AS CITY,M_COUNTRY AS STATE
	FROM PES.DBO.REF_CITYCOUN  WITH (NOLOCK) 
	WHERE DELETED = 'N'
) X

LEFT OUTER JOIN 

(
	SELECT ID,CODE,PIERS_NAME,
	CASE WHEN IS_US_PORT = 1 THEN STATE ELSE COUNTRY END STATE 
	FROM PES.DBO.REF_PORT P  WITH (NOLOCK) 
	WHERE ID <>0
	AND IS_TMP = 'N' 
	AND DELETED = 'N'
	AND ACTIVE='Y'
)P

ON X.CITY = P.PIERS_NAME AND ISNULL(X.STATE,'') = ISNULL(P.STATE,'')
GO
