/****** Object:  View [dbo].[V_REF_CARRIER_MDSC]    Script Date: 01/03/2013 19:49:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_REF_CARRIER_MDSC]
AS
SELECT ID FROM PES.DBO.REF_CARRIER WITH (NOLOCK) WHERE [TYPE]='MDSC'
GO
