/****** Object:  View [dbo].[ALLBLS]    Script Date: 01/03/2013 19:49:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  VIEW [dbo].[ALLBLS] ("T_NBR", "BL_NBR", "SCAC", "VESSEL_NAME", "VOYAGE_NBR", "US_PORT", "FOREIGN_PORT", "MANIFEST_QTY", "MANIFEST_UNIT", "WGT", "WGT_UNIT", "PRECARRIER", "ULTPORT", "FINAL_DEST_CITY", "FINAL_DEST_STATE", "FINAL_DEST_CNTRY", "SHIPPER", "CONSIGNEE", "NOTIFY", "ALSONOTIFY", "COMMODITY", "MARKS", "DQA_BL_STATUS", "DQA_OWNER_ID", "DT_LAST_UPDT", "ACT_ARRIVAL_DT", "DIR") AS 
   SELECT "T_NBR","BL_NBR","SCAC","VESSEL_NAME","VOYAGE_NBR","US_PORT","FOREIGN_PORT","MANIFEST_QTY","MANIFEST_UNIT","WGT","WGT_UNIT","PRECARRIER","ULTPORT","FINAL_DEST_CITY","FINAL_DEST_STATE","FINAL_DEST_CNTRY","SHIPPER","CONSIGNEE","NOTIFY","ALSONOTIFY","COMMODITY","MARKS","DQA_BL_STATUS","DQA_OWNER_ID","DT_LAST_UPDT","ACT_ARRIVAL_DT","DIR" FROM BL_CACHE 
 UNION ALL 
 SELECT "T_NBR","BL_NBR","SCAC","VESSEL_NAME","VOYAGE_NBR","US_PORT","FOREIGN_PORT","MANIFEST_QTY","MANIFEST_UNIT","WGT","WGT_UNIT","PRECARRIER","ULTPORT","FINAL_DEST_CITY","FINAL_DEST_STATE","FINAL_DEST_CNTRY","SHIPPER","CONSIGNEE","NOTIFY","ALSONOTIFY","COMMODITY","MARKS","DQA_BL_STATUS","DQA_OWNER_ID","DT_LAST_UPDT","ACT_ARRIVAL_DT","DIR" FROM BL_CACHE_LATE
GO
