/****** Object:  View [dbo].[AMSCDLOAD_PES_PORT_VIEW]    Script Date: 01/03/2013 19:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AMSCDLOAD_PES_PORT_VIEW]
(PORT_ID,IS_USPORT,PORT_NAME,PORT_CODE,PORT_DESC)

AS

SELECT 
PORT.ID	PORT_ID,	
CASE WHEN PORT.IS_US_PORT='1' THEN 'Y'ELSE 'N' END IS_USPORT,
LTRIM(RTRIM(PORT.PIERS_NAME)) PORT_NAME,
ISNULL(CONV.SOURCE,PORT.CODE) PORT_CODE,
ISNULL(PORT.PORT_DESC,' ') PORT_DESC
FROM 
REF_PORT PORT  WITH (NOLOCK) 
LEFT OUTER JOIN 
PES_PORT_CONVERSION CONV  WITH (NOLOCK) 
ON PORT.CODE=CONV.TARGET
GO
