/****** Object:  View [dbo].[PES_LIB_US_PORT_FUZZY]    Script Date: 01/03/2013 19:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PES_LIB_US_PORT_FUZZY] 
AS 
SELECT CAST(REPLACE(A.NAME_KEY,' ','') AS VARCHAR(35)) AS NAME_KEY,A.REF_ID FROM LIB_PORT A  WITH (NOLOCK) , REF_PORT B WITH (NOLOCK)   
where A.NAME_KEY IN(SELECT C.NAME_KEY FROM LIB_PORT C  WITH (NOLOCK)  JOIN REF_PORT D  WITH (NOLOCK)  ON C.REF_ID=D.ID WHERE C.IS_US_PORT=1
AND D.IS_US_PORT=1 AND D.DELETED='N' GROUP BY C.NAME_KEY HAVING COUNT(*)=1) AND 
A.is_us_port=1 AND 
A.REF_ID=B.ID AND 
B.DELETED='N' AND 
B.IS_TMP='N' AND 
B.IS_US_PORT=1
GO
