/****** Object:  View [dbo].[V_COUNTRY_OF_ORIGIN]    Script Date: 01/03/2013 19:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_COUNTRY_OF_ORIGIN]
AS
SELECT DISTINCT
BL_BL.BOL_ID AS T_NBR,
R.COUNTRY_CD AS CNTRY_CD,
--Changes by Cognizant, 27-Jan-2010, start
--COALESCE(BL_BL.DESTINATION_COUNTRY,FPORT1.COUNTRYL) AS CNTRY_LONG_NAME,
--COALESCE(BL_BL.DESTINATION_COUNTRY,FPORT1.COUNTRY) AS CNTRY_NAME,

--Changes for Defect 3045, Abbreviated Country of Origin field in TI3 Imports, START
COALESCE(X.COUNTRY,FPORT1.COUNTRYL,BL_BL.DESTINATION_COUNTRY) AS CNTRY_LONG_NAME,
COALESCE(X.PIERS_COUNTRY,FPORT1.COUNTRY,BL_BL.DESTINATION_COUNTRY) AS CNTRY_NAME,
--Changes for Defect 3045, Abbreviated Country of Origin field in TI3 Imports, END

--Changes by Cognizant, 27-Jan-2010, end
R.TRADE_REGION_CD,
R.NAME AS TRADE_REGION_NAME,
R.NAME	AS	FORMATTED_NAME
FROM PES.DBO.ARCHIVE_RAW_BOL BL_BL  WITH (NOLOCK) 

--Changes for Defect 3660, Missing Raw Country of Origin, START
--LEFT OUTER JOIN PES.DBO.TI_VIEW_REF_PORT_NAME FPORT1  WITH (NOLOCK) 
LEFT OUTER JOIN PES.DBO.TI_VIEW_REF_PORT_NAME_COUNTRY FPORT1  WITH (NOLOCK) 
--Changes for Defect 3660, Missing Raw Country of Origin, END

--Changes by Cognizant, 27-Jan-2010, start
--ON FPORT1.PIERS_NAME = COALESCE(BL_BL.PLACE_OF_RECEIPT,BL_BL.DESTINATION_CITY,BL_BL.PORT_OF_DESTINATION)
ON FPORT1.PIERS_NAME = PES.DBO.PES_UDF_PLACE_OF_RECEIPT(COALESCE(BL_BL.PLACE_OF_RECEIPT,BL_BL.DESTINATION_CITY,BL_BL.PORT_OF_DESTINATION))
--Changes by Cognizant, 27-Jan-2010, end

LEFT OUTER JOIN PES.DBO.[V_REGION] R
ON R.PIERS_COUNTRY = FPORT1.COUNTRY

--Changes for Defect 3045, Abbreviated Country of Origin field in TI3 Imports, START
LEFT OUTER JOIN 
(
	SELECT TOP 1 *
	FROM PES.DBO.REF_COUNTRY  WITH (NOLOCK) 
	WHERE IS_MASTER='Y'
)X
ON BL_BL.DESTINATION_COUNTRY = CASE WHEN LEN(ISNULL(BL_BL.DESTINATION_COUNTRY,'')) = 2 THEN  X.[ISO ALPHA-2 CODE] ELSE X.PIERS_COUNTRY END
--Changes for Defect 3045, Abbreviated Country of Origin field in TI3 Imports, END

WHERE BL_BL.INVALIDBILLFLAG IS NULL
GO
