/****** Object:  View [dbo].[PES_LIB_VESSEL_NAME_COUNTRY_NON_DUPLICATE]    Script Date: 01/03/2013 19:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PES_LIB_VESSEL_NAME_COUNTRY_NON_DUPLICATE]
AS
SELECT B.ID REF_ID,CAST(REPLACE(LTRIM(RTRIM(A.NAME_KEY)),' ','') AS VARCHAR(35)) LKP_LIB_STND_VESSEL,
CAST(REPLACE(LTRIM(RTRIM(ISNULL(B.VESSEL_COUNTRY,''))),' ','') 
AS VARCHAR(35)) LKP_STND_VESSEL_COUNTRY  FROM LIB_VESSEL A,REF_VESSEL B WHERE 
A.REF_NAME=B.STND_VESSEL AND B.DELETED='N'
GO
