/****** Object:  View [dbo].[PES_VIEW_LIB_COMPANY]    Script Date: 01/03/2013 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PES_VIEW_LIB_COMPANY] AS
SELECT COMP_ID,CLUSTER_ID,NAME,ADDRESS1,CITY,STATE,COUNTRY,ZIP
FROM PES_LIB_COMPANY  WITH (NOLOCK)
GO
