/****** Object:  View [dbo].[ti_ref_port_name_state_V]    Script Date: 01/03/2013 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ti_ref_port_name_state_V]
AS
SELECT ID,CODE,PORT_NAME,DEEPWATER_FLG,ACTIVE,MODIFIED_DT,MODIFIED_BY,IS_TMP,STATE,DELETED,COUNTRY,PIERS_NAME,PIERS_PORT_CODE,IS_US_PORT,PORT_DESC 
FROM 
(
	SELECT RANK() OVER(PARTITION BY PIERS_NAME,STATE ORDER BY ID) AS RANK,*
	FROM PES.DBO.REF_PORT  WITH (NOLOCK) 
)P
WHERE RANK=1
GO
