/****** Object:  View [dbo].[v_DQA_ASSIGN_SKIP_QC_EXCPTN_1]    Script Date: 01/03/2013 19:49:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_DQA_ASSIGN_SKIP_QC_EXCPTN_1]
AS
SELECT     C.T_NBR, D.VDate, D.DAILY_LOAD_DT, C.DIR, C.PROCESS_NAME, C.Load_Number 
FROM         dbo.CTRL_PROCESS_VOYAGE AS C WITH (NOLOCK) JOIN
                      dbo.DQA_BL AS D WITH (NOLOCK) ON D.T_NBR = C.T_NBR
WHERE     (C.COMPLETE_STATUS = 1) AND (ISNULL(D.IS_DELETED, 'N') = 'N') AND (ISNULL(D.LOCKED_BY_USR, '') = '')
AND ( C.SKIPPED = 1)
GO
