/****** Object:  View [dbo].[PES_REF_LIB_VESSEL_NAME]    Script Date: 01/03/2013 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PES_REF_LIB_VESSEL_NAME]
AS
--SELECT ID,STND_VESSEL FROM REF_VESSEL WHERE STND_VESSEL IN(SELECT STND_VESSEL FROM REF_VESSEL WHERE IS_TMP='N' AND DELETED='N' GROUP BY STND_VESSEL HAVING COUNT(STND_VESSEL)=1) AND IS_TMP='N' AND DELETED='N'
SELECT  ID, CAST(REPLACE(LTRIM(RTRIM(STND_VESSEL)),' ','') AS VARCHAR(35)) LKP_STND_VESSEL,
STND_VESSEL FROM dbo.REF_VESSEL WITH (NOLOCK)  WHERE    DELETED = 'N'
UNION ALL
SELECT B.ID,CAST(REPLACE(LTRIM(RTRIM(A.NAME_KEY)),' ','') AS VARCHAR(35)) LKP_STND_VESSEL ,
A.NAME_KEY STND_VESSEL
FROM LIB_VESSEL A JOIN REF_VESSEL B
ON A.REF_NAME=B.STND_VESSEL WHERE B.DELETED='N'
GO
