/****** Object:  View [dbo].[vREF_WEIGHT_UNIT]    Script Date: 01/03/2013 19:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vREF_WEIGHT_UNIT] AS
SELECT * FROM dbo.REF_WEIGHT_UNIT
GO
