/****** Object:  View [dbo].[ti_ref_carrier_V]    Script Date: 01/03/2013 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ti_ref_carrier_V]
AS
SELECT ID,TYPE,CODE,NAME,ACTIVE,IS_NVO,DELETED,IS_TMP,MODIFIED_DT,MODIFIED_BY,CARRIER_DESC
FROM 
(
	SELECT RANK() OVER(PARTITION BY CODE ORDER BY ID) AS RANK,*
	FROM PES.DBO.REF_CARRIER  WITH (NOLOCK) 
)P
WHERE RANK=1
GO
