/****** Object:  View [dbo].[TI_VIEW_RAW_DATA_JOINED_MASTER]    Script Date: 01/03/2013 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TI_VIEW_RAW_DATA_JOINED_MASTER]
AS
SELECT DISTINCT
T_NBR,
BL_NBR,
UNIQUE_BL_NBR,
X_SCAC,
X_SCAC_NAME,
VESSEL_CD,
VESSEL_NAME,
VESSEL_FLAG,
VOYAGE_NBR,
EST_ARR_DT,
ACT_ARR_DT,
PLACE_RECEIPT_CD,					-- We do not have this value in PES RAW
X_PLACE_RECEIPT_CD,					-- We do not have this value in PES RAW
(
	SELECT TRADE_REGION_CD
	FROM PES.DBO.V_REGION V  WITH (NOLOCK) 
	WHERE PIERS_COUNTRY = (SELECT TOP 1 ISNULL(COUNTRY,'')
	FROM PES.DBO.REF_PORT P  WITH (NOLOCK) 
	WHERE PIERS_NAME = T.PLACE_RECEIPT_NAME)
) AS PLACE_RECEIPT_REGION,
--PES.DBO.ufn_GetRegionCode(PLACE_RECEIPT_NAME) AS PLACE_RECEIPT_REGION,
PLACE_RECEIPT_NAME,
--FOREIGN_PORT,
COALESCE(
		(
			SELECT TOP 1 SOURCE 
			FROM PES.DBO.PES_PORT_CONVERSION P  WITH (NOLOCK) 
			WHERE TARGET = T.FOREIGN_PORT
		),FOREIGN_PORT) AS FOREIGN_PORT,
		
--X_FP_LADING_CD,
--DBO.PES_UDF_GET_OLD_PORT_CODE(X_FP_LADING_CD) as X_FP_LADING_CD,
COALESCE(
		(
			SELECT TOP 1 SOURCE 
			FROM PES.DBO.PES_PORT_CONVERSION P  WITH (NOLOCK) 
			WHERE TARGET = T.X_FP_LADING_CD
		),X_FP_LADING_CD) AS X_FP_LADING_CD,

(
	SELECT TRADE_REGION_CD
	FROM PES.DBO.V_REGION V  WITH (NOLOCK) 
	WHERE PIERS_COUNTRY = (SELECT TOP 1 ISNULL(COUNTRY,'')
	FROM PES.DBO.REF_PORT P  WITH (NOLOCK) 
	WHERE PIERS_NAME = T.FP_LADING_NAME)
)AS FP_LADING_REGION,
--PES.DBO.ufn_GetRegionCode(FP_LADING_NAME) as FP_LADING_REGION,
FP_LADING_NAME,
(
	SELECT LEFT(NAME,4)
	FROM PES.DBO.V_REGION V  WITH (NOLOCK) 
	WHERE PIERS_COUNTRY = (SELECT TOP 1 ISNULL(COUNTRY,'')
	FROM PES.DBO.REF_PORT P  WITH (NOLOCK) 
	WHERE PIERS_NAME = T.FP_LADING_NAME)
)AS FP_LADING_REGION_NAME,
--LEFT(PES.DBO.ufn_GetRegionName(FP_LADING_NAME),4) as FP_LADING_REGION_NAME,
--US_PORT,
COALESCE(
		(
			SELECT TOP 1 LEFT(SOURCE,4) 
			FROM PES.DBO.PES_PORT_CONVERSION P  WITH (NOLOCK) 
			WHERE TARGET = T.US_PORT
		),LEFT(US_PORT,4)
) AS US_PORT,

--X_PORT_UNLADING_CD,
COALESCE(
		(
			SELECT TOP 1 LEFT(SOURCE,4) 
			FROM PES.DBO.PES_PORT_CONVERSION P  WITH (NOLOCK) 
			WHERE TARGET = T.X_PORT_UNLADING_CD
		),LEFT(X_PORT_UNLADING_CD,4)
) AS X_PORT_UNLADING_CD,
(
	SELECT TRADE_REGION_CD
	FROM PES.DBO.V_REGION V  WITH (NOLOCK) 
	WHERE PIERS_COUNTRY = (SELECT TOP 1 ISNULL(COUNTRY,'')
	FROM PES.DBO.REF_PORT P  WITH (NOLOCK) 
	WHERE PIERS_NAME = T.PORT_UNLADING_NAME)
)AS PORT_UNLADING_REGION,
--PES.DBO.ufn_GetRegionCode(PORT_UNLADING_NAME) AS PORT_UNLADING_REGION,	
PORT_UNLADING_NAME,
--CLEARING_PORT_CD,
COALESCE(
		(
			SELECT TOP 1 LEFT(SOURCE,4) 
			FROM PES.DBO.PES_PORT_CONVERSION P  WITH (NOLOCK) 
			WHERE TARGET = T.CLEARING_PORT_CD
		),LEFT(CLEARING_PORT_CD,4)
) AS CLEARING_PORT_CD,
--X_CLEARING_PORT_CD,
COALESCE(
		(
			SELECT TOP 1 LEFT(SOURCE,4) 
			FROM PES.DBO.PES_PORT_CONVERSION P  WITH (NOLOCK) 
			WHERE TARGET = T.X_CLEARING_PORT_CD
		),LEFT(X_CLEARING_PORT_CD,4)
		) AS X_CLEARING_PORT_CD,
(
	SELECT TRADE_REGION_CD
	FROM PES.DBO.V_REGION V  WITH (NOLOCK) 
	WHERE PIERS_COUNTRY = (SELECT TOP 1 ISNULL(COUNTRY,'')
	FROM PES.DBO.REF_PORT P  WITH (NOLOCK) 
	WHERE PIERS_NAME = T.US_CLEARING_NAME)
)AS US_CLEARING_REGION,
--PES.DBO.ufn_GetRegionCode(US_CLEARING_NAME) AS US_CLEARING_REGION,

US_CLEARING_NAME,
--FP_DEST_CD,
COALESCE(
		(
			SELECT TOP 1 SOURCE 
			FROM PES.DBO.PES_PORT_CONVERSION P  WITH (NOLOCK) 
			WHERE TARGET = T.FP_DEST_CD
		),FP_DEST_CD) AS FP_DEST_CD,

--X_FP_DEST_CD,
COALESCE(
		(
			SELECT TOP 1 SOURCE 
			FROM PES.DBO.PES_PORT_CONVERSION P  WITH (NOLOCK) 
			WHERE TARGET = T.X_FP_DEST_CD
		),X_FP_DEST_CD) AS X_FP_DEST_CD,

FP_DEST_CNTRY,
FP_DEST_NAME,
MANIFEST_QTY,
X_MANIFEST_UNIT,

--WGT,
--STD_WGT,

-- Changes by Cogniznat on 26-March-2010, start 
CASE ISNULL(WGT,0) WHEN 0 THEN CMD_WGT ELSE WGT END AS WGT,
CASE ISNULL(STD_WGT,0) WHEN 0 THEN CMD_STD_WGT ELSE STD_WGT END AS STD_WGT,
-- Changes by Cogniznat on 26-March-2010, end

INTERP_STD_WGT_FLG,
X_WGT_UNIT,
MEAS,
X_MEAS_UNIT,
INBOND_ENTRY_TYPE,
MANIFEST_NBR,
TEU_CNT,	-- We do not have this value in PES RAW
TEU_SRC,	-- We do not have this value in PES RAW
LCL_FLG,	-- We do not have this value in PES RAW
CNTRIZED_SHPMT_FLG,	-- We do not have this value in PES RAW
X_TRANS_MODE_CD,
TRANS_MODE_CD_DESCRIPTION,
NULL AS FRAME_NBR,		-- We do not have this value in PES RAW
LOAD_NBR,
LOAD_SEQ_NBR, 	-- We do not have this value in PES RAW
LOAD_TYPE,			-- We do not have this value in PES RAW. We do not populate LOAD_TYPE in HEP_LOG
LAST_UPDATE_DT,  -- We do not have this value in PES RAW
DB_LOAD_NBR,		-- We do not have this value in PES RAW
PES.DBO.pes_udf_GetHazmatClass(T_NBR) AS HZRD_CLASS,			-- Need to create a UDF for this, based on hazmat_class() UDF in Batch
SCAC,
CONS_STATE,
NOT_STATE,
ANOT_STATE,
DIR,
BATCH_ID,
ORIG_BL_NBR,
VISIBILITY		
FROM PES.DBO.TI_VIEW_RAW_DATA_JOINED_DETAIL T  WITH (NOLOCK)
GO
