/****** Object:  View [dbo].[vwMES_MMS_RAW_BOL]    Script Date: 01/03/2013 19:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/
CREATE VIEW [dbo].[vwMES_MMS_RAW_BOL] AS	
SELECT DISTINCT [RECORD_ID]
      ,BOL_NUMBER
      ,[LOAD_NUMBER]
      ,MIN(BOL_ID) OVER (PARTITION BY  [RECORD_ID]
									  ,[CARRIER_CODE]
									  ,[VESSEL_COUNTRY]
									  ,[VESSEL_NAME]
									  ,[VOYAGE_NUMBER]
									  ,[DISCHARGE_PORT]
									  ,[SAILING_DATE]
									  ,[BOL_NUMBER]
									  ,[FOREIGN_LOADING_PORT]
									  ,[MFEST_QUANTITY]
									  ,[MFEST_UNITS]
									  ,[WEIGHT]
									  ,[WEIGHT_UNITS]
									  ,[MEAS]
									  ,[MEAS_UNITS]
									  ,[DELETE_IND]
									  ,[PLACE_OF_RECEIPT]
									  ,[VESSEL_CODE]
									  ,[INBOUND_ENTRY_TYPE]
									  ,[MODE_TRANSPORT]
									  ,[MANIFEST_NUMBER]
									  ,[IN_TRANSIT]
									  ,[NVOSCAC_CODE]
									  ,[MASTER_BOL_DATA]
									  ,[US_DIST_PORT]
									  ,[FOREIGN_PORT]
									  ,[DESTINATION_COUNTRY]
									  ,[US_RECEIPT_STATE]
									  ,[IMPEXP]
									  ,[REGISTRY]
									  ,[PORT_OF_DEPARTURE]
									  ,[PORT_OF_DESTINATION]
									  ,[SCHEDBNUM]
									  ,[ORDERNUMBER]
									  ,[SCAC]
									  ,[BATCH_ID]
									  ,[ORIGINCITY]
									  ,[ORIGINSTATE]
									  ,[ORIGINCOUNTRY]
									  ,[FINANCEFIELD]
									  ,[PAYABLEFIELD]
									  ,[PORT_OF_RECEIPT]
									  ,[REEFERNUM]
									  ,[POUNDS]
									  ,[MTONS]
									  ,[VDATE]
									  ,[ORGDESCITYST]
									  ,[ORGCITYST]
									  ,[DESTINATION_CITY]
									  ,[POLARRIVALDATE]
									  ,[POLDEPTDATE]
									  ,[PODARRIVALDATE]
									  ,[FND]
									  ,[SVVD]
									  ,[BOOKINGNUM]
									  ,[HARAZDOUSFLG]
									  ,[TEMPERATURE]
									  ,[RPOSTATE]
									  ,[RPDSTATE]
									  ,[VOYAGESCSC]
									  ,[RECEIPTCOUNTRYCODE]
									  ,[BOOKINGCOUNTRYCODE]
									  ,[IMAGEPATH_0]
									  ,[PODENAME]
									  ,[EXT1]
									  ,[EXT2]
									  ,[EXT3]
									  ,[CARRIERTEUS]
									  ,[ROROFLG]
									  ,[VIA]
									  ,[VENDOR_CODE]
									  ,[LOAD_NUMBER]
									  ,[INVALIDBILLTYPE]
									  ,[INVALIDBILLFLAG]
									  ,[BANK]) MINBOLID
      ,[BOL_ID]
  FROM [PES].[dbo].[RAW_BOL]
  WHERE [VENDOR_CODE] IN ('MES', 'MMS')
GO
