/****** Object:  View [dbo].[PES_REF_VESSEL_NAME_NON_DUPLICATE]    Script Date: 01/03/2013 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PES_REF_VESSEL_NAME_NON_DUPLICATE]
AS
--SELECT ID,STND_VESSEL FROM REF_VESSEL WHERE STND_VESSEL IN(SELECT STND_VESSEL FROM REF_VESSEL WHERE IS_TMP='N' AND DELETED='N' GROUP BY STND_VESSEL HAVING COUNT(STND_VESSEL)=1) AND IS_TMP='N' AND DELETED='N'
SELECT     ID, CAST(REPLACE(LTRIM(RTRIM(STND_VESSEL)),' ','') AS VARCHAR(35)) LKP_STND_VESSEL,STND_VESSEL
FROM         dbo.REF_VESSEL
WHERE     (STND_VESSEL IN
(SELECT     STND_VESSEL
    FROM          dbo.REF_VESSEL
    WHERE      (DELETED = 'N')
    GROUP BY STND_VESSEL
    HAVING      (COUNT(STND_VESSEL) = 1 AND STND_VESSEL IS NOT NULL)
)
) 
AND (DELETED = 'N')
GO
