/****** Object:  View [dbo].[ti_region_V]    Script Date: 01/03/2013 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Created By: Cognizant, 21-Jan-2010
Purpose: This View fetches Trade Region information corresponding to the country
*/
CREATE VIEW [dbo].[ti_region_V] 
AS
SELECT DISTINCT
 T.NAME,
 T.TRADE_REGION_CD,
 CT.COUNTRY_CD,
 C.COUNTRY,
 C.PIERS_COUNTRY
-- P.PIERS_NAME,
-- P.COUNTRY AS PORT_COUNTRY
FROM REF_TRADE_REGION T  WITH (NOLOCK) 
JOIN REF_COUNTRY_TRADE_REGION CT  WITH (NOLOCK) 
 ON T.TRADE_REGION_CD=CT.TRADE_REGION_CD
JOIN REF_COUNTRY C  WITH (NOLOCK) 
 ON (C.[ISO ALPHA-2 CODE]=CT.COUNTRY_CD AND IS_MASTER='Y')
--LEFT JOIN REF_PORT P  WITH (NOLOCK) 
-- ON C.PIERS_COUNTRY = COALESCE(P.COUNTRY,'')
GO
