/****** Object:  View [dbo].[TI_VIEW_DQA_VOYAGE]    Script Date: 01/03/2013 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TI_VIEW_DQA_VOYAGE]
AS

SELECT VOYAGE_ID,SCAC,VESSEL_CD,VOYAGE_NBR,PORT_UNLADING_CD,EST_ARRIVAL_DT,ACT_ARRIVAL_DT,ACT_ARRIVAL_DT_MOD,MANIFEST_NBR,
ACT_MANIFEST_NBR,ACT_MANIFEST_NBR_MOD,EARLIEST_TAPE_DT,PRIORITY_CD,REL_PPMM_FLG,VOYAGE_STATUS,REMARKS,REMARKS_MOD,
PENDING_CNT,CLEANSED_CNT,SKIPPED_CNT,PPMM_CNT,TOTAL_CNT,LATE_BILLS_FLG,CREATED_BY,CREATED_DT,MODIFIED_BY,MODIFIED_DT,
VESSEL_NAME,VESSEL_ID,CARRIER_ID,USPORT_ID,DIR,BATCH_ID,PORT_UNLADING_CD_MOD,VESSEL_NAME_MOD,VOYAGE_NBR_MOD,DELETED_CNT,
GLOBAL_UPDATE,US_PORTNAME
FROM 
(
	SELECT RANK() OVER(PARTITION BY VOYAGE_NBR ORDER BY VOYAGE_ID) AS RANK,*
	FROM SCREEN_TEST.DBO.DQA_VOYAGE  WITH (NOLOCK) 
)P
WHERE RANK=1
GO
