/****** Object:  View [dbo].[AMSCDLOAD_DQA_BLBL_VIEW]    Script Date: 01/03/2013 19:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AMSCDLOAD_DQA_BLBL_VIEW]
AS
	SELECT 
		B.BOL_ID,
		0 AS DQA_VOYAGE_ID,  --We do not have this value in PES RAW
		B.CARRIER_CODE,
		ISNULL(SUBSTRING(LTRIM(RTRIM(VESS.IMO_CODE)),1,7),' ') VESSEL_CODE,
		LEFT(B.VESSEL_NAME,25) AS VESSEL_NAME,
		ISNULL(B.VOYAGE_NUMBER,' ') VOYAGE_NUMBER,
		ISNULL(B.DISCHARGE_PORT,' ') DISCHARGE_PORT,
		--CONVERT(varchar,B.SAILING_DATE,12) AS ESTARRDT,
		SUBSTRING(B.SAILING_DATE,5,4)+'/'+SUBSTRING(B.SAILING_DATE,1,2)+'/'+SUBSTRING(B.SAILING_DATE,3,2) AS ESTARRDT,
		B.BOL_NUMBER,
		ISNULL(B.FOREIGN_LOADING_PORT,' ') FOREIGN_LOADING_PORT,
		ISNULL(B.MFEST_QUANTITY,0) MFEST_QUANTITY,
		ISNULL(B.MFEST_UNITS,' ') MFEST_UNITS,
		ISNULL(B.WEIGHT,0) WEIGHT,
		ISNULL(B.WEIGHT_UNITS,' ') WEIGHT_UNITS,
		B.MEAS,
		ISNULL(B.MEAS_UNITS,' ') MEAS_UNITS,
		--ISNULL(PORT.PORT_CODE,'') AS PLACE_RECEIPT_CD,
		(SELECT TOP 1 ISNULL(PORT_CODE,'') PORT_CODE 
				FROM AMSCDLOAD_PES_PORT_VIEW PORT
				WHERE PORT.PORT_NAME=LTRIM(RTRIM(B.PLACE_OF_RECEIPT)) 
					AND B.PLACE_OF_RECEIPT IS NOT NULL) AS PLACE_RECEIPT_CD,
		ISNULL(LTRIM(RTRIM(B.US_DIST_PORT)),' ')  AS CLEARING_PORT_CD,
		ISNULL(B.INBOUND_ENTRY_TYPE,' ') INBOUND_ENTRY_TYPE,
		ISNULL(LTRIM(RTRIM(FOREIGN_PORT)),' ') AS FP_DEST_CD,
		ISNULL(B.MODE_TRANSPORT,' ') MODE_TRANSPORT,
		ISNULL(B.MANIFEST_NUMBER,' ')  MANIFEST_NUMBER            
       FROM 
			ARCHIVE_RAW_BOL B  WITH (NOLOCK) 
			LEFT JOIN 
			REF_VESSEL VESS  WITH (NOLOCK) 
			ON LTRIM(RTRIM(VESS.VESSEL_COUNTRY)) = LTRIM(RTRIM(B.VESSEL_COUNTRY))
			AND LTRIM(RTRIM(VESS.NAME)) = LTRIM(RTRIM(B.VESSEL_NAME))
GO
