/****** Object:  View [dbo].[PES_REF_LIB_VESSEL_NAME_COUNTRY]    Script Date: 01/03/2013 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PES_REF_LIB_VESSEL_NAME_COUNTRY]
AS SELECT ID,CAST(REPLACE(LTRIM(RTRIM(STND_VESSEL)),' ','') 
AS VARCHAR(35)) LKP_STND_VESSEL_NAME,
CAST(REPLACE(LTRIM(RTRIM(ISNULL(VESSEL_COUNTRY,''))),' ','') 
AS VARCHAR(35)) LKP_STND_VESSEL_COUNTRY,STND_VESSEL FROM REF_VESSEL  WITH (NOLOCK) 
WHERE DELETED='N'
UNION ALL
SELECT B.ID,CAST(REPLACE(LTRIM(RTRIM(A.NAME_KEY)),' ','') AS VARCHAR(35)) LKP_STND_VESSEL_NAME,
CAST(REPLACE(LTRIM(RTRIM(ISNULL(B.VESSEL_COUNTRY,''))),' ','') 
AS VARCHAR(35)) LKP_STND_VESSEL_COUNTRY,A.NAME_KEY STND_VESSEL  
FROM LIB_VESSEL A  WITH (NOLOCK)  JOIN REF_VESSEL B  WITH (NOLOCK)  ON
A.REF_NAME=B.STND_VESSEL WHERE  B.DELETED='N'
GO
