/****** Object:  View [dbo].[PES_LIB_FOREIGN_PORT_FUZZY]    Script Date: 01/03/2013 19:44:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PES_LIB_FOREIGN_PORT_FUZZY] AS
SELECT A.REF_ID,CAST(REPLACE(RTRIM(LTRIM(A.NAME_KEY)),' ','') AS VARCHAR(35)) AS NAME_KEY FROM LIB_PORT A  WITH (NOLOCK) ,
REF_PORT B  WITH (NOLOCK) 
WHERE A.NAME_KEY IN(SELECT C.NAME_KEY FROM LIB_PORT C  WITH (NOLOCK)  JOIN REF_PORT D  WITH (NOLOCK)  ON C.REF_ID=D.ID WHERE C.IS_US_PORT=0 
AND D.IS_US_PORT=0 AND D.DELETED='N' GROUP BY C.NAME_KEY HAVING COUNT(*)=1) AND 
A.IS_US_PORT=0 AND 
A.REF_ID=B.ID AND 
B.DELETED='N' AND 
B.IS_TMP='N' AND 
B.IS_US_PORT=0
GO
