/****** Object:  UserDefinedFunction [dbo].[pes_udf_getBankName_BKUP]    Script Date: 01/03/2013 19:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Cognizant
-- Create date: 20-March-2009
-- Description:	Get Bank Name
-- =============================================
CREATE FUNCTION [dbo].[pes_udf_getBankName_BKUP]
(
	@SHIPPER_NAME	varchar(500),
	@CONSIGNEE_NAME	varchar(500),
	@NOTIFY_NAME	varchar(500)

)
RETURNS varchar(37)
AS
BEGIN
	DECLARE @BANK_NAME varchar(37)
	SELECT @BANK_NAME=NULL


	IF @CONSIGNEE_NAME='ORDER'
	BEGIN
		IF @NOTIFY_NAME='ORDER'
		BEGIN
			IF @SHIPPER_NAME != 'ORDER'				
			BEGIN
				SELECT @BANK_NAME=BANK_NAME FROM PES_BANK_NAME WITH (NOLOCK) 
				WHERE DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(BANK_NAME_KEY)=DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(@SHIPPER_NAME)
				IF @BANK_NAME IS NULL 
				BEGIN
					IF @SHIPPER_NAME LIKE '%BANK%' 
						SET @BANK_NAME=@SHIPPER_NAME
			END
			END
		END
		ELSE
		BEGIN
			SELECT @BANK_NAME=BANK_NAME FROM PES_BANK_NAME WITH (NOLOCK) WHERE DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(BANK_NAME_KEY)=DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(@NOTIFY_NAME)
			IF @BANK_NAME IS NULL 
			BEGIN
				IF @NOTIFY_NAME LIKE '%BANK%' 
					SET @BANK_NAME=@NOTIFY_NAME
			END
		END
	END
	ELSE
	BEGIN
			SELECT @BANK_NAME=BANK_NAME FROM PES_BANK_NAME WITH (NOLOCK) WHERE DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(BANK_NAME_KEY)=DBO.PES_UDF_REMOVE_SPECIAL_CHARACTERS(@CONSIGNEE_NAME)
			IF @BANK_NAME IS NULL 
			BEGIN
				IF @CONSIGNEE_NAME LIKE '%BANK%' 
					SET @BANK_NAME=@CONSIGNEE_NAME
			END
	END
	IF @BANK_NAME IS NULL
		SET @BANK_NAME=''
	RETURN @BANK_NAME
END
GO
