/****** Object:  UserDefinedFunction [dbo].[MASTDATE]    Script Date: 01/03/2013 19:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Returns date as 28th of the next month*/

CREATE FUNCTION [dbo].[MASTDATE] (@VOYG_ID INT)
RETURNS DATETIME
AS

BEGIN
DECLARE
@ARRIVEDATE DATETIME
BEGIN

/* Get records with 28th day with joinon voyage_id and stnd_voyg_id*/

SELECT top 1 @ARRIVEDATE = DATEADD(DD,DATEDIFF(D,0,DATEADD(s,-1,DATEADD(mm, DATEDIFF(m,0,B.ACT_ARRIVAL_DT)+1,0))+28),0)
FROM SCREEN_TEST.dbo.DQA_VOYAGE B WHERE B.VOYAGE_ID = @VOYG_ID 
IF @ARRIVEDATE is NULL
SET @ARRIVEDATE = GETDATE()+1
END
RETURN(@ARRIVEDATE)
END
GO
