/****** Object:  UserDefinedFunction [dbo].[PES_UDF_NVOCC_FLAG]    Script Date: 01/03/2013 19:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[PES_UDF_NVOCC_FLAG] 
(  
@BOL_ID INT,@COMP_ID INT,@NTFCOMP_ID INT,@FCOMP_ID INT,@BOL_DIRECTION CHAR(1)
)
RETURNS VARCHAR(1)
AS
BEGIN
	DECLARE @NVOCC_FLAG VARCHAR(1),@COUNT INT
	SET @COUNT=0
	IF @BOL_DIRECTION='I'
	BEGIN
		
		SELECT @COUNT=COUNT(COMP_ID) FROM REF_NVOCC_FRWDR WITH (NOLOCK)
		 WHERE NVOCC_FLAG='Y'
		AND COMP_ID IN
		(SELECT @COMP_ID
		 UNION ALL 
		 SELECT A.COMP_ID FROM PES_LIB_COMPANY A WITH (NOLOCK) JOIN PES_REF_COMPANY B WITH (NOLOCK)
		 ON A.CLUSTER_ID=B.COMP_ID 
		 WHERE B.COMP_ID=@COMP_ID	
		) 
		IF @COUNT>0
			SET @NVOCC_FLAG='C'
		ELSE
		BEGIN
			SELECT @COUNT=COUNT(COMP_ID) FROM REF_NVOCC_FRWDR WHERE NVOCC_FLAG='Y'
			AND COMP_ID IN
			(SELECT @NTFCOMP_ID
			 UNION ALL 
			  SELECT A.COMP_ID FROM PES_LIB_COMPANY A WITH (NOLOCK) JOIN PES_REF_COMPANY B WITH (NOLOCK)
			  ON A.CLUSTER_ID=B.COMP_ID
			 WHERE  B.COMP_ID=@NTFCOMP_ID	
		    )
			
			IF @COUNT>0
				SET @NVOCC_FLAG='N'
			ELSE
			BEGIN	
				SELECT @COUNT=COUNT(COMP_ID) FROM REF_NVOCC_FRWDR WITH (NOLOCK)
				 WHERE FREIGHT_FWD_FLAG='Y'
				AND COMP_ID IN
				(SELECT @COMP_ID
				 UNION ALL 
				 SELECT A.COMP_ID FROM PES_LIB_COMPANY A WITH (NOLOCK) JOIN PES_REF_COMPANY B WITH (NOLOCK)
			     ON A.CLUSTER_ID=B.COMP_ID WHERE B.COMP_ID=@COMP_ID	
				) 
				IF @COUNT>0
					SET @NVOCC_FLAG='F'
				ELSE
				BEGIN
					SELECT @COUNT=COUNT(COMP_ID) FROM REF_NVOCC_FRWDR WITH (NOLOCK)
					WHERE FREIGHT_FWD_FLAG='Y'
					AND COMP_ID IN
					(SELECT @NTFCOMP_ID
					 UNION ALL 
				     SELECT A.COMP_ID FROM PES_LIB_COMPANY A WITH (NOLOCK) JOIN PES_REF_COMPANY B WITH (NOLOCK)
			         ON A.CLUSTER_ID=B.COMP_ID WHERE B.COMP_ID=@NTFCOMP_ID
				    ) 
					IF @COUNT>0
						SET @NVOCC_FLAG='F'
					ELSE
						SET @NVOCC_FLAG=''
				END
			END
		END
	END
	ELSE
	BEGIN
			
		SELECT @COUNT=COUNT(COMP_ID) FROM REF_NVOCC_FRWDR WITH (NOLOCK) WHERE NVOCC_FLAG='Y'
		AND COMP_ID IN
		(SELECT @FCOMP_ID
		 UNION ALL 
		 SELECT A.COMP_ID FROM PES_LIB_COMPANY A WITH (NOLOCK) JOIN PES_REF_COMPANY B WITH (NOLOCK)
		 ON A.CLUSTER_ID=B.COMP_ID WHERE B.COMP_ID=@FCOMP_ID		
		)
		
		IF @COUNT>0
			SET @NVOCC_FLAG='C'
		ELSE
		BEGIN
			SELECT @COUNT=COUNT(COMP_ID) FROM REF_NVOCC_FRWDR WITH (NOLOCK)
			WHERE FREIGHT_FWD_FLAG='Y'
			AND COMP_ID IN
			(SELECT @FCOMP_ID
			 UNION ALL 
			 SELECT A.COMP_ID FROM PES_LIB_COMPANY A WITH (NOLOCK) JOIN PES_REF_COMPANY B WITH (NOLOCK)
			 ON A.CLUSTER_ID=B.COMP_ID WHERE B.COMP_ID=@FCOMP_ID	
		    )
			IF @COUNT>0
				SET @NVOCC_FLAG='F'
			ELSE
				SET @NVOCC_FLAG=''
		END
	END
	RETURN @NVOCC_FLAG
END
GO
