/****** Object:  UserDefinedFunction [dbo].[ufn_GetRegionName]    Script Date: 01/03/2013 19:42:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ufn_GetRegionName]
(
	@PortName varchar(100)
)
RETURNS varchar(35)  
AS
BEGIN	
	DECLARE @TRADE_REGION_NAME VARCHAR(35)
	DECLARE @PIERS_COUNTRY varchar(50)

	SELECT @TRADE_REGION_NAME=''

	SELECT @PIERS_COUNTRY = (SELECT TOP 1 ISNULL(COUNTRY,'')
	FROM PES.DBO.REF_PORT WITH (NOLOCK)
	WHERE PIERS_NAME = @PortName)

	IF @PIERS_COUNTRY IS NULL SELECT @PIERS_COUNTRY=''
	
	SELECT @TRADE_REGION_NAME = NAME
	FROM PES.DBO.V_REGION WITH (NOLOCK)
	WHERE PIERS_COUNTRY = @PIERS_COUNTRY

	RETURN @TRADE_REGION_NAME
END
GO
