/****** Object:  UserDefinedFunction [dbo].[pes_udf_GetStgCommodityInfo]    Script Date: 01/03/2013 19:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[pes_udf_GetStgCommodityInfo]
(
	@BOL_ID int
)
RETURNS varchar(max)
AS
BEGIN
	DECLARE @STGCMDINFO VARCHAR(MAX)

	DECLARE @SEQUENCENO		INT,	
	@COMMODITYDESC	VARCHAR(MAX),
	@HARMCODE		VARCHAR(10),
	@JOCCODE		VARCHAR(10)
	
	SELECT @STGCMDINFO =''

	DECLARE CURSTGCMD CURSOR FOR
	SELECT CMD_SEQ_NBR,CMD_DESC,CMD_HSCODE,JOC_CODE
	FROM PES.DBO.PES_STG_CMD WITH (NOLOCK) 
	WHERE BOL_ID = @BOL_ID

	OPEN CURSTGCMD
	FETCH NEXT FROM CURSTGCMD INTO @SEQUENCENO,@COMMODITYDESC,@HARMCODE,@JOCCODE

	WHILE @@FETCH_STATUS=0
	BEGIN
		SELECT 	@STGCMDINFO = @STGCMDINFO +
		'DESCRIPTION: ' + ISNULL(@COMMODITYDESC,'')+ '?'+
		'HARM CODE: ' + ISNULL(@HARMCODE,'')+ '?'+
		'JOC CODE: ' + ISNULL(@JOCCODE,'')+ '?'

	FETCH NEXT FROM CURSTGCMD INTO @SEQUENCENO,@COMMODITYDESC,@HARMCODE,@JOCCODE
	END		

	CLOSE CURSTGCMD
	DEALLOCATE CURSTGCMD

	RETURN @STGCMDINFO
END
GO
